Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

feat/js-structure/quiz-app-challenge (#94)
  sessions/js-structure/quiz-app/.eslintrc.json
  sessions/js-structure/quiz-app/README.md
  sessions/js-structure/quiz-app/components/App/App.css
  sessions/js-structure/quiz-app/components/Bookmark/Bookmark.css
  sessions/js-structure/quiz-app/components/Card/Card.css
  sessions/js-structure/quiz-app/components/CardList/CardList.css
  sessions/js-structure/quiz-app/components/Form/Form.css
  sessions/js-structure/quiz-app/components/Header/Header.css
  sessions/js-structure/quiz-app/global.css
  sessions/js-structure/quiz-app/index.html
  sessions/js-structure/quiz-app/index.js
  sessions/js-structure/quiz-app/package.json
  sessions/js-structure/quiz-app/sandbox.config.json
  sessions/js-structure/quiz-app/styles.css
Due: npx eslint --fix, npx prettier --write

fix: remove readmes
  sessions/js-structure/demo-end/README.md
  sessions/js-structure/demo-start/README.md
Due: npx prettier --write

feat/js-structure-demo (#95)
  sessions/js-structure/demo-end/.eslintrc.json
  sessions/js-structure/demo-end/.prettierrc.json
  sessions/js-structure/demo-end/.stylelintrc.json
  sessions/js-structure/demo-end/components/Card/Card.css
  sessions/js-structure/demo-end/components/Card/Card.js
  sessions/js-structure/demo-end/components/Header/Header.css
  sessions/js-structure/demo-end/components/Header/Header.js
  sessions/js-structure/demo-end/index.html
  sessions/js-structure/demo-end/index.js
  sessions/js-structure/demo-end/package.json
  sessions/js-structure/demo-end/sandbox.config.json
  sessions/js-structure/demo-end/styles.css
  sessions/js-structure/demo-end/styles/globals.css
  sessions/js-structure/demo-end/utils/authors.js
  sessions/js-structure/demo-end/utils/cipher.js
  sessions/js-structure/demo-start/.eslintrc.json
  sessions/js-structure/demo-start/.prettierrc.json
  sessions/js-structure/demo-start/.stylelintrc.json
  sessions/js-structure/demo-start/components/Card/Card.css
  sessions/js-structure/demo-start/components/Header/Header.css
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/index.js
  sessions/js-structure/demo-start/package.json
  sessions/js-structure/demo-start/sandbox.config.json
  sessions/js-structure/demo-start/styles.css
  sessions/js-structure/demo-start/styles/globals.css
Due: npx eslint --fix, npx prettier --write

feat(array-methods-2-demo): delete unused variables
  sessions/js-array-methods-2/demo-end/css/styles.css
  sessions/js-array-methods-2/demo-start/css/styles.css
Due: none

feat(array-methods-2): demo (#98)
  sessions/js-array-methods-2/demo-end/.eslintrc.json
  sessions/js-array-methods-2/demo-end/.prettierrc.json
  sessions/js-array-methods-2/demo-end/.stylelintrc.json
  sessions/js-array-methods-2/demo-end/css/styles.css
  sessions/js-array-methods-2/demo-end/index.html
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-end/js/utils.js
  sessions/js-array-methods-2/demo-end/package.json
  sessions/js-array-methods-2/demo-end/sandbox.config.json
  sessions/js-array-methods-2/demo-start/.eslintrc.json
  sessions/js-array-methods-2/demo-start/.prettierrc.json
  sessions/js-array-methods-2/demo-start/.stylelintrc.json
  sessions/js-array-methods-2/demo-start/css/styles.css
  sessions/js-array-methods-2/demo-start/index.html
  sessions/js-array-methods-2/demo-start/js/index.js
  sessions/js-array-methods-2/demo-start/js/utils.js
  sessions/js-array-methods-2/demo-start/package.json
  sessions/js-array-methods-2/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(array-methods-2): add test functions for news flash
  sessions/js-array-methods-2/news-flash/index.js
  sessions/js-array-methods-2/news-flash/utils/results.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods-2): news flash challenge (#100)
  sessions/js-array-methods-2/news-flash/.eslintrc.json
  sessions/js-array-methods-2/news-flash/.prettierrc.json
  sessions/js-array-methods-2/news-flash/.stylelintrc.json
  sessions/js-array-methods-2/news-flash/README.md
  sessions/js-array-methods-2/news-flash/components/Card/Card.css
  sessions/js-array-methods-2/news-flash/components/Card/Card.js
  sessions/js-array-methods-2/news-flash/css/globals.css
  sessions/js-array-methods-2/news-flash/index.html
  sessions/js-array-methods-2/news-flash/index.js
  sessions/js-array-methods-2/news-flash/package.json
  sessions/js-array-methods-2/news-flash/sandbox.config.json
  sessions/js-array-methods-2/news-flash/styles.css
  sessions/js-array-methods-2/news-flash/utils/news.js
  sessions/js-array-methods-2/news-flash/utils/results.js
Due: npx eslint --fix, npx prettier --write

fix(animal-objects-challenge): test for average weight
  sessions/js-array-methods-2/animal-objects/index.js
  sessions/js-array-methods-2/animal-objects/index.test.js
Due: npx eslint --fix, npx prettier --write

fix(animal-objects-challenge): backticks in readme
  sessions/js-array-methods-2/animal-objects/README.md
Due: npx prettier --write

fix(animal-strings-challenge): backticks in readme
  sessions/js-array-methods-2/animal-strings/README.md
Due: npx prettier --write

fix: duplicate workspace name
  sessions/js-structure/quiz-app/package.json
Due: npx prettier --write

feat(async-functions): add api status challenge
  sessions/js-async-functions/api-status/.eslintrc.json
  sessions/js-async-functions/api-status/.prettierrc.json
  sessions/js-async-functions/api-status/.stylelintrc.json
  sessions/js-async-functions/api-status/README.md
  sessions/js-async-functions/api-status/components/status/status.css
  sessions/js-async-functions/api-status/css/globals.css
  sessions/js-async-functions/api-status/index.html
  sessions/js-async-functions/api-status/js/index.js
  sessions/js-async-functions/api-status/package.json
  sessions/js-async-functions/api-status/sandbox.config.json
  sessions/js-async-functions/api-status/styles.css
Due: npx eslint --fix, npx prettier --write

feat(async-functions): delete solution of api status
  sessions/js-async-functions/api-status/js/index.js
Due: npx eslint --fix, npx prettier --write

fix(array-methods-2): typos in animal objects readme
  sessions/js-array-methods-2/animal-objects/README.md
Due: npx prettier --write

feat(array-methods-2): animal object challenge (#97)
  sessions/js-array-methods-2/animal-objects/.eslintrc.json
  sessions/js-array-methods-2/animal-objects/README.md
  sessions/js-array-methods-2/animal-objects/index.js
  sessions/js-array-methods-2/animal-objects/index.test.js
  sessions/js-array-methods-2/animal-objects/package.json
  sessions/js-array-methods-2/animal-objects/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: create async demo
  sessions/js-async-functions/blocking-demo/.eslintrc.json
  sessions/js-async-functions/blocking-demo/.prettierrc.json
  sessions/js-async-functions/blocking-demo/.stylelintrc.json
  sessions/js-async-functions/blocking-demo/css/styles.css
  sessions/js-async-functions/blocking-demo/index.html
  sessions/js-async-functions/blocking-demo/js/index.js
  sessions/js-async-functions/blocking-demo/package.json
  sessions/js-async-functions/blocking-demo/sandbox.config.json
  sessions/js-async-functions/demo-end/.eslintrc.json
  sessions/js-async-functions/demo-end/.prettierrc.json
  sessions/js-async-functions/demo-end/.stylelintrc.json
  sessions/js-async-functions/demo-end/css/styles.css
  sessions/js-async-functions/demo-end/index.html
  sessions/js-async-functions/demo-end/js/index.js
  sessions/js-async-functions/demo-end/package.json
  sessions/js-async-functions/demo-end/sandbox.config.json
  sessions/js-async-functions/demo-start/.eslintrc.json
  sessions/js-async-functions/demo-start/.prettierrc.json
  sessions/js-async-functions/demo-start/.stylelintrc.json
  sessions/js-async-functions/demo-start/css/styles.css
  sessions/js-async-functions/demo-start/index.html
  sessions/js-async-functions/demo-start/js/index.js
  sessions/js-async-functions/demo-start/package.json
  sessions/js-async-functions/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix: package name
  sessions/js-async-functions/demo-start/package.json
Due: npx prettier --write

feat: add relay race challenge
  sessions/js-async-functions/relay-race/.eslintrc.json
  sessions/js-async-functions/relay-race/.prettierrc.json
  sessions/js-async-functions/relay-race/.stylelintrc.json
  sessions/js-async-functions/relay-race/README.md
  sessions/js-async-functions/relay-race/css/styles.css
  sessions/js-async-functions/relay-race/index.html
  sessions/js-async-functions/relay-race/js/index.js
  sessions/js-async-functions/relay-race/package.json
  sessions/js-async-functions/relay-race/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-async-functions/api-status/js/index.js
  sessions/js-async-functions/api-status/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: formatting
  sessions/js-async-functions/api-status/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: add hint 3
  sessions/js-async-functions/api-status/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-async-functions/relay-race/README.md
  sessions/js-async-functions/relay-race/README.md
Due: npx prettier --write

fix: implement review
  sessions/js-async-functions/relay-race/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods-2): adjust animal strings challenge after review
  sessions/js-array-methods-2/animal-strings/README.md
  sessions/js-array-methods-2/animal-strings/index.js
Due: npx eslint --fix, npx prettier --write

JS Async Functions: API Status Challenge (#104)
  sessions/js-async-functions/api-status/.eslintrc.json
  sessions/js-async-functions/api-status/.prettierrc.json
  sessions/js-async-functions/api-status/.stylelintrc.json
  sessions/js-async-functions/api-status/README.md
  sessions/js-async-functions/api-status/components/status/status.css
  sessions/js-async-functions/api-status/css/globals.css
  sessions/js-async-functions/api-status/index.html
  sessions/js-async-functions/api-status/js/index.js
  sessions/js-async-functions/api-status/package.json
  sessions/js-async-functions/api-status/sandbox.config.json
  sessions/js-async-functions/api-status/styles.css
Due: npx eslint --fix, npx prettier --write

JS Async Functions: Relay Race Challenge (#106)
  sessions/js-async-functions/relay-race/.eslintrc.json
  sessions/js-async-functions/relay-race/.prettierrc.json
  sessions/js-async-functions/relay-race/.stylelintrc.json
  sessions/js-async-functions/relay-race/README.md
  sessions/js-async-functions/relay-race/css/styles.css
  sessions/js-async-functions/relay-race/index.html
  sessions/js-async-functions/relay-race/js/index.js
  sessions/js-async-functions/relay-race/package.json
  sessions/js-async-functions/relay-race/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(array-methods-2): animal string challenge (#96)
  sessions/js-array-methods-2/animal-strings/.eslintrc.json
  sessions/js-array-methods-2/animal-strings/README.md
  sessions/js-array-methods-2/animal-strings/index.js
  sessions/js-array-methods-2/animal-strings/index.test.js
  sessions/js-array-methods-2/animal-strings/package.json
  sessions/js-array-methods-2/animal-strings/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add slot machine
  sessions/js-async-functions/slot-machine/.eslintrc.json
  sessions/js-async-functions/slot-machine/.prettierrc.json
  sessions/js-async-functions/slot-machine/.stylelintrc.json
  sessions/js-async-functions/slot-machine/README.md
  sessions/js-async-functions/slot-machine/components/Machine/Machine.css
  sessions/js-async-functions/slot-machine/components/Machine/Machine.js
  sessions/js-async-functions/slot-machine/components/Result/Result.css
  sessions/js-async-functions/slot-machine/components/Result/Result.js
  sessions/js-async-functions/slot-machine/components/Score/Score.css
  sessions/js-async-functions/slot-machine/components/Score/Score.js
  sessions/js-async-functions/slot-machine/components/SpinButton/SpinButton.css
  sessions/js-async-functions/slot-machine/components/SpinButton/SpinButton.js
  sessions/js-async-functions/slot-machine/components/Status/Status.css
  sessions/js-async-functions/slot-machine/components/Status/Status.js
  sessions/js-async-functions/slot-machine/components/Wheel/Wheel.css
  sessions/js-async-functions/slot-machine/components/Wheel/Wheel.js
  sessions/js-async-functions/slot-machine/css/styles.css
  sessions/js-async-functions/slot-machine/index.html
  sessions/js-async-functions/slot-machine/index.js
  sessions/js-async-functions/slot-machine/package.json
  sessions/js-async-functions/slot-machine/sandbox.config.json
  sessions/js-async-functions/slot-machine/utils/shuffle.js
  sessions/js-async-functions/slot-machine/utils/symbols.js
Due: npx eslint --fix, npx prettier --write

fix: update readme
  sessions/js-async-functions/slot-machine/README.md
Due: npx prettier --write

chore: fix typo
  sessions/js-async-functions/slot-machine/index.js
Due: npx eslint --fix, npx prettier --write

fix: add all 3 wheels to comment
  sessions/js-async-functions/slot-machine/index.js
Due: npx eslint --fix, npx prettier --write

fix: wording
  sessions/js-async-functions/slot-machine/index.js
Due: npx eslint --fix, npx prettier --write

fix: update package json
  sessions/js-async-functions/slot-machine/package.json
Due: npx prettier --write

fix: add more comments
  sessions/js-async-functions/slot-machine/index.js
Due: npx eslint --fix, npx prettier --write

fix: point order
  sessions/js-async-functions/slot-machine/index.js
Due: npx eslint --fix, npx prettier --write

Chore/fix npm warnings (#103)
  package-lock.json
  sessions/css-basics/shapes/package.json
  sessions/css-flexbox/navigation/package.json
  sessions/css-flexbox/profile/package.json
  sessions/js-functions-2/basic-calculations/.gitignore
  sessions/js-functions-2/basic-calculations/.prettierrc.json
  sessions/js-functions-2/basic-calculations/README.md
  sessions/js-functions-2/basic-calculations/index.js
  sessions/js-functions-2/basic-calculations/package.json
  sessions/js-functions-2/basic-calculations/public/favicon.ico
  sessions/js-functions-2/basic-calculations/public/index.html
  sessions/js-functions-2/basic-calculations/public/manifest.json
  sessions/js-functions-2/basic-calculations/src/.eslintrc.json
  sessions/js-functions-2/basic-calculations/src/createServiceWorker.js
  sessions/js-functions-2/basic-calculations/src/package.json
  sessions/js-loops/demo-end/.gitignore
  sessions/js-loops/demo-end/.prettierrc.json
  sessions/js-loops/demo-end/README.md
  sessions/js-loops/demo-end/index.js
  sessions/js-loops/demo-end/package.json
  sessions/js-loops/demo-end/public/favicon.ico
  sessions/js-loops/demo-end/public/index.html
  sessions/js-loops/demo-end/public/manifest.json
  sessions/js-loops/demo-end/src/package.json
  sessions/js-loops/demo-start/.gitignore
  sessions/js-loops/demo-start/.prettierrc.json
  sessions/js-loops/demo-start/README.md
  sessions/js-loops/demo-start/index.js
  sessions/js-loops/demo-start/package.json
  sessions/js-loops/demo-start/public/favicon.ico
  sessions/js-loops/demo-start/public/index.html
  sessions/js-loops/demo-start/public/manifest.json
  sessions/js-loops/demo-start/src/package.json
Due: npx eslint --fix, npx prettier --write
