Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

feat(js-callback-functions): add exercises
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/css/styles.css
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/index.html
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/js/index.js
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/package.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/sandbox.config.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/css/styles.css
  sessions/js-callback-functions/user-login-callback-2-with-argument/index.html
  sessions/js-callback-functions/user-login-callback-2-with-argument/js/index.js
  sessions/js-callback-functions/user-login-callback-2-with-argument/package.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/sandbox.config.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/css/styles.css
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/index.html
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/js/index.js
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/package.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/sandbox.config.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/css/styles.css
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/index.html
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/js/index.js
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/package.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-forms): add demo
  sessions/js-forms/demo-end/.eslintrc.json
  sessions/js-forms/demo-end/.prettierrc.json
  sessions/js-forms/demo-end/.stylelintrc.json
  sessions/js-forms/demo-end/css/styles.css
  sessions/js-forms/demo-end/index.html
  sessions/js-forms/demo-end/js/index.js
  sessions/js-forms/demo-end/package.json
  sessions/js-forms/demo-end/sandbox.config.json
  sessions/js-forms/demo-start/.eslintrc.json
  sessions/js-forms/demo-start/.prettierrc.json
  sessions/js-forms/demo-start/.stylelintrc.json
  sessions/js-forms/demo-start/css/styles.css
  sessions/js-forms/demo-start/index.html
  sessions/js-forms/demo-start/js/index.js
  sessions/js-forms/demo-start/package.json
  sessions/js-forms/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-forms/form-submit/index.html
  sessions/js-forms/form-submit/index.html
Due: none

Update sessions/js-forms/form-submit/js/index.js
  sessions/js-forms/form-submit/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-forms): add form submit exercise (#36)
  sessions/js-forms/form-submit/.eslintrc.json
  sessions/js-forms/form-submit/.prettierrc.json
  sessions/js-forms/form-submit/.stylelintrc.json
  sessions/js-forms/form-submit/css/styles.css
  sessions/js-forms/form-submit/index.html
  sessions/js-forms/form-submit/js/index.js
  sessions/js-forms/form-submit/package.json
  sessions/js-forms/form-submit/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-forms/demo-start/css/styles.css
  sessions/js-forms/demo-start/css/styles.css
Due: none

Update sessions/js-callback-functions/user-login-callback-2-with-argument/js/index.js
  sessions/js-callback-functions/user-login-callback-2-with-argument/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/js/index.js
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/js/index.js
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-callback-functions): add exercises (#56)
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/css/styles.css
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/index.html
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/js/index.js
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/package.json
  sessions/js-callback-functions/user-login-callback-1-named-vs-anonymous/sandbox.config.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/css/styles.css
  sessions/js-callback-functions/user-login-callback-2-with-argument/index.html
  sessions/js-callback-functions/user-login-callback-2-with-argument/js/index.js
  sessions/js-callback-functions/user-login-callback-2-with-argument/package.json
  sessions/js-callback-functions/user-login-callback-2-with-argument/sandbox.config.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/css/styles.css
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/index.html
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/js/index.js
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/package.json
  sessions/js-callback-functions/user-login-callback-3-with-multiple-arguments/sandbox.config.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/.eslintrc.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/.prettierrc.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/.stylelintrc.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/css/styles.css
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/index.html
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/js/index.js
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/package.json
  sessions/js-callback-functions/user-login-callback-4-with-multiple-functions/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add alternative version of lifting up state challenge
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.eslintrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.prettierrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.stylelintrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/public/index.html
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/App.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/Form.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/index.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-callback-function): add demo
  sessions/js-callback-functions/demo-end/.eslintrc.json
  sessions/js-callback-functions/demo-end/.prettierrc.json
  sessions/js-callback-functions/demo-end/.stylelintrc.json
  sessions/js-callback-functions/demo-end/css/styles.css
  sessions/js-callback-functions/demo-end/index.html
  sessions/js-callback-functions/demo-end/js/index.js
  sessions/js-callback-functions/demo-end/package.json
  sessions/js-callback-functions/demo-end/sandbox.config.json
  sessions/js-callback-functions/demo-start/.eslintrc.json
  sessions/js-callback-functions/demo-start/.prettierrc.json
  sessions/js-callback-functions/demo-start/.stylelintrc.json
  sessions/js-callback-functions/demo-start/css/styles.css
  sessions/js-callback-functions/demo-start/index.html
  sessions/js-callback-functions/demo-start/js/index.js
  sessions/js-callback-functions/demo-start/package.json
  sessions/js-callback-functions/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

refactored es-next session and added a check function instead of simple console logs to control the solutions of the students
  sessions/js-es-next/destructuring-arrays/helper.js
  sessions/js-es-next/destructuring-arrays/index.js
Due: npx eslint --fix, npx prettier --write

refactored es-next session and added a check function instead of simple console logs to control the solutions of the students
  sessions/js-es-next/async-await-ghibli/js/index.js
  sessions/js-es-next/destructuring-objects/helper.js
  sessions/js-es-next/destructuring-objects/index.js
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/App.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/Form.js
Due: npx eslint --fix, npx prettier --write

feat/useState-advanced: add alternative version of lifting up state challenge (#58)
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.eslintrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.prettierrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.stylelintrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/public/index.html
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/App.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/Form.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/index.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat: import div-salad exercise
  sessions/html-and-the-web/div-salad/.eslintrc.json
  sessions/html-and-the-web/div-salad/.prettierrc.json
  sessions/html-and-the-web/div-salad/index.html
  sessions/html-and-the-web/div-salad/package.json
  sessions/html-and-the-web/div-salad/sandbox.config.json
Due: npx prettier --write

feat: import navigation and profile challenge
  sessions/css-flexbox/navigation/.eslintrc.json
  sessions/css-flexbox/navigation/.prettierrc.json
  sessions/css-flexbox/navigation/.stylelintrc.json
  sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/navigation/package.json
  sessions/css-flexbox/navigation/sandbox.config.json
  sessions/css-flexbox/navigation/styles.css
  sessions/css-flexbox/profile/.eslintrc.json
  sessions/css-flexbox/profile/.prettierrc.json
  sessions/css-flexbox/profile/.stylelintrc.json
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
  sessions/css-flexbox/profile/package.json
  sessions/css-flexbox/profile/sandbox.config.json
Due: npx prettier --write

refactor: move styles.css into css folder
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/navigation/index.html
Due: none

js callback functions: add demo (#59)
  sessions/js-callback-functions/demo-end/.eslintrc.json
  sessions/js-callback-functions/demo-end/.prettierrc.json
  sessions/js-callback-functions/demo-end/.stylelintrc.json
  sessions/js-callback-functions/demo-end/css/styles.css
  sessions/js-callback-functions/demo-end/index.html
  sessions/js-callback-functions/demo-end/js/index.js
  sessions/js-callback-functions/demo-end/package.json
  sessions/js-callback-functions/demo-end/sandbox.config.json
  sessions/js-callback-functions/demo-start/.eslintrc.json
  sessions/js-callback-functions/demo-start/.prettierrc.json
  sessions/js-callback-functions/demo-start/.stylelintrc.json
  sessions/js-callback-functions/demo-start/css/styles.css
  sessions/js-callback-functions/demo-start/index.html
  sessions/js-callback-functions/demo-start/js/index.js
  sessions/js-callback-functions/demo-start/package.json
  sessions/js-callback-functions/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add demo-end for css-selectors session
  sessions/css-selectors/demo-end/.eslintrc.json
  sessions/css-selectors/demo-end/.prettierrc.json
  sessions/css-selectors/demo-end/.stylelintrc.json
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-end/index.html
  sessions/css-selectors/demo-end/package.json
  sessions/css-selectors/demo-end/sandbox.config.json
Due: npx prettier --write

feat: add demo-start for css-selectors session
  sessions/css-selectors/demo-start/.eslintrc.json
  sessions/css-selectors/demo-start/.prettierrc.json
  sessions/css-selectors/demo-start/.stylelintrc.json
  sessions/css-selectors/demo-start/css/styles.css
  sessions/css-selectors/demo-start/index.html
  sessions/css-selectors/demo-start/package.json
  sessions/css-selectors/demo-start/sandbox.config.json
Due: npx prettier --write

feat: add start demo for css flexbox session
  sessions/css-flexbox/demo-start/.eslintrc.json
  sessions/css-flexbox/demo-start/.prettierrc.json
  sessions/css-flexbox/demo-start/.stylelintrc.json
  sessions/css-flexbox/demo-start/css/styles.css
  sessions/css-flexbox/demo-start/index.html
  sessions/css-flexbox/demo-start/package.json
  sessions/css-flexbox/demo-start/sandbox.config.json
Due: npx prettier --write

feat: add end demo for css flexbox session
  sessions/css-flexbox/demo-end/.eslintrc.json
  sessions/css-flexbox/demo-end/.prettierrc.json
  sessions/css-flexbox/demo-end/.stylelintrc.json
  sessions/css-flexbox/demo-end/css/styles.css
  sessions/css-flexbox/demo-end/index.html
  sessions/css-flexbox/demo-end/package.json
  sessions/css-flexbox/demo-end/sandbox.config.json
Due: npx prettier --write

Feat/css-flexbox-demos (#63)
  sessions/css-flexbox/demo-end/.eslintrc.json
  sessions/css-flexbox/demo-end/.prettierrc.json
  sessions/css-flexbox/demo-end/.stylelintrc.json
  sessions/css-flexbox/demo-end/css/styles.css
  sessions/css-flexbox/demo-end/index.html
  sessions/css-flexbox/demo-end/package.json
  sessions/css-flexbox/demo-end/sandbox.config.json
  sessions/css-flexbox/demo-start/.eslintrc.json
  sessions/css-flexbox/demo-start/.prettierrc.json
  sessions/css-flexbox/demo-start/.stylelintrc.json
  sessions/css-flexbox/demo-start/css/styles.css
  sessions/css-flexbox/demo-start/index.html
  sessions/css-flexbox/demo-start/package.json
  sessions/css-flexbox/demo-start/sandbox.config.json
Due: npx prettier --write

Feat/css-selectors-demo (#62)
  sessions/css-selectors/demo-end/.eslintrc.json
  sessions/css-selectors/demo-end/.prettierrc.json
  sessions/css-selectors/demo-end/.stylelintrc.json
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-end/index.html
  sessions/css-selectors/demo-end/package.json
  sessions/css-selectors/demo-end/sandbox.config.json
  sessions/css-selectors/demo-start/.eslintrc.json
  sessions/css-selectors/demo-start/.prettierrc.json
  sessions/css-selectors/demo-start/.stylelintrc.json
  sessions/css-selectors/demo-start/css/styles.css
  sessions/css-selectors/demo-start/index.html
  sessions/css-selectors/demo-start/package.json
  sessions/css-selectors/demo-start/sandbox.config.json
Due: npx prettier --write

Update sessions/css-flexbox/profile/index.html
  sessions/css-flexbox/profile/index.html
Due: none

Update sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/navigation/index.html
Due: none

feat/css-flexbox: import navigation and profile challenge (#61)
  sessions/css-flexbox/navigation/.eslintrc.json
  sessions/css-flexbox/navigation/.prettierrc.json
  sessions/css-flexbox/navigation/.stylelintrc.json
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/navigation/package.json
  sessions/css-flexbox/navigation/sandbox.config.json
  sessions/css-flexbox/profile/.eslintrc.json
  sessions/css-flexbox/profile/.prettierrc.json
  sessions/css-flexbox/profile/.stylelintrc.json
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
  sessions/css-flexbox/profile/package.json
  sessions/css-flexbox/profile/sandbox.config.json
Due: npx prettier --write

feat: add div for HTML main element to div salad exercise
  sessions/html-and-the-web/div-salad/index.html
Due: none

chore: update readme
  README.md
Due: npx prettier --write

fix: false description after change of example link
  README.md
Due: npx prettier --write

feat: adjust description how to use example link
  README.md
Due: npx prettier --write

feat/html-and-the-web: import div-salad exercise (#60)
  sessions/html-and-the-web/div-salad/.eslintrc.json
  sessions/html-and-the-web/div-salad/.prettierrc.json
  sessions/html-and-the-web/div-salad/index.html
  sessions/html-and-the-web/div-salad/package.json
  sessions/html-and-the-web/div-salad/sandbox.config.json
Due: npx prettier --write

feat(js-array-methods): add filter exercise (#3)
  sessions/js-array-methods/filter/index.js
  sessions/js-array-methods/filter/package.json
Due: npx eslint --fix, npx prettier --write
