Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

fix bug in solution
  sessions/react-with-arrays/journal-app-entries-array_solution/src/components/EntriesSection/index.jsx
Due: npx eslint --fix, npx prettier --write

fix one wrong substitution
  sessions/react-basics/hello-world/README.md
Due: npx prettier --write

Fix name on package js
  sessions/js-array-methods/demo-end/package.json
Due: npx prettier --write

Fix name on package js (#399)
  sessions/js-array-methods/demo-end/package.json
Due: npx prettier --write

New challenge to test that prettier was config correctly
  sessions/html-and-the-web/format-salad/.gitignore
  sessions/html-and-the-web/format-salad/README.md
  sessions/html-and-the-web/format-salad/assets/indented-code.png
  sessions/html-and-the-web/format-salad/package.json
Due: npx prettier --write

updated intructions for rick & morty app adding bonus material and deployment instructions
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

updated project-1 instructions - added deployment instructions with GH Pages and recommended structure
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

fixed url for deployment documentation
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

updated intructions for project-2 and added deployment instructions
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

New challenge: Find the errors
  sessions/html-and-the-web/find-the-errors/.gitignore
  sessions/html-and-the-web/find-the-errors/README.md
  sessions/html-and-the-web/find-the-errors/assets/prettier-red.png
  sessions/html-and-the-web/find-the-errors/assets/prettier-treminal.png
  sessions/html-and-the-web/find-the-errors/package.json
Due: npx prettier --write

Fix wording, reviewer suggestion
  sessions/html-and-the-web/format-salad/README.md
Due: npx prettier --write

Changes in wording reviewer suggestion
  sessions/html-and-the-web/format-salad/README.md
Due: npx prettier --write

Wording per reviewer suggestion
  sessions/html-and-the-web/find-the-errors/README.md
Due: npx prettier --write

New challenge: Find the errors (#402)
  sessions/html-and-the-web/find-the-errors/.gitignore
  sessions/html-and-the-web/find-the-errors/README.md
  sessions/html-and-the-web/find-the-errors/assets/prettier-red.png
  sessions/html-and-the-web/find-the-errors/assets/prettier-treminal.png
  sessions/html-and-the-web/find-the-errors/package.json
Due: npx prettier --write

New challenge to test that prettier was config correctly (#400)
  sessions/html-and-the-web/format-salad/.gitignore
  sessions/html-and-the-web/format-salad/README.md
  sessions/html-and-the-web/format-salad/assets/indented-code.png
  sessions/html-and-the-web/format-salad/package.json
Due: npx prettier --write

updated instructions with deployment in project 1-3
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

updated instructions with deployment in project 5-6
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

reduced styling for template for rick and morty
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.css
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.css
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.css
  sessions/recap-project-3/rick-and-morty-app/components/card/card.css
  sessions/recap-project-3/rick-and-morty-app/components/card/card.js
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.js
  sessions/recap-project-3/rick-and-morty-app/components/nav-pagination/nav-pagination.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-pagination/nav-pagination.js
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.css
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.js
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: npx eslint --fix, npx prettier --write

add data-js tags for example solution
  sessions/recap-project-2/example-implementation/.eslintrc.json
  sessions/recap-project-2/example-implementation/.gitignore
  sessions/recap-project-2/example-implementation/README.md
  sessions/recap-project-2/example-implementation/bookmarks.html
  sessions/recap-project-2/example-implementation/components/bookmark/bookmark.css
  sessions/recap-project-2/example-implementation/components/card-list/card-list.css
  sessions/recap-project-2/example-implementation/components/card/card.css
  sessions/recap-project-2/example-implementation/components/counter-list/counter-list.css
  sessions/recap-project-2/example-implementation/components/header/header.css
  sessions/recap-project-2/example-implementation/components/navigation/navigation.css
  sessions/recap-project-2/example-implementation/components/profile/profile.css
  sessions/recap-project-2/example-implementation/global.css
  sessions/recap-project-2/example-implementation/index.html
  sessions/recap-project-2/example-implementation/index.js
  sessions/recap-project-2/example-implementation/package.json
  sessions/recap-project-2/example-implementation/profile.html
  sessions/recap-project-2/example-implementation/styles.css
  sessions/recap-project-2/example-implementation/wireframes/quiz-app-form-page-with-counter.excalidraw
  sessions/recap-project-2/example-implementation/wireframes/quiz-app-form-page-with-counter.png
  sessions/recap-project-2/example-implementation/wireframes/quiz-app-form-page.excalidraw
  sessions/recap-project-2/example-implementation/wireframes/quiz-app-form-page.png
Due: npx eslint --fix, npx prettier --write

fix: use relative url paths in links
  sessions/recap-project-2/example-implementation/bookmarks.html
  sessions/recap-project-2/example-implementation/index.html
  sessions/recap-project-2/example-implementation/profile.html
  sessions/recap-project-2/quiz-app/bookmarks.html
  sessions/recap-project-2/quiz-app/index.html
  sessions/recap-project-2/quiz-app/profile.html
Due: none

fix: navigation styling issue
  sessions/recap-project-2/example-implementation/components/navigation/navigation.css
  sessions/recap-project-2/quiz-app/components/navigation/navigation.css
Due: none

add get animal exercise solution
  sessions/js-unit-testing/get-animal_solution/.eslintrc.json
  sessions/js-unit-testing/get-animal_solution/.gitignore
  sessions/js-unit-testing/get-animal_solution/.prettierrc.json
  sessions/js-unit-testing/get-animal_solution/README.md
  sessions/js-unit-testing/get-animal_solution/index.html
  sessions/js-unit-testing/get-animal_solution/index.js
  sessions/js-unit-testing/get-animal_solution/index.test.js
  sessions/js-unit-testing/get-animal_solution/package.json
Due: npx eslint --fix, npx prettier --write

format get animal function
  sessions/js-unit-testing/get-animal_solution/index.js
Due: npx eslint --fix, npx prettier --write

add card interactivity
  sessions/recap-project-2/example-implementation/index.html
  sessions/recap-project-2/example-implementation/index.js
Due: npx eslint --fix, npx prettier --write

add math functions challenge solution
  sessions/js-unit-testing/math-functions_solution/.eslintrc.json
  sessions/js-unit-testing/math-functions_solution/.gitignore
  sessions/js-unit-testing/math-functions_solution/.prettierrc.json
  sessions/js-unit-testing/math-functions_solution/README.md
  sessions/js-unit-testing/math-functions_solution/index.html
  sessions/js-unit-testing/math-functions_solution/index.js
  sessions/js-unit-testing/math-functions_solution/index.test.js
  sessions/js-unit-testing/math-functions_solution/package.json
Due: npx eslint --fix, npx prettier --write

add people challenge solution
  sessions/js-unit-testing/people_solution/.eslintrc.json
  sessions/js-unit-testing/people_solution/.gitignore
  sessions/js-unit-testing/people_solution/.prettierrc.json
  sessions/js-unit-testing/people_solution/README.md
  sessions/js-unit-testing/people_solution/index.html
  sessions/js-unit-testing/people_solution/index.js
  sessions/js-unit-testing/people_solution/index.test.js
  sessions/js-unit-testing/people_solution/package.json
Due: npx eslint --fix, npx prettier --write

updated instructions with bonus part
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

update dummy data
  sessions/recap-project-6/tourio-app/lib/Tourio-db.comments.json
  sessions/recap-project-6/tourio-app/lib/Tourio-db.places.json
  sessions/recap-project-6/tourio-app/lib/db.js
  sessions/recap-project-6/tourio-app/lib/db.json
  sessions/recap-project-6/tourio-app/lib/db_comments.js
  sessions/recap-project-6/tourio-app/lib/db_places.js
Due: npx eslint --fix, npx prettier --write

update to backend routes handling new data
  sessions/recap-project-6/tourio-app/pages/api/places/[id]/index.js
  sessions/recap-project-6/tourio-app/pages/api/places/index.js
Due: npx eslint --fix, npx prettier --write

update to frontend reading new data and added comments component
  sessions/recap-project-6/tourio-app/components/Comments.js
  sessions/recap-project-6/tourio-app/components/Form.js
  sessions/recap-project-6/tourio-app/pages/index.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

update to frontend reading new data
  sessions/recap-project-6/tourio-app/pages/places/[id]/edit.js
Due: npx eslint --fix, npx prettier --write

add next/babel to eslintrc
  sessions/recap-project-6/tourio-app/.eslintrc.json
Due: npx prettier --write

css/styling update - making tourio fresher overall
  sessions/recap-project-6/tourio-app/components/Card.js
  sessions/recap-project-6/tourio-app/components/Form.js
  sessions/recap-project-6/tourio-app/components/StyledButton.js
  sessions/recap-project-6/tourio-app/components/StyledImage.js
  sessions/recap-project-6/tourio-app/components/StyledLink.js
  sessions/recap-project-6/tourio-app/pages/index.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

add example implementation containing bonus
  sessions/recap-project-6/example-implementation/.eslintrc.json
  sessions/recap-project-6/example-implementation/.gitignore
  sessions/recap-project-6/example-implementation/.prettierrc.json
  sessions/recap-project-6/example-implementation/README.md
  sessions/recap-project-6/example-implementation/components/Card.js
  sessions/recap-project-6/example-implementation/components/Comments.js
  sessions/recap-project-6/example-implementation/components/Form.js
  sessions/recap-project-6/example-implementation/components/StyledButton.js
  sessions/recap-project-6/example-implementation/components/StyledImage.js
  sessions/recap-project-6/example-implementation/components/StyledLink.js
  sessions/recap-project-6/example-implementation/db/connect.js
  sessions/recap-project-6/example-implementation/db/models/Comment.js
  sessions/recap-project-6/example-implementation/db/models/Place.js
  sessions/recap-project-6/example-implementation/db/models/Places.js
  sessions/recap-project-6/example-implementation/jsconfig.json
  sessions/recap-project-6/example-implementation/lib/db.js
  sessions/recap-project-6/example-implementation/lib/db.json
  sessions/recap-project-6/example-implementation/package-lock.json
  sessions/recap-project-6/example-implementation/package.json
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/comment.js
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/index.js
  sessions/recap-project-6/example-implementation/pages/api/places/index.js
  sessions/recap-project-6/example-implementation/pages/create.js
  sessions/recap-project-6/example-implementation/pages/index.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-6/example-implementation/sandbox.config.json
Due: npx eslint --fix, npx prettier --write
