Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

update jest setup in next (#206)
  recipes/next/files/.eslintrc.json
  recipes/next/files/jest.config.js
  recipes/next/files/jest.setup.js
  recipes/next/recipe.js
  templates/next/.eslintrc.json
  templates/next/jest.config.js
  templates/next/jest.setup.js
  templates/next/package.json
Due: npx eslint --fix, npx prettier --write

update migrate script and cra+next readme
  recipes/cra/files/README.md
  recipes/next/files/README.md
  scripts/migrate.js
  templates/cra/README.md
  templates/next/README.md
Due: npx eslint --fix, npx prettier --write

fix migrate script (do not overwrite next config)
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

update next readme
  recipes/next/files/README.md
  templates/next/README.md
Due: npx prettier --write

improve structure / format of the code
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/index.html
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

small changes to readme, namings and code comments
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/index.html
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

code comment fix
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

some naming and logic adjustments
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/index.html
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

update scorekeeper tests
  package-lock.json
  sessions/react-component-testing/scorekeeper/README.md
  sessions/react-component-testing/scorekeeper/components/GameForm/GameForm.test.js
  sessions/react-component-testing/scorekeeper/components/GameForm/index.js
  sessions/react-component-testing/scorekeeper/components/HistoryEntry/HistoryEntry.test.js
  sessions/react-component-testing/scorekeeper/components/Input/Input.test.js
  sessions/react-component-testing/scorekeeper/components/Player/Player.test.js
  sessions/react-component-testing/scorekeeper/jest.config.js
  sessions/react-component-testing/scorekeeper/jest.setup.js
  sessions/react-component-testing/scorekeeper/package.json
  sessions/react-component-testing/scorekeeper/pages/_document.js
  sessions/react-component-testing/scorekeeper/pages/history.js
Due: npx eslint --fix, npx prettier --write

run migrate script
  sessions/react-component-testing/scorekeeper/.eslintrc.json
  sessions/react-component-testing/scorekeeper/README.md
  sessions/react-component-testing/scorekeeper/jest.config.js
  sessions/react-component-testing/scorekeeper/jest.setup.js
  sessions/react-component-testing/scorekeeper/package.json
Due: npx eslint --fix, npx prettier --write

begin demo
  package-lock.json
  sessions/react-component-testing/demo-end/.eslintrc.json
  sessions/react-component-testing/demo-end/.gitignore
  sessions/react-component-testing/demo-end/.npmrc
  sessions/react-component-testing/demo-end/.prettierrc.json
  sessions/react-component-testing/demo-end/.storybook/main.js
  sessions/react-component-testing/demo-end/.storybook/preview.js
  sessions/react-component-testing/demo-end/README.md
  sessions/react-component-testing/demo-end/components/Form/index.js
  sessions/react-component-testing/demo-end/components/Movie/index.js
  sessions/react-component-testing/demo-end/components/Movies/Movies.test.js
  sessions/react-component-testing/demo-end/components/Movies/index.js
  sessions/react-component-testing/demo-end/jest.config.js
  sessions/react-component-testing/demo-end/next.config.js
  sessions/react-component-testing/demo-end/package.json
  sessions/react-component-testing/demo-end/pages/_app.js
  sessions/react-component-testing/demo-end/pages/_document.js
  sessions/react-component-testing/demo-end/pages/index.js
  sessions/react-component-testing/demo-end/public/favicon.ico
  sessions/react-component-testing/demo-end/sandbox.config.json
  sessions/react-component-testing/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

fix tests
  package-lock.json
  sessions/react-component-testing/demo-end/components/Movie/index.js
  sessions/react-component-testing/demo-end/components/Movies/Movies.test.js
  sessions/react-component-testing/demo-end/components/Movies/index.js
  sessions/react-component-testing/demo-end/jest.config.js
  sessions/react-component-testing/demo-end/jest.setup.js
  sessions/react-component-testing/demo-end/package.json
Due: npx eslint --fix, npx prettier --write

more tests
  package-lock.json
  sessions/react-component-testing/demo-end/.eslintrc.json
  sessions/react-component-testing/demo-end/README.md
  sessions/react-component-testing/demo-end/components/Form/Form.test.js
  sessions/react-component-testing/demo-end/components/Form/index.js
  sessions/react-component-testing/demo-end/components/Movies/Movies.test.js
  sessions/react-component-testing/demo-end/jest.config.js
  sessions/react-component-testing/demo-end/jest.setup.js
  sessions/react-component-testing/demo-end/package.json
Due: npx eslint --fix, npx prettier --write

finish tasks and preparation
  package-lock.json
  sessions/react-component-testing/scorekeeper/README.md
  sessions/react-component-testing/scorekeeper/components/GameForm/GameForm.test.js
  sessions/react-component-testing/scorekeeper/components/HistoryEntry/HistoryEntry.test.js
  sessions/react-component-testing/scorekeeper/components/HistoryEntry/index.js
  sessions/react-component-testing/scorekeeper/components/Input/Input.test.js
  sessions/react-component-testing/scorekeeper/components/Navigation/Navigation.test.js
  sessions/react-component-testing/scorekeeper/components/Navigation/index.js
  sessions/react-component-testing/scorekeeper/components/Player/Player.test.js
  sessions/react-component-testing/scorekeeper/pages/index.js
Due: npx eslint --fix, npx prettier --write

made requested changes
  sessions/css-animations/toast-animations/README.md
Due: npx prettier --write

replace nanoid with uid
  .ncurc.json
  package-lock.json
  sessions/react-state-3/adding-animals/README.md
  sessions/react-state-3/adding-animals/package.json
  sessions/react-state-3/demo-end/package.json
  sessions/react-state-3/demo-end/src/App.js
  sessions/react-state-3/demo-start/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/App.js
  sessions/react-state-3/journal-app-filter/package.json
  sessions/react-state-3/journal-app-filter/src/App.js
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/package.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/App.js
  sessions/react-with-local-storage/demo-end/package.json
  sessions/react-with-local-storage/demo-end/src/App.js
  sessions/react-with-local-storage/demo-start/package.json
  sessions/react-with-local-storage/demo-start/src/App.js
  sessions/react-with-local-storage/journal-app-with-local-storage/package.json
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.js
  sessions/recap-project-4/example-implementation/package.json
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

Update sessions/react-basics/demo-render/public/styles.css
  sessions/react-basics/demo-render/public/styles.css
Due: none

Update sessions/react-basics/demo-inner-html-vs-render/public/styles.css
  sessions/react-basics/demo-inner-html-vs-render/public/styles.css
Due: none

made some more requested changes
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

CSS Animations rework (#208)
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/index.html
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

add styled components demo
  package-lock.json
  sessions/react-styled-components/demo-start/pages/_app.js
  sessions/react-styled-components/demo-start/pages/index.js
  sessions/react-styled-components/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

update styled components demo
  sessions/react-styled-components/demo-end/components/Button.js
  sessions/react-styled-components/demo-end/components/Container.js
  sessions/react-styled-components/demo-end/components/DangerButton.js
  sessions/react-styled-components/demo-end/components/Link.js
  sessions/react-styled-components/demo-end/pages/index.js
Due: npx eslint --fix, npx prettier --write

remove DangerButton from styled-components demo
  sessions/react-styled-components/demo-end/components/Button.js
  sessions/react-styled-components/demo-end/components/DangerButton.js
  sessions/react-styled-components/demo-end/pages/_document.js
  sessions/react-styled-components/demo-end/pages/index.js
Due: npx eslint --fix, npx prettier --write

fix styled-components demo start
  sessions/react-styled-components/demo-start/pages/_app.js
  sessions/react-styled-components/demo-start/pages/index.js
  sessions/react-styled-components/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

add pages/_document to next recipe
  package-lock.json
  recipes/next/files/pages/_document.js
  scripts/migrate.js
  templates/next/package.json
  templates/next/pages/_document.js
Due: npx eslint --fix, npx prettier --write

apply migrations for pages/_document
  sessions/nextjs-dynamic-routes/demo-end/package.json
  sessions/nextjs-dynamic-routes/demo-end/pages/_document.js
  sessions/nextjs-dynamic-routes/demo-start/package.json
  sessions/nextjs-dynamic-routes/demo-start/pages/_document.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/package.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/_document.js
  sessions/react-component-testing/lotr-app-testing/package.json
  sessions/react-component-testing/lotr-app-testing/pages/_document.js
  sessions/react-styled-components/box/package.json
  sessions/react-styled-components/box/pages/_document.js
  sessions/react-styled-components/lotr-app-styling/package.json
  sessions/react-styled-components/lotr-app-styling/pages/_document.js
Due: npx eslint --fix, npx prettier --write

Add pages/_document to next recipe (#210)
  package-lock.json
  recipes/next/files/pages/_document.js
  scripts/migrate.js
  sessions/nextjs-dynamic-routes/demo-end/package.json
  sessions/nextjs-dynamic-routes/demo-end/pages/_document.js
  sessions/nextjs-dynamic-routes/demo-start/package.json
  sessions/nextjs-dynamic-routes/demo-start/pages/_document.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/package.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/_document.js
  sessions/react-component-testing/lotr-app-testing/package.json
  sessions/react-component-testing/lotr-app-testing/pages/_document.js
  sessions/react-styled-components/box/package.json
  sessions/react-styled-components/box/pages/_document.js
  sessions/react-styled-components/lotr-app-styling/package.json
  sessions/react-styled-components/lotr-app-styling/pages/_document.js
  templates/next/package.json
  templates/next/pages/_document.js
Due: npx eslint --fix, npx prettier --write

Update .ncurc.json
  .ncurc.json
Due: npx prettier --write

fix tests
  sessions/react-component-testing/demo-end/components/Movie/Movie.test.js
  sessions/react-component-testing/demo-end/components/Movie/index.js
  sessions/react-component-testing/demo-end/components/Movies/Movies.test.js
Due: npx eslint --fix, npx prettier --write

format file
  .ncurc.json
Due: npx prettier --write

Replace nanoid with uid (#209)
  .ncurc.json
  package-lock.json
  sessions/react-state-3/adding-animals/README.md
  sessions/react-state-3/adding-animals/package.json
  sessions/react-state-3/demo-end/package.json
  sessions/react-state-3/demo-end/src/App.js
  sessions/react-state-3/demo-start/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/App.js
  sessions/react-state-3/journal-app-filter/package.json
  sessions/react-state-3/journal-app-filter/src/App.js
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/package.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/App.js
  sessions/react-with-local-storage/demo-end/package.json
  sessions/react-with-local-storage/demo-end/src/App.js
  sessions/react-with-local-storage/demo-start/package.json
  sessions/react-with-local-storage/demo-start/src/App.js
  sessions/react-with-local-storage/journal-app-with-local-storage/package.json
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.js
  sessions/recap-project-4/example-implementation/package.json
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

feat: add stars exercise
  sessions/js-loops/stars/.eslintrc.json
  sessions/js-loops/stars/.gitignore
  sessions/js-loops/stars/.prettierrc.json
  sessions/js-loops/stars/README.md
  sessions/js-loops/stars/css/styles.css
  sessions/js-loops/stars/index.html
  sessions/js-loops/stars/js/index.js
  sessions/js-loops/stars/package.json
  sessions/js-loops/stars/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

chore: add assets folder
  sessions/js-loops/stars/assets/star-empty.svg
  sessions/js-loops/stars/assets/star-filled.svg
Due: none

Apply suggestions from code review
  sessions/js-loops/stars/README.md
Due: npx prettier --write

delete old for-stars challenge due to enhanced version
  sessions/js-loops/for-stars/.eslintrc.json
  sessions/js-loops/for-stars/.gitignore
  sessions/js-loops/for-stars/.prettierrc.json
  sessions/js-loops/for-stars/README.md
  sessions/js-loops/for-stars/css/styles.css
  sessions/js-loops/for-stars/index.html
  sessions/js-loops/for-stars/js/index.js
  sessions/js-loops/for-stars/package.json
  sessions/js-loops/for-stars/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix font family
  sessions/js-loops/stars/css/styles.css
Due: none

feat: add stars exercise (#205)
  sessions/js-loops/for-stars/README.md
  sessions/js-loops/for-stars/css/styles.css
  sessions/js-loops/for-stars/js/index.js
  sessions/js-loops/stars/.eslintrc.json
  sessions/js-loops/stars/.gitignore
  sessions/js-loops/stars/.prettierrc.json
  sessions/js-loops/stars/README.md
  sessions/js-loops/stars/assets/star-empty.svg
  sessions/js-loops/stars/assets/star-filled.svg
  sessions/js-loops/stars/css/styles.css
  sessions/js-loops/stars/index.html
  sessions/js-loops/stars/js/index.js
  sessions/js-loops/stars/package.json
  sessions/js-loops/stars/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
