Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Update sessions/recap-project-6/tourio-app/README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Update sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

Update sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

Review change bonus project 1
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Restructuring/projects handout (#414)
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-1/quiz-app/assets/bookmarkpage.png
  sessions/recap-project-1/quiz-app/assets/bookmarkspage.png
  sessions/recap-project-1/quiz-app/assets/overview.png
  sessions/recap-project-1/quiz-app/assets/profilepage.png
  sessions/recap-project-1/quiz-app/assets/wireframes.excalidraw
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Rewrite instruction
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-5/art-gallery-app/wireframes.excalidraw.png
Due: npx prettier --write

Create Readme template for recap projects
  templates/recap-project/README.md
Due: npx prettier --write

Update templates/recap-project/README.md
  templates/recap-project/README.md
Due: npx prettier --write

Create Readme template for recap projects (#416)
  templates/recap-project/README.md
Due: npx prettier --write

Update sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Added hint on where to storage the data
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Adjust wording and fix typos of responsive-website challenge
  sessions/css-responsive/responsive-website/README.md
  sessions/css-responsive/responsive-website/css/styles.css
  sessions/css-responsive/responsive-website/index.html
Due: npx prettier --write

Fix wording and typos of playground challenge
  sessions/css-responsive/playground/README.md
  sessions/css-responsive/playground/index.html
Due: npx prettier --write

Simplify responsive-website solution
  sessions/css-responsive/responsive-website_solution/README.md
  sessions/css-responsive/responsive-website_solution/css/styles.css
  sessions/css-responsive/responsive-website_solution/index.html
Due: npx prettier --write

Add playground solution
  sessions/css-responsive/playground_solution/.gitignore
  sessions/css-responsive/playground_solution/README.md
  sessions/css-responsive/playground_solution/css/styles.css
  sessions/css-responsive/playground_solution/img/cat_large.jpg
  sessions/css-responsive/playground_solution/img/cat_medium.jpg
  sessions/css-responsive/playground_solution/img/cat_small.jpg
  sessions/css-responsive/playground_solution/index.html
  sessions/css-responsive/playground_solution/package.json
Due: npx prettier --write

Move preview screens from challenge file to challenge readme
  sessions/css-responsive/responsive-website/README.md
  sessions/css-responsive/responsive-website/assets/desktop.png
  sessions/css-responsive/responsive-website/assets/mobile_1.png
  sessions/css-responsive/responsive-website/assets/mobile_2.png
  sessions/css-responsive/responsive-website/assets/tablet.png
  sessions/css-responsive/responsive-website_solution/README.md
  sessions/css-responsive/responsive-website_solution/assets/desktop.png
  sessions/css-responsive/responsive-website_solution/assets/mobile_1.png
  sessions/css-responsive/responsive-website_solution/assets/mobile_2.png
  sessions/css-responsive/responsive-website_solution/assets/tablet.png
Due: npx prettier --write

CSS Responsive Challenges (#417)
  sessions/css-responsive/playground_solution/.gitignore
  sessions/css-responsive/playground_solution/README.md
  sessions/css-responsive/playground_solution/css/styles.css
  sessions/css-responsive/playground_solution/img/cat_large.jpg
  sessions/css-responsive/playground_solution/img/cat_medium.jpg
  sessions/css-responsive/playground_solution/img/cat_small.jpg
  sessions/css-responsive/playground_solution/index.html
  sessions/css-responsive/playground_solution/package.json
  sessions/css-responsive/responsive-website/README.md
  sessions/css-responsive/responsive-website/assets/desktop.png
  sessions/css-responsive/responsive-website/assets/mobile_1.png
  sessions/css-responsive/responsive-website/assets/mobile_2.png
  sessions/css-responsive/responsive-website/assets/tablet.png
  sessions/css-responsive/responsive-website/css/styles.css
  sessions/css-responsive/responsive-website/index.html
  sessions/css-responsive/responsive-website_solution/README.md
  sessions/css-responsive/responsive-website_solution/assets/desktop.png
  sessions/css-responsive/responsive-website_solution/assets/mobile_1.png
  sessions/css-responsive/responsive-website_solution/assets/mobile_2.png
  sessions/css-responsive/responsive-website_solution/assets/tablet.png
  sessions/css-responsive/responsive-website_solution/css/styles.css
  sessions/css-responsive/responsive-website_solution/index.html
Due: npx prettier --write

Add hint for favorit
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Add favorite button in sptolight
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-5/art-gallery-app/wireframes.excalidraw.png
Due: npx prettier --write

Separete testing as a new user story
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Add hint with example of use state
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Add more help for comments
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Combine Felix and I useState example
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Rewrite the example
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

remove redundant "of" in basic calculations index.js
  sessions/js-functions/basic-calculations/js/index.js
Due: npx eslint --fix, npx prettier --write

remove duplicate "of" in basic calculations solution index.js
  sessions/js-functions/basic-calculations_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Fix wording and typos in js-objects-and-arrays challenges
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/arrays/js/index.js
  sessions/js-objects-and-arrays/arrays_solution/README.md
  sessions/js-objects-and-arrays/arrays_solution/js/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/js/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/js/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays_solution/README.md
  sessions/js-objects-and-arrays/objects-and-arrays_solution/js/index.js
  sessions/js-objects-and-arrays/objects-and-arrays_solution/js/index.test.js
  sessions/js-objects-and-arrays/objects/README.md
  sessions/js-objects-and-arrays/objects/js/index.js
  sessions/js-objects-and-arrays/objects_solution/README.md
  sessions/js-objects-and-arrays/objects_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

fixed broken link
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

fixed broken link (#418)
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

Fix wording and typos in css-positioning challenges
  sessions/css-positioning/absolute-position/README.md
  sessions/css-positioning/absolute-position/css/styles.css
  sessions/css-positioning/absolute-position/package.json
  sessions/css-positioning/absolute-position_solution/README.md
  sessions/css-positioning/absolute-position_solution/css/styles.css
  sessions/css-positioning/layout-with-position/README.md
  sessions/css-positioning/layout-with-position/css/styles.css
  sessions/css-positioning/layout-with-position_solution/README.md
  sessions/css-positioning/layout-with-position_solution/css/styles.css
Due: npx prettier --write

Fix wording and typos in css-flexbox challenges
  sessions/css-flexbox/navigation/README.md
  sessions/css-flexbox/navigation_solution/README.md
  sessions/css-flexbox/profile/README.md
  sessions/css-flexbox/profile_solution/README.md
Due: npx prettier --write

Move challenge instructions from challenge file to readme files
  sessions/js-inputs-and-strings/change-box-appearance/js/index.js
  sessions/js-inputs-and-strings/change-box-appearance_solution/.gitignore
  sessions/js-inputs-and-strings/change-box-appearance_solution/.stylelintrc.json
  sessions/js-inputs-and-strings/change-box-appearance_solution/README.md
  sessions/js-inputs-and-strings/change-box-appearance_solution/js/index.js
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/js/index.js
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/.gitignore
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/.stylelintrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/README.md
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase_solution/.eslintrc.json
  sessions/js-inputs-and-strings/input-to-uppercase_solution/.gitignore
  sessions/js-inputs-and-strings/input-to-uppercase_solution/.stylelintrc.json
  sessions/js-inputs-and-strings/input-to-uppercase_solution/README.md
  sessions/js-inputs-and-strings/input-to-uppercase_solution/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs_solution/.gitignore
  sessions/js-inputs-and-strings/multiple-inputs_solution/.stylelintrc.json
  sessions/js-inputs-and-strings/multiple-inputs_solution/README.md
  sessions/js-inputs-and-strings/multiple-inputs_solution/index.html
  sessions/js-inputs-and-strings/multiple-inputs_solution/js/index.js
  sessions/js-inputs-and-strings/switch-values/js/index.js
  sessions/js-inputs-and-strings/switch-values_solution/.gitignore
  sessions/js-inputs-and-strings/switch-values_solution/.stylelintrc.json
  sessions/js-inputs-and-strings/switch-values_solution/README.md
  sessions/js-inputs-and-strings/switch-values_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Fix wording and typos in js-loops challenges
  sessions/js-loops/for-console/README.md
  sessions/js-loops/for-console/index.html
  sessions/js-loops/for-console_solution/README.md
  sessions/js-loops/for-console_solution/index.html
  sessions/js-loops/forin-select-nav/README.md
  sessions/js-loops/forin-select-nav/index.html
  sessions/js-loops/forin-select-nav/js/index.js
  sessions/js-loops/forin-select-nav_solution/README.md
  sessions/js-loops/forin-select-nav_solution/index.html
  sessions/js-loops/forin-select-nav_solution/js/index.js
  sessions/js-loops/forof-list/README.md
  sessions/js-loops/forof-list/index.html
  sessions/js-loops/forof-list/js/index.js
  sessions/js-loops/forof-list_solution/README.md
  sessions/js-loops/forof-list_solution/index.html
  sessions/js-loops/forof-list_solution/js/index.js
  sessions/js-loops/pixels/README.md
  sessions/js-loops/pixels/index.html
  sessions/js-loops/pixels_solution/README.md
  sessions/js-loops/pixels_solution/index.html
  sessions/js-loops/stars/README.md
  sessions/js-loops/stars/index.html
  sessions/js-loops/stars/js/index.js
  sessions/js-loops/stars_solution/README.md
  sessions/js-loops/stars_solution/index.html
  sessions/js-loops/stars_solution/js/index.js
  sessions/js-loops/while-random-number/README.md
  sessions/js-loops/while-random-number/index.html
  sessions/js-loops/while-random-number/index.js
  sessions/js-loops/while-random-number_solution/README.md
  sessions/js-loops/while-random-number_solution/index.html
  sessions/js-loops/while-random-number_solution/index.js
Due: npx eslint --fix, npx prettier --write

Update solution js-loops challenge while
  sessions/js-loops/while-random-number_solution/index.js
Due: npx eslint --fix, npx prettier --write

update names in package json
  sessions/recap-project-2/example-implementation/package.json
  sessions/recap-project-2/quiz-app/package.json
Due: npx prettier --write

add hint for class name
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

remove script tag and link to form from navigation
  sessions/recap-project-2/quiz-app/profile.html
Due: none

Switch step 1 and 2
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Fix wording and typos in css-structure challenges
  sessions/css-structure/custom-properties/README.md
  sessions/css-structure/custom-properties_solution/README.md
  sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck_solution/README.md
Due: npx prettier --write
