Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore: add additional hint to exercise description
  sessions/js-functions/pizza-analyzer/README.md
Due: npx prettier --write

add first version of fetch (without working api)
  sessions/recap-project-4/example-implementation/src/App.css
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

Js functions pizza analyzer (#185)
  sessions/js-functions/pizza-analyzer/.eslintrc.json
  sessions/js-functions/pizza-analyzer/.gitignore
  sessions/js-functions/pizza-analyzer/.prettierrc.json
  sessions/js-functions/pizza-analyzer/README.md
  sessions/js-functions/pizza-analyzer/css/styles.css
  sessions/js-functions/pizza-analyzer/index.html
  sessions/js-functions/pizza-analyzer/js/index.js
  sessions/js-functions/pizza-analyzer/package.json
  sessions/js-functions/pizza-analyzer/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update index.js
  sessions/react-effects-and-fetch/iss-tracker/src/components/Controls/index.js
Due: npx eslint --fix, npx prettier --write

add fetch weather api
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/components/List/index.js
Due: npx eslint --fix, npx prettier --write

add interval for fetching weather api
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

React Custom Hooks: Demo (#189)
  sessions/react-custom-hooks/demo-end/.eslintrc.json
  sessions/react-custom-hooks/demo-end/.gitignore
  sessions/react-custom-hooks/demo-end/.prettierrc.json
  sessions/react-custom-hooks/demo-end/README.md
  sessions/react-custom-hooks/demo-end/package.json
  sessions/react-custom-hooks/demo-end/public/index.html
  sessions/react-custom-hooks/demo-end/sandbox.config.json
  sessions/react-custom-hooks/demo-end/src/App.js
  sessions/react-custom-hooks/demo-end/src/components/Joke.js
  sessions/react-custom-hooks/demo-end/src/index.js
  sessions/react-custom-hooks/demo-end/src/styles.css
  sessions/react-custom-hooks/demo-end/src/utils/fetch.js
  sessions/react-custom-hooks/demo-start/.eslintrc.json
  sessions/react-custom-hooks/demo-start/.gitignore
  sessions/react-custom-hooks/demo-start/.prettierrc.json
  sessions/react-custom-hooks/demo-start/README.md
  sessions/react-custom-hooks/demo-start/package.json
  sessions/react-custom-hooks/demo-start/public/index.html
  sessions/react-custom-hooks/demo-start/sandbox.config.json
  sessions/react-custom-hooks/demo-start/src/App.js
  sessions/react-custom-hooks/demo-start/src/components/Joke.js
  sessions/react-custom-hooks/demo-start/src/index.js
  sessions/react-custom-hooks/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

add warnings
  starters/README.md
  templates/README.md
Due: npx prettier --write

add next warning for CSB
  README.md
Due: npx prettier --write

update according to review
  package-lock.json
  sessions/recap-project-4/example-implementation/README.md
  sessions/recap-project-4/example-implementation/package.json
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

Update sessions/recap-project-4/example-implementation/src/components/List/List.css
  sessions/recap-project-4/example-implementation/src/components/List/List.css
Due: none

rename key to activity.isForGoodWeather
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/components/Form/index.js
Due: npx eslint --fix, npx prettier --write

update index.html for html forms challenge
  sessions/html-forms/zoo/index.html
Due: none

(nextjs dynamic routes) add draft for demo end
  package-lock.json
  sessions/nextjs-dynamic-routes/demo-end/.eslintrc.json
  sessions/nextjs-dynamic-routes/demo-end/.gitignore
  sessions/nextjs-dynamic-routes/demo-end/.npmrc
  sessions/nextjs-dynamic-routes/demo-end/.prettierrc.json
  sessions/nextjs-dynamic-routes/demo-end/.storybook/main.js
  sessions/nextjs-dynamic-routes/demo-end/.storybook/preview.js
  sessions/nextjs-dynamic-routes/demo-end/README.md
  sessions/nextjs-dynamic-routes/demo-end/jest.config.js
  sessions/nextjs-dynamic-routes/demo-end/lib/movies.js
  sessions/nextjs-dynamic-routes/demo-end/next.config.js
  sessions/nextjs-dynamic-routes/demo-end/package.json
  sessions/nextjs-dynamic-routes/demo-end/pages/_app.js
  sessions/nextjs-dynamic-routes/demo-end/pages/index.js
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/[slug].js
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/index.js
  sessions/nextjs-dynamic-routes/demo-end/sandbox.config.json
  sessions/nextjs-dynamic-routes/demo-end/styles.js
  sessions/recap-project-4/example-implementation/package-lock.json
Due: npx eslint --fix, npx prettier --write

Update sessions/recap-project-4/example-implementation/public/index.html
  sessions/recap-project-4/example-implementation/public/index.html
Due: none

Update sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

Update sessions/recap-project-4/example-implementation/src/App.css
  sessions/recap-project-4/example-implementation/src/App.css
Due: none

Update sessions/recap-project-4/example-implementation/src/components/Form/index.js
  sessions/recap-project-4/example-implementation/src/components/Form/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/recap-project-4/example-implementation/src/components/List/index.js
  sessions/recap-project-4/example-implementation/src/components/List/index.js
Due: npx eslint --fix, npx prettier --write

delete test and logo files
  sessions/recap-project-4/example-implementation/src/App.test.js
  sessions/recap-project-4/example-implementation/src/logo.svg
Due: npx eslint --fix, npx prettier --write

fix typos for arrays and objects exercises
  sessions/js-objects-and-arrays/arrays/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays/index.test.js
  sessions/js-objects-and-arrays/objects/index.test.js
Due: npx eslint --fix, npx prettier --write

set template to next
  sessions/nextjs-dynamic-routes/demo-end/sandbox.config.json
Due: npx prettier --write

update demo
  package-lock.json
  sessions/nextjs-dynamic-routes/demo-end/lib/movies.js
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/[slug].js
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/index.js
  sessions/nextjs-dynamic-routes/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

add demo start
  sessions/nextjs-dynamic-routes/demo-end/lib/data.js
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/index.js
  sessions/nextjs-dynamic-routes/demo-start/.eslintrc.json
  sessions/nextjs-dynamic-routes/demo-start/.gitignore
  sessions/nextjs-dynamic-routes/demo-start/.npmrc
  sessions/nextjs-dynamic-routes/demo-start/.prettierrc.json
  sessions/nextjs-dynamic-routes/demo-start/.storybook/main.js
  sessions/nextjs-dynamic-routes/demo-start/.storybook/preview.js
  sessions/nextjs-dynamic-routes/demo-start/README.md
  sessions/nextjs-dynamic-routes/demo-start/jest.config.js
  sessions/nextjs-dynamic-routes/demo-start/lib/data.js
  sessions/nextjs-dynamic-routes/demo-start/next.config.js
  sessions/nextjs-dynamic-routes/demo-start/package.json
  sessions/nextjs-dynamic-routes/demo-start/pages/_app.js
  sessions/nextjs-dynamic-routes/demo-start/pages/index.js
  sessions/nextjs-dynamic-routes/demo-start/pages/movies/aquaman.js
  sessions/nextjs-dynamic-routes/demo-start/pages/movies/index.js
  sessions/nextjs-dynamic-routes/demo-start/sandbox.config.json
  sessions/nextjs-dynamic-routes/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

Recap Project 4: Example Implementation (#188)
  package-lock.json
  sessions/recap-project-4/example-implementation/.gitignore
  sessions/recap-project-4/example-implementation/README.md
  sessions/recap-project-4/example-implementation/package.json
  sessions/recap-project-4/example-implementation/public/favicon.ico
  sessions/recap-project-4/example-implementation/public/index.html
  sessions/recap-project-4/example-implementation/public/manifest.json
  sessions/recap-project-4/example-implementation/public/robots.txt
  sessions/recap-project-4/example-implementation/sandbox.config.json
  sessions/recap-project-4/example-implementation/src/App.css
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/components/Form/Form.css
  sessions/recap-project-4/example-implementation/src/components/Form/index.js
  sessions/recap-project-4/example-implementation/src/components/List/List.css
  sessions/recap-project-4/example-implementation/src/components/List/index.js
  sessions/recap-project-4/example-implementation/src/index.css
  sessions/recap-project-4/example-implementation/src/index.js
  sessions/recap-project-4/example-implementation/src/reportWebVitals.js
  sessions/recap-project-4/example-implementation/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

add box challenge (styled-components)
  package-lock.json
  sessions/styled-components/box-with-hover/.eslintrc.json
  sessions/styled-components/box-with-hover/.gitignore
  sessions/styled-components/box-with-hover/.npmrc
  sessions/styled-components/box-with-hover/.prettierrc.json
  sessions/styled-components/box-with-hover/.storybook/main.js
  sessions/styled-components/box-with-hover/.storybook/preview.js
  sessions/styled-components/box-with-hover/README.md
  sessions/styled-components/box-with-hover/components/BoxWithClassName/BoxWithClassName.css
  sessions/styled-components/box-with-hover/components/BoxWithClassName/BoxWithClassName.js
  sessions/styled-components/box-with-hover/jest.config.js
  sessions/styled-components/box-with-hover/next.config.js
  sessions/styled-components/box-with-hover/package.json
  sessions/styled-components/box-with-hover/pages/_app.js
  sessions/styled-components/box-with-hover/pages/index.js
  sessions/styled-components/box-with-hover/sandbox.config.json
  sessions/styled-components/box-with-hover/styles.js
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  README.md
  recipes/README.md
  recipes/html-css-js/files/README.md
  recipes/next/files/sandbox.config.json
  scripts/cook.js
Due: npx eslint --fix, npx prettier --write

change info to note
  README.md
Due: npx prettier --write

fix link
  README.md
Due: npx prettier --write

keep favicon
  recipes/next/recipe.js
Due: npx eslint --fix, npx prettier --write

update templates link
  README.md
  recipes/README.md
Due: npx prettier --write

Update sessions/react-effects-and-fetch/iss-tracker/src/components/Map/Map.css
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/Map.css
Due: none

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
