Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

use script arguments as session name
  package.json
  scripts/migrate-vite.js
  scripts/vite-assets/.eslintrc.json
Due: npx eslint --fix, npx prettier --write

fix: downgrade jest to v 26
  scripts/vite-assets/package.json
Due: npx prettier --write

Apply suggestions from code review - renaming challenges
  sessions/js-array-methods/repetition_solution/index.html
  sessions/js-array-methods/repetition_solution/package.json
  sessions/js-array-methods/spa-1/index.html
  sessions/js-array-methods/spa-2/index.html
  sessions/js-array-methods/spa-3/index.html
  sessions/js-array-methods/zoo-animals/README.md
  sessions/js-array-methods/zoo-animals/index.html
  sessions/js-array-methods/zoo-animals/package.json
  sessions/js-array-methods/zoo-animals_solution/README.md
  sessions/js-array-methods/zoo-animals_solution/package.json
Due: npx prettier --write

fix: session naming and index.html contents
  sessions/js-functions/arrow-functions/index.html
  sessions/js-functions/arrow-functions/package.json
  sessions/js-functions/arrow-functions_solution/index.html
  sessions/js-functions/arrow-functions_solution/package.json
  sessions/js-functions/basic-calculations/README.md
  sessions/js-functions/basic-calculations/index.html
  sessions/js-functions/basic-calculations/package.json
  sessions/js-functions/basic-calculations_solution/README.md
  sessions/js-functions/basic-calculations_solution/index.html
  sessions/js-functions/basic-calculations_solution/package.json
  sessions/js-functions/basic-functions/index.html
  sessions/js-functions/basic-functions_solution/index.html
  sessions/js-functions/basic-functions_solution/package.json
  sessions/js-functions/demo-end/index.html
  sessions/js-functions/demo-end/js/index.js
  sessions/js-functions/demo-end/package.json
  sessions/js-functions/demo-start/index.html
  sessions/js-functions/demo-start/package.json
  sessions/js-functions/dom-manipulation/index.html
  sessions/js-functions/dom-manipulation_solution/index.html
  sessions/js-functions/dom-manipulation_solution/package.json
  sessions/js-functions/functions-with-parameters-extra/index.html
  sessions/js-functions/functions-with-parameters-extra_solution/index.html
  sessions/js-functions/functions-with-parameters-extra_solution/package.json
  sessions/js-functions/functions-with-parameters/index.html
  sessions/js-functions/functions-with-parameters_solution/index.html
  sessions/js-functions/functions-with-parameters_solution/package.json
  sessions/js-functions/greeting-page/index.html
  sessions/js-functions/greeting-page/package.json
  sessions/js-functions/greeting-page_solution/index.html
  sessions/js-functions/greeting-page_solution/package.json
  sessions/js-functions/pizza-analyzer/index.html
  sessions/js-functions/pizza-analyzer_solution/index.html
  sessions/js-functions/pizza-analyzer_solution/package.json
  sessions/js-functions/progress-bar/index.html
  sessions/js-functions/progress-bar/package.json
  sessions/js-functions/progress-bar_solution/index.html
  sessions/js-functions/progress-bar_solution/package.json
  sessions/js-functions/vending-machine/index.html
  sessions/js-functions/vending-machine_advanced/README.md
Due: npx eslint --fix, npx prettier --write

fix: codesandbox references in package.json
  sessions/js-functions/demo-end/package.json
  sessions/js-functions/demo-start/index.html
  sessions/js-functions/demo-start/package.json
Due: npx prettier --write

del: remove codesandbox from unit-testing
  sessions/js-unit-testing/demo-end/.codesandbox/tasks.json
  sessions/js-unit-testing/demo-end/README.md
  sessions/js-unit-testing/demo-end/sandbox.config.json
  sessions/js-unit-testing/demo-start/.codesandbox/tasks.json
  sessions/js-unit-testing/demo-start/README.md
  sessions/js-unit-testing/demo-start/sandbox.config.json
  sessions/js-unit-testing/get-animal/.codesandbox/tasks.json
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/sandbox.config.json
  sessions/js-unit-testing/math-functions/.codesandbox/tasks.json
  sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/sandbox.config.json
  sessions/js-unit-testing/people/.codesandbox/tasks.json
  sessions/js-unit-testing/people/README.md
  sessions/js-unit-testing/people/sandbox.config.json
Due: npx prettier --write

fix: session naming
  sessions/js-array-methods/animal-objects/README.md
  sessions/js-array-methods/animal-objects_solution/README.md
  sessions/js-array-methods/animal-strings/README.md
  sessions/js-array-methods/animal-strings/package.json
  sessions/js-array-methods/animal-strings_solution/README.md
  sessions/js-array-methods/filter/README.md
  sessions/js-array-methods/filter_solution/README.md
  sessions/js-array-methods/map/README.md
  sessions/js-array-methods/map_solution/README.md
  sessions/js-array-methods/repetition/index.html
  sessions/js-array-methods/zoo-animals_solution/index.html
Due: npx prettier --write

rename description in package.json
  sessions/react-styled-components/card-conversion-cra/package.json
  sessions/react-styled-components/styled-button-cra/package.json
Due: npx prettier --write

fix: append _solution to challenge solution names in package.json
  sessions/js-loops/demo-end/.prettierrc.json
  sessions/js-loops/demo-start/.prettierrc.json
  sessions/js-loops/for-console/.prettierrc.json
  sessions/js-loops/for-console_solution/.prettierrc.json
  sessions/js-loops/for-console_solution/package.json
  sessions/js-loops/forin-select-nav/.prettierrc.json
  sessions/js-loops/forin-select-nav_solution/.prettierrc.json
  sessions/js-loops/forin-select-nav_solution/package.json
  sessions/js-loops/forof-list/.prettierrc.json
  sessions/js-loops/forof-list_solution/.prettierrc.json
  sessions/js-loops/forof-list_solution/package.json
  sessions/js-loops/pixels/.prettierrc.json
  sessions/js-loops/pixels_solution/.prettierrc.json
  sessions/js-loops/pixels_solution/package.json
  sessions/js-loops/stars/.prettierrc.json
  sessions/js-loops/stars_solution/.prettierrc.json
  sessions/js-loops/stars_solution/package.json
  sessions/js-loops/while-random-number/.prettierrc.json
  sessions/js-loops/while-random-number_solution/.prettierrc.json
  sessions/js-loops/while-random-number_solution/package.json
Due: npx prettier --write

Reintroduce unit testing demo and exercises (#395)
  sessions/js-unit-testing/demo-end/.eslintrc.json
  sessions/js-unit-testing/demo-end/.gitignore
  sessions/js-unit-testing/demo-end/.prettierrc.json
  sessions/js-unit-testing/demo-end/README.md
  sessions/js-unit-testing/demo-end/greet.js
  sessions/js-unit-testing/demo-end/greet.test.js
  sessions/js-unit-testing/demo-end/index.html
  sessions/js-unit-testing/demo-end/index.js
  sessions/js-unit-testing/demo-end/package.json
  sessions/js-unit-testing/demo-start/.eslintrc.json
  sessions/js-unit-testing/demo-start/.gitignore
  sessions/js-unit-testing/demo-start/.prettierrc.json
  sessions/js-unit-testing/demo-start/README.md
  sessions/js-unit-testing/demo-start/greet.js
  sessions/js-unit-testing/demo-start/index.html
  sessions/js-unit-testing/demo-start/index.js
  sessions/js-unit-testing/demo-start/package.json
  sessions/js-unit-testing/get-animal/.eslintrc.json
  sessions/js-unit-testing/get-animal/.gitignore
  sessions/js-unit-testing/get-animal/.prettierrc.json
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.html
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/index.test.js
  sessions/js-unit-testing/get-animal/package.json
  sessions/js-unit-testing/math-functions/.eslintrc.json
  sessions/js-unit-testing/math-functions/.gitignore
  sessions/js-unit-testing/math-functions/.prettierrc.json
  sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/index.html
  sessions/js-unit-testing/math-functions/index.js
  sessions/js-unit-testing/math-functions/package.json
  sessions/js-unit-testing/people/.eslintrc.json
  sessions/js-unit-testing/people/.gitignore
  sessions/js-unit-testing/people/.prettierrc.json
  sessions/js-unit-testing/people/README.md
  sessions/js-unit-testing/people/index.html
  sessions/js-unit-testing/people/index.js
  sessions/js-unit-testing/people/index.test.js
  sessions/js-unit-testing/people/package.json
Due: npx eslint --fix, npx prettier --write

fix: make project names unique
  sessions/js-functions-1/basic-functions/package.json
  sessions/js-functions-1/dom-manipulation/package.json
  sessions/js-functions-1/functions-with-parameters-extra/package.json
  sessions/js-functions-1/functions-with-parameters/package.json
  sessions/js-functions-1/pizza-analyzer/package.json
  sessions/js-functions-1/vending-machine/package.json
Due: npx prettier --write

update package-lock.json
  package-lock.json
Due: npx prettier --write

fix: use jest plugin v 26 for compatibility
  bun.lockb
  package-lock.json
  scripts/vite-assets/package.json
  sessions/react-basics/attributes/package.json
Due: npx prettier --write

fix: update jest plugin version in react basics
  sessions/react-basics/attributes/package.json
  sessions/react-basics/attributes_solution/package.json
  sessions/react-basics/demo-end/package.json
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/demo-start/package.json
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world-article_solution/package.json
  sessions/react-basics/hello-world/package.json
  sessions/react-basics/hello-world_solution/package.json
Due: npx prettier --write

add: bun.lockb
  bun.lockb
Due: none

fix: correct file extension
  sessions/react-basics/demo-start/src/VanillaApp.js
Due: npx eslint --fix, npx prettier --write

migrate react-effects-and-fetch
  sessions/react-effects-and-fetch/api-status/.eslintrc.json
  sessions/react-effects-and-fetch/api-status/package.json
  sessions/react-effects-and-fetch/api-status/vite.config.js
  sessions/react-effects-and-fetch/api-status_solution/.eslintrc.json
  sessions/react-effects-and-fetch/api-status_solution/package.json
  sessions/react-effects-and-fetch/api-status_solution/vite.config.js
  sessions/react-effects-and-fetch/demo-end/.eslintrc.json
  sessions/react-effects-and-fetch/demo-end/package.json
  sessions/react-effects-and-fetch/demo-end/vite.config.js
  sessions/react-effects-and-fetch/demo-start/.eslintrc.json
  sessions/react-effects-and-fetch/demo-start/package.json
  sessions/react-effects-and-fetch/demo-start/vite.config.js
  sessions/react-effects-and-fetch/iss-tracker/.eslintrc.json
  sessions/react-effects-and-fetch/iss-tracker/package.json
  sessions/react-effects-and-fetch/iss-tracker/vite.config.js
  sessions/react-effects-and-fetch/iss-tracker_solution/.eslintrc.json
  sessions/react-effects-and-fetch/iss-tracker_solution/package.json
  sessions/react-effects-and-fetch/iss-tracker_solution/vite.config.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/package.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/vite.config.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/package.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/vite.config.js
  sessions/react-effects-and-fetch/pokemon-api/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api/package.json
  sessions/react-effects-and-fetch/pokemon-api/vite.config.js
  sessions/react-effects-and-fetch/pokemon-api_solution/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api_solution/package.json
  sessions/react-effects-and-fetch/pokemon-api_solution/vite.config.js
Due: npx eslint --fix, npx prettier --write

fix: rename vanillaApp in react-basics
  sessions/react-basics/demo-start/src/VanillaApp.js
Due: npx eslint --fix, npx prettier --write

fix: update react-basics demo
  sessions/react-basics/demo-end/index.html
  sessions/react-basics/demo-end/src/VanillaApp.js
  sessions/react-basics/demo-start/index.html
Due: npx eslint --fix, npx prettier --write

replace old react template with vite template
  templates/react-minimal/.codesandbox/tasks.json
  templates/react-minimal/.gitignore
  templates/react-minimal/.prettierrc.json
  templates/react-minimal/README.md
  templates/react-minimal/package.json
  templates/react-minimal/sandbox.config.json
  templates/react/.codesandbox/tasks.json
  templates/react/.eslintrc.json
  templates/react/.gitignore
  templates/react/.prettierrc.json
  templates/react/README.md
  templates/react/index.css
  templates/react/index.html
  templates/react/package.json
  templates/react/public/.gitkeep
  templates/react/public/favicon.ico
  templates/react/public/index.html
  templates/react/public/logo192.png
  templates/react/public/logo512.png
  templates/react/public/manifest.json
  templates/react/public/robots.txt
  templates/react/sandbox.config.json
  templates/react/src/App.css
  templates/react/src/App.js
  templates/react/src/App.jsx
  templates/react/src/App.test.js
  templates/react/src/index.css
  templates/react/src/index.js
  templates/react/src/index.jsx
  templates/react/src/logo.svg
  templates/react/src/reportWebVitals.js
  templates/react/src/setupTests.js
  templates/react/src/styles.css
  templates/react/vite.config.js
Due: npx eslint --fix, npx prettier --write

fix: replace swapi.dev with swapi.py4e.com
  sessions/js-fetch/star-wars/js/index.js
  sessions/js-fetch/star-wars_solution/README.md
  sessions/js-fetch/star-wars_solution/js/index.js
  sessions/react-data-fetching/star-wars/README.md
  sessions/react-data-fetching/star-wars_solution/README.md
  sessions/react-data-fetching/star-wars_solution/pages/characters/[id].js
Due: npx eslint --fix, npx prettier --write
