Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

refresh demo styling
  sessions/react-state-3/demo-end/src/App.js
  sessions/react-state-3/demo-end/src/components/Form/Form.css
  sessions/react-state-3/demo-end/src/components/Form/index.js
  sessions/react-state-3/demo-end/src/components/Movie/Movie.css
  sessions/react-state-3/demo-end/src/components/Movie/index.js
  sessions/react-state-3/demo-end/src/styles.css
  sessions/react-state-3/demo-start/src/App.js
  sessions/react-state-3/demo-start/src/components/Form/Form.css
  sessions/react-state-3/demo-start/src/components/Form/index.js
  sessions/react-state-3/demo-start/src/components/Movie/Movie.css
  sessions/react-state-3/demo-start/src/components/Movie/index.js
  sessions/react-state-3/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

remove unnecessary role
  sessions/react-state-3/demo-end/src/App.js
  sessions/react-state-3/demo-start/src/App.js
Due: npx eslint --fix, npx prettier --write

fix name input to be required
  sessions/react-state-3/demo-end/src/components/Form/index.js
  sessions/react-state-3/demo-start/src/components/Form/index.js
Due: npx eslint --fix, npx prettier --write

add demo for session react-effects-and-fetch
  package-lock.json
  sessions/react-effects-and-fetch/demo-end/.eslintrc.json
  sessions/react-effects-and-fetch/demo-end/.gitignore
  sessions/react-effects-and-fetch/demo-end/.prettierrc.json
  sessions/react-effects-and-fetch/demo-end/README.md
  sessions/react-effects-and-fetch/demo-end/package.json
  sessions/react-effects-and-fetch/demo-end/public/index.html
  sessions/react-effects-and-fetch/demo-end/sandbox.config.json
  sessions/react-effects-and-fetch/demo-end/src/App.js
  sessions/react-effects-and-fetch/demo-end/src/components/Joke.js
  sessions/react-effects-and-fetch/demo-end/src/index.js
  sessions/react-effects-and-fetch/demo-end/src/styles.css
  sessions/react-effects-and-fetch/demo-start/.eslintrc.json
  sessions/react-effects-and-fetch/demo-start/.gitignore
  sessions/react-effects-and-fetch/demo-start/.prettierrc.json
  sessions/react-effects-and-fetch/demo-start/README.md
  sessions/react-effects-and-fetch/demo-start/package.json
  sessions/react-effects-and-fetch/demo-start/public/index.html
  sessions/react-effects-and-fetch/demo-start/sandbox.config.json
  sessions/react-effects-and-fetch/demo-start/src/App.js
  sessions/react-effects-and-fetch/demo-start/src/components/Joke.js
  sessions/react-effects-and-fetch/demo-start/src/index.js
  sessions/react-effects-and-fetch/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

add pokemon-api challenge for react-effects-and-fetch session
  package-lock.json
  sessions/react-effects-and-fetch/pokemon-api/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api/.gitignore
  sessions/react-effects-and-fetch/pokemon-api/.prettierrc.json
  sessions/react-effects-and-fetch/pokemon-api/README.md
  sessions/react-effects-and-fetch/pokemon-api/package.json
  sessions/react-effects-and-fetch/pokemon-api/public/index.html
  sessions/react-effects-and-fetch/pokemon-api/sandbox.config.json
  sessions/react-effects-and-fetch/pokemon-api/src/App.js
  sessions/react-effects-and-fetch/pokemon-api/src/component/PokemonList.js
  sessions/react-effects-and-fetch/pokemon-api/src/index.js
  sessions/react-effects-and-fetch/pokemon-api/src/styles.css
Due: npx eslint --fix, npx prettier --write

create stored note challenge
  package-lock.json
  sessions/react-with-local-storage/stored-note/.eslintrc.json
  sessions/react-with-local-storage/stored-note/.gitignore
  sessions/react-with-local-storage/stored-note/.prettierrc.json
  sessions/react-with-local-storage/stored-note/README.md
  sessions/react-with-local-storage/stored-note/package.json
  sessions/react-with-local-storage/stored-note/public/index.html
  sessions/react-with-local-storage/stored-note/sandbox.config.json
  sessions/react-with-local-storage/stored-note/src/App.js
  sessions/react-with-local-storage/stored-note/src/components/FontSelector.css
  sessions/react-with-local-storage/stored-note/src/components/FontSelector.js
  sessions/react-with-local-storage/stored-note/src/components/Note.css
  sessions/react-with-local-storage/stored-note/src/components/Note.js
  sessions/react-with-local-storage/stored-note/src/index.js
  sessions/react-with-local-storage/stored-note/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-effects-and-localstorage/journal-app-localstorage/src/App.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/App.js
Due: npx eslint --fix, npx prettier --write

add draft for journal app starting template
  sessions/react-effects-and-localstorage/journal-app-localstorage/.gitignore
  sessions/react-effects-and-localstorage/journal-app-localstorage/README.md
  sessions/react-effects-and-localstorage/journal-app-localstorage/package.json
  sessions/react-effects-and-localstorage/journal-app-localstorage/public/index.html
  sessions/react-effects-and-localstorage/journal-app-localstorage/sandbox.config.json
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/App.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/App.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/colors.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Badge/Badge.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Badge/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Button/Button.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Button/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Divider/Divider.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Divider/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/EntriesSection.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Entry/Entry.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Entry/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntryForm/EntryForm.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntryForm/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/FavoriteButton/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/FavoriteButton/star-filled.svg
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/FavoriteButton/star.svg
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Footer/Footer.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Footer/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Header/Header.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Header/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tab/Tab.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tab/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tabs/Tabs.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tabs/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/index.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/reportWebVitals.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

Update sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/index.js
Due: npx eslint --fix, npx prettier --write

mv folder
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/.gitignore
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/README.md
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/package.json
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/public/index.html
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/sandbox.config.json
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/App.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/App.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/colors.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Badge/Badge.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Badge/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Button/Button.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Button/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Divider/Divider.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Divider/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/EntriesSection/EntriesSection.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/EntriesSection/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Entry/Entry.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Entry/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/EntryForm/EntryForm.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/EntryForm/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/FavoriteButton/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/FavoriteButton/star-filled.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/FavoriteButton/star.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Footer/Footer.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Footer/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Header/Header.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Header/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Tab/Tab.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Tab/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Tabs/Tabs.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/components/Tabs/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/index.css
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/reportWebVitals.js
  sessions/react-with-local-storage/journal-app-with-local-storage/journal-app-localstorage/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

fix isActive prop naming in useEffect journal app challenge
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Badge/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tab/index.js
Due: npx eslint --fix, npx prettier --write

fix small issues with journal app
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Badge/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Divider/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Entry/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntryForm/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/FavoriteButton/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tab/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tabs/index.js
Due: npx eslint --fix, npx prettier --write

integrate pr feedback to react-effects-and-localstorage journal app challenge
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Button/Button.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntryForm/EntryForm.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntryForm/index.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tab/Tab.css
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/Tabs/Tabs.css
Due: npx eslint --fix, npx prettier --write

mv folder
  sessions/react-with-local-storage/journal-app-with-local-storage/.gitignore
  sessions/react-with-local-storage/journal-app-with-local-storage/README.md
  sessions/react-with-local-storage/journal-app-with-local-storage/package.json
  sessions/react-with-local-storage/journal-app-with-local-storage/public/index.html
  sessions/react-with-local-storage/journal-app-with-local-storage/sandbox.config.json
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/colors.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Badge/Badge.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Badge/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Button/Button.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Button/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Divider/Divider.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Divider/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntriesSection/EntriesSection.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntriesSection/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Entry/Entry.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Entry/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntryForm/EntryForm.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntryForm/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/star-filled.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/star.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Footer/Footer.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Footer/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Header/Header.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Header/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tab/Tab.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tab/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tabs/Tabs.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tabs/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/index.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/reportWebVitals.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

fix code formatting and prop names
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/App.js
  sessions/react-effects-and-localstorage/journal-app-localstorage/src/components/EntriesSection/index.js
Due: npx eslint --fix, npx prettier --write

add pokemon-api-with-paging as challenge for react-effects-and-fetch session
  package-lock.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.gitignore
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.prettierrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging/package.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/public/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging/sandbox.config.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/App.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/index.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/styles.css
Due: npx eslint --fix, npx prettier --write

update starter
  sessions/react-with-local-storage/journal-app-with-local-storage/README.md
  sessions/react-with-local-storage/journal-app-with-local-storage/package.json
Due: npx prettier --write

add minor improvements
  sessions/react-effects-and-fetch/pokemon-api/README.md
  sessions/react-effects-and-fetch/pokemon-api/package.json
  sessions/react-effects-and-fetch/pokemon-api/public/index.html
  sessions/react-effects-and-fetch/pokemon-api/src/App.js
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.js
  sessions/react-useeffect-with-fetch/pokemon-api/.codesandbox/workspace.json
  sessions/react-useeffect-with-fetch/pokemon-api/package.json
  sessions/react-useeffect-with-fetch/pokemon-api/public/index.html
  sessions/react-useeffect-with-fetch/pokemon-api/src/App.js
  sessions/react-useeffect-with-fetch/pokemon-api/src/index.js
  sessions/react-useeffect-with-fetch/pokemon-api/src/styles.css
Due: npx eslint --fix, npx prettier --write

add minor improvements
  sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging/package.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/public/index.html
Due: npx prettier --write

add iss-tracker exercise for react-effects-and-fetch session
  package-lock.json
  sessions/react-effects-and-fetch/iss-tracker/.eslintrc.json
  sessions/react-effects-and-fetch/iss-tracker/.gitignore
  sessions/react-effects-and-fetch/iss-tracker/.prettierrc.json
  sessions/react-effects-and-fetch/iss-tracker/README.md
  sessions/react-effects-and-fetch/iss-tracker/package.json
  sessions/react-effects-and-fetch/iss-tracker/public/index.html
  sessions/react-effects-and-fetch/iss-tracker/sandbox.config.json
  sessions/react-effects-and-fetch/iss-tracker/src/App.js
  sessions/react-effects-and-fetch/iss-tracker/src/components/Controls/Controls.css
  sessions/react-effects-and-fetch/iss-tracker/src/components/Controls/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/Map.css
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/styles.css
Due: npx eslint --fix, npx prettier --write

add api-status challenge to react-effect-and-fetch session
  package-lock.json
  sessions/react-effects-and-fetch/api-status/.eslintrc.json
  sessions/react-effects-and-fetch/api-status/.gitignore
  sessions/react-effects-and-fetch/api-status/.prettierrc.json
  sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-effects-and-fetch/api-status/package.json
  sessions/react-effects-and-fetch/api-status/public/index.html
  sessions/react-effects-and-fetch/api-status/sandbox.config.json
  sessions/react-effects-and-fetch/api-status/src/App.js
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/StatusCheck.css
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/index.js
  sessions/react-effects-and-fetch/api-status/src/index.js
  sessions/react-effects-and-fetch/api-status/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat: add basic solution
  package-lock.json
  sessions/js-functions/pizza-analyzer/.eslintrc.json
  sessions/js-functions/pizza-analyzer/.gitignore
  sessions/js-functions/pizza-analyzer/.prettierrc.json
  sessions/js-functions/pizza-analyzer/README.md
  sessions/js-functions/pizza-analyzer/css/styles.css
  sessions/js-functions/pizza-analyzer/index.html
  sessions/js-functions/pizza-analyzer/js/index.js
  sessions/js-functions/pizza-analyzer/package.json
  sessions/js-functions/pizza-analyzer/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add color change for output section
  sessions/js-functions/pizza-analyzer/css/styles.css
  sessions/js-functions/pizza-analyzer/index.html
  sessions/js-functions/pizza-analyzer/js/index.js
Due: npx eslint --fix, npx prettier --write

chore: add challenge task descriptions
  sessions/js-functions/pizza-analyzer/README.md
Due: npx prettier --write

fix: remove solution code
  sessions/js-functions/pizza-analyzer/js/index.js
Due: npx eslint --fix, npx prettier --write

feat: improve pizza display style
  sessions/js-functions/pizza-analyzer/css/styles.css
Due: none

fix: change pizza border size
  sessions/js-functions/pizza-analyzer/css/styles.css
Due: none

feat: add comments where to start coding
  sessions/js-functions/pizza-analyzer/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: typo
  sessions/js-functions/pizza-analyzer/README.md
Due: npx prettier --write

Apply suggestions from code review
  sessions/js-functions/pizza-analyzer/README.md
  sessions/js-functions/pizza-analyzer/index.html
Due: npx prettier --write

fix: include suggestions from review
  sessions/js-functions/pizza-analyzer/README.md
  sessions/js-functions/pizza-analyzer/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: remove outdated rulesest
  sessions/js-functions/pizza-analyzer/css/styles.css
Due: none
