Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

change eslint config
  sessions/react-props/demo-end/.eslintrc.cjs
  sessions/react-props/demo-end/.eslintrc.json
Due: npx prettier --write

turned off eslint prop-types
  sessions/react-nesting/navigation/.eslintrc.cjs
Due: none

turned off eslint prop-types
  sessions/react-nesting/demo-composition/.eslintrc.cjs
Due: none

add and remove packages
  sessions/react-props/demo-end/package.json
Due: npx prettier --write

changed title
  sessions/react-nesting/navigation/index.html
Due: none

changed package json title and description
  sessions/react-nesting/navigation/package.json
Due: npx prettier --write

changed package json title and description
  sessions/react-nesting/fragments/package.json
Due: npx prettier --write

changing js to jsx and on file per component
  sessions/react-props/demo-end/.eslintrc.cjs
  sessions/react-props/demo-end/src/App.css
  sessions/react-props/demo-end/src/App.jsx
  sessions/react-props/demo-end/src/Pet.jsx
  sessions/react-props/demo-end/src/index.jsx
Due: npx eslint --fix, npx prettier --write

changed package json title and description
  sessions/react-nesting/fragments/index.html
  sessions/react-nesting/fragments/package.json
Due: npx prettier --write

add vite config
  sessions/react-props/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html file and add favicon
  sessions/react-props/demo-end/index.html
  sessions/react-props/demo-end/public/favicon.ico
Due: none

changed package json title and description
  sessions/react-nesting/buttons-and-children/index.html
  sessions/react-nesting/buttons-and-children/package.json
Due: npx prettier --write

update readme
  sessions/react-props/demo-end/README.md
Due: npx prettier --write

removed image and added nf template in package.json
  sessions/react-nesting/buttons-and-children/package.json
  sessions/react-nesting/buttons-and-children/public/vite.svg
Due: npx prettier --write

removed image and added nf template in package.json
  sessions/react-nesting/fragments/package.json
  sessions/react-nesting/fragments/public/vite.svg
  sessions/react-nesting/fragments/src/assets/react.svg
Due: npx prettier --write

removed image and added nf template in package.json
  sessions/react-nesting/navigation/package.json
  sessions/react-nesting/navigation/public/vite.svg
  sessions/react-nesting/navigation/src/assets/react.svg
Due: npx prettier --write

removed image and added nf template in package.json
  sessions/react-nesting/demo-composition/package.json
  sessions/react-nesting/demo-composition/public/vite.svg
  sessions/react-nesting/demo-composition/src/assets/react.svg
Due: npx prettier --write

removed image and added nf template in package.json
  sessions/react-nesting/demo-start/package.json
  sessions/react-nesting/demo-start/public/vite.svg
  sessions/react-nesting/demo-start/src/assets/react.svg
Due: npx prettier --write

added demo end
  sessions/react-nesting/demo-end/.eslintrc.cjs
  sessions/react-nesting/demo-end/.eslintrc.json
  sessions/react-nesting/demo-end/.gitignore
  sessions/react-nesting/demo-end/.prettierrc.json
  sessions/react-nesting/demo-end/README.md
  sessions/react-nesting/demo-end/index.html
  sessions/react-nesting/demo-end/package.json
  sessions/react-nesting/demo-end/public/index.html
  sessions/react-nesting/demo-end/src/App.css
  sessions/react-nesting/demo-end/src/App.jsx
  sessions/react-nesting/demo-end/src/index.js
  sessions/react-nesting/demo-end/src/main.jsx
  sessions/react-nesting/demo-end/vite.config.js
  sessions/react-nesting/demo-start/package.json
Due: npx eslint --fix, npx prettier --write

added demo end
  sessions/react-nesting/demo-end/README.md
Due: npx prettier --write

updated readme
  sessions/react-nesting/navigation/README.md
  sessions/react-nesting/navigation/public/favicon.ico
Due: npx prettier --write

added favicon
  sessions/react-nesting/fragments/public/favicon.ico
Due: none

changed title in indexhtml
  sessions/react-nesting/demo-composition/index.html
Due: none

fix typo in challenge description
  sessions/js-array-methods-2/zoo-animals/README.md
  sessions/js-array-methods-2/zoo-animals/js/index.js
Due: npx eslint --fix, npx prettier --write

changed package.json
  sessions/react-nesting/demo-composition/package.json
Due: npx prettier --write

fix small typo
  sessions/js-array-methods-2/zoo-animals/README.md
Due: npx prettier --write

delete unnessesary files and fix typos
  sessions/js-array-methods-2/demo-start/README.md
  sessions/js-array-methods-2/demo-start/js/index.test.js
  sessions/js-array-methods-2/demo-start/js/utils.js
Due: npx eslint --fix, npx prettier --write

initialized vite app
  sessions/react-state/box-old/.eslintrc.json
  sessions/react-state/box-old/.gitignore
  sessions/react-state/box-old/.prettierrc.json
  sessions/react-state/box-old/README.md
  sessions/react-state/box-old/package.json
  sessions/react-state/box-old/public/index.html
  sessions/react-state/box-old/src/App.js
  sessions/react-state/box-old/src/index.js
  sessions/react-state/box-old/src/styles.css
  sessions/react-state/box/.eslintrc.cjs
  sessions/react-state/box/.gitignore
  sessions/react-state/box/README.md
  sessions/react-state/box/index.html
  sessions/react-state/box/package.json
  sessions/react-state/box/public/vite.svg
  sessions/react-state/box/src/App.css
  sessions/react-state/box/src/App.jsx
  sessions/react-state/box/src/assets/react.svg
  sessions/react-state/box/src/index.css
  sessions/react-state/box/src/main.jsx
  sessions/react-state/box/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/box/README.md
  sessions/react-state/box/index.html
  sessions/react-state/box/package.json
  sessions/react-state/box/src/App.css
  sessions/react-state/box/src/App.jsx
  sessions/react-state/box/src/index.css
  sessions/react-state/box/src/main.jsx
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/box-old/.eslintrc.json
  sessions/react-state/box-old/.gitignore
  sessions/react-state/box-old/.prettierrc.json
  sessions/react-state/box-old/README.md
  sessions/react-state/box-old/package.json
  sessions/react-state/box-old/public/index.html
  sessions/react-state/box-old/src/App.js
  sessions/react-state/box-old/src/index.js
  sessions/react-state/box-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

initialized vite app
  sessions/react-state/counter-old/.eslintrc.json
  sessions/react-state/counter-old/.gitignore
  sessions/react-state/counter-old/.prettierrc.json
  sessions/react-state/counter-old/README.md
  sessions/react-state/counter-old/package.json
  sessions/react-state/counter-old/public/index.html
  sessions/react-state/counter-old/src/App.js
  sessions/react-state/counter-old/src/index.js
  sessions/react-state/counter-old/src/styles.css
  sessions/react-state/counter/.eslintrc.cjs
  sessions/react-state/counter/.gitignore
  sessions/react-state/counter/README.md
  sessions/react-state/counter/index.html
  sessions/react-state/counter/package.json
  sessions/react-state/counter/public/vite.svg
  sessions/react-state/counter/src/App.css
  sessions/react-state/counter/src/App.jsx
  sessions/react-state/counter/src/assets/react.svg
  sessions/react-state/counter/src/index.css
  sessions/react-state/counter/src/main.jsx
  sessions/react-state/counter/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/counter-old/.eslintrc.json
  sessions/react-state/counter-old/.gitignore
  sessions/react-state/counter-old/.prettierrc.json
  sessions/react-state/counter-old/README.md
  sessions/react-state/counter-old/package.json
  sessions/react-state/counter-old/public/index.html
  sessions/react-state/counter-old/src/App.js
  sessions/react-state/counter-old/src/index.js
  sessions/react-state/counter-old/src/styles.css
  sessions/react-state/counter/README.md
  sessions/react-state/counter/index.html
  sessions/react-state/counter/package.json
  sessions/react-state/counter/public/favicon.ico
  sessions/react-state/counter/public/vite.svg
  sessions/react-state/counter/src/App.css
  sessions/react-state/counter/src/App.jsx
  sessions/react-state/counter/src/assets/react.svg
  sessions/react-state/counter/src/index.css
  sessions/react-state/counter/src/main.jsx
Due: npx eslint --fix, npx prettier --write

removed images and added favicon
  sessions/react-state/box/public/favicon.ico
  sessions/react-state/box/public/vite.svg
  sessions/react-state/box/src/assets/react.svg
Due: none

initialized vite app
  sessions/react-state/emoji-checker-old/.eslintrc.json
  sessions/react-state/emoji-checker-old/.gitignore
  sessions/react-state/emoji-checker-old/.prettierrc.json
  sessions/react-state/emoji-checker-old/README.md
  sessions/react-state/emoji-checker-old/package.json
  sessions/react-state/emoji-checker-old/public/index.html
  sessions/react-state/emoji-checker-old/src/App.js
  sessions/react-state/emoji-checker-old/src/index.js
  sessions/react-state/emoji-checker-old/src/styles.css
  sessions/react-state/emoji-checker/.eslintrc.cjs
  sessions/react-state/emoji-checker/.gitignore
  sessions/react-state/emoji-checker/README.md
  sessions/react-state/emoji-checker/index.html
  sessions/react-state/emoji-checker/package.json
  sessions/react-state/emoji-checker/public/vite.svg
  sessions/react-state/emoji-checker/src/App.css
  sessions/react-state/emoji-checker/src/App.jsx
  sessions/react-state/emoji-checker/src/assets/react.svg
  sessions/react-state/emoji-checker/src/index.css
  sessions/react-state/emoji-checker/src/main.jsx
  sessions/react-state/emoji-checker/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/emoji-checker/README.md
  sessions/react-state/emoji-checker/index.html
  sessions/react-state/emoji-checker/package.json
  sessions/react-state/emoji-checker/public/favicon.ico
  sessions/react-state/emoji-checker/public/vite.svg
  sessions/react-state/emoji-checker/src/App.jsx
  sessions/react-state/emoji-checker/src/assets/react.svg
  sessions/react-state/emoji-checker/src/index.css
  sessions/react-state/emoji-checker/src/main.jsx
Due: npx eslint --fix, npx prettier --write

deleted old demo
  sessions/react-state/emoji-checker-old/.eslintrc.json
  sessions/react-state/emoji-checker-old/.gitignore
  sessions/react-state/emoji-checker-old/.prettierrc.json
  sessions/react-state/emoji-checker-old/README.md
  sessions/react-state/emoji-checker-old/package.json
  sessions/react-state/emoji-checker-old/public/index.html
  sessions/react-state/emoji-checker-old/src/App.js
  sessions/react-state/emoji-checker-old/src/index.js
  sessions/react-state/emoji-checker-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/journal-app-favorite-button/.eslintrc.cjs
  sessions/react-state/journal-app-favorite-button/README.md
  sessions/react-state/journal-app-favorite-button/index.html
  sessions/react-state/journal-app-favorite-button/package.json
  sessions/react-state/journal-app-favorite-button/public/favicon.ico
  sessions/react-state/journal-app-favorite-button/public/vite.svg
  sessions/react-state/journal-app-favorite-button/src/App.css
  sessions/react-state/journal-app-favorite-button/src/App.jsx
  sessions/react-state/journal-app-favorite-button/src/assets/react.svg
  sessions/react-state/journal-app-favorite-button/src/components/Badge/Badge.css
  sessions/react-state/journal-app-favorite-button/src/components/Badge/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/Button/Button.css
  sessions/react-state/journal-app-favorite-button/src/components/Button/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/Divider/Divider.css
  sessions/react-state/journal-app-favorite-button/src/components/Divider/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/EntriesSection/EntriesSection.css
  sessions/react-state/journal-app-favorite-button/src/components/EntriesSection/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/Entry/Entry.css
  sessions/react-state/journal-app-favorite-button/src/components/Entry/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/EntryForm/EntryForm.css
  sessions/react-state/journal-app-favorite-button/src/components/EntryForm/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star-filled.svg
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star.svg
  sessions/react-state/journal-app-favorite-button/src/components/Footer/Footer.css
  sessions/react-state/journal-app-favorite-button/src/components/Footer/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/Header/Header.css
  sessions/react-state/journal-app-favorite-button/src/components/Header/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/Tab/Tab.css
  sessions/react-state/journal-app-favorite-button/src/components/Tab/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/Tabs/Tabs.css
  sessions/react-state/journal-app-favorite-button/src/components/Tabs/index.jsx
  sessions/react-state/journal-app-favorite-button/src/index.css
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/journal-app-favorite-button-old/.gitignore
  sessions/react-state/journal-app-favorite-button-old/.prettierrc.json
  sessions/react-state/journal-app-favorite-button-old/README.md
  sessions/react-state/journal-app-favorite-button-old/package.json
  sessions/react-state/journal-app-favorite-button-old/public/index.html
  sessions/react-state/journal-app-favorite-button-old/src/App.css
  sessions/react-state/journal-app-favorite-button-old/src/App.js
  sessions/react-state/journal-app-favorite-button-old/src/colors.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Badge/Badge.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Badge/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/Button/Button.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Button/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/Divider/Divider.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Divider/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/EntriesSection/EntriesSection.css
  sessions/react-state/journal-app-favorite-button-old/src/components/EntriesSection/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/Entry/Entry.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Entry/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/EntryForm/EntryForm.css
  sessions/react-state/journal-app-favorite-button-old/src/components/EntryForm/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state/journal-app-favorite-button-old/src/components/FavoriteButton/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/FavoriteButton/star-filled.svg
  sessions/react-state/journal-app-favorite-button-old/src/components/FavoriteButton/star.svg
  sessions/react-state/journal-app-favorite-button-old/src/components/Footer/Footer.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Footer/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/Header/Header.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Header/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/Tab/Tab.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Tab/index.js
  sessions/react-state/journal-app-favorite-button-old/src/components/Tabs/Tabs.css
  sessions/react-state/journal-app-favorite-button-old/src/components/Tabs/index.js
  sessions/react-state/journal-app-favorite-button-old/src/index.css
  sessions/react-state/journal-app-favorite-button-old/src/index.js
  sessions/react-state/journal-app-favorite-button-old/src/reportWebVitals.js
  sessions/react-state/journal-app-favorite-button-old/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
