Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

rename js files to jsx and rename style css to app css
  sessions/react-props/greeting/src/App.css
  sessions/react-props/greeting/src/App.jsx
  sessions/react-props/greeting/src/index.jsx
Due: npx eslint --fix, npx prettier --write

create vite config file
  sessions/react-props/greeting/vite.config.js
Due: npx eslint --fix, npx prettier --write

move index.html and add icon
  sessions/react-props/greeting/index.html
  sessions/react-props/greeting/public/favicon.ico
Due: none

update readme for the changes fix icon in html
  sessions/react-props/greeting/README.md
  sessions/react-props/greeting/index.html
Due: npx prettier --write

add and remove packages from packages.json
  sessions/react-props/smiley/package.json
Due: npx prettier --write

change eslint config
  sessions/react-props/smiley/.eslintrc.cjs
  sessions/react-props/smiley/.eslintrc.json
Due: npx prettier --write

rename js to jsx and style
  sessions/react-props/smiley/src/App.css
  sessions/react-props/smiley/src/App.jsx
  sessions/react-props/smiley/src/index.jsx
Due: npx eslint --fix, npx prettier --write

add vite config
  sessions/react-props/smiley/vite.config.js
Due: npx eslint --fix, npx prettier --write

moving html file
  sessions/react-props/smiley/index.html
  sessions/react-props/smiley/public/favicon.ico
Due: none

update readme to changes
  sessions/react-props/smiley/README.md
Due: npx prettier --write

updated to vite
  sessions/react-nesting/buttons-and-children/.eslintrc.cjs
  sessions/react-nesting/buttons-and-children/.eslintrc.json
  sessions/react-nesting/buttons-and-children/.gitignore
  sessions/react-nesting/buttons-and-children/.prettierrc.json
  sessions/react-nesting/buttons-and-children/README.md
  sessions/react-nesting/buttons-and-children/index.html
  sessions/react-nesting/buttons-and-children/package.json
  sessions/react-nesting/buttons-and-children/public/index.html
  sessions/react-nesting/buttons-and-children/public/vite.svg
  sessions/react-nesting/buttons-and-children/src/App.css
  sessions/react-nesting/buttons-and-children/src/App.jsx
  sessions/react-nesting/buttons-and-children/src/assets/react.svg
  sessions/react-nesting/buttons-and-children/src/index.js
  sessions/react-nesting/buttons-and-children/src/main.jsx
  sessions/react-nesting/buttons-and-children/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-props/sum/package.json
Due: npx prettier --write

eslint files
  sessions/react-props/sum/.eslintrc.cjs
  sessions/react-props/sum/.eslintrc.json
Due: npx prettier --write

add vite config
  sessions/react-props/sum/vite.config.js
Due: npx eslint --fix, npx prettier --write

rename files js to jsa and style
  sessions/react-props/sum/src/App.css
  sessions/react-props/sum/src/App.jsx
  sessions/react-props/sum/src/index.jsx
Due: npx eslint --fix, npx prettier --write

initialized vite app
  sessions/react-nesting/fragments-old/.eslintrc.json
  sessions/react-nesting/fragments-old/.gitignore
  sessions/react-nesting/fragments-old/.prettierrc.json
  sessions/react-nesting/fragments-old/README.md
  sessions/react-nesting/fragments-old/package.json
  sessions/react-nesting/fragments-old/public/index.html
  sessions/react-nesting/fragments-old/src/App.js
  sessions/react-nesting/fragments-old/src/components/Box.js
  sessions/react-nesting/fragments-old/src/index.js
  sessions/react-nesting/fragments-old/src/styles.css
  sessions/react-nesting/fragments/.eslintrc.cjs
  sessions/react-nesting/fragments/.gitignore
  sessions/react-nesting/fragments/README.md
  sessions/react-nesting/fragments/index.html
  sessions/react-nesting/fragments/package.json
  sessions/react-nesting/fragments/public/vite.svg
  sessions/react-nesting/fragments/src/App.css
  sessions/react-nesting/fragments/src/App.jsx
  sessions/react-nesting/fragments/src/assets/react.svg
  sessions/react-nesting/fragments/src/index.css
  sessions/react-nesting/fragments/src/main.jsx
  sessions/react-nesting/fragments/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html file and add favicon
  sessions/react-props/sum/index.html
  sessions/react-props/sum/public/favicon.ico
Due: none

updated codebase
  sessions/react-nesting/fragments/src/App.css
  sessions/react-nesting/fragments/src/App.jsx
  sessions/react-nesting/fragments/src/components/Box.jsx
  sessions/react-nesting/fragments/src/index.css
  sessions/react-nesting/fragments/src/main.jsx
Due: npx eslint --fix, npx prettier --write

updated readme
  sessions/react-nesting/fragments/README.md
Due: npx prettier --write

update readme
  sessions/react-props/sum/README.md
Due: npx prettier --write

removed old challege
  package-lock.json
  sessions/react-nesting/fragments-old/.eslintrc.json
  sessions/react-nesting/fragments-old/.gitignore
  sessions/react-nesting/fragments-old/.prettierrc.json
  sessions/react-nesting/fragments-old/README.md
  sessions/react-nesting/fragments-old/package.json
  sessions/react-nesting/fragments-old/public/index.html
  sessions/react-nesting/fragments-old/src/App.js
  sessions/react-nesting/fragments-old/src/components/Box.js
  sessions/react-nesting/fragments-old/src/index.js
  sessions/react-nesting/fragments-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

initialized vite app
  sessions/react-nesting/navigation/.eslintrc.cjs
  sessions/react-nesting/navigation/.eslintrc.json
  sessions/react-nesting/navigation/.gitignore
  sessions/react-nesting/navigation/.prettierrc.json
  sessions/react-nesting/navigation/README.md
  sessions/react-nesting/navigation/index.html
  sessions/react-nesting/navigation/package.json
  sessions/react-nesting/navigation/public/index.html
  sessions/react-nesting/navigation/public/vite.svg
  sessions/react-nesting/navigation/src/App.css
  sessions/react-nesting/navigation/src/App.js
  sessions/react-nesting/navigation/src/App.jsx
  sessions/react-nesting/navigation/src/assets/react.svg
  sessions/react-nesting/navigation/src/img/avatar.jpg
  sessions/react-nesting/navigation/src/img/logo.jpg
  sessions/react-nesting/navigation/src/index.css
  sessions/react-nesting/navigation/src/index.js
  sessions/react-nesting/navigation/src/main.jsx
  sessions/react-nesting/navigation/src/styles.css
  sessions/react-nesting/navigation/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code base
  sessions/react-nesting/navigation/src/App.css
  sessions/react-nesting/navigation/src/App.jsx
  sessions/react-nesting/navigation/src/assets/avatar.jpg
  sessions/react-nesting/navigation/src/assets/logo.jpg
  sessions/react-nesting/navigation/src/index.css
  sessions/react-nesting/navigation/src/main.jsx
Due: npx eslint --fix, npx prettier --write

updated readme
  sessions/react-nesting/navigation/README.md
Due: npx prettier --write

updated image path
  sessions/react-nesting/navigation/src/App.jsx
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-props/demo-start/package.json
Due: npx prettier --write

initialized vite app
  sessions/react-nesting/demo-composition-old/.eslintrc.json
  sessions/react-nesting/demo-composition-old/.gitignore
  sessions/react-nesting/demo-composition-old/.prettierrc.json
  sessions/react-nesting/demo-composition-old/README.md
  sessions/react-nesting/demo-composition-old/package.json
  sessions/react-nesting/demo-composition-old/public/index.html
  sessions/react-nesting/demo-composition-old/src/App.js
  sessions/react-nesting/demo-composition-old/src/components/Animal.js
  sessions/react-nesting/demo-composition-old/src/components/AnimalCategory.js
  sessions/react-nesting/demo-composition-old/src/components/AnimalEmoji.js
  sessions/react-nesting/demo-composition-old/src/components/Button.js
  sessions/react-nesting/demo-composition-old/src/components/Header.js
  sessions/react-nesting/demo-composition-old/src/index.js
  sessions/react-nesting/demo-composition-old/src/styles.css
  sessions/react-nesting/demo-composition/.eslintrc.cjs
  sessions/react-nesting/demo-composition/.gitignore
  sessions/react-nesting/demo-composition/README.md
  sessions/react-nesting/demo-composition/index.html
  sessions/react-nesting/demo-composition/package.json
  sessions/react-nesting/demo-composition/public/vite.svg
  sessions/react-nesting/demo-composition/src/App.css
  sessions/react-nesting/demo-composition/src/App.jsx
  sessions/react-nesting/demo-composition/src/assets/react.svg
  sessions/react-nesting/demo-composition/src/index.css
  sessions/react-nesting/demo-composition/src/main.jsx
  sessions/react-nesting/demo-composition/vite.config.js
Due: npx eslint --fix, npx prettier --write

change eslint config
  sessions/react-props/demo-start/.eslintrc.cjs
  sessions/react-props/demo-start/.eslintrc.json
Due: npx prettier --write

updated code base
  sessions/react-nesting/demo-composition/src/App.css
  sessions/react-nesting/demo-composition/src/App.jsx
  sessions/react-nesting/demo-composition/src/components/Animal.jsx
  sessions/react-nesting/demo-composition/src/components/AnimalCategory.jsx
  sessions/react-nesting/demo-composition/src/components/AnimalEmoji.jsx
  sessions/react-nesting/demo-composition/src/components/Button.jsx
  sessions/react-nesting/demo-composition/src/components/Header.jsx
  sessions/react-nesting/demo-composition/src/index.css
  sessions/react-nesting/demo-composition/src/main.jsx
Due: npx eslint --fix, npx prettier --write

change files js to jsx and style
  sessions/react-props/demo-start/src/App.css
  sessions/react-props/demo-start/src/App.jsx
  sessions/react-props/demo-start/src/index.jsx
Due: npx eslint --fix, npx prettier --write

updated readme
  sessions/react-nesting/demo-composition/README.md
Due: npx prettier --write

delete old demo
  sessions/react-nesting/demo-composition-old/.eslintrc.json
  sessions/react-nesting/demo-composition-old/.gitignore
  sessions/react-nesting/demo-composition-old/.prettierrc.json
  sessions/react-nesting/demo-composition-old/README.md
  sessions/react-nesting/demo-composition-old/package.json
  sessions/react-nesting/demo-composition-old/public/index.html
  sessions/react-nesting/demo-composition-old/src/App.js
  sessions/react-nesting/demo-composition-old/src/components/Animal.js
  sessions/react-nesting/demo-composition-old/src/components/AnimalCategory.js
  sessions/react-nesting/demo-composition-old/src/components/AnimalEmoji.js
  sessions/react-nesting/demo-composition-old/src/components/Button.js
  sessions/react-nesting/demo-composition-old/src/components/Header.js
  sessions/react-nesting/demo-composition-old/src/index.js
  sessions/react-nesting/demo-composition-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

add vite config
  sessions/react-props/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

initialized vite app
  sessions/react-nesting/demo-start-old/.eslintrc.json
  sessions/react-nesting/demo-start-old/.gitignore
  sessions/react-nesting/demo-start-old/.prettierrc.json
  sessions/react-nesting/demo-start-old/README.md
  sessions/react-nesting/demo-start-old/package.json
  sessions/react-nesting/demo-start-old/public/index.html
  sessions/react-nesting/demo-start-old/src/App.js
  sessions/react-nesting/demo-start-old/src/index.js
  sessions/react-nesting/demo-start-old/src/styles.css
  sessions/react-nesting/demo-start/.eslintrc.cjs
  sessions/react-nesting/demo-start/.gitignore
  sessions/react-nesting/demo-start/README.md
  sessions/react-nesting/demo-start/index.html
  sessions/react-nesting/demo-start/package.json
  sessions/react-nesting/demo-start/public/vite.svg
  sessions/react-nesting/demo-start/src/App.css
  sessions/react-nesting/demo-start/src/App.jsx
  sessions/react-nesting/demo-start/src/assets/react.svg
  sessions/react-nesting/demo-start/src/index.css
  sessions/react-nesting/demo-start/src/main.jsx
  sessions/react-nesting/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-props/demo-start/index.html
  sessions/react-props/demo-start/public/favicon.ico
Due: none

updated code base
  sessions/react-nesting/demo-start-old/.eslintrc.json
  sessions/react-nesting/demo-start-old/.gitignore
  sessions/react-nesting/demo-start-old/.prettierrc.json
  sessions/react-nesting/demo-start-old/README.md
  sessions/react-nesting/demo-start-old/package.json
  sessions/react-nesting/demo-start-old/public/index.html
  sessions/react-nesting/demo-start-old/src/App.js
  sessions/react-nesting/demo-start-old/src/index.js
  sessions/react-nesting/demo-start-old/src/styles.css
  sessions/react-nesting/demo-start/README.md
  sessions/react-nesting/demo-start/src/App.css
  sessions/react-nesting/demo-start/src/App.jsx
  sessions/react-nesting/demo-start/src/index.css
  sessions/react-nesting/demo-start/src/main.jsx
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-props/demo-start/README.md
Due: npx prettier --write

fix link favicon
  sessions/react-props/demo-start/index.html
Due: none

turned off eslint prop-types
  sessions/react-nesting/demo-start/.eslintrc.cjs
Due: none

turned off eslint prop-types
  sessions/react-nesting/fragments/.eslintrc.cjs
Due: none

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
