Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Removing Code Sandbox from exercises in css-positioning
  sessions/css-positioning/absolute-no-advanced-requirements/README.md
  sessions/css-positioning/absolute-no-advanced-requirements/css/styles.css
  sessions/css-positioning/absolute-no-advanced-requirements/sandbox.config.json
  sessions/css-positioning/absolute-top-right-bottom-left/README.md
  sessions/css-positioning/absolute-top-right-bottom-left/sandbox.config.json
  sessions/css-positioning/demo-end/README.md
  sessions/css-positioning/demo-end/sandbox.config.json
  sessions/css-positioning/demo-start/README.md
  sessions/css-positioning/demo-start/sandbox.config.json
  sessions/css-positioning/layout-with-position/README.md
  sessions/css-positioning/layout-with-position/sandbox.config.json
Due: npx prettier --write

run npm i after changing package.json files
  package-lock.json
Due: npx prettier --write

Update: improve instructions for some challenges (#256)
  sessions/js-loops/forin-select-nav/README.md
  sessions/js-loops/stars/README.md
Due: npx prettier --write

fix: add body to index.html (#251)
  sessions/css-structure/selectors-and-cascading/css/styles.css
  sessions/css-structure/selectors-and-cascading/index.html
Due: none

change Flag API
  sessions/js-array-methods-2/fun-with-flags/components/Country/Country.js
Due: npx eslint --fix, npx prettier --write

change Flag API (#273)
  sessions/js-array-methods-2/fun-with-flags/components/Country/Country.js
Due: npx eslint --fix, npx prettier --write

fix: make sure the active class is toggled on the button (event.currentTarget) instead of the svg or path element (current.target)
  sessions/js-structure/quiz-app/index.js
Due: npx eslint --fix, npx prettier --write

update exercise description
  sessions/js-fetch/color-clue/js/fetch.js
Due: npx eslint --fix, npx prettier --write

add article
  sessions/js-fetch/color-clue/js/fetch.js
Due: npx eslint --fix, npx prettier --write

Feat/js fetch color clue (#275)
  sessions/js-fetch/color-clue/js/fetch.js
Due: npx eslint --fix, npx prettier --write

change test text to match function name
  sessions/js-unit-testing/people/index.test.js
Due: npx eslint --fix, npx prettier --write

change test text to match function name (#276)
  sessions/js-unit-testing/people/index.test.js
Due: npx eslint --fix, npx prettier --write

fix: remove function declarations
  sessions/js-functions/pizza-analyzer/README.md
  sessions/js-functions/pizza-analyzer/js/index.js
Due: npx eslint --fix, npx prettier --write

add starter for recap project 6
  package-lock.json
  sessions/recap-project-6/tourio-app/.eslintrc.json
  sessions/recap-project-6/tourio-app/.gitignore
  sessions/recap-project-6/tourio-app/.prettierrc.json
  sessions/recap-project-6/tourio-app/README.md
  sessions/recap-project-6/tourio-app/components/Card.js
  sessions/recap-project-6/tourio-app/components/Form.js
  sessions/recap-project-6/tourio-app/components/Layout.js
  sessions/recap-project-6/tourio-app/components/StyledButton.js
  sessions/recap-project-6/tourio-app/components/StyledImage.js
  sessions/recap-project-6/tourio-app/components/StyledLink.js
  sessions/recap-project-6/tourio-app/components/TitleBar.js
  sessions/recap-project-6/tourio-app/jest.config.js
  sessions/recap-project-6/tourio-app/jest.setup.js
  sessions/recap-project-6/tourio-app/lib/db.js
  sessions/recap-project-6/tourio-app/lib/db.json
  sessions/recap-project-6/tourio-app/next.config.js
  sessions/recap-project-6/tourio-app/package.json
  sessions/recap-project-6/tourio-app/pages/_app.js
  sessions/recap-project-6/tourio-app/pages/_document.js
  sessions/recap-project-6/tourio-app/pages/api/places/[id]/index.js
  sessions/recap-project-6/tourio-app/pages/api/places/index.js
  sessions/recap-project-6/tourio-app/pages/create.js
  sessions/recap-project-6/tourio-app/pages/index.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/edit.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
  sessions/recap-project-6/tourio-app/public/favicon.ico
  sessions/recap-project-6/tourio-app/sandbox.config.json
  sessions/recap-project-6/tourio-app/styles.js
Due: npx eslint --fix, npx prettier --write

add example implementation for recap project 6
  sessions/recap-project-6/example-implementation/.eslintrc.json
  sessions/recap-project-6/example-implementation/.gitignore
  sessions/recap-project-6/example-implementation/.prettierrc.json
  sessions/recap-project-6/example-implementation/README.md
  sessions/recap-project-6/example-implementation/components/Card.js
  sessions/recap-project-6/example-implementation/components/Form.js
  sessions/recap-project-6/example-implementation/components/Layout.js
  sessions/recap-project-6/example-implementation/components/StyledButton.js
  sessions/recap-project-6/example-implementation/components/StyledImage.js
  sessions/recap-project-6/example-implementation/components/StyledLink.js
  sessions/recap-project-6/example-implementation/components/TitleBar.js
  sessions/recap-project-6/example-implementation/db/connect.js
  sessions/recap-project-6/example-implementation/db/models/Place.js
  sessions/recap-project-6/example-implementation/jest.config.js
  sessions/recap-project-6/example-implementation/jest.setup.js
  sessions/recap-project-6/example-implementation/lib/db.js
  sessions/recap-project-6/example-implementation/lib/db.json
  sessions/recap-project-6/example-implementation/next.config.js
  sessions/recap-project-6/example-implementation/package.json
  sessions/recap-project-6/example-implementation/pages/_app.js
  sessions/recap-project-6/example-implementation/pages/_document.js
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/index.js
  sessions/recap-project-6/example-implementation/pages/api/places/index.js
  sessions/recap-project-6/example-implementation/pages/create.js
  sessions/recap-project-6/example-implementation/pages/index.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-6/example-implementation/public/favicon.ico
  sessions/recap-project-6/example-implementation/sandbox.config.json
  sessions/recap-project-6/example-implementation/styles.js
Due: npx eslint --fix, npx prettier --write

fix: make sure the active class is toggled on the button (event.currentTarget) instead of the svg or path element (current.target) (#274)
  sessions/js-structure/quiz-app/index.js
Due: npx eslint --fix, npx prettier --write

fix error message of no env variable is set
  sessions/recap-project-6/example-implementation/db/connect.js
Due: npx eslint --fix, npx prettier --write

fix: remove function declarations (#277)
  sessions/js-functions/pizza-analyzer/README.md
  sessions/js-functions/pizza-analyzer/js/index.js
Due: npx eslint --fix, npx prettier --write

Adding solution with Zustand
  sessions/react-global-state/demo-end__zustand/README.md
  sessions/react-global-state/demo-end__zustand/components/Counter.js
  sessions/react-global-state/demo-end__zustand/components/CounterList.js
  sessions/react-global-state/demo-end__zustand/components/CounterStats.js
  sessions/react-global-state/demo-end__zustand/components/Footer.js
  sessions/react-global-state/demo-end__zustand/components/Header.js
  sessions/react-global-state/demo-end__zustand/components/InfoBox.js
  sessions/react-global-state/demo-end__zustand/components/Layout.js
  sessions/react-global-state/demo-end__zustand/components/Link.js
  sessions/react-global-state/demo-end__zustand/components/Navigation.js
  sessions/react-global-state/demo-end__zustand/jest.config.js
  sessions/react-global-state/demo-end__zustand/jest.setup.js
  sessions/react-global-state/demo-end__zustand/next.config.js
  sessions/react-global-state/demo-end__zustand/package.json
  sessions/react-global-state/demo-end__zustand/pages/_app.js
  sessions/react-global-state/demo-end__zustand/pages/_document.js
  sessions/react-global-state/demo-end__zustand/pages/counters.js
  sessions/react-global-state/demo-end__zustand/pages/index.js
  sessions/react-global-state/demo-end__zustand/public/favicon.ico
  sessions/react-global-state/demo-end__zustand/sandbox.config.json
  sessions/react-global-state/demo-end__zustand/stores/animals.js
  sessions/react-global-state/demo-end__zustand/styles.js
Due: npx eslint --fix, npx prettier --write

Integrate linting basic template from seperate repo
  sessions/linting-basics-template/.eslintignore
  sessions/linting-basics-template/.eslintrc.js
  sessions/linting-basics-template/.gitignore
  sessions/linting-basics-template/.htmlhintrc.json
  sessions/linting-basics-template/.prettierignore
  sessions/linting-basics-template/.prettierrc
  sessions/linting-basics-template/LICENSE
  sessions/linting-basics-template/README.md
  sessions/linting-basics-template/css/global.css
  sessions/linting-basics-template/css/list.css
  sessions/linting-basics-template/css/styles.css
  sessions/linting-basics-template/index.html
  sessions/linting-basics-template/index.js
  sessions/linting-basics-template/package-lock.json
  sessions/linting-basics-template/package.json
Due: npx eslint --fix, npx prettier --write

Change truthy and falsy
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
Due: none

Update readme
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

Update note
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

Update challenge
  sessions/js-structure/spacerocket/jest.config.js
  sessions/js-structure/spacerocket/js/core/rocket.js
  sessions/js-structure/spacerocket/js/launchSequence.test.js
  sessions/js-structure/spacerocket/package.json
Due: npx eslint --fix, npx prettier --write

Update readme
  sessions/react-nesting/navigation/README.md
Due: npx prettier --write

Update challenge (#281)
  sessions/js-structure/spacerocket/jest.config.js
  sessions/js-structure/spacerocket/js/core/rocket.js
  sessions/js-structure/spacerocket/js/launchSequence.test.js
  sessions/js-structure/spacerocket/package.json
Due: npx eslint --fix, npx prettier --write

Update readme (#282)
  sessions/react-nesting/navigation/README.md
Due: npx prettier --write

change next-version to 13.2.4 in React-Styled-Components
  sessions/react-styled-components/box/package.json
  sessions/react-styled-components/demo-end/package.json
  sessions/react-styled-components/demo-start/package.json
  sessions/react-styled-components/lotr-app-styling/package.json
Due: npx prettier --write

change next-version to 13.2.4 in React-Styled-Components (#283)
  sessions/react-styled-components/box/package.json
  sessions/react-styled-components/demo-end/package.json
  sessions/react-styled-components/demo-start/package.json
  sessions/react-styled-components/lotr-app-styling/package.json
Due: npx prettier --write

delete @ from next/font/google-path
  sessions/react-styled-components/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

delete @ from next/font/google-path (#284)
  sessions/react-styled-components/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

update demo end update and delete
  sessions/backend-update-and-delete/demo-end/README.md
  sessions/backend-update-and-delete/demo-end/components/Button/index.js
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-end/components/StyledList/index.js
  sessions/backend-update-and-delete/demo-end/components/StyledListItem/index.js
  sessions/backend-update-and-delete/demo-end/db/connect.js
  sessions/backend-update-and-delete/demo-end/package-lock.json
  sessions/backend-update-and-delete/demo-end/package.json
  sessions/backend-update-and-delete/demo-end/pages/[id].js
  sessions/backend-update-and-delete/demo-end/pages/api/jokes/[id].js
  sessions/backend-update-and-delete/demo-end/pages/api/jokes/index.js
  sessions/backend-update-and-delete/demo-end/pages/index.js
  sessions/backend-update-and-delete/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

fix: package.json name
  sessions/backend-update-and-delete/demo-end/package.json
Due: npx prettier --write

fix: package.json description
  sessions/backend-update-and-delete/demo-end/package.json
Due: npx prettier --write
