Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

refactor: backend update and delete demo start
  sessions/backend-update-and-delete/demo-start/components/Button/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeForm/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-start/components/StyledList/index.js
  sessions/backend-update-and-delete/demo-start/components/StyledListItem/index.js
  sessions/backend-update-and-delete/demo-start/db/connect.js
  sessions/backend-update-and-delete/demo-start/pages/[id].js
  sessions/backend-update-and-delete/demo-start/pages/api/jokes/index.js
  sessions/backend-update-and-delete/demo-start/pages/index.js
  sessions/backend-update-and-delete/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

refactor: backend create demo end
  sessions/backend-create/demo-end/components/JokeForm/index.js
  sessions/backend-create/demo-end/pages/_app.js
Due: npx eslint --fix, npx prettier --write

fix: remove outdated code
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

fix: data is undefined bug in backend create and backend read
  sessions/backend-create/demo-end/components/Joke/index.js
  sessions/backend-create/demo-start/components/Joke/index.js
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-start/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

fix: update code to match previous demos
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

fix: set editMode of JokeForm always to true in Joke Component
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/pages/index.js
Due: npx eslint --fix, npx prettier --write

refactor: use Joke.create instead of newJoke.save
  sessions/backend-create/demo-end/pages/api/jokes/index.js
  sessions/backend-update-and-delete/demo-end/pages/api/jokes/index.js
  sessions/backend-update-and-delete/demo-start/pages/api/jokes/index.js
Due: npx eslint --fix, npx prettier --write

update backend create challenge to use useSWRMutation and Produkt.create
  sessions/backend-create/products/README.md
Due: npx prettier --write

refactor: move isLoading check before !data check
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/products/README.md
Due: npx eslint --fix, npx prettier --write

Update README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Reverted changes in README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

add solution with tests
  sessions/recap-project-5/art-gallery-app-solution/.eslintrc.json
  sessions/recap-project-5/art-gallery-app-solution/.gitignore
  sessions/recap-project-5/art-gallery-app-solution/.prettierrc.json
  sessions/recap-project-5/art-gallery-app-solution/README.md
  sessions/recap-project-5/art-gallery-app-solution/components/ArtPiecePreview/ArtPiecePreview.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/ArtPiecePreview/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/ArtPieces/ArtPieces.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/ArtPieces/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/ArtPiecesDetails/ArtPiecesDetails.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/ArtPiecesDetails/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/CommentForm/CommentForm.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/CommentForm/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/Comments/Comments.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/Comments/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/FavoriteButton/FavoriteButton.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/FavoriteButton/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/Layout.js
  sessions/recap-project-5/art-gallery-app-solution/components/List.js
  sessions/recap-project-5/art-gallery-app-solution/components/Navigation/Navigation.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/Navigation/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/Spotlight/Spotlight.test.js
  sessions/recap-project-5/art-gallery-app-solution/components/Spotlight/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/StyledImage.js
  sessions/recap-project-5/art-gallery-app-solution/jest.config.js
  sessions/recap-project-5/art-gallery-app-solution/jest.setup.js
  sessions/recap-project-5/art-gallery-app-solution/lib/hook/useImmerLocalStorageState.js
  sessions/recap-project-5/art-gallery-app-solution/next.config.js
  sessions/recap-project-5/art-gallery-app-solution/package.json
  sessions/recap-project-5/art-gallery-app-solution/pages/_app.js
  sessions/recap-project-5/art-gallery-app-solution/pages/_document.js
  sessions/recap-project-5/art-gallery-app-solution/pages/art-pieces/[slug]/index.js
  sessions/recap-project-5/art-gallery-app-solution/pages/art-pieces/index.js
  sessions/recap-project-5/art-gallery-app-solution/pages/favorites/index.js
  sessions/recap-project-5/art-gallery-app-solution/pages/index.js
  sessions/recap-project-5/art-gallery-app-solution/public/assets/heart.svg
  sessions/recap-project-5/art-gallery-app-solution/public/favicon.ico
  sessions/recap-project-5/art-gallery-app-solution/sandbox.config.json
  sessions/recap-project-5/art-gallery-app-solution/styles.js
Due: npx eslint --fix, npx prettier --write

remove outdated solution
  sessions/recap-project-5/example-implementation/.eslintrc.json
  sessions/recap-project-5/example-implementation/.gitignore
  sessions/recap-project-5/example-implementation/.prettierrc.json
  sessions/recap-project-5/example-implementation/README.md
  sessions/recap-project-5/example-implementation/components/ArtPieceDetails.js
  sessions/recap-project-5/example-implementation/components/ArtPiecePreview.js
  sessions/recap-project-5/example-implementation/components/ArtPieces.js
  sessions/recap-project-5/example-implementation/components/Comment.js
  sessions/recap-project-5/example-implementation/components/CommentForm.js
  sessions/recap-project-5/example-implementation/components/DetailItem.js
  sessions/recap-project-5/example-implementation/components/FavoriteButton.js
  sessions/recap-project-5/example-implementation/components/Header.js
  sessions/recap-project-5/example-implementation/components/Layout.js
  sessions/recap-project-5/example-implementation/components/Navigation.js
  sessions/recap-project-5/example-implementation/components/NavigationItem.js
  sessions/recap-project-5/example-implementation/components/NavigationLink.js
  sessions/recap-project-5/example-implementation/components/NavigationList.js
  sessions/recap-project-5/example-implementation/components/Palette.js
  sessions/recap-project-5/example-implementation/components/Spotlight.js
  sessions/recap-project-5/example-implementation/components/SvgComponent.js
  sessions/recap-project-5/example-implementation/jest.config.js
  sessions/recap-project-5/example-implementation/jest.setup.js
  sessions/recap-project-5/example-implementation/lib/hook/useImmerLocalStorageState.js
  sessions/recap-project-5/example-implementation/next.config.js
  sessions/recap-project-5/example-implementation/package.json
  sessions/recap-project-5/example-implementation/pages/_app.js
  sessions/recap-project-5/example-implementation/pages/_document.js
  sessions/recap-project-5/example-implementation/pages/art-pieces/[slug].js
  sessions/recap-project-5/example-implementation/pages/art-pieces/index.js
  sessions/recap-project-5/example-implementation/pages/favorites.js
  sessions/recap-project-5/example-implementation/pages/index.js
  sessions/recap-project-5/example-implementation/public/favicon.ico
  sessions/recap-project-5/example-implementation/sandbox.config.json
  sessions/recap-project-5/example-implementation/styles.js
Due: npx eslint --fix, npx prettier --write

update next template to next 13.3
  recipes/next/files/pages/_document.js
  recipes/next/recipe.js
  templates/next/.gitignore
  templates/next/jsconfig.json
  templates/next/package.json
  templates/next/pages/_document.js
Due: npx eslint --fix, npx prettier --write

update next template to next 13.3 (#287)
  recipes/next/files/pages/_document.js
  recipes/next/recipe.js
  templates/next/.gitignore
  templates/next/jsconfig.json
  templates/next/package.json
  templates/next/pages/_document.js
Due: npx eslint --fix, npx prettier --write

Fix typo in scorekeeper challenge
  sessions/react-component-testing/scorekeeper/README.md
Due: npx prettier --write

Update index.js
  sessions/backend-update-and-delete/demo-end/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

Update index.js
  sessions/backend-update-and-delete/demo-start/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

Backend refactor use swr mutation (#285)
  sessions/backend-create/demo-end/components/Joke/index.js
  sessions/backend-create/demo-end/components/JokeForm/index.js
  sessions/backend-create/demo-end/pages/_app.js
  sessions/backend-create/demo-end/pages/api/jokes/index.js
  sessions/backend-create/demo-start/components/Joke/index.js
  sessions/backend-create/products/README.md
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/README.md
  sessions/backend-update-and-delete/demo-end/components/Button/index.js
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-end/components/StyledList/index.js
  sessions/backend-update-and-delete/demo-end/components/StyledListItem/index.js
  sessions/backend-update-and-delete/demo-end/db/connect.js
  sessions/backend-update-and-delete/demo-end/package-lock.json
  sessions/backend-update-and-delete/demo-end/package.json
  sessions/backend-update-and-delete/demo-end/pages/[id].js
  sessions/backend-update-and-delete/demo-end/pages/api/jokes/[id].js
  sessions/backend-update-and-delete/demo-end/pages/api/jokes/index.js
  sessions/backend-update-and-delete/demo-end/pages/index.js
  sessions/backend-update-and-delete/demo-end/styles.js
  sessions/backend-update-and-delete/demo-start/components/Button/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeForm/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-start/components/StyledList/index.js
  sessions/backend-update-and-delete/demo-start/components/StyledListItem/index.js
  sessions/backend-update-and-delete/demo-start/db/connect.js
  sessions/backend-update-and-delete/demo-start/pages/[id].js
  sessions/backend-update-and-delete/demo-start/pages/api/jokes/index.js
  sessions/backend-update-and-delete/demo-start/pages/index.js
  sessions/backend-update-and-delete/demo-start/styles.js
  sessions/backend-update-and-delete/products/README.md
Due: npx eslint --fix, npx prettier --write

Update index.js
  sessions/js-conditions-and-booleans/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

remove outdated package-lock
  package-lock.json
Due: npx prettier --write

add current package-lock
  package-lock.json
Due: npx prettier --write

JS Conditions and Booleans: add demo (#258)
  sessions/js-conditions-and-booleans/demo-end/.eslintrc.json
  sessions/js-conditions-and-booleans/demo-end/.gitignore
  sessions/js-conditions-and-booleans/demo-end/.prettierrc.json
  sessions/js-conditions-and-booleans/demo-end/README.md
  sessions/js-conditions-and-booleans/demo-end/index.js
  sessions/js-conditions-and-booleans/demo-end/package.json
  sessions/js-conditions-and-booleans/demo-end/sandbox.config.json
  sessions/js-conditions-and-booleans/demo-start/.eslintrc.json
  sessions/js-conditions-and-booleans/demo-start/.gitignore
  sessions/js-conditions-and-booleans/demo-start/.prettierrc.json
  sessions/js-conditions-and-booleans/demo-start/README.md
  sessions/js-conditions-and-booleans/demo-start/index.js
  sessions/js-conditions-and-booleans/demo-start/package.json
  sessions/js-conditions-and-booleans/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update Recap Project 2: Add note for form page (#280)
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

fix link in backend api routes
  sessions/backend-api-routes/demo-end/components/Joke/index.js
  sessions/backend-api-routes/demo-end/components/JokeList/index.js
  sessions/backend-api-routes/demo-end/styles.js
  sessions/backend-api-routes/demo-start/components/Joke/index.js
  sessions/backend-api-routes/demo-start/components/JokeList/index.js
  sessions/backend-api-routes/demo-start/styles.js
  sessions/backend-create/demo-end/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

fix links in backend create
  sessions/backend-create/demo-end/components/JokeList/index.js
  sessions/backend-create/demo-end/styles.js
  sessions/backend-create/demo-start/components/Joke/index.js
  sessions/backend-create/demo-start/components/JokeList/index.js
  sessions/backend-create/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

fix using _id in backend create
  sessions/backend-create/demo-start/components/JokeList/index.js
Due: npx eslint --fix, npx prettier --write

fix links in backend read
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-end/components/JokeList/index.js
  sessions/backend-read/demo-end/styles.js
  sessions/backend-read/demo-start/components/Joke/index.js
  sessions/backend-read/demo-start/components/JokeList/index.js
  sessions/backend-read/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

fix links in backend update and delete
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-end/styles.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

add form styling to backend create
  sessions/backend-create/demo-end/styles.js
  sessions/backend-create/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

fix: spell out response in fetcher
  sessions/backend-api-routes/demo-end/pages/_app.js
  sessions/backend-api-routes/demo-start/pages/_app.js
  sessions/backend-create/demo-start/pages/_app.js
  sessions/backend-create/products/pages/_app.js
  sessions/backend-read/demo-end/pages/_app.js
  sessions/backend-read/demo-start/pages/_app.js
  sessions/backend-read/products/pages/_app.js
  sessions/backend-update-and-delete/demo-end/pages/_app.js
  sessions/backend-update-and-delete/demo-start/pages/_app.js
  sessions/react-data-fetching/demo-end/pages/_app.js
Due: npx eslint --fix, npx prettier --write

fix: spell out response in fetcher (#289)
  sessions/backend-api-routes/demo-end/pages/_app.js
  sessions/backend-api-routes/demo-start/pages/_app.js
  sessions/backend-create/demo-start/pages/_app.js
  sessions/backend-create/products/pages/_app.js
  sessions/backend-read/demo-end/pages/_app.js
  sessions/backend-read/demo-start/pages/_app.js
  sessions/backend-read/products/pages/_app.js
  sessions/backend-update-and-delete/demo-end/pages/_app.js
  sessions/backend-update-and-delete/demo-start/pages/_app.js
  sessions/react-data-fetching/demo-end/pages/_app.js
Due: npx eslint --fix, npx prettier --write

fix: use vercel link in api routes demo start
  sessions/backend-api-routes/demo-end/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

refactor: remove code from greet function
  sessions/js-unit-testing/demo-start/greet.js
Due: npx eslint --fix, npx prettier --write

Fix/backend links (#288)
  sessions/backend-api-routes/demo-end/components/Joke/index.js
  sessions/backend-api-routes/demo-end/components/JokeList/index.js
  sessions/backend-api-routes/demo-end/styles.js
  sessions/backend-api-routes/demo-start/components/Joke/index.js
  sessions/backend-api-routes/demo-start/components/JokeList/index.js
  sessions/backend-api-routes/demo-start/styles.js
  sessions/backend-create/demo-end/components/Joke/index.js
  sessions/backend-create/demo-end/components/JokeList/index.js
  sessions/backend-create/demo-end/styles.js
  sessions/backend-create/demo-start/components/Joke/index.js
  sessions/backend-create/demo-start/components/JokeList/index.js
  sessions/backend-create/demo-start/styles.js
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-end/components/JokeList/index.js
  sessions/backend-read/demo-end/styles.js
  sessions/backend-read/demo-start/components/Joke/index.js
  sessions/backend-read/demo-start/components/JokeList/index.js
  sessions/backend-read/demo-start/styles.js
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-end/styles.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-and-delete/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

Refactor/js unit tests test driven development (#290)
  sessions/js-unit-testing/demo-start/greet.js
Due: npx eslint --fix, npx prettier --write

Update css selectors demo
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-start/css/styles.css
Due: none

Update demo
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-end/index.html
  sessions/css-selectors/demo-start/css/styles.css
  sessions/css-selectors/demo-start/index.html
Due: none
