Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Fix App.js reference in cra README template
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

begin work on react basics demos
  package-lock.json
  sessions/react-basics/demo-inner-html-vs-render/.eslintrc.json
  sessions/react-basics/demo-inner-html-vs-render/.gitignore
  sessions/react-basics/demo-inner-html-vs-render/.prettierrc.json
  sessions/react-basics/demo-inner-html-vs-render/README.md
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-inner-html-vs-render/public/index.html
  sessions/react-basics/demo-inner-html-vs-render/public/styles.css
  sessions/react-basics/demo-inner-html-vs-render/sandbox.config.json
  sessions/react-basics/demo-inner-html-vs-render/src/index.js
  sessions/react-basics/demo-render/.eslintrc.json
  sessions/react-basics/demo-render/.gitignore
  sessions/react-basics/demo-render/.prettierrc.json
  sessions/react-basics/demo-render/README.md
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/demo-render/public/index.html
  sessions/react-basics/demo-render/public/styles.css
  sessions/react-basics/demo-render/sandbox.config.json
  sessions/react-basics/demo-render/src/index.js
Due: npx eslint --fix, npx prettier --write

fix wording: challenge to exercise
  README.md
Due: npx prettier --write

update render demo
  sessions/react-basics/demo-render/README.md
  sessions/react-basics/demo-render/src/index.js
Due: npx eslint --fix, npx prettier --write

fix: disabled eslint proptypes and react in scope errors
  templates/react-minimal/.eslintrc.json
Due: npx prettier --write

feat(react-props): add greeting challenge
  package-lock.json
  sessions/react-props/greeting/.eslintrc.json
  sessions/react-props/greeting/.gitignore
  sessions/react-props/greeting/.prettierrc.json
  sessions/react-props/greeting/README.md
  sessions/react-props/greeting/package.json
  sessions/react-props/greeting/public/index.html
  sessions/react-props/greeting/sandbox.config.json
  sessions/react-props/greeting/src/App.js
  sessions/react-props/greeting/src/index.js
  sessions/react-props/greeting/src/styles.css
Due: npx eslint --fix, npx prettier --write

update migrate script to support react minimal template
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

feat(react-basics): add hello world challenge
  sessions/react-basics/hello-world/.eslintrc.json
  sessions/react-basics/hello-world/.prettierrc.json
  sessions/react-basics/hello-world/.stylelintrc.json
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/package.json
  sessions/react-basics/hello-world/public/index.html
  sessions/react-basics/hello-world/src/App.js
  sessions/react-basics/hello-world/src/index.js
  sessions/react-basics/hello-world/src/styles.css
Due: npx eslint --fix, npx prettier --write

migrate exercise to new template
  sessions/react-basics/hello-world/.eslintrc.json
  sessions/react-basics/hello-world/.gitignore
  sessions/react-basics/hello-world/.prettierrc.json
  sessions/react-basics/hello-world/.stylelintrc.json
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/package.json
  sessions/react-basics/hello-world/public/index.html
  sessions/react-basics/hello-world/sandbox.config.json
  sessions/react-basics/hello-world/src/App.js
  sessions/react-basics/hello-world/src/index.js
  sessions/react-basics/hello-world/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix(react-basics): name and description in package.json
  sessions/react-basics/hello-world/package.json
Due: npx prettier --write

feat(react-basics): update tasks of hello world challenge
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/src/App.js
Due: npx eslint --fix, npx prettier --write

feat(react-basics): add hello world article challenge
  sessions/react-basics/hello-world-article/.eslintrc.json
  sessions/react-basics/hello-world-article/.prettierrc.json
  sessions/react-basics/hello-world-article/.stylelintrc.json
  sessions/react-basics/hello-world-article/README.md
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world-article/public/index.html
  sessions/react-basics/hello-world-article/src/App.js
  sessions/react-basics/hello-world-article/src/index.js
  sessions/react-basics/hello-world-article/src/styles.css
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-basics): update readme for hello world article challenge
  sessions/react-basics/hello-world-article/README.md
  sessions/react-basics/hello-world-article/src/App.js
Due: npx eslint --fix, npx prettier --write

migrate challenge to react-minimal template
  sessions/react-basics/hello-world-article/.eslintrc.json
  sessions/react-basics/hello-world-article/.gitignore
  sessions/react-basics/hello-world-article/.prettierrc.json
  sessions/react-basics/hello-world-article/.stylelintrc.json
  sessions/react-basics/hello-world-article/README.md
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world-article/public/index.html
  sessions/react-basics/hello-world-article/sandbox.config.json
  sessions/react-basics/hello-world-article/src/App.js
  sessions/react-basics/hello-world-article/src/index.js
  sessions/react-basics/hello-world-article/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-props): add sum challenge
  package-lock.json
  sessions/react-props/sum/.eslintrc.json
  sessions/react-props/sum/.gitignore
  sessions/react-props/sum/.prettierrc.json
  sessions/react-props/sum/README.md
  sessions/react-props/sum/package.json
  sessions/react-props/sum/public/index.html
  sessions/react-props/sum/sandbox.config.json
  sessions/react-props/sum/src/App.js
  sessions/react-props/sum/src/index.js
  sessions/react-props/sum/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-basics): add attributes challenge
  sessions/react-basics/attributes/.eslintrc.json
  sessions/react-basics/attributes/.prettierrc.json
  sessions/react-basics/attributes/.stylelintrc.json
  sessions/react-basics/attributes/README.md
  sessions/react-basics/attributes/package.json
  sessions/react-basics/attributes/public/index.html
  sessions/react-basics/attributes/src/App.js
  sessions/react-basics/attributes/src/index.js
  sessions/react-basics/attributes/src/styles.css
  sessions/react-basics/hello-world-article/README.md
Due: npx eslint --fix, npx prettier --write

migrate exercise to use react-minimal template
  sessions/react-basics/attributes/.eslintrc.json
  sessions/react-basics/attributes/.gitignore
  sessions/react-basics/attributes/.prettierrc.json
  sessions/react-basics/attributes/.stylelintrc.json
  sessions/react-basics/attributes/README.md
  sessions/react-basics/attributes/package.json
  sessions/react-basics/attributes/public/index.html
  sessions/react-basics/attributes/sandbox.config.json
  sessions/react-basics/attributes/src/App.js
  sessions/react-basics/attributes/src/index.js
  sessions/react-basics/attributes/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(recap-projects): migrate recap project 2 and 3
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-2/quiz-app/bookmarks.html
  sessions/recap-project-2/quiz-app/components/bookmark/bookmark.css
  sessions/recap-project-2/quiz-app/components/card-list/card-list.css
  sessions/recap-project-2/quiz-app/components/card/card.css
  sessions/recap-project-2/quiz-app/components/counter-list/counter-list.css
  sessions/recap-project-2/quiz-app/components/header/header.css
  sessions/recap-project-2/quiz-app/components/navigation/navigation.css
  sessions/recap-project-2/quiz-app/components/profile/profile.css
  sessions/recap-project-2/quiz-app/global.css
  sessions/recap-project-2/quiz-app/index.html
  sessions/recap-project-2/quiz-app/profile.html
  sessions/recap-project-2/quiz-app/styles.css
  sessions/recap-project-2/quiz-app/wireframes/quiz-app-form-page-with-counter.excalidraw
  sessions/recap-project-2/quiz-app/wireframes/quiz-app-form-page-with-counter.png
  sessions/recap-project-2/quiz-app/wireframes/quiz-app-form-page.excalidraw
  sessions/recap-project-2/quiz-app/wireframes/quiz-app-form-page.png
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-3/rick-and-morty-app/assets/magnifying-glass.png
  sessions/recap-project-3/rick-and-morty-app/components/card/card.css
  sessions/recap-project-3/rick-and-morty-app/components/card/card.js
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.js
  sessions/recap-project-3/rick-and-morty-app/components/nav-pagination/nav-pagination.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-pagination/nav-pagination.js
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.css
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.js
  sessions/recap-project-3/rick-and-morty-app/index.html
  sessions/recap-project-3/rick-and-morty-app/index.js
  sessions/recap-project-3/rick-and-morty-app/package.json
  sessions/recap-project-3/rick-and-morty-app/sandbox.config.json
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/recap-project-3/rick-and-morty-app/package.json
  sessions/recap-project-3/rick-and-morty-app/package.json
Due: npx prettier --write

feat(recap-project-2): add package.json file
  sessions/recap-project-2/quiz-app/package.json
Due: npx prettier --write

migrate recap starters to use templates
  sessions/recap-project-2/quiz-app/.eslintrc.json
  sessions/recap-project-2/quiz-app/.gitignore
  sessions/recap-project-2/quiz-app/.prettierrc.json
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-2/quiz-app/index.js
  sessions/recap-project-2/quiz-app/package.json
  sessions/recap-project-2/quiz-app/sandbox.config.json
  sessions/recap-project-3/rick-and-morty-app/.eslintrc.json
  sessions/recap-project-3/rick-and-morty-app/.gitignore
  sessions/recap-project-3/rick-and-morty-app/.prettierrc.json
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-3/rick-and-morty-app/package.json
Due: npx eslint --fix, npx prettier --write

format using prettier
  sessions/recap-project-3/rick-and-morty-app/index.html
  sessions/recap-project-3/rick-and-morty-app/index.js
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/README.md
Due: npx prettier --write

chore(npm): update packages
  package-lock.json
Due: npx prettier --write

feat(js-unit-testing): add get animal challenge
  sessions/js-unit-testing/get-animal/.eslintrc.json
  sessions/js-unit-testing/get-animal/.prettierrc.json
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/index.test.js
  sessions/js-unit-testing/get-animal/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-unit-testing): add .gitignore for getAnimal challenge
  sessions/js-unit-testing/get-animal/.gitignore
Due: none

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
