Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

feat(css-flexbox): add personal diary exercise
  sessions/css-layout-with-flexbox/personal-travel-diary/.eslintrc.json
  sessions/css-layout-with-flexbox/personal-travel-diary/.prettierrc.json
  sessions/css-layout-with-flexbox/personal-travel-diary/.stylelintrc.json
  sessions/css-layout-with-flexbox/personal-travel-diary/css/styles.css
  sessions/css-layout-with-flexbox/personal-travel-diary/index.html
  sessions/css-layout-with-flexbox/personal-travel-diary/package.json
  sessions/css-layout-with-flexbox/personal-travel-diary/sandbox.config.json
Due: npx prettier --write

feat(html-forms): add exercise 1
  sessions/html-forms/link-input-fields/.eslintrc.json
  sessions/html-forms/link-input-fields/.prettierrc.json
  sessions/html-forms/link-input-fields/.stylelintrc.json
  sessions/html-forms/link-input-fields/css/styles.css
  sessions/html-forms/link-input-fields/index.html
  sessions/html-forms/link-input-fields/package.json
  sessions/html-forms/link-input-fields/sandbox.config.json
Due: npx prettier --write

feat(html-forms): add exercise 2
  sessions/html-forms/link-headline-and-form/.eslintrc.json
  sessions/html-forms/link-headline-and-form/.prettierrc.json
  sessions/html-forms/link-headline-and-form/.stylelintrc.json
  sessions/html-forms/link-headline-and-form/css/styles.css
  sessions/html-forms/link-headline-and-form/index.html
  sessions/html-forms/link-headline-and-form/package.json
  sessions/html-forms/link-headline-and-form/sandbox.config.json
Due: npx prettier --write

feat(js-advanced): add cards-from-form-exercise
  sessions/js-advanced-practice/cards-from-form/.eslintrc.json
  sessions/js-advanced-practice/cards-from-form/.prettierrc.json
  sessions/js-advanced-practice/cards-from-form/.stylelintrc.json
  sessions/js-advanced-practice/cards-from-form/css/styles.css
  sessions/js-advanced-practice/cards-from-form/index.html
  sessions/js-advanced-practice/cards-from-form/js/index.js
  sessions/js-advanced-practice/cards-from-form/package.json
  sessions/js-advanced-practice/cards-from-form/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-advanced): add answer-toggle
  sessions/js-advanced-practice/cards-with-answer-toggle/.eslintrc.json
  sessions/js-advanced-practice/cards-with-answer-toggle/.prettierrc.json
  sessions/js-advanced-practice/cards-with-answer-toggle/.stylelintrc.json
  sessions/js-advanced-practice/cards-with-answer-toggle/css/styles.css
  sessions/js-advanced-practice/cards-with-answer-toggle/index.html
  sessions/js-advanced-practice/cards-with-answer-toggle/js/index.js
  sessions/js-advanced-practice/cards-with-answer-toggle/package.json
  sessions/js-advanced-practice/cards-with-answer-toggle/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-advanced): add bookmarks exercise
  sessions/js-advanced-practice/cards-with-bookmarks/.eslintrc.json
  sessions/js-advanced-practice/cards-with-bookmarks/.prettierrc.json
  sessions/js-advanced-practice/cards-with-bookmarks/.stylelintrc.json
  sessions/js-advanced-practice/cards-with-bookmarks/css/styles.css
  sessions/js-advanced-practice/cards-with-bookmarks/index.html
  sessions/js-advanced-practice/cards-with-bookmarks/js/index.js
  sessions/js-advanced-practice/cards-with-bookmarks/package.json
  sessions/js-advanced-practice/cards-with-bookmarks/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-advanced): add tag-filter
  sessions/js-advanced-practice/filter-by-tag/.eslintrc.json
  sessions/js-advanced-practice/filter-by-tag/.prettierrc.json
  sessions/js-advanced-practice/filter-by-tag/.stylelintrc.json
  sessions/js-advanced-practice/filter-by-tag/css/styles.css
  sessions/js-advanced-practice/filter-by-tag/index.html
  sessions/js-advanced-practice/filter-by-tag/js/index.js
  sessions/js-advanced-practice/filter-by-tag/package.json
  sessions/js-advanced-practice/filter-by-tag/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-basics): add exercise
  sessions/js-basics/console-methods/.eslintrc.json
  sessions/js-basics/console-methods/.prettierrc.json
  sessions/js-basics/console-methods/.stylelintrc.json
  sessions/js-basics/console-methods/css/styles.css
  sessions/js-basics/console-methods/index.html
  sessions/js-basics/console-methods/js/index.js
  sessions/js-basics/console-methods/package.json
  sessions/js-basics/console-methods/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-conditions-and-booleans): add boolean exercise
  sessions/js-conditions-and-booleans/.eslintrc.json
  sessions/js-conditions-and-booleans/.prettierrc.json
  sessions/js-conditions-and-booleans/.stylelintrc.json
  sessions/js-conditions-and-booleans/css/styles.css
  sessions/js-conditions-and-booleans/index.html
  sessions/js-conditions-and-booleans/js/index.js
  sessions/js-conditions-and-booleans/package.json
  sessions/js-conditions-and-booleans/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-conditions-and-booleans): add teenager exercise
  sessions/js-conditions-and-booleans/booleans/.eslintrc.json
  sessions/js-conditions-and-booleans/booleans/.prettierrc.json
  sessions/js-conditions-and-booleans/booleans/.stylelintrc.json
  sessions/js-conditions-and-booleans/booleans/css/styles.css
  sessions/js-conditions-and-booleans/booleans/index.html
  sessions/js-conditions-and-booleans/booleans/js/index.js
  sessions/js-conditions-and-booleans/booleans/package.json
  sessions/js-conditions-and-booleans/booleans/sandbox.config.json
  sessions/js-conditions-and-booleans/teenager/.eslintrc.json
  sessions/js-conditions-and-booleans/teenager/.prettierrc.json
  sessions/js-conditions-and-booleans/teenager/.stylelintrc.json
  sessions/js-conditions-and-booleans/teenager/css/styles.css
  sessions/js-conditions-and-booleans/teenager/index.html
  sessions/js-conditions-and-booleans/teenager/js/index.js
  sessions/js-conditions-and-booleans/teenager/package.json
  sessions/js-conditions-and-booleans/teenager/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-fetch-and-asyncawait): add exercises
  sessions/js-fetch-and-asyncawait/color-clue/.prettierrc.json
  sessions/js-fetch-and-asyncawait/color-clue/.stylelintrc.json
  sessions/js-fetch-and-asyncawait/color-clue/css/styles.css
  sessions/js-fetch-and-asyncawait/color-clue/index.html
  sessions/js-fetch-and-asyncawait/color-clue/js/index.js
  sessions/js-fetch-and-asyncawait/color-clue/package.json
  sessions/js-fetch-and-asyncawait/color-clue/sandbox.config.json
  sessions/js-fetch-and-asyncawait/star-wars-cards/.prettierrc.json
  sessions/js-fetch-and-asyncawait/star-wars-cards/.stylelintrc.json
  sessions/js-fetch-and-asyncawait/star-wars-cards/css/styles.css
  sessions/js-fetch-and-asyncawait/star-wars-cards/index.html
  sessions/js-fetch-and-asyncawait/star-wars-cards/js/index.js
  sessions/js-fetch-and-asyncawait/star-wars-cards/package.json
  sessions/js-fetch-and-asyncawait/star-wars-cards/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-forms): add form submit exercise
  sessions/js-forms/form-submit/.eslintrc.json
  sessions/js-forms/form-submit/.prettierrc.json
  sessions/js-forms/form-submit/.stylelintrc.json
  sessions/js-forms/form-submit/css/styles.css
  sessions/js-forms/form-submit/index.html
  sessions/js-forms/form-submit/js/index.js
  sessions/js-forms/form-submit/package.json
  sessions/js-forms/form-submit/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-inputs-and-strings): add exercises
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/.eslintrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/.prettierrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/.stylelintrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/css/styles.css
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/js/index.js
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/package.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/sandbox.config.json
  sessions/js-inputs-and-strings/input-to-uppercase/.eslintrc.json
  sessions/js-inputs-and-strings/input-to-uppercase/.prettierrc.json
  sessions/js-inputs-and-strings/input-to-uppercase/.stylelintrc.json
  sessions/js-inputs-and-strings/input-to-uppercase/css/styles.css
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/input-to-uppercase/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase/package.json
  sessions/js-inputs-and-strings/input-to-uppercase/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-input-and-strings): add exercises 3 and 4
  sessions/js-inputs-and-strings/multiple-inputs/.eslintrc.json
  sessions/js-inputs-and-strings/multiple-inputs/.prettierrc.json
  sessions/js-inputs-and-strings/multiple-inputs/.stylelintrc.json
  sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs/package.json
  sessions/js-inputs-and-strings/multiple-inputs/sandbox.config.json
  sessions/js-inputs-and-strings/switch-values/.eslintrc.json
  sessions/js-inputs-and-strings/switch-values/.prettierrc.json
  sessions/js-inputs-and-strings/switch-values/.stylelintrc.json
  sessions/js-inputs-and-strings/switch-values/css/styles.css
  sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values/js/index.js
  sessions/js-inputs-and-strings/switch-values/package.json
  sessions/js-inputs-and-strings/switch-values/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix(css-basics): fix issues in html
  sessions/css-basics/pokemon-page/index.html
Due: none

feat(css-layout-with-grid): add exercises
  sessions/css-layout-with-grid/fishes/.eslintrc.json
  sessions/css-layout-with-grid/fishes/.prettierrc.json
  sessions/css-layout-with-grid/fishes/.stylelintrc.json
  sessions/css-layout-with-grid/fishes/css/styles.css
  sessions/css-layout-with-grid/fishes/index.html
  sessions/css-layout-with-grid/fishes/package.json
  sessions/css-layout-with-grid/fishes/sandbox.config.json
  sessions/css-layout-with-grid/payment-plan/.eslintrc.json
  sessions/css-layout-with-grid/payment-plan/.prettierrc.json
  sessions/css-layout-with-grid/payment-plan/.stylelintrc.json
  sessions/css-layout-with-grid/payment-plan/css/styles.css
  sessions/css-layout-with-grid/payment-plan/index.html
  sessions/css-layout-with-grid/payment-plan/package.json
  sessions/css-layout-with-grid/payment-plan/sandbox.config.json
  sessions/css-layout-with-grid/pictures/.eslintrc.json
  sessions/css-layout-with-grid/pictures/.prettierrc.json
  sessions/css-layout-with-grid/pictures/.stylelintrc.json
  sessions/css-layout-with-grid/pictures/css/styles.css
  sessions/css-layout-with-grid/pictures/index.html
  sessions/css-layout-with-grid/pictures/package.json
  sessions/css-layout-with-grid/pictures/sandbox.config.json
  sessions/css-layout-with-grid/services/.eslintrc.json
  sessions/css-layout-with-grid/services/.prettierrc.json
  sessions/css-layout-with-grid/services/.stylelintrc.json
  sessions/css-layout-with-grid/services/css/styles.css
  sessions/css-layout-with-grid/services/index.html
  sessions/css-layout-with-grid/services/package.json
  sessions/css-layout-with-grid/services/sandbox.config.json
Due: npx prettier --write

chore: update dependencies
  package-lock.json
  sessions/react-arrays/fruits/package.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/package.json
Due: npx prettier --write

feat(js-math-and-numbers): add calculator exercise
  sessions/js-math-and-numbers/calculator/.eslintrc.json
  sessions/js-math-and-numbers/calculator/.prettierrc.json
  sessions/js-math-and-numbers/calculator/.stylelintrc.json
  sessions/js-math-and-numbers/calculator/css/styles.css
  sessions/js-math-and-numbers/calculator/index.html
  sessions/js-math-and-numbers/calculator/js/index.js
  sessions/js-math-and-numbers/calculator/package.json
  sessions/js-math-and-numbers/calculator/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-math-and-numbers): add counter exercise
  sessions/js-math-and-numbers/counter/.eslintrc.json
  sessions/js-math-and-numbers/counter/.prettierrc.json
  sessions/js-math-and-numbers/counter/.stylelintrc.json
  sessions/js-math-and-numbers/counter/css/styles.css
  sessions/js-math-and-numbers/counter/index.html
  sessions/js-math-and-numbers/counter/js/index.js
  sessions/js-math-and-numbers/counter/package.json
  sessions/js-math-and-numbers/counter/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-math-and-numbers): fix bug in calculator exercise
  sessions/js-math-and-numbers/counter/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(css-positioning): add exercises for css-positioning
  sessions/css-positioning/absolute-top-right-bottom-left/.eslintrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/.prettierrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/.stylelintrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/css/styles.css
  sessions/css-positioning/absolute-top-right-bottom-left/index.html
  sessions/css-positioning/absolute-top-right-bottom-left/package.json
  sessions/css-positioning/absolute-top-right-bottom-left/sandbox.config.json
  sessions/css-positioning/layout-with-position/.eslintrc.json
  sessions/css-positioning/layout-with-position/.prettierrc.json
  sessions/css-positioning/layout-with-position/.stylelintrc.json
  sessions/css-positioning/layout-with-position/css/styles.css
  sessions/css-positioning/layout-with-position/index.html
  sessions/css-positioning/layout-with-position/package.json
  sessions/css-positioning/layout-with-position/sandbox.config.json
Due: npx prettier --write

feat(css-positioning): add exercises for css-positioning (#42)
  sessions/css-positioning/absolute-top-right-bottom-left/.eslintrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/.prettierrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/.stylelintrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/css/styles.css
  sessions/css-positioning/absolute-top-right-bottom-left/index.html
  sessions/css-positioning/absolute-top-right-bottom-left/package.json
  sessions/css-positioning/absolute-top-right-bottom-left/sandbox.config.json
  sessions/css-positioning/layout-with-position/.eslintrc.json
  sessions/css-positioning/layout-with-position/.prettierrc.json
  sessions/css-positioning/layout-with-position/.stylelintrc.json
  sessions/css-positioning/layout-with-position/css/styles.css
  sessions/css-positioning/layout-with-position/index.html
  sessions/css-positioning/layout-with-position/package.json
  sessions/css-positioning/layout-with-position/sandbox.config.json
Due: npx prettier --write

chore: boilerplate for social card
  sessions/css-basics/social-card/.eslintrc.json
  sessions/css-basics/social-card/.prettierrc.json
  sessions/css-basics/social-card/.stylelintrc.json
  sessions/css-basics/social-card/css/styles.css
  sessions/css-basics/social-card/index.html
  sessions/css-basics/social-card/package.json
  sessions/css-basics/social-card/sandbox.config.json
Due: npx prettier --write

feat: add starter html
  sessions/css-basics/social-card/assets/arrow_right_circle_icon_128948.svg
  sessions/css-basics/social-card/assets/github@2x.png
  sessions/css-basics/social-card/index.html
Due: none

chore: add package-lock
  package-lock.json
Due: npx prettier --write

fix: remove accidentally added files
  sessions/next-js-api/excercise/.eslintrc.json
  sessions/next-js-api/excercise/.gitignore
  sessions/next-js-api/excercise/.prettierrc.json
  sessions/next-js-api/excercise/.stylelintrc.json
  sessions/next-js-api/excercise/README.md
  sessions/next-js-api/excercise/components/Exercise1.js
  sessions/next-js-api/excercise/components/Exercise2.js
  sessions/next-js-api/excercise/components/Exercise3.js
  sessions/next-js-api/excercise/components/Exercise4.js
  sessions/next-js-api/excercise/db/users.json
  sessions/next-js-api/excercise/next.config.js
  sessions/next-js-api/excercise/package-lock.json
  sessions/next-js-api/excercise/package.json
  sessions/next-js-api/excercise/pages/_app.js
  sessions/next-js-api/excercise/pages/api/users/[userId].js
  sessions/next-js-api/excercise/pages/api/users/index.js
  sessions/next-js-api/excercise/pages/index.js
  sessions/next-js-api/excercise/public/favicon.ico
  sessions/next-js-api/excercise/public/vercel.svg
  sessions/next-js-api/excercise/styles/Home.module.css
  sessions/next-js-api/excercise/styles/globals.css
Due: npx eslint --fix, npx prettier --write

feat: remove link to css file
  sessions/css-basics/social-card/index.html
Due: none

refactor: use svg inside html
  sessions/css-basics/social-card/index.html
Due: none

feat(js-input-and-strings): update exercises
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/css/styles.css
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase/css/styles.css
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/switch-values/css/styles.css
  sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-input-and-strings): add advanced exercise
  sessions/js-inputs-and-strings/advanced-exercise/.eslintrc.json
  sessions/js-inputs-and-strings/advanced-exercise/.prettierrc.json
  sessions/js-inputs-and-strings/advanced-exercise/.stylelintrc.json
  sessions/js-inputs-and-strings/advanced-exercise/css/styles.css
  sessions/js-inputs-and-strings/advanced-exercise/index.html
  sessions/js-inputs-and-strings/advanced-exercise/js/index.js
  sessions/js-inputs-and-strings/advanced-exercise/package.json
  sessions/js-inputs-and-strings/advanced-exercise/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(css-layout-with-grid): update css reset in exercise
  sessions/css-layout-with-grid/fishes/css/styles.css
  sessions/css-layout-with-grid/fishes/index.html
  sessions/css-layout-with-grid/payment-plan/css/styles.css
  sessions/css-layout-with-grid/pictures/css/styles.css
  sessions/css-layout-with-grid/services/css/styles.css
Due: none

feat: add thomas dummy exercise
  package-lock.json
  sessions/thomas/super-exercise/.eslintrc.json
  sessions/thomas/super-exercise/.prettierrc.json
  sessions/thomas/super-exercise/.stylelintrc.json
  sessions/thomas/super-exercise/package.json
  sessions/thomas/super-exercise/public/index.html
  sessions/thomas/super-exercise/src/App.js
  sessions/thomas/super-exercise/src/index.js
  sessions/thomas/super-exercise/src/styles.css
Due: npx eslint --fix, npx prettier --write

chore: add ncu script
  .ncurc.json
  package-lock.json
  package.json
Due: npx prettier --write

feat(js-basics): add survey exercise
  sessions/js-basics/survey-error-fixing/.eslintrc.json
  sessions/js-basics/survey-error-fixing/.prettierrc.json
  sessions/js-basics/survey-error-fixing/.stylelintrc.json
  sessions/js-basics/survey-error-fixing/css/styles.css
  sessions/js-basics/survey-error-fixing/index.html
  sessions/js-basics/survey-error-fixing/js/index.js
  sessions/js-basics/survey-error-fixing/package.json
  sessions/js-basics/survey-error-fixing/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-variables-and-numbers): add social media post exercise
  sessions/js-variables-and-numbers/social-media-post/.eslintrc.json
  sessions/js-variables-and-numbers/social-media-post/.prettierrc.json
  sessions/js-variables-and-numbers/social-media-post/.stylelintrc.json
  sessions/js-variables-and-numbers/social-media-post/css/styles.css
  sessions/js-variables-and-numbers/social-media-post/index.html
  sessions/js-variables-and-numbers/social-media-post/js/index.js
  sessions/js-variables-and-numbers/social-media-post/package.json
  sessions/js-variables-and-numbers/social-media-post/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-basics): update console-methods exercise
  sessions/js-basics/console-methods/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-variables-and-numbers): add simple calculator exercise
  sessions/js-variables-and-numbers/simple-calculator/.eslintrc.json
  sessions/js-variables-and-numbers/simple-calculator/.prettierrc.json
  sessions/js-variables-and-numbers/simple-calculator/.stylelintrc.json
  sessions/js-variables-and-numbers/simple-calculator/css/styles.css
  sessions/js-variables-and-numbers/simple-calculator/index.html
  sessions/js-variables-and-numbers/simple-calculator/js/index.js
  sessions/js-variables-and-numbers/simple-calculator/package.json
  sessions/js-variables-and-numbers/simple-calculator/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-functions): add first four exercises
  sessions/js-functions/basic-functions/.eslintrc.json
  sessions/js-functions/basic-functions/.prettierrc.json
  sessions/js-functions/basic-functions/index.js
  sessions/js-functions/basic-functions/package.json
  sessions/js-functions/dom-manipulation/.eslintrc.json
  sessions/js-functions/dom-manipulation/.prettierrc.json
  sessions/js-functions/dom-manipulation/.stylelintrc.json
  sessions/js-functions/dom-manipulation/css/styles.css
  sessions/js-functions/dom-manipulation/index.html
  sessions/js-functions/dom-manipulation/js/index.js
  sessions/js-functions/dom-manipulation/package.json
  sessions/js-functions/dom-manipulation/sandbox.config.json
  sessions/js-functions/functions-with-parameters-extra/.eslintrc.json
  sessions/js-functions/functions-with-parameters-extra/.prettierrc.json
  sessions/js-functions/functions-with-parameters-extra/index.js
  sessions/js-functions/functions-with-parameters-extra/package.json
  sessions/js-functions/functions-with-parameters/.eslintrc.json
  sessions/js-functions/functions-with-parameters/.prettierrc.json
  sessions/js-functions/functions-with-parameters/index.js
  sessions/js-functions/functions-with-parameters/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-functions): refactor console only exercises to have explanatory html
  sessions/js-functions/basic-functions/.stylelintrc.json
  sessions/js-functions/basic-functions/css/styles.css
  sessions/js-functions/basic-functions/index.html
  sessions/js-functions/basic-functions/js/index.js
  sessions/js-functions/basic-functions/package.json
  sessions/js-functions/basic-functions/sandbox.config.json
  sessions/js-functions/functions-with-parameters-extra/.stylelintrc.json
  sessions/js-functions/functions-with-parameters-extra/css/styles.css
  sessions/js-functions/functions-with-parameters-extra/index.html
  sessions/js-functions/functions-with-parameters-extra/js/index.js
  sessions/js-functions/functions-with-parameters-extra/package.json
  sessions/js-functions/functions-with-parameters-extra/sandbox.config.json
  sessions/js-functions/functions-with-parameters/.stylelintrc.json
  sessions/js-functions/functions-with-parameters/css/styles.css
  sessions/js-functions/functions-with-parameters/index.html
  sessions/js-functions/functions-with-parameters/js/index.js
  sessions/js-functions/functions-with-parameters/package.json
  sessions/js-functions/functions-with-parameters/sandbox.config.json
Due: npx eslint --fix, npx prettier --write
