Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

remove debug class by default
  sessions/css-basics/combined-users/index.html
Due: none

code sandbox cloud fix
  sessions/recap-project-3/example-implementation/styles.css
Due: none

Update styled component exercises (challenges and demos) to use transient props (#303)
  sessions/react-component-testing/demo-end/components/Movie/index.js
  sessions/react-component-testing/demo-start/components/Movie/index.js
  sessions/react-component-testing/lotr-app-testing/components/ColoredBox/index.js
  sessions/react-component-testing/lotr-app-testing/components/Main/index.js
  sessions/react-component-testing/lotr-app-testing/components/NavigationLink/index.js
  sessions/react-component-testing/lotr-app-testing/components/VolumeNavigation/index.js
  sessions/react-component-testing/lotr-app-testing/pages/volumes/[slug].js
  sessions/react-component-testing/lotr-app-testing/pages/volumes/index.js
  sessions/react-component-testing/scorekeeper/components/Navigation/index.js
  sessions/react-global-state/lights-solution/components/Button/Light.styled.js
  sessions/react-global-state/lights-solution/components/Layout/index.js
  sessions/react-global-state/lights-solution/components/Light/Light.styled.js
  sessions/react-global-state/lights-solution/components/Light/index.js
  sessions/react-global-state/lights/components/Button/Light.styled.js
  sessions/react-global-state/lights/components/Layout/index.js
  sessions/react-global-state/lights/components/Light/Light.styled.js
  sessions/react-global-state/lights/components/Light/index.js
  sessions/react-immutable-state/car-race/components/CarRace/CarRace.styled.js
  sessions/react-immutable-state/car-race/components/CarRace/index.js
  sessions/react-immutable-state/demo-end/components/Episode/index.js
  sessions/react-immutable-state/demo-start/components/Episode/index.js
  sessions/react-styled-components/box/README.md
  sessions/react-styled-components/demo-end/components/Button.js
  sessions/react-styled-components/demo-end/components/Container.js
  sessions/react-styled-components/demo-end/components/InfoBox.js
  sessions/react-styled-components/demo-end/pages/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/FavoriteButton/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/Navigation/index.js
  sessions/recap-project-6/example-implementation/components/StyledButton.js
  sessions/recap-project-6/example-implementation/components/StyledLink.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-6/tourio-app/components/StyledLink.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/edit.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/css-basics/pink-box/css/styles.css
  sessions/css-basics/pink-box/css/styles.css
Due: none

fix order
  sessions/css-basics/pink-box/css/styles.css
Due: none

Add 3 New CSS Basics Challenges + New Demo End (#301)
  sessions/css-basics/combined-users/.gitignore
  sessions/css-basics/combined-users/.prettierrc.json
  sessions/css-basics/combined-users/README.md
  sessions/css-basics/combined-users/css/debug.css
  sessions/css-basics/combined-users/css/styles.css
  sessions/css-basics/combined-users/index.html
  sessions/css-basics/combined-users/package.json
  sessions/css-basics/combined-users/sandbox.config.json
  sessions/css-basics/demo-end/css/styles.css
  sessions/css-basics/demo-end/index.html
  sessions/css-basics/demo-start/index.html
  sessions/css-basics/pink-box/.gitignore
  sessions/css-basics/pink-box/.prettierrc.json
  sessions/css-basics/pink-box/README.md
  sessions/css-basics/pink-box/css/styles.css
  sessions/css-basics/pink-box/index.html
  sessions/css-basics/pink-box/package.json
  sessions/css-basics/pink-box/sandbox.config.json
  sessions/css-basics/pseudo-park/.gitignore
  sessions/css-basics/pseudo-park/.prettierrc.json
  sessions/css-basics/pseudo-park/README.md
  sessions/css-basics/pseudo-park/css/styles.css
  sessions/css-basics/pseudo-park/index.html
  sessions/css-basics/pseudo-park/package.json
  sessions/css-basics/pseudo-park/sandbox.config.json
  sessions/css-basics/shapes/css/styles.css
  sessions/css-basics/shapes/index.html
Due: npx prettier --write

update according to review comments
  sessions/js-fetch-new/demo-end/js/index.js
  sessions/js-fetch-new/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

migrate css basics challenges
  scripts/migrate.js
  sessions/css-basics/combined-users/.codesandbox/tasks.json
  sessions/css-basics/combined-users/README.md
  sessions/css-basics/combined-users/index.html
  sessions/css-basics/combined-users/package.json
  sessions/css-basics/combined-users/sandbox.config.json
  sessions/css-basics/pink-box/.codesandbox/tasks.json
  sessions/css-basics/pink-box/README.md
  sessions/css-basics/pink-box/package.json
  sessions/css-basics/pink-box/sandbox.config.json
  sessions/css-basics/pseudo-park/.codesandbox/tasks.json
  sessions/css-basics/pseudo-park/README.md
  sessions/css-basics/pseudo-park/package.json
  sessions/css-basics/pseudo-park/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

update according to review comments
  sessions/js-fetch-new/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

update next
  templates/next/package.json
Due: npx prettier --write

update next (#304)
  templates/next/package.json
Due: npx prettier --write

fix: star wars console challenge remove wrongly linked stylesheet
  sessions/js-fetch/star-wars-console/index.html
Due: none

fix: wrong import of Comments component
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/Product/index.js
Due: npx eslint --fix, npx prettier --write

fix: backend read - remove connect.js and "_" from product id
  sessions/backend-read/products/README.md
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-read/products/db/connect.js
Due: npx eslint --fix, npx prettier --write

remove promise chaining from js fetch demo
  sessions/js-fetch-new/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

Remove Array.prototype reference from hint text
  sessions/js-unit-testing/people/index.test.js
Due: npx eslint --fix, npx prettier --write

Correct test name / description
  sessions/js-unit-testing/people/index.test.js
Due: npx eslint --fix, npx prettier --write

docs: added new html-and-the-web session which makes use of GitHub´s codespaces
  sessions/html-and-the-web-new/div-salad/.codesandbox/tasks.json
  sessions/html-and-the-web-new/div-salad/.gitignore
  sessions/html-and-the-web-new/div-salad/.prettierrc.json
  sessions/html-and-the-web-new/div-salad/README.md
  sessions/html-and-the-web-new/div-salad/index.html
  sessions/html-and-the-web-new/div-salad/package.json
  sessions/html-and-the-web-new/div-salad/sandbox.config.json
  sessions/html-and-the-web-new/github-codespaces/README.md
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web-new/personal-website/.codesandbox/tasks.json
  sessions/html-and-the-web-new/personal-website/.gitignore
  sessions/html-and-the-web-new/personal-website/README.md
  sessions/html-and-the-web-new/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web-new/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web-new/personal-website/package.json
  sessions/html-and-the-web-new/personal-website/sandbox.config.json
Due: npx prettier --write

Adjust contents reflecting the postponed git / mac setup sessions
  sessions/html-and-the-web-new/github-codespaces/README.md
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Avoid an extra session and adjust the README accordingly. Add codespace documentation to html-and-the-web session
  sessions/html-and-the-web-new/div-salad/.codesandbox/tasks.json
  sessions/html-and-the-web-new/div-salad/.gitignore
  sessions/html-and-the-web-new/div-salad/.prettierrc.json
  sessions/html-and-the-web-new/div-salad/README.md
  sessions/html-and-the-web-new/div-salad/index.html
  sessions/html-and-the-web-new/div-salad/package.json
  sessions/html-and-the-web-new/div-salad/sandbox.config.json
  sessions/html-and-the-web-new/personal-website/.codesandbox/tasks.json
  sessions/html-and-the-web-new/personal-website/.gitignore
  sessions/html-and-the-web-new/personal-website/README.md
  sessions/html-and-the-web-new/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web-new/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web-new/personal-website/package.json
  sessions/html-and-the-web-new/personal-website/sandbox.config.json
  sessions/html-and-the-web/github-codespaces/README.md
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web/personal-website/README.md
Due: npx prettier --write

Add paragraphs with notes about postponed Mac / Git setup
  sessions/html-and-the-web/personal-website/README.md
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

replace create-react-app with vite in challenge instructions
  sessions/react-project-setup/journal-app/README.md
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Update package.jsons of old exercises due to npm error
  package-lock.json
  sessions/html-forms/Finding-a11y-errors/package.json
  sessions/html-forms/personal-profile-form/package.json
  sessions/html-forms/zoo/package.json
  sessions/js-forms-2/formvalidation/package.json
  sessions/js-forms/calculator/package.json
  sessions/js-forms/checkbox-input/package.json
  sessions/js-forms/demo-end/package.json
  sessions/js-forms/demo-start/package.json
  sessions/js-forms/handle-form-submit/package.json
Due: npx prettier --write

Update package.jsons of old exercises due to npm error (#306)
  package-lock.json
  sessions/html-forms/Finding-a11y-errors/package.json
  sessions/html-forms/personal-profile-form/package.json
  sessions/html-forms/zoo/package.json
  sessions/js-forms-2/formvalidation/package.json
  sessions/js-forms/calculator/package.json
  sessions/js-forms/checkbox-input/package.json
  sessions/js-forms/demo-end/package.json
  sessions/js-forms/demo-start/package.json
  sessions/js-forms/handle-form-submit/package.json
Due: npx prettier --write

Docs: change session challenges to reflect postponed mac setup (#305)
  sessions/html-and-the-web/github-codespaces/README.md
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web/personal-website/README.md
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Renamed session to reflect the new Codespaces challenge
  sessions/html-and-the-web-new/div-salad/.codesandbox/tasks.json
  sessions/html-and-the-web-new/div-salad/.gitignore
  sessions/html-and-the-web-new/div-salad/.prettierrc.json
  sessions/html-and-the-web-new/div-salad/README.md
  sessions/html-and-the-web-new/div-salad/index.html
  sessions/html-and-the-web-new/div-salad/package.json
  sessions/html-and-the-web-new/div-salad/sandbox.config.json
  sessions/html-and-the-web-new/github-codespaces/README.md
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web-new/personal-website/.codesandbox/tasks.json
  sessions/html-and-the-web-new/personal-website/.gitignore
  sessions/html-and-the-web-new/personal-website/README.md
  sessions/html-and-the-web-new/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web-new/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web-new/personal-website/package.json
  sessions/html-and-the-web-new/personal-website/sandbox.config.json
Due: npx prettier --write

Restore 'old' session for better comparability with the new ones
  sessions/html-and-the-web/div-salad/.codesandbox/tasks.json
  sessions/html-and-the-web/div-salad/.gitignore
  sessions/html-and-the-web/div-salad/.prettierrc.json
  sessions/html-and-the-web/div-salad/README.md
  sessions/html-and-the-web/div-salad/index.html
  sessions/html-and-the-web/div-salad/package.json
  sessions/html-and-the-web/div-salad/sandbox.config.json
  sessions/html-and-the-web/github-codespaces/README.md
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web/personal-website/.codesandbox/tasks.json
  sessions/html-and-the-web/personal-website/.gitignore
  sessions/html-and-the-web/personal-website/README.md
  sessions/html-and-the-web/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web/personal-website/package.json
  sessions/html-and-the-web/personal-website/sandbox.config.json
Due: npx prettier --write

Restore 'old' session for better comparability with the new ones
  sessions/html-and-the-web/github-codespaces/README.md
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web/personal-website/README.md
Due: npx prettier --write

Adjust contents reflecting the postponed git / mac setup sessions
  sessions/html-and-the-web-new/personal-website/README.md
Due: npx prettier --write

Add new demo-start for CSS structure session
  package-lock.json
  sessions/css-structure/demo-start/.codesandbox/tasks.json
  sessions/css-structure/demo-start/.gitignore
  sessions/css-structure/demo-start/.prettierrc.json
  sessions/css-structure/demo-start/README.md
  sessions/css-structure/demo-start/css/styles.css
  sessions/css-structure/demo-start/index.html
  sessions/css-structure/demo-start/package.json
  sessions/css-structure/demo-start/sandbox.config.json
Due: npx prettier --write

Add new Demo-start for CSS Structure session
  sessions/css-structure/demo-end/.codesandbox/tasks.json
  sessions/css-structure/demo-end/.gitignore
  sessions/css-structure/demo-end/.prettierrc.json
  sessions/css-structure/demo-end/README.md
  sessions/css-structure/demo-end/components/card.css
  sessions/css-structure/demo-end/css/global.css
  sessions/css-structure/demo-end/css/styles.css
  sessions/css-structure/demo-end/index.html
  sessions/css-structure/demo-end/package.json
  sessions/css-structure/demo-end/sandbox.config.json
Due: npx prettier --write

Restore old session html-and-the-web for better comparability (#307)
  sessions/html-and-the-web-new/div-salad/.codesandbox/tasks.json
  sessions/html-and-the-web-new/div-salad/.gitignore
  sessions/html-and-the-web-new/div-salad/.prettierrc.json
  sessions/html-and-the-web-new/div-salad/README.md
  sessions/html-and-the-web-new/div-salad/index.html
  sessions/html-and-the-web-new/div-salad/package.json
  sessions/html-and-the-web-new/div-salad/sandbox.config.json
  sessions/html-and-the-web-new/github-codespaces/README.md
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_01.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_02.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_03.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_04.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_05.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_06.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_07.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_08.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_09.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_10.png
  sessions/html-and-the-web-new/github-codespaces/assets/codespaces/codespaces_11.png
  sessions/html-and-the-web-new/personal-website/.codesandbox/tasks.json
  sessions/html-and-the-web-new/personal-website/.gitignore
  sessions/html-and-the-web-new/personal-website/README.md
  sessions/html-and-the-web-new/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web-new/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web-new/personal-website/package.json
  sessions/html-and-the-web-new/personal-website/sandbox.config.json
  sessions/html-and-the-web/personal-website/README.md
Due: npx prettier --write

chore: reverted changes from before when git was planned to be introduced after the quiz app setup
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

added mandatory deployment requirements
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

added recommended overall structure and methodology
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

added 'GitHub Pages' to instructions
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

fixed typos
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

updated deployment requirements in project 2
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
