Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

chore: use workspaces (#21)
  .lintstagedrc.json
  README.md
  docs/resources/codesandbox-exercise-and-solutions.png
  docs/resources/codesandbox-export.png
  docs/resources/run_script_vsc.png
  package-lock.json
  package.json
  sessions/example/exercise-01/.eslintrc.json
  sessions/example/exercise-01/.prettierrc.json
  sessions/example/exercise-01/index.js
  sessions/example/exercise-01/package.json
  sessions/example/exercise-02/.eslintrc.json
  sessions/example/exercise-02/.prettierrc.json
  sessions/example/exercise-02/index.js
  sessions/example/exercise-02/package.json
  templates/javascript/.eslintrc.json
  templates/javascript/.prettierrc.json
  templates/javascript/package.json
  templates/react/.eslintrc.json
  templates/react/.prettierrc.json
  templates/react/.stylelintrc.json
  templates/react/package-lock.json
  templates/react/package.json
  templates/react/src/App.js
  templates/react/src/index.js
  templates/static-html-css-js/.eslintrc.json
  templates/static-html-css-js/.prettierrc.json
  templates/static-html-css-js/.stylelintrc.json
  templates/static-html-css/.eslintrc.json
  templates/static-html-css/.prettierrc.json
  templates/static-html-css/.stylelintrc.json
  templates/styled-components/.eslintrc.json
  templates/styled-components/.prettierrc.json
  templates/styled-components/.stylelintrc.json
  templates/styled-components/package-lock.json
  templates/styled-components/package.json
  templates/styled-components/src/App.js
  templates/styled-components/src/global-styles.js
  templates/styled-components/src/index.js
Due: npx eslint --fix, npx prettier --write

feat: add boilerplate for collatz exercise
  sessions/js-math-and-numbers/collatz-calculator/.eslintrc.json
  sessions/js-math-and-numbers/collatz-calculator/.prettierrc.json
  sessions/js-math-and-numbers/collatz-calculator/index.js
  sessions/js-math-and-numbers/collatz-calculator/package.json
  sessions/test-session/test-exercise/.DS_Store
Due: npx eslint --fix, npx prettier --write

feat: use different template for collatz exercise
  sessions/js-math-and-numbers/collatz-calculator/.stylelintrc.json
  sessions/js-math-and-numbers/collatz-calculator/css/styles.css
  sessions/js-math-and-numbers/collatz-calculator/index.html
  sessions/js-math-and-numbers/collatz-calculator/js/index.js
  sessions/js-math-and-numbers/collatz-calculator/package.json
  sessions/js-math-and-numbers/collatz-calculator/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: import exercise from codepen
  sessions/js-math-and-numbers/collatz-calculator/css/styles.css
  sessions/js-math-and-numbers/collatz-calculator/index.html
  sessions/js-math-and-numbers/collatz-calculator/js/index.js
Due: npx eslint --fix, npx prettier --write

feat: import hyper lazer nyan exercise from codepen
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/.eslintrc.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/.prettierrc.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/.stylelintrc.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/css/styles.css
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/index.html
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/js/index.js
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/package.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-math-and-numbers/hyper-lazer-nyan-13/index.html
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/index.html
Due: none

Update sessions/js-math-and-numbers/collatz-calculator/index.html
  sessions/js-math-and-numbers/collatz-calculator/index.html
Due: none

fix: integrate comments from pr
  sessions/js-math-and-numbers/collatz-calculator/package.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/js/index.js
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-array-methods): add map exercise (#1)
  sessions/js-array-methods/map/index.js
  sessions/js-array-methods/map/package.json
Due: npx eslint --fix, npx prettier --write

fix: improve exercise wording
  sessions/js-array-methods/for-each/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-array-methods/filter/index.js
  sessions/js-array-methods/filter/index.js
Due: npx eslint --fix, npx prettier --write

Update index.js
  sessions/js-array-methods/filter/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-array-methods): add repetition exercise for array methods (#5)
  sessions/js-array-methods/repitition/index.js
  sessions/js-array-methods/repitition/package.json
Due: npx eslint --fix, npx prettier --write

feat(react-arrays): add exercise 01 (#6)
  sessions/react-arrays-exercise-01/.codesandbox/workspace.json
  sessions/react-arrays-exercise-01/package.json
  sessions/react-arrays-exercise-01/public/index.html
  sessions/react-arrays-exercise-01/src/App.js
  sessions/react-arrays-exercise-01/src/components/Card.css
  sessions/react-arrays-exercise-01/src/components/Card.js
  sessions/react-arrays-exercise-01/src/index.js
  sessions/react-arrays-exercise-01/src/styles.css
Due: npx eslint --fix, npx prettier --write

refactor: rename exercise and move it into another folder
  sessions/react-props/box-with-props/.codesandbox/workspace.json
  sessions/react-props/box-with-props/package.json
  sessions/react-props/box-with-props/public/index.html
  sessions/react-props/box-with-props/src/App.js
  sessions/react-props/box-with-props/src/components/Box.css
  sessions/react-props/box-with-props/src/components/Box.js
  sessions/react-props/box-with-props/src/index.js
  sessions/react-props/box-with-props/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-usestate-and-events-advanced): add exercise 02 (#13)
  sessions/react-usestate-and-events-advanced-exercise-02/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced-exercise-02/package.json
  sessions/react-usestate-and-events-advanced-exercise-02/public/index.html
  sessions/react-usestate-and-events-advanced-exercise-02/src/App.js
  sessions/react-usestate-and-events-advanced-exercise-02/src/Form.js
  sessions/react-usestate-and-events-advanced-exercise-02/src/Movie.js
  sessions/react-usestate-and-events-advanced-exercise-02/src/index.js
  sessions/react-usestate-and-events-advanced-exercise-02/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update App.js
  sessions/react-useeffect-with-fetch-exercise-01/src/App.js
Due: npx eslint --fix, npx prettier --write

feat(react-useeffect-with-fetch): add exercise 01 (#10)
  sessions/react-useeffect-with-fetch-exercise-01/.codesandbox/workspace.json
  sessions/react-useeffect-with-fetch-exercise-01/package.json
  sessions/react-useeffect-with-fetch-exercise-01/public/index.html
  sessions/react-useeffect-with-fetch-exercise-01/src/App.js
  sessions/react-useeffect-with-fetch-exercise-01/src/index.js
  sessions/react-useeffect-with-fetch-exercise-01/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat: add additional exercise text
  sessions/react-useeffect-with-fetch-exercise-01/src/App.js
Due: npx eslint --fix, npx prettier --write

fix: typo in task 6 for function name
  sessions/react-usestate-and-events-advanced-exercise-01/src/App.js
Due: npx eslint --fix, npx prettier --write

fix: typo in task 7 for prop name
  sessions/react-usestate-and-events-advanced-exercise-01/src/App.js
Due: npx eslint --fix, npx prettier --write

feat(react-usestate-and-events-advanced): add exercise 01 (#12)
  sessions/react-usestate-and-events-advanced-exercise-01/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced-exercise-01/package.json
  sessions/react-usestate-and-events-advanced-exercise-01/public/index.html
  sessions/react-usestate-and-events-advanced-exercise-01/src/App.js
  sessions/react-usestate-and-events-advanced-exercise-01/src/form.js
  sessions/react-usestate-and-events-advanced-exercise-01/src/index.js
  sessions/react-usestate-and-events-advanced-exercise-01/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat: add boilerplate for 4 exercises
  sessions/js-es-next/async-await-ghibli/.eslintrc.json
  sessions/js-es-next/async-await-ghibli/.prettierrc.json
  sessions/js-es-next/async-await-ghibli/.stylelintrc.json
  sessions/js-es-next/async-await-ghibli/css/styles.css
  sessions/js-es-next/async-await-ghibli/index.html
  sessions/js-es-next/async-await-ghibli/js/index.js
  sessions/js-es-next/async-await-ghibli/package.json
  sessions/js-es-next/async-await-ghibli/sandbox.config.json
  sessions/js-es-next/async-await-star-wars/.eslintrc.json
  sessions/js-es-next/async-await-star-wars/.prettierrc.json
  sessions/js-es-next/async-await-star-wars/.stylelintrc.json
  sessions/js-es-next/async-await-star-wars/css/styles.css
  sessions/js-es-next/async-await-star-wars/index.html
  sessions/js-es-next/async-await-star-wars/js/index.js
  sessions/js-es-next/async-await-star-wars/package.json
  sessions/js-es-next/async-await-star-wars/sandbox.config.json
  sessions/js-es-next/destructuring-arrays/.eslintrc.json
  sessions/js-es-next/destructuring-arrays/.prettierrc.json
  sessions/js-es-next/destructuring-arrays/index.js
  sessions/js-es-next/destructuring-arrays/package.json
  sessions/js-es-next/destructuring-objects/.eslintrc.json
  sessions/js-es-next/destructuring-objects/.prettierrc.json
  sessions/js-es-next/destructuring-objects/index.js
  sessions/js-es-next/destructuring-objects/package.json
Due: npx eslint --fix, npx prettier --write

feat: add destructuring objects content
  sessions/js-es-next/destructuring-arrays/.eslintrc.json
  sessions/js-es-next/destructuring-objects/.eslintrc.json
  sessions/js-es-next/destructuring-objects/index.js
Due: npx eslint --fix, npx prettier --write

feat: add array destructuring content
  sessions/js-es-next/destructuring-arrays/index.js
Due: npx eslint --fix, npx prettier --write

feat: add async-await-ghibli content
  sessions/js-es-next/async-await-ghibli/css/styles.css
  sessions/js-es-next/async-await-ghibli/index.html
  sessions/js-es-next/async-await-ghibli/js/index.js
Due: npx eslint --fix, npx prettier --write

feat: add async-await-star-wars content
  sessions/js-es-next/async-await-star-wars/css/styles.css
  sessions/js-es-next/async-await-star-wars/index.html
  sessions/js-es-next/async-await-star-wars/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(next-js-api): add exercise files
  sessions/next-js-api/excercise/.eslintrc.json
  sessions/next-js-api/excercise/.gitignore
  sessions/next-js-api/excercise/.prettierrc.json
  sessions/next-js-api/excercise/.stylelintrc.json
  sessions/next-js-api/excercise/README.md
  sessions/next-js-api/excercise/db/users.json
  sessions/next-js-api/excercise/next.config.js
  sessions/next-js-api/excercise/package-lock.json
  sessions/next-js-api/excercise/package.json
  sessions/next-js-api/excercise/pages/_app.js
  sessions/next-js-api/excercise/pages/api/users/[userId].js
  sessions/next-js-api/excercise/pages/api/users/index.js
  sessions/next-js-api/excercise/pages/index.js
  sessions/next-js-api/excercise/public/favicon.ico
  sessions/next-js-api/excercise/public/vercel.svg
  sessions/next-js-api/excercise/styles/Home.module.css
  sessions/next-js-api/excercise/styles/globals.css
Due: npx eslint --fix, npx prettier --write

refactor: split index.js code into 4 exercise components
  package-lock.json
  sessions/next-js-api/excercise/components/Exercise1.js
  sessions/next-js-api/excercise/components/Exercise2.js
  sessions/next-js-api/excercise/components/Exercise3.js
  sessions/next-js-api/excercise/components/Exercise4.js
  sessions/next-js-api/excercise/pages/index.js
Due: npx eslint --fix, npx prettier --write

refactor: move sessions to grouped folders
  sessions/react-arrays/fruits/.codesandbox/workspace.json
  sessions/react-arrays/fruits/package.json
  sessions/react-arrays/fruits/public/index.html
  sessions/react-arrays/fruits/src/App.js
  sessions/react-arrays/fruits/src/components/Card.css
  sessions/react-arrays/fruits/src/components/Card.js
  sessions/react-arrays/fruits/src/index.js
  sessions/react-arrays/fruits/src/styles.css
  sessions/react-useeffect-with-fetch/pokemon-api/.codesandbox/workspace.json
  sessions/react-useeffect-with-fetch/pokemon-api/package.json
  sessions/react-useeffect-with-fetch/pokemon-api/public/index.html
  sessions/react-useeffect-with-fetch/pokemon-api/src/App.js
  sessions/react-useeffect-with-fetch/pokemon-api/src/index.js
  sessions/react-useeffect-with-fetch/pokemon-api/src/styles.css
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/package.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/public/index.html
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/App.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/Form.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/Movie.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/index.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/styles.css
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/public/index.html
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/App.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/form.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/index.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/styles.css
Due: npx eslint --fix, npx prettier --write

chore(react-usestate-and-events-advanced): update dependencies
  package-lock.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/package.json
Due: npx prettier --write

feat(react-router): add exercise
  sessions/react-router/simple-routing-with-styled-components/.codesandbox/workspace.json
  sessions/react-router/simple-routing-with-styled-components/.eslintrc.json
  sessions/react-router/simple-routing-with-styled-components/.prettierrc.json
  sessions/react-router/simple-routing-with-styled-components/.stylelintrc.json
  sessions/react-router/simple-routing-with-styled-components/package.json
  sessions/react-router/simple-routing-with-styled-components/public/index.html
  sessions/react-router/simple-routing-with-styled-components/src/App.js
  sessions/react-router/simple-routing-with-styled-components/src/GlobalStyle.js
  sessions/react-router/simple-routing-with-styled-components/src/components/Header.js
  sessions/react-router/simple-routing-with-styled-components/src/components/pages/Account.js
  sessions/react-router/simple-routing-with-styled-components/src/components/pages/Home.js
  sessions/react-router/simple-routing-with-styled-components/src/components/pages/Product.js
  sessions/react-router/simple-routing-with-styled-components/src/components/pages/Team.js
  sessions/react-router/simple-routing-with-styled-components/src/components/styled/StyledHeader.js
  sessions/react-router/simple-routing-with-styled-components/src/components/styled/StyledLink.js
  sessions/react-router/simple-routing-with-styled-components/src/components/styled/StyledNav.js
  sessions/react-router/simple-routing-with-styled-components/src/components/styled/StyledNavLink.js
  sessions/react-router/simple-routing-with-styled-components/src/components/styled/StyledPageWrapper.js
  sessions/react-router/simple-routing-with-styled-components/src/index.js
Due: npx eslint --fix, npx prettier --write

feat(react-router): update exercise
  sessions/react-router/simple-routing-with-styled-components/src/App.js
Due: npx eslint --fix, npx prettier --write

feat(react-custom-hooks): add first draft
  sessions/react-custom-hooks/useCopyToClipBoard/.codesandbox/workspace.json
  sessions/react-custom-hooks/useCopyToClipBoard/package.json
  sessions/react-custom-hooks/useCopyToClipBoard/public/index.html
  sessions/react-custom-hooks/useCopyToClipBoard/src/App.js
  sessions/react-custom-hooks/useCopyToClipBoard/src/index.js
  sessions/react-custom-hooks/useCopyToClipBoard/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(accessibilty): add exercise 1
  sessions/accessibility/harry-potter-fanpage/.eslintrc.json
  sessions/accessibility/harry-potter-fanpage/.prettierrc.json
  sessions/accessibility/harry-potter-fanpage/.stylelintrc.json
  sessions/accessibility/harry-potter-fanpage/css/styles.css
  sessions/accessibility/harry-potter-fanpage/index.html
  sessions/accessibility/harry-potter-fanpage/package.json
  sessions/accessibility/harry-potter-fanpage/sandbox.config.json
Due: npx prettier --write

feat(accessibility): add exercise 2
  sessions/accessibility/harry-potter-fanpage-advanced/.eslintrc.json
  sessions/accessibility/harry-potter-fanpage-advanced/.prettierrc.json
  sessions/accessibility/harry-potter-fanpage-advanced/.stylelintrc.json
  sessions/accessibility/harry-potter-fanpage-advanced/css/styles.css
  sessions/accessibility/harry-potter-fanpage-advanced/index.html
  sessions/accessibility/harry-potter-fanpage-advanced/package.json
  sessions/accessibility/harry-potter-fanpage-advanced/sandbox.config.json
  sessions/accessibility/harry-potter-fanpage-basic/.eslintrc.json
  sessions/accessibility/harry-potter-fanpage-basic/.prettierrc.json
  sessions/accessibility/harry-potter-fanpage-basic/.stylelintrc.json
  sessions/accessibility/harry-potter-fanpage-basic/css/styles.css
  sessions/accessibility/harry-potter-fanpage-basic/index.html
  sessions/accessibility/harry-potter-fanpage-basic/package.json
  sessions/accessibility/harry-potter-fanpage-basic/sandbox.config.json
Due: npx prettier --write

feat(css-basics): add exercise 1
  sessions/css-basics/button-styles/.eslintrc.json
  sessions/css-basics/button-styles/.prettierrc.json
  sessions/css-basics/button-styles/.stylelintrc.json
  sessions/css-basics/button-styles/css/styles.css
  sessions/css-basics/button-styles/index.html
  sessions/css-basics/button-styles/package.json
  sessions/css-basics/button-styles/sandbox.config.json
Due: npx prettier --write

feat(css-basics): add exercise 2
  sessions/css-basics/pokemon-page/.eslintrc.json
  sessions/css-basics/pokemon-page/.prettierrc.json
  sessions/css-basics/pokemon-page/.stylelintrc.json
  sessions/css-basics/pokemon-page/css/styles.css
  sessions/css-basics/pokemon-page/index.html
  sessions/css-basics/pokemon-page/package.json
  sessions/css-basics/pokemon-page/sandbox.config.json
Due: npx prettier --write

feat(css-flexbox): add navigation exercise
  sessions/css-layout-with-flexbox/navigation/.eslintrc.json
  sessions/css-layout-with-flexbox/navigation/.prettierrc.json
  sessions/css-layout-with-flexbox/navigation/.stylelintrc.json
  sessions/css-layout-with-flexbox/navigation/css/styles.css
  sessions/css-layout-with-flexbox/navigation/index.html
  sessions/css-layout-with-flexbox/navigation/package.json
  sessions/css-layout-with-flexbox/navigation/sandbox.config.json
Due: npx prettier --write

feat(css-flexbox): add profile exercise
  sessions/css-layout-with-flexbox/profile/.eslintrc.json
  sessions/css-layout-with-flexbox/profile/.prettierrc.json
  sessions/css-layout-with-flexbox/profile/.stylelintrc.json
  sessions/css-layout-with-flexbox/profile/css/styles.css
  sessions/css-layout-with-flexbox/profile/index.html
  sessions/css-layout-with-flexbox/profile/package.json
  sessions/css-layout-with-flexbox/profile/sandbox.config.json
Due: npx prettier --write
