Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Update sessions/react-effects-and-fetch/iss-tracker/src/components/Map/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/index.js
Due: npx eslint --fix, npx prettier --write

fix naming and re-cook all templates
  recipes/empty/files/README.md
  recipes/html-css-js-static/files/README.md
  recipes/html-css-js/files/README.md
  recipes/html-css-static/files/README.md
  recipes/js/files/README.md
  recipes/next/files/README.md
  recipes/react-minimal/files/README.md
  templates/empty/README.md
  templates/html-css-js-static/README.md
  templates/html-css-js/README.md
  templates/html-css-static/README.md
  templates/js/README.md
  templates/next/README.md
  templates/next/public/favicon.ico
  templates/react-minimal/README.md
Due: npx prettier --write

fix text for js createElement toast exercise
  sessions/js-createelement/toast-messages/js/index.js
Due: npx eslint --fix, npx prettier --write

Just a test
  sessions/css-grid/fish-cards/.codesandbox:tasks.json
Due: npx prettier --write

Update and rename sessions/css-grid/fish-cards/.codesandbox:tasks.json to sessions/css-grid/fish-cards/.codesandbox/tasks.json
  sessions/css-grid/fish-cards/.codesandbox/tasks.json
Due: npx prettier --write

move accessibility demo to web-exercises
  sessions/accessibility/demo-end/.gitignore
  sessions/accessibility/demo-end/.prettierrc.json
  sessions/accessibility/demo-end/README.md
  sessions/accessibility/demo-end/index.html
  sessions/accessibility/demo-end/package.json
  sessions/accessibility/demo-end/sandbox.config.json
  sessions/accessibility/demo-start/.gitignore
  sessions/accessibility/demo-start/.prettierrc.json
  sessions/accessibility/demo-start/README.md
  sessions/accessibility/demo-start/index.html
  sessions/accessibility/demo-start/package.json
  sessions/accessibility/demo-start/sandbox.config.json
Due: npx prettier --write

Fix typo in forms 2 session
  sessions/js-forms-2/controlled-input-uppercase/index.html
Due: none

Apply suggestions from code review
  sessions/accessibility/demo-end/README.md
  sessions/accessibility/demo-end/package.json
  sessions/accessibility/demo-start/index.html
  sessions/accessibility/demo-start/package.json
Due: npx prettier --write

Move accessibility demo to web-exercises (#198)
  sessions/accessibility/demo-end/.gitignore
  sessions/accessibility/demo-end/.prettierrc.json
  sessions/accessibility/demo-end/README.md
  sessions/accessibility/demo-end/index.html
  sessions/accessibility/demo-end/package.json
  sessions/accessibility/demo-end/sandbox.config.json
  sessions/accessibility/demo-start/.gitignore
  sessions/accessibility/demo-start/.prettierrc.json
  sessions/accessibility/demo-start/README.md
  sessions/accessibility/demo-start/index.html
  sessions/accessibility/demo-start/package.json
  sessions/accessibility/demo-start/sandbox.config.json
Due: npx prettier --write

remove condescending language
  sessions/nextjs-dynamic-routes/demo-end/README.md
  sessions/react-styled-components/lotr-app-styling/pages/volumes/[slug].js
Due: npx eslint --fix, npx prettier --write

remove condescending language
  README.md
  sessions/js-async-functions/api-status/README.md
  sessions/js-loops/while-random-number/README.md
  sessions/react-basics/hello-world/README.md
  sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-nesting/buttons-and-children/README.md
  sessions/react-nesting/fragments/README.md
  sessions/react-nesting/navigation/README.md
  sessions/react-props/button/README.md
  sessions/react-state-2/table-reservation/README.md
  sessions/react-state-2/triple-count/README.md
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-state/counter/README.md
  sessions/react-with-arrays/journal-app-entries-array/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/note-in-a-bottle.md
Due: npx prettier --write

delete accidental file
  sessions/react-styled-components/lotr-app-styling/pages/volumes/[slug].js
Due: npx eslint --fix, npx prettier --write

where do these files come from :D
  sessions/nextjs-dynamic-routes/demo-end/README.md
Due: npx prettier --write

remove condescending language (#199)
  README.md
  sessions/js-async-functions/api-status/README.md
  sessions/js-loops/while-random-number/README.md
  sessions/react-basics/hello-world/README.md
  sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-nesting/buttons-and-children/README.md
  sessions/react-nesting/fragments/README.md
  sessions/react-nesting/navigation/README.md
  sessions/react-props/button/README.md
  sessions/react-state-2/table-reservation/README.md
  sessions/react-state-2/triple-count/README.md
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-state/counter/README.md
  sessions/react-with-arrays/journal-app-entries-array/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/note-in-a-bottle.md
Due: npx prettier --write

feat(styled-components): add start for lotr challenge
  package-lock.json
  sessions/styled-components/lord-of-the-rings/.eslintrc.json
  sessions/styled-components/lord-of-the-rings/.gitignore
  sessions/styled-components/lord-of-the-rings/.npmrc
  sessions/styled-components/lord-of-the-rings/.prettierrc.json
  sessions/styled-components/lord-of-the-rings/.storybook/main.js
  sessions/styled-components/lord-of-the-rings/.storybook/preview.js
  sessions/styled-components/lord-of-the-rings/README.md
  sessions/styled-components/lord-of-the-rings/jest.config.js
  sessions/styled-components/lord-of-the-rings/lib/books.js
  sessions/styled-components/lord-of-the-rings/next.config.js
  sessions/styled-components/lord-of-the-rings/package.json
  sessions/styled-components/lord-of-the-rings/pages/_app.js
  sessions/styled-components/lord-of-the-rings/pages/books/[slug].js
  sessions/styled-components/lord-of-the-rings/pages/books/index.js
  sessions/styled-components/lord-of-the-rings/pages/index.js
  sessions/styled-components/lord-of-the-rings/sandbox.config.json
  sessions/styled-components/lord-of-the-rings/styles.js
Due: npx eslint --fix, npx prettier --write

add first draft of styled app
  sessions/styled-components/lord-of-the-rings/README.md
  sessions/styled-components/lord-of-the-rings/pages/books/[slug].js
  sessions/styled-components/lord-of-the-rings/pages/books/index.js
  sessions/styled-components/lord-of-the-rings/resources/lotr_fanpage_styled_components_design.fig
Due: npx eslint --fix, npx prettier --write

update fanpage with figma
  package-lock.json
  sessions/react-styled-components/lotr-app-styling/README.md
  sessions/react-styled-components/lotr-app-styling/lib/data.js
  sessions/react-styled-components/lotr-app-styling/pages/books/[slug].js
  sessions/react-styled-components/lotr-app-styling/pages/index.js
  sessions/react-styled-components/lotr-app-styling/pages/volumes/[slug].js
  sessions/react-styled-components/lotr-app-styling/pages/volumes/index.js
  sessions/react-styled-components/lotr-app-styling/public/images/arrow-left.svg
  sessions/react-styled-components/lotr-app-styling/public/images/arrow-right.svg
  sessions/react-styled-components/lotr-app-styling/public/images/chevron-left.svg
  sessions/react-styled-components/lotr-app-styling/public/images/the-fellowship-of-the-ring.png
  sessions/react-styled-components/lotr-app-styling/public/images/the-return-of-the-king.png
  sessions/react-styled-components/lotr-app-styling/public/images/the-two-towers.png
  sessions/react-styled-components/lotr-app-styling/styles.js
Due: npx eslint --fix, npx prettier --write

fix next font
  package-lock.json
  package.json
  sessions/react-styled-components/lotr-app-styling/package.json
  sessions/react-styled-components/lotr-app-styling/styles.js
Due: npx eslint --fix, npx prettier --write

update lotr challenge
  sessions/react-styled-components/lotr-app-styling/pages/volumes/[slug].js
  sessions/react-styled-components/lotr-app-styling/pages/volumes/index.js
  sessions/react-styled-components/lotr-app-styling/styles.js
Due: npx eslint --fix, npx prettier --write

Update sessions/nextjs-basics-and-routing/lotr-app/README.md
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

add @next/font
  package-lock.json
  package.json
  sessions/react-styled-components/lotr-app-styling/styles.js
Due: npx eslint --fix, npx prettier --write

add fallback
  sessions/react-styled-components/lotr-app-styling/styles.js
Due: npx eslint --fix, npx prettier --write

fix color of link arrows
  package-lock.json
  sessions/react-styled-components/lotr-app-styling/next.config.js
  sessions/react-styled-components/lotr-app-styling/package.json
  sessions/react-styled-components/lotr-app-styling/pages/volumes/[slug].js
  sessions/react-styled-components/lotr-app-styling/public/images/arrow-left.svg
  sessions/react-styled-components/lotr-app-styling/public/images/arrow-right.svg
  sessions/react-styled-components/lotr-app-styling/public/images/chevron-left.svg
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/README.md
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/lib/books.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/next.config.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/package.json
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/books/index.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/books/the-fellowship-of-the-ring.js
Due: npx eslint --fix, npx prettier --write

adjust exercise
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/README.md
Due: npx prettier --write

conform challenge to new resources
  package-lock.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-two-towers.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/public/images/the-fellowship-of-the-ring.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/public/images/the-return-of-the-king.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/public/images/the-two-towers.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix title
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/README.md
Due: npx prettier --write

clarify tasks in readme
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/README.md
Due: npx prettier --write

move folder
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.eslintrc.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.gitignore
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.npmrc
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.prettierrc.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.storybook/main.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.storybook/preview.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/README.md
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/jest.config.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/lib/books.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/next.config.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/package.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/_app.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/books/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/books/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/books/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/books/the-two-towers.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/sandbox.config.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/styles.js
Due: npx eslint --fix, npx prettier --write

fix files
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/lib/data.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-two-towers.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/styles.js
Due: npx eslint --fix, npx prettier --write

(lotr-dynamic-routes): first draft
  package-lock.json
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/.eslintrc.json
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/.gitignore
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/.npmrc
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/.prettierrc.json
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/.storybook/main.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/.storybook/preview.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/README.md
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/jest.config.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/lib/books.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/next.config.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/package.json
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/_app.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/books/index.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/books/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/books/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/books/the-two-towers.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/pages/index.js
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/sandbox.config.json
  sessions/nextjs-dynamic-routes/lotr-dynamic-routes/styles.js
Due: npx eslint --fix, npx prettier --write

Next.js Dynamic Routes: LotR (#192)
  package-lock.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.eslintrc.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.gitignore
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.npmrc
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.prettierrc.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.storybook/main.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/.storybook/preview.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/README.md
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/jest.config.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/lib/data.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/next.config.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/package.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/_app.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-two-towers.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/public/images/the-fellowship-of-the-ring.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/public/images/the-return-of-the-king.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/public/images/the-two-towers.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/sandbox.config.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/styles.js
Due: npx eslint --fix, npx prettier --write

set csb template to next
  sessions/react-styled-components/lotr-app-styling/sandbox.config.json
Due: npx prettier --write

Update sessions/styled-components/box-with-hover/README.md
  sessions/styled-components/box-with-hover/README.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
