Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Remove remaining conflict markers
  sessions/recap-project-5/art-gallery-app-solution/package.json
Due: npx prettier --write

fix project 6 structure
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Update demo start
  sessions/react-data-fetching/demo-start/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

Update demo start (#341)
  sessions/react-data-fetching/demo-start/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

fix duplicate name in package.json
  sessions/js-error-handling/fetch-solution/package.json
Due: npx prettier --write

fix duplicate name in package.json (#342)
  sessions/js-error-handling/fetch-solution/package.json
Due: npx prettier --write

create exercise 'letter-puzzle' for 'js-array-methods-2'
  package-lock.json
  sessions/js-array-methods-2/letter-puzzle/.codesandbox/tasks.json
  sessions/js-array-methods-2/letter-puzzle/.eslintrc.json
  sessions/js-array-methods-2/letter-puzzle/.gitignore
  sessions/js-array-methods-2/letter-puzzle/.prettierrc.json
  sessions/js-array-methods-2/letter-puzzle/README.md
  sessions/js-array-methods-2/letter-puzzle/css/styles.css
  sessions/js-array-methods-2/letter-puzzle/index.html
  sessions/js-array-methods-2/letter-puzzle/js/index.js
  sessions/js-array-methods-2/letter-puzzle/js/index.test.js
  sessions/js-array-methods-2/letter-puzzle/package.json
  sessions/js-array-methods-2/letter-puzzle/sandbox.config.json
  sessions/js-array-methods-2/letter-puzzle/utils/data.js
  sessions/js-array-methods-2/letter-puzzle/utils/service.js
Due: npx eslint --fix, npx prettier --write

update and rename React Basics demo start
  sessions/react-basics/demo-render/src/index.js
  sessions/react-basics/demo-start/.codesandbox/tasks.json
  sessions/react-basics/demo-start/.eslintrc.json
  sessions/react-basics/demo-start/.gitignore
  sessions/react-basics/demo-start/.prettierrc.json
  sessions/react-basics/demo-start/README.md
  sessions/react-basics/demo-start/package.json
  sessions/react-basics/demo-start/public/index.html
  sessions/react-basics/demo-start/public/styles.css
  sessions/react-basics/demo-start/sandbox.config.json
  sessions/react-basics/demo-start/src/index.js
Due: npx eslint --fix, npx prettier --write

Add demo-end with button example
  sessions/react-basics/demo-end/.codesandbox/tasks.json
  sessions/react-basics/demo-end/.eslintrc.json
  sessions/react-basics/demo-end/.gitignore
  sessions/react-basics/demo-end/.prettierrc.json
  sessions/react-basics/demo-end/README.md
  sessions/react-basics/demo-end/package.json
  sessions/react-basics/demo-end/public/index.html
  sessions/react-basics/demo-end/public/styles.css
  sessions/react-basics/demo-end/sandbox.config.json
  sessions/react-basics/demo-end/src/index.js
Due: npx eslint --fix, npx prettier --write

refactor exercise
  sessions/js-array-methods-2/letter-puzzle/README.md
  sessions/js-array-methods-2/letter-puzzle/css/styles.css
  sessions/js-array-methods-2/letter-puzzle/index.html
  sessions/js-array-methods-2/letter-puzzle/js/index.js
  sessions/js-array-methods-2/letter-puzzle/utils/data.js
  sessions/js-array-methods-2/letter-puzzle/utils/service.js
Due: npx eslint --fix, npx prettier --write

fix typo
  sessions/js-array-methods-2/letter-puzzle/js/index.js
Due: npx eslint --fix, npx prettier --write

add example
  sessions/js-array-methods-2/letter-puzzle/README.md
  sessions/js-array-methods-2/letter-puzzle/js/index.js
Due: npx eslint --fix, npx prettier --write

provide demo start
  package-lock.json
  sessions/js-array-methods-2/demo-start/README.md
  sessions/js-array-methods-2/demo-start/css/styles.css
  sessions/js-array-methods-2/demo-start/index.html
  sessions/js-array-methods-2/demo-start/js/index.js
  sessions/js-array-methods-2/demo-start/js/index.test.js
  sessions/js-array-methods-2/demo-start/package.json
Due: npx eslint --fix, npx prettier --write

finish demo-end
  package-lock.json
  sessions/js-array-methods-2/demo-end/README.md
  sessions/js-array-methods-2/demo-end/css/styles.css
  sessions/js-array-methods-2/demo-end/index.html
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-end/js/index.test.js
  sessions/js-array-methods-2/demo-end/package.json
Due: npx eslint --fix, npx prettier --write

Rename template.
  examples/crud-recap-template/package.json
Due: npx prettier --write

Fix PUT.
  examples/next-data-modelling/pages/_app.js
  examples/next-data-modelling/pages/api/posts/[id].js
Due: npx eslint --fix, npx prettier --write

Add README.
  examples/testing/README.md
  examples/testing/index.html
  examples/testing/src/ConfirmButton/ConfirmButton.jsx
  examples/testing/src/ConfirmButton/ConfirmButton.test.jsx
Due: npx eslint --fix, npx prettier --write

Add user example.
  examples/next-mongo-ratings/components/PetCard/index.js
  examples/next-mongo-ratings/components/Rating/index.js
  examples/next-mongo-ratings/db/fixtures.js
  examples/next-mongo-ratings/db/import.js
  examples/next-mongo-ratings/db/models/Rating.js
  examples/next-mongo-ratings/db/models/User.js
  examples/next-mongo-ratings/pages/_app.js
  examples/next-mongo-ratings/pages/api/users/[id].js
  examples/next-mongo-ratings/pages/api/users/login.js
  examples/next-mongo-ratings/pages/pets/[id].js
Due: npx eslint --fix, npx prettier --write

Fix README.
  examples/next-mongo-maps/README.md
Due: npx prettier --write

Update React compos.
  examples/testing/src/App.jsx
  examples/testing/src/ConfirmButton/ConfirmButton.jsx
  examples/testing/src/main.css
Due: npx eslint --fix, npx prettier --write

Draft testing session.
  examples/testing/.eslintrc.json
  examples/testing/.nvmrc
  examples/testing/README.md
  examples/testing/index.html
  examples/testing/package-lock.json
  examples/testing/package.json
  examples/testing/src/App.jsx
  examples/testing/src/Counter/Counter.jsx
  examples/testing/src/Counter/Counter.test.jsx
  examples/testing/src/UserList/UserList.jsx
  examples/testing/src/UserList/UserList.test.jsx
  examples/testing/src/main.css
  examples/testing/src/main.jsx
  examples/testing/src/utils.js
  examples/testing/src/utils.test.js
  examples/testing/test.setup.js
  examples/testing/vite.config.js
Due: npx eslint --fix, npx prettier --write

Add .gitignore.
  examples/next-data-modelling/.gitignore
Due: none

Update example name.
  examples/next-data-modelling/package.json
Due: npx prettier --write

Add Data Modelling example.
  examples/next-data-modelling/.codesandbox/Dockerfile
  examples/next-data-modelling/.codesandbox/tasks.json
  examples/next-data-modelling/.codesandbox/workspace.json
  examples/next-data-modelling/README.md
  examples/next-data-modelling/components/Footer.js
  examples/next-data-modelling/components/Nav.js
  examples/next-data-modelling/components/PostForm.js
  examples/next-data-modelling/components/TagList.js
  examples/next-data-modelling/db/connect.js
  examples/next-data-modelling/db/models/Post.js
  examples/next-data-modelling/db/models/User.js
  examples/next-data-modelling/jsconfig.json
  examples/next-data-modelling/lib/fetcher.js
  examples/next-data-modelling/next.config.js
  examples/next-data-modelling/package-lock.json
  examples/next-data-modelling/package.json
  examples/next-data-modelling/pages/_app.js
  examples/next-data-modelling/pages/api/posts/[id].js
  examples/next-data-modelling/pages/api/posts/index.js
  examples/next-data-modelling/pages/api/users/index.js
  examples/next-data-modelling/pages/index.js
  examples/next-data-modelling/pages/posts/[id]/edit.js
  examples/next-data-modelling/pages/posts/[id]/index.js
  examples/next-data-modelling/pages/posts/new.js
  examples/next-data-modelling/public/hello.txt
  examples/next-data-modelling/styles/global.css
  examples/next-data-modelling/yarn.lock
Due: npx eslint --fix, npx prettier --write

Update css.
  examples/testing/src/main.css
Due: none

Add template.
  examples/crud-recap-template/.codesandbox/tasks.json
  examples/crud-recap-template/.eslintrc.json
  examples/crud-recap-template/.gitignore
  examples/crud-recap-template/.prettierrc.json
  examples/crud-recap-template/README.md
  examples/crud-recap-template/db/connect.js
  examples/crud-recap-template/db/fixtures.js
  examples/crud-recap-template/db/import.js
  examples/crud-recap-template/db/package.json
  examples/crud-recap-template/jest.config.js
  examples/crud-recap-template/jest.setup.js
  examples/crud-recap-template/jsconfig.json
  examples/crud-recap-template/lib/api.js
  examples/crud-recap-template/lib/fetcher.js
  examples/crud-recap-template/next.config.js
  examples/crud-recap-template/package-lock.json
  examples/crud-recap-template/package.json
  examples/crud-recap-template/pages/_app.js
  examples/crud-recap-template/pages/_document.js
  examples/crud-recap-template/pages/index.js
  examples/crud-recap-template/public/favicon.ico
  examples/crud-recap-template/sandbox.config.json
  examples/crud-recap-template/styles.js
Due: npx eslint --fix, npx prettier --write

Add next-auth example
  examples/next-auth-example/.codesandbox/Dockerfile
  examples/next-auth-example/.codesandbox/tasks.json
  examples/next-auth-example/.codesandbox/workspace.json
  examples/next-auth-example/.gitignore
  examples/next-auth-example/README.md
  examples/next-auth-example/components/Footer.js
  examples/next-auth-example/components/LoginButton.js
  examples/next-auth-example/components/Nav.js
  examples/next-auth-example/components/PostForm.js
  examples/next-auth-example/components/PostList.js
  examples/next-auth-example/db/connect.js
  examples/next-auth-example/db/models/Post.js
  examples/next-auth-example/db/models/User.js
  examples/next-auth-example/db/mongoDb.js
  examples/next-auth-example/jsconfig.json
  examples/next-auth-example/lib/fetcher.js
  examples/next-auth-example/next.config.js
  examples/next-auth-example/package-lock.json
  examples/next-auth-example/package.json
  examples/next-auth-example/pages/_app.js
  examples/next-auth-example/pages/api/auth/[...nextauth].js
  examples/next-auth-example/pages/api/posts/[id].js
  examples/next-auth-example/pages/api/posts/index.js
  examples/next-auth-example/pages/api/users/index.js
  examples/next-auth-example/pages/api/users/me/index.js
  examples/next-auth-example/pages/api/users/me/posts.js
  examples/next-auth-example/pages/index.js
  examples/next-auth-example/pages/posts/[id]/edit.js
  examples/next-auth-example/pages/posts/[id]/index.js
  examples/next-auth-example/pages/posts/mine.js
  examples/next-auth-example/pages/posts/new.js
  examples/next-auth-example/public/hello.txt
  examples/next-auth-example/screens/github_app_secrets.png
  examples/next-auth-example/screens/github_id.png
  examples/next-auth-example/screens/github_secret.png
  examples/next-auth-example/screens/register-github-app.png
  examples/next-auth-example/styles/global.css
  examples/next-auth-example/yarn.lock
Due: npx eslint --fix, npx prettier --write

Update deps.
  examples/testing/package.json
Due: npx prettier --write

Add tool description.
  examples/testing/README.md
Due: npx prettier --write

Add missing tests for the format function.
  examples/testing/src/utils.test.js
Due: npx eslint --fix, npx prettier --write

Add Cloudinary example
  examples/next-cloudinary-upload/.codesandbox/Dockerfile
  examples/next-cloudinary-upload/.codesandbox/tasks.json
  examples/next-cloudinary-upload/.codesandbox/workspace.json
  examples/next-cloudinary-upload/.gitignore
  examples/next-cloudinary-upload/README.md
  examples/next-cloudinary-upload/cloudinary-dashboard.png
  examples/next-cloudinary-upload/cloudinary-upload-settings.png
  examples/next-cloudinary-upload/components/Footer.js
  examples/next-cloudinary-upload/components/Nav.js
  examples/next-cloudinary-upload/db/connect.js
  examples/next-cloudinary-upload/db/models/Post.js
  examples/next-cloudinary-upload/jsconfig.json
  examples/next-cloudinary-upload/lib/fetcher.js
  examples/next-cloudinary-upload/next.config.js
  examples/next-cloudinary-upload/package-lock.json
  examples/next-cloudinary-upload/package.json
  examples/next-cloudinary-upload/pages/_app.js
  examples/next-cloudinary-upload/pages/api/posts/[id].js
  examples/next-cloudinary-upload/pages/api/posts/index.js
  examples/next-cloudinary-upload/pages/index.js
  examples/next-cloudinary-upload/pages/posts/[id].js
  examples/next-cloudinary-upload/pages/posts/new.js
  examples/next-cloudinary-upload/public/hello.txt
  examples/next-cloudinary-upload/styles/global.css
  examples/next-cloudinary-upload/yarn.lock
Due: npx eslint --fix, npx prettier --write

Add cURL example
  examples/next-cloudinary-upload/README.md
  examples/next-cloudinary-upload/next.config.js
Due: npx eslint --fix, npx prettier --write

Fix spelling mistake
  sessions/js-forms-new/checkbox-input/README.md
Due: npx prettier --write

Fix typo
  examples/crud-recap-example/README.md
Due: npx prettier --write

Remove duplicated model
  examples/crud-recap-template/db/models/Service.js
Due: npx eslint --fix, npx prettier --write
