Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

React Basics: Attributes (#130)
  sessions/react-basics/attributes/.eslintrc.json
  sessions/react-basics/attributes/.gitignore
  sessions/react-basics/attributes/.prettierrc.json
  sessions/react-basics/attributes/README.md
  sessions/react-basics/attributes/package.json
  sessions/react-basics/attributes/public/index.html
  sessions/react-basics/attributes/sandbox.config.json
  sessions/react-basics/attributes/src/App.js
  sessions/react-basics/attributes/src/index.js
  sessions/react-basics/attributes/src/styles.css
Due: npx eslint --fix, npx prettier --write

add heuristic for copyable md
  scripts/get.js
  scripts/get/challenge-template.md
Due: npx eslint --fix, npx prettier --write

add react basics demo
  sessions/react-basics/demo-inner-html-vs-render/.eslintrc.json
  sessions/react-basics/demo-inner-html-vs-render/.gitignore
  sessions/react-basics/demo-inner-html-vs-render/.prettierrc.json
  sessions/react-basics/demo-inner-html-vs-render/README.md
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-inner-html-vs-render/public/index.html
  sessions/react-basics/demo-inner-html-vs-render/public/styles.css
  sessions/react-basics/demo-inner-html-vs-render/sandbox.config.json
  sessions/react-basics/demo-inner-html-vs-render/src/index.js
  sessions/react-basics/demo-render/.eslintrc.json
  sessions/react-basics/demo-render/.gitignore
  sessions/react-basics/demo-render/.prettierrc.json
  sessions/react-basics/demo-render/README.md
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/demo-render/public/index.html
  sessions/react-basics/demo-render/public/styles.css
  sessions/react-basics/demo-render/sandbox.config.json
  sessions/react-basics/demo-render/src/index.js
Due: npx eslint --fix, npx prettier --write

fix demo
  package-lock.json
  sessions/react-basics/demo-render/public/index.html
  sessions/react-basics/demo-render/public/styles.css
Due: npx prettier --write

update eslint
  sessions/react-basics/demo-inner-html-vs-render/.eslintrc.json
  sessions/react-basics/demo-inner-html-vs-render/src/index.js
  sessions/react-basics/demo-render/.eslintrc.json
  sessions/react-basics/demo-render/src/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/react-props/greeting/README.md
  sessions/react-props/greeting/README.md
Due: npx prettier --write

React Props: Greeting Challenge (#137)
  package-lock.json
  sessions/react-props/greeting/.eslintrc.json
  sessions/react-props/greeting/.gitignore
  sessions/react-props/greeting/.prettierrc.json
  sessions/react-props/greeting/README.md
  sessions/react-props/greeting/package.json
  sessions/react-props/greeting/public/index.html
  sessions/react-props/greeting/sandbox.config.json
  sessions/react-props/greeting/src/App.js
  sessions/react-props/greeting/src/index.js
  sessions/react-props/greeting/src/styles.css
Due: npx eslint --fix, npx prettier --write

React Props: Sum Challenge (#138)
  package-lock.json
  sessions/react-props/sum/.eslintrc.json
  sessions/react-props/sum/.gitignore
  sessions/react-props/sum/.prettierrc.json
  sessions/react-props/sum/README.md
  sessions/react-props/sum/package.json
  sessions/react-props/sum/public/index.html
  sessions/react-props/sum/sandbox.config.json
  sessions/react-props/sum/src/App.js
  sessions/react-props/sum/src/index.js
  sessions/react-props/sum/src/styles.css
Due: npx eslint --fix, npx prettier --write

React Props: Smiley Challenge (#139)
  package-lock.json
  sessions/react-props/smiley/.eslintrc.json
  sessions/react-props/smiley/.gitignore
  sessions/react-props/smiley/.prettierrc.json
  sessions/react-props/smiley/README.md
  sessions/react-props/smiley/package.json
  sessions/react-props/smiley/public/index.html
  sessions/react-props/smiley/sandbox.config.json
  sessions/react-props/smiley/src/App.js
  sessions/react-props/smiley/src/index.js
  sessions/react-props/smiley/src/styles.css
Due: npx eslint --fix, npx prettier --write

update for demo end
  scripts/get.js
Due: npx eslint --fix, npx prettier --write

create react props demos
  package-lock.json
  sessions/react-props/demo-end/.eslintrc.json
  sessions/react-props/demo-end/.gitignore
  sessions/react-props/demo-end/.prettierrc.json
  sessions/react-props/demo-end/README.md
  sessions/react-props/demo-end/package.json
  sessions/react-props/demo-end/public/index.html
  sessions/react-props/demo-end/sandbox.config.json
  sessions/react-props/demo-end/src/App.js
  sessions/react-props/demo-end/src/index.js
  sessions/react-props/demo-end/src/styles.css
  sessions/react-props/demo-start/.eslintrc.json
  sessions/react-props/demo-start/.gitignore
  sessions/react-props/demo-start/.prettierrc.json
  sessions/react-props/demo-start/README.md
  sessions/react-props/demo-start/package.json
  sessions/react-props/demo-start/public/index.html
  sessions/react-props/demo-start/sandbox.config.json
  sessions/react-props/demo-start/src/App.js
  sessions/react-props/demo-start/src/index.js
  sessions/react-props/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

upd script
  package.json
  scripts/get.js
Due: npx eslint --fix, npx prettier --write

React Basics: Demo (#136)
  package-lock.json
  sessions/react-basics/demo-inner-html-vs-render/.eslintrc.json
  sessions/react-basics/demo-inner-html-vs-render/.gitignore
  sessions/react-basics/demo-inner-html-vs-render/.prettierrc.json
  sessions/react-basics/demo-inner-html-vs-render/README.md
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-inner-html-vs-render/public/index.html
  sessions/react-basics/demo-inner-html-vs-render/public/styles.css
  sessions/react-basics/demo-inner-html-vs-render/sandbox.config.json
  sessions/react-basics/demo-inner-html-vs-render/src/index.js
  sessions/react-basics/demo-render/.eslintrc.json
  sessions/react-basics/demo-render/.gitignore
  sessions/react-basics/demo-render/.prettierrc.json
  sessions/react-basics/demo-render/README.md
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/demo-render/public/index.html
  sessions/react-basics/demo-render/public/styles.css
  sessions/react-basics/demo-render/sandbox.config.json
  sessions/react-basics/demo-render/src/index.js
Due: npx eslint --fix, npx prettier --write

create react props demos (#141)
  package-lock.json
  sessions/react-props/demo-end/.eslintrc.json
  sessions/react-props/demo-end/.gitignore
  sessions/react-props/demo-end/.prettierrc.json
  sessions/react-props/demo-end/README.md
  sessions/react-props/demo-end/package.json
  sessions/react-props/demo-end/public/index.html
  sessions/react-props/demo-end/sandbox.config.json
  sessions/react-props/demo-end/src/App.js
  sessions/react-props/demo-end/src/index.js
  sessions/react-props/demo-end/src/styles.css
  sessions/react-props/demo-start/.eslintrc.json
  sessions/react-props/demo-start/.gitignore
  sessions/react-props/demo-start/.prettierrc.json
  sessions/react-props/demo-start/README.md
  sessions/react-props/demo-start/package.json
  sessions/react-props/demo-start/public/index.html
  sessions/react-props/demo-start/sandbox.config.json
  sessions/react-props/demo-start/src/App.js
  sessions/react-props/demo-start/src/index.js
  sessions/react-props/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-props/button/README.md
  sessions/react-props/button/README.md
Due: npx prettier --write

React Props: Button Challenge (#140)
  package-lock.json
  sessions/react-props/button/.eslintrc.json
  sessions/react-props/button/.gitignore
  sessions/react-props/button/.prettierrc.json
  sessions/react-props/button/README.md
  sessions/react-props/button/package.json
  sessions/react-props/button/public/index.html
  sessions/react-props/button/sandbox.config.json
  sessions/react-props/button/src/App.js
  sessions/react-props/button/src/index.js
  sessions/react-props/button/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-nesting): add button and children challenge
  package-lock.json
  sessions/react-nesting/buttons-and-children/.eslintrc.json
  sessions/react-nesting/buttons-and-children/.gitignore
  sessions/react-nesting/buttons-and-children/.prettierrc.json
  sessions/react-nesting/buttons-and-children/README.md
  sessions/react-nesting/buttons-and-children/package.json
  sessions/react-nesting/buttons-and-children/public/index.html
  sessions/react-nesting/buttons-and-children/sandbox.config.json
  sessions/react-nesting/buttons-and-children/src/App.js
  sessions/react-nesting/buttons-and-children/src/index.js
  sessions/react-nesting/buttons-and-children/src/styles.css
Due: npx eslint --fix, npx prettier --write

Add demo for react-nesting session
  package-lock.json
  sessions/react-nesting/demo-end/.eslintrc.json
  sessions/react-nesting/demo-end/.gitignore
  sessions/react-nesting/demo-end/.prettierrc.json
  sessions/react-nesting/demo-end/README.md
  sessions/react-nesting/demo-end/package.json
  sessions/react-nesting/demo-end/public/index.html
  sessions/react-nesting/demo-end/sandbox.config.json
  sessions/react-nesting/demo-end/src/App.js
  sessions/react-nesting/demo-end/src/index.js
  sessions/react-nesting/demo-end/src/styles.css
  sessions/react-nesting/demo-start/.eslintrc.json
  sessions/react-nesting/demo-start/.gitignore
  sessions/react-nesting/demo-start/.prettierrc.json
  sessions/react-nesting/demo-start/README.md
  sessions/react-nesting/demo-start/package.json
  sessions/react-nesting/demo-start/public/index.html
  sessions/react-nesting/demo-start/sandbox.config.json
  sessions/react-nesting/demo-start/src/App.js
  sessions/react-nesting/demo-start/src/index.js
  sessions/react-nesting/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

add composition demo for react-nesting
  sessions/react-nesting/demo-composition/.eslintrc.json
  sessions/react-nesting/demo-composition/.gitignore
  sessions/react-nesting/demo-composition/.prettierrc.json
  sessions/react-nesting/demo-composition/README.md
  sessions/react-nesting/demo-composition/package.json
  sessions/react-nesting/demo-composition/public/index.html
  sessions/react-nesting/demo-composition/sandbox.config.json
  sessions/react-nesting/demo-composition/src/App.js
  sessions/react-nesting/demo-composition/src/components/AdoptButton.js
  sessions/react-nesting/demo-composition/src/components/Animal.js
  sessions/react-nesting/demo-composition/src/components/AnimalCategory.js
  sessions/react-nesting/demo-composition/src/components/AnimalEmoji.js
  sessions/react-nesting/demo-composition/src/components/Header.js
  sessions/react-nesting/demo-composition/src/index.js
  sessions/react-nesting/demo-composition/src/styles.css
Due: npx eslint --fix, npx prettier --write

update react-nesting demo
  package-lock.json
  sessions/react-nesting/demo-composition/src/App.js
  sessions/react-nesting/demo-composition/src/styles.css
  sessions/react-nesting/demo-end/src/App.js
  sessions/react-nesting/demo-end/src/styles.css
  sessions/react-nesting/demo-start/src/App.js
  sessions/react-nesting/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

update react-nesting demo
  sessions/react-nesting/demo-composition/src/App.js
  sessions/react-nesting/demo-composition/src/components/AdoptButton.js
  sessions/react-nesting/demo-end/src/App.js
  sessions/react-nesting/demo-start/src/App.js
Due: npx eslint --fix, npx prettier --write

Update sessions/react-nesting/buttons-and-children/README.md
  sessions/react-nesting/buttons-and-children/README.md
Due: npx prettier --write

React Nesting: Buttons and Children Challenge (#142)
  package-lock.json
  sessions/react-nesting/buttons-and-children/.eslintrc.json
  sessions/react-nesting/buttons-and-children/.gitignore
  sessions/react-nesting/buttons-and-children/.prettierrc.json
  sessions/react-nesting/buttons-and-children/README.md
  sessions/react-nesting/buttons-and-children/package.json
  sessions/react-nesting/buttons-and-children/public/index.html
  sessions/react-nesting/buttons-and-children/sandbox.config.json
  sessions/react-nesting/buttons-and-children/src/App.js
  sessions/react-nesting/buttons-and-children/src/index.js
  sessions/react-nesting/buttons-and-children/src/styles.css
Due: npx eslint --fix, npx prettier --write

update react-nesting demo
  sessions/react-nesting/demo-composition/src/components/AdoptButton.js
  sessions/react-nesting/demo-composition/src/components/Animal.js
  sessions/react-nesting/demo-composition/src/components/Button.js
  sessions/react-nesting/demo-composition/src/styles.css
  sessions/react-nesting/demo-end/src/App.js
  sessions/react-nesting/demo-end/src/styles.css
  sessions/react-nesting/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-nesting): add navigation challenge
  package-lock.json
  sessions/react-nesting/navigation/.eslintrc.json
  sessions/react-nesting/navigation/.gitignore
  sessions/react-nesting/navigation/.prettierrc.json
  sessions/react-nesting/navigation/README.md
  sessions/react-nesting/navigation/package.json
  sessions/react-nesting/navigation/public/index.html
  sessions/react-nesting/navigation/sandbox.config.json
  sessions/react-nesting/navigation/src/App.js
  sessions/react-nesting/navigation/src/img/avatar.jpg
  sessions/react-nesting/navigation/src/img/logo.jpg
  sessions/react-nesting/navigation/src/index.js
  sessions/react-nesting/navigation/src/styles.css
Due: npx eslint --fix, npx prettier --write

update react-nesting demo
  sessions/react-nesting/demo-composition/src/App.js
  sessions/react-nesting/demo-end/src/App.js
Due: npx eslint --fix, npx prettier --write

feat(react-nesting): add fragments challenge
  package-lock.json
  sessions/react-nesting/fragments/.eslintrc.json
  sessions/react-nesting/fragments/.gitignore
  sessions/react-nesting/fragments/.prettierrc.json
  sessions/react-nesting/fragments/README.md
  sessions/react-nesting/fragments/package.json
  sessions/react-nesting/fragments/public/index.html
  sessions/react-nesting/fragments/sandbox.config.json
  sessions/react-nesting/fragments/src/App.js
  sessions/react-nesting/fragments/src/components/Box.js
  sessions/react-nesting/fragments/src/index.js
  sessions/react-nesting/fragments/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-nesting): add general note to fragments challenge
  sessions/react-nesting/fragments/README.md
Due: npx prettier --write

React Nesting: Fragments Challenge (#145)
  package-lock.json
  sessions/react-nesting/fragments/.eslintrc.json
  sessions/react-nesting/fragments/.gitignore
  sessions/react-nesting/fragments/.prettierrc.json
  sessions/react-nesting/fragments/README.md
  sessions/react-nesting/fragments/package.json
  sessions/react-nesting/fragments/public/index.html
  sessions/react-nesting/fragments/sandbox.config.json
  sessions/react-nesting/fragments/src/App.js
  sessions/react-nesting/fragments/src/components/Box.js
  sessions/react-nesting/fragments/src/index.js
  sessions/react-nesting/fragments/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-nesting/navigation/src/App.js
  sessions/react-nesting/navigation/src/App.js
Due: npx eslint --fix, npx prettier --write

Update sessions/react-nesting/navigation/src/styles.css
  sessions/react-nesting/navigation/src/styles.css
Due: none

add get script to docs
  README.md
Due: npx prettier --write

Update sessions/react-nesting/navigation/README.md
  sessions/react-nesting/navigation/README.md
Due: npx prettier --write
