Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Update sessions/js-array-methods-1/repetition/index.html
  sessions/js-array-methods-1/repetition/index.html
Due: none

Update sessions/js-array-methods-1/repetition_solution/index.html
  sessions/js-array-methods-1/repetition_solution/index.html
Due: none

Update sessions/js-basics/console-methods/index.html
  sessions/js-basics/console-methods/index.html
Due: none

Update sessions/js-inputs-and-strings/input-to-uppercase_solution/index.html
  sessions/js-inputs-and-strings/input-to-uppercase_solution/index.html
Due: none

Update sessions/js-inputs-and-strings/multiple-inputs_solution/index.html
  sessions/js-inputs-and-strings/multiple-inputs_solution/index.html
Due: none

Update sessions/js-inputs-and-strings/switch-values_solution/index.html
  sessions/js-inputs-and-strings/switch-values_solution/index.html
Due: none

Update sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values/index.html
Due: none

Update sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/index.html
Due: none

Update sessions/js-basics/console-methods_solution/index.html
  sessions/js-basics/console-methods_solution/index.html
Due: none

Update sessions/js-basics/dark-mode/index.html
  sessions/js-basics/dark-mode/index.html
Due: none

Update sessions/js-basics/dark-mode_solution/index.html
  sessions/js-basics/dark-mode_solution/index.html
Due: none

Update sessions/js-basics/survey-error-fixing/index.html
  sessions/js-basics/survey-error-fixing/index.html
Due: none

Update sessions/js-basics/survey-error-fixing_solution/index.html
  sessions/js-basics/survey-error-fixing_solution/index.html
Due: none

Update sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check/index.html
Due: none

Update sessions/js-conditions-and-booleans/teenager-check_solution/index.html
  sessions/js-conditions-and-booleans/teenager-check_solution/index.html
Due: none

Update sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/index.html
Due: none

Update sessions/js-functions-1/basic-functions/index.html
  sessions/js-functions-1/basic-functions/index.html
Due: none

Update sessions/js-functions-1/basic-functions_solution/index.html
  sessions/js-functions-1/basic-functions_solution/index.html
Due: none

Update sessions/js-functions-1/dom-manipulation/index.html
  sessions/js-functions-1/dom-manipulation/index.html
Due: none

Update sessions/js-functions-1/dom-manipulation_solution/index.html
  sessions/js-functions-1/dom-manipulation_solution/index.html
Due: none

Update sessions/js-functions-1/functions-with-parameters-extra/index.html
  sessions/js-functions-1/functions-with-parameters-extra/index.html
Due: none

Update sessions/js-functions-1/functions-with-parameters-extra_solution/index.html
  sessions/js-functions-1/functions-with-parameters-extra_solution/index.html
Due: none

Update sessions/js-functions-1/functions-with-parameters/index.html
  sessions/js-functions-1/functions-with-parameters/index.html
Due: none

Update sessions/js-functions-1/functions-with-parameters_solution/index.html
  sessions/js-functions-1/functions-with-parameters_solution/index.html
Due: none

Update sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
Due: none

Update sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
Due: none

update multiple-inputs challenge index.html with two more forms
  sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs_solution/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs_solution/index.html
  sessions/js-inputs-and-strings/multiple-inputs_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-inputs-and-strings/multiple-inputs_solution/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs_solution/css/styles.css
Due: none

Update sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
Due: none

update readme instructions for first time testing for js-objects-and-arrays
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/arrays_solution/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects/README.md
  sessions/js-objects-and-arrays/objects_solution/README.md
  sessions/js-structure/quiz-app/README.md
Due: npx prettier --write

add subchallenge headline to each form
  sessions/js-inputs-and-strings/multiple-inputs/index.html
Due: none

update of readme instructions completed
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays_solution/README.md
Due: npx prettier --write

fix accidentallyupdated wrong file
  sessions/js-structure/quiz-app/README.md
Due: npx prettier --write

update readme instructions for first time testing for js-objects-and-… (#382)
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/arrays_solution/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays_solution/README.md
  sessions/js-objects-and-arrays/objects/README.md
  sessions/js-objects-and-arrays/objects_solution/README.md
  sessions/js-structure/quiz-app/README.md
Due: npx prettier --write

update challenge instruction js-inputs-and-strings multiple-inputs (#381)
  sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs_solution/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs_solution/index.html
  sessions/js-inputs-and-strings/multiple-inputs_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

fix typo
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

delete unnecessary codesandbox trash
  templates/next/.codesandbox/tasks.json
  templates/next/sandbox.config.json
Due: npx prettier --write

Bug fix with -i flag in ghcd link
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

fix name of styled-components-2 demo-start
  sessions/react-styled-components-2/demo-start/package.json
Due: npx prettier --write
