Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(js-variables-and-numbers): update social media post exercise
  sessions/js-variables-and-numbers/social-media-post/css/styles.css
  sessions/js-variables-and-numbers/social-media-post/index.html
Due: none

update and rename challenges
  sessions/css-grid/fishes-cards/.eslintrc.json
  sessions/css-grid/fishes-cards/.prettierrc.json
  sessions/css-grid/fishes-cards/.stylelintrc.json
  sessions/css-grid/fishes-cards/css/styles.css
  sessions/css-grid/fishes-cards/index.html
  sessions/css-grid/fishes-cards/package.json
  sessions/css-grid/fishes-cards/sandbox.config.json
  sessions/css-grid/image-gallery/.eslintrc.json
  sessions/css-grid/image-gallery/.prettierrc.json
  sessions/css-grid/image-gallery/.stylelintrc.json
  sessions/css-grid/image-gallery/css/styles.css
  sessions/css-grid/image-gallery/index.html
  sessions/css-grid/image-gallery/package.json
  sessions/css-grid/image-gallery/sandbox.config.json
  sessions/css-grid/payment-cards/.eslintrc.json
  sessions/css-grid/payment-cards/.prettierrc.json
  sessions/css-grid/payment-cards/.stylelintrc.json
  sessions/css-grid/payment-cards/css/styles.css
  sessions/css-grid/payment-cards/index.html
  sessions/css-grid/payment-cards/package.json
  sessions/css-grid/payment-cards/sandbox.config.json
  sessions/css-grid/place-elements/.eslintrc.json
  sessions/css-grid/place-elements/.prettierrc.json
  sessions/css-grid/place-elements/.stylelintrc.json
  sessions/css-grid/place-elements/css/styles.css
  sessions/css-grid/place-elements/index.html
  sessions/css-grid/place-elements/package.json
  sessions/css-grid/place-elements/sandbox.config.json
  sessions/css-grid/service-gallery/.eslintrc.json
  sessions/css-grid/service-gallery/.prettierrc.json
  sessions/css-grid/service-gallery/.stylelintrc.json
  sessions/css-grid/service-gallery/css/styles.css
  sessions/css-grid/service-gallery/index.html
  sessions/css-grid/service-gallery/package.json
  sessions/css-grid/service-gallery/sandbox.config.json
  sessions/css-layout-with-grid/payment-plan/index.html
Due: npx prettier --write

feat(css-structure): add exercise
  sessions/css-structure/selectors-and-cascading/.eslintrc.json
  sessions/css-structure/selectors-and-cascading/.prettierrc.json
  sessions/css-structure/selectors-and-cascading/.stylelintrc.json
  sessions/css-structure/selectors-and-cascading/css/styles.css
  sessions/css-structure/selectors-and-cascading/index.html
  sessions/css-structure/selectors-and-cascading/package.json
  sessions/css-structure/selectors-and-cascading/sandbox.config.json
Due: npx prettier --write

feat(js-variables-and-number): minor improvements from code review
  sessions/js-variables-and-numbers/simple-calculator/js/index.js
  sessions/js-variables-and-numbers/social-media-post/index.html
  sessions/js-variables-and-numbers/social-media-post/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-basics): improve note to open the js console
  sessions/js-basics/console-methods/css/styles.css
  sessions/js-basics/console-methods/index.html
Due: none

feat(css-flexbox): minor improvements from code review
  sessions/css-flexbox/navigation/.eslintrc.json
  sessions/css-flexbox/navigation/.prettierrc.json
  sessions/css-flexbox/navigation/.stylelintrc.json
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/navigation/package.json
  sessions/css-flexbox/navigation/sandbox.config.json
  sessions/css-flexbox/personal-travel-diary/.eslintrc.json
  sessions/css-flexbox/personal-travel-diary/.prettierrc.json
  sessions/css-flexbox/personal-travel-diary/.stylelintrc.json
  sessions/css-flexbox/personal-travel-diary/css/styles.css
  sessions/css-flexbox/personal-travel-diary/index.html
  sessions/css-flexbox/personal-travel-diary/package.json
  sessions/css-flexbox/personal-travel-diary/sandbox.config.json
  sessions/css-flexbox/profile/.eslintrc.json
  sessions/css-flexbox/profile/.prettierrc.json
  sessions/css-flexbox/profile/.stylelintrc.json
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
  sessions/css-flexbox/profile/package.json
  sessions/css-flexbox/profile/sandbox.config.json
Due: npx prettier --write

Feat/js variables and numbers (#46)
  sessions/js-variables-and-numbers/simple-calculator/.eslintrc.json
  sessions/js-variables-and-numbers/simple-calculator/.prettierrc.json
  sessions/js-variables-and-numbers/simple-calculator/.stylelintrc.json
  sessions/js-variables-and-numbers/simple-calculator/css/styles.css
  sessions/js-variables-and-numbers/simple-calculator/index.html
  sessions/js-variables-and-numbers/simple-calculator/js/index.js
  sessions/js-variables-and-numbers/simple-calculator/package.json
  sessions/js-variables-and-numbers/simple-calculator/sandbox.config.json
  sessions/js-variables-and-numbers/social-media-post/.eslintrc.json
  sessions/js-variables-and-numbers/social-media-post/.prettierrc.json
  sessions/js-variables-and-numbers/social-media-post/.stylelintrc.json
  sessions/js-variables-and-numbers/social-media-post/css/styles.css
  sessions/js-variables-and-numbers/social-media-post/index.html
  sessions/js-variables-and-numbers/social-media-post/js/index.js
  sessions/js-variables-and-numbers/social-media-post/package.json
  sessions/js-variables-and-numbers/social-media-post/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Feature/css basics (#44)
  sessions/css-basics/social-card/.eslintrc.json
  sessions/css-basics/social-card/.prettierrc.json
  sessions/css-basics/social-card/.stylelintrc.json
  sessions/css-basics/social-card/assets/arrow_right_circle_icon_128948.svg
  sessions/css-basics/social-card/assets/github@2x.png
  sessions/css-basics/social-card/css/styles.css
  sessions/css-basics/social-card/index.html
  sessions/css-basics/social-card/package.json
  sessions/css-basics/social-card/sandbox.config.json
Due: npx prettier --write

Feat/css basics (#29)
  sessions/css-basics/button-styles/.eslintrc.json
  sessions/css-basics/button-styles/.prettierrc.json
  sessions/css-basics/button-styles/.stylelintrc.json
  sessions/css-basics/button-styles/css/styles.css
  sessions/css-basics/button-styles/index.html
  sessions/css-basics/button-styles/package.json
  sessions/css-basics/button-styles/sandbox.config.json
  sessions/css-basics/pokemon-page/.eslintrc.json
  sessions/css-basics/pokemon-page/.prettierrc.json
  sessions/css-basics/pokemon-page/.stylelintrc.json
  sessions/css-basics/pokemon-page/css/styles.css
  sessions/css-basics/pokemon-page/index.html
  sessions/css-basics/pokemon-page/package.json
  sessions/css-basics/pokemon-page/sandbox.config.json
Due: npx prettier --write

Feature/js math and numbers (#22)
  sessions/js-math-and-numbers/collatz-calculator/.eslintrc.json
  sessions/js-math-and-numbers/collatz-calculator/.prettierrc.json
  sessions/js-math-and-numbers/collatz-calculator/.stylelintrc.json
  sessions/js-math-and-numbers/collatz-calculator/css/styles.css
  sessions/js-math-and-numbers/collatz-calculator/index.html
  sessions/js-math-and-numbers/collatz-calculator/js/index.js
  sessions/js-math-and-numbers/collatz-calculator/package.json
  sessions/js-math-and-numbers/collatz-calculator/sandbox.config.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/.eslintrc.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/.prettierrc.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/.stylelintrc.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/css/styles.css
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/index.html
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/js/index.js
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/package.json
  sessions/js-math-and-numbers/hyper-lazer-nyan-13/sandbox.config.json
  sessions/test-session/test-exercise/.DS_Store
Due: npx eslint --fix, npx prettier --write

feat(react-usestate-and-events): add exercise 03 (#16)
  sessions/react-usestate-and-events-exercise-03/.codesandbox/workspace.json
  sessions/react-usestate-and-events-exercise-03/package.json
  sessions/react-usestate-and-events-exercise-03/public/index.html
  sessions/react-usestate-and-events-exercise-03/src/App.js
  sessions/react-usestate-and-events-exercise-03/src/index.js
  sessions/react-usestate-and-events-exercise-03/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-props): add exercise 01 (#8)
  sessions/react-props/box-with-props/.codesandbox/workspace.json
  sessions/react-props/box-with-props/package.json
  sessions/react-props/box-with-props/public/index.html
  sessions/react-props/box-with-props/src/App.js
  sessions/react-props/box-with-props/src/components/Box.css
  sessions/react-props/box-with-props/src/components/Box.js
  sessions/react-props/box-with-props/src/index.js
  sessions/react-props/box-with-props/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-functions): edit exercise to be different from previous challenges
  sessions/js-functions/basic-functions/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-functions): Apply suggestions from code review
  sessions/js-functions/dom-manipulation/js/index.js
  sessions/js-functions/functions-with-parameters-extra/js/index.js
  sessions/js-functions/functions-with-parameters/index.html
  sessions/js-functions/functions-with-parameters/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-functions): Update sessions/js-functions/functions-with-parameters-extra/js/index.js
  sessions/js-functions/functions-with-parameters-extra/js/index.js
Due: npx eslint --fix, npx prettier --write

update js-input-and-strings challenges
  sessions/js-inputs-and-strings/advanced-exercise/js/index.js
  sessions/js-inputs-and-strings/change-box-appearance/.eslintrc.json
  sessions/js-inputs-and-strings/change-box-appearance/.prettierrc.json
  sessions/js-inputs-and-strings/change-box-appearance/.stylelintrc.json
  sessions/js-inputs-and-strings/change-box-appearance/css/styles.css
  sessions/js-inputs-and-strings/change-box-appearance/index.html
  sessions/js-inputs-and-strings/change-box-appearance/js/index.js
  sessions/js-inputs-and-strings/change-box-appearance/package.json
  sessions/js-inputs-and-strings/change-box-appearance/sandbox.config.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/input-to-uppercase/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(css-positioning): add exercise for position absolute that does not require advanced knowledge
  sessions/css-positioning/absolute-no-advanced-requirements/.eslintrc.json
  sessions/css-positioning/absolute-no-advanced-requirements/.prettierrc.json
  sessions/css-positioning/absolute-no-advanced-requirements/.stylelintrc.json
  sessions/css-positioning/absolute-no-advanced-requirements/css/styles.css
  sessions/css-positioning/absolute-no-advanced-requirements/index.html
  sessions/css-positioning/absolute-no-advanced-requirements/package.json
  sessions/css-positioning/absolute-no-advanced-requirements/sandbox.config.json
Due: npx prettier --write

feat(css-positioning): add exercise for position absolute that does not require advanced knowledge (#49)
  sessions/css-positioning/absolute-no-advanced-requirements/.eslintrc.json
  sessions/css-positioning/absolute-no-advanced-requirements/.prettierrc.json
  sessions/css-positioning/absolute-no-advanced-requirements/.stylelintrc.json
  sessions/css-positioning/absolute-no-advanced-requirements/css/styles.css
  sessions/css-positioning/absolute-no-advanced-requirements/index.html
  sessions/css-positioning/absolute-no-advanced-requirements/package.json
  sessions/css-positioning/absolute-no-advanced-requirements/sandbox.config.json
Due: npx prettier --write

fix: update package names of css-basics session
  package-lock.json
  sessions/css-basics/pokemon-page/package.json
Due: npx prettier --write

fix: update package names of css-basics session
  sessions/css-basics/button-styles/package.json
Due: npx prettier --write

feat(js-conditions-and-booleans): add challenges
  sessions/js-conditions-and-booleans/teenager-check/.eslintrc.json
  sessions/js-conditions-and-booleans/teenager-check/.prettierrc.json
  sessions/js-conditions-and-booleans/teenager-check/.stylelintrc.json
  sessions/js-conditions-and-booleans/teenager-check/css/styles.css
  sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check/js/index.js
  sessions/js-conditions-and-booleans/teenager-check/package.json
  sessions/js-conditions-and-booleans/teenager-check/sandbox.config.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/.eslintrc.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/.prettierrc.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/.stylelintrc.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/css/styles.css
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
  sessions/js-conditions-and-booleans/truthy-and-falsy/package.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-conditions-and-booleans): rename folders for specific exercises
  sessions/js-conditions-and-booleans/teenager-check/css/styles.css
  sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check/js/index.js
  sessions/js-conditions-and-booleans/truthy-and-falsy/css/styles.css
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-inputs-and-strings): implement requested changes from review
  sessions/js-inputs-and-strings/change-box-appearance/index.html
  sessions/js-inputs-and-strings/change-box-appearance/js/index.js
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/input-to-uppercase/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-inputs-and-strings): update package names
  sessions/js-inputs-and-strings/change-box-appearance/package.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/package.json
  sessions/js-inputs-and-strings/input-to-uppercase/package.json
  sessions/js-inputs-and-strings/multiple-inputs/package.json
  sessions/js-inputs-and-strings/switch-values/package.json
Due: npx prettier --write

Feature/js inputs and strings (#37)
  sessions/js-inputs-and-strings/change-box-appearance/.eslintrc.json
  sessions/js-inputs-and-strings/change-box-appearance/.prettierrc.json
  sessions/js-inputs-and-strings/change-box-appearance/.stylelintrc.json
  sessions/js-inputs-and-strings/change-box-appearance/css/styles.css
  sessions/js-inputs-and-strings/change-box-appearance/index.html
  sessions/js-inputs-and-strings/change-box-appearance/js/index.js
  sessions/js-inputs-and-strings/change-box-appearance/package.json
  sessions/js-inputs-and-strings/change-box-appearance/sandbox.config.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/.eslintrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/.prettierrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/.stylelintrc.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/css/styles.css
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/js/index.js
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/package.json
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/sandbox.config.json
  sessions/js-inputs-and-strings/input-to-uppercase/.eslintrc.json
  sessions/js-inputs-and-strings/input-to-uppercase/.prettierrc.json
  sessions/js-inputs-and-strings/input-to-uppercase/.stylelintrc.json
  sessions/js-inputs-and-strings/input-to-uppercase/css/styles.css
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/input-to-uppercase/js/index.js
  sessions/js-inputs-and-strings/input-to-uppercase/package.json
  sessions/js-inputs-and-strings/input-to-uppercase/sandbox.config.json
  sessions/js-inputs-and-strings/multiple-inputs/.eslintrc.json
  sessions/js-inputs-and-strings/multiple-inputs/.prettierrc.json
  sessions/js-inputs-and-strings/multiple-inputs/.stylelintrc.json
  sessions/js-inputs-and-strings/multiple-inputs/css/styles.css
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs/package.json
  sessions/js-inputs-and-strings/multiple-inputs/sandbox.config.json
  sessions/js-inputs-and-strings/switch-values/.eslintrc.json
  sessions/js-inputs-and-strings/switch-values/.prettierrc.json
  sessions/js-inputs-and-strings/switch-values/.stylelintrc.json
  sessions/js-inputs-and-strings/switch-values/css/styles.css
  sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values/js/index.js
  sessions/js-inputs-and-strings/switch-values/package.json
  sessions/js-inputs-and-strings/switch-values/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check/index.html
Due: none

Update sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
Due: none

Feature/js conditions and booleans (#50)
  sessions/js-conditions-and-booleans/teenager-check/.eslintrc.json
  sessions/js-conditions-and-booleans/teenager-check/.prettierrc.json
  sessions/js-conditions-and-booleans/teenager-check/.stylelintrc.json
  sessions/js-conditions-and-booleans/teenager-check/css/styles.css
  sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check/js/index.js
  sessions/js-conditions-and-booleans/teenager-check/package.json
  sessions/js-conditions-and-booleans/teenager-check/sandbox.config.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/.eslintrc.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/.prettierrc.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/.stylelintrc.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/css/styles.css
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
  sessions/js-conditions-and-booleans/truthy-and-falsy/package.json
  sessions/js-conditions-and-booleans/truthy-and-falsy/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(css-layout-with-grid): add exercises (#40)
  sessions/css-grid/fishes-cards/.eslintrc.json
  sessions/css-grid/fishes-cards/.prettierrc.json
  sessions/css-grid/fishes-cards/.stylelintrc.json
  sessions/css-grid/fishes-cards/css/styles.css
  sessions/css-grid/fishes-cards/index.html
  sessions/css-grid/fishes-cards/package.json
  sessions/css-grid/fishes-cards/sandbox.config.json
  sessions/css-grid/image-gallery/.eslintrc.json
  sessions/css-grid/image-gallery/.prettierrc.json
  sessions/css-grid/image-gallery/.stylelintrc.json
  sessions/css-grid/image-gallery/css/styles.css
  sessions/css-grid/image-gallery/index.html
  sessions/css-grid/image-gallery/package.json
  sessions/css-grid/image-gallery/sandbox.config.json
  sessions/css-grid/payment-cards/.eslintrc.json
  sessions/css-grid/payment-cards/.prettierrc.json
  sessions/css-grid/payment-cards/.stylelintrc.json
  sessions/css-grid/payment-cards/css/styles.css
  sessions/css-grid/payment-cards/index.html
  sessions/css-grid/payment-cards/package.json
  sessions/css-grid/payment-cards/sandbox.config.json
  sessions/css-grid/place-elements/.eslintrc.json
  sessions/css-grid/place-elements/.prettierrc.json
  sessions/css-grid/place-elements/.stylelintrc.json
  sessions/css-grid/place-elements/css/styles.css
  sessions/css-grid/place-elements/index.html
  sessions/css-grid/place-elements/package.json
  sessions/css-grid/place-elements/sandbox.config.json
  sessions/css-grid/service-gallery/.eslintrc.json
  sessions/css-grid/service-gallery/.prettierrc.json
  sessions/css-grid/service-gallery/.stylelintrc.json
  sessions/css-grid/service-gallery/css/styles.css
  sessions/css-grid/service-gallery/index.html
  sessions/css-grid/service-gallery/package.json
  sessions/css-grid/service-gallery/sandbox.config.json
Due: npx prettier --write

feat(js-createelement): add new exercises
  sessions/js-createelement/product-teaser/.eslintrc.json
  sessions/js-createelement/product-teaser/.prettierrc.json
  sessions/js-createelement/product-teaser/.stylelintrc.json
  sessions/js-createelement/product-teaser/css/styles.css
  sessions/js-createelement/product-teaser/index.html
  sessions/js-createelement/product-teaser/js/index.js
  sessions/js-createelement/product-teaser/package.json
  sessions/js-createelement/product-teaser/sandbox.config.json
  sessions/js-createelement/social-media-post/.eslintrc.json
  sessions/js-createelement/social-media-post/.prettierrc.json
  sessions/js-createelement/social-media-post/.stylelintrc.json
  sessions/js-createelement/social-media-post/css/styles.css
  sessions/js-createelement/social-media-post/index.html
  sessions/js-createelement/social-media-post/js/index.js
  sessions/js-createelement/social-media-post/package.json
  sessions/js-createelement/social-media-post/sandbox.config.json
  sessions/js-createelement/toast-messages/.eslintrc.json
  sessions/js-createelement/toast-messages/.prettierrc.json
  sessions/js-createelement/toast-messages/.stylelintrc.json
  sessions/js-createelement/toast-messages/css/styles.css
  sessions/js-createelement/toast-messages/index.html
  sessions/js-createelement/toast-messages/js/index.js
  sessions/js-createelement/toast-messages/package.json
  sessions/js-createelement/toast-messages/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-array-methods/for-each/js/index.js
  sessions/js-array-methods/for-each/js/index.js
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  sessions/js-array-methods/for-each/index.html
  sessions/js-array-methods/for-each/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(css-structure): apply suggestions from code review
  sessions/css-structure/selectors-and-cascading/css/styles.css
Due: none

feat(css-structure): add exercise (#48)
  sessions/css-structure/selectors-and-cascading/.eslintrc.json
  sessions/css-structure/selectors-and-cascading/.prettierrc.json
  sessions/css-structure/selectors-and-cascading/.stylelintrc.json
  sessions/css-structure/selectors-and-cascading/css/styles.css
  sessions/css-structure/selectors-and-cascading/index.html
  sessions/css-structure/selectors-and-cascading/package.json
  sessions/css-structure/selectors-and-cascading/sandbox.config.json
Due: npx prettier --write

feat(js-functions): add exercises (#47)
  sessions/js-functions/basic-functions/.eslintrc.json
  sessions/js-functions/basic-functions/.prettierrc.json
  sessions/js-functions/basic-functions/.stylelintrc.json
  sessions/js-functions/basic-functions/css/styles.css
  sessions/js-functions/basic-functions/index.html
  sessions/js-functions/basic-functions/js/index.js
  sessions/js-functions/basic-functions/package.json
  sessions/js-functions/basic-functions/sandbox.config.json
  sessions/js-functions/dom-manipulation/.eslintrc.json
  sessions/js-functions/dom-manipulation/.prettierrc.json
  sessions/js-functions/dom-manipulation/.stylelintrc.json
  sessions/js-functions/dom-manipulation/css/styles.css
  sessions/js-functions/dom-manipulation/index.html
  sessions/js-functions/dom-manipulation/js/index.js
  sessions/js-functions/dom-manipulation/package.json
  sessions/js-functions/dom-manipulation/sandbox.config.json
  sessions/js-functions/functions-with-parameters-extra/.eslintrc.json
  sessions/js-functions/functions-with-parameters-extra/.prettierrc.json
  sessions/js-functions/functions-with-parameters-extra/.stylelintrc.json
  sessions/js-functions/functions-with-parameters-extra/css/styles.css
  sessions/js-functions/functions-with-parameters-extra/index.html
  sessions/js-functions/functions-with-parameters-extra/js/index.js
  sessions/js-functions/functions-with-parameters-extra/package.json
  sessions/js-functions/functions-with-parameters-extra/sandbox.config.json
  sessions/js-functions/functions-with-parameters/.eslintrc.json
  sessions/js-functions/functions-with-parameters/.prettierrc.json
  sessions/js-functions/functions-with-parameters/.stylelintrc.json
  sessions/js-functions/functions-with-parameters/css/styles.css
  sessions/js-functions/functions-with-parameters/index.html
  sessions/js-functions/functions-with-parameters/js/index.js
  sessions/js-functions/functions-with-parameters/package.json
  sessions/js-functions/functions-with-parameters/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-conditions-and-booleans): apply suggestions from code review
  sessions/js-conditions-and-booleans/booleans/index.html
  sessions/js-conditions-and-booleans/teenager/index.html
Due: none

feat(js-conditions-and-booleans): add exercises (#34)
  sessions/js-conditions-and-booleans/booleans/.eslintrc.json
  sessions/js-conditions-and-booleans/booleans/.prettierrc.json
  sessions/js-conditions-and-booleans/booleans/.stylelintrc.json
  sessions/js-conditions-and-booleans/booleans/css/styles.css
  sessions/js-conditions-and-booleans/booleans/index.html
  sessions/js-conditions-and-booleans/booleans/js/index.js
  sessions/js-conditions-and-booleans/booleans/package.json
  sessions/js-conditions-and-booleans/booleans/sandbox.config.json
  sessions/js-conditions-and-booleans/teenager/.eslintrc.json
  sessions/js-conditions-and-booleans/teenager/.prettierrc.json
  sessions/js-conditions-and-booleans/teenager/.stylelintrc.json
  sessions/js-conditions-and-booleans/teenager/css/styles.css
  sessions/js-conditions-and-booleans/teenager/index.html
  sessions/js-conditions-and-booleans/teenager/js/index.js
  sessions/js-conditions-and-booleans/teenager/package.json
  sessions/js-conditions-and-booleans/teenager/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-createelement): update exercises after code review
  sessions/js-createelement/product-teaser/index.html
  sessions/js-createelement/product-teaser/js/index.js
  sessions/js-createelement/social-media-post/css/styles.css
  sessions/js-createelement/social-media-post/index.html
  sessions/js-createelement/toast-messages/css/styles.css
  sessions/js-createelement/toast-messages/index.html
  sessions/js-createelement/toast-messages/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-createelement): update exercises after code review, part 2
  sessions/js-createelement/social-media-post/package.json
  sessions/js-createelement/toast-messages/package.json
Due: npx prettier --write

feat(js-createelement): update exercises after code review, part 3
  sessions/js-createelement/social-media-post/js/index.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
