Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

add demo for react-with-local-storage session
  package-lock.json
  sessions/react-with-local-storage/demo-end/.eslintrc.json
  sessions/react-with-local-storage/demo-end/.gitignore
  sessions/react-with-local-storage/demo-end/.prettierrc.json
  sessions/react-with-local-storage/demo-end/README.md
  sessions/react-with-local-storage/demo-end/package.json
  sessions/react-with-local-storage/demo-end/public/index.html
  sessions/react-with-local-storage/demo-end/sandbox.config.json
  sessions/react-with-local-storage/demo-end/src/App.js
  sessions/react-with-local-storage/demo-end/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-end/src/components/Form/index.js
  sessions/react-with-local-storage/demo-end/src/components/List/List.css
  sessions/react-with-local-storage/demo-end/src/components/List/index.js
  sessions/react-with-local-storage/demo-end/src/index.js
  sessions/react-with-local-storage/demo-end/src/styles.css
  sessions/react-with-local-storage/demo-start/.eslintrc.json
  sessions/react-with-local-storage/demo-start/.gitignore
  sessions/react-with-local-storage/demo-start/.prettierrc.json
  sessions/react-with-local-storage/demo-start/README.md
  sessions/react-with-local-storage/demo-start/package.json
  sessions/react-with-local-storage/demo-start/public/index.html
  sessions/react-with-local-storage/demo-start/sandbox.config.json
  sessions/react-with-local-storage/demo-start/src/App.js
  sessions/react-with-local-storage/demo-start/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-start/src/components/Form/index.js
  sessions/react-with-local-storage/demo-start/src/components/List/List.css
  sessions/react-with-local-storage/demo-start/src/components/List/index.js
  sessions/react-with-local-storage/demo-start/src/index.js
  sessions/react-with-local-storage/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

add dice challenge
  package-lock.json
  sessions/react-with-local-storage/dice/.eslintrc.json
  sessions/react-with-local-storage/dice/.gitignore
  sessions/react-with-local-storage/dice/.prettierrc.json
  sessions/react-with-local-storage/dice/README.md
  sessions/react-with-local-storage/dice/package.json
  sessions/react-with-local-storage/dice/public/index.html
  sessions/react-with-local-storage/dice/sandbox.config.json
  sessions/react-with-local-storage/dice/src/App.js
  sessions/react-with-local-storage/dice/src/components/D6/D6.css
  sessions/react-with-local-storage/dice/src/components/D6/index.js
  sessions/react-with-local-storage/dice/src/components/D6Button/D6Button.css
  sessions/react-with-local-storage/dice/src/components/D6Button/index.js
  sessions/react-with-local-storage/dice/src/components/History/History.css
  sessions/react-with-local-storage/dice/src/components/History/index.js
  sessions/react-with-local-storage/dice/src/index.js
  sessions/react-with-local-storage/dice/src/styles.css
  sessions/react-with-local-storage/dice/src/utils.js
Due: npx eslint --fix, npx prettier --write

make roll transitions more exiting
  sessions/react-with-local-storage/dice/src/components/D6/D6.css
Due: none

Update sessions/react-effects-and-fetch/pokemon-api/README.md
  sessions/react-effects-and-fetch/pokemon-api/README.md
Due: npx prettier --write

React Effects and Fetch: Pokemon API challenge (#181)
  package-lock.json
  sessions/react-effects-and-fetch/pokemon-api/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api/.gitignore
  sessions/react-effects-and-fetch/pokemon-api/.prettierrc.json
  sessions/react-effects-and-fetch/pokemon-api/README.md
  sessions/react-effects-and-fetch/pokemon-api/package.json
  sessions/react-effects-and-fetch/pokemon-api/public/index.html
  sessions/react-effects-and-fetch/pokemon-api/sandbox.config.json
  sessions/react-effects-and-fetch/pokemon-api/src/App.js
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.js
  sessions/react-effects-and-fetch/pokemon-api/src/index.js
  sessions/react-effects-and-fetch/pokemon-api/src/styles.css
  sessions/react-useeffect-with-fetch/pokemon-api/.codesandbox/workspace.json
  sessions/react-useeffect-with-fetch/pokemon-api/package.json
  sessions/react-useeffect-with-fetch/pokemon-api/public/index.html
  sessions/react-useeffect-with-fetch/pokemon-api/src/App.js
  sessions/react-useeffect-with-fetch/pokemon-api/src/index.js
  sessions/react-useeffect-with-fetch/pokemon-api/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
Due: npx prettier --write

merge main
  package-lock.json
Due: npx prettier --write

React Effects and Fetch: Pokemon API with Paging challenge (#182)
  package-lock.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.gitignore
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.prettierrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging/package.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/public/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging/sandbox.config.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/App.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/index.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-effects-and-fetch/iss-tracker/README.md
  sessions/react-effects-and-fetch/iss-tracker/README.md
Due: npx prettier --write

React with Local Storage: Stored Note (#180)
  package-lock.json
  sessions/react-with-local-storage/stored-note/.eslintrc.json
  sessions/react-with-local-storage/stored-note/.gitignore
  sessions/react-with-local-storage/stored-note/.prettierrc.json
  sessions/react-with-local-storage/stored-note/README.md
  sessions/react-with-local-storage/stored-note/package.json
  sessions/react-with-local-storage/stored-note/public/index.html
  sessions/react-with-local-storage/stored-note/sandbox.config.json
  sessions/react-with-local-storage/stored-note/src/App.js
  sessions/react-with-local-storage/stored-note/src/components/FontSelector.css
  sessions/react-with-local-storage/stored-note/src/components/FontSelector.js
  sessions/react-with-local-storage/stored-note/src/components/Note.css
  sessions/react-with-local-storage/stored-note/src/components/Note.js
  sessions/react-with-local-storage/stored-note/src/index.js
  sessions/react-with-local-storage/stored-note/src/styles.css
Due: npx eslint --fix, npx prettier --write

React with Local Storage: Journal App with Local Storage (#173)
  sessions/react-with-local-storage/journal-app-with-local-storage/.gitignore
  sessions/react-with-local-storage/journal-app-with-local-storage/README.md
  sessions/react-with-local-storage/journal-app-with-local-storage/package.json
  sessions/react-with-local-storage/journal-app-with-local-storage/public/index.html
  sessions/react-with-local-storage/journal-app-with-local-storage/sandbox.config.json
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/colors.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Badge/Badge.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Badge/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Button/Button.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Button/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Divider/Divider.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Divider/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntriesSection/EntriesSection.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntriesSection/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Entry/Entry.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Entry/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntryForm/EntryForm.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntryForm/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/star-filled.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/star.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Footer/Footer.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Footer/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Header/Header.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Header/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tab/Tab.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tab/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tabs/Tabs.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tabs/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/index.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/reportWebVitals.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

add note about effect cleanup function
  sessions/react-effects-and-fetch/iss-tracker/README.md
Due: npx prettier --write

Apply suggestions from code review
  sessions/js-functions/pizza-analyzer/README.md
Due: npx prettier --write

fix: choose better name for output display element
  sessions/js-functions/pizza-analyzer/README.md
Due: npx prettier --write

feat: add Math.round() to the task description
  sessions/js-functions/pizza-analyzer/README.md
Due: npx prettier --write

React Effects and Fetch: ISS Tracker (#183)
  package-lock.json
  sessions/react-effects-and-fetch/iss-tracker/.eslintrc.json
  sessions/react-effects-and-fetch/iss-tracker/.gitignore
  sessions/react-effects-and-fetch/iss-tracker/.prettierrc.json
  sessions/react-effects-and-fetch/iss-tracker/README.md
  sessions/react-effects-and-fetch/iss-tracker/package.json
  sessions/react-effects-and-fetch/iss-tracker/public/index.html
  sessions/react-effects-and-fetch/iss-tracker/sandbox.config.json
  sessions/react-effects-and-fetch/iss-tracker/src/App.js
  sessions/react-effects-and-fetch/iss-tracker/src/components/Controls/Controls.css
  sessions/react-effects-and-fetch/iss-tracker/src/components/Controls/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/Map.css
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/index.js
  sessions/react-effects-and-fetch/iss-tracker/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-effects-and-fetch/api-status/README.md
Due: npx prettier --write

Update sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/index.js
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/index.js
Due: npx eslint --fix, npx prettier --write

add minor update regarding request blocking to bons challenge
  sessions/react-effects-and-fetch/api-status/README.md
Due: npx prettier --write

React Effects and Fetch: API Status (#184)
  package-lock.json
  sessions/react-effects-and-fetch/api-status/.eslintrc.json
  sessions/react-effects-and-fetch/api-status/.gitignore
  sessions/react-effects-and-fetch/api-status/.prettierrc.json
  sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-effects-and-fetch/api-status/package.json
  sessions/react-effects-and-fetch/api-status/public/index.html
  sessions/react-effects-and-fetch/api-status/sandbox.config.json
  sessions/react-effects-and-fetch/api-status/src/App.js
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/StatusCheck.css
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/index.js
  sessions/react-effects-and-fetch/api-status/src/index.js
  sessions/react-effects-and-fetch/api-status/src/styles.css
Due: npx eslint --fix, npx prettier --write

update task
  sessions/react-with-local-storage/dice/README.md
Due: npx prettier --write

fix typo
  sessions/react-with-local-storage/dice/README.md
Due: npx prettier --write

remove filler words
  sessions/react-with-local-storage/dice/README.md
Due: npx prettier --write

fix grammar
  sessions/react-with-local-storage/dice/README.md
Due: npx prettier --write

React Effects and Fetch: demo (#179)
  package-lock.json
  sessions/react-effects-and-fetch/demo-end/.eslintrc.json
  sessions/react-effects-and-fetch/demo-end/.gitignore
  sessions/react-effects-and-fetch/demo-end/.prettierrc.json
  sessions/react-effects-and-fetch/demo-end/README.md
  sessions/react-effects-and-fetch/demo-end/package.json
  sessions/react-effects-and-fetch/demo-end/public/index.html
  sessions/react-effects-and-fetch/demo-end/sandbox.config.json
  sessions/react-effects-and-fetch/demo-end/src/App.js
  sessions/react-effects-and-fetch/demo-end/src/components/Joke.js
  sessions/react-effects-and-fetch/demo-end/src/index.js
  sessions/react-effects-and-fetch/demo-end/src/styles.css
  sessions/react-effects-and-fetch/demo-start/.eslintrc.json
  sessions/react-effects-and-fetch/demo-start/.gitignore
  sessions/react-effects-and-fetch/demo-start/.prettierrc.json
  sessions/react-effects-and-fetch/demo-start/README.md
  sessions/react-effects-and-fetch/demo-start/package.json
  sessions/react-effects-and-fetch/demo-start/public/index.html
  sessions/react-effects-and-fetch/demo-start/sandbox.config.json
  sessions/react-effects-and-fetch/demo-start/src/App.js
  sessions/react-effects-and-fetch/demo-start/src/components/Joke.js
  sessions/react-effects-and-fetch/demo-start/src/index.js
  sessions/react-effects-and-fetch/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-with-local-storage/demo-end/README.md
  sessions/react-with-local-storage/demo-end/README.md
Due: npx prettier --write

React with Local Storage: Dice 🎲 (#187)
  package-lock.json
  sessions/react-with-local-storage/dice/.eslintrc.json
  sessions/react-with-local-storage/dice/.gitignore
  sessions/react-with-local-storage/dice/.prettierrc.json
  sessions/react-with-local-storage/dice/README.md
  sessions/react-with-local-storage/dice/package.json
  sessions/react-with-local-storage/dice/public/index.html
  sessions/react-with-local-storage/dice/sandbox.config.json
  sessions/react-with-local-storage/dice/src/App.js
  sessions/react-with-local-storage/dice/src/components/D6/D6.css
  sessions/react-with-local-storage/dice/src/components/D6/index.js
  sessions/react-with-local-storage/dice/src/components/D6Button/D6Button.css
  sessions/react-with-local-storage/dice/src/components/D6Button/index.js
  sessions/react-with-local-storage/dice/src/components/History/History.css
  sessions/react-with-local-storage/dice/src/components/History/index.js
  sessions/react-with-local-storage/dice/src/index.js
  sessions/react-with-local-storage/dice/src/styles.css
  sessions/react-with-local-storage/dice/src/utils.js
Due: npx eslint --fix, npx prettier --write

feat(recap-4): add form component
  sessions/recap-project-4/example-implementation/.gitignore
  sessions/recap-project-4/example-implementation/README.md
  sessions/recap-project-4/example-implementation/package.json
  sessions/recap-project-4/example-implementation/public/favicon.ico
  sessions/recap-project-4/example-implementation/public/index.html
  sessions/recap-project-4/example-implementation/public/manifest.json
  sessions/recap-project-4/example-implementation/public/robots.txt
  sessions/recap-project-4/example-implementation/sandbox.config.json
  sessions/recap-project-4/example-implementation/src/App.css
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/App.test.js
  sessions/recap-project-4/example-implementation/src/components/Form/Form.css
  sessions/recap-project-4/example-implementation/src/components/Form/index.js
  sessions/recap-project-4/example-implementation/src/index.css
  sessions/recap-project-4/example-implementation/src/index.js
  sessions/recap-project-4/example-implementation/src/logo.svg
  sessions/recap-project-4/example-implementation/src/reportWebVitals.js
  sessions/recap-project-4/example-implementation/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

let api provide the next joke id
  sessions/react-effects-and-fetch/demo-end/src/components/Joke.js
Due: npx eslint --fix, npx prettier --write

add nanoid for new activities
  package-lock.json
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

add custom hooks demo
  sessions/react-custom-hooks/demo-end/.eslintrc.json
  sessions/react-custom-hooks/demo-end/.gitignore
  sessions/react-custom-hooks/demo-end/.prettierrc.json
  sessions/react-custom-hooks/demo-end/README.md
  sessions/react-custom-hooks/demo-end/package.json
  sessions/react-custom-hooks/demo-end/public/index.html
  sessions/react-custom-hooks/demo-end/sandbox.config.json
  sessions/react-custom-hooks/demo-end/src/App.js
  sessions/react-custom-hooks/demo-end/src/components/Joke.js
  sessions/react-custom-hooks/demo-end/src/index.js
  sessions/react-custom-hooks/demo-end/src/styles.css
  sessions/react-custom-hooks/demo-end/src/utils/fetch.js
  sessions/react-custom-hooks/demo-start/.eslintrc.json
  sessions/react-custom-hooks/demo-start/.gitignore
  sessions/react-custom-hooks/demo-start/.prettierrc.json
  sessions/react-custom-hooks/demo-start/README.md
  sessions/react-custom-hooks/demo-start/package.json
  sessions/react-custom-hooks/demo-start/public/index.html
  sessions/react-custom-hooks/demo-start/sandbox.config.json
  sessions/react-custom-hooks/demo-start/src/App.js
  sessions/react-custom-hooks/demo-start/src/components/Joke.js
  sessions/react-custom-hooks/demo-start/src/index.js
  sessions/react-custom-hooks/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

React with Local Storage: Demo (#186)
  package-lock.json
  sessions/react-with-local-storage/demo-end/.eslintrc.json
  sessions/react-with-local-storage/demo-end/.gitignore
  sessions/react-with-local-storage/demo-end/.prettierrc.json
  sessions/react-with-local-storage/demo-end/README.md
  sessions/react-with-local-storage/demo-end/package.json
  sessions/react-with-local-storage/demo-end/public/index.html
  sessions/react-with-local-storage/demo-end/sandbox.config.json
  sessions/react-with-local-storage/demo-end/src/App.js
  sessions/react-with-local-storage/demo-end/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-end/src/components/Form/index.js
  sessions/react-with-local-storage/demo-end/src/components/List/List.css
  sessions/react-with-local-storage/demo-end/src/components/List/index.js
  sessions/react-with-local-storage/demo-end/src/index.js
  sessions/react-with-local-storage/demo-end/src/styles.css
  sessions/react-with-local-storage/demo-start/.eslintrc.json
  sessions/react-with-local-storage/demo-start/.gitignore
  sessions/react-with-local-storage/demo-start/.prettierrc.json
  sessions/react-with-local-storage/demo-start/README.md
  sessions/react-with-local-storage/demo-start/package.json
  sessions/react-with-local-storage/demo-start/public/index.html
  sessions/react-with-local-storage/demo-start/sandbox.config.json
  sessions/react-with-local-storage/demo-start/src/App.js
  sessions/react-with-local-storage/demo-start/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-start/src/components/Form/index.js
  sessions/react-with-local-storage/demo-start/src/components/List/List.css
  sessions/react-with-local-storage/demo-start/src/components/List/index.js
  sessions/react-with-local-storage/demo-start/src/index.js
  sessions/react-with-local-storage/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

add list component and local storage
  package-lock.json
  sessions/recap-project-4/example-implementation/package.json
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/components/List/List.css
  sessions/recap-project-4/example-implementation/src/components/List/index.js
Due: npx eslint --fix, npx prettier --write

add filter for list
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/components/List/index.js
Due: npx eslint --fix, npx prettier --write

add delete item functionality
  sessions/recap-project-4/example-implementation/src/App.js
  sessions/recap-project-4/example-implementation/src/components/List/List.css
  sessions/recap-project-4/example-implementation/src/components/List/index.js
Due: npx eslint --fix, npx prettier --write

remove initial id
  sessions/react-custom-hooks/demo-end/src/utils/fetch.js
Due: npx eslint --fix, npx prettier --write

apply fixes found by thomas k and julia
  sessions/react-state-3/demo-end/src/components/Form/index.js
  sessions/react-state-3/demo-start/src/components/Form/index.js
  sessions/react-state-3/demo-start/src/components/Movie/index.js
  sessions/react-state-3/journal-app-filter/README.md
  sessions/react-state-3/journal-app-form/README.md
Due: npx eslint --fix, npx prettier --write

fix wrong import
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write
