Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

feat(array-methods-2): adjust demo to session guide
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

chore: add fetch demo
  sessions/js-async-functions/blocking-demo/js/index.js
  sessions/js-async-functions/demo-end/js/index.js
  sessions/js-async-functions/demo-start/js/index.js
  sessions/js-async-functions/fetch-demo/.eslintrc.json
  sessions/js-async-functions/fetch-demo/.prettierrc.json
  sessions/js-async-functions/fetch-demo/.stylelintrc.json
  sessions/js-async-functions/fetch-demo/css/styles.css
  sessions/js-async-functions/fetch-demo/index.html
  sessions/js-async-functions/fetch-demo/js/index.js
  sessions/js-async-functions/fetch-demo/package.json
  sessions/js-async-functions/fetch-demo/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

chore: update titles
  sessions/js-async-functions/fetch-demo/index.html
  sessions/js-async-functions/fetch-demo/package.json
Due: npx prettier --write

feat(array-methods-2): adjust demo to session guide (#108)
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: variable name
  sessions/js-array-methods-2/animal-strings/index.js
  sessions/js-array-methods-2/animal-strings/index.test.js
Due: npx eslint --fix, npx prettier --write

fix: split up css into components
  sessions/js-async-functions/slot-machine/components/Machine/Machine.css
  sessions/js-async-functions/slot-machine/components/Result/Result.css
  sessions/js-async-functions/slot-machine/components/Result/Result.js
  sessions/js-async-functions/slot-machine/components/Score/Score.css
  sessions/js-async-functions/slot-machine/components/SpinButton/SpinButton.css
  sessions/js-async-functions/slot-machine/components/Status/Status.css
  sessions/js-async-functions/slot-machine/components/Wheel/Wheel.css
  sessions/js-async-functions/slot-machine/css/global.css
  sessions/js-async-functions/slot-machine/css/styles.css
  sessions/js-async-functions/slot-machine/index.html
  sessions/js-async-functions/slot-machine/styles.css
Due: npx eslint --fix, npx prettier --write

JS Async Functions: Slot Machine (#107)
  sessions/js-async-functions/slot-machine/.eslintrc.json
  sessions/js-async-functions/slot-machine/.prettierrc.json
  sessions/js-async-functions/slot-machine/.stylelintrc.json
  sessions/js-async-functions/slot-machine/README.md
  sessions/js-async-functions/slot-machine/components/Machine/Machine.css
  sessions/js-async-functions/slot-machine/components/Machine/Machine.js
  sessions/js-async-functions/slot-machine/components/Result/Result.css
  sessions/js-async-functions/slot-machine/components/Result/Result.js
  sessions/js-async-functions/slot-machine/components/Score/Score.css
  sessions/js-async-functions/slot-machine/components/Score/Score.js
  sessions/js-async-functions/slot-machine/components/SpinButton/SpinButton.css
  sessions/js-async-functions/slot-machine/components/SpinButton/SpinButton.js
  sessions/js-async-functions/slot-machine/components/Status/Status.css
  sessions/js-async-functions/slot-machine/components/Status/Status.js
  sessions/js-async-functions/slot-machine/components/Wheel/Wheel.css
  sessions/js-async-functions/slot-machine/components/Wheel/Wheel.js
  sessions/js-async-functions/slot-machine/css/global.css
  sessions/js-async-functions/slot-machine/index.html
  sessions/js-async-functions/slot-machine/index.js
  sessions/js-async-functions/slot-machine/package.json
  sessions/js-async-functions/slot-machine/sandbox.config.json
  sessions/js-async-functions/slot-machine/styles.css
  sessions/js-async-functions/slot-machine/utils/shuffle.js
  sessions/js-async-functions/slot-machine/utils/symbols.js
Due: npx eslint --fix, npx prettier --write

feat: created js-fetch session folder, added demo start + end
  sessions/js-fetch/demo-end/.eslintrc.json
  sessions/js-fetch/demo-end/.prettierrc.json
  sessions/js-fetch/demo-end/.stylelintrc.json
  sessions/js-fetch/demo-end/components/Joke/Joke.css
  sessions/js-fetch/demo-end/components/Joke/Joke.js
  sessions/js-fetch/demo-end/components/JokeSection/JokeSection.css
  sessions/js-fetch/demo-end/components/JokeSection/JokeSection.js
  sessions/js-fetch/demo-end/css/globals.css
  sessions/js-fetch/demo-end/index.html
  sessions/js-fetch/demo-end/js/index.js
  sessions/js-fetch/demo-end/package.json
  sessions/js-fetch/demo-end/sandbox.config.json
  sessions/js-fetch/demo-end/styles.css
  sessions/js-fetch/demo-end/utils/getRandomInt.js
  sessions/js-fetch/demo-start/.eslintrc.json
  sessions/js-fetch/demo-start/.prettierrc.json
  sessions/js-fetch/demo-start/.stylelintrc.json
  sessions/js-fetch/demo-start/components/Joke/Joke.css
  sessions/js-fetch/demo-start/components/Joke/Joke.js
  sessions/js-fetch/demo-start/components/JokeSection/JokeSection.css
  sessions/js-fetch/demo-start/components/JokeSection/JokeSection.js
  sessions/js-fetch/demo-start/css/globals.css
  sessions/js-fetch/demo-start/index.html
  sessions/js-fetch/demo-start/js/index.js
  sessions/js-fetch/demo-start/package.json
  sessions/js-fetch/demo-start/sandbox.config.json
  sessions/js-fetch/demo-start/styles.css
  sessions/js-fetch/demo-start/utils/getRandomInt.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-fetch/demo-end/js/index.js
  sessions/js-fetch/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-fetch): add star wars challenge
  sessions/js-fetch/star-wars/.eslintrc.json
  sessions/js-fetch/star-wars/README.md
  sessions/js-fetch/star-wars/components/Card/Card.css
  sessions/js-fetch/star-wars/components/Card/Card.js
  sessions/js-fetch/star-wars/css/globals.css
  sessions/js-fetch/star-wars/index.html
  sessions/js-fetch/star-wars/js/index.js
  sessions/js-fetch/star-wars/js/utils.js
  sessions/js-fetch/star-wars/package.json
  sessions/js-fetch/star-wars/sandbox.config.json
  sessions/js-fetch/star-wars/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-fetch): add star wars console challenge
  sessions/js-fetch/star-wars-console/.eslintrc.json
  sessions/js-fetch/star-wars-console/README.md
  sessions/js-fetch/star-wars-console/index.html
  sessions/js-fetch/star-wars-console/js/index.js
  sessions/js-fetch/star-wars-console/js/utils.js
  sessions/js-fetch/star-wars-console/package.json
  sessions/js-fetch/star-wars-console/sandbox.config.json
  sessions/js-fetch/star-wars/README.md
  sessions/js-fetch/star-wars/components/Card/Card.css
  sessions/js-fetch/star-wars/components/Card/Card.js
  sessions/js-fetch/star-wars/css/globals.css
  sessions/js-fetch/star-wars/js/index.js
  sessions/js-fetch/star-wars/package.json
  sessions/js-fetch/star-wars/styles.css
Due: npx eslint --fix, npx prettier --write

fix(js-fetch): typo in star wars console challenge
  sessions/js-fetch/star-wars-console/README.md
Due: npx prettier --write

fix(js-fetch): delete solution in star wars console challenge
  sessions/js-fetch/star-wars-console/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-fetch): add color clue challenge
  sessions/js-fetch/color-clue/.eslintrc.json
  sessions/js-fetch/color-clue/README.md
  sessions/js-fetch/color-clue/components/Form/Form.css
  sessions/js-fetch/color-clue/css/globals.css
  sessions/js-fetch/color-clue/css/utils.css
  sessions/js-fetch/color-clue/index.html
  sessions/js-fetch/color-clue/js/index.js
  sessions/js-fetch/color-clue/js/initForm.js
  sessions/js-fetch/color-clue/js/utils.js
  sessions/js-fetch/color-clue/package.json
  sessions/js-fetch/color-clue/sandbox.config.json
  sessions/js-fetch/color-clue/styles.css
Due: npx eslint --fix, npx prettier --write

fix: update color
  sessions/js-fetch/color-clue/README.md
  sessions/js-fetch/color-clue/components/Form/Form.css
  sessions/js-fetch/color-clue/css/globals.css
  sessions/js-fetch/color-clue/index.html
  sessions/js-fetch/color-clue/js/fetch.js
  sessions/js-fetch/color-clue/js/game.js
  sessions/js-fetch/color-clue/js/index.js
  sessions/js-fetch/color-clue/js/initForm.js
  sessions/js-fetch/color-clue/js/utils.js
Due: npx eslint --fix, npx prettier --write

fix: hint
  sessions/js-fetch/color-clue/js/fetch.js
Due: npx eslint --fix, npx prettier --write

fix: typo
  sessions/js-fetch/color-clue/README.md
Due: npx prettier --write

JS-Fetch Session: Demo Start + End (#109)
  sessions/js-fetch/demo-end/.eslintrc.json
  sessions/js-fetch/demo-end/.prettierrc.json
  sessions/js-fetch/demo-end/.stylelintrc.json
  sessions/js-fetch/demo-end/components/Joke/Joke.css
  sessions/js-fetch/demo-end/components/Joke/Joke.js
  sessions/js-fetch/demo-end/components/JokeSection/JokeSection.css
  sessions/js-fetch/demo-end/components/JokeSection/JokeSection.js
  sessions/js-fetch/demo-end/css/globals.css
  sessions/js-fetch/demo-end/index.html
  sessions/js-fetch/demo-end/js/index.js
  sessions/js-fetch/demo-end/package.json
  sessions/js-fetch/demo-end/sandbox.config.json
  sessions/js-fetch/demo-end/styles.css
  sessions/js-fetch/demo-end/utils/getRandomInt.js
  sessions/js-fetch/demo-start/.eslintrc.json
  sessions/js-fetch/demo-start/.prettierrc.json
  sessions/js-fetch/demo-start/.stylelintrc.json
  sessions/js-fetch/demo-start/components/Joke/Joke.css
  sessions/js-fetch/demo-start/components/Joke/Joke.js
  sessions/js-fetch/demo-start/components/JokeSection/JokeSection.css
  sessions/js-fetch/demo-start/components/JokeSection/JokeSection.js
  sessions/js-fetch/demo-start/css/globals.css
  sessions/js-fetch/demo-start/index.html
  sessions/js-fetch/demo-start/js/index.js
  sessions/js-fetch/demo-start/package.json
  sessions/js-fetch/demo-start/sandbox.config.json
  sessions/js-fetch/demo-start/styles.css
  sessions/js-fetch/demo-start/utils/getRandomInt.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-fetch/star-wars/css/globals.css
  sessions/js-fetch/star-wars/css/globals.css
Due: none

Update sessions/js-fetch/star-wars/components/Card/Card.css
  sessions/js-fetch/star-wars/components/Card/Card.css
Due: none

Update sessions/js-fetch/star-wars-console/README.md
  sessions/js-fetch/star-wars-console/README.md
Due: npx prettier --write

Star Wars API - Console Challenge (#111)
  sessions/js-fetch/star-wars-console/.eslintrc.json
  sessions/js-fetch/star-wars-console/README.md
  sessions/js-fetch/star-wars-console/index.html
  sessions/js-fetch/star-wars-console/js/index.js
  sessions/js-fetch/star-wars-console/js/utils.js
  sessions/js-fetch/star-wars-console/package.json
  sessions/js-fetch/star-wars-console/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-fetch/color-clue/README.md
  sessions/js-fetch/color-clue/README.md
Due: npx prettier --write

JS Fetch: Color Clue Challenge (#112)
  sessions/js-fetch/color-clue/.eslintrc.json
  sessions/js-fetch/color-clue/README.md
  sessions/js-fetch/color-clue/components/Form/Form.css
  sessions/js-fetch/color-clue/css/globals.css
  sessions/js-fetch/color-clue/css/utils.css
  sessions/js-fetch/color-clue/index.html
  sessions/js-fetch/color-clue/js/fetch.js
  sessions/js-fetch/color-clue/js/game.js
  sessions/js-fetch/color-clue/js/index.js
  sessions/js-fetch/color-clue/js/utils.js
  sessions/js-fetch/color-clue/package.json
  sessions/js-fetch/color-clue/sandbox.config.json
  sessions/js-fetch/color-clue/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-fetch): star wars cards (#110)
  sessions/js-fetch/star-wars/.eslintrc.json
  sessions/js-fetch/star-wars/README.md
  sessions/js-fetch/star-wars/components/Card/Card.css
  sessions/js-fetch/star-wars/components/Card/Card.js
  sessions/js-fetch/star-wars/css/globals.css
  sessions/js-fetch/star-wars/index.html
  sessions/js-fetch/star-wars/js/index.js
  sessions/js-fetch/star-wars/js/utils.js
  sessions/js-fetch/star-wars/package.json
  sessions/js-fetch/star-wars/sandbox.config.json
  sessions/js-fetch/star-wars/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-modern-syntax): delete old challenges
  sessions/js-es-next/async-await-ghibli/.stylelintrc.json
  sessions/js-es-next/async-await-ghibli/README.md
  sessions/js-es-next/async-await-ghibli/css/styles.css
  sessions/js-es-next/async-await-ghibli/index.html
  sessions/js-es-next/async-await-ghibli/js/index.js
  sessions/js-es-next/async-await-ghibli/package.json
  sessions/js-es-next/async-await-ghibli/sandbox.config.json
  sessions/js-es-next/async-await-star-wars/.eslintrc.json
  sessions/js-es-next/async-await-star-wars/.stylelintrc.json
  sessions/js-es-next/async-await-star-wars/README.md
  sessions/js-es-next/async-await-star-wars/css/styles.css
  sessions/js-es-next/async-await-star-wars/index.html
  sessions/js-es-next/async-await-star-wars/js/index.js
  sessions/js-es-next/async-await-star-wars/package.json
  sessions/js-es-next/async-await-star-wars/sandbox.config.json
  sessions/js-es-next/destructuring-arrays/.prettierrc.json
  sessions/js-es-next/destructuring-arrays/index.test.js
  sessions/js-es-next/destructuring-objects/.eslintrc.json
  sessions/js-es-next/destructuring-objects/.prettierrc.json
  sessions/js-es-next/destructuring-objects/index.test.js
  sessions/js-modern-syntax/destructuring-arrays/.eslintrc.json
  sessions/js-modern-syntax/destructuring-arrays/.prettierrc.json
  sessions/js-modern-syntax/destructuring-arrays/README.md
  sessions/js-modern-syntax/destructuring-arrays/index.js
  sessions/js-modern-syntax/destructuring-arrays/index.test.js
  sessions/js-modern-syntax/destructuring-arrays/package.json
  sessions/js-modern-syntax/destructuring-objects/.eslintrc.json
  sessions/js-modern-syntax/destructuring-objects/.prettierrc.json
  sessions/js-modern-syntax/destructuring-objects/README.md
  sessions/js-modern-syntax/destructuring-objects/index.js
  sessions/js-modern-syntax/destructuring-objects/index.test.js
  sessions/js-modern-syntax/destructuring-objects/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-modern-syntax): delete array challenge
  sessions/js-modern-syntax/destructuring-arrays/.eslintrc.json
  sessions/js-modern-syntax/destructuring-arrays/.prettierrc.json
  sessions/js-modern-syntax/destructuring-arrays/README.md
  sessions/js-modern-syntax/destructuring-arrays/index.js
  sessions/js-modern-syntax/destructuring-arrays/index.test.js
  sessions/js-modern-syntax/destructuring-arrays/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-modern-syntax): delete object challenge
  sessions/js-modern-syntax/destructuring-objects/.eslintrc.json
  sessions/js-modern-syntax/destructuring-objects/.prettierrc.json
  sessions/js-modern-syntax/destructuring-objects/README.md
  sessions/js-modern-syntax/destructuring-objects/index.js
  sessions/js-modern-syntax/destructuring-objects/index.test.js
  sessions/js-modern-syntax/destructuring-objects/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-modern-syntax): update object destructuring challenge
  sessions/js-modern-syntax/destructuring-objects/README.md
  sessions/js-modern-syntax/destructuring-objects/index.js
  sessions/js-modern-syntax/destructuring-objects/index.test.js
  sessions/js-modern-syntax/destructuring-objects/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-modern-syntax): update array destructuring challenge
  sessions/js-modern-syntax/destructuring-arrays/README.md
  sessions/js-modern-syntax/destructuring-arrays/index.js
  sessions/js-modern-syntax/destructuring-arrays/index.test.js
  sessions/js-modern-syntax/destructuring-arrays/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-modern-syntax): first draft of rest and spread challenge
  sessions/js-modern-syntax/destructuring-arrays/index.js
  sessions/js-modern-syntax/destructuring-arrays/package.json
  sessions/js-modern-syntax/rest-and-spread/.eslintrc.json
  sessions/js-modern-syntax/rest-and-spread/.prettierrc.json
  sessions/js-modern-syntax/rest-and-spread/README.md
  sessions/js-modern-syntax/rest-and-spread/index.js
  sessions/js-modern-syntax/rest-and-spread/index.test.js
  sessions/js-modern-syntax/rest-and-spread/package.json
  sessions/js-modern-syntax/rest-and-spread/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix(js-modern-syntax): export of variables in array challenge
  sessions/js-modern-syntax/destructuring-arrays/.eslintrc.json
  sessions/js-modern-syntax/destructuring-arrays/README.md
  sessions/js-modern-syntax/destructuring-arrays/index.js
  sessions/js-modern-syntax/destructuring-arrays/index.test.js
Due: npx eslint --fix, npx prettier --write

fix(js-modern-syntax): export of variables in object challenge
  sessions/js-modern-syntax/destructuring-objects/.eslintrc.json
  sessions/js-modern-syntax/destructuring-objects/README.md
  sessions/js-modern-syntax/destructuring-objects/index.js
  sessions/js-modern-syntax/destructuring-objects/index.test.js
Due: npx eslint --fix, npx prettier --write

fix(js-modern-syntax): variable name in object challenge test file
  sessions/js-modern-syntax/destructuring-objects/index.test.js
Due: npx eslint --fix, npx prettier --write
