Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

add form
  sessions/recap-project-2/example-implementation/bookmarks.html
  sessions/recap-project-2/example-implementation/components/form/form.css
  sessions/recap-project-2/example-implementation/form.html
  sessions/recap-project-2/example-implementation/form.js
  sessions/recap-project-2/example-implementation/index.html
  sessions/recap-project-2/example-implementation/styles.css
Due: npx eslint --fix, npx prettier --write

add bonus tasks
  sessions/recap-project-2/example-implementation/form.js
  sessions/recap-project-2/example-implementation/global.css
  sessions/recap-project-2/example-implementation/profile.html
  sessions/recap-project-2/example-implementation/profile.js
Due: npx eslint --fix, npx prettier --write

fix: color variable naming for dark mode
  sessions/recap-project-2/example-implementation/components/counter-list/counter-list.css
  sessions/recap-project-2/example-implementation/components/header/header.css
  sessions/recap-project-2/example-implementation/components/navigation/navigation.css
  sessions/recap-project-2/example-implementation/global.css
  sessions/recap-project-2/example-implementation/profile.html
Due: none

fix: color variable naming for dark mode in starter template
  sessions/recap-project-2/quiz-app/components/counter-list/counter-list.css
  sessions/recap-project-2/quiz-app/components/header/header.css
  sessions/recap-project-2/quiz-app/components/navigation/navigation.css
  sessions/recap-project-2/quiz-app/global.css
  sessions/recap-project-2/quiz-app/profile.html
Due: none

reversed changes to tourio app and implemented very basic integration of the comments section
  sessions/recap-project-6/tourio-app/.eslintrc.json
  sessions/recap-project-6/tourio-app/README.md
  sessions/recap-project-6/tourio-app/components/Card.js
  sessions/recap-project-6/tourio-app/components/Comments.js
  sessions/recap-project-6/tourio-app/components/Form.js
  sessions/recap-project-6/tourio-app/components/StyledButton.js
  sessions/recap-project-6/tourio-app/components/StyledImage.js
  sessions/recap-project-6/tourio-app/components/StyledLink.js
  sessions/recap-project-6/tourio-app/lib/Tourio-db.comments.json
  sessions/recap-project-6/tourio-app/lib/Tourio-db.places.json
  sessions/recap-project-6/tourio-app/lib/db.js
  sessions/recap-project-6/tourio-app/lib/db.json
  sessions/recap-project-6/tourio-app/lib/db_comments.js
  sessions/recap-project-6/tourio-app/lib/db_comments.json
  sessions/recap-project-6/tourio-app/lib/db_places.js
  sessions/recap-project-6/tourio-app/pages/api/comments/[id]/index.js
  sessions/recap-project-6/tourio-app/pages/api/places/[id]/index.js
  sessions/recap-project-6/tourio-app/pages/api/places/index.js
  sessions/recap-project-6/tourio-app/pages/index.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/edit.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

updated example solution
  sessions/recap-project-6/example-implementation-with-comments/.eslintrc.json
  sessions/recap-project-6/example-implementation-with-comments/.gitignore
  sessions/recap-project-6/example-implementation-with-comments/.prettierrc.json
  sessions/recap-project-6/example-implementation-with-comments/README.md
  sessions/recap-project-6/example-implementation-with-comments/components/Card.js
  sessions/recap-project-6/example-implementation-with-comments/components/Comments.js
  sessions/recap-project-6/example-implementation-with-comments/components/Form.js
  sessions/recap-project-6/example-implementation-with-comments/components/Layout.js
  sessions/recap-project-6/example-implementation-with-comments/components/StyledButton.js
  sessions/recap-project-6/example-implementation-with-comments/components/StyledImage.js
  sessions/recap-project-6/example-implementation-with-comments/components/StyledLink.js
  sessions/recap-project-6/example-implementation-with-comments/components/TitleBar.js
  sessions/recap-project-6/example-implementation-with-comments/db/connect.js
  sessions/recap-project-6/example-implementation-with-comments/db/models/Comment.js
  sessions/recap-project-6/example-implementation-with-comments/db/models/Places.js
  sessions/recap-project-6/example-implementation-with-comments/jest.config.js
  sessions/recap-project-6/example-implementation-with-comments/jest.setup.js
  sessions/recap-project-6/example-implementation-with-comments/next.config.js
  sessions/recap-project-6/example-implementation-with-comments/package-lock.json
  sessions/recap-project-6/example-implementation-with-comments/package.json
  sessions/recap-project-6/example-implementation-with-comments/pages/_app.js
  sessions/recap-project-6/example-implementation-with-comments/pages/_document.js
  sessions/recap-project-6/example-implementation-with-comments/pages/api/comments/[id]/index.js
  sessions/recap-project-6/example-implementation-with-comments/pages/api/places/[id]/index.js
  sessions/recap-project-6/example-implementation-with-comments/pages/api/places/index.js
  sessions/recap-project-6/example-implementation-with-comments/pages/create.js
  sessions/recap-project-6/example-implementation-with-comments/pages/index.js
  sessions/recap-project-6/example-implementation-with-comments/pages/places/[id]/edit.js
  sessions/recap-project-6/example-implementation-with-comments/pages/places/[id]/index.js
  sessions/recap-project-6/example-implementation-with-comments/public/favicon.ico
  sessions/recap-project-6/example-implementation-with-comments/sandbox.config.json
  sessions/recap-project-6/example-implementation-with-comments/styles.js
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/comment.js
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

updated instructions
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

added old example solution
  sessions/recap-project-6/example-implementation/.eslintrc.json
  sessions/recap-project-6/example-implementation/.gitignore
  sessions/recap-project-6/example-implementation/README.md
  sessions/recap-project-6/example-implementation/components/Card.js
  sessions/recap-project-6/example-implementation/components/Form.js
  sessions/recap-project-6/example-implementation/components/Layout.js
  sessions/recap-project-6/example-implementation/components/StyledButton.js
  sessions/recap-project-6/example-implementation/components/StyledImage.js
  sessions/recap-project-6/example-implementation/components/StyledLink.js
  sessions/recap-project-6/example-implementation/components/TitleBar.js
  sessions/recap-project-6/example-implementation/db/connect.js
  sessions/recap-project-6/example-implementation/db/models/Place.js
  sessions/recap-project-6/example-implementation/jest.config.js
  sessions/recap-project-6/example-implementation/jest.setup.js
  sessions/recap-project-6/example-implementation/jsconfig.json
  sessions/recap-project-6/example-implementation/lib/db.js
  sessions/recap-project-6/example-implementation/lib/db.json
  sessions/recap-project-6/example-implementation/next.config.js
  sessions/recap-project-6/example-implementation/package-lock.json
  sessions/recap-project-6/example-implementation/package.json
  sessions/recap-project-6/example-implementation/pages/_app.js
  sessions/recap-project-6/example-implementation/pages/_document.js
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/index.js
  sessions/recap-project-6/example-implementation/pages/api/places/index.js
  sessions/recap-project-6/example-implementation/pages/create.js
  sessions/recap-project-6/example-implementation/pages/index.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-6/example-implementation/public/favicon.ico
  sessions/recap-project-6/example-implementation/styles.js
Due: npx eslint --fix, npx prettier --write

fix url path
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

update deployment hint
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

fix: readme text position
  sessions/recap-project-2/example-implementation/README.md
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

Fix typos
  sessions/html-and-the-web/find-the-errors/README.md
  sessions/html-and-the-web/format-salad/README.md
  sessions/html-and-the-web/personal-website/README.md
Due: npx prettier --write

Fix typos
  sessions/html-and-the-web/div-salad/README.md
  sessions/html-and-the-web/div-salad/index.html
  sessions/html-and-the-web/div-salad_solution/README.md
  sessions/html-and-the-web/div-salad_solution/index.html
Due: npx prettier --write

Fix the html text
  sessions/html-and-the-web/find-the-errors/README.md
Due: npx prettier --write

Fix spelling as Reviewer request
  sessions/html-and-the-web/find-the-errors/README.md
Due: npx prettier --write

Fix the html text (#406)
  sessions/html-and-the-web/find-the-errors/README.md
Due: npx prettier --write

Add doctype to challenge
  sessions/html-and-the-web/format-salad/README.md
Due: npx prettier --write

Improve HTML structure in example code
  sessions/html-and-the-web/find-the-errors/README.md
Due: npx prettier --write

Apply suggestions from code review
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-2/example-implementation/README.md
  sessions/recap-project-2/example-implementation/bookmarks.html
  sessions/recap-project-2/example-implementation/form.html
  sessions/recap-project-2/example-implementation/form.js
  sessions/recap-project-2/example-implementation/index.html
  sessions/recap-project-2/example-implementation/profile.html
  sessions/recap-project-2/quiz-app/README.md
Due: npx eslint --fix, npx prettier --write

fix: remove commented code
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.css
Due: none

Add/js unit testing solutions (#404)
  sessions/js-unit-testing/get-animal_solution/.eslintrc.json
  sessions/js-unit-testing/get-animal_solution/.gitignore
  sessions/js-unit-testing/get-animal_solution/.prettierrc.json
  sessions/js-unit-testing/get-animal_solution/README.md
  sessions/js-unit-testing/get-animal_solution/index.html
  sessions/js-unit-testing/get-animal_solution/index.js
  sessions/js-unit-testing/get-animal_solution/index.test.js
  sessions/js-unit-testing/get-animal_solution/package.json
  sessions/js-unit-testing/math-functions_solution/.eslintrc.json
  sessions/js-unit-testing/math-functions_solution/.gitignore
  sessions/js-unit-testing/math-functions_solution/.prettierrc.json
  sessions/js-unit-testing/math-functions_solution/README.md
  sessions/js-unit-testing/math-functions_solution/index.html
  sessions/js-unit-testing/math-functions_solution/index.js
  sessions/js-unit-testing/math-functions_solution/index.test.js
  sessions/js-unit-testing/math-functions_solution/package.json
  sessions/js-unit-testing/people_solution/.eslintrc.json
  sessions/js-unit-testing/people_solution/.gitignore
  sessions/js-unit-testing/people_solution/.prettierrc.json
  sessions/js-unit-testing/people_solution/README.md
  sessions/js-unit-testing/people_solution/index.html
  sessions/js-unit-testing/people_solution/index.js
  sessions/js-unit-testing/people_solution/index.test.js
  sessions/js-unit-testing/people_solution/package.json
Due: npx eslint --fix, npx prettier --write

chore: add overview to project 1
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-1/quiz-app/assets/topics.md
Due: npx prettier --write

Fix grammar and formatting in css-basics challenges
  sessions/css-basics/button-styles/README.md
  sessions/css-basics/button-styles/css/styles.css
  sessions/css-basics/button-styles/index.html
  sessions/css-basics/button-styles_solution/README.md
  sessions/css-basics/button-styles_solution/css/styles.css
  sessions/css-basics/button-styles_solution/index.html
  sessions/css-basics/combined-users/README.md
  sessions/css-basics/combined-users/index.html
  sessions/css-basics/combined-users_solution/README.md
  sessions/css-basics/combined-users_solution/css/styles.css
  sessions/css-basics/combined-users_solution/index.html
  sessions/css-basics/pink-box/README.md
  sessions/css-basics/pink-box/css/styles.css
  sessions/css-basics/pink-box_solution/README.md
  sessions/css-basics/pink-box_solution/css/styles.css
  sessions/css-basics/pokemon-page/README.md
  sessions/css-basics/pokemon-page/css/styles.css
  sessions/css-basics/pokemon-page_solution/README.md
  sessions/css-basics/pokemon-page_solution/css/styles.css
  sessions/css-basics/pseudo-park/README.md
  sessions/css-basics/pseudo-park/css/styles.css
  sessions/css-basics/pseudo-park_solution/README.md
  sessions/css-basics/pseudo-park_solution/css/styles.css
Due: npx prettier --write

update dummy data: place -> placeId
  sessions/recap-project-6/tourio-app/lib/db_comments.js
  sessions/recap-project-6/tourio-app/lib/db_comments.json
Due: npx eslint --fix, npx prettier --write

update endpoint to send empty array if no place is found instead of a 404
  sessions/recap-project-6/tourio-app/pages/api/comments/[id]/index.js
Due: npx eslint --fix, npx prettier --write

updated handleSubmitComment function to receive event as parameter and not 'e'
  sessions/recap-project-6/tourio-app/components/Comments.js
Due: npx eslint --fix, npx prettier --write

move old challenge to archive folder
  archive/booleans/.eslintrc.json
  archive/booleans/.gitignore
  archive/booleans/README.md
  archive/booleans/css/styles.css
  archive/booleans/index.html
  archive/booleans/js/index.js
  archive/booleans/package.json
Due: npx eslint --fix, npx prettier --write

add switch challenge: weather
  sessions/js-conditions-and-booleans/weather/js/index.js
Due: npx eslint --fix, npx prettier --write

add switch challenge: weather
  sessions/js-conditions-and-booleans/booleans/README.md
  sessions/js-conditions-and-booleans/booleans/css/styles.css
  sessions/js-conditions-and-booleans/booleans/index.html
  sessions/js-conditions-and-booleans/booleans/js/index.js
  sessions/js-conditions-and-booleans/booleans/package.json
  sessions/js-conditions-and-booleans/weather/.eslintrc.json
  sessions/js-conditions-and-booleans/weather/.gitignore
  sessions/js-conditions-and-booleans/weather/README.md
  sessions/js-conditions-and-booleans/weather/css/styles.css
  sessions/js-conditions-and-booleans/weather/index.html
  sessions/js-conditions-and-booleans/weather/package.json
Due: npx eslint --fix, npx prettier --write

add solution for switch challenge: weather
  sessions/js-conditions-and-booleans/weather_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

adjust challenge name
  sessions/js-conditions-and-booleans/weather-check_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

adjust challenge name
  sessions/js-conditions-and-booleans/weather-check/.eslintrc.json
  sessions/js-conditions-and-booleans/weather-check/.gitignore
  sessions/js-conditions-and-booleans/weather-check/README.md
  sessions/js-conditions-and-booleans/weather-check/css/styles.css
  sessions/js-conditions-and-booleans/weather-check/index.html
  sessions/js-conditions-and-booleans/weather-check/js/index.js
  sessions/js-conditions-and-booleans/weather-check/package.json
  sessions/js-conditions-and-booleans/weather-check_solution/.eslintrc.json
  sessions/js-conditions-and-booleans/weather-check_solution/.gitignore
  sessions/js-conditions-and-booleans/weather-check_solution/README.md
  sessions/js-conditions-and-booleans/weather-check_solution/css/styles.css
  sessions/js-conditions-and-booleans/weather-check_solution/index.html
  sessions/js-conditions-and-booleans/weather-check_solution/package.json
  sessions/js-conditions-and-booleans/weather_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

adjust package.json according challenge name
  sessions/js-conditions-and-booleans/weather-check/package.json
  sessions/js-conditions-and-booleans/weather-check_solution/package.json
Due: npx prettier --write

update demo
  sessions/js-dom-and-events/demo-end/css/styles.css
  sessions/js-dom-and-events/demo-end/index.html
  sessions/js-dom-and-events/demo-end/js/index.js
  sessions/js-dom-and-events/demo-start/css/styles.css
  sessions/js-dom-and-events/demo-start/index.html
  sessions/js-dom-and-events/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-conditions-and-booleans/weather-check_solution/package.json
  sessions/js-conditions-and-booleans/weather-check_solution/package.json
Due: npx prettier --write

update lotr dynamic routing solution to contain imperative routing for random volume
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/pages/index.js
Due: npx eslint --fix, npx prettier --write

add running code guide
  sessions/js-conditions-and-booleans/weather-check/README.md
Due: npx prettier --write

fix package.json naming issue for recapt project 2
  sessions/recap-project-2/quiz-app/package.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
