Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Fix/add download command for resources (#328)
  sessions/nextjs-basics-and-routing/lotr-app/README.md
  sessions/react-styled-components-2/lotr-app-styling/README.md
Due: npx prettier --write

Fix styled button component recap project 6
  sessions/recap-project-6/tourio-app/components/StyledButton.js
Due: npx eslint --fix, npx prettier --write

change to spiced color
  sessions/css-flexbox/demo-end/css/styles.css
  sessions/css-flexbox/demo-start/css/styles.css
  sessions/css-flexbox/navigation/README.md
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/profile/css/styles.css
Due: npx prettier --write

update css-grid challenges to spiced color
  sessions/css-grid/demo-end/css/styles.css
  sessions/css-grid/demo-start/css/styles.css
  sessions/css-grid/fish-cards/css/styles.css
  sessions/css-grid/image-gallery/css/styles.css
  sessions/css-grid/payment-cards/assets/grid-challenge_payment-cards.png
  sessions/css-grid/payment-cards/css/styles.css
  sessions/css-grid/place-elements/assets/grid-challenge_place-elements.png
  sessions/css-grid/place-elements/css/styles.css
  sessions/css-grid/place-elements/index.html
  sessions/css-grid/service-gallery/assets/grid-challenge_service-gallery.png
  sessions/css-grid/service-gallery/css/styles.css
Due: none

Fixt instructions
  sessions/css-grid/place-elements/css/styles.css
Due: none

change the description on how to run the test
  sessions/js-array-methods-2/animal-objects/README.md
  sessions/js-array-methods-2/animal-strings/README.md
  sessions/js-array-methods/filter/README.md
  sessions/js-array-methods/map/README.md
  sessions/js-array-methods/repetition/README.md
  sessions/js-modern-syntax/destructuring-arrays/README.md
  sessions/js-modern-syntax/destructuring-objects/README.md
  sessions/js-modern-syntax/rest-and-spread/README.md
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects/README.md
Due: npx prettier --write

js forms new spiced color
  sessions/js-forms-new/calculator/css/global.css
  sessions/js-forms-new/calculator/css/styles.css
  sessions/js-forms-new/checkbox-input/css/global.css
  sessions/js-forms-new/checkbox-input/css/styles.css
  sessions/js-forms-new/demo-end/css/global.css
  sessions/js-forms-new/demo-end/css/styles.css
  sessions/js-forms-new/demo-start/css/global.css
  sessions/js-forms-new/demo-start/css/styles.css
  sessions/js-forms-new/handle-form-submit/css/global.css
  sessions/js-forms-new/handle-form-submit/css/styles.css
Due: none

Delete code sandbox from readme
  sessions/js-forms-new/calculator/README.md
  sessions/js-forms-new/checkbox-input/README.md
  sessions/js-forms-new/handle-form-submit/README.md
Due: npx prettier --write

changing style to spiced, delete sandbox and typos
  sessions/html-forms-new/Finding-a11y-errors/README.md
  sessions/html-forms-new/Finding-a11y-errors/css/global.css
  sessions/html-forms-new/Finding-a11y-errors/css/styles.css
  sessions/html-forms-new/formvalidation/README.md
  sessions/html-forms-new/formvalidation/css/global.css
  sessions/html-forms-new/formvalidation/css/styles.css
  sessions/html-forms-new/personal-profile-form/README.md
  sessions/html-forms-new/personal-profile-form/css/global.css
  sessions/html-forms-new/personal-profile-form/css/styles.css
  sessions/html-forms-new/personal-profile-form/images/final_result.png
  sessions/html-forms-new/zoo/README.md
  sessions/html-forms-new/zoo/css/global.css
  sessions/html-forms-new/zoo/css/styles.css
Due: npx prettier --write

spiced style
  sessions/js-createelement/product-teaser/css/global.css
  sessions/js-createelement/product-teaser/css/styles.css
  sessions/js-createelement/social-media-post/css/global.css
  sessions/js-createelement/social-media-post/css/styles.css
  sessions/js-createelement/social-media-post/index.html
  sessions/js-createelement/toast-messages/css/global.css
  sessions/js-createelement/toast-messages/css/styles.css
Due: none

removed logs
  sessions/recap-project-6/example-implementation/pages/api/places/[id]/index.js
  sessions/recap-project-6/tourio-app/.prettierrc.json
  sessions/recap-project-6/tourio-app/components/Comments.js
  sessions/recap-project-6/tourio-app/components/Form.js
  sessions/recap-project-6/tourio-app/pages/api/places/[id]/index.js
  sessions/recap-project-6/tourio-app/pages/api/places/index.js
  sessions/recap-project-6/tourio-app/pages/create.js
  sessions/recap-project-6/tourio-app/pages/index.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/edit.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

fixed bug in _id so it works with both: lib and db data
  sessions/recap-project-6/tourio-app/pages/index.js
Due: npx eslint --fix, npx prettier --write

Changed URI for Atlas example
  sessions/backend-read/products/README.md
Due: npx prettier --write

fix: use input parameter in Joke component instead of mutating
  sessions/js-fetch/demo-end/components/Joke/Joke.js
  sessions/js-fetch/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: use input parameter in Joke component instead of mutating (#330)
  sessions/js-fetch/demo-end/components/Joke/Joke.js
  sessions/js-fetch/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: use input parameter instead of mutating Joke component, remove new keyword
  sessions/js-fetch-new/demo-end/components/Joke/Joke.js
  sessions/js-fetch-new/demo-end/js/index.js
  sessions/js-fetch-new/demo-start/components/Joke/Joke.js
  sessions/js-fetch-new/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

adding resources
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-2/quiz-app/assets/add.png
  sessions/recap-project-2/quiz-app/assets/add_filled.png
  sessions/recap-project-2/quiz-app/resources.zip
Due: npx prettier --write

Update fetch challenge to remove reference to error handling
  sessions/js-fetch-new/star-wars-console/README.md
Due: npx prettier --write

spiced color
  sessions/js-structure/demo-end/components/Card/Card.css
  sessions/js-structure/demo-end/components/Header/Header.css
  sessions/js-structure/demo-end/styles/globals.css
  sessions/js-structure/demo-start/components/Card/Card.css
  sessions/js-structure/demo-start/components/Header/Header.css
  sessions/js-structure/demo-start/styles/globals.css
  sessions/js-structure/quiz-app/components/Bookmark/Bookmark.css
  sessions/js-structure/quiz-app/components/Card/Card.css
  sessions/js-structure/quiz-app/components/Form/Form.css
  sessions/js-structure/quiz-app/components/Header/Header.css
  sessions/js-structure/quiz-app/global.css
  sessions/js-structure/shapes/components/Circle/Circle.css
  sessions/js-structure/shapes/components/Pentagon/Pentagon.css
  sessions/js-structure/shapes/components/Square/Square.css
  sessions/js-structure/shapes/styles/styles.css
  sessions/js-structure/spacerocket/assets/rocket.svg
  sessions/js-structure/spacerocket/css/global.css
  sessions/js-structure/spacerocket/css/styles.css
Due: none

style
  sessions/js-array-methods-2/animal-objects/README.md
  sessions/js-array-methods-2/animal-objects/css/global.css
  sessions/js-array-methods-2/animal-objects/css/style.css
  sessions/js-array-methods-2/animal-objects/index.html
  sessions/js-array-methods-2/animal-strings/README.md
Due: npx prettier --write

styling challenges spiced color
  .gitignore
  sessions/js-array-methods-2/animal-strings/css/global.css
  sessions/js-array-methods-2/animal-strings/css/style.css
  sessions/js-array-methods-2/animal-strings/index.html
  sessions/js-array-methods-2/demo-end/css/global.css
  sessions/js-array-methods-2/demo-end/css/styles.css
  sessions/js-array-methods-2/demo-start/css/global.css
  sessions/js-array-methods-2/demo-start/css/styles.css
  sessions/js-array-methods-2/fun-with-flags/README.md
  sessions/js-array-methods-2/fun-with-flags/styles.css
  sessions/js-array-methods-2/fun-with-flags/styles/general.css
  sessions/js-array-methods-2/news-flash/components/Card/Card.css
  sessions/js-array-methods-2/news-flash/css/general.css
  sessions/js-array-methods-2/news-flash/css/global.css
  sessions/js-array-methods-2/news-flash/css/globals.css
  sessions/js-array-methods-2/news-flash/styles.css
Due: npx prettier --write

spiced style
  sessions/js-fetch/star-wars-console/css/global.css
  sessions/js-fetch/star-wars-console/css/style.css
  sessions/js-fetch/star-wars-console/index.html
  sessions/js-fetch/star-wars/components/Card/Card.css
  sessions/js-fetch/star-wars/css/global.css
  sessions/js-fetch/star-wars/css/globals.css
  sessions/js-fetch/star-wars/styles.css
Due: none

chore: fixed last inconsistencies
  sessions/react-global-state/lights-solution/pages/index.js
  sessions/react-global-state/lights/pages/index.js
Due: npx eslint --fix, npx prettier --write

Clean up in React global state challenge (#324)
  sessions/react-global-state/lights-solution/components/QuickActions/index.js
  sessions/react-global-state/lights-solution/pages/index.js
  sessions/react-global-state/lights-solution/pages/rooms.js
  sessions/react-global-state/lights/README.md
  sessions/react-global-state/lights/pages/index.js
  sessions/react-global-state/lights/pages/rooms.js
Due: npx eslint --fix, npx prettier --write

chore: update links to spa challenge in js array methods 1
  sessions/js-array-methods-1/spa-1/README.md
  sessions/js-array-methods-1/spa-2/README.md
  sessions/js-array-methods-1/spa-3/README.md
Due: npx prettier --write

computer set up
  sessions/computer-set-up/README.md
Due: npx prettier --write

computer setup token
  sessions/computer-setup/is-token-correct/README.md
Due: npx prettier --write

adding image
  sessions/computer-setup/is-token-correct/README.md
  sessions/computer-setup/is-token-correct/token-correct.png
Due: npx prettier --write

fix text
  sessions/computer-setup/is-token-correct/README.md
Due: npx prettier --write

addding package jason
  sessions/computer-setup/is-token-correct/package.json
Due: npx prettier --write

fix: rename classic package.json names
  sessions/js-fetch-classic/color-clue/package.json
  sessions/js-fetch-classic/demo-end/package.json
  sessions/js-fetch-classic/demo-start/package.json
  sessions/js-fetch-classic/star-wars-console/package.json
  sessions/js-fetch-classic/star-wars/package.json
Due: npx prettier --write

fix: rename classic package.json names (#332)
  sessions/js-fetch-classic/color-clue/package.json
  sessions/js-fetch-classic/demo-end/package.json
  sessions/js-fetch-classic/demo-start/package.json
  sessions/js-fetch-classic/star-wars-console/package.json
  sessions/js-fetch-classic/star-wars/package.json
Due: npx prettier --write

change to spiced style
  sessions/css-structure/custom-properties/README.md
  sessions/css-structure/custom-properties/css/styles.css
  sessions/css-structure/demo-end/css/global.css
  sessions/css-structure/demo-start/css/styles.css
Due: npx prettier --write

remove -i flag
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

add db/connect.js
  package-lock.json
  sessions/backend-read/products/db/connect.js
Due: npx eslint --fix, npx prettier --write

add db/connect.js (#333)
  package-lock.json
  sessions/backend-read/products/db/connect.js
Due: npx eslint --fix, npx prettier --write
