Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

eslint config
  sessions/react-with-arrays/demo-end/.eslintrc.cjs
  sessions/react-with-arrays/demo-end/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-with-arrays/demo-end/package.json
Due: npx prettier --write

git config
  sessions/react-with-arrays/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-with-arrays/demo-end/index.html
  sessions/react-with-arrays/demo-end/public/favicon.png
Due: none

update readme
  sessions/react-with-arrays/demo-end/README.md
Due: npx prettier --write

change js to jsx and style to sp
  sessions/react-with-arrays/demo-end/src/App.css
  sessions/react-with-arrays/demo-end/src/App.jsx
  sessions/react-with-arrays/demo-end/src/components/PokemonCard.css
  sessions/react-with-arrays/demo-end/src/components/PokemonCard.jsx
  sessions/react-with-arrays/demo-end/src/index.jsx
  sessions/react-with-arrays/demo-end/src/styles.css
Due: npx eslint --fix, npx prettier --write

updated favicon path
  sessions/react-state/demo-food-order-end/index.html
  sessions/react-state/demo-food-order-start/index.html
Due: none

updated favicon path
  sessions/react-state/demo-counter-end/index.html
  sessions/react-state/demo-counter-start/index.html
Due: none

updated favicon path
  sessions/react-state/emoji-checker/index.html
Due: none

updated favicon path
  sessions/react-state/journal-app-favorite-button/index.html
Due: none

followed vite css structure
  sessions/react-with-arrays/demo-end/src/App.jsx
  sessions/react-with-arrays/demo-end/src/index.css
  sessions/react-with-arrays/demo-end/src/index.jsx
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-with-arrays/demo-start/README.md
Due: npx prettier --write

followed vite css structure
  sessions/react-with-arrays/demo-start/src/App.jsx
  sessions/react-with-arrays/demo-start/src/index.css
  sessions/react-with-arrays/demo-start/src/index.jsx
Due: npx eslint --fix, npx prettier --write

fix typo in challenge description (#355)
  sessions/js-array-methods-2/zoo-animals/README.md
  sessions/js-array-methods-2/zoo-animals/js/index.js
Due: npx eslint --fix, npx prettier --write

Finetuning React basics demo-start
  sessions/react-basics/demo-start/public/index.html
  sessions/react-basics/demo-start/public/styles.css
  sessions/react-basics/demo-start/src/index.js
Due: npx eslint --fix, npx prettier --write

Finetuning React basics demo-end
  package-lock.json
  sessions/react-basics/demo-end/public/index.html
  sessions/react-basics/demo-end/public/styles.css
  sessions/react-basics/demo-end/src/VanillaApp.js
  sessions/react-basics/demo-end/src/index.js
Due: npx eslint --fix, npx prettier --write

change eslint
  sessions/react-state-2/colored-number/.eslintrc.cjs
  sessions/react-state-2/colored-number/.eslintrc.json
Due: npx prettier --write

add and remove packges
  sessions/react-state-2/colored-number/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/colored-number/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-state-2/colored-number/index.html
  sessions/react-state-2/colored-number/public/color-wheel.png
Due: none

update readme file
  sessions/react-state-2/colored-number/README.md
Due: npx prettier --write

change js to jsx
  sessions/react-state-2/colored-number/src/App.jsx
  sessions/react-state-2/colored-number/src/components/ColoredNumber.jsx
  sessions/react-state-2/colored-number/src/components/Counter.jsx
  sessions/react-state-2/colored-number/src/index.jsx
Due: npx eslint --fix, npx prettier --write

style page to SP color
  sessions/react-state-2/colored-number/index.html
  sessions/react-state-2/colored-number/src/App.css
  sessions/react-state-2/colored-number/src/App.jsx
  sessions/react-state-2/colored-number/src/components/Counter.css
  sessions/react-state-2/colored-number/src/components/Counter.jsx
  sessions/react-state-2/colored-number/src/styles.css
Due: npx eslint --fix, npx prettier --write

new eslint config
  sessions/react-state-2/conditional-usestate/.eslintrc.cjs
  sessions/react-state-2/conditional-usestate/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-state-2/conditional-usestate/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/conditional-usestate/vite.config.js
Due: npx eslint --fix, npx prettier --write

moving html and adding favicon
  sessions/react-state-2/conditional-usestate/index.html
  sessions/react-state-2/conditional-usestate/public/algorithm.png
Due: none

rename js to jsx files
  sessions/react-state-2/conditional-usestate/src/App.css
  sessions/react-state-2/conditional-usestate/src/App.jsx
  sessions/react-state-2/conditional-usestate/src/index.jsx
Due: npx eslint --fix, npx prettier --write

change style to SP
  sessions/react-state-2/conditional-usestate/src/App.css
Due: none

update readme
  sessions/react-state-2/conditional-usestate/README.md
Due: npx prettier --write

change eslint config
  sessions/react-state-2/favourite-holiday/.eslintrc.cjs
  sessions/react-state-2/favourite-holiday/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-state-2/favourite-holiday/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/favourite-holiday/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-state-2/favourite-holiday/index.html
  sessions/react-state-2/favourite-holiday/public/holidays.png
Due: none

rename js file to jsx and spcied style
  sessions/react-state-2/favourite-holiday/src/App.css
  sessions/react-state-2/favourite-holiday/src/App.jsx
  sessions/react-state-2/favourite-holiday/src/index.jsx
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-state-2/favourite-holiday/README.md
Due: npx prettier --write

style
  sessions/react-state-2/favourite-holiday/src/App.css
Due: none

update esllint
  sessions/react-state-2/personal-details/.eslintrc.cjs
  sessions/react-state-2/personal-details/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-state-2/personal-details/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/personal-details/vite.config.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
