Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Minor Change: Update CSS Selectors Demo (#291)
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-end/index.html
  sessions/css-selectors/demo-start/css/styles.css
  sessions/css-selectors/demo-start/index.html
Due: none

refactor: use links instead of buttons and add isLoading condition
  sessions/backend-create/products/README.md
  sessions/backend-create/products/components/Link/Link.styled.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-create/products/components/ProductList/index.js
  sessions/backend-read/products/components/Link/Link.styled.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-update-and-delete/products/components/Link/Link.styled.js
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

fix typo
  sessions/backend-create/products/components/Product/index.js
Due: npx eslint --fix, npx prettier --write

fix: replace all terniary conditions in useSWR calls
  sessions/backend-api-routes/demo-end/components/Joke/index.js
  sessions/backend-create/demo-end/components/Joke/index.js
  sessions/backend-create/demo-start/components/Joke/index.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-start/components/Joke/index.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/products/components/Product/index.js
Due: npx eslint --fix, npx prettier --write

refactor: use links instead of buttons and add isLoading condition (#292)
  sessions/backend-create/products/README.md
  sessions/backend-create/products/components/Link/Link.styled.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-create/products/components/ProductList/index.js
  sessions/backend-read/products/components/Link/Link.styled.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-update-and-delete/products/components/Link/Link.styled.js
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

fix: replace all terniary conditions in useSWR calls (#293)
  sessions/backend-api-routes/demo-end/components/Joke/index.js
  sessions/backend-create/demo-end/components/Joke/index.js
  sessions/backend-create/demo-start/components/Joke/index.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-start/components/Joke/index.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-start/components/Joke/index.js
  sessions/backend-update-and-delete/products/components/Product/index.js
Due: npx eslint --fix, npx prettier --write

fix: destructure isLoading
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-read/products/components/Product/index.js
Due: npx eslint --fix, npx prettier --write

Update index.html
  sessions/js-functions-2/progress-bar/index.html
Due: none

Update index.html (#294)
  sessions/js-functions-2/progress-bar/index.html
Due: none

fix: use vercel api for backend api routes demo start code '
  sessions/backend-api-routes/demo-start/components/Joke/index.js
  sessions/backend-api-routes/demo-start/components/JokeList/index.js
Due: npx eslint --fix, npx prettier --write

skip test cases for HistoryEntry component
  sessions/react-component-testing/scorekeeper/components/HistoryEntry/HistoryEntry.test.js
Due: npx eslint --fix, npx prettier --write

refactor readme
  sessions/react-component-testing/scorekeeper/README.md
Due: npx prettier --write

Refactor: React Component Testing - Scorekeeper Challenge (#295)
  sessions/react-component-testing/scorekeeper/README.md
  sessions/react-component-testing/scorekeeper/components/HistoryEntry/HistoryEntry.test.js
Due: npx eslint --fix, npx prettier --write

feat: add challenge for training if else statements
  package-lock.json
  sessions/js-conditions-and-booleans/statements/.eslintrc.json
  sessions/js-conditions-and-booleans/statements/.gitignore
  sessions/js-conditions-and-booleans/statements/.prettierrc.json
  sessions/js-conditions-and-booleans/statements/README.md
  sessions/js-conditions-and-booleans/statements/index.js
  sessions/js-conditions-and-booleans/statements/package.json
  sessions/js-conditions-and-booleans/statements/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix: use better login message
  sessions/js-conditions-and-booleans/statements/README.md
Due: npx prettier --write

fix: use console view
  sessions/js-conditions-and-booleans/statements/sandbox.config.json
Due: npx prettier --write

remove comment about opening tests tab
  sessions/js-conditions-and-booleans/statements/README.md
  sessions/js-conditions-and-booleans/statements/index.js
Due: npx eslint --fix, npx prettier --write

feat: add challenge for training if else statements (#296)
  package-lock.json
  sessions/js-conditions-and-booleans/statements/.eslintrc.json
  sessions/js-conditions-and-booleans/statements/.gitignore
  sessions/js-conditions-and-booleans/statements/.prettierrc.json
  sessions/js-conditions-and-booleans/statements/README.md
  sessions/js-conditions-and-booleans/statements/index.js
  sessions/js-conditions-and-booleans/statements/package.json
  sessions/js-conditions-and-booleans/statements/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

refactor: use useSWR instead of useSWRMutation for backend-create
  sessions/backend-create/demo-end/components/JokeForm/index.js
  sessions/backend-create/products/README.md
Due: npx eslint --fix, npx prettier --write

refactor: update products starter code in backend-update-and-delete, replace useSWRMUtation
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-and-delete/demo-end/pages/index.js
  sessions/backend-update-and-delete/demo-start/pages/index.js
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
Due: npx eslint --fix, npx prettier --write

Backend/replace use swr mutation (#297)
  sessions/backend-create/demo-end/components/JokeForm/index.js
  sessions/backend-create/products/README.md
  sessions/backend-update-and-delete/demo-end/components/Joke/index.js
  sessions/backend-update-and-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-and-delete/demo-end/pages/index.js
  sessions/backend-update-and-delete/demo-start/pages/index.js
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
Due: npx eslint --fix, npx prettier --write

fix: remove non existing styledHeading component from backend-read challenge
  sessions/backend-read/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

fix: add missing StyledHeading component
  sessions/backend-read/products/components/ProductList/ProductList.styled.js
  sessions/backend-read/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

Update README.md - npx route
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

Update README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

update route
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

Fixing version problem with next/font
  sessions/react-styled-components/demo-end/package.json
  sessions/react-styled-components/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

Fixing version problem with next/font in demo_start
  sessions/react-styled-components/demo-start/package.json
Due: npx prettier --write

update js forms demo to incorporate input event demonstration
  sessions/js-forms/demo-end/css/styles.css
  sessions/js-forms/demo-end/index.html
  sessions/js-forms/demo-end/js/index.js
  sessions/js-forms/demo-start/css/styles.css
  sessions/js-forms/demo-start/index.html
Due: npx eslint --fix, npx prettier --write

move formvalidation challenge from js forms 2 to html forms
  sessions/html-forms/formvalidation/.eslintrc.json
  sessions/html-forms/formvalidation/.gitignore
  sessions/html-forms/formvalidation/.prettierrc.json
  sessions/html-forms/formvalidation/README.md
  sessions/html-forms/formvalidation/css/styles.css
  sessions/html-forms/formvalidation/index.html
  sessions/html-forms/formvalidation/js/index.js
  sessions/html-forms/formvalidation/package.json
  sessions/html-forms/formvalidation/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

edit js forms challenges to incorporate input event and form reset
  sessions/js-forms/checkbox-input/README.md
  sessions/js-forms/checkbox-input/index.html
  sessions/js-forms/checkbox-input/js/index.js
  sessions/js-forms/handle-form-submit/README.md
Due: npx eslint --fix, npx prettier --write

add description to js basics survey error challenge
  sessions/js-basics/survey-error-fixing/README.md
Due: npx prettier --write

fix end state of css basics demo
  sessions/css-basics/demo-end/css/styles.css
  sessions/css-basics/demo-end/index.html
Due: none

fix class names in html
  sessions/css-basics/demo-end/index.html
  sessions/css-basics/demo-start/index.html
Due: none

add pink box challenge
  sessions/css-basics/pink-box/.gitignore
  sessions/css-basics/pink-box/.prettierrc.json
  sessions/css-basics/pink-box/README.md
  sessions/css-basics/pink-box/css/styles.css
  sessions/css-basics/pink-box/index.html
  sessions/css-basics/pink-box/package.json
  sessions/css-basics/pink-box/sandbox.config.json
Due: npx prettier --write

update recipes for empty, html-css-js(-static), html-css-static, js, next and node
  recipes/empty/files/sandbox.config.json
  recipes/html-css-js-static/exercise-overrides/README.md
  recipes/html-css-js-static/files/.codesandbox/tasks.json
  recipes/html-css-js-static/files/README.md
  recipes/html-css-js-static/files/package.json
  recipes/html-css-js-static/files/sandbox.config.json
  recipes/html-css-js/exercise-overrides/README.md
  recipes/html-css-js/files/.codesandbox/tasks.json
  recipes/html-css-js/files/README.md
  recipes/html-css-js/files/package.json
  recipes/html-css-js/files/sandbox.config.json
  recipes/html-css-static/exercise-overrides/README.md
  recipes/html-css-static/files/.codesandbox/tasks.json
  recipes/html-css-static/files/README.md
  recipes/html-css-static/files/package.json
  recipes/html-css-static/files/sandbox.config.json
  recipes/js/files/.codesandbox/tasks.json
  recipes/js/files/README.md
  recipes/js/files/index.html
  recipes/js/files/package.json
  recipes/js/files/sandbox.config.json
  recipes/next/exercise-overrides/README.md
  recipes/next/files/.codesandbox/tasks.json
  recipes/next/files/README.md
  recipes/next/files/sandbox.config.json
  recipes/node/exercise-overrides/README.md
  recipes/node/files/.codesandbox/tasks.json
  recipes/node/files/README.md
  recipes/node/files/index.js
  recipes/node/files/package.json
  recipes/node/files/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

rename node to node-server
  recipes/node-server/exercise-overrides/README.md
  recipes/node-server/files/.codesandbox/tasks.json
  recipes/node-server/files/.eslintrc.json
  recipes/node-server/files/.gitignore
  recipes/node-server/files/.prettierrc.json
  recipes/node-server/files/README.md
  recipes/node-server/files/index.js
  recipes/node-server/files/package.json
  recipes/node-server/files/server.js
  recipes/node-server/files/server.test.js
  recipes/node-server/recipe.js
  sessions/backend-basics/chance/package.json
  sessions/backend-basics/chance/sandbox.config.json
  sessions/backend-basics/demo-end/package.json
  sessions/backend-basics/demo-end/sandbox.config.json
  sessions/backend-basics/demo-start/package.json
  sessions/backend-basics/demo-start/sandbox.config.json
  sessions/backend-basics/greeting/package.json
  sessions/backend-basics/greeting/sandbox.config.json
  sessions/backend-basics/routes/package.json
  sessions/backend-basics/routes/sandbox.config.json
  templates/node-server/.codesandbox/tasks.json
  templates/node-server/.eslintrc.json
  templates/node-server/.gitignore
  templates/node-server/.prettierrc.json
  templates/node-server/README.md
  templates/node-server/index.js
  templates/node-server/package.json
  templates/node-server/server.js
  templates/node-server/server.test.js
  templates/node/README.md
  templates/node/index.js
  templates/node/package.json
  templates/node/sandbox.config.json
Due: npx eslint --fix, npx prettier --write
