Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fixed typo
  sessions/backend-create/products/pages/[id].js
Due: npx eslint --fix, npx prettier --write

fix download link
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

fix routes and variable names in readme
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

changed to spice colors
  sessions/css-positioning/layout-with-position/css/styles.css
  sessions/css-positioning/layout-with-position/index.html
Due: none

Update/react basics (#344)
  sessions/react-basics/demo-end/.codesandbox/tasks.json
  sessions/react-basics/demo-end/.eslintrc.json
  sessions/react-basics/demo-end/.gitignore
  sessions/react-basics/demo-end/.prettierrc.json
  sessions/react-basics/demo-end/README.md
  sessions/react-basics/demo-end/package.json
  sessions/react-basics/demo-end/public/index.html
  sessions/react-basics/demo-end/public/styles.css
  sessions/react-basics/demo-end/sandbox.config.json
  sessions/react-basics/demo-end/src/index.js
  sessions/react-basics/demo-render/src/index.js
  sessions/react-basics/demo-start/.codesandbox/tasks.json
  sessions/react-basics/demo-start/.eslintrc.json
  sessions/react-basics/demo-start/.gitignore
  sessions/react-basics/demo-start/.prettierrc.json
  sessions/react-basics/demo-start/README.md
  sessions/react-basics/demo-start/package.json
  sessions/react-basics/demo-start/public/index.html
  sessions/react-basics/demo-start/public/styles.css
  sessions/react-basics/demo-start/sandbox.config.json
  sessions/react-basics/demo-start/src/index.js
Due: npx eslint --fix, npx prettier --write

add challenge 'zoo-animals'
  sessions/js-array-methods-2/zoo-animals/.codesandbox/tasks.json
  sessions/js-array-methods-2/zoo-animals/.eslintrc.json
  sessions/js-array-methods-2/zoo-animals/.gitignore
  sessions/js-array-methods-2/zoo-animals/.prettierrc.json
  sessions/js-array-methods-2/zoo-animals/README.md
  sessions/js-array-methods-2/zoo-animals/css/styles.css
  sessions/js-array-methods-2/zoo-animals/index.html
  sessions/js-array-methods-2/zoo-animals/js/index.js
  sessions/js-array-methods-2/zoo-animals/js/index.test.js
  sessions/js-array-methods-2/zoo-animals/package.json
  sessions/js-array-methods-2/zoo-animals/sandbox.config.json
  sessions/js-array-methods-2/zoo-animals/utils/db.js
Due: npx eslint --fix, npx prettier --write

add challenge employees
  sessions/js-array-methods-2/employees/.codesandbox/tasks.json
  sessions/js-array-methods-2/employees/.eslintrc.json
  sessions/js-array-methods-2/employees/.gitignore
  sessions/js-array-methods-2/employees/.prettierrc.json
  sessions/js-array-methods-2/employees/README.md
  sessions/js-array-methods-2/employees/css/styles.css
  sessions/js-array-methods-2/employees/index.html
  sessions/js-array-methods-2/employees/js/index.js
  sessions/js-array-methods-2/employees/js/index.test.js
  sessions/js-array-methods-2/employees/package.json
  sessions/js-array-methods-2/employees/sandbox.config.json
  sessions/js-array-methods-2/employees/utils/db.js
Due: npx eslint --fix, npx prettier --write

fix typo
  sessions/js-array-methods-2/employees/js/index.js
Due: npx eslint --fix, npx prettier --write

little restructuring
  sessions/js-array-methods-2/zoo-animals/js/index.js
Due: npx eslint --fix, npx prettier --write

restructure
  sessions/js-array-methods-2/zoo-animals/js/index.js
Due: npx eslint --fix, npx prettier --write

some review changes
  sessions/js-array-methods-2/zoo-animals/js/index.js
  sessions/js-array-methods-2/zoo-animals/utils/db.js
Due: npx eslint --fix, npx prettier --write

some review changes
  sessions/js-array-methods-2/employees/index.html
  sessions/js-array-methods-2/employees/js/index.js
Due: npx eslint --fix, npx prettier --write

add challenge 'zoo-animals' (#347)
  sessions/js-array-methods-2/zoo-animals/.codesandbox/tasks.json
  sessions/js-array-methods-2/zoo-animals/.eslintrc.json
  sessions/js-array-methods-2/zoo-animals/.gitignore
  sessions/js-array-methods-2/zoo-animals/.prettierrc.json
  sessions/js-array-methods-2/zoo-animals/README.md
  sessions/js-array-methods-2/zoo-animals/css/styles.css
  sessions/js-array-methods-2/zoo-animals/index.html
  sessions/js-array-methods-2/zoo-animals/js/index.js
  sessions/js-array-methods-2/zoo-animals/js/index.test.js
  sessions/js-array-methods-2/zoo-animals/package.json
  sessions/js-array-methods-2/zoo-animals/sandbox.config.json
  sessions/js-array-methods-2/zoo-animals/utils/db.js
Due: npx eslint --fix, npx prettier --write

add challenge employees (#348)
  sessions/js-array-methods-2/employees/.codesandbox/tasks.json
  sessions/js-array-methods-2/employees/.eslintrc.json
  sessions/js-array-methods-2/employees/.gitignore
  sessions/js-array-methods-2/employees/.prettierrc.json
  sessions/js-array-methods-2/employees/README.md
  sessions/js-array-methods-2/employees/css/styles.css
  sessions/js-array-methods-2/employees/index.html
  sessions/js-array-methods-2/employees/js/index.js
  sessions/js-array-methods-2/employees/js/index.test.js
  sessions/js-array-methods-2/employees/package.json
  sessions/js-array-methods-2/employees/sandbox.config.json
  sessions/js-array-methods-2/employees/utils/db.js
Due: npx eslint --fix, npx prettier --write

remove automatic db population code
  examples/crud-recap-template/db/fixtures.js
  examples/crud-recap-template/db/import.js
  examples/crud-recap-template/db/package.json
Due: npx eslint --fix, npx prettier --write

feat: migrate js-input-and-strings demo to web-exercises
  sessions/js-inputs-and-strings/demo-end/.eslintrc.json
  sessions/js-inputs-and-strings/demo-end/.gitignore
  sessions/js-inputs-and-strings/demo-end/.prettierrc.json
  sessions/js-inputs-and-strings/demo-end/css/styles.css
  sessions/js-inputs-and-strings/demo-end/index.html
  sessions/js-inputs-and-strings/demo-end/js/index.js
  sessions/js-inputs-and-strings/demo-end/package.json
  sessions/js-inputs-and-strings/demo-end/sandbox.config.json
  sessions/js-inputs-and-strings/demo-start/.eslintrc.json
  sessions/js-inputs-and-strings/demo-start/.gitignore
  sessions/js-inputs-and-strings/demo-start/.prettierrc.json
  sessions/js-inputs-and-strings/demo-start/css/styles.css
  sessions/js-inputs-and-strings/demo-start/index.html
  sessions/js-inputs-and-strings/demo-start/js/index.js
  sessions/js-inputs-and-strings/demo-start/package.json
  sessions/js-inputs-and-strings/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

update introduction import path and update resource installation guide
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

shorten demo start
  sessions/js-array-methods-2/demo-start/css/styles.css
  sessions/js-array-methods-2/demo-start/index.html
  sessions/js-array-methods-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

Adjust React demos to emulate rl React environment
  sessions/react-basics/demo-end/package.json
  sessions/react-basics/demo-end/public/styles.css
  sessions/react-basics/demo-end/src/App.js
  sessions/react-basics/demo-end/src/index.js
  sessions/react-basics/demo-start/package.json
  sessions/react-basics/demo-start/public/styles.css
  sessions/react-basics/demo-start/src/App.js
  sessions/react-basics/demo-start/src/index.js
Due: npx eslint --fix, npx prettier --write

Delete Demo InnerHTMl vs render
  sessions/react-basics/demo-inner-html-vs-render/.codesandbox/tasks.json
  sessions/react-basics/demo-inner-html-vs-render/.eslintrc.json
  sessions/react-basics/demo-inner-html-vs-render/.gitignore
  sessions/react-basics/demo-inner-html-vs-render/.prettierrc.json
  sessions/react-basics/demo-inner-html-vs-render/README.md
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-inner-html-vs-render/public/index.html
  sessions/react-basics/demo-inner-html-vs-render/public/styles.css
  sessions/react-basics/demo-inner-html-vs-render/sandbox.config.json
  sessions/react-basics/demo-inner-html-vs-render/src/index.js
Due: npx eslint --fix, npx prettier --write

shorten demo end
  sessions/js-array-methods-2/demo-end/css/styles.css
  sessions/js-array-methods-2/demo-end/index.html
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-end/js/utils.js
Due: npx eslint --fix, npx prettier --write

rename the download name challenge
  sessions/html-forms-new/formvalidation/package.json
Due: npx prettier --write

add style bonus
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

requested changes
  sessions/js-array-methods-2/letter-puzzle/index.html
  sessions/js-array-methods-2/letter-puzzle/js/index.js
  sessions/js-array-methods-2/letter-puzzle/js/index.test.js
  sessions/js-array-methods-2/letter-puzzle/utils/service.js
Due: npx eslint --fix, npx prettier --write

create exercise 'letter-puzzle' for 'js-array-methods-2' (#343)
  package-lock.json
  sessions/js-array-methods-2/letter-puzzle/.codesandbox/tasks.json
  sessions/js-array-methods-2/letter-puzzle/.eslintrc.json
  sessions/js-array-methods-2/letter-puzzle/.gitignore
  sessions/js-array-methods-2/letter-puzzle/.prettierrc.json
  sessions/js-array-methods-2/letter-puzzle/README.md
  sessions/js-array-methods-2/letter-puzzle/css/styles.css
  sessions/js-array-methods-2/letter-puzzle/index.html
  sessions/js-array-methods-2/letter-puzzle/js/index.js
  sessions/js-array-methods-2/letter-puzzle/package.json
  sessions/js-array-methods-2/letter-puzzle/sandbox.config.json
  sessions/js-array-methods-2/letter-puzzle/utils/data.js
  sessions/js-array-methods-2/letter-puzzle/utils/service.js
Due: npx eslint --fix, npx prettier --write

change array method
  sessions/js-array-methods-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

change array method
  sessions/js-array-methods-2/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

provide demo start (#345)
  sessions/js-array-methods-2/demo-start/README.md
  sessions/js-array-methods-2/demo-start/css/styles.css
  sessions/js-array-methods-2/demo-start/index.html
  sessions/js-array-methods-2/demo-start/js/index.js
  sessions/js-array-methods-2/demo-start/js/index.test.js
  sessions/js-array-methods-2/demo-start/package.json
Due: npx eslint --fix, npx prettier --write

finish demo-end (#346)
  sessions/js-array-methods-2/demo-end/README.md
  sessions/js-array-methods-2/demo-end/css/styles.css
  sessions/js-array-methods-2/demo-end/index.html
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-end/js/index.test.js
  sessions/js-array-methods-2/demo-end/js/utils.js
  sessions/js-array-methods-2/demo-end/package.json
Due: npx eslint --fix, npx prettier --write

Alternative with VanillaApp comparison
  sessions/react-basics/demo-end/src/App.js
  sessions/react-basics/demo-end/src/VanillaApp.js
  sessions/react-basics/demo-end/src/index.js
  sessions/react-basics/demo-start/src/VanillaApp.js
Due: npx eslint --fix, npx prettier --write

Archive CSS Animations
  archive/css-animations/demo-end/.codesandbox/tasks.json
  archive/css-animations/demo-end/.eslintrc.json
  archive/css-animations/demo-end/.gitignore
  archive/css-animations/demo-end/.prettierrc.json
  archive/css-animations/demo-end/README.md
  archive/css-animations/demo-end/css/styles.css
  archive/css-animations/demo-end/index.html
  archive/css-animations/demo-end/js/index.js
  archive/css-animations/demo-end/package.json
  archive/css-animations/demo-end/sandbox.config.json
  archive/css-animations/demo-start/.codesandbox/tasks.json
  archive/css-animations/demo-start/.eslintrc.json
  archive/css-animations/demo-start/.gitignore
  archive/css-animations/demo-start/.prettierrc.json
  archive/css-animations/demo-start/README.md
  archive/css-animations/demo-start/css/styles.css
  archive/css-animations/demo-start/index.html
  archive/css-animations/demo-start/js/index.js
  archive/css-animations/demo-start/package.json
  archive/css-animations/demo-start/sandbox.config.json
  archive/css-animations/toast-animations/.codesandbox/tasks.json
  archive/css-animations/toast-animations/.eslintrc.json
  archive/css-animations/toast-animations/.gitignore
  archive/css-animations/toast-animations/.prettierrc.json
  archive/css-animations/toast-animations/README.md
  archive/css-animations/toast-animations/css/styles.css
  archive/css-animations/toast-animations/index.html
  archive/css-animations/toast-animations/js/index.js
  archive/css-animations/toast-animations/package.json
  archive/css-animations/toast-animations/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Archive CSS Basics Shapes and Social Card
  archive/css-basics/shapes/.codesandbox/tasks.json
  archive/css-basics/shapes/.gitignore
  archive/css-basics/shapes/.prettierrc.json
  archive/css-basics/shapes/README.md
  archive/css-basics/shapes/css/styles.css
  archive/css-basics/shapes/index.html
  archive/css-basics/shapes/package.json
  archive/css-basics/shapes/sandbox.config.json
  archive/css-basics/social-card/.codesandbox/tasks.json
  archive/css-basics/social-card/.gitignore
  archive/css-basics/social-card/.prettierrc.json
  archive/css-basics/social-card/README.md
  archive/css-basics/social-card/assets/github@2x.png
  archive/css-basics/social-card/assets/social-card.png
  archive/css-basics/social-card/css/styles.css
  archive/css-basics/social-card/index.html
  archive/css-basics/social-card/package.json
  archive/css-basics/social-card/sandbox.config.json
Due: npx prettier --write

Archive CSS Selectors
  archive/css-selectors/demo-end/.codesandbox/tasks.json
  archive/css-selectors/demo-end/.gitignore
  archive/css-selectors/demo-end/.prettierrc.json
  archive/css-selectors/demo-end/README.md
  archive/css-selectors/demo-end/css/styles.css
  archive/css-selectors/demo-end/index.html
  archive/css-selectors/demo-end/package.json
  archive/css-selectors/demo-end/sandbox.config.json
  archive/css-selectors/demo-start/.codesandbox/tasks.json
  archive/css-selectors/demo-start/.gitignore
  archive/css-selectors/demo-start/.prettierrc.json
  archive/css-selectors/demo-start/README.md
  archive/css-selectors/demo-start/css/styles.css
  archive/css-selectors/demo-start/index.html
  archive/css-selectors/demo-start/package.json
  archive/css-selectors/demo-start/sandbox.config.json
Due: npx prettier --write

Add solution CSS Basics button styles
  sessions/css-basics/button-styles_solution-alt/.codesandbox/tasks.json
  sessions/css-basics/button-styles_solution-alt/.gitignore
  sessions/css-basics/button-styles_solution-alt/.prettierrc.json
  sessions/css-basics/button-styles_solution-alt/README.md
  sessions/css-basics/button-styles_solution-alt/css/styles.css
  sessions/css-basics/button-styles_solution-alt/index.html
  sessions/css-basics/button-styles_solution-alt/package.json
  sessions/css-basics/button-styles_solution-alt/sandbox.config.json
  sessions/css-basics/combined-users_solution/.prettierrc.json
Due: npx prettier --write

Add solution CSS Basics combined users
  sessions/css-basics/combined-users_solution/.codesandbox/tasks.json
  sessions/css-basics/combined-users_solution/.gitignore
  sessions/css-basics/combined-users_solution/README.md
  sessions/css-basics/combined-users_solution/css/debug.css
  sessions/css-basics/combined-users_solution/css/styles.css
  sessions/css-basics/combined-users_solution/index.html
  sessions/css-basics/combined-users_solution/package.json
  sessions/css-basics/combined-users_solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Basics pink box
  sessions/css-basics/pink-box_solution/.codesandbox/tasks.json
  sessions/css-basics/pink-box_solution/.gitignore
  sessions/css-basics/pink-box_solution/.prettierrc.json
  sessions/css-basics/pink-box_solution/README.md
  sessions/css-basics/pink-box_solution/css/styles.css
  sessions/css-basics/pink-box_solution/index.html
  sessions/css-basics/pink-box_solution/package.json
  sessions/css-basics/pink-box_solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Basics pokemon page
  sessions/css-basics/pokemon-page-solution/.gitignore
  sessions/css-basics/pokemon-page-solution/.prettierrc.json
  sessions/css-basics/pokemon-page-solution/README.md
  sessions/css-basics/pokemon-page-solution/css/styles.css
  sessions/css-basics/pokemon-page-solution/index.html
  sessions/css-basics/pokemon-page-solution/package.json
  sessions/css-basics/pokemon-page-solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Basics pseudo park
  sessions/css-basics/pokemon-page-solution/.codesandbox/tasks.json
  sessions/css-basics/pseudo-park_solution/.codesandbox/tasks.json
  sessions/css-basics/pseudo-park_solution/.gitignore
  sessions/css-basics/pseudo-park_solution/.prettierrc.json
  sessions/css-basics/pseudo-park_solution/README.md
  sessions/css-basics/pseudo-park_solution/css/styles.css
  sessions/css-basics/pseudo-park_solution/index.html
  sessions/css-basics/pseudo-park_solution/package.json
  sessions/css-basics/pseudo-park_solution/sandbox.config.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
