Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

move html and add icon
  sessions/react-state-2/personal-details/index.html
  sessions/react-state-2/personal-details/public/woman.png
Due: none

update readme file
  sessions/react-state-2/personal-details/README.md
Due: npx prettier --write

change js to jsx and style to sp
  sessions/react-state-2/personal-details/src/App.css
  sessions/react-state-2/personal-details/src/App.jsx
  sessions/react-state-2/personal-details/src/components/Form.css
  sessions/react-state-2/personal-details/src/components/Form.jsx
  sessions/react-state-2/personal-details/src/index.jsx
  sessions/react-state-2/personal-details/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix style
  sessions/react-state-2/personal-details/src/App.jsx
  sessions/react-state-2/personal-details/src/components/Form.css
  sessions/react-state-2/personal-details/src/components/Form.jsx
Due: npx eslint --fix, npx prettier --write

update eslint
  sessions/react-state-2/table-reservation/.eslintrc.cjs
  sessions/react-state-2/table-reservation/.eslintrc.json
Due: npx prettier --write

add and removed packages
  sessions/react-state-2/table-reservation/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/table-reservation/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add icon
  sessions/react-state-2/table-reservation/index.html
  sessions/react-state-2/table-reservation/public/reserved.png
Due: none

Remove first challenge
  sessions/js-conditions-and-booleans/booleans/.eslintrc.json
  sessions/js-conditions-and-booleans/booleans/.gitignore
  sessions/js-conditions-and-booleans/booleans/.prettierrc.json
  sessions/js-conditions-and-booleans/booleans/README.md
  sessions/js-conditions-and-booleans/booleans/css/styles.css
  sessions/js-conditions-and-booleans/booleans/index.html
  sessions/js-conditions-and-booleans/booleans/js/index.js
  sessions/js-conditions-and-booleans/booleans/package.json
Due: npx eslint --fix, npx prettier --write

change js to jsx and style to SP
  sessions/react-state-2/table-reservation/README.md
  sessions/react-state-2/table-reservation/src/App.css
  sessions/react-state-2/table-reservation/src/App.jsx
  sessions/react-state-2/table-reservation/src/components/Counter.css
  sessions/react-state-2/table-reservation/src/components/Counter.jsx
  sessions/react-state-2/table-reservation/src/index.jsx
  sessions/react-state-2/table-reservation/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix style
  sessions/react-state-2/table-reservation/src/App.css
Due: none

change eslint
  sessions/react-state-2/triple-count/.eslintrc.cjs
  sessions/react-state-2/triple-count/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-state-2/triple-count/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/triple-count/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and favico
  sessions/react-state-2/triple-count/index.html
  sessions/react-state-2/triple-count/public/abacus.png
Due: none

change js to jsx and style to SP
  sessions/react-state-2/triple-count/src/App.css
  sessions/react-state-2/triple-count/src/App.jsx
  sessions/react-state-2/triple-count/src/components/Counter.jsx
  sessions/react-state-2/triple-count/src/components/Coutner.css
  sessions/react-state-2/triple-count/src/index.jsx
  sessions/react-state-2/triple-count/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix errors, name and import
  sessions/react-state-2/triple-count/src/App.jsx
  sessions/react-state-2/triple-count/src/components/Counter.css
Due: npx eslint --fix, npx prettier --write

update eslint
  sessions/react-state-2/demo-start/.eslintrc.cjs
  sessions/react-state-2/demo-start/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-state-2/demo-start/package.json
Due: npx prettier --write

add vite config
  sessions/react-state-2/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-state-2/demo-start/index.html
  sessions/react-state-2/demo-start/public/favicon.png
Due: none

update readme
  sessions/react-state-2/demo-start/README.md
Due: npx prettier --write

change hs to jsx and style rename
  sessions/react-state-2/demo-start/src/App.css
  sessions/react-state-2/demo-start/src/App.jsx
  sessions/react-state-2/demo-start/src/components/SearchForm.jsx
  sessions/react-state-2/demo-start/src/components/SearchResults.jsx
  sessions/react-state-2/demo-start/src/index.jsx
Due: npx eslint --fix, npx prettier --write

fix and add style
  sessions/react-state-2/demo-start/src/App.css
  sessions/react-state-2/demo-start/src/components/SearchForm.css
  sessions/react-state-2/demo-start/src/components/SearchForm.jsx
Due: npx eslint --fix, npx prettier --write

update estlint
  sessions/react-state-2/demo-end/.eslintrc.cjs
  sessions/react-state-2/demo-end/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-state-2/demo-end/package.json
Due: npx prettier --write

move html and add favicon
  sessions/react-state-2/demo-end/index.html
  sessions/react-state-2/demo-end/public/favicon.png
Due: none

add vite config
  sessions/react-state-2/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

change js to jsx and rename style
  sessions/react-state-2/demo-end/src/App.css
  sessions/react-state-2/demo-end/src/App.jsx
  sessions/react-state-2/demo-end/src/components/SearchForm.jsx
  sessions/react-state-2/demo-end/src/components/SearchFormControlled.jsx
  sessions/react-state-2/demo-end/src/components/SearchResults.jsx
  sessions/react-state-2/demo-end/src/index.jsx
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-state-2/demo-end/README.md
Due: npx prettier --write

add button style as demo start
  sessions/react-state-2/demo-end/src/App.css
  sessions/react-state-2/demo-end/src/components/SearchForm.css
  sessions/react-state-2/demo-end/src/components/SearchForm.jsx
Due: npx eslint --fix, npx prettier --write

fix style as demo start
  sessions/react-state-2/demo-end/src/App.css
Due: none

remove -i flag from npx command
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

remove -i flag from npx command (#357)
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

Update package-lock.json
  package-lock.json
Due: npx prettier --write

Implement EventListeners for all radio button
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
Due: npx eslint --fix, npx prettier --write

Import index.js into index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
Due: none

initialised vite
  sessions/react-state-3/adding-animals-old/.eslintrc.json
  sessions/react-state-3/adding-animals-old/.gitignore
  sessions/react-state-3/adding-animals-old/.prettierrc.json
  sessions/react-state-3/adding-animals-old/README.md
  sessions/react-state-3/adding-animals-old/package.json
  sessions/react-state-3/adding-animals-old/public/index.html
  sessions/react-state-3/adding-animals-old/src/App.js
  sessions/react-state-3/adding-animals-old/src/components/Form/Form.css
  sessions/react-state-3/adding-animals-old/src/components/Form/index.js
  sessions/react-state-3/adding-animals-old/src/components/List/List.css
  sessions/react-state-3/adding-animals-old/src/components/List/index.js
  sessions/react-state-3/adding-animals-old/src/index.js
  sessions/react-state-3/adding-animals-old/src/styles.css
  sessions/react-state-3/adding-animals/.eslintrc.cjs
  sessions/react-state-3/adding-animals/.gitignore
  sessions/react-state-3/adding-animals/README.md
  sessions/react-state-3/adding-animals/index.html
  sessions/react-state-3/adding-animals/package.json
  sessions/react-state-3/adding-animals/public/vite.svg
  sessions/react-state-3/adding-animals/src/App.css
  sessions/react-state-3/adding-animals/src/App.jsx
  sessions/react-state-3/adding-animals/src/assets/react.svg
  sessions/react-state-3/adding-animals/src/index.css
  sessions/react-state-3/adding-animals/src/main.jsx
  sessions/react-state-3/adding-animals/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state-3/adding-animals/.eslintrc.cjs
  sessions/react-state-3/adding-animals/README.md
  sessions/react-state-3/adding-animals/index.html
  sessions/react-state-3/adding-animals/package.json
  sessions/react-state-3/adding-animals/public/favicon.ico
  sessions/react-state-3/adding-animals/public/vite.svg
  sessions/react-state-3/adding-animals/src/App.css
  sessions/react-state-3/adding-animals/src/App.jsx
  sessions/react-state-3/adding-animals/src/assets/react.svg
  sessions/react-state-3/adding-animals/src/components/Form/Form.css
  sessions/react-state-3/adding-animals/src/components/Form/index.jsx
  sessions/react-state-3/adding-animals/src/components/List/List.css
  sessions/react-state-3/adding-animals/src/components/List/index.jsx
  sessions/react-state-3/adding-animals/src/index.css
  sessions/react-state-3/adding-animals/src/main.jsx
Due: npx eslint --fix, npx prettier --write

deleted old challenge
  sessions/react-state-3/adding-animals-old/.eslintrc.json
  sessions/react-state-3/adding-animals-old/.gitignore
  sessions/react-state-3/adding-animals-old/.prettierrc.json
  sessions/react-state-3/adding-animals-old/README.md
  sessions/react-state-3/adding-animals-old/package.json
  sessions/react-state-3/adding-animals-old/public/index.html
  sessions/react-state-3/adding-animals-old/src/App.js
  sessions/react-state-3/adding-animals-old/src/components/Form/Form.css
  sessions/react-state-3/adding-animals-old/src/components/Form/index.js
  sessions/react-state-3/adding-animals-old/src/components/List/List.css
  sessions/react-state-3/adding-animals-old/src/components/List/index.js
  sessions/react-state-3/adding-animals-old/src/index.js
  sessions/react-state-3/adding-animals-old/src/styles.css
Due: npx eslint --fix, npx prettier --write
