Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

updated link for deployment documentation
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

updated deployment requirements in project-3
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

upating broken link to a static URL pointing to individual cohort repos
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

adding deployment requirement via vercel to project-4
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

fixing typo
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

adding docs link
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Adjust wording
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

chore: reverted changes from before when git was planned to be introduced after the quiz app setup (#309)
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

path error hotfix
  sessions/recap-project-3/example-implementation/styles.css
Due: none

Curriculum/css structure demo (#308)
  package-lock.json
  sessions/css-structure/demo-end/.codesandbox/tasks.json
  sessions/css-structure/demo-end/.gitignore
  sessions/css-structure/demo-end/.prettierrc.json
  sessions/css-structure/demo-end/README.md
  sessions/css-structure/demo-end/components/card.css
  sessions/css-structure/demo-end/css/global.css
  sessions/css-structure/demo-end/css/styles.css
  sessions/css-structure/demo-end/index.html
  sessions/css-structure/demo-end/package.json
  sessions/css-structure/demo-end/sandbox.config.json
  sessions/css-structure/demo-start/.codesandbox/tasks.json
  sessions/css-structure/demo-start/.gitignore
  sessions/css-structure/demo-start/.prettierrc.json
  sessions/css-structure/demo-start/README.md
  sessions/css-structure/demo-start/css/styles.css
  sessions/css-structure/demo-start/index.html
  sessions/css-structure/demo-start/package.json
  sessions/css-structure/demo-start/sandbox.config.json
Due: npx prettier --write

add resources
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-1/quiz-app/resources/bookmark.png
  sessions/recap-project-1/quiz-app/resources/bookmark_filled.png
  sessions/recap-project-1/quiz-app/resources/bookmark_transparent.png
  sessions/recap-project-1/quiz-app/resources/home.png
  sessions/recap-project-1/quiz-app/resources/home_filled.png
  sessions/recap-project-1/quiz-app/resources/profile.png
  sessions/recap-project-1/quiz-app/resources/profile_filled.png
  sessions/recap-project-1/quiz-app/resources/question.png
Due: npx prettier --write

resources zip
  sessions/recap-project-1/quiz-app/resources.zip
Due: none

Streamlined the CSS boilerplate for Project 3
  sessions/recap-project-3/rick-and-morty-app/components/card/card.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-pagination/nav-pagination.css
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.css
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: none

Eliminated additional redundant properties
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.css
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.css
Due: none

Eliminated additional redundant properties
  sessions/recap-project-3/rick-and-morty-app/components/card/card.css
  sessions/recap-project-3/rick-and-morty-app/components/nav-button/nav-button.css
  sessions/recap-project-3/rick-and-morty-app/components/search-bar/search-bar.css
Due: none

Fix typos and add hint
  sessions/js-functions/functions-with-parameters-extra/js/index.js
  sessions/js-functions/functions-with-parameters/js/index.js
Due: npx eslint --fix, npx prettier --write

Changed all <button> elements with onClick functions and router.push in the products challenge, to Link. Also changed the styling of the Link accordingly.
  sessions/backend-read/products/components/Link/Link.styled.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/ProductList.styled.js
  sessions/backend-read/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

Update instructions in readme
  sessions/react-state/journal-app-favorite-button/README.md
Due: npx prettier --write

Update instructions in readme (#312)
  sessions/react-state/journal-app-favorite-button/README.md
Due: npx prettier --write

replace neue fische texts with spiced academy
  LICENSE
  README.md
  package.json
  recipes/README.md
  recipes/empty/files/README.md
  recipes/html-css-js/files/README.md
  recipes/html-css/files/README.md
  recipes/js/files/README.md
  recipes/next/files/README.md
  recipes/node-server/files/README.md
  recipes/react-minimal/files/README.md
  recipes/react/files/README.md
  scripts/get-all-links.js
  scripts/get/challenge-local-template.md
  scripts/get/challenge-template.md
  scripts/get/pr-local-template.md
  scripts/get/pr-template.md
  sessions/backend-mongodb/queries/README.md
  sessions/css-basics/demo-end/index.html
  sessions/css-basics/demo-start/index.html
  sessions/css-grid/demo-end/index.html
  sessions/css-grid/demo-start/index.html
  sessions/html-and-the-web-new/div-salad/index.html
  sessions/html-and-the-web/div-salad/index.html
  sessions/js-array-methods/spa-1/README.md
  sessions/js-array-methods/spa-2/README.md
  sessions/js-array-methods/spa-3/README.md
  sessions/js-modern-syntax/destructuring-objects/index.js
  sessions/js-unit-testing/demo-start/README.md
  sessions/recap-project-5/art-gallery-app-solution/README.md
  templates/empty/README.md
  templates/html-css-js/README.md
  templates/html-css/README.md
  templates/js/README.md
  templates/next/README.md
  templates/node-server/README.md
  templates/react-minimal/README.md
  templates/react/README.md
Due: npx eslint --fix, npx prettier --write

hotfix: remove unused background image with naming that broke codesandbox integration
  sessions/react-global-state/lights-solution/public/images/background,.jpg
  sessions/react-global-state/lights/public/images/background,.jpg
Due: none

remove unused demo elements
  sessions/react-styled-components/demo-end/components/Button.js
  sessions/react-styled-components/demo-end/components/Container.js
  sessions/react-styled-components/demo-end/components/InfoBox.js
  sessions/react-styled-components/demo-end/pages/index.js
Due: npx eslint --fix, npx prettier --write

move styled components challenges to styled-components-2
  sessions/react-styled-components-2/box/.codesandbox/tasks.json
  sessions/react-styled-components-2/box/.eslintrc.json
  sessions/react-styled-components-2/box/.gitignore
  sessions/react-styled-components-2/box/.prettierrc.json
  sessions/react-styled-components-2/box/README.md
  sessions/react-styled-components-2/box/components/BoxWithClassName/BoxWithClassName.css
  sessions/react-styled-components-2/box/components/BoxWithClassName/BoxWithClassName.js
  sessions/react-styled-components-2/box/jest.config.js
  sessions/react-styled-components-2/box/jest.setup.js
  sessions/react-styled-components-2/box/jsconfig.json
  sessions/react-styled-components-2/box/next.config.js
  sessions/react-styled-components-2/box/package.json
  sessions/react-styled-components-2/box/pages/_app.js
  sessions/react-styled-components-2/box/pages/_document.js
  sessions/react-styled-components-2/box/pages/index.js
  sessions/react-styled-components-2/box/sandbox.config.json
  sessions/react-styled-components-2/box/styles.js
  sessions/react-styled-components-2/lotr-app-styling/.codesandbox/tasks.json
  sessions/react-styled-components-2/lotr-app-styling/.eslintrc.json
  sessions/react-styled-components-2/lotr-app-styling/.gitignore
  sessions/react-styled-components-2/lotr-app-styling/.prettierrc.json
  sessions/react-styled-components-2/lotr-app-styling/README.md
  sessions/react-styled-components-2/lotr-app-styling/jest.config.js
  sessions/react-styled-components-2/lotr-app-styling/jest.setup.js
  sessions/react-styled-components-2/lotr-app-styling/jsconfig.json
  sessions/react-styled-components-2/lotr-app-styling/lib/data.js
  sessions/react-styled-components-2/lotr-app-styling/next.config.js
  sessions/react-styled-components-2/lotr-app-styling/package.json
  sessions/react-styled-components-2/lotr-app-styling/pages/_app.js
  sessions/react-styled-components-2/lotr-app-styling/pages/_document.js
  sessions/react-styled-components-2/lotr-app-styling/pages/index.js
  sessions/react-styled-components-2/lotr-app-styling/pages/volumes/[slug].js
  sessions/react-styled-components-2/lotr-app-styling/pages/volumes/index.js
  sessions/react-styled-components-2/lotr-app-styling/public/images/the-fellowship-of-the-ring.png
  sessions/react-styled-components-2/lotr-app-styling/public/images/the-return-of-the-king.png
  sessions/react-styled-components-2/lotr-app-styling/public/images/the-two-towers.png
  sessions/react-styled-components-2/lotr-app-styling/sandbox.config.json
  sessions/react-styled-components-2/lotr-app-styling/styles.js
Due: npx eslint --fix, npx prettier --write

add demo start and demo end for react styled components 2
  sessions/react-styled-components-2/demo-end/.codesandbox/tasks.json
  sessions/react-styled-components-2/demo-end/.eslintrc.json
  sessions/react-styled-components-2/demo-end/.gitignore
  sessions/react-styled-components-2/demo-end/.prettierrc.json
  sessions/react-styled-components-2/demo-end/README.md
  sessions/react-styled-components-2/demo-end/jest.config.js
  sessions/react-styled-components-2/demo-end/jest.setup.js
  sessions/react-styled-components-2/demo-end/jsconfig.json
  sessions/react-styled-components-2/demo-end/next.config.js
  sessions/react-styled-components-2/demo-end/package.json
  sessions/react-styled-components-2/demo-end/pages/_app.js
  sessions/react-styled-components-2/demo-end/pages/_document.js
  sessions/react-styled-components-2/demo-end/pages/index.js
  sessions/react-styled-components-2/demo-end/public/favicon.ico
  sessions/react-styled-components-2/demo-end/sandbox.config.json
  sessions/react-styled-components-2/demo-end/styles.js
  sessions/react-styled-components-2/demo-start/.codesandbox/tasks.json
  sessions/react-styled-components-2/demo-start/.eslintrc.json
  sessions/react-styled-components-2/demo-start/.gitignore
  sessions/react-styled-components-2/demo-start/.prettierrc.json
  sessions/react-styled-components-2/demo-start/README.md
  sessions/react-styled-components-2/demo-start/jest.config.js
  sessions/react-styled-components-2/demo-start/jest.setup.js
  sessions/react-styled-components-2/demo-start/jsconfig.json
  sessions/react-styled-components-2/demo-start/next.config.js
  sessions/react-styled-components-2/demo-start/package.json
  sessions/react-styled-components-2/demo-start/pages/_app.js
  sessions/react-styled-components-2/demo-start/pages/_document.js
  sessions/react-styled-components-2/demo-start/pages/index.js
  sessions/react-styled-components-2/demo-start/public/favicon.ico
  sessions/react-styled-components-2/demo-start/sandbox.config.json
  sessions/react-styled-components-2/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

remove html-and-the-web challenges due to conflicts with new
  package-lock.json
  sessions/html-and-the-web/div-salad/.codesandbox/tasks.json
  sessions/html-and-the-web/div-salad/.gitignore
  sessions/html-and-the-web/div-salad/.prettierrc.json
  sessions/html-and-the-web/div-salad/README.md
  sessions/html-and-the-web/div-salad/index.html
  sessions/html-and-the-web/div-salad/package.json
  sessions/html-and-the-web/div-salad/sandbox.config.json
  sessions/html-and-the-web/personal-website/.codesandbox/tasks.json
  sessions/html-and-the-web/personal-website/.gitignore
  sessions/html-and-the-web/personal-website/README.md
  sessions/html-and-the-web/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web/personal-website/package.json
  sessions/html-and-the-web/personal-website/sandbox.config.json
Due: npx prettier --write

add demo end for styled-components-2
  package-lock.json
  sessions/react-styled-components-2/demo-end/components/Button/index.js
  sessions/react-styled-components-2/demo-end/pages/index.js
  sessions/react-styled-components-2/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

docs: remove everything Compass related and replace it by MongoDB Atlas instructions and explanations, replace environment variables for the MongoDB connection string
  sessions/backend-create/products/.env.local.example
  sessions/backend-create/products/README.md
  sessions/backend-read/products/README.md
  sessions/backend-update-and-delete/products/.env.local.example
  sessions/backend-update-and-delete/products/README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

docs: unify naming of MongoDB cluster
  sessions/backend-create/products/.env.local.example
  sessions/backend-read/products/README.md
  sessions/backend-update-and-delete/products/.env.local.example
Due: npx prettier --write

Fix typo js forms challenge checkbox input
  sessions/js-forms-new/checkbox-input/README.md
Due: npx prettier --write

Remove component testing and useImmer from instructions
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Update resources for project
  sessions/recap-project-5/art-gallery-app/assets/heart.svg
  sessions/recap-project-5/art-gallery-app/resources.zip
  sessions/recap-project-5/art-gallery-app/resources/lib/hook/useImmerLocalStorageState.js
Due: npx eslint --fix, npx prettier --write

chore: update package.json with babel dependency due to warning that occurs when starting a react app
  recipes/README.md
  recipes/react-minimal/files/package.json
Due: npx prettier --write

chore: rename packages due to workspace naming conflicts
  sessions/html-and-the-web-new/div-salad/package.json
  sessions/html-and-the-web-new/personal-website/package.json
Due: npx prettier --write

chore: prepare recipe / template for added package @babel/plugin-proposal-private-property-in-object
  recipes/react-minimal/files/package.json
  templates/react-minimal/package.json
Due: npx prettier --write

Update/recap project 5 (#315)
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-5/art-gallery-app/assets/heart.svg
  sessions/recap-project-5/art-gallery-app/resources.zip
  sessions/recap-project-5/art-gallery-app/resources/lib/hook/useImmerLocalStorageState.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
