Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

add mock-interview-1 challenges
  sessions/mock-interview-1/simple-algorithms/README.md
  sessions/mock-interview-1/simple-algorithms/index.js
  sessions/mock-interview-1/simple-algorithms/index.test.js
  sessions/mock-interview-1/simple-algorithms/package.json
Due: npx eslint --fix, npx prettier --write

Update README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

fix: js-structure quiz app solution error
  sessions/js-structure/quiz-app_solution/components/Form/Form.js
Due: npx eslint --fix, npx prettier --write

split demo code into multiple files
  sessions/js-array-methods-2/demo-end/js/characters.js
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-end/js/index.test.js
  sessions/js-array-methods-2/demo-end/js/numbers.js
  sessions/js-array-methods-2/demo-end/js/strings.js
  sessions/js-array-methods-2/demo-start/js/characters.js
  sessions/js-array-methods-2/demo-start/js/index.js
  sessions/js-array-methods-2/demo-start/js/numbers.js
  sessions/js-array-methods-2/demo-start/js/strings.js
Due: npx eslint --fix, npx prettier --write

split demo code into multiple files (#385)
  sessions/js-array-methods-2/demo-end/js/characters.js
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-end/js/index.test.js
  sessions/js-array-methods-2/demo-end/js/numbers.js
  sessions/js-array-methods-2/demo-end/js/strings.js
  sessions/js-array-methods-2/demo-start/js/characters.js
  sessions/js-array-methods-2/demo-start/js/index.js
  sessions/js-array-methods-2/demo-start/js/numbers.js
  sessions/js-array-methods-2/demo-start/js/strings.js
Due: npx eslint --fix, npx prettier --write

Update index.js
  sessions/recap-project-5/example-implementation/pages/index.js
Due: npx eslint --fix, npx prettier --write

fixed import error
  sessions/backend-update-and-delete/products/pages/[id].js
Due: npx eslint --fix, npx prettier --write

fix import error
  sessions/backend-update-and-delete/products_solution/pages/[id].js
Due: npx eslint --fix, npx prettier --write

update workshop to challenge format and remove coach meeting
  sessions/user-stories-workshop/movie-app/README.md
Due: npx prettier --write

adjust challenge description
  sessions/backend-read/products/README.md
Due: npx prettier --write

Create CRA styled-components-1 exercises
  sessions/react-styled-components-1/card-conversion-cra/.gitignore
  sessions/react-styled-components-1/card-conversion-cra/.prettierrc.json
  sessions/react-styled-components-1/card-conversion-cra/README.md
  sessions/react-styled-components-1/card-conversion-cra/package.json
  sessions/react-styled-components-1/card-conversion-cra/public/favicon.ico
  sessions/react-styled-components-1/card-conversion-cra/public/index.html
  sessions/react-styled-components-1/card-conversion-cra/public/logo192.png
  sessions/react-styled-components-1/card-conversion-cra/public/logo512.png
  sessions/react-styled-components-1/card-conversion-cra/public/manifest.json
  sessions/react-styled-components-1/card-conversion-cra/public/robots.txt
  sessions/react-styled-components-1/card-conversion-cra/src/App.js
  sessions/react-styled-components-1/card-conversion-cra/src/components/Card/Card.css
  sessions/react-styled-components-1/card-conversion-cra/src/components/Card/index.js
  sessions/react-styled-components-1/card-conversion-cra/src/index.js
  sessions/react-styled-components-1/card-conversion-cra/src/styles.js
  sessions/react-styled-components-1/styled-button-cra/.gitignore
  sessions/react-styled-components-1/styled-button-cra/.prettierrc.json
  sessions/react-styled-components-1/styled-button-cra/README.md
  sessions/react-styled-components-1/styled-button-cra/package.json
  sessions/react-styled-components-1/styled-button-cra/public/favicon.ico
  sessions/react-styled-components-1/styled-button-cra/public/index.html
  sessions/react-styled-components-1/styled-button-cra/public/logo192.png
  sessions/react-styled-components-1/styled-button-cra/public/logo512.png
  sessions/react-styled-components-1/styled-button-cra/public/manifest.json
  sessions/react-styled-components-1/styled-button-cra/public/robots.txt
  sessions/react-styled-components-1/styled-button-cra/src/App.js
  sessions/react-styled-components-1/styled-button-cra/src/components/StyledButton.js
  sessions/react-styled-components-1/styled-button-cra/src/index.js
  sessions/react-styled-components-1/styled-button-cra/src/styles.js
Due: npx eslint --fix, npx prettier --write

adjust theme colors
  sessions/css-structure/taco-truck/theme.css
Due: none

adjust class names and styling issues
  sessions/css-structure/taco-truck/index.html
  sessions/css-structure/taco-truck/styles.css
Due: none

add challenge solution
  sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck_solution/README.md
  sessions/css-structure/taco-truck_solution/components/card.css
  sessions/css-structure/taco-truck_solution/components/header.css
  sessions/css-structure/taco-truck_solution/components/main.css
  sessions/css-structure/taco-truck_solution/index.html
  sessions/css-structure/taco-truck_solution/package.json
  sessions/css-structure/taco-truck_solution/styles.css
  sessions/css-structure/taco-truck_solution/theme.css
Due: npx prettier --write

update title
  sessions/css-structure/taco-truck/index.html
  sessions/css-structure/taco-truck_solution/index.html
Due: none

adjust challenge description text and images
  sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck/assets/components.png
  sessions/css-structure/taco-truck/assets/wireframe.png
  sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck_solution/README.md
Due: npx prettier --write

update challenge
  sessions/react-state-1/emoji-checker/README.md
  sessions/react-state-1/emoji-checker/src/App.js
  sessions/react-state-1/emoji-checker/src/index.js
  sessions/react-state-1/emoji-checker/src/styles.css
Due: npx eslint --fix, npx prettier --write

adjust image size
  sessions/css-structure/taco-truck/assets/wireframe.png
  sessions/css-structure/taco-truck_solution/assets/wireframe.png
Due: none

adjust image size
  sessions/css-structure/taco-truck/assets/components.png
  sessions/css-structure/taco-truck_solution/assets/components.png
Due: none

adjust images - last try
  sessions/css-structure/taco-truck/assets/components.png
  sessions/css-structure/taco-truck/assets/wireframe.png
  sessions/css-structure/taco-truck_solution/assets/components.png
  sessions/css-structure/taco-truck_solution/assets/wireframe.png
Due: none

rename images 🫠
  sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck/assets/components-image.png
  sessions/css-structure/taco-truck/assets/wireframe-image.png
  sessions/css-structure/taco-truck_solution/README.md
  sessions/css-structure/taco-truck_solution/assets/components-image.png
  sessions/css-structure/taco-truck_solution/assets/wireframe-image.png
Due: npx prettier --write

adjust button incl. styling
  sessions/react-state-1/demo-counter-start/src/App.js
  sessions/react-state-1/demo-counter-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

adapt demo code
  sessions/react-state-1/demo-counter-start/src/App.js
  sessions/react-state-1/demo-counter-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

delete no longer needed demos and adapt demo-counter-end
  sessions/react-state-1/demo-counter-end/src/App.js
  sessions/react-state-1/demo-counter-end/src/styles.css
  sessions/react-state-1/demo-food-order-end/.eslintrc.json
  sessions/react-state-1/demo-food-order-end/.gitignore
  sessions/react-state-1/demo-food-order-end/README.md
  sessions/react-state-1/demo-food-order-end/package.json
  sessions/react-state-1/demo-food-order-end/public/index.html
  sessions/react-state-1/demo-food-order-end/src/App.js
  sessions/react-state-1/demo-food-order-end/src/index.js
  sessions/react-state-1/demo-food-order-end/src/styles.css
  sessions/react-state-1/demo-food-order-start/.eslintrc.json
  sessions/react-state-1/demo-food-order-start/.gitignore
  sessions/react-state-1/demo-food-order-start/README.md
  sessions/react-state-1/demo-food-order-start/package.json
  sessions/react-state-1/demo-food-order-start/public/index.html
  sessions/react-state-1/demo-food-order-start/src/App.js
  sessions/react-state-1/demo-food-order-start/src/index.js
  sessions/react-state-1/demo-food-order-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

adapt emoji-checker-solution
  sessions/react-state-1/emoji-checker_solution/src/App.js
  sessions/react-state-1/emoji-checker_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck/styles.css
Due: none

Update sessions/css-structure/taco-truck_solution/components/main.css
  sessions/css-structure/taco-truck_solution/components/main.css
Due: none

Update sessions/css-structure/taco-truck_solution/components/header.css
  sessions/css-structure/taco-truck_solution/components/header.css
Due: none

Update sessions/css-structure/taco-truck_solution/styles.css
  sessions/css-structure/taco-truck_solution/styles.css
Due: none

fix header overflow
  sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck_solution/components/header.css
Due: none

Rework CSS Structure Challenge: Taco Truck (#386)
  sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck/assets/components-image.png
  sessions/css-structure/taco-truck/assets/components.png
  sessions/css-structure/taco-truck/assets/wireframe-image.png
  sessions/css-structure/taco-truck/assets/wireframe.png
  sessions/css-structure/taco-truck/index.html
  sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck/theme.css
  sessions/css-structure/taco-truck_solution/README.md
  sessions/css-structure/taco-truck_solution/assets/components-image.png
  sessions/css-structure/taco-truck_solution/assets/components.png
  sessions/css-structure/taco-truck_solution/assets/wireframe-image.png
  sessions/css-structure/taco-truck_solution/assets/wireframe.png
  sessions/css-structure/taco-truck_solution/components/card.css
  sessions/css-structure/taco-truck_solution/components/header.css
  sessions/css-structure/taco-truck_solution/components/main.css
  sessions/css-structure/taco-truck_solution/index.html
  sessions/css-structure/taco-truck_solution/package.json
  sessions/css-structure/taco-truck_solution/styles.css
  sessions/css-structure/taco-truck_solution/theme.css
Due: npx prettier --write

change h1 to p tag and add styles
  sessions/react-state-1/demo-counter-start/src/App.js
  sessions/react-state-1/demo-counter-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

add h2 to p tag and add styles for solution
  sessions/react-state-1/demo-counter-end/src/App.js
  sessions/react-state-1/demo-counter-end/src/styles.css
Due: npx eslint --fix, npx prettier --write

adapt suggestions
  sessions/react-state-1/demo-counter-end/src/App.js
Due: npx eslint --fix, npx prettier --write

Docs/improve react state 1 (#388)
  sessions/react-state-1/demo-counter-end/src/App.js
  sessions/react-state-1/demo-counter-end/src/styles.css
  sessions/react-state-1/demo-counter-start/src/App.js
  sessions/react-state-1/demo-counter-start/src/styles.css
  sessions/react-state-1/demo-food-order-end/.eslintrc.json
  sessions/react-state-1/demo-food-order-end/.gitignore
  sessions/react-state-1/demo-food-order-end/README.md
  sessions/react-state-1/demo-food-order-end/package.json
  sessions/react-state-1/demo-food-order-end/public/index.html
  sessions/react-state-1/demo-food-order-end/src/App.js
  sessions/react-state-1/demo-food-order-end/src/index.js
  sessions/react-state-1/demo-food-order-end/src/styles.css
  sessions/react-state-1/demo-food-order-start/.eslintrc.json
  sessions/react-state-1/demo-food-order-start/.gitignore
  sessions/react-state-1/demo-food-order-start/README.md
  sessions/react-state-1/demo-food-order-start/package.json
  sessions/react-state-1/demo-food-order-start/public/index.html
  sessions/react-state-1/demo-food-order-start/src/App.js
  sessions/react-state-1/demo-food-order-start/src/index.js
  sessions/react-state-1/demo-food-order-start/src/styles.css
  sessions/react-state-1/emoji-checker/README.md
  sessions/react-state-1/emoji-checker/src/App.js
  sessions/react-state-1/emoji-checker/src/index.js
  sessions/react-state-1/emoji-checker/src/styles.css
  sessions/react-state-1/emoji-checker_solution/src/App.js
  sessions/react-state-1/emoji-checker_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write
