Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Update sessions/js-basics/demo-end/js/index.js
  sessions/js-basics/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-basics/demo-start/index.html
  sessions/js-basics/demo-start/index.html
Due: none

Update sessions/js-basics/demo-end/index.html
  sessions/js-basics/demo-end/index.html
Due: none

Feature: JS Basics Demo (#254)
  sessions/js-basics/demo-end/.eslintrc.json
  sessions/js-basics/demo-end/.gitignore
  sessions/js-basics/demo-end/.prettierrc.json
  sessions/js-basics/demo-end/README.md
  sessions/js-basics/demo-end/css/styles.css
  sessions/js-basics/demo-end/index.html
  sessions/js-basics/demo-end/js/index.js
  sessions/js-basics/demo-end/package.json
  sessions/js-basics/demo-end/sandbox.config.json
  sessions/js-basics/demo-start/.eslintrc.json
  sessions/js-basics/demo-start/.gitignore
  sessions/js-basics/demo-start/.prettierrc.json
  sessions/js-basics/demo-start/README.md
  sessions/js-basics/demo-start/css/styles.css
  sessions/js-basics/demo-start/index.html
  sessions/js-basics/demo-start/js/index.js
  sessions/js-basics/demo-start/package.json
  sessions/js-basics/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Fix/backend read exercise (#257)
  sessions/backend-read/products/README.md
  sessions/backend-read/products/db/models/Product.js
  sessions/backend-read/products/db/models/Review.js
Due: npx eslint --fix, npx prettier --write

adapt according to code review
  sessions/css-grid/demo-end/css/styles.css
  sessions/css-grid/demo-end/index.html
  sessions/css-grid/demo-start/css/styles.css
  sessions/css-grid/demo-start/index.html
Due: none

CSS Grid: Add Demo (#255)
  sessions/css-grid/demo-end/.gitignore
  sessions/css-grid/demo-end/.prettierrc.json
  sessions/css-grid/demo-end/README.md
  sessions/css-grid/demo-end/css/styles.css
  sessions/css-grid/demo-end/index.html
  sessions/css-grid/demo-end/package.json
  sessions/css-grid/demo-end/sandbox.config.json
  sessions/css-grid/demo-start/.gitignore
  sessions/css-grid/demo-start/.prettierrc.json
  sessions/css-grid/demo-start/README.md
  sessions/css-grid/demo-start/css/styles.css
  sessions/css-grid/demo-start/index.html
  sessions/css-grid/demo-start/package.json
  sessions/css-grid/demo-start/sandbox.config.json
Due: npx prettier --write

add end version of demo
  package-lock.json
  sessions/js-conditions-and-booleans/demo-end/.eslintrc.json
  sessions/js-conditions-and-booleans/demo-end/.gitignore
  sessions/js-conditions-and-booleans/demo-end/.prettierrc.json
  sessions/js-conditions-and-booleans/demo-end/README.md
  sessions/js-conditions-and-booleans/demo-end/index.js
  sessions/js-conditions-and-booleans/demo-end/package.json
  sessions/js-conditions-and-booleans/demo-end/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

add starter for demo
  sessions/js-conditions-and-booleans/demo-start/.eslintrc.json
  sessions/js-conditions-and-booleans/demo-start/.gitignore
  sessions/js-conditions-and-booleans/demo-start/.prettierrc.json
  sessions/js-conditions-and-booleans/demo-start/README.md
  sessions/js-conditions-and-booleans/demo-start/index.js
  sessions/js-conditions-and-booleans/demo-start/package.json
  sessions/js-conditions-and-booleans/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

adapt sandbox config
  sessions/js-conditions-and-booleans/demo-end/sandbox.config.json
  sessions/js-conditions-and-booleans/demo-start/sandbox.config.json
Due: npx prettier --write

update last step of demo-end
  sessions/js-conditions-and-booleans/demo-end/index.js
Due: npx eslint --fix, npx prettier --write

feat: use cross-env in order to run jest on windows as well
  recipes/html-css-js/files/package.json
  recipes/js/files/package.json
  recipes/node/files/package.json
  sessions/backend-basics/chance/package.json
  sessions/backend-basics/demo-end/package.json
  sessions/backend-basics/demo-start/package.json
  sessions/backend-basics/greeting/package.json
  sessions/backend-basics/routes/package.json
  sessions/js-array-methods-2/animal-objects/package.json
  sessions/js-array-methods-2/animal-strings/package.json
  sessions/js-array-methods/filter/package.json
  sessions/js-array-methods/map/package.json
  sessions/js-array-methods/repetition/package.json
  sessions/js-functions-2/basic-calculations/package.json
  sessions/js-loops/demo-end/package.json
  sessions/js-loops/demo-start/package.json
  sessions/js-loops/for-console/package.json
  sessions/js-loops/while-random-number/package.json
  sessions/js-modern-syntax/demo-end/package.json
  sessions/js-modern-syntax/demo-start/package.json
  sessions/js-modern-syntax/destructuring-arrays/package.json
  sessions/js-modern-syntax/destructuring-objects/package.json
  sessions/js-modern-syntax/rest-and-spread/package.json
  sessions/js-objects-and-arrays/arrays/package.json
  sessions/js-objects-and-arrays/objects-and-arrays/package.json
  sessions/js-objects-and-arrays/objects/package.json
  sessions/js-structure/spacerocket/package.json
  sessions/js-unit-testing/demo-end/package.json
  sessions/js-unit-testing/demo-start/package.json
  sessions/js-unit-testing/get-animal/package.json
  sessions/js-unit-testing/math-functions/package.json
  sessions/js-unit-testing/people/package.json
  templates/html-css-js/package.json
  templates/js/package.json
  templates/node/package.json
Due: npx prettier --write

fix: use window object instead of global object
  sessions/js-structure/spacerocket/js/core/rocket.js
  sessions/js-structure/spacerocket/js/launchSequence.test.js
  sessions/js-structure/spacerocket/package.json
Due: npx eslint --fix, npx prettier --write

Add hint for gitignore-file to setup section
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Fix explanation for adjacent sibling selector
  sessions/css-selectors/demo-end/css/styles.css
Due: none

Eliminate root selector and css variables
  sessions/css-selectors/demo-end/css/styles.css
Due: none

Change title of index.html
  sessions/css-selectors/demo-end/index.html
Due: none

Delete unneccessary ruleset
  sessions/css-selectors/demo-end/css/styles.css
Due: none

Delete unnecessary margin
  sessions/css-selectors/demo-end/css/styles.css
Due: none

Change title of index.html
  sessions/css-selectors/demo-start/index.html
Due: none

Delete unnecessary styling
  sessions/css-selectors/demo-start/css/styles.css
Due: none

Use color names instead of css variables
  sessions/css-selectors/demo-start/css/styles.css
Due: none

Update explanation for adjacent sibling selector
  sessions/css-selectors/demo-start/css/styles.css
Due: none

Fix typo in css-grid challenge image-gallery
  sessions/css-grid/image-gallery/css/styles.css
Due: none

Fix typo in css-grid challenge payment-cards
  sessions/css-grid/payment-cards/css/styles.css
Due: none

Highlight file names
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Remove border-radius from css-grid-challenge-fish-cards to match styles to result image
  sessions/css-grid/fish-cards/css/styles.css
Due: none

Recap-Project 1: Add hint for .gitignore file to setup section (#260)
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Use hex colors instead of color names
  sessions/css-selectors/demo-start/css/styles.css
Due: none

reverted changes: auto-generated instructions
  sessions/js-loops/forin-select-nav/README.md
  sessions/js-loops/forof-list/README.md
  sessions/js-loops/stars/README.md
Due: npx prettier --write

Use hex colors instead of color names
  sessions/css-selectors/demo-end/css/styles.css
Due: none

Revert "Add hint for gitignore-file to setup section"
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

feat: add demo files
  sessions/js-inputs-and-strings/demo-end/css/styles.css
  sessions/js-inputs-and-strings/demo-end/index.html
  sessions/js-inputs-and-strings/demo-end/js/index.js
  sessions/js-inputs-and-strings/demo-end/package.json
  sessions/js-inputs-and-strings/demo-end/sandbox.config.json
  sessions/js-inputs-and-strings/demo-start/css/styles.css
  sessions/js-inputs-and-strings/demo-start/index.html
  sessions/js-inputs-and-strings/demo-start/js/index.js
  sessions/js-inputs-and-strings/demo-start/package.json
  sessions/js-inputs-and-strings/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Css Selectors Demo (#259)
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-end/index.html
  sessions/css-selectors/demo-start/css/styles.css
  sessions/css-selectors/demo-start/index.html
Due: none

change css-basics/social-card: update demo image to reflect the same arrow style as used in the SVG
  sessions/css-basics/social-card/assets/social-card.png
Due: none

change css-basics/pokemon-page: update task #6 to use left/right borders instead of underline to prevent solutions with text-decoration:underline
  sessions/css-basics/pokemon-page/css/styles.css
Due: none

fix: link in rick and morty project
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

CSS Basics (#261)
  sessions/css-basics/pokemon-page/css/styles.css
  sessions/css-basics/social-card/assets/social-card.png
Due: none

fix: readme and show current typed in code
  sessions/react-state/emoji-checker/README.md
  sessions/react-state/emoji-checker/src/App.js
Due: npx eslint --fix, npx prettier --write

fix: readme by giving more context/hint about the handleClick function
  sessions/react-state/emoji-checker/README.md
Due: npx prettier --write
