Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

moving html and add favicon
  sessions/react-custom-hooks/demo-end/index.html
  sessions/react-custom-hooks/demo-end/public/favicon.png
Due: none

change js to jsx and rename style
  sessions/react-custom-hooks/demo-end/src/App.css
  sessions/react-custom-hooks/demo-end/src/App.jsx
  sessions/react-custom-hooks/demo-end/src/components/Joke.jsx
  sessions/react-custom-hooks/demo-end/src/components/NatureScene.jsx
  sessions/react-custom-hooks/demo-end/src/index.jsx
Due: npx eslint --fix, npx prettier --write

delete import in index
  sessions/react-custom-hooks/demo-end/src/index.jsx
Due: npx eslint --fix, npx prettier --write

sytle demo with SP color
  sessions/react-custom-hooks/demo-end/src/App.css
  sessions/react-custom-hooks/demo-end/src/components/Joke.css
  sessions/react-custom-hooks/demo-end/src/components/Joke.jsx
  sessions/react-custom-hooks/demo-end/src/components/NatureScene.css
  sessions/react-custom-hooks/demo-end/src/components/NatureScene.jsx
Due: npx eslint --fix, npx prettier --write

update eslint to vite config
  sessions/react-custom-hooks/demo-start/.eslintrc.cjs
  sessions/react-custom-hooks/demo-start/.eslintrc.json
Due: npx prettier --write

add vite config
  sessions/react-custom-hooks/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-custom-hooks/demo-start/package.json
Due: npx prettier --write

update readme
  sessions/react-custom-hooks/demo-start/README.md
Due: npx prettier --write

move html and add favicon
  sessions/react-custom-hooks/demo-start/index.html
  sessions/react-custom-hooks/demo-start/public/favicon.png
Due: none

change js to jsx add style
  sessions/react-custom-hooks/demo-start/src/App.css
  sessions/react-custom-hooks/demo-start/src/App.jsx
  sessions/react-custom-hooks/demo-start/src/components/NatureScene.css
  sessions/react-custom-hooks/demo-start/src/components/NatureScene.jsx
  sessions/react-custom-hooks/demo-start/src/index.jsx
Due: npx eslint --fix, npx prettier --write

add style so it look like the demo end
  sessions/react-custom-hooks/demo-start/src/App.css
Due: none

removed console.log
  sessions/react-custom-hooks/demo-end/src/components/NatureScene.jsx
Due: npx eslint --fix, npx prettier --write

feat: add movie-app project and wireframes
  sessions/user-stories-workshop/movie-app/README.md
  sessions/user-stories-workshop/movie-app/assets/scribble-movie-detail-page.png
  sessions/user-stories-workshop/movie-app/assets/scribble-movie-list.png
  sessions/user-stories-workshop/movie-app/assets/scribble-watchlist.png
  sessions/user-stories-workshop/movie-app/assets/user-story-workshop-start.excalidraw
  sessions/user-stories-workshop/movie-app/user-story-1.md
  sessions/user-stories-workshop/movie-app/user-story-2.md
  sessions/user-stories-workshop/movie-app/user-story-3.md
Due: npx prettier --write

fix: line breaks in value proposition
  sessions/user-stories-workshop/movie-app/user-story-1.md
  sessions/user-stories-workshop/movie-app/user-story-2.md
  sessions/user-stories-workshop/movie-app/user-story-3.md
Due: npx prettier --write

fix: remove -i flag from templates, recipes and recap projects
  README.md
  recipes/README.md
  recipes/empty/files/README.md
  recipes/html-css-js/files/README.md
  recipes/html-css/files/README.md
  recipes/js/files/README.md
  recipes/next/files/README.md
  recipes/node-server/files/README.md
  recipes/react-minimal/files/README.md
  recipes/react/files/README.md
  scripts/get/challenge-local-template.md
  scripts/get/challenge-template.md
  scripts/get/pr-local-template.md
  scripts/get/pr-template.md
  sessions/js-unit-testing/demo-start/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-5/art-gallery-app/README.md
  templates/empty/README.md
  templates/html-css-js/README.md
  templates/html-css/README.md
  templates/js/README.md
  templates/node-server/README.md
  templates/react-minimal/README.md
  templates/react/README.md
Due: npx prettier --write

adding topic page
  sessions/recap-project-1/quiz-app/topics.md
Due: npx prettier --write

Adding and overview of the project and link to the topic
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

added internal links and added more topis
  sessions/recap-project-1/quiz-app/topics.md
Due: npx prettier --write

merge
  package-lock.json
Due: npx prettier --write

Update/react basics (#351)
  sessions/react-basics/demo-end/package.json
  sessions/react-basics/demo-end/public/index.html
  sessions/react-basics/demo-end/public/styles.css
  sessions/react-basics/demo-end/src/App.js
  sessions/react-basics/demo-end/src/VanillaApp.js
  sessions/react-basics/demo-end/src/index.js
  sessions/react-basics/demo-inner-html-vs-render/.codesandbox/tasks.json
  sessions/react-basics/demo-inner-html-vs-render/.eslintrc.json
  sessions/react-basics/demo-inner-html-vs-render/.gitignore
  sessions/react-basics/demo-inner-html-vs-render/README.md
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-inner-html-vs-render/public/index.html
  sessions/react-basics/demo-inner-html-vs-render/public/styles.css
  sessions/react-basics/demo-inner-html-vs-render/src/index.js
  sessions/react-basics/demo-start/package.json
  sessions/react-basics/demo-start/public/index.html
  sessions/react-basics/demo-start/public/styles.css
  sessions/react-basics/demo-start/src/App.js
  sessions/react-basics/demo-start/src/VanillaApp.js
  sessions/react-basics/demo-start/src/index.js
Due: npx eslint --fix, npx prettier --write

updated the pixelvalues from being a fish to being a space invador piece using spiced colors
  sessions/js-loops/pixels/js/index.js
Due: npx eslint --fix, npx prettier --write

change bookmark page descprition to suguested in pr comment
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Change home page descpriction to suggested in pr comment
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

change profile page description to suggested in pr comment
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

change sentence of topic idea to the one suggested in pr comment
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Remove recipe reference
  sessions/frontend-recap/template/pages/_app.js
  sessions/frontend-recap/template/pages/index.js
Due: npx eslint --fix, npx prettier --write

Fix data
  sessions/frontend-recap/demo/data.json
Due: npx prettier --write

Add solutions for JS Modern Syntax
  sessions/js-modern-syntax/destructuring-arrays_solution/.codesandbox/tasks.json
  sessions/js-modern-syntax/destructuring-arrays_solution/.eslintrc.json
  sessions/js-modern-syntax/destructuring-arrays_solution/.gitignore
  sessions/js-modern-syntax/destructuring-arrays_solution/README.md
  sessions/js-modern-syntax/destructuring-arrays_solution/index.html
  sessions/js-modern-syntax/destructuring-arrays_solution/index.js
  sessions/js-modern-syntax/destructuring-arrays_solution/index.test.js
  sessions/js-modern-syntax/destructuring-arrays_solution/package-lock.json
  sessions/js-modern-syntax/destructuring-arrays_solution/package.json
  sessions/js-modern-syntax/destructuring-objects_solution/.codesandbox/tasks.json
  sessions/js-modern-syntax/destructuring-objects_solution/.eslintrc.json
  sessions/js-modern-syntax/destructuring-objects_solution/.gitignore
  sessions/js-modern-syntax/destructuring-objects_solution/README.md
  sessions/js-modern-syntax/destructuring-objects_solution/index.html
  sessions/js-modern-syntax/destructuring-objects_solution/index.js
  sessions/js-modern-syntax/destructuring-objects_solution/index.test.js
  sessions/js-modern-syntax/destructuring-objects_solution/package-lock.json
  sessions/js-modern-syntax/destructuring-objects_solution/package.json
  sessions/js-modern-syntax/rest-and-spread_solution/.codesandbox/tasks.json
  sessions/js-modern-syntax/rest-and-spread_solution/.eslintrc.json
  sessions/js-modern-syntax/rest-and-spread_solution/.gitignore
  sessions/js-modern-syntax/rest-and-spread_solution/README.md
  sessions/js-modern-syntax/rest-and-spread_solution/index.html
  sessions/js-modern-syntax/rest-and-spread_solution/index.js
  sessions/js-modern-syntax/rest-and-spread_solution/index.test.js
  sessions/js-modern-syntax/rest-and-spread_solution/package-lock.json
  sessions/js-modern-syntax/rest-and-spread_solution/package.json
Due: npx eslint --fix, npx prettier --write

change naming of variable in the challenge
  sessions/js-conditions-and-booleans/statements/index.js
Due: npx eslint --fix, npx prettier --write

fix description of hot-dog challenge
  sessions/js-conditions-and-booleans/statements/README.md
Due: npx prettier --write

change naming of variable in the challenge (#359)
  sessions/js-conditions-and-booleans/statements/README.md
  sessions/js-conditions-and-booleans/statements/index.js
Due: npx eslint --fix, npx prettier --write

reworked the challenge
  sessions/js-conditions-and-booleans/truthy-and-falsy/README.md
  sessions/js-conditions-and-booleans/truthy-and-falsy/css/styles.css
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
Due: npx eslint --fix, npx prettier --write

delete console.log
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
Due: npx eslint --fix, npx prettier --write

reworked the challenge (#360)
  sessions/js-conditions-and-booleans/truthy-and-falsy/README.md
  sessions/js-conditions-and-booleans/truthy-and-falsy/css/styles.css
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/js/index.js
Due: npx eslint --fix, npx prettier --write

fix typo
  package-lock.json
  sessions/js-array-methods-2/news-flash/README.md
Due: npx prettier --write

fix grammar in readme
  sessions/js-array-methods-2/fun-with-flags/README.md
Due: npx prettier --write

add frontend crud recap tourio
  sessions/crud-recap/crud-recap-tourio/README.md
  sessions/crud-recap/crud-recap-tourio/jsconfig.json
  sessions/crud-recap/crud-recap-tourio/lib/db.js
  sessions/crud-recap/crud-recap-tourio/next.config.js
  sessions/crud-recap/crud-recap-tourio/package.json
  sessions/crud-recap/crud-recap-tourio/pages/_app.js
  sessions/crud-recap/crud-recap-tourio/pages/_document.js
  sessions/crud-recap/crud-recap-tourio/pages/index.js
  sessions/crud-recap/crud-recap-tourio/public/favicon.ico
  sessions/crud-recap/crud-recap-tourio/styles.js
Due: npx eslint --fix, npx prettier --write

add example implementation
  sessions/crud-recap/example-implementation/README.md
  sessions/crud-recap/example-implementation/components/Button.js
  sessions/crud-recap/example-implementation/components/Card.js
  sessions/crud-recap/example-implementation/components/Form.js
  sessions/crud-recap/example-implementation/components/ImageContainer.js
  sessions/crud-recap/example-implementation/components/StyledLink.js
  sessions/crud-recap/example-implementation/jsconfig.json
  sessions/crud-recap/example-implementation/lib/db.js
  sessions/crud-recap/example-implementation/next.config.js
  sessions/crud-recap/example-implementation/package.json
  sessions/crud-recap/example-implementation/pages/_app.js
  sessions/crud-recap/example-implementation/pages/_document.js
  sessions/crud-recap/example-implementation/pages/create.js
  sessions/crud-recap/example-implementation/pages/index.js
  sessions/crud-recap/example-implementation/pages/places/[id]/edit.js
  sessions/crud-recap/example-implementation/pages/places/[id]/index.js
  sessions/crud-recap/example-implementation/public/favicon.ico
  sessions/crud-recap/example-implementation/styles.js
Due: npx eslint --fix, npx prettier --write

rename crud-recap folder to recap-project-crud
  sessions/recap-project-crud/crud-recap-tourio/README.md
  sessions/recap-project-crud/crud-recap-tourio/jsconfig.json
  sessions/recap-project-crud/crud-recap-tourio/lib/db.js
  sessions/recap-project-crud/crud-recap-tourio/next.config.js
  sessions/recap-project-crud/crud-recap-tourio/package.json
  sessions/recap-project-crud/crud-recap-tourio/pages/_app.js
  sessions/recap-project-crud/crud-recap-tourio/pages/_document.js
  sessions/recap-project-crud/crud-recap-tourio/pages/index.js
  sessions/recap-project-crud/crud-recap-tourio/public/favicon.ico
  sessions/recap-project-crud/crud-recap-tourio/styles.js
  sessions/recap-project-crud/example-implementation/README.md
  sessions/recap-project-crud/example-implementation/components/Button.js
  sessions/recap-project-crud/example-implementation/components/Card.js
  sessions/recap-project-crud/example-implementation/components/Form.js
  sessions/recap-project-crud/example-implementation/components/ImageContainer.js
  sessions/recap-project-crud/example-implementation/components/StyledLink.js
  sessions/recap-project-crud/example-implementation/jsconfig.json
  sessions/recap-project-crud/example-implementation/lib/db.js
  sessions/recap-project-crud/example-implementation/next.config.js
  sessions/recap-project-crud/example-implementation/package.json
  sessions/recap-project-crud/example-implementation/pages/_app.js
  sessions/recap-project-crud/example-implementation/pages/_document.js
  sessions/recap-project-crud/example-implementation/pages/create.js
  sessions/recap-project-crud/example-implementation/pages/index.js
  sessions/recap-project-crud/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-crud/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-crud/example-implementation/public/favicon.ico
  sessions/recap-project-crud/example-implementation/styles.js
Due: npx eslint --fix, npx prettier --write

Update README.md
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write
