Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

fix(react-state-2): styling in conditional usestate challenge
  sessions/react-state-2/conditional-usestate/src/App.js
  sessions/react-state-2/conditional-usestate/src/styles.css
Due: npx eslint --fix, npx prettier --write

add demo for react-state-2 session
  package-lock.json
  sessions/react-state-2/demo-end/.eslintrc.json
  sessions/react-state-2/demo-end/.gitignore
  sessions/react-state-2/demo-end/.prettierrc.json
  sessions/react-state-2/demo-end/README.md
  sessions/react-state-2/demo-end/package.json
  sessions/react-state-2/demo-end/public/index.html
  sessions/react-state-2/demo-end/sandbox.config.json
  sessions/react-state-2/demo-end/src/App.js
  sessions/react-state-2/demo-end/src/components/SearchForm.js
  sessions/react-state-2/demo-end/src/components/SearchFormControlled.js
  sessions/react-state-2/demo-end/src/index.js
  sessions/react-state-2/demo-end/src/styles.css
  sessions/react-state-2/demo-start/.eslintrc.json
  sessions/react-state-2/demo-start/.gitignore
  sessions/react-state-2/demo-start/.prettierrc.json
  sessions/react-state-2/demo-start/README.md
  sessions/react-state-2/demo-start/package.json
  sessions/react-state-2/demo-start/public/index.html
  sessions/react-state-2/demo-start/sandbox.config.json
  sessions/react-state-2/demo-start/src/App.js
  sessions/react-state-2/demo-start/src/components/SearchForm.js
  sessions/react-state-2/demo-start/src/index.js
  sessions/react-state-2/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-state-2/demo-end/src/components/SearchForm.js
  sessions/react-state-2/demo-end/src/components/SearchForm.js
Due: npx eslint --fix, npx prettier --write

update demo for react-state-2 session
  sessions/react-state-2/demo-end/README.md
  sessions/react-state-2/demo-end/src/App.js
  sessions/react-state-2/demo-end/src/components/SearchForm.js
  sessions/react-state-2/demo-end/src/components/SearchFormControlled.js
  sessions/react-state-2/demo-end/src/components/SearchResults.js
  sessions/react-state-2/demo-end/src/styles.css
  sessions/react-state-2/demo-start/README.md
  sessions/react-state-2/demo-start/src/App.js
  sessions/react-state-2/demo-start/src/components/SearchForm.js
  sessions/react-state-2/demo-start/src/components/SearchResults.js
  sessions/react-state-2/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/react-state-2/demo-start/src/components/SearchForm.js
  sessions/react-state-2/demo-start/src/components/SearchForm.js
Due: npx eslint --fix, npx prettier --write

React State 2: Demo (#163)
  package-lock.json
  sessions/react-state-2/demo-end/.eslintrc.json
  sessions/react-state-2/demo-end/.gitignore
  sessions/react-state-2/demo-end/.prettierrc.json
  sessions/react-state-2/demo-end/README.md
  sessions/react-state-2/demo-end/package.json
  sessions/react-state-2/demo-end/public/index.html
  sessions/react-state-2/demo-end/sandbox.config.json
  sessions/react-state-2/demo-end/src/App.js
  sessions/react-state-2/demo-end/src/components/SearchForm.js
  sessions/react-state-2/demo-end/src/components/SearchFormControlled.js
  sessions/react-state-2/demo-end/src/components/SearchResults.js
  sessions/react-state-2/demo-end/src/index.js
  sessions/react-state-2/demo-end/src/styles.css
  sessions/react-state-2/demo-start/.eslintrc.json
  sessions/react-state-2/demo-start/.gitignore
  sessions/react-state-2/demo-start/.prettierrc.json
  sessions/react-state-2/demo-start/README.md
  sessions/react-state-2/demo-start/package.json
  sessions/react-state-2/demo-start/public/index.html
  sessions/react-state-2/demo-start/sandbox.config.json
  sessions/react-state-2/demo-start/src/App.js
  sessions/react-state-2/demo-start/src/components/SearchForm.js
  sessions/react-state-2/demo-start/src/components/SearchResults.js
  sessions/react-state-2/demo-start/src/index.js
  sessions/react-state-2/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix minor issues in react-state-2 demo
  sessions/react-state-2/demo-end/src/components/SearchForm.js
  sessions/react-state-2/demo-end/src/components/SearchFormControlled.js
  sessions/react-state-2/demo-start/src/components/SearchForm.js
Due: npx eslint --fix, npx prettier --write

fix(css-basics): remove font task in social card
  sessions/css-basics/social-card/README.md
Due: npx prettier --write

Update sessions/react-state-2/conditional-usestate/README.md
  sessions/react-state-2/conditional-usestate/README.md
Due: npx prettier --write

React State 2: Conditional useState Challenge (#166)
  package-lock.json
  sessions/react-state-2/conditional-usestate/.eslintrc.json
  sessions/react-state-2/conditional-usestate/.gitignore
  sessions/react-state-2/conditional-usestate/.prettierrc.json
  sessions/react-state-2/conditional-usestate/README.md
  sessions/react-state-2/conditional-usestate/package.json
  sessions/react-state-2/conditional-usestate/public/index.html
  sessions/react-state-2/conditional-usestate/sandbox.config.json
  sessions/react-state-2/conditional-usestate/src/App.js
  sessions/react-state-2/conditional-usestate/src/index.js
  sessions/react-state-2/conditional-usestate/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix minor issues in react-state-2 demo (#167)
  sessions/react-state-2/demo-end/src/components/SearchForm.js
  sessions/react-state-2/demo-end/src/components/SearchFormControlled.js
  sessions/react-state-2/demo-start/src/components/SearchForm.js
Due: npx eslint --fix, npx prettier --write

Update sessions/react-state-2/table-reservation/README.md
  sessions/react-state-2/table-reservation/README.md
Due: npx prettier --write

React State 2: Table Reservation Challenge (#161)
  package-lock.json
  sessions/react-state-2/table-reservation/.eslintrc.json
  sessions/react-state-2/table-reservation/.gitignore
  sessions/react-state-2/table-reservation/.prettierrc.json
  sessions/react-state-2/table-reservation/README.md
  sessions/react-state-2/table-reservation/package.json
  sessions/react-state-2/table-reservation/public/index.html
  sessions/react-state-2/table-reservation/sandbox.config.json
  sessions/react-state-2/table-reservation/src/App.js
  sessions/react-state-2/table-reservation/src/components/Counter.js
  sessions/react-state-2/table-reservation/src/index.js
  sessions/react-state-2/table-reservation/src/styles.css
Due: npx eslint --fix, npx prettier --write

add browserslist to react-minimal templates
  scripts/migrate.js
  sessions/react-basics/attributes/package.json
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world/package.json
  sessions/react-nesting/buttons-and-children/package.json
  sessions/react-nesting/demo-composition/package.json
  sessions/react-nesting/demo-end/package.json
  sessions/react-nesting/demo-start/package.json
  sessions/react-nesting/fragments/package.json
  sessions/react-nesting/navigation/package.json
  sessions/react-props/button/package.json
  sessions/react-props/demo-end/package.json
  sessions/react-props/demo-start/package.json
  sessions/react-props/greeting/package.json
  sessions/react-props/smiley/package.json
  sessions/react-props/sum/package.json
  sessions/react-state-2/colored-number/package.json
  sessions/react-state-2/conditional-usestate/package.json
  sessions/react-state-2/demo-end/package.json
  sessions/react-state-2/demo-start/package.json
  sessions/react-state-2/favourite-holiday/package.json
  sessions/react-state-2/personal-details/package.json
  sessions/react-state-2/table-reservation/package.json
  sessions/react-state-2/triple-count/package.json
  sessions/react-state/box/package.json
  sessions/react-state/counter/package.json
  sessions/react-state/demo-counter-end/package.json
  sessions/react-state/demo-counter-start/package.json
  sessions/react-state/demo-food-order-end/package.json
  sessions/react-state/demo-food-order-start/package.json
  sessions/react-state/emoji-checker/package.json
  sessions/react-with-arrays/demo-end/package.json
  sessions/react-with-arrays/demo-start/package.json
  sessions/react-with-arrays/fruits/package.json
  sessions/react-with-arrays/users/package.json
  templates/react-minimal/package.json
Due: npx eslint --fix, npx prettier --write

Update sessions/css-basics/social-card/README.md
  sessions/css-basics/social-card/README.md
Due: npx prettier --write

fix(css-basics): remove font task in social card (#168)
  sessions/css-basics/social-card/README.md
Due: npx prettier --write

add browserslist to react-minimal templates (#170)
  scripts/migrate.js
  sessions/react-basics/attributes/package.json
  sessions/react-basics/demo-inner-html-vs-render/package.json
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world/package.json
  sessions/react-nesting/buttons-and-children/package.json
  sessions/react-nesting/demo-composition/package.json
  sessions/react-nesting/demo-end/package.json
  sessions/react-nesting/demo-start/package.json
  sessions/react-nesting/fragments/package.json
  sessions/react-nesting/navigation/package.json
  sessions/react-props/button/package.json
  sessions/react-props/demo-end/package.json
  sessions/react-props/demo-start/package.json
  sessions/react-props/greeting/package.json
  sessions/react-props/smiley/package.json
  sessions/react-props/sum/package.json
  sessions/react-state-2/colored-number/package.json
  sessions/react-state-2/conditional-usestate/package.json
  sessions/react-state-2/demo-end/package.json
  sessions/react-state-2/demo-start/package.json
  sessions/react-state-2/favourite-holiday/package.json
  sessions/react-state-2/personal-details/package.json
  sessions/react-state-2/table-reservation/package.json
  sessions/react-state-2/triple-count/package.json
  sessions/react-state/box/package.json
  sessions/react-state/counter/package.json
  sessions/react-state/demo-counter-end/package.json
  sessions/react-state/demo-counter-start/package.json
  sessions/react-state/demo-food-order-end/package.json
  sessions/react-state/demo-food-order-start/package.json
  sessions/react-state/emoji-checker/package.json
  sessions/react-with-arrays/demo-end/package.json
  sessions/react-with-arrays/demo-start/package.json
  sessions/react-with-arrays/fruits/package.json
  sessions/react-with-arrays/users/package.json
  templates/react-minimal/package.json
Due: npx eslint --fix, npx prettier --write

feat(react-state-3): add tags challenge
  package-lock.json
  sessions/react-state-3/tags/.eslintrc.json
  sessions/react-state-3/tags/.gitignore
  sessions/react-state-3/tags/.prettierrc.json
  sessions/react-state-3/tags/README.md
  sessions/react-state-3/tags/package.json
  sessions/react-state-3/tags/public/index.html
  sessions/react-state-3/tags/sandbox.config.json
  sessions/react-state-3/tags/src/App.js
  sessions/react-state-3/tags/src/components/Form/Form.css
  sessions/react-state-3/tags/src/components/Form/index.js
  sessions/react-state-3/tags/src/components/List/List.css
  sessions/react-state-3/tags/src/components/List/index.js
  sessions/react-state-3/tags/src/index.js
  sessions/react-state-3/tags/src/styles.css
Due: npx eslint --fix, npx prettier --write

add documentation about isses with CRA and Codesandbox
  README.md
Due: npx prettier --write

add documentation about isses with CRA and Codesandbox (#174)
  README.md
Due: npx prettier --write

fix figma file and screen with minor typo issue
  sessions/react-project-setup/journal-app/resources.zip
  sessions/react-project-setup/journal-app/resources/journal_app_design.fig
  sessions/react-project-setup/journal-app/resources/journal_app_design.png
  sessions/react-project-setup/journal-app/resources/journal_app_design@2x.png
Due: none

fix figma file and screen with minor typo issue (#175)
  sessions/react-project-setup/journal-app/resources.zip
  sessions/react-project-setup/journal-app/resources/journal_app_design.fig
  sessions/react-project-setup/journal-app/resources/journal_app_design.png
  sessions/react-project-setup/journal-app/resources/journal_app_design@2x.png
Due: none

feat(react-state-3): add demo start
  package-lock.json
  sessions/react-state-3/demo-start/.eslintrc.json
  sessions/react-state-3/demo-start/.gitignore
  sessions/react-state-3/demo-start/.prettierrc.json
  sessions/react-state-3/demo-start/README.md
  sessions/react-state-3/demo-start/package.json
  sessions/react-state-3/demo-start/public/index.html
  sessions/react-state-3/demo-start/sandbox.config.json
  sessions/react-state-3/demo-start/src/App.js
  sessions/react-state-3/demo-start/src/components/Form/Form.css
  sessions/react-state-3/demo-start/src/components/Form/index.js
  sessions/react-state-3/demo-start/src/components/Movie/Movie.css
  sessions/react-state-3/demo-start/src/components/Movie/index.js
  sessions/react-state-3/demo-start/src/index.js
  sessions/react-state-3/demo-start/src/styles.css
Due: npx eslint --fix, npx prettier --write

feat(react-state-3): add demo end
  sessions/react-state-3/demo-end/.eslintrc.json
  sessions/react-state-3/demo-end/.gitignore
  sessions/react-state-3/demo-end/.prettierrc.json
  sessions/react-state-3/demo-end/README.md
  sessions/react-state-3/demo-end/package.json
  sessions/react-state-3/demo-end/public/index.html
  sessions/react-state-3/demo-end/sandbox.config.json
  sessions/react-state-3/demo-end/src/App.js
  sessions/react-state-3/demo-end/src/components/Form/Form.css
  sessions/react-state-3/demo-end/src/components/Form/index.js
  sessions/react-state-3/demo-end/src/components/Movie/Movie.css
  sessions/react-state-3/demo-end/src/components/Movie/index.js
  sessions/react-state-3/demo-end/src/index.js
  sessions/react-state-3/demo-end/src/styles.css
Due: npx eslint --fix, npx prettier --write

create react-state-3 journal challenge as copy
  package-lock.json
  sessions/react-state-3/journal-app-form/.gitignore
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-state-3/journal-app-form/package.json
  sessions/react-state-3/journal-app-form/public/index.html
  sessions/react-state-3/journal-app-form/sandbox.config.json
  sessions/react-state-3/journal-app-form/src/App.css
  sessions/react-state-3/journal-app-form/src/App.js
  sessions/react-state-3/journal-app-form/src/colors.css
  sessions/react-state-3/journal-app-form/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-form/src/components/Badge/index.js
  sessions/react-state-3/journal-app-form/src/components/Button/Button.css
  sessions/react-state-3/journal-app-form/src/components/Button/index.js
  sessions/react-state-3/journal-app-form/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-form/src/components/Divider/index.js
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-form/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app-form/src/components/Entry/index.js
  sessions/react-state-3/journal-app-form/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-form/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-form/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-form/src/components/Footer/index.js
  sessions/react-state-3/journal-app-form/src/components/Header/Header.css
  sessions/react-state-3/journal-app-form/src/components/Header/index.js
  sessions/react-state-3/journal-app-form/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-form/src/components/Tab/index.js
  sessions/react-state-3/journal-app-form/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app-form/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-form/src/index.css
  sessions/react-state-3/journal-app-form/src/index.js
  sessions/react-state-3/journal-app-form/src/reportWebVitals.js
  sessions/react-state-3/journal-app-form/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

add solution for previous challenge
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/index.js
Due: npx eslint --fix, npx prettier --write

fix minor issue with EntryForm component of journal app challenges
  sessions/react-state-3/journal-app-form/src/components/EntryForm/index.js
  sessions/react-state/journal-app-favorite-button/src/components/EntryForm/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntryForm/index.js
Due: npx eslint --fix, npx prettier --write

remove date from form title in journal app
  sessions/react-project-setup/journal-app/resources/journal_app_design.fig
  sessions/react-project-setup/journal-app/resources/journal_app_design.png
  sessions/react-project-setup/journal-app/resources/journal_app_design@2x.png
  sessions/react-state-3/journal-app-form/src/components/EntryForm/index.js
  sessions/react-state/journal-app-favorite-button/src/components/EntryForm/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntryForm/index.js
Due: npx eslint --fix, npx prettier --write

add challenge description for react-state-3 journal app form
  sessions/react-state-3/journal-app-form/README.md
Due: npx prettier --write

Update sessions/react-state-3/journal-app-form/README.md
  sessions/react-state-3/journal-app-form/README.md
Due: npx prettier --write

add challenge description for react-state-3 journal favorite button with shared state
  sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
Due: npx prettier --write

create react-state-3 challenge for journal app with shared favorite state
  package-lock.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/.gitignore
  sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
  sessions/react-state-3/journal-app-favorite-button-shared-state/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/public/index.html
  sessions/react-state-3/journal-app-favorite-button-shared-state/sandbox.config.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/App.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/App.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/colors.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Badge/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Button/Button.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Button/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Divider/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Entry/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Footer/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Header/Header.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Header/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tab/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/index.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/reportWebVitals.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

add react-state-3 challenge for filter
  package-lock.json
  sessions/react-state-3/journal-app-filter/.gitignore
  sessions/react-state-3/journal-app-filter/README.md
  sessions/react-state-3/journal-app-filter/package.json
  sessions/react-state-3/journal-app-filter/public/index.html
  sessions/react-state-3/journal-app-filter/sandbox.config.json
  sessions/react-state-3/journal-app-filter/src/App.css
  sessions/react-state-3/journal-app-filter/src/App.js
  sessions/react-state-3/journal-app-filter/src/colors.css
  sessions/react-state-3/journal-app-filter/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-filter/src/components/Badge/index.js
  sessions/react-state-3/journal-app-filter/src/components/Button/Button.css
  sessions/react-state-3/journal-app-filter/src/components/Button/index.js
  sessions/react-state-3/journal-app-filter/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-filter/src/components/Divider/index.js
  sessions/react-state-3/journal-app-filter/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app-filter/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-filter/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app-filter/src/components/Entry/index.js
  sessions/react-state-3/journal-app-filter/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-filter/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-filter/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-filter/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-filter/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-filter/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-filter/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-filter/src/components/Footer/index.js
  sessions/react-state-3/journal-app-filter/src/components/Header/Header.css
  sessions/react-state-3/journal-app-filter/src/components/Header/index.js
  sessions/react-state-3/journal-app-filter/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-filter/src/components/Tab/index.js
  sessions/react-state-3/journal-app-filter/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app-filter/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-filter/src/index.css
  sessions/react-state-3/journal-app-filter/src/index.js
  sessions/react-state-3/journal-app-filter/src/reportWebVitals.js
  sessions/react-state-3/journal-app-filter/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

apply PR feedback to all journal app challenges
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Badge/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Divider/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Entry/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tab/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-filter/README.md
  sessions/react-state-3/journal-app-filter/src/components/Badge/index.js
  sessions/react-state-3/journal-app-filter/src/components/Divider/index.js
  sessions/react-state-3/journal-app-filter/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-filter/src/components/Entry/index.js
  sessions/react-state-3/journal-app-filter/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-filter/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-filter/src/components/Tab/index.js
  sessions/react-state-3/journal-app-filter/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-form/src/components/Badge/index.js
  sessions/react-state-3/journal-app-form/src/components/Divider/index.js
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-form/src/components/Entry/index.js
  sessions/react-state-3/journal-app-form/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-form/src/components/Tab/index.js
  sessions/react-state-3/journal-app-form/src/components/Tabs/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Badge/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Divider/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Entry/index.js
  sessions/react-state/journal-app-favorite-button/src/components/EntryForm/index.js
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Tab/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Tabs/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Badge/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Divider/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Entry/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntryForm/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/FavoriteButton/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Tab/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Tabs/index.js
Due: npx eslint --fix, npx prettier --write

fix date format to be consistent with JS date formatting
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/index.js
  sessions/react-with-arrays/journal-app-entries-array/README.md
Due: npx eslint --fix, npx prettier --write

add consolidated titles across journal app challenges
  sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
  sessions/react-state-3/journal-app-favorite-button-shared-state/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/public/index.html
  sessions/react-state-3/journal-app-filter/README.md
  sessions/react-state-3/journal-app-filter/package.json
  sessions/react-state-3/journal-app-filter/public/index.html
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-state-3/journal-app-form/package.json
  sessions/react-state-3/journal-app-form/public/index.html
  sessions/react-state/journal-app-favorite-button/README.md
  sessions/react-state/journal-app-favorite-button/package.json
  sessions/react-state/journal-app-favorite-button/public/index.html
  sessions/react-with-arrays/journal-app-entries-array/README.md
  sessions/react-with-arrays/journal-app-entries-array/package.json
  sessions/react-with-arrays/journal-app-entries-array/public/index.html
Due: npx prettier --write

add challenge description for react-state-3 journal app with filters
  sessions/react-state-3/journal-app-filter/README.md
Due: npx prettier --write
