Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

add vite config
  sessions/react-effects-and-fetch/pokemon-api/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-effects-and-fetch/pokemon-api/package.json
Due: npx prettier --write

update readme
  sessions/react-effects-and-fetch/pokemon-api/README.md
Due: npx prettier --write

move htmal and add favicon
  sessions/react-effects-and-fetch/pokemon-api/index.html
  sessions/react-effects-and-fetch/pokemon-api/public/jigglypuff.png
Due: none

change js to jsx
  sessions/react-effects-and-fetch/pokemon-api/src/App.css
  sessions/react-effects-and-fetch/pokemon-api/src/App.jsx
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.jsx
  sessions/react-effects-and-fetch/pokemon-api/src/index.jsx
Due: npx eslint --fix, npx prettier --write

add SP style
  sessions/react-effects-and-fetch/pokemon-api/src/App.css
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.css
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.jsx
Due: npx eslint --fix, npx prettier --write

update eslint to vite config
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.eslintrc.cjs
  sessions/react-effects-and-fetch/pokemon-api-with-paging/.eslintrc.json
Due: npx prettier --write

add vite config
  sessions/react-effects-and-fetch/pokemon-api-with-paging/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-effects-and-fetch/pokemon-api-with-paging/package.json
Due: npx prettier --write

update readme
  sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
Due: npx prettier --write

move html and add favicon
  sessions/react-effects-and-fetch/pokemon-api-with-paging/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging/public/jigglypuff.png
Due: none

change js to jsx and add SP Style
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/App.css
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/App.jsx
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.css
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.jsx
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/index.jsx
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/styles.css
Due: npx eslint --fix, npx prettier --write

style component
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.css
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.jsx
Due: npx eslint --fix, npx prettier --write

initialized vite and update package.json
  sessions/react-with-local-storage/dice-old/.eslintrc.json
  sessions/react-with-local-storage/dice-old/.gitignore
  sessions/react-with-local-storage/dice-old/.prettierrc.json
  sessions/react-with-local-storage/dice-old/README.md
  sessions/react-with-local-storage/dice-old/package.json
  sessions/react-with-local-storage/dice-old/public/index.html
  sessions/react-with-local-storage/dice-old/src/App.js
  sessions/react-with-local-storage/dice-old/src/components/D6/D6.css
  sessions/react-with-local-storage/dice-old/src/components/D6/index.js
  sessions/react-with-local-storage/dice-old/src/components/D6Button/D6Button.css
  sessions/react-with-local-storage/dice-old/src/components/D6Button/index.js
  sessions/react-with-local-storage/dice-old/src/components/History/History.css
  sessions/react-with-local-storage/dice-old/src/components/History/index.js
  sessions/react-with-local-storage/dice-old/src/index.js
  sessions/react-with-local-storage/dice-old/src/styles.css
  sessions/react-with-local-storage/dice-old/src/utils.js
  sessions/react-with-local-storage/dice/.eslintrc.cjs
  sessions/react-with-local-storage/dice/.gitignore
  sessions/react-with-local-storage/dice/README.md
  sessions/react-with-local-storage/dice/index.html
  sessions/react-with-local-storage/dice/package.json
  sessions/react-with-local-storage/dice/public/vite.svg
  sessions/react-with-local-storage/dice/src/App.css
  sessions/react-with-local-storage/dice/src/App.jsx
  sessions/react-with-local-storage/dice/src/assets/react.svg
  sessions/react-with-local-storage/dice/src/index.css
  sessions/react-with-local-storage/dice/src/main.jsx
  sessions/react-with-local-storage/dice/vite.config.js
Due: npx eslint --fix, npx prettier --write

update readme and folder structure
  sessions/react-with-local-storage/dice/README.md
  sessions/react-with-local-storage/dice/index.html
  sessions/react-with-local-storage/dice/public/favicon.ico
  sessions/react-with-local-storage/dice/public/vite.svg
  sessions/react-with-local-storage/dice/src/assets/react.svg
Due: npx prettier --write

add style so the pokemon are the same as pokemon with paging
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.css
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.jsx
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-with-local-storage/dice-old/.eslintrc.json
  sessions/react-with-local-storage/dice-old/.gitignore
  sessions/react-with-local-storage/dice-old/.prettierrc.json
  sessions/react-with-local-storage/dice-old/README.md
  sessions/react-with-local-storage/dice-old/package.json
  sessions/react-with-local-storage/dice-old/public/index.html
  sessions/react-with-local-storage/dice-old/src/App.js
  sessions/react-with-local-storage/dice-old/src/index.js
  sessions/react-with-local-storage/dice-old/src/styles.css
  sessions/react-with-local-storage/dice/.eslintrc.cjs
  sessions/react-with-local-storage/dice/src/App.css
  sessions/react-with-local-storage/dice/src/App.jsx
  sessions/react-with-local-storage/dice/src/components/D6/D6.css
  sessions/react-with-local-storage/dice/src/components/D6/index.jsx
  sessions/react-with-local-storage/dice/src/components/D6Button/D6Button.css
  sessions/react-with-local-storage/dice/src/components/D6Button/index.jsx
  sessions/react-with-local-storage/dice/src/components/History/History.css
  sessions/react-with-local-storage/dice/src/components/History/index.jsx
  sessions/react-with-local-storage/dice/src/index.css
  sessions/react-with-local-storage/dice/src/main.jsx
  sessions/react-with-local-storage/dice/src/utils.js
Due: npx eslint --fix, npx prettier --write

update favicon and link it
  sessions/react-with-local-storage/dice/index.html
  sessions/react-with-local-storage/dice/public/dice.png
  sessions/react-with-local-storage/dice/public/favicon.ico
Due: none

updatede favicon and linked it
  sessions/react-with-local-storage/stored-note/index.html
  sessions/react-with-local-storage/stored-note/public/favicon.ico
  sessions/react-with-local-storage/stored-note/public/pencil.png
Due: none

minor css update
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/components/PokemonList.css
Due: none

update eslint to vite
  sessions/react-effects-and-fetch/demo-end/.eslintrc.cjs
  sessions/react-effects-and-fetch/demo-end/.eslintrc.json
Due: npx prettier --write

add vite config
  sessions/react-effects-and-fetch/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-effects-and-fetch/demo-end/package.json
Due: npx prettier --write

move html and add favicon
  sessions/react-effects-and-fetch/demo-end/index.html
  sessions/react-effects-and-fetch/demo-end/public/favicon.png
Due: none

change js to jsx and add SP style
  sessions/react-effects-and-fetch/demo-end/src/App.css
  sessions/react-effects-and-fetch/demo-end/src/App.jsx
  sessions/react-effects-and-fetch/demo-end/src/components/Joke.css
  sessions/react-effects-and-fetch/demo-end/src/components/Joke.jsx
  sessions/react-effects-and-fetch/demo-end/src/index.jsx
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-effects-and-fetch/demo-end/README.md
Due: npx prettier --write

add class to button
  sessions/react-effects-and-fetch/demo-end/src/components/Joke.jsx
Due: npx eslint --fix, npx prettier --write

updated code and removed old challenge
  sessions/react-with-local-storage/journal-app-with-local-storage/.eslintrc.cjs
  sessions/react-with-local-storage/journal-app-with-local-storage/.gitignore
  sessions/react-with-local-storage/journal-app-with-local-storage/.prettierrc.json
  sessions/react-with-local-storage/journal-app-with-local-storage/README.md
  sessions/react-with-local-storage/journal-app-with-local-storage/index.html
  sessions/react-with-local-storage/journal-app-with-local-storage/package.json
  sessions/react-with-local-storage/journal-app-with-local-storage/public/favicon.ico
  sessions/react-with-local-storage/journal-app-with-local-storage/public/index.html
  sessions/react-with-local-storage/journal-app-with-local-storage/src/App.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/colors.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Badge/Badge.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Badge/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Button/Button.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Button/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Divider/Divider.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Divider/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntriesSection/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Entry/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntryForm/EntryForm.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/EntryForm/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/star-filled.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/FavoriteButton/star.svg
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Footer/Footer.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Footer/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Header/Header.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Header/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tab/Tab.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tab/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/components/Tabs/index.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/index.css
  sessions/react-with-local-storage/journal-app-with-local-storage/src/index.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/main.jsx
  sessions/react-with-local-storage/journal-app-with-local-storage/src/reportWebVitals.js
  sessions/react-with-local-storage/journal-app-with-local-storage/src/setupTests.js
  sessions/react-with-local-storage/journal-app-with-local-storage/vite.config.js
Due: npx eslint --fix, npx prettier --write

initialized vite
  sessions/react-with-local-storage/demo-start-old/.eslintrc.json
  sessions/react-with-local-storage/demo-start-old/.gitignore
  sessions/react-with-local-storage/demo-start-old/.prettierrc.json
  sessions/react-with-local-storage/demo-start-old/README.md
  sessions/react-with-local-storage/demo-start-old/package.json
  sessions/react-with-local-storage/demo-start-old/public/index.html
  sessions/react-with-local-storage/demo-start-old/src/App.js
  sessions/react-with-local-storage/demo-start-old/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-start-old/src/components/Form/index.js
  sessions/react-with-local-storage/demo-start-old/src/components/List/List.css
  sessions/react-with-local-storage/demo-start-old/src/components/List/index.js
  sessions/react-with-local-storage/demo-start-old/src/index.js
  sessions/react-with-local-storage/demo-start-old/src/styles.css
  sessions/react-with-local-storage/demo-start/.eslintrc.cjs
  sessions/react-with-local-storage/demo-start/.gitignore
  sessions/react-with-local-storage/demo-start/README.md
  sessions/react-with-local-storage/demo-start/index.html
  sessions/react-with-local-storage/demo-start/package.json
  sessions/react-with-local-storage/demo-start/public/vite.svg
  sessions/react-with-local-storage/demo-start/src/App.css
  sessions/react-with-local-storage/demo-start/src/App.jsx
  sessions/react-with-local-storage/demo-start/src/assets/react.svg
  sessions/react-with-local-storage/demo-start/src/index.css
  sessions/react-with-local-storage/demo-start/src/main.jsx
  sessions/react-with-local-storage/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated readme and package.json
  sessions/react-with-local-storage/demo-start-old/package.json
  sessions/react-with-local-storage/demo-start/README.md
  sessions/react-with-local-storage/demo-start/package.json
Due: npx prettier --write

updated code and removed old challenge
  sessions/react-with-local-storage/demo-start/index.html
  sessions/react-with-local-storage/demo-start/public/favicon.ico
  sessions/react-with-local-storage/demo-start/public/vite.svg
  sessions/react-with-local-storage/demo-start/src/App.css
  sessions/react-with-local-storage/demo-start/src/App.jsx
  sessions/react-with-local-storage/demo-start/src/assets/react.svg
  sessions/react-with-local-storage/demo-start/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-start/src/components/Form/index.jsx
  sessions/react-with-local-storage/demo-start/src/components/List/List.css
  sessions/react-with-local-storage/demo-start/src/components/List/index.jsx
  sessions/react-with-local-storage/demo-start/src/index.css
  sessions/react-with-local-storage/demo-start/src/main.jsx
Due: npx eslint --fix, npx prettier --write

deleted old demo start
  sessions/react-with-local-storage/demo-start-old/.eslintrc.json
  sessions/react-with-local-storage/demo-start-old/.gitignore
  sessions/react-with-local-storage/demo-start-old/.prettierrc.json
  sessions/react-with-local-storage/demo-start-old/README.md
  sessions/react-with-local-storage/demo-start-old/package.json
  sessions/react-with-local-storage/demo-start-old/public/index.html
  sessions/react-with-local-storage/demo-start-old/src/App.js
  sessions/react-with-local-storage/demo-start-old/src/components/Form/Form.css
  sessions/react-with-local-storage/demo-start-old/src/components/Form/index.js
  sessions/react-with-local-storage/demo-start-old/src/components/List/List.css
  sessions/react-with-local-storage/demo-start-old/src/components/List/index.js
  sessions/react-with-local-storage/demo-start-old/src/index.js
  sessions/react-with-local-storage/demo-start-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

change style so in the end it looks like pokemon api with paging
  sessions/react-effects-and-fetch/pokemon-api/src/components/PokemonList.css
Due: none

updated new code
  sessions/react-with-local-storage/demo-end/.eslintrc.cjs
  sessions/react-with-local-storage/demo-end/.eslintrc.json
  sessions/react-with-local-storage/demo-end/.gitignore
  sessions/react-with-local-storage/demo-end/.prettierrc.json
  sessions/react-with-local-storage/demo-end/README.md
  sessions/react-with-local-storage/demo-end/index.html
  sessions/react-with-local-storage/demo-end/package.json
  sessions/react-with-local-storage/demo-end/public/favicon.ico
  sessions/react-with-local-storage/demo-end/public/index.html
  sessions/react-with-local-storage/demo-end/src/App.css
  sessions/react-with-local-storage/demo-end/src/App.jsx
  sessions/react-with-local-storage/demo-end/src/components/Form/index.jsx
  sessions/react-with-local-storage/demo-end/src/components/List/index.jsx
  sessions/react-with-local-storage/demo-end/src/index.js
  sessions/react-with-local-storage/demo-end/src/main.jsx
  sessions/react-with-local-storage/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated package.json
  sessions/react-with-local-storage/demo-end/package.json
Due: npx prettier --write

added react/prop-types in demo start
  sessions/react-with-local-storage/demo-start/.eslintrc.cjs
Due: none

update eslint
  sessions/react-custom-hooks/demo-end/.eslintrc.cjs
  sessions/react-custom-hooks/demo-end/.eslintrc.json
Due: npx prettier --write

add vite config
  sessions/react-custom-hooks/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-custom-hooks/demo-end/package.json
Due: npx prettier --write

update readme
  sessions/react-custom-hooks/demo-end/README.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
