Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

update to svg export
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star-filled.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star-filled.svg
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star.svg
Due: npx eslint --fix, npx prettier --write

updated css
  sessions/react-state/journal-app-favorite-button/src/App.css
Due: none

updated code for demo start and end
  sessions/react-state/demo-counter-end-old/.eslintrc.json
  sessions/react-state/demo-counter-end-old/.gitignore
  sessions/react-state/demo-counter-end-old/.prettierrc.json
  sessions/react-state/demo-counter-end-old/README.md
  sessions/react-state/demo-counter-end-old/package.json
  sessions/react-state/demo-counter-end-old/public/index.html
  sessions/react-state/demo-counter-end-old/src/App.js
  sessions/react-state/demo-counter-end-old/src/index.js
  sessions/react-state/demo-counter-end-old/src/styles.css
  sessions/react-state/demo-counter-end/index.html
  sessions/react-state/demo-counter-end/package.json
  sessions/react-state/demo-counter-end/public/favicon.ico
  sessions/react-state/demo-counter-end/public/vite.svg
  sessions/react-state/demo-counter-end/src/App.css
  sessions/react-state/demo-counter-end/src/App.jsx
  sessions/react-state/demo-counter-end/src/assets/react.svg
  sessions/react-state/demo-counter-end/src/index.css
  sessions/react-state/demo-counter-end/src/main.jsx
  sessions/react-state/demo-counter-start-old/.eslintrc.json
  sessions/react-state/demo-counter-start-old/.gitignore
  sessions/react-state/demo-counter-start-old/.prettierrc.json
  sessions/react-state/demo-counter-start-old/README.md
  sessions/react-state/demo-counter-start-old/package.json
  sessions/react-state/demo-counter-start-old/public/index.html
  sessions/react-state/demo-counter-start-old/src/App.js
  sessions/react-state/demo-counter-start-old/src/index.js
  sessions/react-state/demo-counter-start-old/src/styles.css
  sessions/react-state/demo-counter-start/index.html
  sessions/react-state/demo-counter-start/package.json
  sessions/react-state/demo-counter-start/public/favicon.ico
  sessions/react-state/demo-counter-start/public/vite.svg
  sessions/react-state/demo-counter-start/src/App.css
  sessions/react-state/demo-counter-start/src/App.jsx
  sessions/react-state/demo-counter-start/src/assets/react.svg
  sessions/react-state/demo-counter-start/src/index.css
  sessions/react-state/demo-counter-start/src/main.jsx
Due: npx eslint --fix, npx prettier --write

updated readme demo end
  sessions/react-state/demo-counter-end/README.md
Due: npx prettier --write

updated readme demo start
  sessions/react-state/demo-counter-start/README.md
Due: npx prettier --write

initialized vite app
  sessions/react-state/demo-food-order-end-old/.eslintrc.json
  sessions/react-state/demo-food-order-end-old/.gitignore
  sessions/react-state/demo-food-order-end-old/.prettierrc.json
  sessions/react-state/demo-food-order-end-old/README.md
  sessions/react-state/demo-food-order-end-old/package.json
  sessions/react-state/demo-food-order-end-old/public/index.html
  sessions/react-state/demo-food-order-end-old/src/App.js
  sessions/react-state/demo-food-order-end-old/src/index.js
  sessions/react-state/demo-food-order-end-old/src/styles.css
  sessions/react-state/demo-food-order-end/.eslintrc.cjs
  sessions/react-state/demo-food-order-end/.gitignore
  sessions/react-state/demo-food-order-end/README.md
  sessions/react-state/demo-food-order-end/index.html
  sessions/react-state/demo-food-order-end/package.json
  sessions/react-state/demo-food-order-end/public/favicon.ico
  sessions/react-state/demo-food-order-end/src/App.css
  sessions/react-state/demo-food-order-end/src/App.jsx
  sessions/react-state/demo-food-order-end/src/index.css
  sessions/react-state/demo-food-order-end/src/main.jsx
  sessions/react-state/demo-food-order-end/vite.config.js
  sessions/react-state/demo-food-order-start-old/.eslintrc.json
  sessions/react-state/demo-food-order-start-old/.gitignore
  sessions/react-state/demo-food-order-start-old/.prettierrc.json
  sessions/react-state/demo-food-order-start-old/README.md
  sessions/react-state/demo-food-order-start-old/package.json
  sessions/react-state/demo-food-order-start-old/public/index.html
  sessions/react-state/demo-food-order-start-old/src/App.js
  sessions/react-state/demo-food-order-start-old/src/index.js
  sessions/react-state/demo-food-order-start-old/src/styles.css
  sessions/react-state/demo-food-order-start/.eslintrc.cjs
  sessions/react-state/demo-food-order-start/.gitignore
  sessions/react-state/demo-food-order-start/README.md
  sessions/react-state/demo-food-order-start/index.html
  sessions/react-state/demo-food-order-start/package.json
  sessions/react-state/demo-food-order-start/public/favicon.ico
  sessions/react-state/demo-food-order-start/src/App.css
  sessions/react-state/demo-food-order-start/src/App.jsx
  sessions/react-state/demo-food-order-start/src/index.css
  sessions/react-state/demo-food-order-start/src/main.jsx
  sessions/react-state/demo-food-order-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state/demo-food-order-end-old/.eslintrc.json
  sessions/react-state/demo-food-order-end-old/.gitignore
  sessions/react-state/demo-food-order-end-old/.prettierrc.json
  sessions/react-state/demo-food-order-end-old/README.md
  sessions/react-state/demo-food-order-end-old/package.json
  sessions/react-state/demo-food-order-end-old/public/index.html
  sessions/react-state/demo-food-order-end-old/src/App.js
  sessions/react-state/demo-food-order-end-old/src/index.js
  sessions/react-state/demo-food-order-end-old/src/styles.css
  sessions/react-state/demo-food-order-end/README.md
  sessions/react-state/demo-food-order-end/index.html
  sessions/react-state/demo-food-order-end/package.json
  sessions/react-state/demo-food-order-end/src/App.css
  sessions/react-state/demo-food-order-end/src/App.jsx
  sessions/react-state/demo-food-order-end/src/index.css
  sessions/react-state/demo-food-order-end/src/main.jsx
  sessions/react-state/demo-food-order-start-old/.eslintrc.json
  sessions/react-state/demo-food-order-start-old/.gitignore
  sessions/react-state/demo-food-order-start-old/.prettierrc.json
  sessions/react-state/demo-food-order-start-old/README.md
  sessions/react-state/demo-food-order-start-old/package.json
  sessions/react-state/demo-food-order-start-old/public/index.html
  sessions/react-state/demo-food-order-start-old/src/App.js
  sessions/react-state/demo-food-order-start-old/src/index.js
  sessions/react-state/demo-food-order-start-old/src/styles.css
  sessions/react-state/demo-food-order-start/README.md
  sessions/react-state/demo-food-order-start/index.html
  sessions/react-state/demo-food-order-start/package.json
  sessions/react-state/demo-food-order-start/src/App.css
  sessions/react-state/demo-food-order-start/src/App.jsx
  sessions/react-state/demo-food-order-start/src/index.css
  sessions/react-state/demo-food-order-start/src/main.jsx
Due: npx eslint --fix, npx prettier --write

migrate to vite
  sessions/react-with-arrays/fruits/.eslintrc.cjs
  sessions/react-with-arrays/fruits/.eslintrc.json
  sessions/react-with-arrays/fruits/.gitignore
  sessions/react-with-arrays/fruits/.prettierrc.json
  sessions/react-with-arrays/fruits/README.md
  sessions/react-with-arrays/fruits/index.html
  sessions/react-with-arrays/fruits/package.json
  sessions/react-with-arrays/fruits/public/fruit.png
  sessions/react-with-arrays/fruits/public/index.html
  sessions/react-with-arrays/fruits/src/App.css
  sessions/react-with-arrays/fruits/src/App.jsx
  sessions/react-with-arrays/fruits/src/components/Card.css
  sessions/react-with-arrays/fruits/src/components/Card.jsx
  sessions/react-with-arrays/fruits/src/index.css
  sessions/react-with-arrays/fruits/src/main.jsx
  sessions/react-with-arrays/fruits/src/styles.css
  sessions/react-with-arrays/fruits/vite.config.js
Due: npx eslint --fix, npx prettier --write

new file eslint
  sessions/react-with-arrays/journal-app-entries-array/.eslintrc.cjs
Due: none

add and remove packages
  sessions/react-with-arrays/journal-app-entries-array/package.json
Due: npx prettier --write

change extension js to jsx
  sessions/react-with-arrays/journal-app-entries-array/src/App.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Badge/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Button/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Divider/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntriesSection/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Entry/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntryForm/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/FavoriteButton/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Footer/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Header/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Tab/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/Tabs/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/reportWebVitals.js
  sessions/react-with-arrays/journal-app-entries-array/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

add vite config
  sessions/react-with-arrays/journal-app-entries-array/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-with-arrays/journal-app-entries-array/index.html
  sessions/react-with-arrays/journal-app-entries-array/public/notebook.png
Due: none

added svg package
  sessions/react-state/journal-app-favorite-button/package.json
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/index.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star-filled.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star-filled.svg
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star.jsx
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star.svg
  sessions/react-state/journal-app-favorite-button/vite.config.js
Due: npx eslint --fix, npx prettier --write

app.css
  sessions/react-state/journal-app-favorite-button/src/App.css
Due: none

instal svg package and styling
  sessions/react-with-arrays/journal-app-entries-array/README.md
  sessions/react-with-arrays/journal-app-entries-array/package.json
  sessions/react-with-arrays/journal-app-entries-array/src/App.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/colors.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/Badge/Badge.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/Button/Button.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/Divider/Divider.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntryForm/EntryForm.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/FavoriteButton/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/src/components/FavoriteButton/star-filled.svg
  sessions/react-with-arrays/journal-app-entries-array/src/components/Footer/Footer.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/Header/Header.css
  sessions/react-with-arrays/journal-app-entries-array/src/components/Tab/Tab.css
  sessions/react-with-arrays/journal-app-entries-array/src/index.jsx
  sessions/react-with-arrays/journal-app-entries-array/vite.config.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-array-methods-2/zoo-animals/README.md
  sessions/js-array-methods-2/zoo-animals/README.md
Due: npx prettier --write

delete unnessesary files and fix typos (#356)
  sessions/js-array-methods-2/demo-start/README.md
  sessions/js-array-methods-2/demo-start/js/index.test.js
  sessions/js-array-methods-2/demo-start/js/utils.js
Due: npx eslint --fix, npx prettier --write

change eslint config and add and remove packagees
  sessions/react-with-arrays/users/.eslintrc.cjs
  sessions/react-with-arrays/users/.eslintrc.json
  sessions/react-with-arrays/users/package.json
Due: npx prettier --write

add vite config
  sessions/react-with-arrays/users/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated color scheme to spiced colors
  sessions/react-state/journal-app-favorite-button/src/App.css
  sessions/react-state/journal-app-favorite-button/src/components/Badge/Badge.css
  sessions/react-state/journal-app-favorite-button/src/components/Button/Button.css
  sessions/react-state/journal-app-favorite-button/src/components/Divider/Divider.css
  sessions/react-state/journal-app-favorite-button/src/components/EntryForm/EntryForm.css
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state/journal-app-favorite-button/src/components/Footer/Footer.css
  sessions/react-state/journal-app-favorite-button/src/components/Header/Header.css
  sessions/react-state/journal-app-favorite-button/src/components/Tab/Tab.css
  sessions/react-state/journal-app-favorite-button/src/index.css
  sessions/react-state/journal-app-favorite-button/src/main.jsx
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-with-arrays/users/index.html
  sessions/react-with-arrays/users/public/teamwork.png
Due: none

updated css files
  sessions/react-state/journal-app-favorite-button/src/App.css
  sessions/react-state/journal-app-favorite-button/src/index.css
  sessions/react-state/journal-app-favorite-button/src/main.jsx
Due: npx eslint --fix, npx prettier --write

change js to jsx
  sessions/react-with-arrays/users/src/App.jsx
  sessions/react-with-arrays/users/src/components/Button.jsx
  sessions/react-with-arrays/users/src/components/Card.jsx
  sessions/react-with-arrays/users/src/components/Tag.jsx
  sessions/react-with-arrays/users/src/components/Title.jsx
  sessions/react-with-arrays/users/src/index.jsx
Due: npx eslint --fix, npx prettier --write

fix style and change to spiced colors
  sessions/react-with-arrays/users/src/components/Button.css
  sessions/react-with-arrays/users/src/components/Card.css
  sessions/react-with-arrays/users/src/components/Tag.css
  sessions/react-with-arrays/users/src/components/Title.css
  sessions/react-with-arrays/users/src/styles.css
Due: none

update readme to changes
  sessions/react-with-arrays/users/README.md
Due: npx prettier --write

delete hi in app
  sessions/react-with-arrays/journal-app-entries-array/src/App.jsx
Due: npx eslint --fix, npx prettier --write

changed to spiced colors
  sessions/react-state/counter/src/App.css
Due: none

changed to spiced colors
  sessions/react-state/emoji-checker/src/App.css
Due: none

changed to spiced color
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star-filled.svg
  sessions/react-state/journal-app-favorite-button/src/components/FavoriteButton/star.svg
Due: none

change color css place and delete color.css
  sessions/react-with-arrays/journal-app-entries-array/src/colors.css
  sessions/react-with-arrays/journal-app-entries-array/src/index.css
Due: none

eslint config
  sessions/react-with-arrays/demo-start/.eslintrc.cjs
  sessions/react-with-arrays/demo-start/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-with-arrays/demo-start/package.json
Due: npx prettier --write

add vite config
  sessions/react-with-arrays/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

move html and add favicon
  sessions/react-with-arrays/demo-start/index.html
  sessions/react-with-arrays/demo-start/public/favicon.ico
Due: none

rename js to jsx
  sessions/react-with-arrays/demo-start/src/App.jsx
  sessions/react-with-arrays/demo-start/src/components/PokemonCard.jsx
  sessions/react-with-arrays/demo-start/src/index.jsx
Due: npx eslint --fix, npx prettier --write

add spiced colors style and fix icon
  sessions/react-with-arrays/demo-start/index.html
  sessions/react-with-arrays/demo-start/src/App.css
  sessions/react-with-arrays/demo-start/src/components/PokemonCard.css
  sessions/react-with-arrays/demo-start/src/styles.css
Due: none

fixing favicon
  sessions/react-state/counter/index.html
  sessions/react-state/counter/public/favicon.ico
  sessions/react-state/counter/public/favicon.png
Due: none
