Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Recap Projects: Refactor Folder Structure (#237)
  sessions/backend-basics/routes/package.json
  sessions/recap-project-1/quiz-app/.gitignore
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-1/quiz-app/assets/bookmarkspage.png
  sessions/recap-project-1/quiz-app/assets/homepage.png
  sessions/recap-project-1/quiz-app/assets/wireframes.excalidraw
  sessions/recap-project-1/quiz-app/package.json
  sessions/recap-project-1/quiz-app/sandbox.config.json
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-3/example-implementation/.eslintrc.json
  sessions/recap-project-3/example-implementation/.gitignore
  sessions/recap-project-3/example-implementation/.prettierrc.json
  sessions/recap-project-3/example-implementation/README.md
  sessions/recap-project-3/example-implementation/assets/magnifying-glass.png
  sessions/recap-project-3/example-implementation/components/card/card.css
  sessions/recap-project-3/example-implementation/components/card/card.js
  sessions/recap-project-3/example-implementation/components/nav-button/nav-button.css
  sessions/recap-project-3/example-implementation/components/nav-button/nav-button.js
  sessions/recap-project-3/example-implementation/components/nav-pagination/nav-pagination.css
  sessions/recap-project-3/example-implementation/components/nav-pagination/nav-pagination.js
  sessions/recap-project-3/example-implementation/components/search-bar/search-bar.css
  sessions/recap-project-3/example-implementation/components/search-bar/search-bar.js
  sessions/recap-project-3/example-implementation/index.html
  sessions/recap-project-3/example-implementation/index.js
  sessions/recap-project-3/example-implementation/package.json
  sessions/recap-project-3/example-implementation/sandbox.config.json
  sessions/recap-project-3/example-implementation/styles.css
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-4/weather-and-activities-app/.gitignore
  sessions/recap-project-4/weather-and-activities-app/README.md
  sessions/recap-project-4/weather-and-activities-app/img/delete-button.png
  sessions/recap-project-4/weather-and-activities-app/img/fetch-api.png
  sessions/recap-project-4/weather-and-activities-app/img/filtered_list.png
  sessions/recap-project-4/weather-and-activities-app/img/form.png
  sessions/recap-project-4/weather-and-activities-app/img/list.png
  sessions/recap-project-4/weather-and-activities-app/img/recap_project_4_sketch.png
  sessions/recap-project-4/weather-and-activities-app/package.json
  sessions/recap-project-4/weather-and-activities-app/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update App.js
  sessions/recap-project-4/example-implementation/src/App.js
Due: npx eslint --fix, npx prettier --write

Delete sessions/react-usestate-and-events-advanced directory
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/.gitignore
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/.prettierrc.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/README.md
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/package.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/public/index.html
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/sandbox.config.json
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/App.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/Form.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/Movie.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/index.js
  sessions/react-usestate-and-events-advanced/add-delete-update-objects-in-state-array/src/styles.css
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.gitignore
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/.prettierrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/README.md
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/public/index.html
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/sandbox.config.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/App.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/Form.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/index.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/src/styles.css
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/.codesandbox/workspace.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/.gitignore
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/.prettierrc.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/README.md
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/public/index.html
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/sandbox.config.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/App.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/form.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/index.js
  sessions/react-usestate-and-events-advanced/lifting-up-state-using-a-form/src/styles.css
Due: npx eslint --fix, npx prettier --write

Delete sessions/react-usestate-and-events-exercise-03 directory
  sessions/react-usestate-and-events-exercise-03/.codesandbox/workspace.json
  sessions/react-usestate-and-events-exercise-03/package.json
  sessions/react-usestate-and-events-exercise-03/public/index.html
  sessions/react-usestate-and-events-exercise-03/src/App.js
  sessions/react-usestate-and-events-exercise-03/src/index.js
  sessions/react-usestate-and-events-exercise-03/src/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/backend-api-routes/demo-end/pages/api/jokes/[id].js
  sessions/backend-api-routes/demo-end/pages/api/jokes/[id].js
Due: npx eslint --fix, npx prettier --write

Update sessions/backend-api-routes/random-character/README.md
  sessions/backend-api-routes/random-character/README.md
Due: npx prettier --write

Backend API Routes: Random Character Challenge (#233)
  package-lock.json
  sessions/backend-api-routes/random-character/.eslintrc.json
  sessions/backend-api-routes/random-character/.gitignore
  sessions/backend-api-routes/random-character/.prettierrc.json
  sessions/backend-api-routes/random-character/README.md
  sessions/backend-api-routes/random-character/jest.config.js
  sessions/backend-api-routes/random-character/jest.setup.js
  sessions/backend-api-routes/random-character/next.config.js
  sessions/backend-api-routes/random-character/package.json
  sessions/backend-api-routes/random-character/pages/_app.js
  sessions/backend-api-routes/random-character/pages/_document.js
  sessions/backend-api-routes/random-character/pages/index.js
  sessions/backend-api-routes/random-character/public/favicon.ico
  sessions/backend-api-routes/random-character/sandbox.config.json
  sessions/backend-api-routes/random-character/styles.js
Due: npx eslint --fix, npx prettier --write

Backend API Routes: Products Challenge (#230)
  package-lock.json
  sessions/backend-api-routes/products/.eslintrc.json
  sessions/backend-api-routes/products/.gitignore
  sessions/backend-api-routes/products/.prettierrc.json
  sessions/backend-api-routes/products/README.md
  sessions/backend-api-routes/products/jest.config.js
  sessions/backend-api-routes/products/jest.setup.js
  sessions/backend-api-routes/products/next.config.js
  sessions/backend-api-routes/products/package.json
  sessions/backend-api-routes/products/pages/_app.js
  sessions/backend-api-routes/products/pages/_document.js
  sessions/backend-api-routes/products/pages/index.js
  sessions/backend-api-routes/products/public/favicon.ico
  sessions/backend-api-routes/products/sandbox.config.json
  sessions/backend-api-routes/products/services/productServices.js
  sessions/backend-api-routes/products/styles.js
Due: npx eslint --fix, npx prettier --write

Backend API Routes: Demo (#235)
  package-lock.json
  sessions/backend-api-routes/demo-end/.eslintrc.json
  sessions/backend-api-routes/demo-end/.gitignore
  sessions/backend-api-routes/demo-end/.prettierrc.json
  sessions/backend-api-routes/demo-end/README.md
  sessions/backend-api-routes/demo-end/components/Joke/index.js
  sessions/backend-api-routes/demo-end/components/JokeList/index.js
  sessions/backend-api-routes/demo-end/jest.config.js
  sessions/backend-api-routes/demo-end/jest.setup.js
  sessions/backend-api-routes/demo-end/lib/data.js
  sessions/backend-api-routes/demo-end/next.config.js
  sessions/backend-api-routes/demo-end/package.json
  sessions/backend-api-routes/demo-end/pages/[id].js
  sessions/backend-api-routes/demo-end/pages/_app.js
  sessions/backend-api-routes/demo-end/pages/_document.js
  sessions/backend-api-routes/demo-end/pages/api/jokes/[id].js
  sessions/backend-api-routes/demo-end/pages/api/jokes/index.js
  sessions/backend-api-routes/demo-end/pages/index.js
  sessions/backend-api-routes/demo-end/public/favicon.ico
  sessions/backend-api-routes/demo-end/sandbox.config.json
  sessions/backend-api-routes/demo-end/styles.js
  sessions/backend-api-routes/demo-start/.eslintrc.json
  sessions/backend-api-routes/demo-start/.gitignore
  sessions/backend-api-routes/demo-start/.prettierrc.json
  sessions/backend-api-routes/demo-start/README.md
  sessions/backend-api-routes/demo-start/components/Joke/index.js
  sessions/backend-api-routes/demo-start/components/JokeList/index.js
  sessions/backend-api-routes/demo-start/jest.config.js
  sessions/backend-api-routes/demo-start/jest.setup.js
  sessions/backend-api-routes/demo-start/lib/data.js
  sessions/backend-api-routes/demo-start/next.config.js
  sessions/backend-api-routes/demo-start/package.json
  sessions/backend-api-routes/demo-start/pages/[id].js
  sessions/backend-api-routes/demo-start/pages/_app.js
  sessions/backend-api-routes/demo-start/pages/_document.js
  sessions/backend-api-routes/demo-start/pages/index.js
  sessions/backend-api-routes/demo-start/public/favicon.ico
  sessions/backend-api-routes/demo-start/sandbox.config.json
  sessions/backend-api-routes/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

add queries challenge
  sessions/backend-mongodb/queries/.gitignore
  sessions/backend-mongodb/queries/README.md
  sessions/backend-mongodb/queries/package.json
  sessions/backend-mongodb/queries/resources.zip
  sessions/backend-mongodb/queries/resources/data.json
  sessions/backend-mongodb/queries/sandbox.config.json
Due: npx prettier --write

add database design challenge
  sessions/backend-mongodb/database-design/.gitignore
  sessions/backend-mongodb/database-design/README.md
  sessions/backend-mongodb/database-design/assets/database-design-example.png
  sessions/backend-mongodb/database-design/package.json
  sessions/backend-mongodb/database-design/sandbox.config.json
Due: npx prettier --write

add end version of demo
  package-lock.json
  sessions/backend-read/demo-end/.eslintrc.json
  sessions/backend-read/demo-end/.gitignore
  sessions/backend-read/demo-end/.prettierrc.json
  sessions/backend-read/demo-end/README.md
  sessions/backend-read/demo-end/components/Joke/index.js
  sessions/backend-read/demo-end/components/JokeList/index.js
  sessions/backend-read/demo-end/db/connect-db.js
  sessions/backend-read/demo-end/db/models/Joke.js
  sessions/backend-read/demo-end/jest.config.js
  sessions/backend-read/demo-end/jest.setup.js
  sessions/backend-read/demo-end/next.config.js
  sessions/backend-read/demo-end/package.json
  sessions/backend-read/demo-end/pages/[id].js
  sessions/backend-read/demo-end/pages/_app.js
  sessions/backend-read/demo-end/pages/_document.js
  sessions/backend-read/demo-end/pages/api/jokes/[id].js
  sessions/backend-read/demo-end/pages/api/jokes/index.js
  sessions/backend-read/demo-end/pages/index.js
  sessions/backend-read/demo-end/public/favicon.ico
  sessions/backend-read/demo-end/sandbox.config.json
  sessions/backend-read/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

add starter for demo
  sessions/backend-read/demo-start/.eslintrc.json
  sessions/backend-read/demo-start/.gitignore
  sessions/backend-read/demo-start/.prettierrc.json
  sessions/backend-read/demo-start/README.md
  sessions/backend-read/demo-start/components/Joke/index.js
  sessions/backend-read/demo-start/components/JokeList/index.js
  sessions/backend-read/demo-start/jest.config.js
  sessions/backend-read/demo-start/jest.setup.js
  sessions/backend-read/demo-start/lib/data.js
  sessions/backend-read/demo-start/next.config.js
  sessions/backend-read/demo-start/package.json
  sessions/backend-read/demo-start/pages/[id].js
  sessions/backend-read/demo-start/pages/_app.js
  sessions/backend-read/demo-start/pages/_document.js
  sessions/backend-read/demo-start/pages/api/jokes/[id].js
  sessions/backend-read/demo-start/pages/api/jokes/index.js
  sessions/backend-read/demo-start/pages/index.js
  sessions/backend-read/demo-start/public/favicon.ico
  sessions/backend-read/demo-start/sandbox.config.json
  sessions/backend-read/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

fix naming of connect.js file
  sessions/backend-read/demo-end/db/connect.js
  sessions/backend-read/demo-end/pages/api/jokes/[id].js
  sessions/backend-read/demo-end/pages/api/jokes/index.js
Due: npx eslint --fix, npx prettier --write

add database design challenge (#239)
  sessions/backend-mongodb/database-design/.gitignore
  sessions/backend-mongodb/database-design/README.md
  sessions/backend-mongodb/database-design/assets/database-design-example.png
  sessions/backend-mongodb/database-design/package.json
  sessions/backend-mongodb/database-design/sandbox.config.json
Due: npx prettier --write

add queries challenge (#238)
  sessions/backend-mongodb/queries/.gitignore
  sessions/backend-mongodb/queries/README.md
  sessions/backend-mongodb/queries/package.json
  sessions/backend-mongodb/queries/resources.zip
  sessions/backend-mongodb/queries/resources/data.json
  sessions/backend-mongodb/queries/sandbox.config.json
Due: npx prettier --write

update movies mapping to match session guide
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/index.js
Due: npx eslint --fix, npx prettier --write

update movies mapping to match session guide (#241)
  sessions/nextjs-dynamic-routes/demo-end/pages/movies/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/backend-read/demo-end/styles.js
  sessions/backend-read/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

Update sessions/backend-read/demo-start/styles.js
  sessions/backend-read/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

setup backend-read products challenge
  package-lock.json
  sessions/backend-read/products/.eslintrc.json
  sessions/backend-read/products/.gitignore
  sessions/backend-read/products/.prettierrc.json
  sessions/backend-read/products/README.md
  sessions/backend-read/products/jest.config.js
  sessions/backend-read/products/jest.setup.js
  sessions/backend-read/products/next.config.js
  sessions/backend-read/products/package.json
  sessions/backend-read/products/pages/_app.js
  sessions/backend-read/products/pages/_document.js
  sessions/backend-read/products/pages/index.js
  sessions/backend-read/products/public/favicon.ico
  sessions/backend-read/products/resources/products.json
  sessions/backend-read/products/sandbox.config.json
  sessions/backend-read/products/styles.js
Due: npx eslint --fix, npx prettier --write

adjust styles.js in backend-read and backend-api-routes
  package-lock.json
  sessions/backend-api-routes/demo-end/styles.js
  sessions/backend-api-routes/demo-start/styles.js
  sessions/backend-read/demo-end/styles.js
  sessions/backend-read/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

add product overview with connection to database
  package-lock.json
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-read/products/db/connect.js
  sessions/backend-read/products/db/models/Product.js
  sessions/backend-read/products/package.json
  sessions/backend-read/products/pages/_app.js
  sessions/backend-read/products/pages/api/products/index.js
  sessions/backend-read/products/pages/index.js
  sessions/backend-read/products/resources/products.json
Due: npx eslint --fix, npx prettier --write

feat: add demo start and end to css-positioning exercises
  sessions/css-positioning/demo-end/.gitignore
  sessions/css-positioning/demo-end/.prettierrc.json
  sessions/css-positioning/demo-end/README.md
  sessions/css-positioning/demo-end/css/styles.css
  sessions/css-positioning/demo-end/index.html
  sessions/css-positioning/demo-end/package.json
  sessions/css-positioning/demo-end/sandbox.config.json
  sessions/css-positioning/demo-start/.gitignore
  sessions/css-positioning/demo-start/.prettierrc.json
  sessions/css-positioning/demo-start/README.md
  sessions/css-positioning/demo-start/css/styles.css
  sessions/css-positioning/demo-start/index.html
  sessions/css-positioning/demo-start/package.json
  sessions/css-positioning/demo-start/sandbox.config.json
Due: npx prettier --write

finish details page and styling
  sessions/backend-read/products/components/Button/Button.styled.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-read/products/pages/[id].js
  sessions/backend-read/products/pages/api/products/[id].js
  sessions/backend-read/products/pages/index.js
  sessions/backend-read/products/styles.js
Due: npx eslint --fix, npx prettier --write

fix: missing position properties
  sessions/css-positioning/demo-end/css/styles.css
Due: none

feat: add demo start and end to css-positioning exercises (#242)
  sessions/css-positioning/demo-end/.gitignore
  sessions/css-positioning/demo-end/.prettierrc.json
  sessions/css-positioning/demo-end/README.md
  sessions/css-positioning/demo-end/css/styles.css
  sessions/css-positioning/demo-end/index.html
  sessions/css-positioning/demo-end/package.json
  sessions/css-positioning/demo-end/sandbox.config.json
  sessions/css-positioning/demo-start/.gitignore
  sessions/css-positioning/demo-start/.prettierrc.json
  sessions/css-positioning/demo-start/README.md
  sessions/css-positioning/demo-start/css/styles.css
  sessions/css-positioning/demo-start/index.html
  sessions/css-positioning/demo-start/package.json
  sessions/css-positioning/demo-start/sandbox.config.json
Due: npx prettier --write

add first draft of bonus part
  package-lock.json
  sessions/backend-read/products/db/models/Product.js
  sessions/backend-read/products/db/models/Review.js
  sessions/backend-read/products/pages/api/products/[id].js
  sessions/backend-read/products/resources/bonus-products.json
  sessions/backend-read/products/resources/bonus-reviews.json
Due: npx eslint --fix, npx prettier --write

Update sessions/backend-create/demo-end/components/Joke/index.js
  sessions/backend-create/demo-end/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

finish products challenge end version
  sessions/backend-read/products/components/Comments/index.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

add starter for products challenge
  sessions/backend-create/products/.eslintrc.json
  sessions/backend-create/products/.gitignore
  sessions/backend-create/products/.prettierrc.json
  sessions/backend-create/products/README.md
  sessions/backend-create/products/components/Button/Button.styled.js
  sessions/backend-create/products/components/Comments/index.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-create/products/components/ProductList/index.js
  sessions/backend-create/products/db/connect.js
  sessions/backend-create/products/db/models/Product.js
  sessions/backend-create/products/db/models/Review.js
  sessions/backend-create/products/jest.config.js
  sessions/backend-create/products/jest.setup.js
  sessions/backend-create/products/next.config.js
  sessions/backend-create/products/package.json
  sessions/backend-create/products/pages/[id].js
  sessions/backend-create/products/pages/_app.js
  sessions/backend-create/products/pages/_document.js
  sessions/backend-create/products/pages/api/products/[id].js
  sessions/backend-create/products/pages/api/products/index.js
  sessions/backend-create/products/pages/index.js
  sessions/backend-create/products/public/favicon.ico
  sessions/backend-create/products/resources/bonus-products.json
  sessions/backend-create/products/resources/bonus-reviews.json
  sessions/backend-create/products/resources/products.json
  sessions/backend-create/products/sandbox.config.json
  sessions/backend-create/products/styles.js
Due: npx eslint --fix, npx prettier --write

finish readme
  sessions/backend-read/products/README.md
  sessions/backend-read/products/resources.zip
Due: npx prettier --write

reset challenge to start
  sessions/backend-read/products/README.md
  sessions/backend-read/products/components/Comments/index.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-read/products/db/models/Product.js
  sessions/backend-read/products/db/models/Review.js
  sessions/backend-read/products/lib/products.js
  sessions/backend-read/products/pages/api/products/[id].js
  sessions/backend-read/products/pages/api/products/index.js
Due: npx eslint --fix, npx prettier --write

fix typo
  sessions/backend-read/products/README.md
Due: npx prettier --write

Update sessions/backend-read/products/README.md
  sessions/backend-read/products/README.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
