Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Update .prettierrc.json
  sessions/js-unit-testing/get-animal/.prettierrc.json
Due: npx prettier --write

feat(js-unit-tests): add readme for animal challenge
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/package.json
Due: npx eslint --fix, npx prettier --write

fix(js-unit-testing): change test script to --watchAll flag
  sessions/js-unit-testing/get-animal/package.json
Due: npx prettier --write

conform challenge to overhauled format
  sessions/js-unit-testing/get-animal/.eslintrc.json
  sessions/js-unit-testing/get-animal/.gitignore
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/package.json
  sessions/js-unit-testing/get-animal/sandbox.config.json
Due: npx prettier --write

fix duplicate hint
  sessions/js-unit-testing/get-animal/README.md
Due: npx prettier --write

reset package-lock.json
  package-lock.json
Due: npx prettier --write

update get animal challenge according to review
  package-lock.json
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.test.js
Due: npx eslint --fix, npx prettier --write

migrate exercise
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/package.json
Due: npx prettier --write

migrate exercise
  sessions/js-unit-testing/demo-end/README.md
  sessions/js-unit-testing/demo-end/package.json
  sessions/js-unit-testing/demo-start/README.md
  sessions/js-unit-testing/demo-start/package.json
Due: npx prettier --write

migrate to new template
  sessions/js-unit-testing/math-functions/.eslintrc.json
  sessions/js-unit-testing/math-functions/.gitignore
  sessions/js-unit-testing/math-functions/.prettierrc.json
  sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/index.js
  sessions/js-unit-testing/math-functions/package.json
  sessions/js-unit-testing/math-functions/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

migrate to new template
  sessions/js-unit-testing/people/.eslintrc.json
  sessions/js-unit-testing/people/.gitignore
  sessions/js-unit-testing/people/.prettierrc.json
  sessions/js-unit-testing/people/README.md
  sessions/js-unit-testing/people/index.js
  sessions/js-unit-testing/people/index.test.js
  sessions/js-unit-testing/people/package.json
  sessions/js-unit-testing/people/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(react-props): add smiley challenge
  package-lock.json
  sessions/react-props/smiley/.eslintrc.json
  sessions/react-props/smiley/.gitignore
  sessions/react-props/smiley/.prettierrc.json
  sessions/react-props/smiley/README.md
  sessions/react-props/smiley/package.json
  sessions/react-props/smiley/public/index.html
  sessions/react-props/smiley/sandbox.config.json
  sessions/react-props/smiley/src/App.js
  sessions/react-props/smiley/src/index.js
  sessions/react-props/smiley/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix(react-props): center styling in sum challenge
  sessions/react-props/sum/src/styles.css
Due: none

fix(react-props): center styling in greeting challenge
  sessions/react-props/greeting/src/styles.css
Due: none

feat(react-props): add button challenge
  package-lock.json
  sessions/react-props/button/.eslintrc.json
  sessions/react-props/button/.gitignore
  sessions/react-props/button/.prettierrc.json
  sessions/react-props/button/README.md
  sessions/react-props/button/package.json
  sessions/react-props/button/public/index.html
  sessions/react-props/button/sandbox.config.json
  sessions/react-props/button/src/App.js
  sessions/react-props/button/src/index.js
  sessions/react-props/button/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix test description
  sessions/js-unit-testing/get-animal/index.test.js
Due: npx eslint --fix, npx prettier --write

fix formatting
  sessions/js-unit-testing/get-animal/README.md
Due: npx prettier --write

remove package-lock.json from different exercise
  sessions/js-unit-testing/get-animal/package-lock.json
Due: npx prettier --write

remove package-lock.json from CRA
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

JS Unit Testing: getAnimal Challenge (#122)
  package-lock.json
  sessions/js-unit-testing/get-animal/.eslintrc.json
  sessions/js-unit-testing/get-animal/.gitignore
  sessions/js-unit-testing/get-animal/.prettierrc.json
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/index.test.js
  sessions/js-unit-testing/get-animal/package.json
  sessions/js-unit-testing/get-animal/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

JS Unit Testing: add demo (#123)
  sessions/js-unit-testing/demo-end/.eslintrc.json
  sessions/js-unit-testing/demo-end/.gitignore
  sessions/js-unit-testing/demo-end/.prettierrc.json
  sessions/js-unit-testing/demo-end/README.md
  sessions/js-unit-testing/demo-end/greet.js
  sessions/js-unit-testing/demo-end/greet.test.js
  sessions/js-unit-testing/demo-end/index.js
  sessions/js-unit-testing/demo-end/package.json
  sessions/js-unit-testing/demo-end/sandbox.config.json
  sessions/js-unit-testing/demo-start/.eslintrc.json
  sessions/js-unit-testing/demo-start/.gitignore
  sessions/js-unit-testing/demo-start/.prettierrc.json
  sessions/js-unit-testing/demo-start/README.md
  sessions/js-unit-testing/demo-start/greet.js
  sessions/js-unit-testing/demo-start/index.js
  sessions/js-unit-testing/demo-start/package.json
  sessions/js-unit-testing/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

JS Unit Testing: Math Functions Challenge (#124)
  package-lock.json
  sessions/js-unit-testing/math-functions/.eslintrc.json
  sessions/js-unit-testing/math-functions/.gitignore
  sessions/js-unit-testing/math-functions/.prettierrc.json
  sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/index.js
  sessions/js-unit-testing/math-functions/package.json
  sessions/js-unit-testing/math-functions/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

JS Unit Testing: People Challenge (#125)
  package-lock.json
  sessions/js-unit-testing/people/.eslintrc.json
  sessions/js-unit-testing/people/.gitignore
  sessions/js-unit-testing/people/.prettierrc.json
  sessions/js-unit-testing/people/README.md
  sessions/js-unit-testing/people/index.js
  sessions/js-unit-testing/people/index.test.js
  sessions/js-unit-testing/people/package.json
  sessions/js-unit-testing/people/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

use full title for create
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

add get script to make pr generation easier
  package-lock.json
  package.json
  scripts/get.js
  scripts/get/challenge-template.md
  scripts/get/pr-template.md
Due: npx eslint --fix, npx prettier --write

fix(react-basics): wording after review
  sessions/react-basics/hello-world/README.md
Due: npx prettier --write

fix(react-basics): wording in hello world article after review
  sessions/react-basics/hello-world-article/README.md
Due: npx prettier --write

fix(react-basics): styles in attributes challenge after review
  sessions/react-basics/attributes/src/styles.css
Due: none

Update sessions/react-props/sum/README.md
  sessions/react-props/sum/README.md
Due: npx prettier --write

Update sessions/react-props/smiley/README.md
  sessions/react-props/smiley/README.md
Due: npx prettier --write

Update sessions/react-props/button/README.md
  sessions/react-props/button/README.md
Due: npx prettier --write

React Basics: Hello World Challenge (#127)
  sessions/react-basics/hello-world/.eslintrc.json
  sessions/react-basics/hello-world/.gitignore
  sessions/react-basics/hello-world/.prettierrc.json
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/package.json
  sessions/react-basics/hello-world/public/index.html
  sessions/react-basics/hello-world/sandbox.config.json
  sessions/react-basics/hello-world/src/App.js
  sessions/react-basics/hello-world/src/index.js
  sessions/react-basics/hello-world/src/styles.css
Due: npx eslint --fix, npx prettier --write

React Basics: Hello World Article (#129)
  sessions/react-basics/hello-world-article/.eslintrc.json
  sessions/react-basics/hello-world-article/.gitignore
  sessions/react-basics/hello-world-article/.prettierrc.json
  sessions/react-basics/hello-world-article/README.md
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world-article/public/index.html
  sessions/react-basics/hello-world-article/sandbox.config.json
  sessions/react-basics/hello-world-article/src/App.js
  sessions/react-basics/hello-world-article/src/index.js
  sessions/react-basics/hello-world-article/src/styles.css
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
