Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

updated package.json
  sessions/react-state-3/adding-animals/package.json
Due: npx prettier --write

initialized vite
  sessions/react-state-3/tags-old/.eslintrc.json
  sessions/react-state-3/tags-old/.gitignore
  sessions/react-state-3/tags-old/.prettierrc.json
  sessions/react-state-3/tags-old/README.md
  sessions/react-state-3/tags-old/package.json
  sessions/react-state-3/tags-old/public/index.html
  sessions/react-state-3/tags-old/src/App.js
  sessions/react-state-3/tags-old/src/components/Form/Form.css
  sessions/react-state-3/tags-old/src/components/Form/index.js
  sessions/react-state-3/tags-old/src/components/List/List.css
  sessions/react-state-3/tags-old/src/components/List/index.js
  sessions/react-state-3/tags-old/src/index.js
  sessions/react-state-3/tags-old/src/styles.css
  sessions/react-state-3/tags/.eslintrc.cjs
  sessions/react-state-3/tags/.gitignore
  sessions/react-state-3/tags/README.md
  sessions/react-state-3/tags/index.html
  sessions/react-state-3/tags/package.json
  sessions/react-state-3/tags/public/vite.svg
  sessions/react-state-3/tags/src/App.css
  sessions/react-state-3/tags/src/App.jsx
  sessions/react-state-3/tags/src/assets/react.svg
  sessions/react-state-3/tags/src/index.css
  sessions/react-state-3/tags/src/main.jsx
  sessions/react-state-3/tags/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state-3/tags/.eslintrc.cjs
  sessions/react-state-3/tags/README.md
  sessions/react-state-3/tags/index.html
  sessions/react-state-3/tags/public/favicon.ico
  sessions/react-state-3/tags/public/vite.svg
  sessions/react-state-3/tags/src/App.css
  sessions/react-state-3/tags/src/App.jsx
  sessions/react-state-3/tags/src/assets/react.svg
  sessions/react-state-3/tags/src/components/Form/Form.css
  sessions/react-state-3/tags/src/components/Form/index.jsx
  sessions/react-state-3/tags/src/components/List/List.css
  sessions/react-state-3/tags/src/components/List/index.jsx
  sessions/react-state-3/tags/src/index.css
  sessions/react-state-3/tags/src/main.jsx
Due: npx eslint --fix, npx prettier --write

removed old challenge
  sessions/react-state-3/tags-old/.eslintrc.json
  sessions/react-state-3/tags-old/.gitignore
  sessions/react-state-3/tags-old/.prettierrc.json
  sessions/react-state-3/tags-old/README.md
  sessions/react-state-3/tags-old/package.json
  sessions/react-state-3/tags-old/public/index.html
  sessions/react-state-3/tags-old/src/App.js
  sessions/react-state-3/tags-old/src/components/Form/Form.css
  sessions/react-state-3/tags-old/src/components/Form/index.js
  sessions/react-state-3/tags-old/src/components/List/List.css
  sessions/react-state-3/tags-old/src/components/List/index.js
  sessions/react-state-3/tags-old/src/index.js
  sessions/react-state-3/tags-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state-3/journal-app-form/.eslintrc.cjs
  sessions/react-state-3/journal-app-form/README.md
  sessions/react-state-3/journal-app-form/index.html
  sessions/react-state-3/journal-app-form/package.json
  sessions/react-state-3/journal-app-form/public/favicon.ico
  sessions/react-state-3/journal-app-form/public/vite.svg
  sessions/react-state-3/journal-app-form/src/App.css
  sessions/react-state-3/journal-app-form/src/App.jsx
  sessions/react-state-3/journal-app-form/src/assets/react.svg
  sessions/react-state-3/journal-app-form/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-form/src/components/Badge/index.jsx
  sessions/react-state-3/journal-app-form/src/components/Button/Button.css
  sessions/react-state-3/journal-app-form/src/components/Button/index.jsx
  sessions/react-state-3/journal-app-form/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-form/src/components/Divider/index.jsx
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/index.jsx
  sessions/react-state-3/journal-app-form/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app-form/src/components/Entry/index.jsx
  sessions/react-state-3/journal-app-form/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-form/src/components/EntryForm/index.jsx
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/index.jsx
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-form/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-form/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-form/src/components/Footer/index.jsx
  sessions/react-state-3/journal-app-form/src/components/Header/Header.css
  sessions/react-state-3/journal-app-form/src/components/Header/index.jsx
  sessions/react-state-3/journal-app-form/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-form/src/components/Tab/index.jsx
  sessions/react-state-3/journal-app-form/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app-form/src/components/Tabs/index.jsx
  sessions/react-state-3/journal-app-form/src/index.css
  sessions/react-state-3/journal-app-form/vite.config.js
Due: npx eslint --fix, npx prettier --write

removed old challenge
  sessions/react-state-3/journal-app-form-old/.gitignore
  sessions/react-state-3/journal-app-form-old/.prettierrc.json
  sessions/react-state-3/journal-app-form-old/README.md
  sessions/react-state-3/journal-app-form-old/package.json
  sessions/react-state-3/journal-app-form-old/public/index.html
  sessions/react-state-3/journal-app-form-old/src/App.css
  sessions/react-state-3/journal-app-form-old/src/App.js
  sessions/react-state-3/journal-app-form-old/src/colors.css
  sessions/react-state-3/journal-app-form-old/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-form-old/src/components/Badge/index.js
  sessions/react-state-3/journal-app-form-old/src/components/Button/Button.css
  sessions/react-state-3/journal-app-form-old/src/components/Button/index.js
  sessions/react-state-3/journal-app-form-old/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-form-old/src/components/Divider/index.js
  sessions/react-state-3/journal-app-form-old/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app-form-old/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-form-old/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app-form-old/src/components/Entry/index.js
  sessions/react-state-3/journal-app-form-old/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-form-old/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-form-old/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-form-old/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-form-old/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-form-old/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-form-old/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-form-old/src/components/Footer/index.js
  sessions/react-state-3/journal-app-form-old/src/components/Header/Header.css
  sessions/react-state-3/journal-app-form-old/src/components/Header/index.js
  sessions/react-state-3/journal-app-form-old/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-form-old/src/components/Tab/index.js
  sessions/react-state-3/journal-app-form-old/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app-form-old/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-form-old/src/index.css
  sessions/react-state-3/journal-app-form-old/src/index.js
  sessions/react-state-3/journal-app-form-old/src/reportWebVitals.js
  sessions/react-state-3/journal-app-form-old/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

removed old challenge
  sessions/react-state-3/journal-app-filter-old/.gitignore
  sessions/react-state-3/journal-app-filter-old/.prettierrc.json
  sessions/react-state-3/journal-app-filter-old/README.md
  sessions/react-state-3/journal-app-filter-old/package.json
  sessions/react-state-3/journal-app-filter-old/public/index.html
  sessions/react-state-3/journal-app-filter-old/src/App.css
  sessions/react-state-3/journal-app-filter-old/src/App.js
  sessions/react-state-3/journal-app-filter-old/src/colors.css
  sessions/react-state-3/journal-app-filter-old/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-filter-old/src/components/Badge/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/Button/Button.css
  sessions/react-state-3/journal-app-filter-old/src/components/Button/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-filter-old/src/components/Divider/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app-filter-old/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app-filter-old/src/components/Entry/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-filter-old/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-filter-old/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-filter-old/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-filter-old/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-filter-old/src/components/Footer/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/Header/Header.css
  sessions/react-state-3/journal-app-filter-old/src/components/Header/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-filter-old/src/components/Tab/index.js
  sessions/react-state-3/journal-app-filter-old/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app-filter-old/src/components/Tabs/index.js
  sessions/react-state-3/journal-app-filter-old/src/index.css
  sessions/react-state-3/journal-app-filter-old/src/index.js
  sessions/react-state-3/journal-app-filter-old/src/reportWebVitals.js
  sessions/react-state-3/journal-app-filter-old/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

fix rout for update in readme file
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

updated code
  sessions/react-state-3/journal-app-favorite-button-shared-state/.eslintrc.cjs
  sessions/react-state-3/journal-app-favorite-button-shared-state/.gitignore
  sessions/react-state-3/journal-app-favorite-button-shared-state/.prettierrc.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
  sessions/react-state-3/journal-app-favorite-button-shared-state/index.html
  sessions/react-state-3/journal-app-favorite-button-shared-state/package.json
  sessions/react-state-3/journal-app-favorite-button-shared-state/public/favicon.ico
  sessions/react-state-3/journal-app-favorite-button-shared-state/public/index.html
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/App.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/colors.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Badge/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Button/Button.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Button/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Divider/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntriesSection/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Entry/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntryForm/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Footer/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Header/Header.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Header/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tab/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tabs/index.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/index.css
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/main.jsx
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/reportWebVitals.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/setupTests.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/vite.config.js
Due: npx eslint --fix, npx prettier --write

initialized vite
  sessions/react-state-3/demo-start-old/.eslintrc.json
  sessions/react-state-3/demo-start-old/.gitignore
  sessions/react-state-3/demo-start-old/.prettierrc.json
  sessions/react-state-3/demo-start-old/README.md
  sessions/react-state-3/demo-start-old/package.json
  sessions/react-state-3/demo-start-old/public/index.html
  sessions/react-state-3/demo-start-old/src/App.js
  sessions/react-state-3/demo-start-old/src/components/Form/Form.css
  sessions/react-state-3/demo-start-old/src/components/Form/index.js
  sessions/react-state-3/demo-start-old/src/components/Movie/Movie.css
  sessions/react-state-3/demo-start-old/src/components/Movie/index.js
  sessions/react-state-3/demo-start-old/src/index.js
  sessions/react-state-3/demo-start-old/src/styles.css
  sessions/react-state-3/demo-start/.eslintrc.cjs
  sessions/react-state-3/demo-start/.gitignore
  sessions/react-state-3/demo-start/README.md
  sessions/react-state-3/demo-start/index.html
  sessions/react-state-3/demo-start/package.json
  sessions/react-state-3/demo-start/public/vite.svg
  sessions/react-state-3/demo-start/src/App.css
  sessions/react-state-3/demo-start/src/App.jsx
  sessions/react-state-3/demo-start/src/assets/react.svg
  sessions/react-state-3/demo-start/src/index.css
  sessions/react-state-3/demo-start/src/main.jsx
  sessions/react-state-3/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state-3/demo-start/.eslintrc.cjs
  sessions/react-state-3/demo-start/README.md
  sessions/react-state-3/demo-start/index.html
  sessions/react-state-3/demo-start/package.json
  sessions/react-state-3/demo-start/public/favicon.ico
  sessions/react-state-3/demo-start/public/vite.svg
  sessions/react-state-3/demo-start/src/App.css
  sessions/react-state-3/demo-start/src/App.jsx
  sessions/react-state-3/demo-start/src/assets/react.svg
  sessions/react-state-3/demo-start/src/components/Form/Form.css
  sessions/react-state-3/demo-start/src/components/Form/index.jsx
  sessions/react-state-3/demo-start/src/components/Movie/Movie.css
  sessions/react-state-3/demo-start/src/components/Movie/index.jsx
  sessions/react-state-3/demo-start/src/index.css
  sessions/react-state-3/demo-start/src/main.jsx
Due: npx eslint --fix, npx prettier --write

removed old demo
  sessions/react-state-3/demo-start-old/.eslintrc.json
  sessions/react-state-3/demo-start-old/.gitignore
  sessions/react-state-3/demo-start-old/.prettierrc.json
  sessions/react-state-3/demo-start-old/README.md
  sessions/react-state-3/demo-start-old/package.json
  sessions/react-state-3/demo-start-old/public/index.html
  sessions/react-state-3/demo-start-old/src/App.js
  sessions/react-state-3/demo-start-old/src/components/Form/Form.css
  sessions/react-state-3/demo-start-old/src/components/Form/index.js
  sessions/react-state-3/demo-start-old/src/components/Movie/Movie.css
  sessions/react-state-3/demo-start-old/src/components/Movie/index.js
  sessions/react-state-3/demo-start-old/src/index.js
  sessions/react-state-3/demo-start-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

updated code
  sessions/react-state-3/demo-end/.eslintrc.cjs
  sessions/react-state-3/demo-end/.eslintrc.json
  sessions/react-state-3/demo-end/.gitignore
  sessions/react-state-3/demo-end/.prettierrc.json
  sessions/react-state-3/demo-end/README.md
  sessions/react-state-3/demo-end/index.html
  sessions/react-state-3/demo-end/package.json
  sessions/react-state-3/demo-end/public/favicon.ico
  sessions/react-state-3/demo-end/public/index.html
  sessions/react-state-3/demo-end/src/App.css
  sessions/react-state-3/demo-end/src/App.jsx
  sessions/react-state-3/demo-end/src/components/Form/Form.css
  sessions/react-state-3/demo-end/src/components/Form/index.jsx
  sessions/react-state-3/demo-end/src/components/Movie/Movie.css
  sessions/react-state-3/demo-end/src/components/Movie/index.jsx
  sessions/react-state-3/demo-end/src/index.js
  sessions/react-state-3/demo-end/src/main.jsx
  sessions/react-state-3/demo-end/vite.config.js
Due: npx eslint --fix, npx prettier --write

initialized vite and update package.json
  sessions/react-with-local-storage/stored-note-old/.eslintrc.json
  sessions/react-with-local-storage/stored-note-old/.gitignore
  sessions/react-with-local-storage/stored-note-old/.prettierrc.json
  sessions/react-with-local-storage/stored-note-old/README.md
  sessions/react-with-local-storage/stored-note-old/package.json
  sessions/react-with-local-storage/stored-note-old/public/index.html
  sessions/react-with-local-storage/stored-note-old/src/App.js
  sessions/react-with-local-storage/stored-note-old/src/components/FontSelector.css
  sessions/react-with-local-storage/stored-note-old/src/components/FontSelector.js
  sessions/react-with-local-storage/stored-note-old/src/components/Note.css
  sessions/react-with-local-storage/stored-note-old/src/components/Note.js
  sessions/react-with-local-storage/stored-note-old/src/index.js
  sessions/react-with-local-storage/stored-note-old/src/styles.css
  sessions/react-with-local-storage/stored-note/.eslintrc.cjs
  sessions/react-with-local-storage/stored-note/.gitignore
  sessions/react-with-local-storage/stored-note/README.md
  sessions/react-with-local-storage/stored-note/index.html
  sessions/react-with-local-storage/stored-note/package.json
  sessions/react-with-local-storage/stored-note/public/vite.svg
  sessions/react-with-local-storage/stored-note/src/App.css
  sessions/react-with-local-storage/stored-note/src/App.jsx
  sessions/react-with-local-storage/stored-note/src/assets/react.svg
  sessions/react-with-local-storage/stored-note/src/index.css
  sessions/react-with-local-storage/stored-note/src/main.jsx
  sessions/react-with-local-storage/stored-note/vite.config.js
Due: npx eslint --fix, npx prettier --write

updated readme
  sessions/react-with-local-storage/stored-note/README.md
Due: npx prettier --write

updated code and removed old challenge
  sessions/react-with-local-storage/stored-note/.eslintrc.cjs
  sessions/react-with-local-storage/stored-note/index.html
  sessions/react-with-local-storage/stored-note/public/favicon.ico
  sessions/react-with-local-storage/stored-note/public/vite.svg
  sessions/react-with-local-storage/stored-note/src/App.css
  sessions/react-with-local-storage/stored-note/src/App.jsx
  sessions/react-with-local-storage/stored-note/src/assets/react.svg
  sessions/react-with-local-storage/stored-note/src/components/FontSelector.css
  sessions/react-with-local-storage/stored-note/src/components/FontSelector.jsx
  sessions/react-with-local-storage/stored-note/src/components/Note.css
  sessions/react-with-local-storage/stored-note/src/components/Note.jsx
  sessions/react-with-local-storage/stored-note/src/index.css
  sessions/react-with-local-storage/stored-note/src/main.jsx
Due: npx eslint --fix, npx prettier --write

updated code and removed old challenge
  sessions/react-with-local-storage/stored-note-old/.eslintrc.json
  sessions/react-with-local-storage/stored-note-old/.gitignore
  sessions/react-with-local-storage/stored-note-old/.prettierrc.json
  sessions/react-with-local-storage/stored-note-old/README.md
  sessions/react-with-local-storage/stored-note-old/package.json
  sessions/react-with-local-storage/stored-note-old/public/index.html
  sessions/react-with-local-storage/stored-note-old/src/App.js
  sessions/react-with-local-storage/stored-note-old/src/components/FontSelector.css
  sessions/react-with-local-storage/stored-note-old/src/components/FontSelector.js
  sessions/react-with-local-storage/stored-note-old/src/components/Note.css
  sessions/react-with-local-storage/stored-note-old/src/components/Note.js
  sessions/react-with-local-storage/stored-note-old/src/index.js
  sessions/react-with-local-storage/stored-note-old/src/styles.css
Due: npx eslint --fix, npx prettier --write

update eslint to vite config
  sessions/react-effects-and-fetch/api-status/.eslintrc.cjs
  sessions/react-effects-and-fetch/api-status/.eslintrc.json
Due: npx prettier --write

add and remove packages
  sessions/react-effects-and-fetch/api-status/package.json
Due: npx prettier --write

add vite config
  sessions/react-effects-and-fetch/api-status/vite.config.js
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-effects-and-fetch/api-status/README.md
Due: npx prettier --write

move html, addd favicon and fix markdown format in readme
  sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-effects-and-fetch/api-status/index.html
  sessions/react-effects-and-fetch/api-status/public/api.png
Due: npx prettier --write

change js to jsx and add SP style
  sessions/react-effects-and-fetch/api-status/src/App.jsx
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/StatusCheck.css
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/index.jsx
  sessions/react-effects-and-fetch/api-status/src/index.jsx
  sessions/react-effects-and-fetch/api-status/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix style
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/StatusCheck.css
Due: none

esllint config udate
  sessions/react-effects-and-fetch/demo-start/.eslintrc.cjs
  sessions/react-effects-and-fetch/demo-start/.eslintrc.json
Due: npx prettier --write

remove and add packages
  sessions/react-effects-and-fetch/demo-start/package.json
Due: npx prettier --write

add vite config
  sessions/react-effects-and-fetch/demo-start/vite.config.js
Due: npx eslint --fix, npx prettier --write

update readme
  sessions/react-effects-and-fetch/demo-start/README.md
Due: npx prettier --write

move html and add favicon
  sessions/react-effects-and-fetch/demo-start/index.html
  sessions/react-effects-and-fetch/demo-start/public/favicon.png
Due: none

change js to jsx and add SP style
  sessions/react-effects-and-fetch/demo-start/src/App.css
  sessions/react-effects-and-fetch/demo-start/src/App.jsx
  sessions/react-effects-and-fetch/demo-start/src/components/Joke.jsx
  sessions/react-effects-and-fetch/demo-start/src/index.jsx
Due: npx eslint --fix, npx prettier --write

add more style
  sessions/react-effects-and-fetch/demo-start/src/App.css
  sessions/react-effects-and-fetch/demo-start/src/components/Joke.css
  sessions/react-effects-and-fetch/demo-start/src/components/Joke.jsx
Due: npx eslint --fix, npx prettier --write

update eslint to vite config
  sessions/react-effects-and-fetch/iss-tracker/.eslintrc.cjs
  sessions/react-effects-and-fetch/iss-tracker/.eslintrc.json
Due: npx prettier --write

add vite config
  sessions/react-effects-and-fetch/iss-tracker/vite.config.js
Due: npx eslint --fix, npx prettier --write

add and remove packages
  sessions/react-effects-and-fetch/iss-tracker/package.json
Due: npx prettier --write

move html and add favicon
  sessions/react-effects-and-fetch/iss-tracker/index.html
  sessions/react-effects-and-fetch/iss-tracker/public/station.png
Due: none

update readme
  sessions/react-effects-and-fetch/iss-tracker/README.md
Due: npx prettier --write

change js to jsx
  sessions/react-effects-and-fetch/iss-tracker/src/App.css
  sessions/react-effects-and-fetch/iss-tracker/src/App.jsx
  sessions/react-effects-and-fetch/iss-tracker/src/components/Controls/index.jsx
  sessions/react-effects-and-fetch/iss-tracker/src/components/Map/index.jsx
  sessions/react-effects-and-fetch/iss-tracker/src/index.jsx
Due: npx eslint --fix, npx prettier --write

update eslint to vite config
  sessions/react-effects-and-fetch/pokemon-api/.eslintrc.cjs
  sessions/react-effects-and-fetch/pokemon-api/.eslintrc.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
