Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Fix/recap project 2 (#419)
  sessions/recap-project-2/example-implementation/package.json
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-2/quiz-app/package.json
  sessions/recap-project-2/quiz-app/profile.html
Due: npx prettier --write

Fix wording and typos in js-basics-and-variables challenges
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference/README.md
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference/index.js
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference__solution/README.md
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference__solution/index.js
  sessions/js-basics-and-variables/console-methods/README.md
  sessions/js-basics-and-variables/console-methods/index.js
  sessions/js-basics-and-variables/console-methods_solution/README.md
  sessions/js-basics-and-variables/console-methods_solution/index.js
  sessions/js-basics-and-variables/lifetime-calculator/README.md
  sessions/js-basics-and-variables/lifetime-calculator/index.js
  sessions/js-basics-and-variables/lifetime-calculator_solution/README.md
  sessions/js-basics-and-variables/lifetime-calculator_solution/index.js
  sessions/js-basics-and-variables/social-media-post/README.md
  sessions/js-basics-and-variables/social-media-post/index.js
  sessions/js-basics-and-variables/social-media-post_solution/README.md
  sessions/js-basics-and-variables/social-media-post_solution/index.js
  sessions/js-basics-and-variables/tip-calculator/README.md
  sessions/js-basics-and-variables/tip-calculator/index.js
  sessions/js-basics-and-variables/tip-calculator_solution/README.md
  sessions/js-basics-and-variables/tip-calculator_solution/index.js
  sessions/js-basics-and-variables/track-your-savings-goals/README.md
  sessions/js-basics-and-variables/track-your-savings-goals/index.js
  sessions/js-basics-and-variables/track-your-savings-goals_solution/README.md
  sessions/js-basics-and-variables/track-your-savings-goals_solution/index.js
Due: npx eslint --fix, npx prettier --write

Add package.json and gitignore to js-basics-and-variables challenges
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference/.gitignore
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference/package.json
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference__solution/.gitignore
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference__solution/package.json
  sessions/js-basics-and-variables/console-methods/.gitignore
  sessions/js-basics-and-variables/console-methods/package.json
  sessions/js-basics-and-variables/console-methods_solution/.gitignore
  sessions/js-basics-and-variables/console-methods_solution/package.json
  sessions/js-basics-and-variables/lifetime-calculator/.gitignore
  sessions/js-basics-and-variables/lifetime-calculator/package.json
  sessions/js-basics-and-variables/lifetime-calculator_solution/.gitignore
  sessions/js-basics-and-variables/lifetime-calculator_solution/package.json
  sessions/js-basics-and-variables/social-media-post/.gitignore
  sessions/js-basics-and-variables/social-media-post/package.json
  sessions/js-basics-and-variables/social-media-post_solution/.gitignore
  sessions/js-basics-and-variables/social-media-post_solution/package.json
  sessions/js-basics-and-variables/tip-calculator/.gitignore
  sessions/js-basics-and-variables/tip-calculator/package.json
  sessions/js-basics-and-variables/tip-calculator_solution/.gitignore
  sessions/js-basics-and-variables/tip-calculator_solution/package.json
  sessions/js-basics-and-variables/track-your-savings-goals/.gitignore
  sessions/js-basics-and-variables/track-your-savings-goals/package.json
  sessions/js-basics-and-variables/track-your-savings-goals_solution/.gitignore
  sessions/js-basics-and-variables/track-your-savings-goals_solution/package.json
  sessions/test/test/.codesandbox/tasks.json
  sessions/test/test/.gitignore
  sessions/test/test/README.md
  sessions/test/test/package.json
  sessions/test/test/sandbox.config.json
Due: npx prettier --write

Fix typo in package.json
  sessions/js-basics-and-variables/track-your-savings-goals/package.json
  sessions/js-basics-and-variables/track-your-savings-goals_solution/package.json
Due: npx prettier --write

Fix typos in js-basics-and-variables challenge
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference/index.js
  sessions/js-basics-and-variables/calculate-circle-area-and-circumference__solution/index.js
Due: npx eslint --fix, npx prettier --write

Remove test challenge
  sessions/test/test/.codesandbox/tasks.json
  sessions/test/test/.gitignore
  sessions/test/test/README.md
  sessions/test/test/package.json
  sessions/test/test/sandbox.config.json
Due: npx prettier --write

Fix wording and typos in js-dom-and-events challenges
  sessions/js-dom-and-events/dark-mode/README.md
  sessions/js-dom-and-events/dark-mode/index.html
  sessions/js-dom-and-events/survey-error-fixing/README.md
  sessions/js-dom-and-events/survey-error-fixing/index.html
  sessions/js-dom-and-events/survey-error-fixing/js/index.js
Due: npx eslint --fix, npx prettier --write

Fix wording and typos in js-dom-and-events challenges
  sessions/js-dom-and-events/dark-mode_solution/README.md
  sessions/js-dom-and-events/dark-mode_solution/index.html
  sessions/js-dom-and-events/dark-mode_solution/js/index.js
  sessions/js-dom-and-events/survey-error-fixing_solution/README.md
  sessions/js-dom-and-events/survey-error-fixing_solution/index.html
  sessions/js-dom-and-events/survey-error-fixing_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Adjust challenge to better fit the session content
  sessions/js-dom-and-events/simple-calculator/README.md
  sessions/js-dom-and-events/simple-calculator/index.html
  sessions/js-dom-and-events/simple-calculator/js/index.js
  sessions/js-dom-and-events/simple-calculator_solution/README.md
  sessions/js-dom-and-events/simple-calculator_solution/index.html
  sessions/js-dom-and-events/simple-calculator_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Incorporate suggestions from review
  sessions/js-dom-and-events/simple-calculator/README.md
  sessions/js-dom-and-events/simple-calculator_solution/README.md
Due: npx prettier --write

Adjust challenge to better fit the session content: JS DOM and Events: - Simple Calculator (#420)
  sessions/js-dom-and-events/simple-calculator/README.md
  sessions/js-dom-and-events/simple-calculator/index.html
  sessions/js-dom-and-events/simple-calculator/js/index.js
  sessions/js-dom-and-events/simple-calculator_solution/README.md
  sessions/js-dom-and-events/simple-calculator_solution/index.html
  sessions/js-dom-and-events/simple-calculator_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Change name of challenge in readme
  sessions/js-dom-and-events/survey-error-fixing/README.md
  sessions/js-dom-and-events/survey-error-fixing_solution/README.md
Due: npx prettier --write

Update sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Re write Fav as sugessted
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Rewrite user presist date as suggested
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Rewrite instruction (#415)
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-5/art-gallery-app/wireframes.excalidraw.png
Due: npx prettier --write

Fix typos and wording in js-structure challenges
  sessions/js-structure/quiz-app/README.md
  sessions/js-structure/quiz-app/index.js
  sessions/js-structure/quiz-app_solution/README.md
  sessions/js-structure/shapes/README.md
  sessions/js-structure/shapes_solution/README.md
Due: npx eslint --fix, npx prettier --write

Fix wording and typos in spacerocket challenge
  sessions/js-structure/spacerocket/README.md
  sessions/js-structure/spacerocket/index.html
  sessions/js-structure/spacerocket_solution/README.md
  sessions/js-structure/spacerocket_solution/index.html
Due: npx prettier --write

Fix wording and typos in js-modern-syntax challenges
  sessions/js-modern-syntax/back-to-basics/README.md
  sessions/js-modern-syntax/back-to-basics/css/styles.css
  sessions/js-modern-syntax/back-to-basics/index.html
  sessions/js-modern-syntax/back-to-basics/js/index.js
  sessions/js-modern-syntax/back-to-basics_solution/README.md
  sessions/js-modern-syntax/back-to-basics_solution/css/styles.css
  sessions/js-modern-syntax/back-to-basics_solution/index.html
  sessions/js-modern-syntax/back-to-basics_solution/js/index.js
  sessions/js-modern-syntax/destructuring-arrays/README.md
  sessions/js-modern-syntax/destructuring-arrays/css/styles.css
  sessions/js-modern-syntax/destructuring-arrays/js/index.js
  sessions/js-modern-syntax/destructuring-arrays_solution/README.md
  sessions/js-modern-syntax/destructuring-arrays_solution/css/styles.css
  sessions/js-modern-syntax/destructuring-arrays_solution/js/index.js
  sessions/js-modern-syntax/destructuring-arrays_solution/package-lock.json
  sessions/js-modern-syntax/destructuring-objects/README.md
  sessions/js-modern-syntax/destructuring-objects/css/styles.css
  sessions/js-modern-syntax/destructuring-objects/js/index.js
  sessions/js-modern-syntax/destructuring-objects_solution/README.md
  sessions/js-modern-syntax/destructuring-objects_solution/css/styles.css
  sessions/js-modern-syntax/destructuring-objects_solution/js/index.js
  sessions/js-modern-syntax/destructuring-objects_solution/package-lock.json
  sessions/js-modern-syntax/rest-and-spread/README.md
  sessions/js-modern-syntax/rest-and-spread/css/styles.css
  sessions/js-modern-syntax/rest-and-spread/index.html
  sessions/js-modern-syntax/rest-and-spread/js/index.js
  sessions/js-modern-syntax/rest-and-spread_solution/README.md
  sessions/js-modern-syntax/rest-and-spread_solution/css/styles.css
  sessions/js-modern-syntax/rest-and-spread_solution/index.html
  sessions/js-modern-syntax/rest-and-spread_solution/js/index.js
  sessions/js-modern-syntax/rest-and-spread_solution/package-lock.json
Due: npx eslint --fix, npx prettier --write

rename folders and files to match challenge description
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.css
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.js
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.css
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.js
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.css
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.js
Due: npx eslint --fix, npx prettier --write

update styles.css imports
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: none

Fix/recap project 3 (#421)
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.css
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.js
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.css
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.js
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.css
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.js
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: npx eslint --fix, npx prettier --write

update challenge instructions to not contain topics the students do not know at this time
  sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check/js/index.js
Due: npx eslint --fix, npx prettier --write

Fix wording and typos in react-state-1 challenges
  package-lock.json
  sessions/react-state-1/box/README.md
  sessions/react-state-1/box/package.json
  sessions/react-state-1/box_solution/README.md
  sessions/react-state-1/box_solution/bun.lockb
  sessions/react-state-1/counter/README.md
  sessions/react-state-1/counter/package.json
  sessions/react-state-1/counter/src/App.jsx
  sessions/react-state-1/counter_solution/README.md
  sessions/react-state-1/emoji-checker/README.md
  sessions/react-state-1/emoji-checker/package.json
  sessions/react-state-1/emoji-checker_solution/README.md
  sessions/react-state-1/journal-app-favorite-button/README.md
  sessions/react-state-1/journal-app-favorite-button/package.json
  sessions/react-state-1/journal-app-favorite-button/src/colors.css
  sessions/react-state-1/journal-app-favorite-button_solution/README.md
  sessions/react-state-1/journal-app-favorite-button_solution/src/colors.css
Due: npx eslint --fix, npx prettier --write

add gitignore
  sessions/mock-interview-1/simple-algorithms/.gitignore
  sessions/mock-interview-1/simple-algorithms_solutions/.gitignore
Due: none

add gitignore (#423)
  sessions/mock-interview-1/simple-algorithms/.gitignore
  sessions/mock-interview-1/simple-algorithms_solutions/.gitignore
Due: none

Add bonus task solution to react-state-1 box challenge
  sessions/react-state-1/box_solution/src/App.jsx
Due: npx eslint --fix, npx prettier --write

Add instruction to challenge readme
  sessions/react-state-1/emoji-checker/README.md
  sessions/react-state-1/emoji-checker_solution/README.md
Due: npx prettier --write

Fix typo in react-state-1 favorite-button challenge
  sessions/react-state-1/journal-app-favorite-button/src/components/FavoriteButton/index.jsx
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/FavoriteButton/index.jsx
Due: npx eslint --fix, npx prettier --write

Fix wording and typos in react-state-2 challenges
  sessions/react-state-2/colored-number/README.md
  sessions/react-state-2/colored-number/src/App.jsx
  sessions/react-state-2/colored-number_solution/README.md
  sessions/react-state-2/colored-number_solution/bun.lockb
  sessions/react-state-2/colored-number_solution/package-lock.json
  sessions/react-state-2/colored-number_solution/src/App.jsx
  sessions/react-state-2/colored-number_solution/src/components/Counter.jsx
  sessions/react-state-2/conditional-usestate/README.md
  sessions/react-state-2/conditional-usestate/index.html
  sessions/react-state-2/conditional-usestate/src/App.jsx
  sessions/react-state-2/conditional-usestate_solution/README.md
  sessions/react-state-2/conditional-usestate_solution/index.html
  sessions/react-state-2/conditional-usestate_solution/src/App.jsx
  sessions/react-state-2/favourite-holiday/README.md
  sessions/react-state-2/favourite-holiday/src/App.jsx
  sessions/react-state-2/favourite-holiday_solution/README.md
  sessions/react-state-2/favourite-holiday_solution/src/App.jsx
  sessions/react-state-2/personal-details/README.md
  sessions/react-state-2/personal-details/src/App.jsx
  sessions/react-state-2/personal-details_solution/README.md
  sessions/react-state-2/personal-details_solution/src/App.jsx
  sessions/react-state-2/table-reservation/README.md
  sessions/react-state-2/table-reservation/src/App.jsx
  sessions/react-state-2/table-reservation/src/components/Counter.jsx
  sessions/react-state-2/table-reservation_solution/README.md
  sessions/react-state-2/table-reservation_solution/src/App.jsx
  sessions/react-state-2/triple-count/README.md
  sessions/react-state-2/triple-count/src/App.jsx
  sessions/react-state-2/triple-count_solution/README.md
  sessions/react-state-2/triple-count_solution/src/App.jsx
Due: npx eslint --fix, npx prettier --write

Update solution to fit to challenge instructions
  sessions/react-state-2/table-reservation_solution/src/App.jsx
Due: npx eslint --fix, npx prettier --write

Add bonus task to solution§
  sessions/react-state-2/favourite-holiday_solution/src/App.jsx
Due: npx eslint --fix, npx prettier --write

Update solution to fit to challenge instructions
  sessions/react-state-2/personal-details_solution/src/App.jsx
  sessions/react-state-2/personal-details_solution/src/components/Form.jsx
Due: npx eslint --fix, npx prettier --write

fix typo in README.md
  sessions/react-with-arrays/journal-app-entries-array/README.md
Due: npx prettier --write

change db file ending to .js
  sessions/react-with-arrays/users/src/db.js
  sessions/react-with-arrays/users_solution/src/db.js
Due: npx eslint --fix, npx prettier --write

update user solution to map over roles
  sessions/react-with-arrays/users_solution/src/components/Card.jsx
Due: npx eslint --fix, npx prettier --write

Fix/react with arrays (#424)
  sessions/react-with-arrays/users/src/db.js
  sessions/react-with-arrays/users_solution/src/components/Card.jsx
  sessions/react-with-arrays/users_solution/src/db.js
Due: npx eslint --fix, npx prettier --write

Update README.md
  sessions/react-state-3/journal-app-form/README.md
Due: npx prettier --write

update to challenge
  sessions/js-array-methods/employees/js/index.js
Due: npx eslint --fix, npx prettier --write
