Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

update journal challenge descriptions
  sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
  sessions/react-state-3/journal-app-filter/README.md
  sessions/react-state-3/journal-app-form/README.md
Due: npx prettier --write

re-create zip file for journal app resources
  sessions/react-project-setup/journal-app/resources.zip
Due: none

fix isActive prop naming in journal app challenges
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Badge/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-favorite-button-shared-state/src/components/Tab/index.js
  sessions/react-state-3/journal-app-filter/src/components/Badge/index.js
  sessions/react-state-3/journal-app-filter/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-filter/src/components/Tab/index.js
  sessions/react-state-3/journal-app-form/src/components/Badge/index.js
  sessions/react-state-3/journal-app-form/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app-form/src/components/Tab/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Badge/index.js
  sessions/react-state/journal-app-favorite-button/src/components/EntriesSection/index.js
  sessions/react-state/journal-app-favorite-button/src/components/Tab/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Badge/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/EntriesSection/index.js
  sessions/react-with-arrays/journal-app-entries-array/src/components/Tab/index.js
Due: npx eslint --fix, npx prettier --write

update react-state-3 filter challenge description
  sessions/react-state-3/journal-app-filter/README.md
Due: npx prettier --write

update challenge
  package-lock.json
  sessions/react-state-3/tags/.eslintrc.json
  sessions/react-state-3/tags/README.md
  sessions/react-state-3/tags/src/App.js
  sessions/react-state-3/tags/src/components/Form/Form.css
  sessions/react-state-3/tags/src/components/Form/index.js
  sessions/react-state-3/tags/src/components/List/List.css
  sessions/react-state-3/tags/src/components/List/index.js
  sessions/react-state-3/tags/src/styles.css
Due: npx eslint --fix, npx prettier --write

add required to input
  sessions/react-state-3/tags/src/components/Form/index.js
Due: npx eslint --fix, npx prettier --write

update migrate script
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

feat: add demo end files
  sessions/css-basics/demo-end/.eslintrc.json
  sessions/css-basics/demo-end/.prettierrc.json
  sessions/css-basics/demo-end/.stylelintrc.json
  sessions/css-basics/demo-end/README.md
  sessions/css-basics/demo-end/css/styles.css
  sessions/css-basics/demo-end/fonts/alice-v20-latin-regular.eot
  sessions/css-basics/demo-end/fonts/alice-v20-latin-regular.svg
  sessions/css-basics/demo-end/fonts/alice-v20-latin-regular.ttf
  sessions/css-basics/demo-end/fonts/alice-v20-latin-regular.woff
  sessions/css-basics/demo-end/fonts/alice-v20-latin-regular.woff2
  sessions/css-basics/demo-end/fonts/roboto-v30-latin-regular.eot
  sessions/css-basics/demo-end/fonts/roboto-v30-latin-regular.svg
  sessions/css-basics/demo-end/fonts/roboto-v30-latin-regular.ttf
  sessions/css-basics/demo-end/fonts/roboto-v30-latin-regular.woff
  sessions/css-basics/demo-end/fonts/roboto-v30-latin-regular.woff2
  sessions/css-basics/demo-end/index.html
  sessions/css-basics/demo-end/package.json
  sessions/css-basics/demo-end/sandbox.config.json
  sessions/css-basics/demo-start/package.json
Due: npx prettier --write

feat: add demo start files
  sessions/css-basics/demo-start/.eslintrc.json
  sessions/css-basics/demo-start/.prettierrc.json
  sessions/css-basics/demo-start/.stylelintrc.json
  sessions/css-basics/demo-start/README.md
  sessions/css-basics/demo-start/css/styles.css
  sessions/css-basics/demo-start/index.html
  sessions/css-basics/demo-start/package.json
  sessions/css-basics/demo-start/sandbox.config.json
Due: npx prettier --write

migrate to new templates
  sessions/css-basics/demo-end/.eslintrc.json
  sessions/css-basics/demo-end/.gitignore
  sessions/css-basics/demo-end/.prettierrc.json
  sessions/css-basics/demo-end/.stylelintrc.json
  sessions/css-basics/demo-end/README.md
  sessions/css-basics/demo-end/css/styles.css
  sessions/css-basics/demo-end/package.json
  sessions/css-basics/demo-start/.eslintrc.json
  sessions/css-basics/demo-start/.gitignore
  sessions/css-basics/demo-start/.prettierrc.json
  sessions/css-basics/demo-start/.stylelintrc.json
  sessions/css-basics/demo-start/README.md
  sessions/css-basics/demo-start/css/styles.css
  sessions/css-basics/demo-start/package.json
Due: npx prettier --write

fix prettier in migrate script
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

fix eslint patching
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

fix eslint duplicates
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

keep scripts and deps of packages
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

migrate and format remaining pkgs
  sessions/css-animations/demo-end/README.md
  sessions/css-animations/demo-start/README.md
  sessions/css-flexbox/demo-end/README.md
  sessions/css-responsive/demo-end/README.md
  sessions/css-responsive/demo-example-static/README.md
  sessions/js-structure/demo-end/README.md
  sessions/js-unit-testing/demo-end/greet.js
  sessions/js-unit-testing/demo-end/greet.test.js
  sessions/js-unit-testing/demo-end/index.js
  sessions/js-unit-testing/demo-start/greet.js
  sessions/js-unit-testing/demo-start/index.js
  sessions/react-project-setup/demo-project-structure/src/App.test.js
  sessions/react-project-setup/demo-project-structure/src/index.js
  sessions/react-project-setup/demo-project-structure/src/reportWebVitals.js
  sessions/react-project-setup/demo-project-structure/src/setupTests.js
  sessions/react-props/button/README.md
  sessions/react-state-2/favourite-holiday/src/App.js
  sessions/react-state-2/table-reservation/README.md
Due: npx eslint --fix, npx prettier --write

Update css flexbox profile exercise
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

update css-flexbox exercises
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

Update CSS Flexbox Profile exercise (#178)
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

Update sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
  sessions/react-state-3/journal-app-favorite-button-shared-state/README.md
Due: npx prettier --write

Update sessions/react-state-3/journal-app-form/README.md
  sessions/react-state-3/journal-app-form/README.md
Due: npx prettier --write

Update sessions/react-state-3/journal-app-filter/README.md
  sessions/react-state-3/journal-app-filter/README.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
