Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Update sessions/backend-read/products/README.md
  sessions/backend-read/products/README.md
Due: npx prettier --write

move styled components to new files
  sessions/backend-read/products/components/Product/Product.styled.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/ProductList.styled.js
  sessions/backend-read/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

move styled component to top of file
  sessions/backend-read/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

move styled components to separate files
  sessions/backend-create/products/components/Product/Product.styled.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-create/products/components/ProductList/ProductList.styled.js
  sessions/backend-create/products/components/ProductList/index.js
  sessions/backend-create/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

add create form, route, and styling
  sessions/backend-create/products/components/ProductForm/ProductForm.styled.js
  sessions/backend-create/products/components/ProductForm/index.js
  sessions/backend-create/products/components/ProductList/ProductList.styled.js
  sessions/backend-create/products/components/ProductList/index.js
  sessions/backend-create/products/pages/api/products/index.js
  sessions/backend-create/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

update resources with correct currency
  sessions/backend-create/products/resources/bonus-products.json
  sessions/backend-create/products/resources/products.json
  sessions/backend-create/products/resources/reviews.json
Due: npx prettier --write

fix typo in react-data-fetching/star-wars readme
  sessions/react-data-fetching/star-wars/README.md
Due: npx prettier --write

finish backend-read products challenge
  sessions/backend-create/products/.env.local.example
  sessions/backend-create/products/.gitignore
  sessions/backend-create/products/README.md
  sessions/backend-create/products/components/ProductForm/index.js
  sessions/backend-create/products/pages/api/products/index.js
  sessions/backend-create/products/resources.zip
Due: npx eslint --fix, npx prettier --write

add .env.local to .gitignore
  .gitignore
Due: none

change currency in resources files
  sessions/backend-read/products/resources.zip
  sessions/backend-read/products/resources/bonus-products.json
  sessions/backend-read/products/resources/products.json
Due: npx prettier --write

adapt dotenv variables in .gitignore after discussion
  .gitignore
Due: none

Add missing .env.local to root .gitignore file (#246)
  .gitignore
Due: none

update swr dependency
  sessions/react-data-fetching/iss-tracker/package.json
Due: npx prettier --write

update swr dependency (#247)
  sessions/react-data-fetching/iss-tracker/package.json
Due: npx prettier --write

Update sessions/backend-create/demo-end/components/JokeForm/index.js
  sessions/backend-create/demo-end/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

update files according to review
  sessions/backend-create/products/.eslintrc.json
  sessions/backend-create/products/README.md
  sessions/backend-create/products/components/ProductForm/index.js
  sessions/backend-create/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

Backend Read: Products Challenge (#244)
  package-lock.json
  sessions/backend-read/products/.eslintrc.json
  sessions/backend-read/products/.gitignore
  sessions/backend-read/products/.prettierrc.json
  sessions/backend-read/products/README.md
  sessions/backend-read/products/components/Button/Button.styled.js
  sessions/backend-read/products/components/Product/Product.styled.js
  sessions/backend-read/products/components/Product/index.js
  sessions/backend-read/products/components/ProductList/ProductList.styled.js
  sessions/backend-read/products/components/ProductList/index.js
  sessions/backend-read/products/db/connect.js
  sessions/backend-read/products/jest.config.js
  sessions/backend-read/products/jest.setup.js
  sessions/backend-read/products/lib/products.js
  sessions/backend-read/products/next.config.js
  sessions/backend-read/products/package.json
  sessions/backend-read/products/pages/[id].js
  sessions/backend-read/products/pages/_app.js
  sessions/backend-read/products/pages/_document.js
  sessions/backend-read/products/pages/api/products/[id].js
  sessions/backend-read/products/pages/api/products/index.js
  sessions/backend-read/products/pages/index.js
  sessions/backend-read/products/public/favicon.ico
  sessions/backend-read/products/resources.zip
  sessions/backend-read/products/resources/bonus-products.json
  sessions/backend-read/products/resources/bonus-reviews.json
  sessions/backend-read/products/resources/products.json
  sessions/backend-read/products/sandbox.config.json
  sessions/backend-read/products/styles.js
Due: npx eslint --fix, npx prettier --write

"quick fix"
  sessions/backend-create/demo-end/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

Backend Create: Products Challenge (#245)
  sessions/backend-create/products/.env.local.example
  sessions/backend-create/products/.eslintrc.json
  sessions/backend-create/products/.gitignore
  sessions/backend-create/products/.prettierrc.json
  sessions/backend-create/products/README.md
  sessions/backend-create/products/components/Button/Button.styled.js
  sessions/backend-create/products/components/Comments/index.js
  sessions/backend-create/products/components/Product/Product.styled.js
  sessions/backend-create/products/components/Product/index.js
  sessions/backend-create/products/components/ProductForm/ProductForm.styled.js
  sessions/backend-create/products/components/ProductForm/index.js
  sessions/backend-create/products/components/ProductList/ProductList.styled.js
  sessions/backend-create/products/components/ProductList/index.js
  sessions/backend-create/products/db/connect.js
  sessions/backend-create/products/db/models/Product.js
  sessions/backend-create/products/db/models/Review.js
  sessions/backend-create/products/jest.config.js
  sessions/backend-create/products/jest.setup.js
  sessions/backend-create/products/next.config.js
  sessions/backend-create/products/package.json
  sessions/backend-create/products/pages/[id].js
  sessions/backend-create/products/pages/_app.js
  sessions/backend-create/products/pages/_document.js
  sessions/backend-create/products/pages/api/products/[id].js
  sessions/backend-create/products/pages/api/products/index.js
  sessions/backend-create/products/pages/index.js
  sessions/backend-create/products/public/favicon.ico
  sessions/backend-create/products/resources.zip
  sessions/backend-create/products/resources/products.json
  sessions/backend-create/products/resources/reviews.json
  sessions/backend-create/products/sandbox.config.json
  sessions/backend-create/products/styles.js
  sessions/backend-read/products/components/Comments/index.js
  sessions/backend-read/products/db/models/Product.js
  sessions/backend-read/products/db/models/Review.js
Due: npx eslint --fix, npx prettier --write

Backend create demo (#248)
  sessions/backend-create/demo-end/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

Update index.js
  sessions/backend-create/demo-end/components/JokeForm/index.js
Due: npx eslint --fix, npx prettier --write

fix typos in backend-create/products challenge readme
  sessions/backend-create/products/README.md
Due: npx prettier --write

prepare start for challenge
  sessions/backend-update-and-delete/products/.env.local.example
  sessions/backend-update-and-delete/products/.eslintrc.json
  sessions/backend-update-and-delete/products/.gitignore
  sessions/backend-update-and-delete/products/.prettierrc.json
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/Button/Button.styled.js
  sessions/backend-update-and-delete/products/components/Comments/index.js
  sessions/backend-update-and-delete/products/components/Product/Product.styled.js
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/ProductForm.styled.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/components/ProductList/ProductList.styled.js
  sessions/backend-update-and-delete/products/components/ProductList/index.js
  sessions/backend-update-and-delete/products/db/connect.js
  sessions/backend-update-and-delete/products/db/models/Product.js
  sessions/backend-update-and-delete/products/db/models/Review.js
  sessions/backend-update-and-delete/products/jest.config.js
  sessions/backend-update-and-delete/products/jest.setup.js
  sessions/backend-update-and-delete/products/next.config.js
  sessions/backend-update-and-delete/products/package.json
  sessions/backend-update-and-delete/products/pages/[id].js
  sessions/backend-update-and-delete/products/pages/_app.js
  sessions/backend-update-and-delete/products/pages/_document.js
  sessions/backend-update-and-delete/products/pages/api/products/[id].js
  sessions/backend-update-and-delete/products/pages/api/products/index.js
  sessions/backend-update-and-delete/products/pages/index.js
  sessions/backend-update-and-delete/products/public/favicon.ico
  sessions/backend-update-and-delete/products/resources.zip
  sessions/backend-update-and-delete/products/resources/products.json
  sessions/backend-update-and-delete/products/resources/reviews.json
  sessions/backend-update-and-delete/products/sandbox.config.json
  sessions/backend-update-and-delete/products/styles.js
Due: npx eslint --fix, npx prettier --write

add first draft of challenge
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/pages/api/products/[id].js
  sessions/backend-update-and-delete/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

implement PUT API Route
  sessions/backend-update-delete/demo-end/.eslintrc.json
  sessions/backend-update-delete/demo-end/.gitignore
  sessions/backend-update-delete/demo-end/.prettierrc.json
  sessions/backend-update-delete/demo-end/README.md
  sessions/backend-update-delete/demo-end/components/Joke/index.js
  sessions/backend-update-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-delete/demo-end/db/connect.js
  sessions/backend-update-delete/demo-end/db/models/Joke.js
  sessions/backend-update-delete/demo-end/jest.config.js
  sessions/backend-update-delete/demo-end/jest.setup.js
  sessions/backend-update-delete/demo-end/next.config.js
  sessions/backend-update-delete/demo-end/package.json
  sessions/backend-update-delete/demo-end/pages/[id].js
  sessions/backend-update-delete/demo-end/pages/_app.js
  sessions/backend-update-delete/demo-end/pages/_document.js
  sessions/backend-update-delete/demo-end/pages/api/jokes/[id].js
  sessions/backend-update-delete/demo-end/pages/api/jokes/index.js
  sessions/backend-update-delete/demo-end/pages/index.js
  sessions/backend-update-delete/demo-end/public/favicon.ico
  sessions/backend-update-delete/demo-end/sandbox.config.json
  sessions/backend-update-delete/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write

change useSWRMutation usage
  sessions/backend-update-delete/demo-end/pages/[id].js
Due: npx eslint --fix, npx prettier --write

add sendRequest function
  sessions/backend-update-delete/demo-end/pages/[id].js
Due: npx eslint --fix, npx prettier --write

add working update route
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/pages/[id].js
  sessions/backend-update-and-delete/products/pages/api/products/[id].js
  sessions/backend-update-and-delete/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

add start and end demo
  package-lock.json
  sessions/backend-update-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-delete/demo-end/pages/[id].js
  sessions/backend-update-delete/demo-start/.eslintrc.json
  sessions/backend-update-delete/demo-start/.gitignore
  sessions/backend-update-delete/demo-start/.prettierrc.json
  sessions/backend-update-delete/demo-start/README.md
  sessions/backend-update-delete/demo-start/components/Joke/index.js
  sessions/backend-update-delete/demo-start/components/JokeForm/index.js
  sessions/backend-update-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-delete/demo-start/db/connect.js
  sessions/backend-update-delete/demo-start/db/models/Joke.js
  sessions/backend-update-delete/demo-start/jest.config.js
  sessions/backend-update-delete/demo-start/jest.setup.js
  sessions/backend-update-delete/demo-start/next.config.js
  sessions/backend-update-delete/demo-start/package.json
  sessions/backend-update-delete/demo-start/pages/[id].js
  sessions/backend-update-delete/demo-start/pages/_app.js
  sessions/backend-update-delete/demo-start/pages/_document.js
  sessions/backend-update-delete/demo-start/pages/api/jokes/[id].js
  sessions/backend-update-delete/demo-start/pages/api/jokes/index.js
  sessions/backend-update-delete/demo-start/pages/index.js
  sessions/backend-update-delete/demo-start/public/favicon.ico
  sessions/backend-update-delete/demo-start/sandbox.config.json
  sessions/backend-update-delete/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

add first draft of readme
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/pages/[id].js
  sessions/backend-update-and-delete/products/pages/api/products/[id].js
  sessions/backend-update-and-delete/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

finalize update feature
  sessions/backend-update-delete/demo-end/components/Joke/index.js
  sessions/backend-update-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-delete/demo-end/pages/[id].js
  sessions/backend-update-delete/demo-end/pages/index.js
Due: npx eslint --fix, npx prettier --write

add feature delete
  sessions/backend-update-delete/demo-end/components/Joke/index.js
  sessions/backend-update-delete/demo-end/pages/[id].js
  sessions/backend-update-delete/demo-end/pages/api/jokes/[id].js
Due: npx eslint --fix, npx prettier --write

finish tasks in readme file
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/pages/[id].js
  sessions/backend-update-and-delete/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

mild refactoring, cleanup, move styles
  sessions/backend-update-delete/demo-end/components/Button/index.js
  sessions/backend-update-delete/demo-end/components/Joke/index.js
  sessions/backend-update-delete/demo-end/components/JokeForm/index.js
  sessions/backend-update-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-delete/demo-end/components/List/index.js
  sessions/backend-update-delete/demo-end/components/ListItem/index.js
  sessions/backend-update-delete/demo-end/pages/[id].js
  sessions/backend-update-delete/demo-end/pages/index.js
  sessions/backend-update-delete/demo-end/styles.js
Due: npx eslint --fix, npx prettier --write
