Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Update README.md
  sessions/react-with-local-storage/stored-note/README.md
Due: npx prettier --write

replace neueifsche with wd-bootcamp
  README.md
  archive/react-styled-components-2/lotr-app-styling/README.md
  archive/react-styled-components-2/lotr-app-styling_solution/README.md
  scripts/generate-solution-files/index.js
  scripts/get/challenge-local-template.md
  scripts/get/challenge-template.md
  scripts/get/pr-local-template.md
  scripts/get/pr-template.md
  sessions/js-unit-testing/demo-start/README.md
  sessions/nextjs-basics-and-routing/lotr-app/README.md
  sessions/react-styled-components/lotr-app-styling/README.md
  sessions/react-styled-components/lotr-app-styling_solution/README.md
  sessions/recap-project-2/example-implementation/README.md
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx eslint --fix, npx prettier --write

Fix typos and wording in react-effects-and-fetch challenges
  sessions/react-effects-and-fetch/api-status/README.md
  sessions/react-effects-and-fetch/api-status/index.html
  sessions/react-effects-and-fetch/api-status/src/App.jsx
  sessions/react-effects-and-fetch/api-status_solution/README.md
  sessions/react-effects-and-fetch/api-status_solution/index.html
  sessions/react-effects-and-fetch/api-status_solution/src/App.jsx
  sessions/react-effects-and-fetch/iss-tracker/README.md
  sessions/react-effects-and-fetch/iss-tracker/index.html
  sessions/react-effects-and-fetch/iss-tracker_solution/README.md
  sessions/react-effects-and-fetch/iss-tracker_solution/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging/src/App.jsx
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/src/App.jsx
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/src/components/PokemonList.jsx
  sessions/react-effects-and-fetch/pokemon-api/README.md
  sessions/react-effects-and-fetch/pokemon-api/index.html
  sessions/react-effects-and-fetch/pokemon-api/src/App.jsx
  sessions/react-effects-and-fetch/pokemon-api_solution/README.md
  sessions/react-effects-and-fetch/pokemon-api_solution/index.html
  sessions/react-effects-and-fetch/pokemon-api_solution/src/App.jsx
Due: npx eslint --fix, npx prettier --write

Fix typos in react-effects-and-fetch challenge
  sessions/react-effects-and-fetch/api-status/src/components/StatusCheck/index.jsx
  sessions/react-effects-and-fetch/api-status_solution/src/components/StatusCheck/index.jsx
Due: npx eslint --fix, npx prettier --write

add missing attributes
  sessions/html-and-the-web/format-salad/README.md
Due: npx prettier --write

refactor: improve semantic structure and accessibility for "Back to top" link
  sessions/css-positioning/demo-start/index.html
Due: none

refactor: improve classes "Back to top" link
  sessions/css-positioning/demo-start/css/styles.css
Due: none

refactor: align solution with task requirements
  sessions/css-basics/combined-users_solution/css/styles.css
Due: none

fix profile pic in flex challenge
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
  sessions/css-flexbox/profile_solution/.prettierrc.json
  sessions/css-flexbox/profile_solution/css/styles.css
  sessions/css-flexbox/profile_solution/index.html
  sessions/js-modern-syntax/destructuring-objects/js/index.js
  sessions/js-modern-syntax/destructuring-objects_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

remove destructuring from findindex for better understanding of code
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-two-towers.js
Due: npx eslint --fix, npx prettier --write

remove destructuring from findindex for better understanding of code (#425)
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-fellowship-of-the-ring.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-return-of-the-king.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/pages/volumes/the-two-towers.js
Due: npx eslint --fix, npx prettier --write

remove problem package svgr
  archive/react-styled-components-2/lotr-app-styling_solution/package-lock.json
  archive/react-styled-components-2/lotr-app-styling_solution/package.json
Due: npx prettier --write

remove problem package svgr from challenge solution (#426)
  archive/react-styled-components-2/lotr-app-styling_solution/package-lock.json
  archive/react-styled-components-2/lotr-app-styling_solution/package.json
Due: npx prettier --write

remove second problem package svgr
  sessions/react-styled-components/lotr-app-styling_solution/package.json
Due: npx prettier --write

remove problem package svgr from challenge solution
  sessions/react-styled-components/lotr-app-styling_solution/package.json
Due: npx prettier --write

fix add package-lock to fix testing libaray versions
  sessions/react-component-testing/demo-end/package-lock.json
  sessions/react-component-testing/demo-start/package-lock.json
  sessions/react-component-testing/lotr-app-testing/package-lock.json
  sessions/react-component-testing/scorekeeper/package-lock.json
  sessions/react-component-testing/scorekeeper_solution/package-lock.json
Due: npx prettier --write

replace broken images
  sessions/css-responsive/responsive-website_solution/img/desert.jpg
  sessions/css-responsive/responsive-website_solution/img/forest.jpg
  sessions/css-responsive/responsive-website_solution/img/mountain.jpg
  sessions/css-responsive/responsive-website_solution/img/ocean.jpg
  sessions/css-responsive/responsive-website_solution/img/river.jpg
Due: none

Fix formatting.md
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

Fix link to github pages documentation.md
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write

update README.md to have correct listing numbers
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Fix syntax in js-dom-and-events demo-end
  sessions/js-dom-and-events/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

Correct and simplify solutions
  sessions/js-functions/arrow-functions_solution/js/index.js
  sessions/js-functions/basic-functions_solution/js/index.js
  sessions/js-functions/dom-manipulation_solution/js/index.js
  sessions/js-functions/functions-with-parameters-extra_solution/js/index.js
  sessions/js-functions/functions-with-parameters_solution/js/index.js
  sessions/js-functions/greeting-page_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Add comments to js-functions demo-end
  sessions/js-functions/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

add deprecation message
  README.md
Due: npx prettier --write

add deprecation message (#428)
  README.md
Due: npx prettier --write

Update README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Fix Link
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

Fix link, now with the correct one.
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Fix Link
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

fix link
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

change npx command to point to old web-exercises
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

change npx command to point to old web-exercises
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Update README.md
  sessions/js-error-handling/calculator/README.md
Due: npx prettier --write

Remove merge syntax
  sessions/js-modern-syntax/destructuring-objects/js/index.js
Due: npx eslint --fix, npx prettier --write

change for testing draft PRs
  README.md
Due: npx prettier --write
