Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat(js-array-methods): add test and readme files
  sessions/js-array-methods/filter/.eslintrc.json
  sessions/js-array-methods/filter/README.md
  sessions/js-array-methods/filter/index.js
  sessions/js-array-methods/filter/index.test.js
  sessions/js-array-methods/map/README.md
  sessions/js-array-methods/map/index.js
  sessions/js-array-methods/map/index.test.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods-demo): add first draft
  sessions/js-array-methods/demo-end/.eslintrc.json
  sessions/js-array-methods/demo-end/.prettierrc.json
  sessions/js-array-methods/demo-end/.stylelintrc.json
  sessions/js-array-methods/demo-end/README.md
  sessions/js-array-methods/demo-end/css/styles.css
  sessions/js-array-methods/demo-end/index.html
  sessions/js-array-methods/demo-end/js/index.js
  sessions/js-array-methods/demo-end/package.json
  sessions/js-array-methods/demo-end/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add animations demo
  sessions/css-animations/demo-end/.eslintrc.json
  sessions/css-animations/demo-end/.prettierrc.json
  sessions/css-animations/demo-end/.stylelintrc.json
  sessions/css-animations/demo-end/css/styles.css
  sessions/css-animations/demo-end/index.html
  sessions/css-animations/demo-end/package.json
  sessions/css-animations/demo-end/sandbox.config.json
  sessions/css-animations/demo-start/.eslintrc.json
  sessions/css-animations/demo-start/.prettierrc.json
  sessions/css-animations/demo-start/.stylelintrc.json
  sessions/css-animations/demo-start/css/styles.css
  sessions/css-animations/demo-start/index.html
  sessions/css-animations/demo-start/package.json
  sessions/css-animations/demo-start/sandbox.config.json
Due: npx prettier --write

Update sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/README.md
Due: npx prettier --write

chore: remove comment
  sessions/css-animations/demo-end/css/styles.css
  sessions/css-animations/demo-start/css/styles.css
Due: none

Update sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/css/styles.css
Due: none

feat(js-array-methods-demo): add session examples
  sessions/js-array-methods/demo-end/.eslintrc.json
  sessions/js-array-methods/demo-end/css/styles.css
  sessions/js-array-methods/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-array-methods-demo): delete readme file
  sessions/js-array-methods/demo-end/README.md
Due: npx prettier --write

feature/css-animations: add toast animations challenge (#85)
  sessions/css-animations/demo-end/.eslintrc.json
  sessions/css-animations/demo-end/.prettierrc.json
  sessions/css-animations/demo-end/.stylelintrc.json
  sessions/css-animations/demo-end/css/styles.css
  sessions/css-animations/demo-end/index.html
  sessions/css-animations/demo-end/package.json
  sessions/css-animations/demo-end/sandbox.config.json
  sessions/css-animations/demo-start/.eslintrc.json
  sessions/css-animations/demo-start/.prettierrc.json
  sessions/css-animations/demo-start/.stylelintrc.json
  sessions/css-animations/demo-start/css/styles.css
  sessions/css-animations/demo-start/index.html
  sessions/css-animations/demo-start/package.json
  sessions/css-animations/demo-start/sandbox.config.json
  sessions/css-animations/toast-animations/.eslintrc.json
  sessions/css-animations/toast-animations/.prettierrc.json
  sessions/css-animations/toast-animations/.stylelintrc.json
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/index.html
  sessions/css-animations/toast-animations/js/index.js
  sessions/css-animations/toast-animations/package.json
  sessions/css-animations/toast-animations/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

refactor(js-forms-2): replace innerHTML
  sessions/js-forms-2/demo-end/js/index.js
  sessions/js-forms-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-forms-2/demo-end/js/index.js
  sessions/js-forms-2/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-forms-2/demo-start/js/index.js
  sessions/js-forms-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

fix(js-forms-2): old variable name
  sessions/js-forms-2/demo-end/js/index.js
  sessions/js-forms-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods): update hint for repetition
  sessions/js-array-methods/repetition/.eslintrc.json
  sessions/js-array-methods/repetition/index.js
Due: npx eslint --fix, npx prettier --write

refactor(js-forms-2): replace innerHTML with createElement (#89)
  sessions/js-forms-2/demo-end/js/index.js
  sessions/js-forms-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods-demo): update end demo
  sessions/js-array-methods/demo-end/.eslintrc.json
  sessions/js-array-methods/demo-end/css/styles.css
  sessions/js-array-methods/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods-demo): add start demo
  sessions/js-array-methods/demo-start/.eslintrc.json
  sessions/js-array-methods/demo-start/.prettierrc.json
  sessions/js-array-methods/demo-start/.stylelintrc.json
  sessions/js-array-methods/demo-start/css/styles.css
  sessions/js-array-methods/demo-start/index.html
  sessions/js-array-methods/demo-start/js/index.js
  sessions/js-array-methods/demo-start/package.json
  sessions/js-array-methods/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(spa-challenge): add spa_01 (working solution)
  sessions/js-array-methods/spa/spa_01/.eslintrc.json
  sessions/js-array-methods/spa/spa_01/.prettierrc.json
  sessions/js-array-methods/spa/spa_01/.stylelintrc.json
  sessions/js-array-methods/spa/spa_01/README.md
  sessions/js-array-methods/spa/spa_01/css/styles.css
  sessions/js-array-methods/spa/spa_01/index.html
  sessions/js-array-methods/spa/spa_01/js/index.js
  sessions/js-array-methods/spa/spa_01/package.json
  sessions/js-array-methods/spa/spa_01/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(spa-challenge): add spa_02 (simplify with forEach)
  sessions/js-array-methods/spa/spa_02/.eslintrc.json
  sessions/js-array-methods/spa/spa_02/.prettierrc.json
  sessions/js-array-methods/spa/spa_02/.stylelintrc.json
  sessions/js-array-methods/spa/spa_02/README.md
  sessions/js-array-methods/spa/spa_02/css/styles.css
  sessions/js-array-methods/spa/spa_02/index.html
  sessions/js-array-methods/spa/spa_02/js/index.js
  sessions/js-array-methods/spa/spa_02/package.json
  sessions/js-array-methods/spa/spa_02/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(spa-challenge): add spa_03 (forEach + forEach)
  sessions/js-array-methods/spa/spa_03/.eslintrc.json
  sessions/js-array-methods/spa/spa_03/.prettierrc.json
  sessions/js-array-methods/spa/spa_03/.stylelintrc.json
  sessions/js-array-methods/spa/spa_03/README.md
  sessions/js-array-methods/spa/spa_03/css/styles.css
  sessions/js-array-methods/spa/spa_03/index.html
  sessions/js-array-methods/spa/spa_03/js/index.js
  sessions/js-array-methods/spa/spa_03/package.json
  sessions/js-array-methods/spa/spa_03/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(spa-challenge): update readme files
  sessions/js-array-methods/spa/spa_01/README.md
  sessions/js-array-methods/spa/spa_02/README.md
  sessions/js-array-methods/spa/spa_03/README.md
Due: npx prettier --write

feat(js-structure): add first draft of demo
  sessions/js-structure/demo-start/bookmarks.html
  sessions/js-structure/demo-start/components/bookmark/bookmark.css
  sessions/js-structure/demo-start/components/card-list/card-list.css
  sessions/js-structure/demo-start/components/card/card.css
  sessions/js-structure/demo-start/components/counter-list/counter-list.css
  sessions/js-structure/demo-start/components/header/header.css
  sessions/js-structure/demo-start/components/navigation/navigation.css
  sessions/js-structure/demo-start/components/profile/profile.css
  sessions/js-structure/demo-start/global.css
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/index.js
  sessions/js-structure/demo-start/package.json
  sessions/js-structure/demo-start/profile.html
  sessions/js-structure/demo-start/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add toggle functionality
  sessions/js-structure/demo-start/bookmarks.html
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

Feat/js-array-methods/repetition-challenge (#86)
  sessions/css-selectors/demo-end_alternative/package.json
  sessions/css-selectors/demo-start_alternative/package.json
  sessions/js-array-methods/repetition/.eslintrc.json
  sessions/js-array-methods/repetition/README.md
  sessions/js-array-methods/repetition/index.js
  sessions/js-array-methods/repetition/index.test.js
  sessions/js-array-methods/repetition/package.json
  sessions/js-array-methods/repitition/package.json
  sessions/js-forms/calculator/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add basic form page
  sessions/js-structure/demo-start/components/form/form.css
  sessions/js-structure/demo-start/form.html
  sessions/js-structure/demo-start/global.css
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/profile.html
  sessions/js-structure/demo-start/styles.css
Due: none

feat: add new demo repos
  sessions/css-animations/css-animations-demo-end/.eslintrc.json
  sessions/css-animations/css-animations-demo-end/.prettierrc.json
  sessions/css-animations/css-animations-demo-end/.stylelintrc.json
  sessions/css-animations/css-animations-demo-end/css/styles.css
  sessions/css-animations/css-animations-demo-end/index.html
  sessions/css-animations/css-animations-demo-end/js/index.js
  sessions/css-animations/css-animations-demo-end/package.json
  sessions/css-animations/css-animations-demo-end/sandbox.config.json
  sessions/css-animations/css-animations-demo-start/.eslintrc.json
  sessions/css-animations/css-animations-demo-start/.prettierrc.json
  sessions/css-animations/css-animations-demo-start/.stylelintrc.json
  sessions/css-animations/css-animations-demo-start/css/styles.css
  sessions/css-animations/css-animations-demo-start/index.html
  sessions/css-animations/css-animations-demo-start/js/index.js
  sessions/css-animations/css-animations-demo-start/package.json
  sessions/css-animations/css-animations-demo-start/sandbox.config.json
  sessions/css-animations/demo-end/css/styles.css
  sessions/css-animations/demo-end/index.html
  sessions/css-animations/demo-start/css/styles.css
  sessions/css-animations/demo-start/index.html
Due: npx eslint --fix, npx prettier --write

chore: rename demo repos
  sessions/css-animations/demo-end/.eslintrc.json
  sessions/css-animations/demo-end/.prettierrc.json
  sessions/css-animations/demo-end/.stylelintrc.json
  sessions/css-animations/demo-end/css/styles.css
  sessions/css-animations/demo-end/index.html
  sessions/css-animations/demo-end/js/index.js
  sessions/css-animations/demo-end/package.json
  sessions/css-animations/demo-end/sandbox.config.json
  sessions/css-animations/demo-start/.eslintrc.json
  sessions/css-animations/demo-start/.prettierrc.json
  sessions/css-animations/demo-start/.stylelintrc.json
  sessions/css-animations/demo-start/css/styles.css
  sessions/css-animations/demo-start/index.html
  sessions/css-animations/demo-start/js/index.js
  sessions/css-animations/demo-start/package.json
  sessions/css-animations/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add create card function
  sessions/js-structure/demo-start/components/bookmark/bookmark.css
  sessions/js-structure/demo-start/components/form/form.css
  sessions/js-structure/demo-start/form.html
  sessions/js-structure/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add character count
  sessions/js-structure/demo-start/components/form/form.css
  sessions/js-structure/demo-start/form.html
  sessions/js-structure/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

feat: add spacerocket challange
  package-lock.json
  sessions/js-structure/spacerocket/.eslintrc.json
  sessions/js-structure/spacerocket/.prettierrc.json
  sessions/js-structure/spacerocket/.stylelintrc.json
  sessions/js-structure/spacerocket/README.md
  sessions/js-structure/spacerocket/assets/FISHSAT.svg
  sessions/js-structure/spacerocket/assets/NFSAT.svg
  sessions/js-structure/spacerocket/assets/burn.svg
  sessions/js-structure/spacerocket/assets/rocket.svg
  sessions/js-structure/spacerocket/css/styles.css
  sessions/js-structure/spacerocket/index.html
  sessions/js-structure/spacerocket/js/controls.js
  sessions/js-structure/spacerocket/js/core/countdown.js
  sessions/js-structure/spacerocket/js/core/deploy.js
  sessions/js-structure/spacerocket/js/core/fuel.js
  sessions/js-structure/spacerocket/js/core/liftoff.js
  sessions/js-structure/spacerocket/js/core/load.js
  sessions/js-structure/spacerocket/js/core/protocol.js
  sessions/js-structure/spacerocket/js/core/rocket.js
  sessions/js-structure/spacerocket/js/index.js
  sessions/js-structure/spacerocket/js/launchSequence.js
  sessions/js-structure/spacerocket/js/launchSequence.test.js
  sessions/js-structure/spacerocket/js/payload/satellites.js
  sessions/js-structure/spacerocket/js/visual/render.js
  sessions/js-structure/spacerocket/package.json
  sessions/js-structure/spacerocket/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix: render function
  sessions/js-structure/spacerocket/js/visual/render.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
