Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

add solution react effect and fetch pokemon api
  sessions/react-effects-and-fetch/api-status_solution/bun.lockb
  sessions/react-effects-and-fetch/iss-tracker_solution/bun.lockb
  sessions/react-effects-and-fetch/pokemon-api_solution/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api_solution/.gitignore
  sessions/react-effects-and-fetch/pokemon-api_solution/README.md
  sessions/react-effects-and-fetch/pokemon-api_solution/package.json
  sessions/react-effects-and-fetch/pokemon-api_solution/public/index.html
  sessions/react-effects-and-fetch/pokemon-api_solution/src/App.js
  sessions/react-effects-and-fetch/pokemon-api_solution/src/components/PokemonList.js
  sessions/react-effects-and-fetch/pokemon-api_solution/src/index.js
  sessions/react-effects-and-fetch/pokemon-api_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react effect and fetch pokemon api with paging
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/.eslintrc.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/.gitignore
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/README.md
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/package.json
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/public/index.html
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/src/App.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/src/components/PokemonList.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/src/index.js
  sessions/react-effects-and-fetch/pokemon-api-with-paging_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix: change package.json name for solutions
  sessions/react-data-fetching/iss-tracker_solution/package.json
  sessions/react-data-fetching/star-wars_solution/package.json
  sessions/react-state-2/colored-number_solution/package.json
Due: npx prettier --write

add solution react state 2 table reservation
  sessions/react-state-2/table-reservation_solution/.eslintrc.json
  sessions/react-state-2/table-reservation_solution/.gitignore
  sessions/react-state-2/table-reservation_solution/README.md
  sessions/react-state-2/table-reservation_solution/package.json
  sessions/react-state-2/table-reservation_solution/public/index.html
  sessions/react-state-2/table-reservation_solution/src/App.js
  sessions/react-state-2/table-reservation_solution/src/components/Counter.js
  sessions/react-state-2/table-reservation_solution/src/index.js
  sessions/react-state-2/table-reservation_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 2 favourite holiday
  sessions/react-state-2/favourite-holiday_solution/.eslintrc.json
  sessions/react-state-2/favourite-holiday_solution/.gitignore
  sessions/react-state-2/favourite-holiday_solution/README.md
  sessions/react-state-2/favourite-holiday_solution/package.json
  sessions/react-state-2/favourite-holiday_solution/public/index.html
  sessions/react-state-2/favourite-holiday_solution/src/App.js
  sessions/react-state-2/favourite-holiday_solution/src/index.js
  sessions/react-state-2/favourite-holiday_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 2 personal details
  sessions/react-state-2/personal-details_solution/.eslintrc.json
  sessions/react-state-2/personal-details_solution/.gitignore
  sessions/react-state-2/personal-details_solution/README.md
  sessions/react-state-2/personal-details_solution/package.json
  sessions/react-state-2/personal-details_solution/public/index.html
  sessions/react-state-2/personal-details_solution/src/App.js
  sessions/react-state-2/personal-details_solution/src/components/Form.js
  sessions/react-state-2/personal-details_solution/src/index.js
  sessions/react-state-2/personal-details_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 2 triple count
  sessions/react-state-2/triple-count_solution/.eslintrc.json
  sessions/react-state-2/triple-count_solution/.gitignore
  sessions/react-state-2/triple-count_solution/README.md
  sessions/react-state-2/triple-count_solution/package.json
  sessions/react-state-2/triple-count_solution/public/index.html
  sessions/react-state-2/triple-count_solution/src/App.js
  sessions/react-state-2/triple-count_solution/src/components/Counter.js
  sessions/react-state-2/triple-count_solution/src/index.js
  sessions/react-state-2/triple-count_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 2 conditional usestate
  sessions/react-state-2/conditional-usestate_solution/.eslintrc.json
  sessions/react-state-2/conditional-usestate_solution/.gitignore
  sessions/react-state-2/conditional-usestate_solution/README.md
  sessions/react-state-2/conditional-usestate_solution/package.json
  sessions/react-state-2/conditional-usestate_solution/public/index.html
  sessions/react-state-2/conditional-usestate_solution/src/App.js
  sessions/react-state-2/conditional-usestate_solution/src/index.js
  sessions/react-state-2/conditional-usestate_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 3 adding animals
  sessions/react-state-3/adding-animals_solution/.eslintrc.json
  sessions/react-state-3/adding-animals_solution/.gitignore
  sessions/react-state-3/adding-animals_solution/README.md
  sessions/react-state-3/adding-animals_solution/package.json
  sessions/react-state-3/adding-animals_solution/public/index.html
  sessions/react-state-3/adding-animals_solution/src/App.js
  sessions/react-state-3/adding-animals_solution/src/components/Form/Form.css
  sessions/react-state-3/adding-animals_solution/src/components/Form/index.js
  sessions/react-state-3/adding-animals_solution/src/components/List/List.css
  sessions/react-state-3/adding-animals_solution/src/components/List/index.js
  sessions/react-state-3/adding-animals_solution/src/index.js
  sessions/react-state-3/adding-animals_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 3 tags
  sessions/react-state-3/tags_solution/.eslintrc.json
  sessions/react-state-3/tags_solution/.gitignore
  sessions/react-state-3/tags_solution/README.md
  sessions/react-state-3/tags_solution/package.json
  sessions/react-state-3/tags_solution/public/index.html
  sessions/react-state-3/tags_solution/src/App.js
  sessions/react-state-3/tags_solution/src/components/Form/Form.css
  sessions/react-state-3/tags_solution/src/components/Form/index.js
  sessions/react-state-3/tags_solution/src/components/List/List.css
  sessions/react-state-3/tags_solution/src/components/List/index.js
  sessions/react-state-3/tags_solution/src/index.js
  sessions/react-state-3/tags_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react state 3 journal app
  sessions/react-state-3/journal-app_solution/.gitignore
  sessions/react-state-3/journal-app_solution/.prettierrc.json
  sessions/react-state-3/journal-app_solution/README.md
  sessions/react-state-3/journal-app_solution/package.json
  sessions/react-state-3/journal-app_solution/public/index.html
  sessions/react-state-3/journal-app_solution/src/App.css
  sessions/react-state-3/journal-app_solution/src/App.js
  sessions/react-state-3/journal-app_solution/src/colors.css
  sessions/react-state-3/journal-app_solution/src/components/Badge/Badge.css
  sessions/react-state-3/journal-app_solution/src/components/Badge/index.js
  sessions/react-state-3/journal-app_solution/src/components/Button/Button.css
  sessions/react-state-3/journal-app_solution/src/components/Button/index.js
  sessions/react-state-3/journal-app_solution/src/components/Divider/Divider.css
  sessions/react-state-3/journal-app_solution/src/components/Divider/index.js
  sessions/react-state-3/journal-app_solution/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-3/journal-app_solution/src/components/EntriesSection/index.js
  sessions/react-state-3/journal-app_solution/src/components/Entry/Entry.css
  sessions/react-state-3/journal-app_solution/src/components/Entry/index.js
  sessions/react-state-3/journal-app_solution/src/components/EntryForm/EntryForm.css
  sessions/react-state-3/journal-app_solution/src/components/EntryForm/index.js
  sessions/react-state-3/journal-app_solution/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-3/journal-app_solution/src/components/FavoriteButton/index.js
  sessions/react-state-3/journal-app_solution/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-3/journal-app_solution/src/components/FavoriteButton/star.svg
  sessions/react-state-3/journal-app_solution/src/components/Footer/Footer.css
  sessions/react-state-3/journal-app_solution/src/components/Footer/index.js
  sessions/react-state-3/journal-app_solution/src/components/Header/Header.css
  sessions/react-state-3/journal-app_solution/src/components/Header/index.js
  sessions/react-state-3/journal-app_solution/src/components/Tab/Tab.css
  sessions/react-state-3/journal-app_solution/src/components/Tab/index.js
  sessions/react-state-3/journal-app_solution/src/components/Tabs/Tabs.css
  sessions/react-state-3/journal-app_solution/src/components/Tabs/index.js
  sessions/react-state-3/journal-app_solution/src/index.css
  sessions/react-state-3/journal-app_solution/src/index.js
  sessions/react-state-3/journal-app_solution/src/reportWebVitals.js
  sessions/react-state-3/journal-app_solution/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

add script for getting challenge names
  scripts/get-all-challenges.js
Due: npx eslint --fix, npx prettier --write

chore: improve notes for part-1
  sessions/recap-project-react/part-1/readme.md
  sessions/recap-project-react/part-3/readme.md
Due: npx prettier --write

chore: update wireframe and improve hints
  sessions/recap-project-react/assets/wireframe-6.png
  sessions/recap-project-react/part-5/hints.md
  sessions/recap-project-react/part-6/readme.md
Due: npx prettier --write

add solution next dynamic routs lotr app
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/.eslintrc.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/.gitignore
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/.prettierrc.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/README.md
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/jest.config.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/jest.setup.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/jsconfig.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/lib/data.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/next.config.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/package.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/pages/_app.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/pages/_document.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/pages/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/pages/volumes/[slug].js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/pages/volumes/index.js
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/public/images/the-fellowship-of-the-ring.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/public/images/the-return-of-the-king.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/public/images/the-two-towers.png
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes_solution/styles.js
Due: npx eslint --fix, npx prettier --write

add solution backend update and delete products
  sessions/backend-update-and-delete/products_solution/.env.local.example
  sessions/backend-update-and-delete/products_solution/.eslintrc.json
  sessions/backend-update-and-delete/products_solution/.gitignore
  sessions/backend-update-and-delete/products_solution/.prettierrc.json
  sessions/backend-update-and-delete/products_solution/README.md
  sessions/backend-update-and-delete/products_solution/components/Button/Button.styled.js
  sessions/backend-update-and-delete/products_solution/components/Comments/index.js
  sessions/backend-update-and-delete/products_solution/components/Link/Link.styled.js
  sessions/backend-update-and-delete/products_solution/components/Product/Product.styled.js
  sessions/backend-update-and-delete/products_solution/components/Product/index.js
  sessions/backend-update-and-delete/products_solution/components/ProductForm/ProductForm.styled.js
  sessions/backend-update-and-delete/products_solution/components/ProductForm/index.js
  sessions/backend-update-and-delete/products_solution/components/ProductList/ProductList.styled.js
  sessions/backend-update-and-delete/products_solution/components/ProductList/index.js
  sessions/backend-update-and-delete/products_solution/db/connect.js
  sessions/backend-update-and-delete/products_solution/db/models/Product.js
  sessions/backend-update-and-delete/products_solution/db/models/Review.js
  sessions/backend-update-and-delete/products_solution/jest.config.js
  sessions/backend-update-and-delete/products_solution/jest.setup.js
  sessions/backend-update-and-delete/products_solution/jsconfig.json
  sessions/backend-update-and-delete/products_solution/next.config.js
  sessions/backend-update-and-delete/products_solution/package.json
  sessions/backend-update-and-delete/products_solution/pages/[id].js
  sessions/backend-update-and-delete/products_solution/pages/_app.js
  sessions/backend-update-and-delete/products_solution/pages/_document.js
  sessions/backend-update-and-delete/products_solution/pages/api/products/[id].js
  sessions/backend-update-and-delete/products_solution/pages/api/products/index.js
  sessions/backend-update-and-delete/products_solution/pages/index.js
  sessions/backend-update-and-delete/products_solution/public/favicon.ico
  sessions/backend-update-and-delete/products_solution/resources/products.json
  sessions/backend-update-and-delete/products_solution/resources/reviews.json
  sessions/backend-update-and-delete/products_solution/styles.js
Due: npx eslint --fix, npx prettier --write

add solution react state 1 favorite button
  sessions/react-state-1/journal-app-favorite-button_solution/.codesandbox/tasks.json
  sessions/react-state-1/journal-app-favorite-button_solution/.gitignore
  sessions/react-state-1/journal-app-favorite-button_solution/.prettierrc.json
  sessions/react-state-1/journal-app-favorite-button_solution/README.md
  sessions/react-state-1/journal-app-favorite-button_solution/package.json
  sessions/react-state-1/journal-app-favorite-button_solution/public/index.html
  sessions/react-state-1/journal-app-favorite-button_solution/sandbox.config.json
  sessions/react-state-1/journal-app-favorite-button_solution/src/App.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/App.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/colors.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Badge/Badge.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Badge/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Button/Button.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Button/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Divider/Divider.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Divider/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/EntriesSection/EntriesSection.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/EntriesSection/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Entry/Entry.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Entry/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/EntryForm/EntryForm.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/EntryForm/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/FavoriteButton/FavoriteButton.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/FavoriteButton/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/FavoriteButton/star-filled.svg
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/FavoriteButton/star.svg
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Footer/Footer.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Footer/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Header/Header.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Header/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Tab/Tab.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Tab/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Tabs/Tabs.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/components/Tabs/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/index.css
  sessions/react-state-1/journal-app-favorite-button_solution/src/index.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/reportWebVitals.js
  sessions/react-state-1/journal-app-favorite-button_solution/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

create new continuous challenge 'vending-machine'
  sessions/js-functions-1/vending-machine/.codesandbox/tasks.json
  sessions/js-functions-1/vending-machine/.eslintrc.json
  sessions/js-functions-1/vending-machine/.gitignore
  sessions/js-functions-1/vending-machine/README.md
  sessions/js-functions-1/vending-machine/css/styles.css
  sessions/js-functions-1/vending-machine/index.html
  sessions/js-functions-1/vending-machine/js/index.js
  sessions/js-functions-1/vending-machine/package.json
  sessions/js-functions-2/vending-machine_advanced/.codesandbox/tasks.json
  sessions/js-functions-2/vending-machine_advanced/.eslintrc.json
  sessions/js-functions-2/vending-machine_advanced/.gitignore
  sessions/js-functions-2/vending-machine_advanced/README.md
  sessions/js-functions-2/vending-machine_advanced/css/styles.css
  sessions/js-functions-2/vending-machine_advanced/index.html
  sessions/js-functions-2/vending-machine_advanced/js/index.js
  sessions/js-functions-2/vending-machine_advanced/package.json
Due: npx eslint --fix, npx prettier --write

move instructions from index.js to README.md
  sessions/js-functions-1/vending-machine/README.md
  sessions/js-functions-1/vending-machine/js/index.js
  sessions/js-functions-2/vending-machine_advanced/README.md
  sessions/js-functions-2/vending-machine_advanced/js/index.js
Due: npx eslint --fix, npx prettier --write

remove unfit challenge, create new component-based challenge
  sessions/css-structure/selectors-and-cascading-bugs/css/styles.css
  sessions/css-structure/selectors-and-cascading-bugs/index.html
  sessions/css-structure/taco-truck-solution/.codesandbox/tasks.json
  sessions/css-structure/taco-truck-solution/.gitignore
  sessions/css-structure/taco-truck-solution/.prettierrc.json
  sessions/css-structure/taco-truck-solution/README.md
  sessions/css-structure/taco-truck-solution/assets/components.png
  sessions/css-structure/taco-truck-solution/assets/wireframe.png
  sessions/css-structure/taco-truck-solution/components/card.css
  sessions/css-structure/taco-truck-solution/components/header.css
  sessions/css-structure/taco-truck-solution/components/main.css
  sessions/css-structure/taco-truck-solution/index.html
  sessions/css-structure/taco-truck-solution/package.json
  sessions/css-structure/taco-truck-solution/sandbox.config.json
  sessions/css-structure/taco-truck-solution/styles.css
  sessions/css-structure/taco-truck-solution/theme.css
  sessions/css-structure/taco-truck/.codesandbox/tasks.json
  sessions/css-structure/taco-truck/.gitignore
  sessions/css-structure/taco-truck/.prettierrc.json
  sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck/assets/components.png
  sessions/css-structure/taco-truck/assets/wireframe.png
  sessions/css-structure/taco-truck/index.html
  sessions/css-structure/taco-truck/package.json
  sessions/css-structure/taco-truck/sandbox.config.json
  sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck/theme.css
Due: npx prettier --write

JS Functions 1 & JS Functions 2 - New Challenges (#366)
  sessions/js-functions-1/vending-machine/.codesandbox/tasks.json
  sessions/js-functions-1/vending-machine/.eslintrc.json
  sessions/js-functions-1/vending-machine/.gitignore
  sessions/js-functions-1/vending-machine/README.md
  sessions/js-functions-1/vending-machine/css/styles.css
  sessions/js-functions-1/vending-machine/index.html
  sessions/js-functions-1/vending-machine/js/index.js
  sessions/js-functions-1/vending-machine/package.json
  sessions/js-functions-2/vending-machine_advanced/.codesandbox/tasks.json
  sessions/js-functions-2/vending-machine_advanced/.eslintrc.json
  sessions/js-functions-2/vending-machine_advanced/.gitignore
  sessions/js-functions-2/vending-machine_advanced/README.md
  sessions/js-functions-2/vending-machine_advanced/css/styles.css
  sessions/js-functions-2/vending-machine_advanced/index.html
  sessions/js-functions-2/vending-machine_advanced/js/index.js
  sessions/js-functions-2/vending-machine_advanced/package.json
Due: npx eslint --fix, npx prettier --write

add new template for js-with-node
  templates/js-with-node/.gitignore
  templates/js-with-node/README.md
  templates/js-with-node/index.js
Due: npx eslint --fix, npx prettier --write

refactor: use alternative html layout
  sessions/css-structure/taco-truck-solution/components/card.css
  sessions/css-structure/taco-truck-solution/components/header.css
  sessions/css-structure/taco-truck-solution/components/main.css
  sessions/css-structure/taco-truck-solution/index.html
  sessions/css-structure/taco-truck-solution/styles.css
  sessions/css-structure/taco-truck-solution/tmp.html
  sessions/css-structure/taco-truck/index.html
Due: none

fix: remove tmp.html
  sessions/css-structure/taco-truck-solution/tmp.html
Due: none

fix: remove comment in styles.css
  sessions/css-structure/taco-truck/styles.css
Due: none

Update sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck/README.md
Due: npx prettier --write

CSS Structure: Revision Challenges (#367)
  sessions/css-structure/selectors-and-cascading-bugs/css/styles.css
  sessions/css-structure/selectors-and-cascading-bugs/index.html
  sessions/css-structure/taco-truck-solution/.codesandbox/tasks.json
  sessions/css-structure/taco-truck-solution/.gitignore
  sessions/css-structure/taco-truck-solution/.prettierrc.json
  sessions/css-structure/taco-truck-solution/README.md
  sessions/css-structure/taco-truck-solution/assets/components.png
  sessions/css-structure/taco-truck-solution/assets/wireframe.png
  sessions/css-structure/taco-truck-solution/components/card.css
  sessions/css-structure/taco-truck-solution/components/header.css
  sessions/css-structure/taco-truck-solution/components/main.css
  sessions/css-structure/taco-truck-solution/index.html
  sessions/css-structure/taco-truck-solution/package.json
  sessions/css-structure/taco-truck-solution/sandbox.config.json
  sessions/css-structure/taco-truck-solution/styles.css
  sessions/css-structure/taco-truck-solution/theme.css
  sessions/css-structure/taco-truck/.codesandbox/tasks.json
  sessions/css-structure/taco-truck/.gitignore
  sessions/css-structure/taco-truck/.prettierrc.json
  sessions/css-structure/taco-truck/README.md
  sessions/css-structure/taco-truck/assets/components.png
  sessions/css-structure/taco-truck/assets/wireframe.png
  sessions/css-structure/taco-truck/index.html
  sessions/css-structure/taco-truck/package.json
  sessions/css-structure/taco-truck/sandbox.config.json
  sessions/css-structure/taco-truck/styles.css
  sessions/css-structure/taco-truck/theme.css
Due: npx prettier --write

hotfix
  sessions/css-structure/taco-truck/index.html
Due: none

add solution for backend basics chance
  sessions/backend-basics/chance_solution/.eslintrc.json
  sessions/backend-basics/chance_solution/.gitignore
  sessions/backend-basics/chance_solution/.prettierrc.json
  sessions/backend-basics/chance_solution/README.md
  sessions/backend-basics/chance_solution/index.js
  sessions/backend-basics/chance_solution/package-lock.json
  sessions/backend-basics/chance_solution/package.json
  sessions/backend-basics/chance_solution/server.js
Due: npx eslint --fix, npx prettier --write

add solution for backend basics greeting
  sessions/backend-basics/greeting_solution/.eslintrc.json
  sessions/backend-basics/greeting_solution/.gitignore
  sessions/backend-basics/greeting_solution/.prettierrc.json
  sessions/backend-basics/greeting_solution/README.md
  sessions/backend-basics/greeting_solution/index.js
  sessions/backend-basics/greeting_solution/package.json
  sessions/backend-basics/greeting_solution/server.js
Due: npx eslint --fix, npx prettier --write

add solution for backend basics routes
  sessions/backend-basics/routes_solution/.eslintrc.json
  sessions/backend-basics/routes_solution/.gitignore
  sessions/backend-basics/routes_solution/.prettierrc.json
  sessions/backend-basics/routes_solution/README.md
  sessions/backend-basics/routes_solution/index.js
  sessions/backend-basics/routes_solution/package.json
  sessions/backend-basics/routes_solution/server.js
Due: npx eslint --fix, npx prettier --write

add solution for backend api routes random character
  sessions/backend-api-routes/random-character_solution/.eslintrc.json
  sessions/backend-api-routes/random-character_solution/.gitignore
  sessions/backend-api-routes/random-character_solution/.prettierrc.json
  sessions/backend-api-routes/random-character_solution/README.md
  sessions/backend-api-routes/random-character_solution/bun.lockb
  sessions/backend-api-routes/random-character_solution/jest.config.js
  sessions/backend-api-routes/random-character_solution/jest.setup.js
  sessions/backend-api-routes/random-character_solution/jsconfig.json
  sessions/backend-api-routes/random-character_solution/next.config.js
  sessions/backend-api-routes/random-character_solution/package.json
  sessions/backend-api-routes/random-character_solution/pages/_app.js
  sessions/backend-api-routes/random-character_solution/pages/_document.js
  sessions/backend-api-routes/random-character_solution/pages/api/random-character.js
  sessions/backend-api-routes/random-character_solution/pages/index.js
  sessions/backend-api-routes/random-character_solution/public/favicon.ico
  sessions/backend-api-routes/random-character_solution/styles.js
  sessions/backend-basics/routes_solution/server.test.js
Due: npx eslint --fix, npx prettier --write

add vercel challenge & guide
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-1/quiz-app/assets/screen1.png
  sessions/recap-project-1/quiz-app/assets/screen2.png
  sessions/recap-project-1/quiz-app/assets/screen3.png
  sessions/recap-project-1/quiz-app/assets/screen4.png
  sessions/recap-project-1/quiz-app/assets/screen5.png
  sessions/recap-project-1/quiz-app/assets/screen6.png
  sessions/recap-project-1/quiz-app/assets/screen7.png
  sessions/recap-project-1/quiz-app/assets/screen8.png
  sessions/recap-project-1/quiz-app/assets/screen9.png
Due: npx prettier --write

rename session
  sessions/agile-workflow-and-user-stories/movie-app/README.md
  sessions/agile-workflow-and-user-stories/movie-app/assets/scribble-movie-detail-page.png
  sessions/agile-workflow-and-user-stories/movie-app/assets/scribble-movie-list.png
  sessions/agile-workflow-and-user-stories/movie-app/assets/scribble-watchlist.png
  sessions/agile-workflow-and-user-stories/movie-app/assets/user-story-workshop-start.excalidraw
  sessions/agile-workflow-and-user-stories/movie-app/user-story-1.md
  sessions/agile-workflow-and-user-stories/movie-app/user-story-2.md
  sessions/agile-workflow-and-user-stories/movie-app/user-story-3.md
Due: npx prettier --write

chore: adapt challenge flow
  sessions/agile-workflow-and-user-stories/movie-app/README.md
Due: npx prettier --write

remove outdated excalidraw file
  sessions/agile-workflow-and-user-stories/movie-app/assets/user-story-workshop-start.excalidraw
Due: none

implement suggestions
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-1/quiz-app/assets/screen10.png
  sessions/recap-project-1/quiz-app/assets/screen11.png
Due: npx prettier --write

move section
  sessions/recap-project-1/quiz-app/README.md
Due: npx prettier --write
