Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

refactor: rename all component functions to reflect our naming conventions for (future React) components
  sessions/recap-project-3/example-implementation/components/NavButton/NavButton.css
  sessions/recap-project-3/example-implementation/components/NavButton/NavButton.js
  sessions/recap-project-3/example-implementation/components/NavPagination/NavPagination.css
  sessions/recap-project-3/example-implementation/components/NavPagination/NavPagination.js
  sessions/recap-project-3/example-implementation/components/SearchBar/SearchBar.css
  sessions/recap-project-3/example-implementation/components/SearchBar/SearchBar.js
  sessions/recap-project-3/example-implementation/components/card/card.js
  sessions/recap-project-3/example-implementation/index.js
  sessions/recap-project-3/example-implementation/styles.css
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.css
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.js
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.css
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.js
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.css
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.js
Due: npx eslint --fix, npx prettier --write

refactor: more renaming
  sessions/recap-project-3/example-implementation/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/example-implementation/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/rick-and-morty-app/components/card/card.js
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: npx eslint --fix, npx prettier --write

refactor: renamed Card to CharacterCard to be more consistent
  sessions/recap-project-3/example-implementation/index.js
Due: npx eslint --fix, npx prettier --write

refactor: rename all component functions … (#334)
  sessions/recap-project-3/example-implementation/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/example-implementation/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/example-implementation/components/NavButton/NavButton.css
  sessions/recap-project-3/example-implementation/components/NavButton/NavButton.js
  sessions/recap-project-3/example-implementation/components/NavPagination/NavPagination.css
  sessions/recap-project-3/example-implementation/components/NavPagination/NavPagination.js
  sessions/recap-project-3/example-implementation/components/SearchBar/SearchBar.css
  sessions/recap-project-3/example-implementation/components/SearchBar/SearchBar.js
  sessions/recap-project-3/example-implementation/index.js
  sessions/recap-project-3/example-implementation/styles.css
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.css
  sessions/recap-project-3/rick-and-morty-app/components/CharacterCard/CharacterCard.js
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.css
  sessions/recap-project-3/rick-and-morty-app/components/NavButton/NavButton.js
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.css
  sessions/recap-project-3/rick-and-morty-app/components/NavPagination/NavPagination.js
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.css
  sessions/recap-project-3/rick-and-morty-app/components/SearchBar/SearchBar.js
  sessions/recap-project-3/rick-and-morty-app/components/card/card.js
  sessions/recap-project-3/rick-and-morty-app/styles.css
Due: npx eslint --fix, npx prettier --write

explain note about debug.css more precisely.
  sessions/css-basics/combined-users/css/styles.css
Due: none

explain note about debug.css more precisely. (#335)
  sessions/css-basics/combined-users/css/styles.css
Due: none

remove immer-local-storage-state
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

Update README.md
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

Add project scaffolding instructions with Create React App
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Add missing word
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Update README with important tips for project setup
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Add another sentence for the clean-up process
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Fix sentence
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Add project scaffolding instructions with Create React App (#336)
  sessions/recap-project-4/weather-and-activities-app/README.md
Due: npx prettier --write

Update README.md
  sessions/backend-basics/chance/README.md
Due: npx prettier --write

Update readme for lotr app challenge
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

Fix promise try/catch scenario
  sessions/js-error-handling/fetch-solution/.codesandbox/tasks.json
  sessions/js-error-handling/fetch-solution/.eslintrc.json
  sessions/js-error-handling/fetch-solution/.gitignore
  sessions/js-error-handling/fetch-solution/.prettierrc.json
  sessions/js-error-handling/fetch-solution/README.md
  sessions/js-error-handling/fetch-solution/css/styles.css
  sessions/js-error-handling/fetch-solution/index.html
  sessions/js-error-handling/fetch-solution/js/index.js
  sessions/js-error-handling/fetch-solution/package.json
  sessions/js-error-handling/fetch-solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Fix promise try/catch scenario (#338)
  sessions/js-error-handling/fetch-solution/.codesandbox/tasks.json
  sessions/js-error-handling/fetch-solution/.eslintrc.json
  sessions/js-error-handling/fetch-solution/.gitignore
  sessions/js-error-handling/fetch-solution/.prettierrc.json
  sessions/js-error-handling/fetch-solution/README.md
  sessions/js-error-handling/fetch-solution/css/styles.css
  sessions/js-error-handling/fetch-solution/index.html
  sessions/js-error-handling/fetch-solution/js/index.js
  sessions/js-error-handling/fetch-solution/package.json
  sessions/js-error-handling/fetch-solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

chore: fix minor inconsistency naming styled components
  sessions/react-styled-components-1/styled-navbar/README.md
  sessions/react-styled-components-1/styled-navbar/pages/_app.js
Due: npx eslint --fix, npx prettier --write

feat: add guides for part 1-3
  sessions/react-recap-project/README.md
  sessions/react-recap-project/assets/part-1-1.png
  sessions/react-recap-project/assets/part-2-1.png
  sessions/react-recap-project/assets/part-3-1.png
  sessions/react-recap-project/part-1/hints.md
  sessions/react-recap-project/part-1/readme.md
  sessions/react-recap-project/part-2/hints.md
  sessions/react-recap-project/part-2/readme.md
  sessions/react-recap-project/part-3/hints.md
  sessions/react-recap-project/part-3/readme.md
Due: npx prettier --write

chore: add more notes to instructions for part 1
  sessions/react-recap-project/part-1/readme.md
Due: npx prettier --write

chore: add instructions for part 4
  sessions/react-recap-project/assets/part-4-1.png
  sessions/react-recap-project/part-4/hints.md
  sessions/react-recap-project/part-4/readme.md
Due: npx prettier --write

chore: fix minor inconsistency naming styled components (#339)
  sessions/react-styled-components-1/styled-navbar/README.md
  sessions/react-styled-components-1/styled-navbar/pages/_app.js
Due: npx eslint --fix, npx prettier --write

chore: add files for part 5
  sessions/react-recap-project/part-4/hints.md
  sessions/react-recap-project/part-4/readme.md
  sessions/react-recap-project/part-5/hints.md
  sessions/react-recap-project/part-5/readme.md
Due: npx prettier --write

adding additional challenges for html, css flex and grid
  sessions/student-recap/additional-flex-component/README.md
  sessions/student-recap/additional-flex-component/assets/flex-exercise.png
  sessions/student-recap/additional-flex-component/index.html
  sessions/student-recap/additional-flex-component/package.json
  sessions/student-recap/additional-flex-component/style.css
  sessions/student-recap/additional-flex-grid-layout/README.md
  sessions/student-recap/additional-flex-grid-layout/assets/flex-grid-layout.png
  sessions/student-recap/additional-flex-grid-layout/index.html
  sessions/student-recap/additional-flex-grid-layout/package.json
  sessions/student-recap/additional-flex-grid-layout/style.css
  sessions/student-recap/additional-html-template/README.md
  sessions/student-recap/additional-html-template/index.html
  sessions/student-recap/additional-html-template/package.json
Due: npx prettier --write

chore: add instructions for part 5
  sessions/react-recap-project/part-1/hints.md
  sessions/react-recap-project/part-2/hints.md
  sessions/react-recap-project/part-3/hints.md
  sessions/react-recap-project/part-4/hints.md
  sessions/react-recap-project/part-4/readme.md
  sessions/react-recap-project/part-5/hints.md
  sessions/react-recap-project/part-5/readme.md
Due: npx prettier --write

add hints and wireframe for part 5
  sessions/react-recap-project/README.md
  sessions/react-recap-project/assets/part-5-1.png
  sessions/react-recap-project/part-5/hints.md
  sessions/react-recap-project/part-5/readme.md
Due: npx prettier --write

add part 6 and 7
  sessions/react-recap-project/README.md
  sessions/react-recap-project/part-6/hints.md
  sessions/react-recap-project/part-6/readme.md
  sessions/react-recap-project/part-7/hints.md
  sessions/react-recap-project/part-7/readme.md
Due: npx prettier --write

Update readme for lotr app challenge (#337)
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

chore: add part 8
  sessions/react-recap-project/part-8/hints.md
  sessions/react-recap-project/part-8/readme.md
Due: npx prettier --write

add wireframes and part 9-10
  sessions/react-recap-project/assets/part-7-1.png
  sessions/react-recap-project/assets/part-8-1.png
  sessions/react-recap-project/assets/part-9-1.png
  sessions/react-recap-project/part-10/hints.md
  sessions/react-recap-project/part-10/readme.md
  sessions/react-recap-project/part-9/hints.md
  sessions/react-recap-project/part-9/readme.md
Due: npx prettier --write

update readme
  sessions/react-recap-project/README.md
Due: npx prettier --write

chore: use codeblocks for component names
  sessions/react-recap-project/part-10/hints.md
  sessions/react-recap-project/part-10/readme.md
  sessions/react-recap-project/part-3/readme.md
  sessions/react-recap-project/part-4/readme.md
  sessions/react-recap-project/part-5/readme.md
  sessions/react-recap-project/part-6/readme.md
  sessions/react-recap-project/part-7/readme.md
  sessions/react-recap-project/part-8/readme.md
  sessions/react-recap-project/part-9/readme.md
Due: npx prettier --write

chore: rename folder
  sessions/recap-project-react/README.md
  sessions/recap-project-react/assets/part-1-1.png
  sessions/recap-project-react/assets/part-2-1.png
  sessions/recap-project-react/assets/part-3-1.png
  sessions/recap-project-react/assets/part-4-1.png
  sessions/recap-project-react/assets/part-5-1.png
  sessions/recap-project-react/assets/part-7-1.png
  sessions/recap-project-react/assets/part-8-1.png
  sessions/recap-project-react/assets/part-9-1.png
  sessions/recap-project-react/part-1/hints.md
  sessions/recap-project-react/part-1/readme.md
  sessions/recap-project-react/part-2/hints.md
  sessions/recap-project-react/part-2/readme.md
  sessions/recap-project-react/part-3/hints.md
  sessions/recap-project-react/part-3/readme.md
  sessions/recap-project-react/part-4/hints.md
  sessions/recap-project-react/part-4/readme.md
  sessions/recap-project-react/part-5/hints.md
  sessions/recap-project-react/part-5/readme.md
  sessions/recap-project-react/part-6/hints.md
  sessions/recap-project-react/part-6/readme.md
  sessions/recap-project-react/part-7/hints.md
  sessions/recap-project-react/part-7/readme.md
  sessions/recap-project-react/part-8/hints.md
  sessions/recap-project-react/part-8/readme.md
  sessions/recap-project-react/part-9 copy/hints.md
  sessions/recap-project-react/part-9 copy/readme.md
  sessions/recap-project-react/part-9/hints.md
  sessions/recap-project-react/part-9/readme.md
Due: npx prettier --write

fix: folder name
  sessions/recap-project-react/part-10/hints.md
  sessions/recap-project-react/part-10/readme.md
Due: npx prettier --write

Apply suggestions from code review
  sessions/recap-project-react/part-10/hints.md
  sessions/recap-project-react/part-10/readme.md
  sessions/recap-project-react/part-2/hints.md
  sessions/recap-project-react/part-7/hints.md
  sessions/recap-project-react/part-7/readme.md
  sessions/recap-project-react/part-8/readme.md
  sessions/recap-project-react/part-9/hints.md
  sessions/recap-project-react/part-9/readme.md
Due: npx prettier --write

Feature/react recap project (#340)
  sessions/recap-project-react/README.md
  sessions/recap-project-react/assets/part-1-1.png
  sessions/recap-project-react/assets/part-2-1.png
  sessions/recap-project-react/assets/part-3-1.png
  sessions/recap-project-react/assets/part-4-1.png
  sessions/recap-project-react/assets/part-5-1.png
  sessions/recap-project-react/assets/part-7-1.png
  sessions/recap-project-react/assets/part-8-1.png
  sessions/recap-project-react/assets/part-9-1.png
  sessions/recap-project-react/part-1/hints.md
  sessions/recap-project-react/part-1/readme.md
  sessions/recap-project-react/part-10/hints.md
  sessions/recap-project-react/part-10/readme.md
  sessions/recap-project-react/part-2/hints.md
  sessions/recap-project-react/part-2/readme.md
  sessions/recap-project-react/part-3/hints.md
  sessions/recap-project-react/part-3/readme.md
  sessions/recap-project-react/part-4/hints.md
  sessions/recap-project-react/part-4/readme.md
  sessions/recap-project-react/part-5/hints.md
  sessions/recap-project-react/part-5/readme.md
  sessions/recap-project-react/part-6/hints.md
  sessions/recap-project-react/part-6/readme.md
  sessions/recap-project-react/part-7/hints.md
  sessions/recap-project-react/part-7/readme.md
  sessions/recap-project-react/part-8/hints.md
  sessions/recap-project-react/part-8/readme.md
  sessions/recap-project-react/part-9/hints.md
  sessions/recap-project-react/part-9/readme.md
Due: npx prettier --write

feat: add local copy album data
  sessions/recap-project-react/assets/db.js
  sessions/recap-project-react/part-1/readme.md
Due: npx eslint --fix, npx prettier --write

project naming
  sessions/recap-project-1/quiz-app/README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
  sessions/recap-project-4/weather-and-activities-app/README.md
  sessions/recap-project-5/art-gallery-app/README.md
  sessions/recap-project-6/tourio-app/README.md
Due: npx prettier --write

Change package names to not have duplicates
  sessions/html-and-the-web-new/div-salad/package.json
  sessions/html-and-the-web-new/personal-website/package.json
Due: npx prettier --write
