Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

hot fix 🔥
  sessions/backend-update-delete/demo-end/components/Joke/index.js
  sessions/backend-update-delete/demo-end/pages/[id].js
Due: npx eslint --fix, npx prettier --write

delete obsolete if statement.
  sessions/backend-update-delete/demo-end/pages/[id].js
  sessions/backend-update-delete/demo-end/pages/api/jokes/[id].js
Due: npx eslint --fix, npx prettier --write

fix styling
  sessions/backend-update-delete/demo-end/components/JokeList/index.js
  sessions/backend-update-delete/demo-end/components/ListItem/index.js
  sessions/backend-update-delete/demo-end/components/StyledList/index.js
  sessions/backend-update-delete/demo-end/components/StyledListItem/index.js
  sessions/backend-update-delete/demo-start/components/Button/index.js
  sessions/backend-update-delete/demo-start/components/Joke/index.js
  sessions/backend-update-delete/demo-start/components/JokeForm/index.js
  sessions/backend-update-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-delete/demo-start/components/StyledList/index.js
  sessions/backend-update-delete/demo-start/components/StyledListItem/index.js
  sessions/backend-update-delete/demo-start/styles.js
Due: npx eslint --fix, npx prettier --write

quick fix
  sessions/backend-update-delete/demo-end/pages/[id].js
Due: npx eslint --fix, npx prettier --write

fix: backend read product challenge typo in import
  sessions/backend-read/products/pages/[id].js
Due: npx eslint --fix, npx prettier --write

refactor: use "isLoading" instead of "!data"
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductList/index.js
Due: npx eslint --fix, npx prettier --write

reset challenge to start
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/pages/[id].js
  sessions/backend-update-and-delete/products/pages/api/products/[id].js
  sessions/backend-update-and-delete/products/pages/index.js
Due: npx eslint --fix, npx prettier --write

fix attribute
  sessions/backend-update-delete/demo-end/components/Joke/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/README.md
Due: npx prettier --write

update readme after code review
  sessions/backend-update-and-delete/products/README.md
Due: npx prettier --write

update after review
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/pages/_app.js
Due: npx eslint --fix, npx prettier --write

fix typo in readme
  sessions/backend-update-and-delete/products/README.md
Due: npx prettier --write

Backend Update and Delete: Products Challenge (#249)
  sessions/backend-update-and-delete/products/.env.local.example
  sessions/backend-update-and-delete/products/.eslintrc.json
  sessions/backend-update-and-delete/products/.gitignore
  sessions/backend-update-and-delete/products/.prettierrc.json
  sessions/backend-update-and-delete/products/README.md
  sessions/backend-update-and-delete/products/components/Button/Button.styled.js
  sessions/backend-update-and-delete/products/components/Comments/index.js
  sessions/backend-update-and-delete/products/components/Product/Product.styled.js
  sessions/backend-update-and-delete/products/components/Product/index.js
  sessions/backend-update-and-delete/products/components/ProductForm/ProductForm.styled.js
  sessions/backend-update-and-delete/products/components/ProductForm/index.js
  sessions/backend-update-and-delete/products/components/ProductList/ProductList.styled.js
  sessions/backend-update-and-delete/products/components/ProductList/index.js
  sessions/backend-update-and-delete/products/db/connect.js
  sessions/backend-update-and-delete/products/db/models/Product.js
  sessions/backend-update-and-delete/products/db/models/Review.js
  sessions/backend-update-and-delete/products/jest.config.js
  sessions/backend-update-and-delete/products/jest.setup.js
  sessions/backend-update-and-delete/products/next.config.js
  sessions/backend-update-and-delete/products/package.json
  sessions/backend-update-and-delete/products/pages/[id].js
  sessions/backend-update-and-delete/products/pages/_app.js
  sessions/backend-update-and-delete/products/pages/_document.js
  sessions/backend-update-and-delete/products/pages/api/products/[id].js
  sessions/backend-update-and-delete/products/pages/api/products/index.js
  sessions/backend-update-and-delete/products/pages/index.js
  sessions/backend-update-and-delete/products/public/favicon.ico
  sessions/backend-update-and-delete/products/resources.zip
  sessions/backend-update-and-delete/products/resources/products.json
  sessions/backend-update-and-delete/products/resources/reviews.json
  sessions/backend-update-and-delete/products/sandbox.config.json
  sessions/backend-update-and-delete/products/styles.js
Due: npx eslint --fix, npx prettier --write

fix: add body to index.html
  sessions/css-structure/selectors-and-cascading/index.html
Due: none

fix: description of task 11
  sessions/css-structure/selectors-and-cascading/css/styles.css
Due: none

fix: links in project
  sessions/recap-project-2/quiz-app/bookmarks.html
  sessions/recap-project-2/quiz-app/index.html
  sessions/recap-project-2/quiz-app/profile.html
Due: none

feat: use another template; re-add example counter app
  sessions/recap-project-2/character-count-example/.eslintrc.json
  sessions/recap-project-2/character-count-example/.gitignore
  sessions/recap-project-2/character-count-example/.prettierrc.json
  sessions/recap-project-2/character-count-example/README.md
  sessions/recap-project-2/character-count-example/css/styles.css
  sessions/recap-project-2/character-count-example/index.html
  sessions/recap-project-2/character-count-example/js/index.js
  sessions/recap-project-2/character-count-example/package.json
  sessions/recap-project-2/character-count-example/sandbox.config.json
  sessions/recap-project-2/quiz-app/README.md
  sessions/recap-project-2/quiz-app/assets/bookmark.png
  sessions/recap-project-2/quiz-app/assets/bookmark_filled.png
  sessions/recap-project-2/quiz-app/assets/bookmark_transparent.png
  sessions/recap-project-2/quiz-app/assets/home.png
  sessions/recap-project-2/quiz-app/assets/home_filled.png
  sessions/recap-project-2/quiz-app/assets/profile.png
  sessions/recap-project-2/quiz-app/assets/profile_filled.png
  sessions/recap-project-2/quiz-app/assets/question.png
  sessions/recap-project-2/quiz-app/bookmark.html
  sessions/recap-project-2/quiz-app/bookmarks.html
  sessions/recap-project-2/quiz-app/components/bookmark/bookmark.css
  sessions/recap-project-2/quiz-app/components/card-list/card-list.css
  sessions/recap-project-2/quiz-app/components/card/card.css
  sessions/recap-project-2/quiz-app/components/counter-list/counter-list.css
  sessions/recap-project-2/quiz-app/components/header/header.css
  sessions/recap-project-2/quiz-app/components/navigation/navigation.css
  sessions/recap-project-2/quiz-app/components/profile/profile.css
  sessions/recap-project-2/quiz-app/css/components.css
  sessions/recap-project-2/quiz-app/css/global.css
  sessions/recap-project-2/quiz-app/css/pages-home.css
  sessions/recap-project-2/quiz-app/css/pages-profile.css
  sessions/recap-project-2/quiz-app/global.css
  sessions/recap-project-2/quiz-app/index.html
  sessions/recap-project-2/quiz-app/index.js
  sessions/recap-project-2/quiz-app/profile.html
  sessions/recap-project-2/quiz-app/styles.css
Due: npx eslint --fix, npx prettier --write

fix: link
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

feat: add bonus tasks
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

fix headline of div-salad readme
  sessions/html-and-the-web/div-salad/README.md
Due: npx prettier --write

add code block for div in headline
  sessions/html-and-the-web/div-salad/README.md
Due: npx prettier --write

add personal website challenge
  sessions/html-and-the-web/personal-website/.gitignore
  sessions/html-and-the-web/personal-website/README.md
  sessions/html-and-the-web/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web/personal-website/package.json
  sessions/html-and-the-web/personal-website/sandbox.config.json
Due: npx prettier --write

Update: HTML and the web challenges (#252)
  sessions/html-and-the-web/div-salad/README.md
  sessions/html-and-the-web/personal-website/.gitignore
  sessions/html-and-the-web/personal-website/README.md
  sessions/html-and-the-web/personal-website/assets/wireframe-desktop.png
  sessions/html-and-the-web/personal-website/assets/wireframe-mobile.png
  sessions/html-and-the-web/personal-website/package.json
  sessions/html-and-the-web/personal-website/sandbox.config.json
Due: npx prettier --write

fix: challenge styling, wording, structure
  sessions/css-flexbox/demo-end/README.md
  sessions/css-flexbox/demo-start/README.md
  sessions/css-flexbox/navigation/README.md
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/profile/README.md
  sessions/css-flexbox/profile/css/styles.css
Due: npx prettier --write

add first draft of demo end
  sessions/js-basics/demo-end/.eslintrc.json
  sessions/js-basics/demo-end/.gitignore
  sessions/js-basics/demo-end/.prettierrc.json
  sessions/js-basics/demo-end/README.md
  sessions/js-basics/demo-end/css/styles.css
  sessions/js-basics/demo-end/index.html
  sessions/js-basics/demo-end/js/index.js
  sessions/js-basics/demo-end/package.json
  sessions/js-basics/demo-end/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

add first draft of demo start
  sessions/js-basics/demo-start/.eslintrc.json
  sessions/js-basics/demo-start/.gitignore
  sessions/js-basics/demo-start/.prettierrc.json
  sessions/js-basics/demo-start/README.md
  sessions/js-basics/demo-start/css/styles.css
  sessions/js-basics/demo-start/index.html
  sessions/js-basics/demo-start/js/index.js
  sessions/js-basics/demo-start/package.json
  sessions/js-basics/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

add start demo for css-grid
  sessions/css-grid/demo-start/.gitignore
  sessions/css-grid/demo-start/.prettierrc.json
  sessions/css-grid/demo-start/README.md
  sessions/css-grid/demo-start/css/styles.css
  sessions/css-grid/demo-start/index.html
  sessions/css-grid/demo-start/package.json
  sessions/css-grid/demo-start/sandbox.config.json
Due: npx prettier --write

add end version of css-grid demo
  sessions/css-grid/demo-end/.gitignore
  sessions/css-grid/demo-end/.prettierrc.json
  sessions/css-grid/demo-end/README.md
  sessions/css-grid/demo-end/css/styles.css
  sessions/css-grid/demo-end/index.html
  sessions/css-grid/demo-end/package.json
  sessions/css-grid/demo-end/sandbox.config.json
Due: npx prettier --write

update html to be semantic
  sessions/css-grid/demo-end/index.html
  sessions/css-grid/demo-start/index.html
Due: none

update: improve instructions for some challenges
  sessions/js-loops/forin-select-nav/README.md
  sessions/js-loops/forof-list/README.md
  sessions/js-loops/stars/README.md
Due: npx prettier --write

minor fix: add checkboxes
  sessions/css-flexbox/navigation/README.md
Due: npx prettier --write

Fix: CSS Flexbox (#253)
  sessions/css-flexbox/demo-end/README.md
  sessions/css-flexbox/demo-start/README.md
  sessions/css-flexbox/navigation/README.md
  sessions/css-flexbox/navigation/css/styles.css
  sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/profile/README.md
  sessions/css-flexbox/profile/css/styles.css
Due: npx prettier --write

fix types and delete schema solutions
  sessions/backend-read/products/README.md
  sessions/backend-read/products/db/models/Product.js
  sessions/backend-read/products/db/models/Review.js
Due: npx eslint --fix, npx prettier --write

add codesandbox instructions back in
  sessions/backend-read/products/README.md
Due: npx prettier --write

Update sessions/js-basics/demo-end/js/index.js
  sessions/js-basics/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
