Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

fix: wrong class name in challenge text
  sessions/css-flexbox/profile/css/styles.css
Due: none

chore: implement feedback
  sessions/js-forms/checkbox-input/README.md
  sessions/js-forms/handle-form-submit/README.md
Due: npx prettier --write

fix/css-flexbox: wrong and missing css classes in profile challenge (#71)
  sessions/css-flexbox/navigation/index.html
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

feat: add js-forms exercises (#70)
  package-lock.json
  sessions/js-forms/calculator/.eslintrc.json
  sessions/js-forms/calculator/.prettierrc.json
  sessions/js-forms/calculator/.stylelintrc.json
  sessions/js-forms/calculator/README.md
  sessions/js-forms/calculator/css/styles.css
  sessions/js-forms/calculator/index.html
  sessions/js-forms/calculator/js/index.js
  sessions/js-forms/calculator/package.json
  sessions/js-forms/calculator/sandbox.config.json
  sessions/js-forms/checkbox-input/.eslintrc.json
  sessions/js-forms/checkbox-input/.prettierrc.json
  sessions/js-forms/checkbox-input/.stylelintrc.json
  sessions/js-forms/checkbox-input/README.md
  sessions/js-forms/checkbox-input/css/styles.css
  sessions/js-forms/checkbox-input/index.html
  sessions/js-forms/checkbox-input/js/index.js
  sessions/js-forms/checkbox-input/package.json
  sessions/js-forms/checkbox-input/sandbox.config.json
  sessions/js-forms/form-submit/css/styles.css
  sessions/js-forms/form-submit/index.html
  sessions/js-forms/form-submit/js/index.js
  sessions/js-forms/handle-form-submit/.eslintrc.json
  sessions/js-forms/handle-form-submit/.prettierrc.json
  sessions/js-forms/handle-form-submit/.stylelintrc.json
  sessions/js-forms/handle-form-submit/README.md
  sessions/js-forms/handle-form-submit/css/styles.css
  sessions/js-forms/handle-form-submit/index.html
  sessions/js-forms/handle-form-submit/js/index.js
  sessions/js-forms/handle-form-submit/package.json
  sessions/js-forms/handle-form-submit/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-forms): add demo (#57)
  sessions/js-forms/demo-end/.eslintrc.json
  sessions/js-forms/demo-end/.prettierrc.json
  sessions/js-forms/demo-end/.stylelintrc.json
  sessions/js-forms/demo-end/css/styles.css
  sessions/js-forms/demo-end/index.html
  sessions/js-forms/demo-end/js/index.js
  sessions/js-forms/demo-end/package.json
  sessions/js-forms/demo-end/sandbox.config.json
  sessions/js-forms/demo-start/.eslintrc.json
  sessions/js-forms/demo-start/.prettierrc.json
  sessions/js-forms/demo-start/.stylelintrc.json
  sessions/js-forms/demo-start/css/styles.css
  sessions/js-forms/demo-start/index.html
  sessions/js-forms/demo-start/js/index.js
  sessions/js-forms/demo-start/package.json
  sessions/js-forms/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add exercise dark-mode
  sessions/js-basics/dark-mode/.eslintrc.json
  sessions/js-basics/dark-mode/.prettierrc.json
  sessions/js-basics/dark-mode/.stylelintrc.json
  sessions/js-basics/dark-mode/css/styles.css
  sessions/js-basics/dark-mode/index.html
  sessions/js-basics/dark-mode/js/index.js
  sessions/js-basics/dark-mode/package.json
  sessions/js-basics/dark-mode/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(recap-2): add character count demo
  sessions/recap-project-2/character-count-example/.eslintrc.json
  sessions/recap-project-2/character-count-example/.prettierrc.json
  sessions/recap-project-2/character-count-example/.stylelintrc.json
  sessions/recap-project-2/character-count-example/css/styles.css
  sessions/recap-project-2/character-count-example/index.html
  sessions/recap-project-2/character-count-example/js/index.js
  sessions/recap-project-2/character-count-example/package.json
  sessions/recap-project-2/character-count-example/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(challenge): added new challenges for css responsive session
  sessions/css-responsive/playground/.eslintrc.json
  sessions/css-responsive/playground/.prettierrc.json
  sessions/css-responsive/playground/.stylelintrc.json
  sessions/css-responsive/playground/css/styles.css
  sessions/css-responsive/playground/img/cat_large.jpg
  sessions/css-responsive/playground/img/cat_medium.jpg
  sessions/css-responsive/playground/img/cat_small.jpg
  sessions/css-responsive/playground/index.html
  sessions/css-responsive/playground/package.json
  sessions/css-responsive/playground/sandbox.config.json
  sessions/css-responsive/responsive-website/.eslintrc.json
  sessions/css-responsive/responsive-website/.prettierrc.json
  sessions/css-responsive/responsive-website/.stylelintrc.json
  sessions/css-responsive/responsive-website/css/fonts.css
  sessions/css-responsive/responsive-website/css/styles.css
  sessions/css-responsive/responsive-website/fonts/pacifico-regular-webfont.woff2
  sessions/css-responsive/responsive-website/img/desert.jpg
  sessions/css-responsive/responsive-website/img/forest.jpg
  sessions/css-responsive/responsive-website/img/mountain.jpg
  sessions/css-responsive/responsive-website/img/ocean.jpg
  sessions/css-responsive/responsive-website/img/river.jpg
  sessions/css-responsive/responsive-website/index.html
  sessions/css-responsive/responsive-website/package.json
  sessions/css-responsive/responsive-website/sandbox.config.json
Due: npx prettier --write

added four exercises 1: formvalidation, 2: controlled-input-uppercase, 3: simple-live-calculator, 4: simple-todolist
  .gitignore
  sessions/js-forms-2/controlled-input-uppercase/.eslintrc.json
  sessions/js-forms-2/controlled-input-uppercase/.prettierrc.json
  sessions/js-forms-2/controlled-input-uppercase/.stylelintrc.json
  sessions/js-forms-2/controlled-input-uppercase/css/styles.css
  sessions/js-forms-2/controlled-input-uppercase/index.html
  sessions/js-forms-2/controlled-input-uppercase/js/index.js
  sessions/js-forms-2/controlled-input-uppercase/package.json
  sessions/js-forms-2/controlled-input-uppercase/sandbox.config.json
  sessions/js-forms-2/formvalidation/.eslintrc.json
  sessions/js-forms-2/formvalidation/.prettierrc.json
  sessions/js-forms-2/formvalidation/.stylelintrc.json
  sessions/js-forms-2/formvalidation/css/styles.css
  sessions/js-forms-2/formvalidation/index.html
  sessions/js-forms-2/formvalidation/js/index.js
  sessions/js-forms-2/formvalidation/package.json
  sessions/js-forms-2/formvalidation/sandbox.config.json
  sessions/js-forms-2/simple-live-calculator/.eslintrc.json
  sessions/js-forms-2/simple-live-calculator/.prettierrc.json
  sessions/js-forms-2/simple-live-calculator/.stylelintrc.json
  sessions/js-forms-2/simple-live-calculator/css/styles.css
  sessions/js-forms-2/simple-live-calculator/index.html
  sessions/js-forms-2/simple-live-calculator/js/index.js
  sessions/js-forms-2/simple-live-calculator/package.json
  sessions/js-forms-2/simple-live-calculator/sandbox.config.json
  sessions/js-forms-2/simple-todolist/.eslintrc.json
  sessions/js-forms-2/simple-todolist/.prettierrc.json
  sessions/js-forms-2/simple-todolist/.stylelintrc.json
  sessions/js-forms-2/simple-todolist/css/styles.css
  sessions/js-forms-2/simple-todolist/index.html
  sessions/js-forms-2/simple-todolist/js/index.js
  sessions/js-forms-2/simple-todolist/package.json
  sessions/js-forms-2/simple-todolist/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add css responsive demos
  sessions/css-responsive/demo-end/.eslintrc.json
  sessions/css-responsive/demo-end/.prettierrc.json
  sessions/css-responsive/demo-end/.stylelintrc.json
  sessions/css-responsive/demo-end/css/styles.css
  sessions/css-responsive/demo-end/index.html
  sessions/css-responsive/demo-end/package.json
  sessions/css-responsive/demo-end/sandbox.config.json
  sessions/css-responsive/demo-start/.eslintrc.json
  sessions/css-responsive/demo-start/.prettierrc.json
  sessions/css-responsive/demo-start/.stylelintrc.json
  sessions/css-responsive/demo-start/css/styles.css
  sessions/css-responsive/demo-start/index.html
  sessions/css-responsive/demo-start/package.json
  sessions/css-responsive/demo-start/sandbox.config.json
Due: npx prettier --write

chore: fix package names
  sessions/css-responsive/demo-end/package.json
  sessions/css-responsive/demo-start/package.json
Due: npx prettier --write

fix: reorder rulesets in place-elements such that rules apply properly
  sessions/css-grid/place-elements/css/styles.css
Due: none

feat: improve styling on container in place-items
  sessions/css-grid/place-elements/css/styles.css
Due: none

feat: add image-board challenge
  sessions/css-grid/image-board/.eslintrc.json
  sessions/css-grid/image-board/.prettierrc.json
  sessions/css-grid/image-board/.stylelintrc.json
  sessions/css-grid/image-board/css/styles.css
  sessions/css-grid/image-board/index.html
  sessions/css-grid/image-board/package.json
  sessions/css-grid/image-board/sandbox.config.json
Due: npx prettier --write

fix(js-variables-and-functions): Description for challenge fixed
  sessions/js-variables-and-numbers/simple-calculator/js/index.js
Due: npx eslint --fix, npx prettier --write

chore: rename demo to example and create new demo
  sessions/css-responsive/demo-end/css/styles.css
  sessions/css-responsive/demo-end/img/cat_large.jpg
  sessions/css-responsive/demo-end/img/cat_medium.jpg
  sessions/css-responsive/demo-end/img/cat_small.jpg
  sessions/css-responsive/demo-end/index.html
  sessions/css-responsive/demo-start/css/styles.css
  sessions/css-responsive/demo-start/img/cat_large.jpg
  sessions/css-responsive/demo-start/img/cat_medium.jpg
  sessions/css-responsive/demo-start/img/cat_small.jpg
  sessions/css-responsive/demo-start/index.html
  sessions/css-responsive/example-responsive/.eslintrc.json
  sessions/css-responsive/example-responsive/.prettierrc.json
  sessions/css-responsive/example-responsive/.stylelintrc.json
  sessions/css-responsive/example-responsive/css/styles.css
  sessions/css-responsive/example-responsive/index.html
  sessions/css-responsive/example-responsive/package.json
  sessions/css-responsive/example-responsive/sandbox.config.json
  sessions/css-responsive/example-static/.eslintrc.json
  sessions/css-responsive/example-static/.prettierrc.json
  sessions/css-responsive/example-static/.stylelintrc.json
  sessions/css-responsive/example-static/css/styles.css
  sessions/css-responsive/example-static/index.html
  sessions/css-responsive/example-static/package.json
  sessions/css-responsive/example-static/sandbox.config.json
Due: npx prettier --write

chore: delete images
  sessions/css-responsive/demo-end/img/cat_large.jpg
  sessions/css-responsive/demo-end/img/cat_medium.jpg
  sessions/css-responsive/demo-end/img/cat_small.jpg
  sessions/css-responsive/demo-start/img/cat_large.jpg
  sessions/css-responsive/demo-start/img/cat_medium.jpg
  sessions/css-responsive/demo-start/img/cat_small.jpg
Due: none

chore: add readme files for all css grid challenges
  sessions/css-grid/fishes-cards/README.md
  sessions/css-grid/image-board/README.md
  sessions/css-grid/image-gallery/README.md
  sessions/css-grid/payment-cards/README.md
  sessions/css-grid/place-elements/README.md
  sessions/css-grid/service-gallery/README.md
Due: npx prettier --write

fix: remove md links and change exercise to challenge in all readmes
  sessions/css-grid/fishes-cards/README.md
  sessions/css-grid/image-board/README.md
  sessions/css-grid/image-gallery/README.md
  sessions/css-grid/payment-cards/README.md
  sessions/css-grid/place-elements/README.md
  sessions/css-grid/service-gallery/README.md
Due: npx prettier --write

changed event to input in a few cases and fixed a typo
  sessions/js-forms-2/controlled-input-uppercase/js/index.js
  sessions/js-forms-2/simple-live-calculator/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(recap-project-2): add review suggestions for demo
  sessions/recap-project-2/character-count-example/css/styles.css
  sessions/recap-project-2/character-count-example/index.html
  sessions/recap-project-2/character-count-example/js/index.js
Due: npx eslint --fix, npx prettier --write

chore(js-template): move script tag to start of html.file
  templates/static-html-css-js/index.html
Due: none

feat(recap-project-2): character count demo (#73)
  sessions/recap-project-2/character-count-example/.eslintrc.json
  sessions/recap-project-2/character-count-example/.prettierrc.json
  sessions/recap-project-2/character-count-example/.stylelintrc.json
  sessions/recap-project-2/character-count-example/css/styles.css
  sessions/recap-project-2/character-count-example/index.html
  sessions/recap-project-2/character-count-example/js/index.js
  sessions/recap-project-2/character-count-example/package.json
  sessions/recap-project-2/character-count-example/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix: made some changes to challenges
  sessions/css-responsive/responsive-website/css/styles.css
Due: none

chore: add result images to challenges
  sessions/css-grid/fishes-cards/README.md
  sessions/css-grid/fishes-cards/assets/grid-challenge_fishes-cards.png
  sessions/css-grid/image-board/README.md
  sessions/css-grid/image-board/assets/grid-challenge_image-board.png
  sessions/css-grid/image-gallery/README.md
  sessions/css-grid/image-gallery/assets/grid-challenge_image-gallery.png
  sessions/css-grid/payment-cards/README.md
  sessions/css-grid/payment-cards/assets/grid-challenge_payment-cards.png
  sessions/css-grid/place-elements/README.md
  sessions/css-grid/place-elements/assets/grid-challenge_place-elements.png
  sessions/css-grid/service-gallery/README.md
  sessions/css-grid/service-gallery/assets/grid-challenge_service-gallery.png
Due: npx prettier --write

feature/css-grid: add challenge and improve place-items challenge (#76)
  sessions/css-grid/fishes-cards/README.md
  sessions/css-grid/fishes-cards/assets/grid-challenge_fishes-cards.png
  sessions/css-grid/image-board/.eslintrc.json
  sessions/css-grid/image-board/.prettierrc.json
  sessions/css-grid/image-board/.stylelintrc.json
  sessions/css-grid/image-board/README.md
  sessions/css-grid/image-board/assets/grid-challenge_image-board.png
  sessions/css-grid/image-board/css/styles.css
  sessions/css-grid/image-board/index.html
  sessions/css-grid/image-board/package.json
  sessions/css-grid/image-board/sandbox.config.json
  sessions/css-grid/image-gallery/README.md
  sessions/css-grid/image-gallery/assets/grid-challenge_image-gallery.png
  sessions/css-grid/payment-cards/README.md
  sessions/css-grid/payment-cards/assets/grid-challenge_payment-cards.png
  sessions/css-grid/place-elements/README.md
  sessions/css-grid/place-elements/assets/grid-challenge_place-elements.png
  sessions/css-grid/place-elements/css/styles.css
  sessions/css-grid/service-gallery/README.md
  sessions/css-grid/service-gallery/assets/grid-challenge_service-gallery.png
Due: npx prettier --write

feat(js-forms-2): add readme for form validation challenge
  sessions/js-forms-2/formvalidation/README.md
  sessions/js-forms-2/formvalidation/index.html
Due: npx prettier --write

feat(js-forms-2): add readme for controlled input challenge
  sessions/js-forms-2/controlled-input-uppercase/README.md
  sessions/js-forms-2/controlled-input-uppercase/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-forms-2): add readme for calculator challenge
  sessions/js-forms-2/simple-live-calculator/README.md
  sessions/js-forms-2/simple-live-calculator/index.html
  sessions/js-forms-2/simple-live-calculator/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-forms-2): first readme draft of todo-list challenge
  sessions/js-forms-2/simple-todolist/README.md
  sessions/js-forms-2/simple-todolist/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-forms-2): add readme for todo challenge
  sessions/js-forms-2/simple-todolist/README.md
  sessions/js-forms-2/simple-todolist/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-basics): add readme for dark mode challenge
  sessions/js-basics/dark-mode/README.md
  sessions/js-basics/dark-mode/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(templates): add readme files for all templates
  templates/javascript/README.md
  templates/react/README.md
  templates/static-html-css-js/README.md
  templates/static-html-css/README.md
  templates/styled-components/README.md
Due: npx prettier --write

feat(js-forms-2): add demo
  sessions/js-forms-2/demo-end/.eslintrc.json
  sessions/js-forms-2/demo-end/.prettierrc.json
  sessions/js-forms-2/demo-end/.stylelintrc.json
  sessions/js-forms-2/demo-end/css/components/app.css
  sessions/js-forms-2/demo-end/css/components/form.css
  sessions/js-forms-2/demo-end/css/components/storage.css
  sessions/js-forms-2/demo-end/css/styles.css
  sessions/js-forms-2/demo-end/index.html
  sessions/js-forms-2/demo-end/js/index.js
  sessions/js-forms-2/demo-end/package.json
  sessions/js-forms-2/demo-end/sandbox.config.json
  sessions/js-forms-2/demo-start/.eslintrc.json
  sessions/js-forms-2/demo-start/.prettierrc.json
  sessions/js-forms-2/demo-start/.stylelintrc.json
  sessions/js-forms-2/demo-start/css/components/app.css
  sessions/js-forms-2/demo-start/css/components/form.css
  sessions/js-forms-2/demo-start/css/components/storage.css
  sessions/js-forms-2/demo-start/css/styles.css
  sessions/js-forms-2/demo-start/index.html
  sessions/js-forms-2/demo-start/js/index.js
  sessions/js-forms-2/demo-start/package.json
  sessions/js-forms-2/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat/js-basics: add exercise dark-mode (#72)
  sessions/js-basics/dark-mode/.eslintrc.json
  sessions/js-basics/dark-mode/.prettierrc.json
  sessions/js-basics/dark-mode/.stylelintrc.json
  sessions/js-basics/dark-mode/README.md
  sessions/js-basics/dark-mode/css/styles.css
  sessions/js-basics/dark-mode/index.html
  sessions/js-basics/dark-mode/js/index.js
  sessions/js-basics/dark-mode/package.json
  sessions/js-basics/dark-mode/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-loops): add demo start and end version
  sessions/js-loops/demo-end/.gitignore
  sessions/js-loops/demo-end/README.md
  sessions/js-loops/demo-end/package.json
  sessions/js-loops/demo-end/public/favicon.ico
  sessions/js-loops/demo-end/public/index.html
  sessions/js-loops/demo-end/public/manifest.json
  sessions/js-loops/demo-end/src/.prettierrc.json
  sessions/js-loops/demo-end/src/index.js
  sessions/js-loops/demo-end/src/package.json
  sessions/js-loops/demo-start/.gitignore
  sessions/js-loops/demo-start/README.md
  sessions/js-loops/demo-start/package.json
  sessions/js-loops/demo-start/public/favicon.ico
  sessions/js-loops/demo-start/public/index.html
  sessions/js-loops/demo-start/public/manifest.json
  sessions/js-loops/demo-start/src/.prettierrc.json
  sessions/js-loops/demo-start/src/index.js
  sessions/js-loops/demo-start/src/package.json
Due: npx eslint --fix, npx prettier --write

fix: very important fix :)
  sessions/css-responsive/playground/index.html
Due: none

feat(js-forms-2): add demo (#79)
  sessions/js-forms-2/demo-end/.eslintrc.json
  sessions/js-forms-2/demo-end/.prettierrc.json
  sessions/js-forms-2/demo-end/.stylelintrc.json
  sessions/js-forms-2/demo-end/css/components/app.css
  sessions/js-forms-2/demo-end/css/components/form.css
  sessions/js-forms-2/demo-end/css/components/storage.css
  sessions/js-forms-2/demo-end/css/styles.css
  sessions/js-forms-2/demo-end/index.html
  sessions/js-forms-2/demo-end/js/index.js
  sessions/js-forms-2/demo-end/package.json
  sessions/js-forms-2/demo-end/sandbox.config.json
  sessions/js-forms-2/demo-start/.eslintrc.json
  sessions/js-forms-2/demo-start/.prettierrc.json
  sessions/js-forms-2/demo-start/.stylelintrc.json
  sessions/js-forms-2/demo-start/css/components/app.css
  sessions/js-forms-2/demo-start/css/components/form.css
  sessions/js-forms-2/demo-start/css/components/storage.css
  sessions/js-forms-2/demo-start/css/styles.css
  sessions/js-forms-2/demo-start/index.html
  sessions/js-forms-2/demo-start/js/index.js
  sessions/js-forms-2/demo-start/package.json
  sessions/js-forms-2/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add pixels challenge
  sessions/js-loops/pixels/.eslintrc.json
  sessions/js-loops/pixels/.prettierrc.json
  sessions/js-loops/pixels/.stylelintrc.json
  sessions/js-loops/pixels/README.md
  sessions/js-loops/pixels/css/styles.css
  sessions/js-loops/pixels/index.html
  sessions/js-loops/pixels/js/index.js
  sessions/js-loops/pixels/package.json
  sessions/js-loops/pixels/sandbox.config.json
Due: npx eslint --fix, npx prettier --write
