Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

added exercises arrays, objects and arrays & objects, created a readme file
  sessions/js-objects-and-arrays/arrays-and-objects/.prettierrc.json
  sessions/js-objects-and-arrays/arrays-and-objects/helper.js
  sessions/js-objects-and-arrays/arrays-and-objects/index.js
  sessions/js-objects-and-arrays/arrays-and-objects/package.json
  sessions/js-objects-and-arrays/arrays/.prettierrc.json
  sessions/js-objects-and-arrays/arrays/helper.js
  sessions/js-objects-and-arrays/arrays/index.js
  sessions/js-objects-and-arrays/arrays/package.json
  sessions/js-objects-and-arrays/js-objects-and-arrays.md
  sessions/js-objects-and-arrays/objects/.prettierrc.json
  sessions/js-objects-and-arrays/objects/helper.js
  sessions/js-objects-and-arrays/objects/index.js
  sessions/js-objects-and-arrays/objects/package.json
Due: npx eslint --fix, npx prettier --write

changed the error message and console.log to console.error in checkConditions function
  sessions/js-es-next/destructuring-arrays/helper.js
Due: npx eslint --fix, npx prettier --write

changed the console.log to console.error in checkConditions function
  sessions/js-objects-and-arrays/arrays-and-objects/helper.js
  sessions/js-objects-and-arrays/arrays/helper.js
  sessions/js-objects-and-arrays/objects/helper.js
Due: npx eslint --fix, npx prettier --write

Readme file divided into three different readme files, each per exercise.
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/js-objects-and-arrays.md
  sessions/js-objects-and-arrays/objects-and-arrays/.prettierrc.json
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/helper.js
  sessions/js-objects-and-arrays/objects-and-arrays/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/package.json
  sessions/js-objects-and-arrays/objects/README.md
Due: npx eslint --fix, npx prettier --write

feat(html-forms): add zoo exercise
  sessions/html-forms/zoo/.eslintrc.json
  sessions/html-forms/zoo/.prettierrc.json
  sessions/html-forms/zoo/.stylelintrc.json
  sessions/html-forms/zoo/css/styles.css
  sessions/html-forms/zoo/index.html
  sessions/html-forms/zoo/package.json
  sessions/html-forms/zoo/sandbox.config.json
Due: npx prettier --write

fix(*): fix various package names; update react-scripts dependency
  package-lock.json
  sessions/css-grid/place-elements/package.json
  sessions/css-selectors/demo-end/package.json
  sessions/css-selectors/demo-start/package.json
  sessions/js-basics/console-methods/package.json
  sessions/js-conditions-and-booleans/booleans/package.json
  sessions/js-conditions-and-booleans/teenager/package.json
  sessions/js-forms/form-submit/package.json
  sessions/js-functions/dom-manipulation/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/package.json
Due: npx prettier --write

fix(*): fix various package names; update react-scripts dependency (#66)
  package-lock.json
  sessions/css-grid/place-elements/package.json
  sessions/css-selectors/demo-end/package.json
  sessions/css-selectors/demo-start/package.json
  sessions/js-basics/console-methods/package.json
  sessions/js-conditions-and-booleans/booleans/package.json
  sessions/js-conditions-and-booleans/teenager/package.json
  sessions/js-forms/form-submit/package.json
  sessions/js-functions/dom-manipulation/package.json
  sessions/react-usestate-and-events-advanced/lifting-up-state-personal-details/package.json
Due: npx prettier --write

feat(exercise): add first draft of a11y form exercise
  sessions/html-forms/Finding-a11y-errors/.eslintrc.json
  sessions/html-forms/Finding-a11y-errors/.prettierrc.json
  sessions/html-forms/Finding-a11y-errors/.stylelintrc.json
  sessions/html-forms/Finding-a11y-errors/README.md
  sessions/html-forms/Finding-a11y-errors/css/styles.css
  sessions/html-forms/Finding-a11y-errors/index.html
  sessions/html-forms/Finding-a11y-errors/package.json
  sessions/html-forms/Finding-a11y-errors/sandbox.config.json
Due: npx prettier --write

changed package description
  sessions/html-forms/zoo/package.json
Due: npx prettier --write

changed racoon text to make it funnier
  sessions/html-forms/zoo/index.html
Due: none

feat: adjusted styling + label pos of checkbox
  sessions/html-forms/zoo/css/styles.css
  sessions/html-forms/zoo/index.html
Due: none

feat: added readme with exercises
  sessions/html-forms/zoo/readme.md
Due: npx prettier --write

feat: removed solution
  sessions/html-forms/zoo/index.html
Due: none

feat(readme): add note what is meant by githubbox
  README.md
Due: npx prettier --write

chore: update readme according to current workflow (#64)
  README.md
Due: npx prettier --write

feat(html-forms): add start of personal profile form challenge
  sessions/html-forms/personal-profile/personal-profile-form-start/.eslintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-start/.prettierrc.json
  sessions/html-forms/personal-profile/personal-profile-form-start/.stylelintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-start/README.md
  sessions/html-forms/personal-profile/personal-profile-form-start/css/styles.css
  sessions/html-forms/personal-profile/personal-profile-form-start/images/final_result.png
  sessions/html-forms/personal-profile/personal-profile-form-start/index.html
  sessions/html-forms/personal-profile/personal-profile-form-start/package.json
  sessions/html-forms/personal-profile/personal-profile-form-start/sandbox.config.json
Due: npx prettier --write

feat(html-forms): add end of personal profile form challenge
  sessions/html-forms/personal-profile/personal-profile-form-end/.eslintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-end/.prettierrc.json
  sessions/html-forms/personal-profile/personal-profile-form-end/.stylelintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-end/README.md
  sessions/html-forms/personal-profile/personal-profile-form-end/css/styles.css
  sessions/html-forms/personal-profile/personal-profile-form-end/images/final_result.png
  sessions/html-forms/personal-profile/personal-profile-form-end/index.html
  sessions/html-forms/personal-profile/personal-profile-form-end/package.json
  sessions/html-forms/personal-profile/personal-profile-form-end/sandbox.config.json
Due: npx prettier --write

Feat/html forms personal profile (#69)
  sessions/html-forms/personal-profile/personal-profile-form-end/.eslintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-end/.prettierrc.json
  sessions/html-forms/personal-profile/personal-profile-form-end/.stylelintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-end/README.md
  sessions/html-forms/personal-profile/personal-profile-form-end/css/styles.css
  sessions/html-forms/personal-profile/personal-profile-form-end/images/final_result.png
  sessions/html-forms/personal-profile/personal-profile-form-end/index.html
  sessions/html-forms/personal-profile/personal-profile-form-end/package.json
  sessions/html-forms/personal-profile/personal-profile-form-end/sandbox.config.json
  sessions/html-forms/personal-profile/personal-profile-form-start/.eslintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-start/.prettierrc.json
  sessions/html-forms/personal-profile/personal-profile-form-start/.stylelintrc.json
  sessions/html-forms/personal-profile/personal-profile-form-start/README.md
  sessions/html-forms/personal-profile/personal-profile-form-start/css/styles.css
  sessions/html-forms/personal-profile/personal-profile-form-start/images/final_result.png
  sessions/html-forms/personal-profile/personal-profile-form-start/index.html
  sessions/html-forms/personal-profile/personal-profile-form-start/package.json
  sessions/html-forms/personal-profile/personal-profile-form-start/sandbox.config.json
Due: npx prettier --write

feat(readme): add hints for task
  sessions/html-forms/Finding-a11y-errors/README.md
Due: npx prettier --write

feat(exercise): a11y form exercise (#67)
  sessions/html-forms/Finding-a11y-errors/.eslintrc.json
  sessions/html-forms/Finding-a11y-errors/.prettierrc.json
  sessions/html-forms/Finding-a11y-errors/.stylelintrc.json
  sessions/html-forms/Finding-a11y-errors/README.md
  sessions/html-forms/Finding-a11y-errors/css/styles.css
  sessions/html-forms/Finding-a11y-errors/index.html
  sessions/html-forms/Finding-a11y-errors/package.json
  sessions/html-forms/Finding-a11y-errors/sandbox.config.json
Due: npx prettier --write

updated objects and arrays exercise
  sessions/js-objects-and-arrays/objects-and-arrays/helper.js
  sessions/js-objects-and-arrays/objects-and-arrays/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays/package-lock.json
  sessions/js-objects-and-arrays/objects-and-arrays/package.json
Due: npx eslint --fix, npx prettier --write

fix(js-forms): rename attributes in camelcase
  sessions/js-forms/demo-end/index.html
  sessions/js-forms/demo-start/index.html
Due: none

updated objects exercise
  sessions/js-objects-and-arrays/objects/helper.js
  sessions/js-objects-and-arrays/objects/index.js
  sessions/js-objects-and-arrays/objects/index.test.js
  sessions/js-objects-and-arrays/objects/package-lock.json
  sessions/js-objects-and-arrays/objects/package.json
Due: npx eslint --fix, npx prettier --write

fixed some typos
  sessions/js-objects-and-arrays/objects-and-arrays/index.js
Due: npx eslint --fix, npx prettier --write

updated array exercise
  sessions/js-objects-and-arrays/arrays/helper.js
  sessions/js-objects-and-arrays/arrays/index.js
  sessions/js-objects-and-arrays/arrays/index.test.js
Due: npx eslint --fix, npx prettier --write

updated test methods in objects index.tetst.js
  sessions/js-objects-and-arrays/objects/index.test.js
Due: npx eslint --fix, npx prettier --write

added jest to devDependencies
  sessions/js-objects-and-arrays/arrays/package-lock.json
  sessions/js-objects-and-arrays/arrays/package.json
Due: npx prettier --write

updated readme files
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects/README.md
Due: npx prettier --write

feat(js-forms): delete required statements in demo form
  sessions/js-forms/demo-end/index.html
  sessions/js-forms/demo-start/index.html
Due: none

feat: add js-forms exercises
  package-lock.json
  sessions/js-forms/calculator/.eslintrc.json
  sessions/js-forms/calculator/.prettierrc.json
  sessions/js-forms/calculator/.stylelintrc.json
  sessions/js-forms/calculator/README.md
  sessions/js-forms/calculator/css/styles.css
  sessions/js-forms/calculator/index.html
  sessions/js-forms/calculator/js/index.js
  sessions/js-forms/calculator/package.json
  sessions/js-forms/calculator/sandbox.config.json
  sessions/js-forms/checkbox-input/.eslintrc.json
  sessions/js-forms/checkbox-input/.prettierrc.json
  sessions/js-forms/checkbox-input/.stylelintrc.json
  sessions/js-forms/checkbox-input/README.md
  sessions/js-forms/checkbox-input/css/styles.css
  sessions/js-forms/checkbox-input/index.html
  sessions/js-forms/checkbox-input/js/index.js
  sessions/js-forms/checkbox-input/package.json
  sessions/js-forms/checkbox-input/sandbox.config.json
  sessions/js-forms/form-submit/css/styles.css
  sessions/js-forms/form-submit/index.html
  sessions/js-forms/form-submit/js/index.js
  sessions/js-forms/handle-form-submit/.eslintrc.json
  sessions/js-forms/handle-form-submit/.prettierrc.json
  sessions/js-forms/handle-form-submit/.stylelintrc.json
  sessions/js-forms/handle-form-submit/README.md
  sessions/js-forms/handle-form-submit/css/styles.css
  sessions/js-forms/handle-form-submit/index.html
  sessions/js-forms/handle-form-submit/js/index.js
  sessions/js-forms/handle-form-submit/package.json
  sessions/js-forms/handle-form-submit/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update max-width to 500px
  sessions/html-forms/zoo/css/styles.css
Due: none

feat: add height and width to textarea
  sessions/html-forms/zoo/css/styles.css
Due: none

feat: add type email as info
  sessions/html-forms/zoo/readme.md
Due: npx prettier --write

Html forms zoo (#68)
  sessions/html-forms/zoo/.eslintrc.json
  sessions/html-forms/zoo/.prettierrc.json
  sessions/html-forms/zoo/.stylelintrc.json
  sessions/html-forms/zoo/css/styles.css
  sessions/html-forms/zoo/index.html
  sessions/html-forms/zoo/package.json
  sessions/html-forms/zoo/readme.md
  sessions/html-forms/zoo/sandbox.config.json
Due: npx prettier --write

Changes from the review entered
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/arrays/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects/README.md
Due: npx eslint --fix, npx prettier --write

reworked es-next array exercises
  sessions/js-es-next/destructuring-arrays/helper.js
  sessions/js-es-next/destructuring-arrays/index.js
  sessions/js-es-next/destructuring-arrays/index.test.js
  sessions/js-es-next/destructuring-objects/helper.js
Due: npx eslint --fix, npx prettier --write

Added exercises arrays, objects and arrays & objects (#65)
  sessions/js-objects-and-arrays/arrays/.prettierrc.json
  sessions/js-objects-and-arrays/arrays/README.md
  sessions/js-objects-and-arrays/arrays/index.js
  sessions/js-objects-and-arrays/arrays/index.test.js
  sessions/js-objects-and-arrays/arrays/package-lock.json
  sessions/js-objects-and-arrays/arrays/package.json
  sessions/js-objects-and-arrays/objects-and-arrays/.prettierrc.json
  sessions/js-objects-and-arrays/objects-and-arrays/README.md
  sessions/js-objects-and-arrays/objects-and-arrays/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays/package-lock.json
  sessions/js-objects-and-arrays/objects-and-arrays/package.json
  sessions/js-objects-and-arrays/objects/.prettierrc.json
  sessions/js-objects-and-arrays/objects/README.md
  sessions/js-objects-and-arrays/objects/index.js
  sessions/js-objects-and-arrays/objects/index.test.js
  sessions/js-objects-and-arrays/objects/package-lock.json
  sessions/js-objects-and-arrays/objects/package.json
Due: npx eslint --fix, npx prettier --write

reworked es-next object exercises and added a readme for each of the four exercises
  sessions/js-es-next/async-await-ghibli/README.md
  sessions/js-es-next/async-await-star-wars/README.md
  sessions/js-es-next/destructuring-arrays/README.md
  sessions/js-es-next/destructuring-arrays/index.js
  sessions/js-es-next/destructuring-arrays/index.test.js
  sessions/js-es-next/destructuring-objects/README.md
  sessions/js-es-next/destructuring-objects/index.js
  sessions/js-es-next/destructuring-objects/index.test.js
Due: npx eslint --fix, npx prettier --write

fix: wrong and missing css classes in profile challenge
  sessions/css-flexbox/profile/css/styles.css
  sessions/css-flexbox/profile/index.html
Due: none

fix: wrong closing tag in navigation exercise
  sessions/css-flexbox/navigation/index.html
Due: none
