Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

added challenges 1-5 to js-loops
  sessions/js-loops/Part1_for_console/.prettierrc.json
  sessions/js-loops/Part1_for_console/index.js
  sessions/js-loops/Part1_for_console/package.json
  sessions/js-loops/Part2_for_stars/.eslintrc.json
  sessions/js-loops/Part2_for_stars/.prettierrc.json
  sessions/js-loops/Part2_for_stars/.stylelintrc.json
  sessions/js-loops/Part2_for_stars/css/styles.css
  sessions/js-loops/Part2_for_stars/index.html
  sessions/js-loops/Part2_for_stars/js/index.js
  sessions/js-loops/Part2_for_stars/package.json
  sessions/js-loops/Part2_for_stars/sandbox.config.json
  sessions/js-loops/Part3_forin_select_nav/.eslintrc.json
  sessions/js-loops/Part3_forin_select_nav/.prettierrc.json
  sessions/js-loops/Part3_forin_select_nav/.stylelintrc.json
  sessions/js-loops/Part3_forin_select_nav/css/styles.css
  sessions/js-loops/Part3_forin_select_nav/index.html
  sessions/js-loops/Part3_forin_select_nav/js/index.js
  sessions/js-loops/Part3_forin_select_nav/package.json
  sessions/js-loops/Part3_forin_select_nav/sandbox.config.json
  sessions/js-loops/Part4_forof_list/.eslintrc.json
  sessions/js-loops/Part4_forof_list/.prettierrc.json
  sessions/js-loops/Part4_forof_list/.stylelintrc.json
  sessions/js-loops/Part4_forof_list/css/styles.css
  sessions/js-loops/Part4_forof_list/index.html
  sessions/js-loops/Part4_forof_list/js/index.js
  sessions/js-loops/Part4_forof_list/package.json
  sessions/js-loops/Part4_forof_list/sandbox.config.json
  sessions/js-loops/Part5_while_random_number/.prettierrc.json
  sessions/js-loops/Part5_while_random_number/index.js
  sessions/js-loops/Part5_while_random_number/package.json
Due: npx eslint --fix, npx prettier --write

fix: remove unwanted challenges
  sessions/js-forms-2/controlled-input-uppercase/.eslintrc.json
  sessions/js-forms-2/controlled-input-uppercase/.prettierrc.json
  sessions/js-forms-2/controlled-input-uppercase/.stylelintrc.json
  sessions/js-forms-2/controlled-input-uppercase/README.md
  sessions/js-forms-2/controlled-input-uppercase/css/styles.css
  sessions/js-forms-2/controlled-input-uppercase/index.html
  sessions/js-forms-2/controlled-input-uppercase/js/index.js
  sessions/js-forms-2/controlled-input-uppercase/package.json
  sessions/js-forms-2/controlled-input-uppercase/sandbox.config.json
  sessions/js-forms-2/formvalidation/.eslintrc.json
  sessions/js-forms-2/formvalidation/.prettierrc.json
  sessions/js-forms-2/formvalidation/.stylelintrc.json
  sessions/js-forms-2/formvalidation/README.md
  sessions/js-forms-2/formvalidation/css/styles.css
  sessions/js-forms-2/formvalidation/index.html
  sessions/js-forms-2/formvalidation/js/index.js
  sessions/js-forms-2/formvalidation/package.json
  sessions/js-forms-2/formvalidation/sandbox.config.json
  sessions/js-forms-2/simple-live-calculator/.eslintrc.json
  sessions/js-forms-2/simple-live-calculator/.prettierrc.json
  sessions/js-forms-2/simple-live-calculator/.stylelintrc.json
  sessions/js-forms-2/simple-live-calculator/README.md
  sessions/js-forms-2/simple-live-calculator/css/styles.css
  sessions/js-forms-2/simple-live-calculator/index.html
  sessions/js-forms-2/simple-live-calculator/js/index.js
  sessions/js-forms-2/simple-live-calculator/package.json
  sessions/js-forms-2/simple-live-calculator/sandbox.config.json
  sessions/js-forms-2/simple-todolist/.eslintrc.json
  sessions/js-forms-2/simple-todolist/.prettierrc.json
  sessions/js-forms-2/simple-todolist/.stylelintrc.json
  sessions/js-forms-2/simple-todolist/README.md
  sessions/js-forms-2/simple-todolist/css/styles.css
  sessions/js-forms-2/simple-todolist/index.html
  sessions/js-forms-2/simple-todolist/js/index.js
  sessions/js-forms-2/simple-todolist/package.json
  sessions/js-forms-2/simple-todolist/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

refactor: rename challenges and store base64 strings in variables
  sessions/js-loops/Part2_for_stars/js/index.js
  sessions/js-loops/for-console/.prettierrc.json
  sessions/js-loops/for-console/index.js
  sessions/js-loops/for-console/package.json
  sessions/js-loops/for-stars/.eslintrc.json
  sessions/js-loops/for-stars/.prettierrc.json
  sessions/js-loops/for-stars/.stylelintrc.json
  sessions/js-loops/for-stars/css/styles.css
  sessions/js-loops/for-stars/index.html
  sessions/js-loops/for-stars/js/index.js
  sessions/js-loops/for-stars/package.json
  sessions/js-loops/for-stars/sandbox.config.json
  sessions/js-loops/forin-select-nav/.eslintrc.json
  sessions/js-loops/forin-select-nav/.prettierrc.json
  sessions/js-loops/forin-select-nav/.stylelintrc.json
  sessions/js-loops/forin-select-nav/css/styles.css
  sessions/js-loops/forin-select-nav/index.html
  sessions/js-loops/forin-select-nav/js/index.js
  sessions/js-loops/forin-select-nav/package.json
  sessions/js-loops/forin-select-nav/sandbox.config.json
  sessions/js-loops/forof-list/.eslintrc.json
  sessions/js-loops/forof-list/.prettierrc.json
  sessions/js-loops/forof-list/.stylelintrc.json
  sessions/js-loops/forof-list/css/styles.css
  sessions/js-loops/forof-list/index.html
  sessions/js-loops/forof-list/js/index.js
  sessions/js-loops/forof-list/package.json
  sessions/js-loops/forof-list/sandbox.config.json
  sessions/js-loops/while-random-number/.prettierrc.json
  sessions/js-loops/while-random-number/index.js
  sessions/js-loops/while-random-number/package.json
Due: npx eslint --fix, npx prettier --write

feat(templates): add readme files for all templates (#78)
  templates/javascript/README.md
  templates/react/README.md
  templates/static-html-css-js/README.md
  templates/static-html-css/README.md
  templates/styled-components/README.md
Due: npx prettier --write

fix(css responsive): wording changes
  sessions/css-responsive/playground/index.html
Due: none

fix(css-responsive): fixed BEM
  sessions/css-responsive/playground/css/styles.css
  sessions/css-responsive/playground/index.html
Due: none

feat(js-loops): update for-console challenge
  sessions/js-loops/for-console/README.md
  sessions/js-loops/for-console/index.js
  sessions/js-loops/for-console/package.json
Due: npx eslint --fix, npx prettier --write

refactor(css responsive): wording changes
  sessions/css-responsive/responsive-website/css/styles.css
Due: none

feat(js-loops): update for-stars challenge
  sessions/js-loops/for-stars/.eslintrc.json
  sessions/js-loops/for-stars/README.md
  sessions/js-loops/for-stars/js/index.js
  sessions/js-loops/for-stars/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-loops): update for-in challenge
  sessions/js-loops/forin-select-nav/README.md
  sessions/js-loops/forin-select-nav/js/index.js
  sessions/js-loops/forin-select-nav/package.json
Due: npx eslint --fix, npx prettier --write

fix(js-loops): delete solution from for-in challenge"
  sessions/js-loops/forin-select-nav/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-loops): update for-of challenge
  sessions/js-loops/forof-list/README.md
  sessions/js-loops/forof-list/js/index.js
  sessions/js-loops/forof-list/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-loops): update while challenge
  sessions/js-loops/while-random-number/README.md
  sessions/js-loops/while-random-number/package.json
Due: npx prettier --write

fix(js-loops): delete solution of while challenge
  sessions/js-loops/while-random-number/index.js
Due: npx eslint --fix, npx prettier --write

fix(js-loops): typos of while challenge
  sessions/js-loops/while-random-number/README.md
  sessions/js-loops/while-random-number/index.js
Due: npx eslint --fix, npx prettier --write

chore(js-template): move script tag to start of html.file (#77)
  templates/static-html-css-js/index.html
Due: none

feat: added an alternative demo start/end
  sessions/css-selectors/demo-end_alternative/.eslintrc.json
  sessions/css-selectors/demo-end_alternative/.prettierrc.json
  sessions/css-selectors/demo-end_alternative/.stylelintrc.json
  sessions/css-selectors/demo-end_alternative/css/styles.css
  sessions/css-selectors/demo-end_alternative/index.html
  sessions/css-selectors/demo-end_alternative/package.json
  sessions/css-selectors/demo-end_alternative/sandbox.config.json
  sessions/css-selectors/demo-start_alternative/.eslintrc.json
  sessions/css-selectors/demo-start_alternative/.prettierrc.json
  sessions/css-selectors/demo-start_alternative/.stylelintrc.json
  sessions/css-selectors/demo-start_alternative/css/styles.css
  sessions/css-selectors/demo-start_alternative/index.html
  sessions/css-selectors/demo-start_alternative/package.json
  sessions/css-selectors/demo-start_alternative/sandbox.config.json
Due: npx prettier --write

feat(js-forms-2): update according to review
  sessions/js-forms-2/controlled-input-uppercase/README.md
  sessions/js-forms-2/controlled-input-uppercase/css/styles.css
  sessions/js-forms-2/formvalidation/css/styles.css
  sessions/js-forms-2/formvalidation/index.html
  sessions/js-forms-2/simple-live-calculator/README.md
  sessions/js-forms-2/simple-live-calculator/css/styles.css
  sessions/js-forms-2/simple-todolist/README.md
  sessions/js-forms-2/simple-todolist/css/styles.css
  sessions/js-forms-2/simple-todolist/index.html
Due: npx prettier --write

feat(js-loops): add demo start and end version (#80)
  sessions/js-loops/demo-end/.gitignore
  sessions/js-loops/demo-end/README.md
  sessions/js-loops/demo-end/package.json
  sessions/js-loops/demo-end/public/favicon.ico
  sessions/js-loops/demo-end/public/index.html
  sessions/js-loops/demo-end/public/manifest.json
  sessions/js-loops/demo-end/src/.prettierrc.json
  sessions/js-loops/demo-end/src/index.js
  sessions/js-loops/demo-end/src/package.json
  sessions/js-loops/demo-start/.gitignore
  sessions/js-loops/demo-start/README.md
  sessions/js-loops/demo-start/package.json
  sessions/js-loops/demo-start/public/favicon.ico
  sessions/js-loops/demo-start/public/index.html
  sessions/js-loops/demo-start/public/manifest.json
  sessions/js-loops/demo-start/src/.prettierrc.json
  sessions/js-loops/demo-start/src/index.js
  sessions/js-loops/demo-start/src/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-forms-2): update todolist challenge
  sessions/js-forms-2/simple-todolist/README.md
Due: npx prettier --write

feat(js-forms-2): challenges (#75)
  .gitignore
  sessions/js-forms-2/controlled-input-uppercase/.eslintrc.json
  sessions/js-forms-2/controlled-input-uppercase/.prettierrc.json
  sessions/js-forms-2/controlled-input-uppercase/.stylelintrc.json
  sessions/js-forms-2/controlled-input-uppercase/README.md
  sessions/js-forms-2/controlled-input-uppercase/css/styles.css
  sessions/js-forms-2/controlled-input-uppercase/index.html
  sessions/js-forms-2/controlled-input-uppercase/js/index.js
  sessions/js-forms-2/controlled-input-uppercase/package.json
  sessions/js-forms-2/controlled-input-uppercase/sandbox.config.json
  sessions/js-forms-2/formvalidation/.eslintrc.json
  sessions/js-forms-2/formvalidation/.prettierrc.json
  sessions/js-forms-2/formvalidation/.stylelintrc.json
  sessions/js-forms-2/formvalidation/README.md
  sessions/js-forms-2/formvalidation/css/styles.css
  sessions/js-forms-2/formvalidation/index.html
  sessions/js-forms-2/formvalidation/js/index.js
  sessions/js-forms-2/formvalidation/package.json
  sessions/js-forms-2/formvalidation/sandbox.config.json
  sessions/js-forms-2/simple-live-calculator/.eslintrc.json
  sessions/js-forms-2/simple-live-calculator/.prettierrc.json
  sessions/js-forms-2/simple-live-calculator/.stylelintrc.json
  sessions/js-forms-2/simple-live-calculator/README.md
  sessions/js-forms-2/simple-live-calculator/css/styles.css
  sessions/js-forms-2/simple-live-calculator/index.html
  sessions/js-forms-2/simple-live-calculator/js/index.js
  sessions/js-forms-2/simple-live-calculator/package.json
  sessions/js-forms-2/simple-live-calculator/sandbox.config.json
  sessions/js-forms-2/simple-todolist/.eslintrc.json
  sessions/js-forms-2/simple-todolist/.prettierrc.json
  sessions/js-forms-2/simple-todolist/.stylelintrc.json
  sessions/js-forms-2/simple-todolist/README.md
  sessions/js-forms-2/simple-todolist/css/styles.css
  sessions/js-forms-2/simple-todolist/index.html
  sessions/js-forms-2/simple-todolist/js/index.js
  sessions/js-forms-2/simple-todolist/package.json
  sessions/js-forms-2/simple-todolist/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add toast animations challenge
  sessions/css-animations/toast-animations/.eslintrc.json
  sessions/css-animations/toast-animations/.prettierrc.json
  sessions/css-animations/toast-animations/.stylelintrc.json
  sessions/css-animations/toast-animations/README.md
  sessions/css-animations/toast-animations/css/styles.css
  sessions/css-animations/toast-animations/index.html
  sessions/css-animations/toast-animations/js/index.js
  sessions/css-animations/toast-animations/package.json
  sessions/css-animations/toast-animations/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix(js-forms): typo in README of calculator exercise
  sessions/js-forms/calculator/README.md
Due: npx prettier --write

feat: added README.md
  sessions/css-responsive/playground/README.md
  sessions/css-responsive/responsive-website/README.md
Due: npx prettier --write

Refactor/css responsive (#83)
  sessions/css-responsive/playground/README.md
  sessions/css-responsive/playground/css/styles.css
  sessions/css-responsive/playground/index.html
  sessions/css-responsive/responsive-website/README.md
  sessions/css-responsive/responsive-website/css/styles.css
Due: npx prettier --write

fix: wording
  sessions/css-selectors/demo-end_alternative/css/styles.css
  sessions/css-selectors/demo-start_alternative/css/styles.css
Due: none

feat: added an alternative demo start/end (#84)
  sessions/css-selectors/demo-end_alternative/.eslintrc.json
  sessions/css-selectors/demo-end_alternative/.prettierrc.json
  sessions/css-selectors/demo-end_alternative/.stylelintrc.json
  sessions/css-selectors/demo-end_alternative/css/styles.css
  sessions/css-selectors/demo-end_alternative/index.html
  sessions/css-selectors/demo-end_alternative/package.json
  sessions/css-selectors/demo-end_alternative/sandbox.config.json
  sessions/css-selectors/demo-start_alternative/.eslintrc.json
  sessions/css-selectors/demo-start_alternative/.prettierrc.json
  sessions/css-selectors/demo-start_alternative/.stylelintrc.json
  sessions/css-selectors/demo-start_alternative/css/styles.css
  sessions/css-selectors/demo-start_alternative/index.html
  sessions/css-selectors/demo-start_alternative/package.json
  sessions/css-selectors/demo-start_alternative/sandbox.config.json
Due: npx prettier --write

fix: multiple timouts on element bug
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-loops): fix variable in for-stars challenge
  sessions/js-loops/while-random-number/.eslintrc.json
  sessions/js-loops/while-random-number/index.js
Due: npx eslint --fix, npx prettier --write

fix(package.json): fix names in package.json files
  sessions/css-selectors/demo-end_alternative/package.json
  sessions/css-selectors/demo-start_alternative/package.json
  sessions/js-forms/calculator/package.json
Due: npx prettier --write

fix(js-array-methods): fix typo in folder name
  sessions/js-array-methods/repetition/index.js
  sessions/js-array-methods/repetition/package.json
Due: npx eslint --fix, npx prettier --write

fix: remove bug that prevents the toast to exit
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

fix: reposition clearTimeout
  sessions/css-animations/toast-animations/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-array-methods): update repetition challenge
  sessions/js-array-methods/repetition/README.md
  sessions/js-array-methods/repetition/index.js
  sessions/js-array-methods/repetition/index.test.js
  sessions/js-array-methods/repetition/package.json
Due: npx eslint --fix, npx prettier --write

feat(ks-loops): update according to review
  sessions/js-loops/for-console/README.md
  sessions/js-loops/for-stars/README.md
  sessions/js-loops/for-stars/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(array-for-each): add readme file for tasks
  sessions/js-array-methods/for-each/README.md
  sessions/js-array-methods/for-each/js/index.js
Due: npx eslint --fix, npx prettier --write

fix(js-array-methods): import of test globals
  sessions/js-array-methods/repetition/.eslintrc.json
  sessions/js-array-methods/repetition/index.test.js
Due: npx eslint --fix, npx prettier --write

feat(js-array-methods): add first tests for map challenge
  sessions/js-array-methods/filter/package.json
  sessions/js-array-methods/map/.eslintrc.json
  sessions/js-array-methods/map/index.js
  sessions/js-array-methods/map/index.test.js
  sessions/js-array-methods/map/package.json
Due: npx eslint --fix, npx prettier --write
