Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix readme
  README.md
Due: npx prettier --write

fix migrate script
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

cook templates
  recipes/react-minimal/exercise-overrides/README.md
  recipes/react-minimal/files/.codesandbox/tasks.json
  recipes/react-minimal/files/README.md
  recipes/react-minimal/files/sandbox.config.json
  recipes/react-minimal/recipe.js
  templates/empty/sandbox.config.json
  templates/html-css-js/.codesandbox/tasks.json
  templates/html-css-js/README.md
  templates/html-css-js/package.json
  templates/html-css-js/sandbox.config.json
  templates/js/.codesandbox/tasks.json
  templates/js/README.md
  templates/js/index.html
  templates/js/package.json
  templates/js/sandbox.config.json
  templates/react-minimal/.codesandbox/tasks.json
  templates/react-minimal/README.md
  templates/react-minimal/package.json
  templates/react-minimal/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix tests tab name
  recipes/html-css-js/exercise-overrides/README.md
  recipes/html-css-js/files/README.md
  recipes/js/exercise-overrides/README.md
  recipes/js/files/README.md
  recipes/next/exercise-overrides/README.md
  recipes/next/files/README.md
  recipes/node-server/exercise-overrides/README.md
  recipes/node-server/files/README.md
  recipes/react/exercise-overrides/README.md
  recipes/react/files/README.md
  templates/html-css-js/README.md
  templates/js/README.md
  templates/next/README.md
  templates/node-server/README.md
  templates/react/README.md
Due: npx prettier --write

force npm install instead of yarn
  recipes/empty/files/.codesandbox/tasks.json
  recipes/html-css-js/files/.codesandbox/tasks.json
  recipes/html-css/files/.codesandbox/tasks.json
  recipes/js/files/.codesandbox/tasks.json
  recipes/next/files/.codesandbox/tasks.json
  recipes/node-server/files/.codesandbox/tasks.json
  recipes/react-minimal/files/.codesandbox/tasks.json
  recipes/react/files/.codesandbox/tasks.json
  templates/empty/.codesandbox/tasks.json
  templates/html-css-js/.codesandbox/tasks.json
  templates/html-css/.codesandbox/tasks.json
  templates/js/.codesandbox/tasks.json
  templates/node-server/.codesandbox/tasks.json
  templates/react-minimal/.codesandbox/tasks.json
  templates/react/.codesandbox/tasks.json
Due: npx prettier --write

switch from serve to live-server
  recipes/html-css-js/files/package.json
  recipes/html-css/files/package.json
  recipes/js/files/package.json
  templates/html-css-js/package.json
  templates/html-css/package.json
  templates/js/package.json
Due: npx prettier --write

use star wars api for planets instead of lame jokes api
  sessions/react-custom-hooks/demo-start/src/App.js
  sessions/react-custom-hooks/demo-start/src/components/Joke.js
  sessions/react-custom-hooks/demo-start/src/components/Planet.js
Due: npx eslint --fix, npx prettier --write

fix readme to reflect live-server
  recipes/html-css-js/exercise-overrides/README.md
  recipes/html-css-js/files/README.md
  recipes/html-css/exercise-overrides/README.md
  recipes/html-css/files/README.md
  recipes/js/files/README.md
  recipes/node-server/exercise-overrides/README.md
  recipes/node-server/files/README.md
  sessions/backend-create/products/README.md
  sessions/backend-read/products/README.md
  sessions/backend-update-and-delete/products/README.md
  templates/html-css-js/README.md
  templates/html-css/README.md
  templates/js/README.md
  templates/node-server/README.md
Due: npx prettier --write

use a nature scenes api instead
  sessions/react-custom-hooks/demo-start/src/App.js
  sessions/react-custom-hooks/demo-start/src/components/NatureScene.js
  sessions/react-custom-hooks/demo-start/src/components/Planet.js
Due: npx eslint --fix, npx prettier --write

updated API url
  sessions/react-custom-hooks/demo-start/pnpm-lock.yaml
  sessions/react-custom-hooks/demo-start/src/components/NatureScene.js
Due: npx eslint --fix, npx prettier --write

update to use nature-scenes api
  sessions/react-custom-hooks/demo-end/pnpm-lock.yaml
  sessions/react-custom-hooks/demo-end/src/App.js
  sessions/react-custom-hooks/demo-end/src/components/NatureScene.js
  sessions/react-custom-hooks/demo-end/src/utils/fetch.js
Due: npx eslint --fix, npx prettier --write

use better function name
  sessions/react-custom-hooks/demo-start/src/components/NatureScene.js
Due: npx eslint --fix, npx prettier --write

use better function name
  sessions/react-custom-hooks/demo-end/src/components/NatureScene.js
Due: npx eslint --fix, npx prettier --write

add backwards compat for old csb
  recipes/empty/files/sandbox.config.json
  recipes/html-css-js/files/package.json
  recipes/html-css-js/files/sandbox.config.json
  recipes/html-css/files/sandbox.config.json
  recipes/js/files/package.json
  recipes/js/files/sandbox.config.json
  recipes/next/files/sandbox.config.json
  recipes/node-server/files/sandbox.config.json
  recipes/react-minimal/files/sandbox.config.json
  recipes/react/files/sandbox.config.json
Due: npx prettier --write

fix and cook next
  recipes/next/recipe.js
  templates/next/.codesandbox/tasks.json
  templates/next/README.md
  templates/next/package.json
Due: npx eslint --fix, npx prettier --write

cook all templates
  recipes/next/recipe.js
  scripts/cook.js
  templates/empty/sandbox.config.json
  templates/html-css-js/package.json
  templates/html-css-js/sandbox.config.json
  templates/html-css/sandbox.config.json
  templates/js/package.json
  templates/js/sandbox.config.json
  templates/node-server/sandbox.config.json
  templates/react-minimal/sandbox.config.json
  templates/react/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

add template instructions
  recipes/empty/files/README.md
  recipes/html-css-js/files/README.md
  recipes/html-css/files/README.md
  recipes/js/files/README.md
  recipes/next/files/README.md
  recipes/node-server/files/README.md
  recipes/react-minimal/files/README.md
  recipes/react/files/README.md
  templates/empty/README.md
  templates/html-css-js/README.md
  templates/html-css/README.md
  templates/js/README.md
  templates/next/README.md
  templates/node-server/README.md
  templates/react-minimal/README.md
  templates/react/README.md
Due: npx prettier --write

add script to copy all csv with urls of all exercises
  scripts/get-all-links.js
Due: npx eslint --fix, npx prettier --write

update migrate script to copy index.html if it does not exist
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

add index.html to js only exercises
  sessions/js-array-methods-2/animal-objects/index.html
  sessions/js-array-methods-2/animal-strings/index.html
  sessions/js-array-methods/filter/index.html
  sessions/js-array-methods/map/index.html
  sessions/js-array-methods/repetition/index.html
  sessions/js-conditions-and-booleans/demo-end/index.html
  sessions/js-conditions-and-booleans/demo-start/index.html
  sessions/js-conditions-and-booleans/statements/index.html
  sessions/js-functions-2/basic-calculations/index.html
  sessions/js-loops/demo-end/index.html
  sessions/js-loops/demo-start/index.html
  sessions/js-loops/for-console/index.html
  sessions/js-loops/while-random-number/index.html
  sessions/js-modern-syntax/demo-end/index.html
  sessions/js-modern-syntax/demo-start/index.html
  sessions/js-modern-syntax/destructuring-arrays/index.html
  sessions/js-modern-syntax/destructuring-objects/index.html
  sessions/js-modern-syntax/rest-and-spread/index.html
  sessions/js-objects-and-arrays/arrays/index.html
  sessions/js-objects-and-arrays/objects-and-arrays/index.html
  sessions/js-objects-and-arrays/objects/index.html
  sessions/js-unit-testing/demo-end/index.html
  sessions/js-unit-testing/demo-start/index.html
  sessions/js-unit-testing/get-animal/index.html
  sessions/js-unit-testing/math-functions/index.html
  sessions/js-unit-testing/people/index.html
Due: none

update readme
  README.md
Due: npx prettier --write

fix migrate script to copy jsconfig
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write

add jsconfig files to next projects
  sessions/backend-api-routes/demo-end/jsconfig.json
  sessions/backend-api-routes/demo-start/jsconfig.json
  sessions/backend-api-routes/products/jsconfig.json
  sessions/backend-api-routes/random-character/jsconfig.json
  sessions/backend-create/demo-end/jsconfig.json
  sessions/backend-create/demo-start/jsconfig.json
  sessions/backend-create/products/jsconfig.json
  sessions/backend-read/demo-end/jsconfig.json
  sessions/backend-read/demo-start/jsconfig.json
  sessions/backend-read/products/jsconfig.json
  sessions/backend-update-and-delete/demo-end/jsconfig.json
  sessions/backend-update-and-delete/demo-start/jsconfig.json
  sessions/backend-update-and-delete/products/jsconfig.json
  sessions/nextjs-dynamic-routes/demo-end/jsconfig.json
  sessions/nextjs-dynamic-routes/demo-start/jsconfig.json
  sessions/nextjs-dynamic-routes/lotr-app-dynamic-routes/jsconfig.json
  sessions/react-component-testing/demo-end/jsconfig.json
  sessions/react-component-testing/demo-start/jsconfig.json
  sessions/react-component-testing/lotr-app-testing/jsconfig.json
  sessions/react-component-testing/scorekeeper/jsconfig.json
  sessions/react-data-fetching/demo-end/jsconfig.json
  sessions/react-data-fetching/demo-start/jsconfig.json
  sessions/react-data-fetching/iss-tracker/jsconfig.json
  sessions/react-data-fetching/star-wars/jsconfig.json
  sessions/react-global-state/demo-end/jsconfig.json
  sessions/react-global-state/demo-start/jsconfig.json
  sessions/react-global-state/lights-solution/jsconfig.json
  sessions/react-global-state/lights/jsconfig.json
  sessions/react-immutable-state/car-race/jsconfig.json
  sessions/react-immutable-state/demo-end/jsconfig.json
  sessions/react-immutable-state/demo-start/jsconfig.json
  sessions/react-immutable-state/form/jsconfig.json
  sessions/react-styled-components/box/jsconfig.json
  sessions/react-styled-components/demo-end/jsconfig.json
  sessions/react-styled-components/demo-start/jsconfig.json
  sessions/react-styled-components/lotr-app-styling/jsconfig.json
  sessions/recap-project-5/art-gallery-app-solution/jsconfig.json
  sessions/recap-project-6/example-implementation/jsconfig.json
  sessions/recap-project-6/tourio-app/jsconfig.json
Due: npx prettier --write

changed conflicting package name
  sessions/react-global-state/demo-end__zustand/package.json
Due: npx prettier --write

added completed demo
  sessions/express-basics/demo-end/.eslintrc.json
  sessions/express-basics/demo-end/.gitignore
  sessions/express-basics/demo-end/.prettierrc.json
  sessions/express-basics/demo-end/about-us.html
  sessions/express-basics/demo-end/contact-page.html
  sessions/express-basics/demo-end/index.js
  sessions/express-basics/demo-end/package.json
  sessions/express-basics/demo-end/public/js/page.js
Due: npx eslint --fix, npx prettier --write

added readme
  sessions/express-basics/demo-end/README.md
Due: npx prettier --write

added demo-start
  sessions/express-basics/demo-start/.eslintrc.json
  sessions/express-basics/demo-start/.gitignore
  sessions/express-basics/demo-start/.prettierrc.json
  sessions/express-basics/demo-start/README.md
  sessions/express-basics/demo-start/public/js/page.js
Due: npx eslint --fix, npx prettier --write

replace joke with product
  sessions/backend-create/products/README.md
Due: npx prettier --write

update exercises to use transient props
  sessions/react-styled-components/box/README.md
  sessions/react-styled-components/demo-end/components/Button.js
  sessions/react-styled-components/demo-end/components/Container.js
  sessions/react-styled-components/demo-end/components/InfoBox.js
  sessions/react-styled-components/demo-end/pages/index.js
Due: npx eslint --fix, npx prettier --write

update all challenges that use styled components to use transient props
  sessions/react-component-testing/demo-end/components/Movie/index.js
  sessions/react-component-testing/demo-start/components/Movie/index.js
  sessions/react-component-testing/lotr-app-testing/components/ColoredBox/index.js
  sessions/react-component-testing/lotr-app-testing/components/Main/index.js
  sessions/react-component-testing/lotr-app-testing/components/NavigationLink/index.js
  sessions/react-component-testing/lotr-app-testing/components/VolumeNavigation/index.js
  sessions/react-component-testing/lotr-app-testing/pages/volumes/[slug].js
  sessions/react-component-testing/lotr-app-testing/pages/volumes/index.js
  sessions/react-component-testing/scorekeeper/components/Navigation/index.js
  sessions/react-global-state/lights-solution/components/Button/Light.styled.js
  sessions/react-global-state/lights-solution/components/Layout/index.js
  sessions/react-global-state/lights-solution/components/Light/Light.styled.js
  sessions/react-global-state/lights-solution/components/Light/index.js
  sessions/react-global-state/lights/components/Button/Light.styled.js
  sessions/react-global-state/lights/components/Layout/index.js
  sessions/react-global-state/lights/components/Light/Light.styled.js
  sessions/react-global-state/lights/components/Light/index.js
  sessions/react-immutable-state/car-race/components/CarRace/CarRace.styled.js
  sessions/react-immutable-state/car-race/components/CarRace/index.js
  sessions/react-immutable-state/demo-end/components/Episode/index.js
  sessions/react-immutable-state/demo-start/components/Episode/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/FavoriteButton/index.js
  sessions/recap-project-5/art-gallery-app-solution/components/Navigation/index.js
  sessions/recap-project-6/example-implementation/components/StyledButton.js
  sessions/recap-project-6/example-implementation/components/StyledLink.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-6/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-6/tourio-app/components/StyledLink.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/edit.js
  sessions/recap-project-6/tourio-app/pages/places/[id]/index.js
Due: npx eslint --fix, npx prettier --write

fix node server projects on csb cloud
  recipes/node-server/files/.codesandbox/tasks.json
  recipes/node-server/files/package.json
  sessions/backend-basics/chance/.codesandbox/tasks.json
  sessions/backend-basics/chance/package.json
  sessions/backend-basics/demo-end/.codesandbox/tasks.json
  sessions/backend-basics/demo-end/package.json
  sessions/backend-basics/demo-start/.codesandbox/tasks.json
  sessions/backend-basics/demo-start/package.json
  sessions/backend-basics/greeting/.codesandbox/tasks.json
  sessions/backend-basics/greeting/package.json
  sessions/backend-basics/routes/.codesandbox/tasks.json
  sessions/backend-basics/routes/package.json
  templates/node-server/.codesandbox/tasks.json
  templates/node-server/package.json
Due: npx prettier --write

update readme for node server
  recipes/node-server/exercise-overrides/README.md
  recipes/node-server/files/README.md
  sessions/backend-basics/chance/README.md
  sessions/backend-basics/demo-end/README.md
  sessions/backend-basics/demo-start/README.md
  sessions/backend-basics/greeting/README.md
  sessions/backend-basics/routes/README.md
  templates/node-server/README.md
Due: npx prettier --write

add pseudo park exercise
  sessions/css-basics/pseudo-park/.gitignore
  sessions/css-basics/pseudo-park/.prettierrc.json
  sessions/css-basics/pseudo-park/README.md
  sessions/css-basics/pseudo-park/css/styles.css
  sessions/css-basics/pseudo-park/index.html
  sessions/css-basics/pseudo-park/package.json
  sessions/css-basics/pseudo-park/sandbox.config.json
Due: npx prettier --write

fix readme
  sessions/css-basics/pink-box/README.md
Due: npx prettier --write

add combined users challenge
  sessions/css-basics/combined-users/.gitignore
  sessions/css-basics/combined-users/.prettierrc.json
  sessions/css-basics/combined-users/README.md
  sessions/css-basics/combined-users/css/debug.css
  sessions/css-basics/combined-users/css/styles.css
  sessions/css-basics/combined-users/index.html
  sessions/css-basics/combined-users/package.json
  sessions/css-basics/combined-users/sandbox.config.json
  sessions/css-basics/pseudo-park/css/styles.css
  sessions/css-basics/shapes/css/styles.css
  sessions/css-basics/shapes/index.html
  sessions/css-basics/shapes/package.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
