Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

Update sessions/js-basics/console-methods/js/index.js
  sessions/js-basics/console-methods/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-basics): add exercise (#33)
  sessions/js-basics/console-methods/.eslintrc.json
  sessions/js-basics/console-methods/.prettierrc.json
  sessions/js-basics/console-methods/.stylelintrc.json
  sessions/js-basics/console-methods/css/styles.css
  sessions/js-basics/console-methods/index.html
  sessions/js-basics/console-methods/js/index.js
  sessions/js-basics/console-methods/package.json
  sessions/js-basics/console-methods/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Update sessions/js-basics/survey-error-fixing/css/styles.css
  sessions/js-basics/survey-error-fixing/css/styles.css
Due: none

feat(js-basics): update exercise "error-fixing" after code review
  sessions/js-basics/survey-error-fixing/css/styles.css
  sessions/js-basics/survey-error-fixing/index.html
  sessions/js-basics/survey-error-fixing/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-basics): add survey exercise (#45)
  sessions/js-basics/survey-error-fixing/.eslintrc.json
  sessions/js-basics/survey-error-fixing/.prettierrc.json
  sessions/js-basics/survey-error-fixing/.stylelintrc.json
  sessions/js-basics/survey-error-fixing/css/styles.css
  sessions/js-basics/survey-error-fixing/index.html
  sessions/js-basics/survey-error-fixing/js/index.js
  sessions/js-basics/survey-error-fixing/package.json
  sessions/js-basics/survey-error-fixing/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(js-createelement): add new exercises (#51)
  sessions/js-createelement/product-teaser/.eslintrc.json
  sessions/js-createelement/product-teaser/.prettierrc.json
  sessions/js-createelement/product-teaser/.stylelintrc.json
  sessions/js-createelement/product-teaser/css/styles.css
  sessions/js-createelement/product-teaser/index.html
  sessions/js-createelement/product-teaser/js/index.js
  sessions/js-createelement/product-teaser/package.json
  sessions/js-createelement/product-teaser/sandbox.config.json
  sessions/js-createelement/social-media-post/.eslintrc.json
  sessions/js-createelement/social-media-post/.prettierrc.json
  sessions/js-createelement/social-media-post/.stylelintrc.json
  sessions/js-createelement/social-media-post/css/styles.css
  sessions/js-createelement/social-media-post/index.html
  sessions/js-createelement/social-media-post/js/index.js
  sessions/js-createelement/social-media-post/package.json
  sessions/js-createelement/social-media-post/sandbox.config.json
  sessions/js-createelement/toast-messages/.eslintrc.json
  sessions/js-createelement/toast-messages/.prettierrc.json
  sessions/js-createelement/toast-messages/.stylelintrc.json
  sessions/js-createelement/toast-messages/css/styles.css
  sessions/js-createelement/toast-messages/index.html
  sessions/js-createelement/toast-messages/js/index.js
  sessions/js-createelement/toast-messages/package.json
  sessions/js-createelement/toast-messages/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat(css): add simpler exericse
  sessions/css-basics/shapes/index.html
  sessions/css-basics/shapes/package.json
  sessions/css-basics/shapes/readme.md
  sessions/css-basics/shapes/sandbox.config.json
  sessions/css-basics/shapes/styles.css
Due: npx prettier --write

fix(css): improved exericse
  sessions/css-basics/social-card/.eslintrc.json
  sessions/css-basics/social-card/.prettierrc.json
  sessions/css-basics/social-card/.stylelintrc.json
  sessions/css-basics/social-card/assets/arrow_right_circle_icon_128948.svg
  sessions/css-basics/social-card/assets/social-card.png
  sessions/css-basics/social-card/css/styles.css
  sessions/css-basics/social-card/index.html
  sessions/css-basics/social-card/readme.md
Due: npx prettier --write

feat: add boilerplate files
  sessions/js-createelement/demo/.eslintrc.json
  sessions/js-createelement/demo/.prettierrc.json
  sessions/js-createelement/demo/.stylelintrc.json
  sessions/js-createelement/demo/css/styles.css
  sessions/js-createelement/demo/index.html
  sessions/js-createelement/demo/js/index.js
  sessions/js-createelement/demo/package.json
  sessions/js-createelement/demo/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

refactor: rename folder
  sessions/js-createelement/demo-start/.eslintrc.json
  sessions/js-createelement/demo-start/.prettierrc.json
  sessions/js-createelement/demo-start/.stylelintrc.json
  sessions/js-createelement/demo-start/css/styles.css
  sessions/js-createelement/demo-start/index.html
  sessions/js-createelement/demo-start/js/index.js
  sessions/js-createelement/demo-start/package.json
  sessions/js-createelement/demo-start/sandbox.config.json
  sessions/js-createelement/demo/js/index.js
Due: npx eslint --fix, npx prettier --write

feat: add boilerplate files for demo end
  sessions/js-createelement/demo-end/.eslintrc.json
  sessions/js-createelement/demo-end/.prettierrc.json
  sessions/js-createelement/demo-end/.stylelintrc.json
  sessions/js-createelement/demo-end/css/styles.css
  sessions/js-createelement/demo-end/index.html
  sessions/js-createelement/demo-end/js/index.js
  sessions/js-createelement/demo-end/package.json
  sessions/js-createelement/demo-end/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add demo code
  sessions/js-createelement/demo-end/js/index.js
Due: npx eslint --fix, npx prettier --write

feat: add styling
  sessions/js-createelement/demo-end/css/styles.css
  sessions/js-createelement/demo-end/js/index.js
  sessions/js-createelement/demo-start/css/styles.css
Due: npx eslint --fix, npx prettier --write

Update sessions/js-math-and-numbers/calculator/index.html
  sessions/js-math-and-numbers/calculator/index.html
Due: none

Update sessions/js-math-and-numbers/counter/index.html
  sessions/js-math-and-numbers/counter/index.html
Due: none

Update sessions/js-math-and-numbers/calculator/js/index.js
  sessions/js-math-and-numbers/calculator/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-math-and-numbers/counter/js/index.js
  sessions/js-math-and-numbers/counter/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-math-and-numbers): update exercises after code review
  sessions/js-math-and-numbers/calculator/index.html
  sessions/js-math-and-numbers/counter/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-math-and-numbers): add calculator exercise (#41)
  sessions/js-math-and-numbers/calculator/.eslintrc.json
  sessions/js-math-and-numbers/calculator/.prettierrc.json
  sessions/js-math-and-numbers/calculator/.stylelintrc.json
  sessions/js-math-and-numbers/calculator/css/styles.css
  sessions/js-math-and-numbers/calculator/index.html
  sessions/js-math-and-numbers/calculator/js/index.js
  sessions/js-math-and-numbers/calculator/package.json
  sessions/js-math-and-numbers/calculator/sandbox.config.json
  sessions/js-math-and-numbers/counter/.eslintrc.json
  sessions/js-math-and-numbers/counter/.prettierrc.json
  sessions/js-math-and-numbers/counter/.stylelintrc.json
  sessions/js-math-and-numbers/counter/css/styles.css
  sessions/js-math-and-numbers/counter/index.html
  sessions/js-math-and-numbers/counter/js/index.js
  sessions/js-math-and-numbers/counter/package.json
  sessions/js-math-and-numbers/counter/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  sessions/js-createelement/demo-end/index.html
  sessions/js-createelement/demo-start/index.html
Due: none

feat: add label for input
  sessions/js-createelement/demo-end/index.html
  sessions/js-createelement/demo-start/index.html
Due: none

Feature/js createelement demo (#54)
  sessions/js-createelement/demo-end/.eslintrc.json
  sessions/js-createelement/demo-end/.prettierrc.json
  sessions/js-createelement/demo-end/.stylelintrc.json
  sessions/js-createelement/demo-end/css/styles.css
  sessions/js-createelement/demo-end/index.html
  sessions/js-createelement/demo-end/js/index.js
  sessions/js-createelement/demo-end/package.json
  sessions/js-createelement/demo-end/sandbox.config.json
  sessions/js-createelement/demo-start/.eslintrc.json
  sessions/js-createelement/demo-start/.prettierrc.json
  sessions/js-createelement/demo-start/.stylelintrc.json
  sessions/js-createelement/demo-start/css/styles.css
  sessions/js-createelement/demo-start/index.html
  sessions/js-createelement/demo-start/js/index.js
  sessions/js-createelement/demo-start/package.json
  sessions/js-createelement/demo-start/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add basic-calculations exercise
  sessions/js-functions-2/basic-calculations/.gitignore
  sessions/js-functions-2/basic-calculations/README.md
  sessions/js-functions-2/basic-calculations/package.json
  sessions/js-functions-2/basic-calculations/public/favicon.ico
  sessions/js-functions-2/basic-calculations/public/index.html
  sessions/js-functions-2/basic-calculations/public/manifest.json
  sessions/js-functions-2/basic-calculations/src/.eslintrc.json
  sessions/js-functions-2/basic-calculations/src/.prettierrc.json
  sessions/js-functions-2/basic-calculations/src/createServiceWorker.js
  sessions/js-functions-2/basic-calculations/src/index.js
  sessions/js-functions-2/basic-calculations/src/package.json
Due: npx eslint --fix, npx prettier --write

feat: add scroll effects exercise
  sessions/js-functions-2/scroll-effects/.eslintrc.json
  sessions/js-functions-2/scroll-effects/.prettierrc.json
  sessions/js-functions-2/scroll-effects/.stylelintrc.json
  sessions/js-functions-2/scroll-effects/css/styles.css
  sessions/js-functions-2/scroll-effects/index.html
  sessions/js-functions-2/scroll-effects/js/index.js
  sessions/js-functions-2/scroll-effects/package.json
  sessions/js-functions-2/scroll-effects/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: simplify exercise and rename it to progress bar
  sessions/js-functions-2/progress-bar/.eslintrc.json
  sessions/js-functions-2/progress-bar/.prettierrc.json
  sessions/js-functions-2/progress-bar/.stylelintrc.json
  sessions/js-functions-2/progress-bar/css/styles.css
  sessions/js-functions-2/progress-bar/index.html
  sessions/js-functions-2/progress-bar/js/index.js
  sessions/js-functions-2/progress-bar/package.json
  sessions/js-functions-2/progress-bar/sandbox.config.json
  sessions/js-functions-2/scroll-effects/js/index.js
Due: npx eslint --fix, npx prettier --write

feat: add exercise greeting-page
  sessions/js-functions-2/greeting-page/.eslintrc.json
  sessions/js-functions-2/greeting-page/.prettierrc.json
  sessions/js-functions-2/greeting-page/.stylelintrc.json
  sessions/js-functions-2/greeting-page/css/styles.css
  sessions/js-functions-2/greeting-page/index.html
  sessions/js-functions-2/greeting-page/js/index.js
  sessions/js-functions-2/greeting-page/package.json
  sessions/js-functions-2/greeting-page/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

feat: add exercise arrow functions
  sessions/js-functions-2/static-html-css-js/.eslintrc.json
  sessions/js-functions-2/static-html-css-js/.prettierrc.json
  sessions/js-functions-2/static-html-css-js/.stylelintrc.json
  sessions/js-functions-2/static-html-css-js/css/styles.css
  sessions/js-functions-2/static-html-css-js/index.html
  sessions/js-functions-2/static-html-css-js/js/index.js
  sessions/js-functions-2/static-html-css-js/package.json
  sessions/js-functions-2/static-html-css-js/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix: correct exercise name
  sessions/js-functions-2/arrow-functions/.eslintrc.json
  sessions/js-functions-2/arrow-functions/.prettierrc.json
  sessions/js-functions-2/arrow-functions/.stylelintrc.json
  sessions/js-functions-2/arrow-functions/css/styles.css
  sessions/js-functions-2/arrow-functions/index.html
  sessions/js-functions-2/arrow-functions/js/index.js
  sessions/js-functions-2/arrow-functions/package.json
  sessions/js-functions-2/arrow-functions/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix: apply suggestions from review
  sessions/js-functions-2/arrow-functions/js/index.js
  sessions/js-functions-2/basic-calculations/src/index.js
  sessions/js-functions-2/greeting-page/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-functions-2/arrow-functions/js/index.js
  sessions/js-functions-2/arrow-functions/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-functions-2/greeting-page/js/index.js
  sessions/js-functions-2/greeting-page/js/index.js
Due: npx eslint --fix, npx prettier --write

Feat/js functions 2 (#55)
  sessions/js-functions-2/arrow-functions/.eslintrc.json
  sessions/js-functions-2/arrow-functions/.prettierrc.json
  sessions/js-functions-2/arrow-functions/.stylelintrc.json
  sessions/js-functions-2/arrow-functions/css/styles.css
  sessions/js-functions-2/arrow-functions/index.html
  sessions/js-functions-2/arrow-functions/js/index.js
  sessions/js-functions-2/arrow-functions/package.json
  sessions/js-functions-2/arrow-functions/sandbox.config.json
  sessions/js-functions-2/basic-calculations/.gitignore
  sessions/js-functions-2/basic-calculations/README.md
  sessions/js-functions-2/basic-calculations/package.json
  sessions/js-functions-2/basic-calculations/public/favicon.ico
  sessions/js-functions-2/basic-calculations/public/index.html
  sessions/js-functions-2/basic-calculations/public/manifest.json
  sessions/js-functions-2/basic-calculations/src/.eslintrc.json
  sessions/js-functions-2/basic-calculations/src/.prettierrc.json
  sessions/js-functions-2/basic-calculations/src/createServiceWorker.js
  sessions/js-functions-2/basic-calculations/src/index.js
  sessions/js-functions-2/basic-calculations/src/package.json
  sessions/js-functions-2/greeting-page/.eslintrc.json
  sessions/js-functions-2/greeting-page/.prettierrc.json
  sessions/js-functions-2/greeting-page/.stylelintrc.json
  sessions/js-functions-2/greeting-page/css/styles.css
  sessions/js-functions-2/greeting-page/index.html
  sessions/js-functions-2/greeting-page/js/index.js
  sessions/js-functions-2/greeting-page/package.json
  sessions/js-functions-2/greeting-page/sandbox.config.json
  sessions/js-functions-2/progress-bar/.eslintrc.json
  sessions/js-functions-2/progress-bar/.prettierrc.json
  sessions/js-functions-2/progress-bar/.stylelintrc.json
  sessions/js-functions-2/progress-bar/css/styles.css
  sessions/js-functions-2/progress-bar/index.html
  sessions/js-functions-2/progress-bar/js/index.js
  sessions/js-functions-2/progress-bar/package.json
  sessions/js-functions-2/progress-bar/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

fix(css): added requested changes
  sessions/css-basics/social-card/readme.md
Due: npx prettier --write

fix(css): added requested changes
  sessions/css-basics/shapes/index.html
  sessions/css-basics/shapes/readme.md
  sessions/css-basics/shapes/styles.css
Due: npx prettier --write

feat(css): changed readme name to change it later to uppercase
  sessions/css-basics/shapes/READMEx.md
Due: npx prettier --write

feat(css): changed readme name to uppercase
  sessions/css-basics/shapes/README.md
Due: npx prettier --write

feat(css): add simpler exericse (#52)
  sessions/css-basics/shapes/README.md
  sessions/css-basics/shapes/index.html
  sessions/css-basics/shapes/package.json
  sessions/css-basics/shapes/sandbox.config.json
  sessions/css-basics/shapes/styles.css
Due: npx prettier --write

fix(css): changed name of readme to bring it wo uppercase next push
  sessions/css-basics/social-card/readmes.md
Due: npx prettier --write

fix(css): renamed readme to uppercase
  sessions/css-basics/social-card/README.md
Due: npx prettier --write
