Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

chore(npm): update packages
  package-lock.json
Due: npx prettier --write

feat(js-unit-testing): add get animal challenge
  sessions/js-unit-testing/get-animal/.eslintrc.json
  sessions/js-unit-testing/get-animal/.prettierrc.json
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/index.test.js
  sessions/js-unit-testing/get-animal/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-unit-tests): add readme for animal challenge
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-unit-testing): add .gitignore for getAnimal challenge
  sessions/js-unit-testing/get-animal/.gitignore
Due: none

fix(js-unit-testing): change test script to --watchAll flag
  sessions/js-unit-testing/get-animal/package.json
Due: npx prettier --write

feat(js-unit-testing): add demo
  sessions/js-unit-testing/demo-end/.eslintrc.json
  sessions/js-unit-testing/demo-end/.gitignore
  sessions/js-unit-testing/demo-end/.prettierrc.json
  sessions/js-unit-testing/demo-end/README.md
  sessions/js-unit-testing/demo-end/greet.js
  sessions/js-unit-testing/demo-end/greet.test.js
  sessions/js-unit-testing/demo-end/index.js
  sessions/js-unit-testing/demo-end/package.json
  sessions/js-unit-testing/demo-start/.eslintrc.json
  sessions/js-unit-testing/demo-start/.gitignore
  sessions/js-unit-testing/demo-start/.prettierrc.json
  sessions/js-unit-testing/demo-start/README.md
  sessions/js-unit-testing/demo-start/greet.js
  sessions/js-unit-testing/demo-start/index.js
  sessions/js-unit-testing/demo-start/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-unit-testing): add math functions challenge
  sessions/js-unit-testing/get-animal/README.md
  sessions/js-unit-testing/get-animal/index.js
  sessions/js-unit-testing/get-animal/index.test.js
  sessions/js-unit-testing/math-functions/.eslintrc.json
  sessions/js-unit-testing/math-functions/.gitignore
  sessions/js-unit-testing/math-functions/.prettierrc.json
  sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/index.js
  sessions/js-unit-testing/math-functions/package.json
Due: npx eslint --fix, npx prettier --write

feat(js-unit-testing): add people challenge
  sessions/js-unit-testing/math-functions/README.md
  sessions/js-unit-testing/math-functions/index.js
  sessions/js-unit-testing/people/.eslintrc.json
  sessions/js-unit-testing/people/.gitignore
  sessions/js-unit-testing/people/.prettierrc.json
  sessions/js-unit-testing/people/README.md
  sessions/js-unit-testing/people/index.js
  sessions/js-unit-testing/people/index.test.js
  sessions/js-unit-testing/people/package.json
Due: npx eslint --fix, npx prettier --write

feat: add treasure hunt challenge to web-exercises
  sessions/shell-basics/treasure-hunt/README.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/barrel.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/note-in-a-bottle.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/underwater-cave.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/shipwreck.md
  sessions/shell-basics/treasure-hunt/treasure-island/cliffs/nest.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/deep-forest/very-deep-forest/ruins/temple/.secret-door/tunnel/chest.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/deep-forest/very-deep-forest/ruins/temple/altar.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/deep-forest/very-deep-forest/ruins/tower/old-door.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/old-tree.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/river-bed/mountain-path/cave-camp/piece-of-paper-on-table.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/river-bed/mountain-path/cave-camp/skeleton.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/river-bed/mountain-path/mountain-peak/viewpoint.md
Due: npx prettier --write

feat: add treasure hunt challenge to web-exercises (#126)
  sessions/shell-basics/treasure-hunt/README.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/barrel.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/note-in-a-bottle.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/cave/underwater-cave.md
  sessions/shell-basics/treasure-hunt/treasure-island/beach/shipwreck.md
  sessions/shell-basics/treasure-hunt/treasure-island/cliffs/nest.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/deep-forest/very-deep-forest/ruins/temple/.secret-door/tunnel/chest.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/deep-forest/very-deep-forest/ruins/temple/altar.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/deep-forest/very-deep-forest/ruins/tower/old-door.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/old-tree.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/river-bed/mountain-path/cave-camp/piece-of-paper-on-table.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/river-bed/mountain-path/cave-camp/skeleton.md
  sessions/shell-basics/treasure-hunt/treasure-island/forest/meadow/river-bed/mountain-path/mountain-peak/viewpoint.md
Due: npx prettier --write

fix: add package.json to treasure hunt
  sessions/shell-basics/treasure-hunt/package.json
Due: npx prettier --write

WIP
  templates/html-css-js/sandbox.config.json
  templates/js/sandbox.config.json
  templates/react-minimal/sandbox.config.json
Due: npx prettier --write

WIP
  .eslintrc.json
  migrate.js
  package-lock.json
  package.json
  sessions/css-animations/demo-end/js/index.js
  sessions/html-forms/personal-profile-form-end/.eslintrc.json
  sessions/html-forms/personal-profile-form-end/.prettierrc.json
  sessions/html-forms/personal-profile-form-end/README.md
  sessions/html-forms/personal-profile-form-end/css/styles.css
  sessions/html-forms/personal-profile-form-end/images/final_result.png
  sessions/html-forms/personal-profile-form-end/index.html
  sessions/html-forms/personal-profile-form-end/package.json
  sessions/html-forms/personal-profile-form-end/sandbox.config.json
  sessions/html-forms/personal-profile-form-start/.eslintrc.json
  sessions/html-forms/personal-profile-form-start/.prettierrc.json
  sessions/html-forms/personal-profile-form-start/README.md
  sessions/html-forms/personal-profile-form-start/css/styles.css
  sessions/html-forms/personal-profile-form-start/images/final_result.png
  sessions/html-forms/personal-profile-form-start/index.html
  sessions/html-forms/personal-profile-form-start/package.json
  sessions/html-forms/personal-profile-form-start/sandbox.config.json
  templates/html-css-js-static/package.json
Due: npx eslint --fix, npx prettier --write

WIP
  migrate.js
  sessions/js-array-methods-2/animal-objects/package.json
  sessions/js-array-methods-2/animal-strings/package.json
  sessions/js-array-methods/filter/package.json
  sessions/js-array-methods/map/package.json
  sessions/js-array-methods/repetition/package.json
  sessions/js-modern-syntax/destructuring-arrays/package.json
  sessions/js-modern-syntax/destructuring-objects/package.json
  sessions/js-modern-syntax/rest-and-spread/package.json
  sessions/js-objects-and-arrays/arrays/package.json
  sessions/js-objects-and-arrays/objects-and-arrays/package.json
  sessions/js-objects-and-arrays/objects/package.json
  sessions/js-structure/spacerocket/package.json
  templates/html-css-js-static/package.json
  templates/html-css-js/package.json
  templates/js/package.json
Due: npx eslint --fix, npx prettier --write

WIP
  docs/resources/branch-naming-convention.png
  docs/resources/choose-branch-github.png
  docs/resources/codesandbox-create.png
  docs/resources/codesandbox-exercise-and-solutions.png
  docs/resources/codesandbox-export.png
  docs/resources/codesandbox-from-github.png
  docs/resources/generate-codesandbox-from-github.png
  docs/resources/generate-githubbox.png
  docs/resources/generated-githubbox-done.png
  docs/resources/github-branch-url.png
  docs/resources/github-project-url.png
  docs/resources/import-exercise-to-codesandbox.png
  docs/resources/import-project-to-codesandbox.png
  docs/resources/run_script_vsc.png
Due: none

WIP
  .gitignore
  README.md
  package-lock.json
  package.json
  scripts/create.js
  sessions/overhaul/cra-test/.gitignore
  sessions/overhaul/cra-test/README.md
  sessions/overhaul/cra-test/package-lock.json
  sessions/overhaul/cra-test/package.json
  sessions/overhaul/cra-test/public/favicon.ico
  sessions/overhaul/cra-test/public/index.html
  sessions/overhaul/cra-test/public/logo192.png
  sessions/overhaul/cra-test/public/logo512.png
  sessions/overhaul/cra-test/public/manifest.json
  sessions/overhaul/cra-test/public/robots.txt
  sessions/overhaul/cra-test/sandbox.config.json
  sessions/overhaul/cra-test/src/App.css
  sessions/overhaul/cra-test/src/App.js
  sessions/overhaul/cra-test/src/App.test.js
  sessions/overhaul/cra-test/src/index.css
  sessions/overhaul/cra-test/src/index.js
  sessions/overhaul/cra-test/src/logo.svg
  sessions/overhaul/cra-test/src/reportWebVitals.js
  sessions/overhaul/cra-test/src/setupTests.js
  templates/empty/README.md
  templates/empty/package.json
  templates/empty/sandbox.config.json
  templates/js/README.md
  templates/next-js/.gitkeep
Due: npx eslint --fix, npx prettier --write

WIP
  README.md
  docs/resources/branch-naming-convention.png
  docs/resources/choose-branch-github.png
  docs/resources/codesandbox-create.png
  docs/resources/codesandbox-exercise-and-solutions.png
  docs/resources/codesandbox-export.png
  docs/resources/codesandbox-from-github.png
  docs/resources/generate-codesandbox-from-github.png
  docs/resources/generate-githubbox.png
  docs/resources/generated-githubbox-done.png
  docs/resources/github-branch-url.png
  docs/resources/github-project-url.png
  docs/resources/import-exercise-to-codesandbox.png
  docs/resources/import-project-to-codesandbox.png
  docs/resources/run_script_vsc.png
  scripts/create.js
  sessions/overhaul/cra-test/.gitignore
  sessions/overhaul/cra-test/README.md
  sessions/overhaul/cra-test/package-lock.json
  sessions/overhaul/cra-test/package.json
  sessions/overhaul/cra-test/public/favicon.ico
  sessions/overhaul/cra-test/public/index.html
  sessions/overhaul/cra-test/public/logo192.png
  sessions/overhaul/cra-test/public/logo512.png
  sessions/overhaul/cra-test/public/manifest.json
  sessions/overhaul/cra-test/public/robots.txt
  sessions/overhaul/cra-test/sandbox.config.json
  sessions/overhaul/cra-test/src/App.css
  sessions/overhaul/cra-test/src/App.js
  sessions/overhaul/cra-test/src/App.test.js
  sessions/overhaul/cra-test/src/index.css
  sessions/overhaul/cra-test/src/index.js
  sessions/overhaul/cra-test/src/logo.svg
  sessions/overhaul/cra-test/src/reportWebVitals.js
  sessions/overhaul/cra-test/src/setupTests.js
Due: npx eslint --fix, npx prettier --write

fix cra pkg names
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

WIP
  README.md
Due: npx prettier --write

WIP
  scripts/migrate.js
  templates/html-css-js/package.json
  templates/js/package.json
Due: npx eslint --fix, npx prettier --write

WIP
  sessions/js-array-methods/spa-1/.eslintrc.json
  sessions/js-array-methods/spa-1/.prettierrc.json
  sessions/js-array-methods/spa-1/README.md
  sessions/js-array-methods/spa-1/css/styles.css
  sessions/js-array-methods/spa-1/index.html
  sessions/js-array-methods/spa-1/js/index.js
  sessions/js-array-methods/spa-1/package.json
  sessions/js-array-methods/spa-1/sandbox.config.json
  sessions/js-array-methods/spa-2/.eslintrc.json
  sessions/js-array-methods/spa-2/.prettierrc.json
  sessions/js-array-methods/spa-2/README.md
  sessions/js-array-methods/spa-2/css/styles.css
  sessions/js-array-methods/spa-2/index.html
  sessions/js-array-methods/spa-2/js/index.js
  sessions/js-array-methods/spa-2/package.json
  sessions/js-array-methods/spa-2/sandbox.config.json
  sessions/js-array-methods/spa-3/.eslintrc.json
  sessions/js-array-methods/spa-3/.prettierrc.json
  sessions/js-array-methods/spa-3/README.md
  sessions/js-array-methods/spa-3/css/styles.css
  sessions/js-array-methods/spa-3/index.html
  sessions/js-array-methods/spa-3/js/index.js
  sessions/js-array-methods/spa-3/package.json
  sessions/js-array-methods/spa-3/sandbox.config.json
  sessions/js-array-methods/spa/spa_01/.eslintrc.json
  sessions/js-array-methods/spa/spa_01/package.json
  sessions/js-array-methods/spa/spa_02/.eslintrc.json
  sessions/js-array-methods/spa/spa_02/package.json
  sessions/js-array-methods/spa/spa_03/.eslintrc.json
  sessions/js-array-methods/spa/spa_03/package.json
Due: npx eslint --fix, npx prettier --write

WIP
  sessions/example/exercise-01/.eslintrc.json
  sessions/example/exercise-01/.prettierrc.json
  sessions/example/exercise-01/index.js
  sessions/example/exercise-01/package.json
  sessions/example/exercise-01/sandbox.config.json
  sessions/example/exercise-02/.eslintrc.json
  sessions/example/exercise-02/.prettierrc.json
  sessions/example/exercise-02/index.js
  sessions/example/exercise-02/package.json
  sessions/example/exercise-02/sandbox.config.json
  sessions/shell-basics/treasure-hunt/package.json
  sessions/test-session/test-exercise/.DS_Store
Due: npx eslint --fix, npx prettier --write

WIP
  scripts/migrate.js
  sessions/shell-basics/treasure-hunt/package.json
  sessions/shell-basics/treasure-hunt/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

WIP
  package-lock.json
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

WIP
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

fix file name case
  sessions/html-forms/zoo/README.md
Due: npx prettier --write

WIP
  README.md
  scripts/create.js
Due: npx eslint --fix, npx prettier --write

WIP
  scripts/create.js
  templates/html-css-js-static/README.md
  templates/html-css-js/README.md
  templates/html-css-static/README.md
  templates/js/README.md
  templates/react-minimal/README.md
Due: npx eslint --fix, npx prettier --write

WIP
  scripts/create.js
  scripts/migrate.js
  templates/html-css-js-static/README.md
  templates/html-css-js/README.md
  templates/html-css-static/README.md
  templates/js/README.md
  templates/react-minimal/README.md
Due: npx eslint --fix, npx prettier --write

WIP
  scripts/migrate.js
Due: npx eslint --fix, npx prettier --write
