Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

update introduction import path and update resource installation guide (#350)
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

Add solutions for React Basics
  sessions/react-basics/attributes_solution/.eslintrc.json
  sessions/react-basics/attributes_solution/.gitignore
  sessions/react-basics/attributes_solution/.prettierrc.json
  sessions/react-basics/attributes_solution/README.md
  sessions/react-basics/attributes_solution/package.json
  sessions/react-basics/attributes_solution/public/index.html
  sessions/react-basics/attributes_solution/sandbox.config.json
  sessions/react-basics/attributes_solution/src/App.js
  sessions/react-basics/attributes_solution/src/index.js
  sessions/react-basics/attributes_solution/src/styles.css
  sessions/react-basics/hello-world-article_solution/.eslintrc.json
  sessions/react-basics/hello-world-article_solution/.gitignore
  sessions/react-basics/hello-world-article_solution/.prettierrc.json
  sessions/react-basics/hello-world-article_solution/README.md
  sessions/react-basics/hello-world-article_solution/package.json
  sessions/react-basics/hello-world-article_solution/public/index.html
  sessions/react-basics/hello-world-article_solution/sandbox.config.json
  sessions/react-basics/hello-world-article_solution/src/App.js
  sessions/react-basics/hello-world-article_solution/src/index.js
  sessions/react-basics/hello-world-article_solution/src/styles.css
  sessions/react-basics/hello-world_solution/.eslintrc.json
  sessions/react-basics/hello-world_solution/.gitignore
  sessions/react-basics/hello-world_solution/.prettierrc.json
  sessions/react-basics/hello-world_solution/README.md
  sessions/react-basics/hello-world_solution/package.json
  sessions/react-basics/hello-world_solution/public/index.html
  sessions/react-basics/hello-world_solution/sandbox.config.json
  sessions/react-basics/hello-world_solution/src/App.js
  sessions/react-basics/hello-world_solution/src/index.js
  sessions/react-basics/hello-world_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

Add solutions React State 1
  sessions/react-state-1/box-solution/.eslintrc.json
  sessions/react-state-1/box-solution/.gitignore
  sessions/react-state-1/box-solution/.prettierrc.json
  sessions/react-state-1/box-solution/README.md
  sessions/react-state-1/box-solution/package.json
  sessions/react-state-1/box-solution/public/index.html
  sessions/react-state-1/box-solution/sandbox.config.json
  sessions/react-state-1/box-solution/src/App.js
  sessions/react-state-1/box-solution/src/index.js
  sessions/react-state-1/box-solution/src/styles.css
  sessions/react-state-1/counter-solution/.eslintrc.json
  sessions/react-state-1/counter-solution/.gitignore
  sessions/react-state-1/counter-solution/.prettierrc.json
  sessions/react-state-1/counter-solution/README.md
  sessions/react-state-1/counter-solution/package.json
  sessions/react-state-1/counter-solution/public/index.html
  sessions/react-state-1/counter-solution/sandbox.config.json
  sessions/react-state-1/counter-solution/src/App.js
  sessions/react-state-1/counter-solution/src/index.js
  sessions/react-state-1/counter-solution/src/styles.css
  sessions/react-state-1/emoji-checker_solution/.eslintrc.json
  sessions/react-state-1/emoji-checker_solution/.gitignore
  sessions/react-state-1/emoji-checker_solution/.prettierrc.json
  sessions/react-state-1/emoji-checker_solution/README.md
  sessions/react-state-1/emoji-checker_solution/package.json
  sessions/react-state-1/emoji-checker_solution/public/index.html
  sessions/react-state-1/emoji-checker_solution/sandbox.config.json
  sessions/react-state-1/emoji-checker_solution/src/App.js
  sessions/react-state-1/emoji-checker_solution/src/index.js
  sessions/react-state-1/emoji-checker_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

fix: update personal website challenge
  sessions/html-and-the-web/personal-website/README.md
  sessions/html-and-the-web/personal-website/index.html
Due: npx prettier --write

feat: add vscode help for working with html
  sessions/html-and-the-web/personal-website/README.md
  sessions/html-and-the-web/personal-website/assets/live-preview-1.png
  sessions/html-and-the-web/personal-website/assets/live-preview-2.png
Due: npx prettier --write

Draft frontend crud recap.
  sessions/frontend-recap/.eslintrc.json
  sessions/frontend-recap/.gitignore
  sessions/frontend-recap/README.md
  sessions/frontend-recap/components/Album.js
  sessions/frontend-recap/components/Album.module.css
  sessions/frontend-recap/components/AlbumList.js
  sessions/frontend-recap/components/AlbumList.module.css
  sessions/frontend-recap/components/Footer.js
  sessions/frontend-recap/components/Footer.module.css
  sessions/frontend-recap/components/Form.js
  sessions/frontend-recap/components/Form.module.css
  sessions/frontend-recap/components/Nav.js
  sessions/frontend-recap/components/Nav.module.css
  sessions/frontend-recap/data.json
  sessions/frontend-recap/jsconfig.json
  sessions/frontend-recap/next.config.js
  sessions/frontend-recap/package-lock.json
  sessions/frontend-recap/package.json
  sessions/frontend-recap/pages/_app.js
  sessions/frontend-recap/pages/albums/[id].js
  sessions/frontend-recap/pages/albums/[id].module.css
  sessions/frontend-recap/pages/albums/[id]/edit.js
  sessions/frontend-recap/pages/albums/new.js
  sessions/frontend-recap/pages/favorites.js
  sessions/frontend-recap/pages/index.js
  sessions/frontend-recap/public/hello.txt
  sessions/frontend-recap/styles/global.css
Due: npx eslint --fix, npx prettier --write

Fixes
  sessions/frontend-recap/data.json
  sessions/frontend-recap/pages/albums/[id].js
  sessions/frontend-recap/pages/albums/[id]/edit.js
  sessions/frontend-recap/pages/favorites.js
Due: npx eslint --fix, npx prettier --write

Add README
  sessions/frontend-recap/README.md
Due: npx prettier --write

Add installation instructions
  sessions/frontend-recap/demo/README.md
  sessions/frontend-recap/template/README.md
Due: npx prettier --write

fix: remove codesandbox from template
  templates/next/README.md
Due: npx prettier --write

fix: add demo-render
  sessions/react-basics/demo-render/.eslintrc.json
  sessions/react-basics/demo-render/.gitignore
  sessions/react-basics/demo-render/.prettierrc.json
  sessions/react-basics/demo-render/README.md
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/demo-render/public/index.html
  sessions/react-basics/demo-render/public/styles.css
  sessions/react-basics/demo-render/src/index.js
Due: npx eslint --fix, npx prettier --write

migrated challenge attributes
  sessions/react-basics/attributes/.eslintrc.cjs
  sessions/react-basics/attributes/.eslintrc.json
  sessions/react-basics/attributes/README.md
  sessions/react-basics/attributes/index.html
  sessions/react-basics/attributes/package.json
  sessions/react-basics/attributes/src/App.css
  sessions/react-basics/attributes/src/App.jsx
  sessions/react-basics/attributes/src/index.jsx
  sessions/react-basics/attributes/vite.config.js
Due: npx eslint --fix, npx prettier --write

mirate to vite from create react app
  package-lock.json
  sessions/react-basics/hello-world/.eslintrc.cjs
  sessions/react-basics/hello-world/.eslintrc.json
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/index.html
  sessions/react-basics/hello-world/package.json
  sessions/react-basics/hello-world/src/App.css
  sessions/react-basics/hello-world/src/App.jsx
  sessions/react-basics/hello-world/src/index.jsx
  sessions/react-basics/hello-world/vite.config.js
Due: npx eslint --fix, npx prettier --write

migration to vite
  package-lock.json
  sessions/react-basics/hello-world-article/.eslintrc.cjs
  sessions/react-basics/hello-world-article/.eslintrc.json
  sessions/react-basics/hello-world-article/README.md
  sessions/react-basics/hello-world-article/index.html
  sessions/react-basics/hello-world-article/package.json
  sessions/react-basics/hello-world-article/src/App.css
  sessions/react-basics/hello-world-article/src/App.jsx
  sessions/react-basics/hello-world-article/src/index.jsx
  sessions/react-basics/hello-world-article/src/styles.css
  sessions/react-basics/hello-world-article/vite.config.js
Due: npx eslint --fix, npx prettier --write

change scritp from start to dev
  sessions/react-basics/hello-world/README.md
  sessions/react-basics/hello-world/package.json
Due: npx prettier --write

demo migration to vite
  sessions/react-basics/demo-render/.eslintrc.cjs
  sessions/react-basics/demo-render/.eslintrc.json
  sessions/react-basics/demo-render/README.md
  sessions/react-basics/demo-render/index.html
  sessions/react-basics/demo-render/package.json
  sessions/react-basics/demo-render/src/index.css
  sessions/react-basics/demo-render/src/index.jsx
  sessions/react-basics/demo-render/vite.config.js
Due: npx eslint --fix, npx prettier --write

npm run start to dev
  sessions/react-basics/attributes/README.md
  sessions/react-basics/attributes/package.json
Due: npx prettier --write

add html lang attribute
  sessions/html-and-the-web/div-salad/index.html
Due: none

Update package-lock.json
  package-lock.json
Due: npx prettier --write

add dependencies in package.json
  sessions/react-props/box-with-props/package.json
Due: npx prettier --write

fix typo in package.json and add eslint
  sessions/react-props/box-with-props/.eslintrc.cjs
  sessions/react-props/box-with-props/package.json
Due: npx prettier --write

create vite config file
  sessions/react-props/box-with-props/vite.config.js
Due: npx eslint --fix, npx prettier --write

rename files js to jsx
  sessions/react-props/box-with-props/src/App.css
  sessions/react-props/box-with-props/src/App.jsx
  sessions/react-props/box-with-props/src/components/Box.jsx
  sessions/react-props/box-with-props/src/index.jsx
Due: npx eslint --fix, npx prettier --write

change html location, add favicon and change title
  sessions/react-props/box-with-props/index.html
  sessions/react-props/box-with-props/public/favicon.ico
  sessions/react-props/box-with-props/public/index.html
Due: none

update readme to changes start to dev
  sessions/react-props/box-with-props/README.md
Due: npx prettier --write

add new and delete dependencies, change scripts in package.json
  sessions/react-props/button/package.json
Due: npx prettier --write

add eslint config file and delete old one
  sessions/react-props/button/.eslintrc.cjs
  sessions/react-props/button/.eslintrc.json
Due: npx prettier --write

change component extentions from js to jsx, rename app css file
  sessions/react-props/button/src/App.css
  sessions/react-props/button/src/App.jsx
  sessions/react-props/button/src/index.jsx
Due: npx eslint --fix, npx prettier --write

change location index.html and add favicon
  sessions/react-props/button/index.html
  sessions/react-props/button/public/favicon.ico
Due: none

add vit config file
  sessions/react-props/button/vite.config.js
Due: npx eslint --fix, npx prettier --write

fix favicon href
  sessions/react-props/button/index.html
Due: none

update readme to changes
  sessions/react-props/button/README.md
Due: npx prettier --write

add and remove packages in packages.json
  sessions/react-props/greeting/package.json
Due: npx prettier --write

delete and add new file regarding eslint
  sessions/react-props/greeting/.eslintrc.cjs
  sessions/react-props/greeting/.eslintrc.json
Due: npx prettier --write
