Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

feat: update demo to use component like structure independent of HTML
  sessions/js-structure/demo-end/.eslintrc.json
  sessions/js-structure/demo-end/components/Card/Card.css
  sessions/js-structure/demo-end/components/Card/Card.js
  sessions/js-structure/demo-end/components/Header/Header.css
  sessions/js-structure/demo-end/components/Header/Header.js
  sessions/js-structure/demo-end/css/components/classical-authors.css
  sessions/js-structure/demo-end/css/styles.css
  sessions/js-structure/demo-end/index.html
  sessions/js-structure/demo-end/index.js
  sessions/js-structure/demo-end/js/Authors.js
  sessions/js-structure/demo-end/js/Card.js
  sessions/js-structure/demo-end/js/Header.js
  sessions/js-structure/demo-end/js/index.js
  sessions/js-structure/demo-end/js/utils/authors.js
  sessions/js-structure/demo-end/js/utils/words.js
  sessions/js-structure/demo-end/styles.css
  sessions/js-structure/demo-end/styles/globals.css
  sessions/js-structure/demo-end/utils/authors.js
  sessions/js-structure/demo-end/utils/cipher.js
  sessions/js-structure/demo-start/.eslintrc.json
  sessions/js-structure/demo-start/components/Card/Card.css
  sessions/js-structure/demo-start/components/Header/Header.css
  sessions/js-structure/demo-start/css/components/classical-authors.css
  sessions/js-structure/demo-start/css/styles.css
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/index.js
  sessions/js-structure/demo-start/js/index.js
  sessions/js-structure/demo-start/package.json
  sessions/js-structure/demo-start/styles.css
  sessions/js-structure/demo-start/styles/globals.css
Due: npx eslint --fix, npx prettier --write

fix: remove type module from starter
  sessions/js-structure/demo-start/index.html
Due: none

fix: header function
  sessions/js-structure/demo-end/components/Header/Header.js
Due: npx eslint --fix, npx prettier --write

refactor(array-methods-2-demo): reduce and reverse
  sessions/js-array-methods-2/demo-end/js/index.js
  sessions/js-array-methods-2/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

feat(array-methods-2): add news flash challenge
  sessions/js-array-methods-2/news-flash/.eslintrc.json
  sessions/js-array-methods-2/news-flash/.prettierrc.json
  sessions/js-array-methods-2/news-flash/.stylelintrc.json
  sessions/js-array-methods-2/news-flash/README.md
  sessions/js-array-methods-2/news-flash/components/Card/Card.css
  sessions/js-array-methods-2/news-flash/components/Card/Card.js
  sessions/js-array-methods-2/news-flash/css/globals.css
  sessions/js-array-methods-2/news-flash/index.html
  sessions/js-array-methods-2/news-flash/index.js
  sessions/js-array-methods-2/news-flash/package.json
  sessions/js-array-methods-2/news-flash/sandbox.config.json
  sessions/js-array-methods-2/news-flash/styles.css
  sessions/js-array-methods-2/news-flash/utils/news.js
Due: npx eslint --fix, npx prettier --write

feat: add fun with flags challange
  sessions/js-array-methods-2/fun-with-flags/.eslintrc.json
  sessions/js-array-methods-2/fun-with-flags/.prettierrc.json
  sessions/js-array-methods-2/fun-with-flags/.stylelintrc.json
  sessions/js-array-methods-2/fun-with-flags/README.md
  sessions/js-array-methods-2/fun-with-flags/components/Country/Country.css
  sessions/js-array-methods-2/fun-with-flags/components/Country/Country.js
  sessions/js-array-methods-2/fun-with-flags/index.html
  sessions/js-array-methods-2/fun-with-flags/index.js
  sessions/js-array-methods-2/fun-with-flags/package.json
  sessions/js-array-methods-2/fun-with-flags/sandbox.config.json
  sessions/js-array-methods-2/fun-with-flags/styles.css
  sessions/js-array-methods-2/fun-with-flags/styles/global.css
  sessions/js-array-methods-2/fun-with-flags/utils/countries.js
Due: npx eslint --fix, npx prettier --write

fix: fix path
  sessions/js-array-methods-2/fun-with-flags/README.md
Due: npx prettier --write

Update sessions/js-array-methods-2/fun-with-flags/README.md
  sessions/js-array-methods-2/fun-with-flags/README.md
Due: npx prettier --write

feat(array-methods-2): Fun with Flags (#101)
  sessions/js-array-methods-2/fun-with-flags/.eslintrc.json
  sessions/js-array-methods-2/fun-with-flags/.prettierrc.json
  sessions/js-array-methods-2/fun-with-flags/.stylelintrc.json
  sessions/js-array-methods-2/fun-with-flags/README.md
  sessions/js-array-methods-2/fun-with-flags/components/Country/Country.css
  sessions/js-array-methods-2/fun-with-flags/components/Country/Country.js
  sessions/js-array-methods-2/fun-with-flags/index.html
  sessions/js-array-methods-2/fun-with-flags/index.js
  sessions/js-array-methods-2/fun-with-flags/package.json
  sessions/js-array-methods-2/fun-with-flags/sandbox.config.json
  sessions/js-array-methods-2/fun-with-flags/styles.css
  sessions/js-array-methods-2/fun-with-flags/styles/global.css
  sessions/js-array-methods-2/fun-with-flags/utils/countries.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-structure/spacerocket/index.html
  sessions/js-structure/spacerocket/index.html
Due: none

Update sessions/css-basics/social-card/index.html
  sessions/css-basics/social-card/index.html
Due: none

Update README.md
  sessions/css-basics/social-card/README.md
Due: npx prettier --write

fix(css): improved exericse (#53)
  sessions/css-basics/social-card/.eslintrc.json
  sessions/css-basics/social-card/.prettierrc.json
  sessions/css-basics/social-card/.stylelintrc.json
  sessions/css-basics/social-card/README.md
  sessions/css-basics/social-card/assets/arrow_right_circle_icon_128948.svg
  sessions/css-basics/social-card/assets/social-card.png
  sessions/css-basics/social-card/css/styles.css
  sessions/css-basics/social-card/index.html
Due: npx prettier --write

feat/js-array-methods/spa-challenge (#90)
  sessions/js-array-methods/spa/spa_01/.eslintrc.json
  sessions/js-array-methods/spa/spa_01/.prettierrc.json
  sessions/js-array-methods/spa/spa_01/.stylelintrc.json
  sessions/js-array-methods/spa/spa_01/README.md
  sessions/js-array-methods/spa/spa_01/css/styles.css
  sessions/js-array-methods/spa/spa_01/index.html
  sessions/js-array-methods/spa/spa_01/js/index.js
  sessions/js-array-methods/spa/spa_01/package.json
  sessions/js-array-methods/spa/spa_01/sandbox.config.json
  sessions/js-array-methods/spa/spa_02/.eslintrc.json
  sessions/js-array-methods/spa/spa_02/.prettierrc.json
  sessions/js-array-methods/spa/spa_02/.stylelintrc.json
  sessions/js-array-methods/spa/spa_02/README.md
  sessions/js-array-methods/spa/spa_02/css/styles.css
  sessions/js-array-methods/spa/spa_02/index.html
  sessions/js-array-methods/spa/spa_02/js/index.js
  sessions/js-array-methods/spa/spa_02/package.json
  sessions/js-array-methods/spa/spa_02/sandbox.config.json
  sessions/js-array-methods/spa/spa_03/.eslintrc.json
  sessions/js-array-methods/spa/spa_03/.prettierrc.json
  sessions/js-array-methods/spa/spa_03/.stylelintrc.json
  sessions/js-array-methods/spa/spa_03/README.md
  sessions/js-array-methods/spa/spa_03/css/styles.css
  sessions/js-array-methods/spa/spa_03/index.html
  sessions/js-array-methods/spa/spa_03/js/index.js
  sessions/js-array-methods/spa/spa_03/package.json
  sessions/js-array-methods/spa/spa_03/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

JS Structure SpaceRocket Challenge (#93)
  package-lock.json
  sessions/js-structure/spacerocket/.eslintrc.json
  sessions/js-structure/spacerocket/.prettierrc.json
  sessions/js-structure/spacerocket/.stylelintrc.json
  sessions/js-structure/spacerocket/README.md
  sessions/js-structure/spacerocket/assets/FISHSAT.svg
  sessions/js-structure/spacerocket/assets/NFSAT.svg
  sessions/js-structure/spacerocket/assets/burn.svg
  sessions/js-structure/spacerocket/assets/rocket.svg
  sessions/js-structure/spacerocket/css/styles.css
  sessions/js-structure/spacerocket/index.html
  sessions/js-structure/spacerocket/js/controls.js
  sessions/js-structure/spacerocket/js/core/countdown.js
  sessions/js-structure/spacerocket/js/core/deploy.js
  sessions/js-structure/spacerocket/js/core/fuel.js
  sessions/js-structure/spacerocket/js/core/liftoff.js
  sessions/js-structure/spacerocket/js/core/load.js
  sessions/js-structure/spacerocket/js/core/protocol.js
  sessions/js-structure/spacerocket/js/core/rocket.js
  sessions/js-structure/spacerocket/js/index.js
  sessions/js-structure/spacerocket/js/launchSequence.js
  sessions/js-structure/spacerocket/js/launchSequence.test.js
  sessions/js-structure/spacerocket/js/payload/satellites.js
  sessions/js-structure/spacerocket/js/visual/render.js
  sessions/js-structure/spacerocket/package.json
  sessions/js-structure/spacerocket/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Feature/css animations demo: update demo code (#99)
  sessions/css-animations/demo-end/css/styles.css
  sessions/css-animations/demo-end/index.html
  sessions/css-animations/demo-start/css/styles.css
  sessions/css-animations/demo-start/index.html
Due: none

chore: restructured js-loops/demo-start to adhere to template
  sessions/js-loops/demo-start/.gitignore
  sessions/js-loops/demo-start/.prettierrc.json
  sessions/js-loops/demo-start/README.md
  sessions/js-loops/demo-start/index.js
  sessions/js-loops/demo-start/package.json
  sessions/js-loops/demo-start/public/favicon.ico
  sessions/js-loops/demo-start/public/index.html
  sessions/js-loops/demo-start/public/manifest.json
  sessions/js-loops/demo-start/src/package.json
Due: npx eslint --fix, npx prettier --write

chore: restructured js-loops/demo-end to adhere to template
  sessions/js-loops/demo-end/.gitignore
  sessions/js-loops/demo-end/.prettierrc.json
  sessions/js-loops/demo-end/README.md
  sessions/js-loops/demo-end/index.js
  sessions/js-loops/demo-end/package.json
  sessions/js-loops/demo-end/public/favicon.ico
  sessions/js-loops/demo-end/public/index.html
  sessions/js-loops/demo-end/public/manifest.json
  sessions/js-loops/demo-end/src/package.json
Due: npx eslint --fix, npx prettier --write

chore: restructured js-functions-2/basic-calculations to adhere to template
  sessions/js-functions-2/basic-calculations/.gitignore
  sessions/js-functions-2/basic-calculations/.prettierrc.json
  sessions/js-functions-2/basic-calculations/README.md
  sessions/js-functions-2/basic-calculations/index.js
  sessions/js-functions-2/basic-calculations/package.json
  sessions/js-functions-2/basic-calculations/public/favicon.ico
  sessions/js-functions-2/basic-calculations/public/index.html
  sessions/js-functions-2/basic-calculations/public/manifest.json
  sessions/js-functions-2/basic-calculations/src/.eslintrc.json
  sessions/js-functions-2/basic-calculations/src/createServiceWorker.js
  sessions/js-functions-2/basic-calculations/src/package.json
Due: npx eslint --fix, npx prettier --write

chore: ran `npm run audit fix`
  package-lock.json
Due: npx prettier --write

chore: bumped `serve` version in some examples
  package-lock.json
  sessions/css-basics/shapes/package.json
  sessions/css-flexbox/navigation/package.json
  sessions/css-flexbox/profile/package.json
Due: npx prettier --write

chore: deleted useless README
  sessions/js-functions-2/basic-calculations/README.md
Due: npx prettier --write

feat(js-structure-demo): add character count
  sessions/js-structure/demo-start/components/form/form.css
  sessions/js-structure/demo-start/form.html
  sessions/js-structure/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add toggle functionality
  sessions/js-structure/demo-start/bookmarks.html
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add sandbox config file
  sessions/js-structure/demo-start/sandbox.config.json
Due: npx prettier --write

feat(js-structure): update quiz app challenge according to review
  sessions/js-structure/quiz-app/README.md
  sessions/js-structure/quiz-app/bookmarks.html
  sessions/js-structure/quiz-app/components/bookmark/bookmark.css
  sessions/js-structure/quiz-app/components/card-list/card-list.css
  sessions/js-structure/quiz-app/components/card/card.css
  sessions/js-structure/quiz-app/components/form/form.css
  sessions/js-structure/quiz-app/components/header/header.css
  sessions/js-structure/quiz-app/components/profile/profile.css
  sessions/js-structure/quiz-app/form.html
  sessions/js-structure/quiz-app/global.css
  sessions/js-structure/quiz-app/index.html
  sessions/js-structure/quiz-app/profile.html
Due: npx prettier --write

feat(js-structure): add first draft of demo
  sessions/js-structure/demo-start/bookmarks.html
  sessions/js-structure/demo-start/components/bookmark/bookmark.css
  sessions/js-structure/demo-start/components/card-list/card-list.css
  sessions/js-structure/demo-start/components/card/card.css
  sessions/js-structure/demo-start/components/counter-list/counter-list.css
  sessions/js-structure/demo-start/components/header/header.css
  sessions/js-structure/demo-start/components/navigation/navigation.css
  sessions/js-structure/demo-start/components/profile/profile.css
  sessions/js-structure/demo-start/global.css
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/index.js
  sessions/js-structure/demo-start/package.json
  sessions/js-structure/demo-start/profile.html
  sessions/js-structure/demo-start/styles.css
Due: npx eslint --fix, npx prettier --write

feat(js-structure): delete font-size variables from quiz app challenge
  sessions/js-structure/quiz-app/components/profile/profile.css
  sessions/js-structure/quiz-app/global.css
Due: none

feat(js-structure-demo): add create card function
  sessions/js-structure/demo-start/components/bookmark/bookmark.css
  sessions/js-structure/demo-start/components/form/form.css
  sessions/js-structure/demo-start/form.html
  sessions/js-structure/demo-start/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-structure-demo): add basic form page
  sessions/js-structure/demo-start/components/form/form.css
  sessions/js-structure/demo-start/form.html
  sessions/js-structure/demo-start/global.css
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/demo-start/profile.html
  sessions/js-structure/demo-start/styles.css
Due: none

feat(js-structure): add readme for quiz-app challenge
  sessions/js-structure/quiz-app/README.md
  sessions/js-structure/quiz-app/index.js
Due: npx eslint --fix, npx prettier --write

feat(js-structure): rename demo to quiz app challenge
  sessions/js-structure/quiz-app/bookmarks.html
  sessions/js-structure/quiz-app/components/bookmark/bookmark.css
  sessions/js-structure/quiz-app/components/card-list/card-list.css
  sessions/js-structure/quiz-app/components/card/card.css
  sessions/js-structure/quiz-app/components/counter-list/counter-list.css
  sessions/js-structure/quiz-app/components/form/form.css
  sessions/js-structure/quiz-app/components/header/header.css
  sessions/js-structure/quiz-app/components/navigation/navigation.css
  sessions/js-structure/quiz-app/components/profile/profile.css
  sessions/js-structure/quiz-app/form.html
  sessions/js-structure/quiz-app/global.css
  sessions/js-structure/quiz-app/index.html
  sessions/js-structure/quiz-app/index.js
  sessions/js-structure/quiz-app/package.json
  sessions/js-structure/quiz-app/profile.html
  sessions/js-structure/quiz-app/sandbox.config.json
  sessions/js-structure/quiz-app/styles.css
Due: npx eslint --fix, npx prettier --write

fix: adjust quiz app exercise to use new vanialla js components
  sessions/js-structure/quiz-app/.eslintrc.json
  sessions/js-structure/quiz-app/README.md
  sessions/js-structure/quiz-app/bookmarks.html
  sessions/js-structure/quiz-app/components/App/App.css
  sessions/js-structure/quiz-app/components/CardList/CardList.css
  sessions/js-structure/quiz-app/components/card/card.css
  sessions/js-structure/quiz-app/components/counter-list/counter-list.css
  sessions/js-structure/quiz-app/components/form/form.css
  sessions/js-structure/quiz-app/components/navigation/navigation.css
  sessions/js-structure/quiz-app/components/profile/profile.css
  sessions/js-structure/quiz-app/form.html
  sessions/js-structure/quiz-app/global.css
  sessions/js-structure/quiz-app/index.html
  sessions/js-structure/quiz-app/index.js
  sessions/js-structure/quiz-app/profile.html
  sessions/js-structure/quiz-app/styles.css
Due: npx eslint --fix, npx prettier --write

fix: rename files
  sessions/js-structure/quiz-app/components/Bookmark/Bookmark.css
  sessions/js-structure/quiz-app/components/Card/Card.css
  sessions/js-structure/quiz-app/components/Form/Form.css
  sessions/js-structure/quiz-app/components/Header/Header.css
Due: none

Update sessions/js-structure/quiz-app/global.css
  sessions/js-structure/quiz-app/global.css
Due: none

Update sessions/js-structure/quiz-app/index.js
  sessions/js-structure/quiz-app/index.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
