Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

fix: recover blocking demo for js fetch
  sessions/js-fetch/blocking-demo/.codesandbox/tasks.json
  sessions/js-fetch/blocking-demo/.eslintrc.json
  sessions/js-fetch/blocking-demo/.gitignore
  sessions/js-fetch/blocking-demo/README.md
  sessions/js-fetch/blocking-demo/css/styles.css
  sessions/js-fetch/blocking-demo/index.html
  sessions/js-fetch/blocking-demo/js/index.js
  sessions/js-fetch/blocking-demo/package.json
Due: npx eslint --fix, npx prettier --write

fix: rename files to match session
  sessions/js-fetch/blocking-demo/README.md
  sessions/js-fetch/blocking-demo/index.html
Due: npx prettier --write

fix: update package.json
  sessions/js-fetch/blocking-demo/.codesandbox/tasks.json
  sessions/js-fetch/blocking-demo/package.json
Due: npx prettier --write

Update README.md - fix typo
  sessions/backend-basics/chance/README.md
Due: npx prettier --write

Update README.md - remove mention of tests
  sessions/backend-basics/chance/README.md
Due: npx prettier --write

Update README.md - remove mention of tests
  sessions/backend-basics/greeting/README.md
Due: npx prettier --write

Update README.md - remove mention of tests
  sessions/backend-basics/routes/README.md
Due: npx prettier --write

fix: recover blocking demo for js fetch (#376)
  sessions/js-fetch/blocking-demo/.eslintrc.json
  sessions/js-fetch/blocking-demo/.gitignore
  sessions/js-fetch/blocking-demo/README.md
  sessions/js-fetch/blocking-demo/css/styles.css
  sessions/js-fetch/blocking-demo/index.html
  sessions/js-fetch/blocking-demo/js/index.js
  sessions/js-fetch/blocking-demo/package.json
Due: npx eslint --fix, npx prettier --write

adjust solution
  sessions/js-error-handling/fetch_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

adjust challenge
  sessions/js-error-handling/fetch/README.md
  sessions/js-error-handling/fetch/css/styles.css
  sessions/js-error-handling/fetch/index.html
  sessions/js-error-handling/fetch/js/index.js
Due: npx eslint --fix, npx prettier --write

adjust solution
  sessions/js-error-handling/fetch_solution/README.md
  sessions/js-error-handling/fetch_solution/css/styles.css
  sessions/js-error-handling/fetch_solution/index.html
  sessions/js-error-handling/fetch_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

new solution suggestion (#377)
  sessions/js-error-handling/fetch/README.md
  sessions/js-error-handling/fetch/css/styles.css
  sessions/js-error-handling/fetch/index.html
  sessions/js-error-handling/fetch/js/index.js
  sessions/js-error-handling/fetch_solution/README.md
  sessions/js-error-handling/fetch_solution/css/styles.css
  sessions/js-error-handling/fetch_solution/index.html
  sessions/js-error-handling/fetch_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Update index.html
  sessions/react-basics/demo-start/public/index.html
Due: none

Update index.html
  sessions/react-basics/demo-end/public/index.html
Due: none

simplify demo and data synchronisation
  sessions/react-data-fetching/demo-end/components/Joke/index.js
  sessions/react-data-fetching/demo-end/jest.config.js
  sessions/react-data-fetching/demo-end/jest.setup.js
  sessions/react-data-fetching/demo-end/pages/index.js
  sessions/react-data-fetching/demo-start/components/Joke/index.js
  sessions/react-data-fetching/demo-start/jest.config.js
  sessions/react-data-fetching/demo-start/jest.setup.js
  sessions/react-data-fetching/demo-start/pages/index.js
Due: npx eslint --fix, npx prettier --write

remove swrConfig from session
  sessions/react-data-fetching/demo-end/pages/_app.js
  sessions/react-data-fetching/demo-end/pages/index.js
Due: npx eslint --fix, npx prettier --write

remove funny button from demo start
  sessions/react-data-fetching/demo-start/pages/index.js
Due: npx eslint --fix, npx prettier --write

Fix/react data fetching (#378)
  sessions/react-data-fetching/demo-end/components/Joke/index.js
  sessions/react-data-fetching/demo-end/jest.config.js
  sessions/react-data-fetching/demo-end/jest.setup.js
  sessions/react-data-fetching/demo-end/pages/_app.js
  sessions/react-data-fetching/demo-end/pages/index.js
  sessions/react-data-fetching/demo-start/components/Joke/index.js
  sessions/react-data-fetching/demo-start/jest.config.js
  sessions/react-data-fetching/demo-start/jest.setup.js
  sessions/react-data-fetching/demo-start/pages/index.js
Due: npx eslint --fix, npx prettier --write

upadte solution, update reset button task description
  sessions/react-state-1/emoji-checker_solution/README.md
  sessions/react-state-1/emoji-checker_solution/src/App.js
Due: npx eslint --fix, npx prettier --write

Update Challenge Solution for Emoji Checker - react state 1 (#379)
  sessions/react-state-1/emoji-checker_solution/README.md
  sessions/react-state-1/emoji-checker_solution/src/App.js
Due: npx eslint --fix, npx prettier --write

standardized script tags and titles js-basics
  sessions/js-basics/console-methods/index.html
  sessions/js-basics/console-methods_solution/index.html
  sessions/js-basics/dark-mode/index.html
  sessions/js-basics/dark-mode_solution/index.html
  sessions/js-basics/survey-error-fixing/index.html
  sessions/js-basics/survey-error-fixing_solution/index.html
Due: none

standardized titles js-variables-and-numbers
  sessions/js-variables-and-numbers/simple-calculator/index.html
  sessions/js-variables-and-numbers/simple-calculator_solution/index.html
  sessions/js-variables-and-numbers/social-media-post/index.html
  sessions/js-variables-and-numbers/social-media-post_solution/index.html
Due: none

standardize script tags, subfolders and titles js-conditions-and-booleans
  sessions/js-conditions-and-booleans/demo-end/css/styles.css
  sessions/js-conditions-and-booleans/demo-end/index.html
  sessions/js-conditions-and-booleans/demo-end/js/index.js
  sessions/js-conditions-and-booleans/demo-start/css/styles.css
  sessions/js-conditions-and-booleans/demo-start/index.html
  sessions/js-conditions-and-booleans/demo-start/js/index.js
  sessions/js-conditions-and-booleans/statements/css/styles.css
  sessions/js-conditions-and-booleans/statements/index.html
  sessions/js-conditions-and-booleans/statements/js/index.js
  sessions/js-conditions-and-booleans/statements_solution/css/styles.css
  sessions/js-conditions-and-booleans/statements_solution/index.html
  sessions/js-conditions-and-booleans/statements_solution/js/index.js
  sessions/js-conditions-and-booleans/teenager-check/index.html
  sessions/js-conditions-and-booleans/teenager-check_solution/index.html
  sessions/js-conditions-and-booleans/truthy-and-falsy/index.html
Due: npx eslint --fix, npx prettier --write

standardize script tags, subfolders and titles js-functions-1
  sessions/js-functions-1/basic-functions/css/styles.css
  sessions/js-functions-1/basic-functions/index.html
  sessions/js-functions-1/basic-functions_solution/css/styles.css
  sessions/js-functions-1/basic-functions_solution/index.html
  sessions/js-functions-1/dom-manipulation/index.html
  sessions/js-functions-1/dom-manipulation_solution/index.html
  sessions/js-functions-1/functions-with-parameters-extra/css/styles.css
  sessions/js-functions-1/functions-with-parameters-extra/index.html
  sessions/js-functions-1/functions-with-parameters-extra_solution/css/styles.css
  sessions/js-functions-1/functions-with-parameters-extra_solution/index.html
  sessions/js-functions-1/functions-with-parameters/css/styles.css
  sessions/js-functions-1/functions-with-parameters/index.html
  sessions/js-functions-1/functions-with-parameters_solution/css/styles.css
  sessions/js-functions-1/functions-with-parameters_solution/index.html
  sessions/js-functions-1/pizza-analyzer/index.html
  sessions/js-functions-1/pizza-analyzer_solution/index.html
Due: none

standardize script tags, subfolders and titles js-functions-2
  sessions/js-functions-2/arrow-functions/index.html
  sessions/js-functions-2/arrow-functions_solution/css/styles.css
  sessions/js-functions-2/arrow-functions_solution/index.html
  sessions/js-functions-2/basic-calculations/css/styles.css
  sessions/js-functions-2/basic-calculations/js/index.js
  sessions/js-functions-2/basic-calculations_solution/css/styles.css
  sessions/js-functions-2/basic-calculations_solution/index.html
  sessions/js-functions-2/basic-calculations_solution/js/index.js
  sessions/js-functions-2/greeting-page/index.html
  sessions/js-functions-2/greeting-page_solution/index.html
  sessions/js-functions-2/progress-bar/index.html
  sessions/js-functions-2/progress-bar_solution/index.html
Due: npx eslint --fix, npx prettier --write

standardize script tags, subfolders and titles js-inputs-and-strings
  sessions/js-inputs-and-strings/change-box-appearance/index.html
  sessions/js-inputs-and-strings/change-box-appearance_solution/index.html
  sessions/js-inputs-and-strings/demo-end/index.html
  sessions/js-inputs-and-strings/demo-start/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase/index.html
  sessions/js-inputs-and-strings/input-to-upper-and-lowercase_solution/index.html
  sessions/js-inputs-and-strings/input-to-uppercase/index.html
  sessions/js-inputs-and-strings/input-to-uppercase_solution/index.html
  sessions/js-inputs-and-strings/multiple-inputs/index.html
  sessions/js-inputs-and-strings/multiple-inputs_solution/index.html
  sessions/js-inputs-and-strings/switch-values/index.html
  sessions/js-inputs-and-strings/switch-values_solution/index.html
Due: none

standardize script tags, subfolders and titles js-objects-and-arrayss
  sessions/js-objects-and-arrays/arrays/css/styles.css
  sessions/js-objects-and-arrays/arrays/index.html
  sessions/js-objects-and-arrays/arrays/js/index.js
  sessions/js-objects-and-arrays/arrays/js/index.test.js
  sessions/js-objects-and-arrays/arrays_solution/css/styles.css
  sessions/js-objects-and-arrays/arrays_solution/index.html
  sessions/js-objects-and-arrays/arrays_solution/js/index.js
  sessions/js-objects-and-arrays/arrays_solution/js/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays/css/styles.css
  sessions/js-objects-and-arrays/objects-and-arrays/index.html
  sessions/js-objects-and-arrays/objects-and-arrays/js/index.js
  sessions/js-objects-and-arrays/objects-and-arrays/js/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays_solution/css/styles.css
  sessions/js-objects-and-arrays/objects-and-arrays_solution/index.html
  sessions/js-objects-and-arrays/objects-and-arrays_solution/js/index.js
  sessions/js-objects-and-arrays/objects-and-arrays_solution/js/index.test.js
  sessions/js-objects-and-arrays/objects/css/styles.css
  sessions/js-objects-and-arrays/objects/index.html
  sessions/js-objects-and-arrays/objects/js/index.js
  sessions/js-objects-and-arrays/objects/js/index.test.js
  sessions/js-objects-and-arrays/objects_solution/css/styles.css
  sessions/js-objects-and-arrays/objects_solution/index.html
  sessions/js-objects-and-arrays/objects_solution/js/index.js
  sessions/js-objects-and-arrays/objects_solution/js/index.test.js
Due: npx eslint --fix, npx prettier --write

standardize script tags, subfolders and titles js-forms
  sessions/js-forms/calculator/index.html
  sessions/js-forms/calculator_solution/index.html
  sessions/js-forms/checkbox-input/index.html
  sessions/js-forms/checkbox-input_solution/index.html
  sessions/js-forms/demo-end/index.html
  sessions/js-forms/demo-start/index.html
  sessions/js-forms/handle-form-submit/index.html
  sessions/js-forms/handle-form-submit_solution/index.html
Due: none

standardize titles js-createelement
  sessions/js-createelement/demo-end/index.html
  sessions/js-createelement/demo-start/index.html
  sessions/js-createelement/product-teaser/index.html
  sessions/js-createelement/product-teaser_solution/index.html
  sessions/js-createelement/social-media-post/index.html
  sessions/js-createelement/social-media-post_solution/index.html
  sessions/js-createelement/toast-messages/index.html
  sessions/js-createelement/toast-messages_solution/index.html
Due: none

standardize script tags, subfolders and titles js-array-methods-1
  sessions/js-array-methods-1/demo-end/index.html
  sessions/js-array-methods-1/demo-start/index.html
  sessions/js-array-methods-1/filter/css/styles.css
  sessions/js-array-methods-1/filter/js/index.js
  sessions/js-array-methods-1/filter/js/index.test.js
  sessions/js-array-methods-1/filter_solution/css/styles.css
  sessions/js-array-methods-1/filter_solution/index.html
  sessions/js-array-methods-1/filter_solution/js/index.js
  sessions/js-array-methods-1/filter_solution/js/index.test.js
  sessions/js-array-methods-1/for-each/index.html
  sessions/js-array-methods-1/for-each_solution/index.html
  sessions/js-array-methods-1/map/css/styles.css
  sessions/js-array-methods-1/map/js/index.js
  sessions/js-array-methods-1/map/js/index.test.js
  sessions/js-array-methods-1/map_solution/css/styles.css
  sessions/js-array-methods-1/map_solution/index.html
  sessions/js-array-methods-1/map_solution/js/index.js
  sessions/js-array-methods-1/map_solution/js/index.test.js
  sessions/js-array-methods-1/repetition/css/styles.css
  sessions/js-array-methods-1/repetition/js/index.js
  sessions/js-array-methods-1/repetition/js/index.test.js
  sessions/js-array-methods-1/repetition_solution/css/styles.css
  sessions/js-array-methods-1/repetition_solution/index.html
  sessions/js-array-methods-1/repetition_solution/js/index.js
  sessions/js-array-methods-1/repetition_solution/js/index.test.js
  sessions/js-array-methods-1/spa-1/index.html
  sessions/js-array-methods-1/spa-2/index.html
  sessions/js-array-methods-1/spa-3/index.html
Due: npx eslint --fix, npx prettier --write

standardize script tags, subfolders and titles js-array-methods-2
  sessions/js-array-methods-2/animal-objects/css/styles.css
  sessions/js-array-methods-2/animal-objects/js/index.js
  sessions/js-array-methods-2/animal-objects/js/index.test.js
  sessions/js-array-methods-2/animal-objects_solution/css/styles.css
  sessions/js-array-methods-2/animal-objects_solution/index.html
  sessions/js-array-methods-2/animal-objects_solution/js/index.js
  sessions/js-array-methods-2/animal-objects_solution/js/index.test.js
  sessions/js-array-methods-2/animal-strings/css/styles.css
  sessions/js-array-methods-2/animal-strings/js/index.js
  sessions/js-array-methods-2/animal-strings/js/index.test.js
  sessions/js-array-methods-2/animal-strings_solution/css/styles.css
  sessions/js-array-methods-2/animal-strings_solution/index.html
  sessions/js-array-methods-2/animal-strings_solution/js/index.js
  sessions/js-array-methods-2/animal-strings_solution/js/index.test.js
  sessions/js-array-methods-2/demo-end/index.html
  sessions/js-array-methods-2/demo-start/index.html
  sessions/js-array-methods-2/employees/index.html
  sessions/js-array-methods-2/employees_solution/index.html
  sessions/js-array-methods-2/fun-with-flags/index.html
  sessions/js-array-methods-2/fun-with-flags_solution/index.html
  sessions/js-array-methods-2/letter-puzzle/index.html
  sessions/js-array-methods-2/letter-puzzle_solution/index.html
  sessions/js-array-methods-2/news-flash/index.html
  sessions/js-array-methods-2/news-flash_solution/index.html
Due: npx eslint --fix, npx prettier --write

standardize script tags, subfolders and titles js-structure
  sessions/js-structure/demo-end/index.html
  sessions/js-structure/demo-start/index.html
  sessions/js-structure/quiz-app/index.html
  sessions/js-structure/quiz-app_solution/index.html
  sessions/js-structure/shapes/index.html
  sessions/js-structure/shapes_solution/index.html
  sessions/js-structure/spacerocket/index.html
  sessions/js-structure/spacerocket_solution/index.html
Due: none

standardize script tags, subfolders and titles js-fetch
  sessions/js-fetch/color-clue/index.html
  sessions/js-fetch/color-clue_solution/index.html
  sessions/js-fetch/demo-end/index.html
  sessions/js-fetch/demo-start/index.html
  sessions/js-fetch/star-wars-console/css/styles.css
  sessions/js-fetch/star-wars-console/index.html
  sessions/js-fetch/star-wars-console_solution/css/styles.css
  sessions/js-fetch/star-wars-console_solution/index.html
  sessions/js-fetch/star-wars/index.html
  sessions/js-fetch/star-wars_solution/index.html
Due: none

standardize titles js-error-handling
  sessions/js-error-handling/calculator/index.html
  sessions/js-error-handling/calculator_solution/index.html
  sessions/js-error-handling/fetch/index.html
  sessions/js-error-handling/fetch_solution/index.html
Due: none

standardize script tags, subfolders and titles js-modern-syntax
  sessions/js-modern-syntax/demo-end/css/styles.css
  sessions/js-modern-syntax/demo-end/index.html
  sessions/js-modern-syntax/demo-end/js/index.js
  sessions/js-modern-syntax/demo-start/css/styles.css
  sessions/js-modern-syntax/demo-start/index.html
  sessions/js-modern-syntax/demo-start/js/index.js
  sessions/js-modern-syntax/destructuring-arrays/css/styles.css
  sessions/js-modern-syntax/destructuring-arrays/index.html
  sessions/js-modern-syntax/destructuring-arrays/js/index.js
  sessions/js-modern-syntax/destructuring-arrays/js/index.test.js
  sessions/js-modern-syntax/destructuring-arrays_solution/css/styles.css
  sessions/js-modern-syntax/destructuring-arrays_solution/index.html
  sessions/js-modern-syntax/destructuring-arrays_solution/js/index.js
  sessions/js-modern-syntax/destructuring-arrays_solution/js/index.test.js
  sessions/js-modern-syntax/destructuring-objects/css/styles.css
  sessions/js-modern-syntax/destructuring-objects/index.html
  sessions/js-modern-syntax/destructuring-objects/js/index.js
  sessions/js-modern-syntax/destructuring-objects/js/index.test.js
  sessions/js-modern-syntax/destructuring-objects_solution/css/styles.css
  sessions/js-modern-syntax/destructuring-objects_solution/index.html
  sessions/js-modern-syntax/destructuring-objects_solution/js/index.js
  sessions/js-modern-syntax/destructuring-objects_solution/js/index.test.js
  sessions/js-modern-syntax/rest-and-spread/css/styles.css
  sessions/js-modern-syntax/rest-and-spread/index.html
  sessions/js-modern-syntax/rest-and-spread/js/index.js
  sessions/js-modern-syntax/rest-and-spread/js/index.test.js
  sessions/js-modern-syntax/rest-and-spread_solution/css/styles.css
  sessions/js-modern-syntax/rest-and-spread_solution/index.html
  sessions/js-modern-syntax/rest-and-spread_solution/js/index.js
  sessions/js-modern-syntax/rest-and-spread_solution/js/index.test.js
Due: npx eslint --fix, npx prettier --write

update challenge instruction js-inputs-and-strings multiple-inputs
  sessions/js-inputs-and-strings/multiple-inputs/js/index.js
  sessions/js-inputs-and-strings/multiple-inputs_solution/js/index.js
Due: npx eslint --fix, npx prettier --write

Update sessions/js-array-methods-1/map/index.html
  sessions/js-array-methods-1/map/index.html
Due: none

Update sessions/js-array-methods-1/filter_solution/index.html
  sessions/js-array-methods-1/filter_solution/index.html
Due: none

Update sessions/js-array-methods-1/filter/index.html
  sessions/js-array-methods-1/filter/index.html
Due: none

Update sessions/js-array-methods-1/map_solution/index.html
  sessions/js-array-methods-1/map_solution/index.html
Due: none
