Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

initial commit
  sessions/html-and-the-web/div-salad/.codesandbox/workspace.json
  sessions/html-and-the-web/div-salad/index.html
Due: npx prettier --write

Move script-tag to head in js-createelement-demo
  sessions/js-createelement/demo-end/index.html
  sessions/js-createelement/demo-start/index.html
Due: none

Update package-lock.json
  package-lock.json
Due: npx prettier --write

update to spicedacademy
  sessions/nextjs-basics-and-routing/lotr-app/README.md
Due: npx prettier --write

Move instructions to readme for challenge toast-messages
  sessions/js-createelement/toast-messages/README.md
Due: npx prettier --write

Move instructions to readme for challenge social-media-post
  sessions/js-createelement/social-media-post/README.md
Due: npx prettier --write

Move instructions to readme for challenge product-teaser
  sessions/js-createelement/product-teaser/README.md
Due: npx prettier --write

fix typo
  sessions/recap-project-2/quiz-app/README.md
Due: npx prettier --write

rework demo-start and demo-end
  sessions/css-positioning/demo-end/README.md
  sessions/css-positioning/demo-end/css/styles.css
  sessions/css-positioning/demo-end/index.html
  sessions/css-positioning/demo-start/README.md
  sessions/css-positioning/demo-start/css/styles.css
  sessions/css-positioning/demo-start/index.html
Due: npx prettier --write

Update index.js
  sessions/js-functions/dom-manipulation/js/index.js
Due: npx eslint --fix, npx prettier --write

implement code review suggestions
  sessions/css-positioning/demo-end/css/styles.css
  sessions/css-positioning/demo-end/index.html
  sessions/css-positioning/demo-start/css/styles.css
  sessions/css-positioning/demo-start/index.html
Due: none

(Rework)CSS: Positioning Demo (#264)
  sessions/css-positioning/demo-end/README.md
  sessions/css-positioning/demo-end/css/styles.css
  sessions/css-positioning/demo-end/index.html
  sessions/css-positioning/demo-start/README.md
  sessions/css-positioning/demo-start/css/styles.css
  sessions/css-positioning/demo-start/index.html
Due: npx prettier --write

Update README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

fix: typo
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

feat: add component example for higher order function
  sessions/js-callback-functions/demo-end/index.html
  sessions/js-callback-functions/demo-end/js/index.js
  sessions/js-callback-functions/demo-start/index.html
Due: npx eslint --fix, npx prettier --write

fix: add buttonContainer query for demo start
  sessions/js-callback-functions/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

Feature/js callback functions demo with button component (#265)
  sessions/js-callback-functions/demo-end/index.html
  sessions/js-callback-functions/demo-end/js/index.js
  sessions/js-callback-functions/demo-start/index.html
  sessions/js-callback-functions/demo-start/js/index.js
Due: npx eslint --fix, npx prettier --write

Js createelement - Move instructions to README (#263)
  sessions/js-createelement/product-teaser/README.md
  sessions/js-createelement/social-media-post/README.md
  sessions/js-createelement/toast-messages/README.md
Due: npx prettier --write

fix internal link in readme.md (recap project 3)
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

feat: add basic challenge "shapes"
  sessions/js-async-functions/sleep/.eslintrc.json
  sessions/js-async-functions/sleep/.gitignore
  sessions/js-async-functions/sleep/.prettierrc.json
  sessions/js-async-functions/sleep/README.md
  sessions/js-async-functions/sleep/components/status/status.css
  sessions/js-async-functions/sleep/css/globals.css
  sessions/js-async-functions/sleep/index.html
  sessions/js-async-functions/sleep/js/index.js
  sessions/js-async-functions/sleep/package.json
  sessions/js-async-functions/sleep/sandbox.config.json
  sessions/js-async-functions/sleep/styles.css
  sessions/js-structure/shapes/.eslintrc.json
  sessions/js-structure/shapes/.prettierrc.json
  sessions/js-structure/shapes/.stylelintrc.json
  sessions/js-structure/shapes/README.md
  sessions/js-structure/shapes/components/Circle/Circle.css
  sessions/js-structure/shapes/components/Pentagon/Pentagon.css
  sessions/js-structure/shapes/components/Square/Square.css
  sessions/js-structure/shapes/index.html
  sessions/js-structure/shapes/index.js
  sessions/js-structure/shapes/package.json
  sessions/js-structure/shapes/sandbox.config.json
  sessions/js-structure/shapes/styles/styles.css
  sessions/js-structure/shapes/utils/randomColor.js
Due: npx eslint --fix, npx prettier --write

fix: remove sleep challenge files
  sessions/js-async-functions/sleep/.eslintrc.json
  sessions/js-async-functions/sleep/.gitignore
  sessions/js-async-functions/sleep/.prettierrc.json
  sessions/js-async-functions/sleep/README.md
  sessions/js-async-functions/sleep/components/status/status.css
  sessions/js-async-functions/sleep/css/globals.css
  sessions/js-async-functions/sleep/index.html
  sessions/js-async-functions/sleep/js/index.js
  sessions/js-async-functions/sleep/package.json
  sessions/js-async-functions/sleep/sandbox.config.json
  sessions/js-async-functions/sleep/styles.css
Due: npx eslint --fix, npx prettier --write

feat: add sleep challenge
  sessions/js-async-functions/sleep/.eslintrc.json
  sessions/js-async-functions/sleep/.gitignore
  sessions/js-async-functions/sleep/.prettierrc.json
  sessions/js-async-functions/sleep/README.md
  sessions/js-async-functions/sleep/components/status/status.css
  sessions/js-async-functions/sleep/css/globals.css
  sessions/js-async-functions/sleep/index.html
  sessions/js-async-functions/sleep/js/index.js
  sessions/js-async-functions/sleep/package.json
  sessions/js-async-functions/sleep/sandbox.config.json
  sessions/js-async-functions/sleep/styles.css
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  sessions/js-structure/shapes/README.md
Due: npx prettier --write

fix: migrate challenge to the excercise template
  sessions/js-structure/shapes/.eslintrc.json
  sessions/js-structure/shapes/.gitignore
  sessions/js-structure/shapes/.prettierrc.json
  sessions/js-structure/shapes/.stylelintrc.json
  sessions/js-structure/shapes/index.js
  sessions/js-structure/shapes/styles/styles.css
Due: npx eslint --fix, npx prettier --write

migrate again
  sessions/js-structure/shapes/.eslintrc.json
  sessions/js-structure/shapes/.stylelintrc.json
Due: npx prettier --write

feat: add basic challenge "shapes" (#266)
  sessions/js-structure/shapes/.eslintrc.json
  sessions/js-structure/shapes/.gitignore
  sessions/js-structure/shapes/.prettierrc.json
  sessions/js-structure/shapes/README.md
  sessions/js-structure/shapes/components/Circle/Circle.css
  sessions/js-structure/shapes/components/Pentagon/Pentagon.css
  sessions/js-structure/shapes/components/Square/Square.css
  sessions/js-structure/shapes/index.html
  sessions/js-structure/shapes/index.js
  sessions/js-structure/shapes/package.json
  sessions/js-structure/shapes/sandbox.config.json
  sessions/js-structure/shapes/styles/styles.css
  sessions/js-structure/shapes/utils/randomColor.js
Due: npx eslint --fix, npx prettier --write

feat: add dark mode styling
  sessions/js-async-functions/sleep/css/globals.css
  sessions/js-async-functions/sleep/js/index.js
Due: npx eslint --fix, npx prettier --write

Apply suggestions from code review
  sessions/js-async-functions/sleep/README.md
Due: npx prettier --write

Feature/js async functions sleep (#267)
  sessions/js-async-functions/sleep/.eslintrc.json
  sessions/js-async-functions/sleep/.gitignore
  sessions/js-async-functions/sleep/.prettierrc.json
  sessions/js-async-functions/sleep/README.md
  sessions/js-async-functions/sleep/components/status/status.css
  sessions/js-async-functions/sleep/css/globals.css
  sessions/js-async-functions/sleep/index.html
  sessions/js-async-functions/sleep/js/index.js
  sessions/js-async-functions/sleep/package.json
  sessions/js-async-functions/sleep/sandbox.config.json
  sessions/js-async-functions/sleep/styles.css
Due: npx eslint --fix, npx prettier --write

feat: add updated JokeForm and Joke components to demo start
  package-lock.json
  sessions/backend-update-delete/demo-start/components/Joke/index.js
  sessions/backend-update-delete/demo-start/components/JokeForm/index.js
  sessions/backend-update-delete/demo-start/components/JokeList/index.js
  sessions/backend-update-delete/demo-start/pages/[id].js
  sessions/backend-update-delete/demo-start/pages/index.js
Due: npx eslint --fix, npx prettier --write

remove package-lock.json
  package-lock.json
Due: npx prettier --write

create exercise
  sessions/css-structure/custom-properties/.gitignore
  sessions/css-structure/custom-properties/.prettierrc.json
  sessions/css-structure/custom-properties/README.md
  sessions/css-structure/custom-properties/css/styles.css
  sessions/css-structure/custom-properties/index.html
  sessions/css-structure/custom-properties/package.json
  sessions/css-structure/custom-properties/sandbox.config.json
Due: npx prettier --write

fix typos
  sessions/css-structure/custom-properties/README.md
Due: npx prettier --write

some tweaks
  sessions/css-structure/custom-properties/README.md
  sessions/css-structure/custom-properties/css/styles.css
  sessions/css-structure/custom-properties/index.html
Due: npx prettier --write

mad max width
  sessions/css-structure/custom-properties/css/styles.css
Due: none

small fixes
  sessions/css-structure/custom-properties/README.md
  sessions/css-structure/custom-properties/css/styles.css
Due: npx prettier --write

readme fixes
  sessions/css-structure/custom-properties/README.md
Due: npx prettier --write

CSS Structure: Custom Properties (new challenge, created for UX/UI Bootcamp) (#268)
  sessions/css-structure/custom-properties/.gitignore
  sessions/css-structure/custom-properties/.prettierrc.json
  sessions/css-structure/custom-properties/README.md
  sessions/css-structure/custom-properties/css/styles.css
  sessions/css-structure/custom-properties/index.html
  sessions/css-structure/custom-properties/package.json
  sessions/css-structure/custom-properties/sandbox.config.json
Due: npx prettier --write

change Position of the hint to be better found
  sessions/js-functions-2/greeting-page/js/index.js
Due: npx eslint --fix, npx prettier --write

change Position of the hint to be better found (#269)
  sessions/js-functions-2/greeting-page/js/index.js
Due: npx eslint --fix, npx prettier --write
