Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

Add solution CSS Structure selectors and cascading bugs
  sessions/css-structure/selectors-and-cascading-bugs_solution/.codesandbox/tasks.json
  sessions/css-structure/selectors-and-cascading-bugs_solution/.gitignore
  sessions/css-structure/selectors-and-cascading-bugs_solution/.prettierrc.json
  sessions/css-structure/selectors-and-cascading-bugs_solution/README.md
  sessions/css-structure/selectors-and-cascading-bugs_solution/css/styles.css
  sessions/css-structure/selectors-and-cascading-bugs_solution/index.html
  sessions/css-structure/selectors-and-cascading-bugs_solution/package.json
  sessions/css-structure/selectors-and-cascading-bugs_solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Structure custom properties
  sessions/css-structure/custom-properties_solution/.codesandbox/tasks.json
  sessions/css-structure/custom-properties_solution/.gitignore
  sessions/css-structure/custom-properties_solution/.prettierrc.json
  sessions/css-structure/custom-properties_solution/README.md
  sessions/css-structure/custom-properties_solution/css/styles.css
  sessions/css-structure/custom-properties_solution/index.html
  sessions/css-structure/custom-properties_solution/package.json
  sessions/css-structure/custom-properties_solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Flexbox navigation
  sessions/css-flexbox/navigation_solution/.codesandbox/tasks.json
  sessions/css-flexbox/navigation_solution/.gitignore
  sessions/css-flexbox/navigation_solution/.prettierrc.json
  sessions/css-flexbox/navigation_solution/README.md
  sessions/css-flexbox/navigation_solution/css/styles.css
  sessions/css-flexbox/navigation_solution/index.html
  sessions/css-flexbox/navigation_solution/package.json
  sessions/css-flexbox/navigation_solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Flexbox profile
  sessions/css-flexbox/profile_solution/.gitignore
  sessions/css-flexbox/profile_solution/.prettierrc.json
  sessions/css-flexbox/profile_solution/README.md
  sessions/css-flexbox/profile_solution/css/styles.css
  sessions/css-flexbox/profile_solution/index.html
  sessions/css-flexbox/profile_solution/package.json
  sessions/css-flexbox/profile_solution/sandbox.config.json
Due: npx prettier --write

add tasks.json
  sessions/css-flexbox/profile_solution/.codesandbox/tasks.json
Due: npx prettier --write

Add solution CSS Positioning absolute position
  sessions/css-positioning/absolute-position_solution/.gitignore
  sessions/css-positioning/absolute-position_solution/.prettierrc.json
  sessions/css-positioning/absolute-position_solution/README.md
  sessions/css-positioning/absolute-position_solution/index.html
  sessions/css-positioning/absolute-position_solution/package.json
  sessions/css-positioning/absolute-position_solution/sandbox.config.json
Due: npx prettier --write

add css file
  sessions/css-positioning/absolute-position_solution/css/styles.css
Due: none

Add solution CSS Positioning layout with position
  sessions/css-positioning/layout-with-position_solution/.gitignore
  sessions/css-positioning/layout-with-position_solution/.prettierrc.json
  sessions/css-positioning/layout-with-position_solution/README.md
  sessions/css-positioning/layout-with-position_solution/css/styles.css
  sessions/css-positioning/layout-with-position_solution/index.html
  sessions/css-positioning/layout-with-position_solution/package.json
  sessions/css-positioning/layout-with-position_solution/sandbox.config.json
Due: npx prettier --write

Add solution CSS Responsive resposnive website
  sessions/css-responsive/responsive-website_solution/.codesandbox/workspace.json
  sessions/css-responsive/responsive-website_solution/.gitignore
  sessions/css-responsive/responsive-website_solution/.prettierrc.json
  sessions/css-responsive/responsive-website_solution/README.md
  sessions/css-responsive/responsive-website_solution/css/fonts.css
  sessions/css-responsive/responsive-website_solution/css/styles.css
  sessions/css-responsive/responsive-website_solution/fonts/pacifico-regular-webfont.woff2
  sessions/css-responsive/responsive-website_solution/img/desert.jpg
  sessions/css-responsive/responsive-website_solution/img/forest.jpg
  sessions/css-responsive/responsive-website_solution/img/mountain.jpg
  sessions/css-responsive/responsive-website_solution/img/ocean.jpg
  sessions/css-responsive/responsive-website_solution/img/river.jpg
  sessions/css-responsive/responsive-website_solution/index.html
  sessions/css-responsive/responsive-website_solution/package.json
  sessions/css-responsive/responsive-website_solution/sandbox.config.json
Due: npx prettier --write

Archive
  sessions/css-selectors/demo-end/.codesandbox/tasks.json
  sessions/css-selectors/demo-end/.gitignore
  sessions/css-selectors/demo-end/.prettierrc.json
  sessions/css-selectors/demo-end/README.md
  sessions/css-selectors/demo-end/css/styles.css
  sessions/css-selectors/demo-end/index.html
  sessions/css-selectors/demo-end/package.json
  sessions/css-selectors/demo-end/sandbox.config.json
  sessions/css-selectors/demo-start/.codesandbox/tasks.json
  sessions/css-selectors/demo-start/.gitignore
  sessions/css-selectors/demo-start/.prettierrc.json
  sessions/css-selectors/demo-start/README.md
  sessions/css-selectors/demo-start/css/styles.css
  sessions/css-selectors/demo-start/index.html
  sessions/css-selectors/demo-start/package.json
  sessions/css-selectors/demo-start/sandbox.config.json
Due: npx prettier --write

cleanup and rename of challenges for coherence
  sessions/css-positioning/absolute-position/.codesandbox/tasks.json
  sessions/css-positioning/absolute-position/.gitignore
  sessions/css-positioning/absolute-position/.prettierrc.json
  sessions/css-positioning/absolute-position/README.md
  sessions/css-positioning/absolute-position/css/styles.css
  sessions/css-positioning/absolute-position/index.html
  sessions/css-positioning/absolute-position/package.json
  sessions/css-positioning/absolute-position/sandbox.config.json
  sessions/css-positioning/absolute-top-right-bottom-left/.codesandbox/tasks.json
  sessions/css-positioning/absolute-top-right-bottom-left/.gitignore
  sessions/css-positioning/absolute-top-right-bottom-left/.prettierrc.json
  sessions/css-positioning/absolute-top-right-bottom-left/README.md
  sessions/css-positioning/absolute-top-right-bottom-left/css/styles.css
  sessions/css-positioning/absolute-top-right-bottom-left/index.html
  sessions/css-positioning/absolute-top-right-bottom-left/package.json
  sessions/css-positioning/absolute-top-right-bottom-left/sandbox.config.json
  sessions/css-structure/selectors-and-cascading-bugs/.codesandbox/tasks.json
  sessions/css-structure/selectors-and-cascading-bugs/.gitignore
  sessions/css-structure/selectors-and-cascading-bugs/.prettierrc.json
  sessions/css-structure/selectors-and-cascading-bugs/README.md
  sessions/css-structure/selectors-and-cascading-bugs/css/styles.css
  sessions/css-structure/selectors-and-cascading-bugs/index.html
  sessions/css-structure/selectors-and-cascading-bugs/package.json
  sessions/css-structure/selectors-and-cascading-bugs/sandbox.config.json
Due: npx prettier --write

Add solution HTML and the Web div salad
  sessions/html-and-the-web/div-salad_solution/.codesandbox/tasks.json
  sessions/html-and-the-web/div-salad_solution/.codesandbox/workspace.json
  sessions/html-and-the-web/div-salad_solution/.gitignore
  sessions/html-and-the-web/div-salad_solution/.prettierrc.json
  sessions/html-and-the-web/div-salad_solution/README.md
  sessions/html-and-the-web/div-salad_solution/index.html
  sessions/html-and-the-web/div-salad_solution/package.json
  sessions/html-and-the-web/div-salad_solution/sandbox.config.json
Due: npx prettier --write

Add solution HTML Forms finding a11y errors
  sessions/html-forms/Finding-a11y-errors_solution/.gitignore
  sessions/html-forms/Finding-a11y-errors_solution/.prettierrc.json
  sessions/html-forms/Finding-a11y-errors_solution/README.md
  sessions/html-forms/Finding-a11y-errors_solution/css/styles.css
  sessions/html-forms/Finding-a11y-errors_solution/index.html
  sessions/html-forms/Finding-a11y-errors_solution/package.json
  sessions/html-forms/Finding-a11y-errors_solution/sandbox.config.json
Due: npx prettier --write

Add solution HTML Forms formvalidation
  sessions/html-forms/formvalidation_solution/.eslintrc.json
  sessions/html-forms/formvalidation_solution/.gitignore
  sessions/html-forms/formvalidation_solution/.prettierrc.json
  sessions/html-forms/formvalidation_solution/README.md
  sessions/html-forms/formvalidation_solution/css/styles.css
  sessions/html-forms/formvalidation_solution/index.html
  sessions/html-forms/formvalidation_solution/js/index.js
  sessions/html-forms/formvalidation_solution/package.json
  sessions/html-forms/formvalidation_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add solution HTML Forms personal profile
  sessions/html-forms/personal-profile-form_solution/.gitignore
  sessions/html-forms/personal-profile-form_solution/.prettierrc.json
  sessions/html-forms/personal-profile-form_solution/README.md
  sessions/html-forms/personal-profile-form_solution/css/styles.css
  sessions/html-forms/personal-profile-form_solution/images/final_result.png
  sessions/html-forms/personal-profile-form_solution/index.html
  sessions/html-forms/personal-profile-form_solution/package.json
  sessions/html-forms/personal-profile-form_solution/sandbox.config.json
Due: npx prettier --write

rename css basics button styles solution
  sessions/css-basics/button-styles_solution/.codesandbox/tasks.json
  sessions/css-basics/button-styles_solution/.gitignore
  sessions/css-basics/button-styles_solution/.prettierrc.json
  sessions/css-basics/button-styles_solution/README.md
  sessions/css-basics/button-styles_solution/css/styles.css
  sessions/css-basics/button-styles_solution/index.html
  sessions/css-basics/button-styles_solution/package.json
  sessions/css-basics/button-styles_solution/sandbox.config.json
Due: npx prettier --write

Archive HTML Forms Classic
  archive/html-forms-classic/Finding-a11y-errors/.codesandbox/tasks.json
  archive/html-forms-classic/Finding-a11y-errors/.gitignore
  archive/html-forms-classic/Finding-a11y-errors/.prettierrc.json
  archive/html-forms-classic/Finding-a11y-errors/README.md
  archive/html-forms-classic/Finding-a11y-errors/css/styles.css
  archive/html-forms-classic/Finding-a11y-errors/index.html
  archive/html-forms-classic/Finding-a11y-errors/package.json
  archive/html-forms-classic/Finding-a11y-errors/sandbox.config.json
  archive/html-forms-classic/personal-profile-form/.codesandbox/tasks.json
  archive/html-forms-classic/personal-profile-form/.gitignore
  archive/html-forms-classic/personal-profile-form/.prettierrc.json
  archive/html-forms-classic/personal-profile-form/README.md
  archive/html-forms-classic/personal-profile-form/css/styles.css
  archive/html-forms-classic/personal-profile-form/images/final_result.png
  archive/html-forms-classic/personal-profile-form/index.html
  archive/html-forms-classic/personal-profile-form/package.json
  archive/html-forms-classic/personal-profile-form/sandbox.config.json
  archive/html-forms-classic/zoo/.codesandbox/tasks.json
  archive/html-forms-classic/zoo/.gitignore
  archive/html-forms-classic/zoo/.prettierrc.json
  archive/html-forms-classic/zoo/README.md
  archive/html-forms-classic/zoo/css/styles.css
  archive/html-forms-classic/zoo/index.html
  archive/html-forms-classic/zoo/package.json
  archive/html-forms-classic/zoo/sandbox.config.json
Due: npx prettier --write

Add solution Js Array Methods 1 filter
  sessions/js-array-methods-1/filter_solution/.eslintrc.json
  sessions/js-array-methods-1/filter_solution/.gitignore
  sessions/js-array-methods-1/filter_solution/.prettierrc.json
  sessions/js-array-methods-1/filter_solution/index.js
  sessions/js-array-methods-1/filter_solution/index.test.js
  sessions/js-array-methods-1/filter_solution/package.json
  sessions/js-array-methods-1/filter_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

add Readme
  sessions/js-array-methods-1/filter_solution/README.md
Due: npx prettier --write

Add solution JS Array Methods 1 for each
  sessions/js-array-methods-1/for-each_solution/.eslintrc.json
  sessions/js-array-methods-1/for-each_solution/.gitignore
  sessions/js-array-methods-1/for-each_solution/.prettierrc.json
  sessions/js-array-methods-1/for-each_solution/README.md
  sessions/js-array-methods-1/for-each_solution/css/styles.css
  sessions/js-array-methods-1/for-each_solution/index.html
  sessions/js-array-methods-1/for-each_solution/js/index.js
  sessions/js-array-methods-1/for-each_solution/package.json
  sessions/js-array-methods-1/for-each_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add solution JS Array Methods 1 map
  sessions/js-array-methods-1/map_solution/.eslintrc.json
  sessions/js-array-methods-1/map_solution/.gitignore
  sessions/js-array-methods-1/map_solution/.prettierrc.json
  sessions/js-array-methods-1/map_solution/README.md
  sessions/js-array-methods-1/map_solution/index.js
  sessions/js-array-methods-1/map_solution/index.test.js
  sessions/js-array-methods-1/map_solution/package.json
  sessions/js-array-methods-1/map_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add solution JS Array Methods 1 Repitition
  sessions/js-array-methods-1/repetition_solution/.eslintrc.json
  sessions/js-array-methods-1/repetition_solution/.gitignore
  sessions/js-array-methods-1/repetition_solution/.prettierrc.json
  sessions/js-array-methods-1/repetition_solution/README.md
  sessions/js-array-methods-1/repetition_solution/index.js
  sessions/js-array-methods-1/repetition_solution/index.test.js
  sessions/js-array-methods-1/repetition_solution/package.json
  sessions/js-array-methods-1/repetition_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add solution JS Array Methods 2 news flash
  sessions/js-array-methods-2/news-flash_solution/.eslintrc.json
  sessions/js-array-methods-2/news-flash_solution/.gitignore
  sessions/js-array-methods-2/news-flash_solution/.prettierrc.json
  sessions/js-array-methods-2/news-flash_solution/README.md
  sessions/js-array-methods-2/news-flash_solution/components/Card/Card.css
  sessions/js-array-methods-2/news-flash_solution/components/Card/Card.js
  sessions/js-array-methods-2/news-flash_solution/css/globals.css
  sessions/js-array-methods-2/news-flash_solution/index.html
  sessions/js-array-methods-2/news-flash_solution/index.js
  sessions/js-array-methods-2/news-flash_solution/package.json
  sessions/js-array-methods-2/news-flash_solution/sandbox.config.json
  sessions/js-array-methods-2/news-flash_solution/styles.css
  sessions/js-array-methods-2/news-flash_solution/utils/news.js
  sessions/js-array-methods-2/news-flash_solution/utils/results.js
Due: npx eslint --fix, npx prettier --write

Add solution JS array methods 2 fun with flags
  sessions/js-array-methods-2/fun-with-flags_solution/.eslintrc.json
  sessions/js-array-methods-2/fun-with-flags_solution/.gitignore
  sessions/js-array-methods-2/fun-with-flags_solution/.prettierrc.json
  sessions/js-array-methods-2/fun-with-flags_solution/README.md
  sessions/js-array-methods-2/fun-with-flags_solution/components/Country/Country.css
  sessions/js-array-methods-2/fun-with-flags_solution/components/Country/Country.js
  sessions/js-array-methods-2/fun-with-flags_solution/index.html
  sessions/js-array-methods-2/fun-with-flags_solution/index.js
  sessions/js-array-methods-2/fun-with-flags_solution/package.json
  sessions/js-array-methods-2/fun-with-flags_solution/sandbox.config.json
  sessions/js-array-methods-2/fun-with-flags_solution/styles.css
  sessions/js-array-methods-2/fun-with-flags_solution/styles/global.css
  sessions/js-array-methods-2/fun-with-flags_solution/utils/countries.js
Due: npx eslint --fix, npx prettier --write

Add solution Array Methods 2 Animal objects
  sessions/js-array-methods-2/animal-objects_solution/.eslintrc.json
  sessions/js-array-methods-2/animal-objects_solution/.gitignore
  sessions/js-array-methods-2/animal-objects_solution/.prettierrc.json
  sessions/js-array-methods-2/animal-objects_solution/README.md
  sessions/js-array-methods-2/animal-objects_solution/index.js
  sessions/js-array-methods-2/animal-objects_solution/index.test.js
  sessions/js-array-methods-2/animal-objects_solution/package.json
  sessions/js-array-methods-2/animal-objects_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add solution JS Array Methods 2 animal strings
  sessions/js-array-methods-2/animal-strings_solution/.eslintrc.json
  sessions/js-array-methods-2/animal-strings_solution/.gitignore
  sessions/js-array-methods-2/animal-strings_solution/.prettierrc.json
  sessions/js-array-methods-2/animal-strings_solution/README.md
  sessions/js-array-methods-2/animal-strings_solution/index.js
  sessions/js-array-methods-2/animal-strings_solution/index.test.js
  sessions/js-array-methods-2/animal-strings_solution/package.json
  sessions/js-array-methods-2/animal-strings_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add challenge solutions for JS Functions 2
  sessions/js-functions-2/arrow-functions_solution/.eslintrc.json
  sessions/js-functions-2/arrow-functions_solution/.prettierrc.json
  sessions/js-functions-2/arrow-functions_solution/.stylelintrc.json
  sessions/js-functions-2/arrow-functions_solution/css/styles.css
  sessions/js-functions-2/arrow-functions_solution/index.html
  sessions/js-functions-2/arrow-functions_solution/js/index.js
  sessions/js-functions-2/arrow-functions_solution/package.json
  sessions/js-functions-2/arrow-functions_solution/sandbox.config.json
  sessions/js-functions-2/basic-calculations_solution/.eslintrc.json
  sessions/js-functions-2/basic-calculations_solution/.gitignore
  sessions/js-functions-2/basic-calculations_solution/.prettierrc.json
  sessions/js-functions-2/basic-calculations_solution/README.md
  sessions/js-functions-2/basic-calculations_solution/index.js
  sessions/js-functions-2/basic-calculations_solution/package.json
  sessions/js-functions-2/basic-calculations_solution/sandbox.config.json
  sessions/js-functions-2/greeting-page_solution/.eslintrc.json
  sessions/js-functions-2/greeting-page_solution/.gitignore
  sessions/js-functions-2/greeting-page_solution/.prettierrc.json
  sessions/js-functions-2/greeting-page_solution/README.md
  sessions/js-functions-2/greeting-page_solution/css/styles.css
  sessions/js-functions-2/greeting-page_solution/index.html
  sessions/js-functions-2/greeting-page_solution/js/index.js
  sessions/js-functions-2/greeting-page_solution/package.json
  sessions/js-functions-2/greeting-page_solution/sandbox.config.json
  sessions/js-functions-2/progress-bar_solution/.eslintrc.json
  sessions/js-functions-2/progress-bar_solution/.gitignore
  sessions/js-functions-2/progress-bar_solution/.prettierrc.json
  sessions/js-functions-2/progress-bar_solution/README.md
  sessions/js-functions-2/progress-bar_solution/css/styles.css
  sessions/js-functions-2/progress-bar_solution/index.html
  sessions/js-functions-2/progress-bar_solution/js/index.js
  sessions/js-functions-2/progress-bar_solution/package.json
  sessions/js-functions-2/progress-bar_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Add challenge solutions for JS objects and arrays
  sessions/js-objects-and-arrays/arrays_solution/.codesandbox/tasks.json
  sessions/js-objects-and-arrays/arrays_solution/.eslintrc.json
  sessions/js-objects-and-arrays/arrays_solution/.gitignore
  sessions/js-objects-and-arrays/arrays_solution/.prettierrc.json
  sessions/js-objects-and-arrays/arrays_solution/README.md
  sessions/js-objects-and-arrays/arrays_solution/index.html
  sessions/js-objects-and-arrays/arrays_solution/index.js
  sessions/js-objects-and-arrays/arrays_solution/index.test.js
  sessions/js-objects-and-arrays/arrays_solution/package.json
  sessions/js-objects-and-arrays/arrays_solution/sandbox.config.json
  sessions/js-objects-and-arrays/objects-and-arrays_solution/.codesandbox/tasks.json
  sessions/js-objects-and-arrays/objects-and-arrays_solution/.eslintrc.json
  sessions/js-objects-and-arrays/objects-and-arrays_solution/.gitignore
  sessions/js-objects-and-arrays/objects-and-arrays_solution/.prettierrc.json
  sessions/js-objects-and-arrays/objects-and-arrays_solution/README.md
  sessions/js-objects-and-arrays/objects-and-arrays_solution/index.html
  sessions/js-objects-and-arrays/objects-and-arrays_solution/index.js
  sessions/js-objects-and-arrays/objects-and-arrays_solution/index.test.js
  sessions/js-objects-and-arrays/objects-and-arrays_solution/package.json
  sessions/js-objects-and-arrays/objects-and-arrays_solution/sandbox.config.json
  sessions/js-objects-and-arrays/objects_solution/.codesandbox/tasks.json
  sessions/js-objects-and-arrays/objects_solution/.eslintrc.json
  sessions/js-objects-and-arrays/objects_solution/.gitignore
  sessions/js-objects-and-arrays/objects_solution/.prettierrc.json
  sessions/js-objects-and-arrays/objects_solution/README.md
  sessions/js-objects-and-arrays/objects_solution/index.html
  sessions/js-objects-and-arrays/objects_solution/index.js
  sessions/js-objects-and-arrays/objects_solution/index.test.js
  sessions/js-objects-and-arrays/objects_solution/package.json
  sessions/js-objects-and-arrays/objects_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

Archive old sessions
  sessions/js-loops/forof-list/css/styles.css
Due: none

Add challenge solutions JS Structure
  sessions/js-structure/quiz-app_solution/.eslintrc.json
  sessions/js-structure/quiz-app_solution/.gitignore
  sessions/js-structure/quiz-app_solution/.prettierrc.json
  sessions/js-structure/quiz-app_solution/README.md
  sessions/js-structure/quiz-app_solution/components/App/App.css
  sessions/js-structure/quiz-app_solution/components/App/App.js
  sessions/js-structure/quiz-app_solution/components/Bookmark/Bookmark.css
  sessions/js-structure/quiz-app_solution/components/Bookmark/Bookmark.js
  sessions/js-structure/quiz-app_solution/components/Card/Card.css
  sessions/js-structure/quiz-app_solution/components/Card/Card.js
  sessions/js-structure/quiz-app_solution/components/CardList/CardList.css
  sessions/js-structure/quiz-app_solution/components/CardList/CardList.js
  sessions/js-structure/quiz-app_solution/components/Form/Form.css
  sessions/js-structure/quiz-app_solution/components/Form/Form.js
  sessions/js-structure/quiz-app_solution/components/Header/Header.css
  sessions/js-structure/quiz-app_solution/components/Header/Header.js
  sessions/js-structure/quiz-app_solution/global.css
  sessions/js-structure/quiz-app_solution/index.html
  sessions/js-structure/quiz-app_solution/index.js
  sessions/js-structure/quiz-app_solution/package.json
  sessions/js-structure/quiz-app_solution/sandbox.config.json
  sessions/js-structure/quiz-app_solution/styles.css
  sessions/js-structure/quiz-app_solution/utils/cards.js
  sessions/js-structure/shapes_solution/.codesandbox/tasks.json
  sessions/js-structure/shapes_solution/.eslintrc.json
  sessions/js-structure/shapes_solution/.gitignore
  sessions/js-structure/shapes_solution/.prettierrc.json
  sessions/js-structure/shapes_solution/README.md
  sessions/js-structure/shapes_solution/components/Circle/Circle.css
  sessions/js-structure/shapes_solution/components/Circle/Circle.js
  sessions/js-structure/shapes_solution/components/Pentagon/Pentagon.css
  sessions/js-structure/shapes_solution/components/Pentagon/Pentagon.js
  sessions/js-structure/shapes_solution/components/Square/Square.css
  sessions/js-structure/shapes_solution/components/Square/Square.js
  sessions/js-structure/shapes_solution/index.html
  sessions/js-structure/shapes_solution/index.js
  sessions/js-structure/shapes_solution/package.json
  sessions/js-structure/shapes_solution/sandbox.config.json
  sessions/js-structure/shapes_solution/styles/styles.css
  sessions/js-structure/shapes_solution/utils/randomColor.js
Due: npx eslint --fix, npx prettier --write

Add challenge solutions JS Variables and Numbers
  sessions/js-variables-and-numbers/simple-calculator_solution/.codesandbox/tasks.json
  sessions/js-variables-and-numbers/simple-calculator_solution/.eslintrc.json
  sessions/js-variables-and-numbers/simple-calculator_solution/.gitignore
  sessions/js-variables-and-numbers/simple-calculator_solution/.prettierrc.json
  sessions/js-variables-and-numbers/simple-calculator_solution/README.md
  sessions/js-variables-and-numbers/simple-calculator_solution/css/styles.css
  sessions/js-variables-and-numbers/simple-calculator_solution/index.html
  sessions/js-variables-and-numbers/simple-calculator_solution/js/index.js
  sessions/js-variables-and-numbers/simple-calculator_solution/package.json
  sessions/js-variables-and-numbers/simple-calculator_solution/sandbox.config.json
  sessions/js-variables-and-numbers/social-media-post_solution/.codesandbox/tasks.json
  sessions/js-variables-and-numbers/social-media-post_solution/.eslintrc.json
  sessions/js-variables-and-numbers/social-media-post_solution/.gitignore
  sessions/js-variables-and-numbers/social-media-post_solution/.prettierrc.json
  sessions/js-variables-and-numbers/social-media-post_solution/README.md
  sessions/js-variables-and-numbers/social-media-post_solution/css/styles.css
  sessions/js-variables-and-numbers/social-media-post_solution/index.html
  sessions/js-variables-and-numbers/social-media-post_solution/js/index.js
  sessions/js-variables-and-numbers/social-media-post_solution/package.json
  sessions/js-variables-and-numbers/social-media-post_solution/sandbox.config.json
Due: npx eslint --fix, npx prettier --write

add jsdom environment to test
  sessions/js-structure/spacerocket/js/launchSequence.test.js
Due: npx eslint --fix, npx prettier --write

add jsdom environment to test (#352)
  sessions/js-structure/spacerocket/js/launchSequence.test.js
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
