Repository neuefische/web-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
  "*.{md,json}": ["npx prettier --write"]
}

delete aria-describedby for labels
  sessions/html-forms/Finding-a11y-errors/index.html
Due: none

delete aria-describedby for labels (#362)
  sessions/html-forms/Finding-a11y-errors/index.html
Due: none

change color so is readable when solve
  sessions/react-basics/hello-world-article/src/App.css
Due: none

minor update to the css
  sessions/js-loops/pixels/js/index.js
Due: npx eslint --fix, npx prettier --write

Update README.md
  sessions/recap-project-5/art-gallery-app/README.md
Due: npx prettier --write

feat: add movie-app project and wireframes (#358)
  sessions/user-stories-workshop/movie-app/README.md
  sessions/user-stories-workshop/movie-app/assets/scribble-movie-detail-page.png
  sessions/user-stories-workshop/movie-app/assets/scribble-movie-list.png
  sessions/user-stories-workshop/movie-app/assets/scribble-watchlist.png
  sessions/user-stories-workshop/movie-app/assets/user-story-workshop-start.excalidraw
  sessions/user-stories-workshop/movie-app/user-story-1.md
  sessions/user-stories-workshop/movie-app/user-story-2.md
  sessions/user-stories-workshop/movie-app/user-story-3.md
Due: npx prettier --write

Bad wording was leading students towards error.
  sessions/backend-read/products/README.md
Due: npx prettier --write

fix data for filter
  sessions/js-array-methods-1/filter/index.js
Due: npx eslint --fix, npx prettier --write

update readme and example implementation
  sessions/recap-project-crud/crud-recap-tourio/README.md
  sessions/recap-project-crud/example-implementation/README.md
  sessions/recap-project-crud/example-implementation/components/Button.js
  sessions/recap-project-crud/example-implementation/components/Card.js
  sessions/recap-project-crud/example-implementation/components/Form.js
  sessions/recap-project-crud/example-implementation/pages/_app.js
  sessions/recap-project-crud/example-implementation/pages/create.js
  sessions/recap-project-crud/example-implementation/pages/index.js
  sessions/recap-project-crud/example-implementation/pages/places/[id]/edit.js
Due: npx eslint --fix, npx prettier --write

chore: rename old project and create base for new project
  sessions/recap-project-spotify/README.md
  sessions/recap-project-spotify/assets/db.js
  sessions/recap-project-spotify/assets/part-1-1.png
  sessions/recap-project-spotify/assets/part-2-1.png
  sessions/recap-project-spotify/assets/part-3-1.png
  sessions/recap-project-spotify/assets/part-4-1.png
  sessions/recap-project-spotify/assets/part-5-1.png
  sessions/recap-project-spotify/assets/part-7-1.png
  sessions/recap-project-spotify/assets/part-8-1.png
  sessions/recap-project-spotify/assets/part-9-1.png
  sessions/recap-project-spotify/part-1/hints.md
  sessions/recap-project-spotify/part-1/readme.md
  sessions/recap-project-spotify/part-10/hints.md
  sessions/recap-project-spotify/part-10/readme.md
  sessions/recap-project-spotify/part-2/hints.md
  sessions/recap-project-spotify/part-2/readme.md
  sessions/recap-project-spotify/part-3/hints.md
  sessions/recap-project-spotify/part-3/readme.md
  sessions/recap-project-spotify/part-4/hints.md
  sessions/recap-project-spotify/part-4/readme.md
  sessions/recap-project-spotify/part-5/hints.md
  sessions/recap-project-spotify/part-5/readme.md
  sessions/recap-project-spotify/part-6/hints.md
  sessions/recap-project-spotify/part-6/readme.md
  sessions/recap-project-spotify/part-7/hints.md
  sessions/recap-project-spotify/part-7/readme.md
  sessions/recap-project-spotify/part-8/hints.md
  sessions/recap-project-spotify/part-8/readme.md
  sessions/recap-project-spotify/part-9/hints.md
  sessions/recap-project-spotify/part-9/readme.md
Due: npx eslint --fix, npx prettier --write

chore: replace solution links
  sessions/recap-project-react/README.md
  sessions/recap-project-react/part-1/hints.md
  sessions/recap-project-react/part-10/hints.md
  sessions/recap-project-react/part-10/readme.md
  sessions/recap-project-react/part-2/hints.md
  sessions/recap-project-react/part-3/hints.md
  sessions/recap-project-react/part-4/hints.md
  sessions/recap-project-react/part-5/hints.md
  sessions/recap-project-react/part-6/hints.md
  sessions/recap-project-react/part-7/hints.md
  sessions/recap-project-react/part-8/hints.md
  sessions/recap-project-react/part-9/hints.md
  sessions/recap-project-react/part-9/readme.md
Due: npx prettier --write

Feat/frontend crud recap tourio (#361)
  sessions/recap-project-crud/crud-recap-tourio/README.md
  sessions/recap-project-crud/crud-recap-tourio/jsconfig.json
  sessions/recap-project-crud/crud-recap-tourio/lib/db.js
  sessions/recap-project-crud/crud-recap-tourio/next.config.js
  sessions/recap-project-crud/crud-recap-tourio/package.json
  sessions/recap-project-crud/crud-recap-tourio/pages/_app.js
  sessions/recap-project-crud/crud-recap-tourio/pages/_document.js
  sessions/recap-project-crud/crud-recap-tourio/pages/index.js
  sessions/recap-project-crud/crud-recap-tourio/public/favicon.ico
  sessions/recap-project-crud/crud-recap-tourio/styles.js
  sessions/recap-project-crud/example-implementation/components/Button.js
  sessions/recap-project-crud/example-implementation/components/Card.js
  sessions/recap-project-crud/example-implementation/components/Form.js
  sessions/recap-project-crud/example-implementation/components/ImageContainer.js
  sessions/recap-project-crud/example-implementation/components/StyledLink.js
  sessions/recap-project-crud/example-implementation/jsconfig.json
  sessions/recap-project-crud/example-implementation/lib/db.js
  sessions/recap-project-crud/example-implementation/next.config.js
  sessions/recap-project-crud/example-implementation/package.json
  sessions/recap-project-crud/example-implementation/pages/_app.js
  sessions/recap-project-crud/example-implementation/pages/_document.js
  sessions/recap-project-crud/example-implementation/pages/create.js
  sessions/recap-project-crud/example-implementation/pages/index.js
  sessions/recap-project-crud/example-implementation/pages/places/[id]/edit.js
  sessions/recap-project-crud/example-implementation/pages/places/[id]/index.js
  sessions/recap-project-crud/example-implementation/public/favicon.ico
  sessions/recap-project-crud/example-implementation/styles.js
Due: npx eslint --fix, npx prettier --write

update readme.md
  sessions/recap-project-react/README.md
Due: npx prettier --write

Update README.md
  sessions/recap-project-3/rick-and-morty-app/README.md
Due: npx prettier --write

add user story 1
  sessions/recap-project-react/part-1/readme.md
  sessions/recap-project-react/part-2/hints.md
Due: npx prettier --write

chore: add wireframes
  sessions/recap-project-react/assets/part-1-1.png
  sessions/recap-project-react/assets/part-2-1.png
  sessions/recap-project-react/assets/part-3-1.png
  sessions/recap-project-react/assets/part-4-1.png
  sessions/recap-project-react/assets/part-5-1.png
  sessions/recap-project-react/assets/part-7-1.png
  sessions/recap-project-react/assets/part-8-1.png
  sessions/recap-project-react/assets/part-9-1.png
  sessions/recap-project-react/assets/wireframe-1.png
  sessions/recap-project-react/assets/wireframe-2.png
  sessions/recap-project-react/assets/wireframe-3.png
  sessions/recap-project-react/assets/wireframe-4.png
  sessions/recap-project-react/assets/wireframe-5.png
  sessions/recap-project-react/assets/wireframe-6.png
  sessions/recap-project-react/assets/wireframe-7.png
  sessions/recap-project-react/assets/wireframe-8.png
Due: none

update image link
  sessions/recap-project-react/part-1/readme.md
Due: npx prettier --write

feat: add user story 2
  sessions/recap-project-react/part-2/readme.md
Due: npx prettier --write

feat: add user story 3
  sessions/recap-project-react/part-3/readme.md
Due: npx prettier --write

feature: add user story 4
  sessions/recap-project-react/part-4/readme.md
Due: npx prettier --write

feature: add user story 5
  sessions/recap-project-react/part-5/readme.md
Due: npx prettier --write

feature: add user story 6
  sessions/recap-project-react/part-6/readme.md
Due: npx prettier --write

feature: add user story 7
  sessions/recap-project-react/part-7/readme.md
Due: npx prettier --write

feature: add user story 8
  sessions/recap-project-react/part-8/readme.md
Due: npx prettier --write

udpate hints part 2
  sessions/recap-project-react/part-2/hints.md
Due: npx prettier --write

feature: udpate hints part 3
  sessions/recap-project-react/part-3/hints.md
Due: npx prettier --write

feature: udpate hints part 4
  sessions/recap-project-react/part-4/hints.md
Due: npx prettier --write

feature: udpate hints part 5
  sessions/recap-project-react/part-5/hints.md
Due: npx prettier --write

feature: udpate hints part 6
  sessions/recap-project-react/part-6/hints.md
Due: npx prettier --write

add id generation hint
  sessions/recap-project-react/part-3/readme.md
Due: npx prettier --write

feature: udpate hints part 7
  sessions/recap-project-react/part-7/hints.md
Due: npx prettier --write

feature: udpate hints part 8
  sessions/recap-project-react/part-8/hints.md
Due: npx prettier --write

update project readme
  sessions/recap-project-react/README.md
Due: npx prettier --write

update starter data in db.js
  sessions/recap-project-react/assets/db.js
Due: npx eslint --fix, npx prettier --write

fix: add gitignore to crud recap starter template
  sessions/recap-project-crud/crud-recap-tourio/.gitignore
Due: none

Bad wording was leading students towards error. (#364)
  sessions/backend-read/products/README.md
Due: npx prettier --write

fix: class name typo
  sessions/react-with-arrays/users/README.md
Due: npx prettier --write

add solution react state 2 colored number
  sessions/react-state-2/colored-number_solution/.eslintrc.json
  sessions/react-state-2/colored-number_solution/.gitignore
  sessions/react-state-2/colored-number_solution/README.md
  sessions/react-state-2/colored-number_solution/bun.lockb
  sessions/react-state-2/colored-number_solution/package-lock.json
  sessions/react-state-2/colored-number_solution/package.json
  sessions/react-state-2/colored-number_solution/public/index.html
  sessions/react-state-2/colored-number_solution/src/App.js
  sessions/react-state-2/colored-number_solution/src/components/ColoredNumber.js
  sessions/react-state-2/colored-number_solution/src/components/Counter.js
  sessions/react-state-2/colored-number_solution/src/index.js
  sessions/react-state-2/colored-number_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react effect and fetch api status
  sessions/react-effects-and-fetch/api-status_solution/.eslintrc.json
  sessions/react-effects-and-fetch/api-status_solution/.gitignore
  sessions/react-effects-and-fetch/api-status_solution/README.md
  sessions/react-effects-and-fetch/api-status_solution/bun.lockb
  sessions/react-effects-and-fetch/api-status_solution/package.json
  sessions/react-effects-and-fetch/api-status_solution/public/index.html
  sessions/react-effects-and-fetch/api-status_solution/src/App.js
  sessions/react-effects-and-fetch/api-status_solution/src/components/StatusCheck/StatusCheck.css
  sessions/react-effects-and-fetch/api-status_solution/src/components/StatusCheck/index.js
  sessions/react-effects-and-fetch/api-status_solution/src/index.js
  sessions/react-effects-and-fetch/api-status_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write

add solution react effect and fetch iss tracker
  sessions/react-effects-and-fetch/iss-tracker_solution/.eslintrc.json
  sessions/react-effects-and-fetch/iss-tracker_solution/.gitignore
  sessions/react-effects-and-fetch/iss-tracker_solution/README.md
  sessions/react-effects-and-fetch/iss-tracker_solution/bun.lockb
  sessions/react-effects-and-fetch/iss-tracker_solution/package.json
  sessions/react-effects-and-fetch/iss-tracker_solution/public/index.html
  sessions/react-effects-and-fetch/iss-tracker_solution/src/App.js
  sessions/react-effects-and-fetch/iss-tracker_solution/src/components/Controls/Controls.css
  sessions/react-effects-and-fetch/iss-tracker_solution/src/components/Controls/index.js
  sessions/react-effects-and-fetch/iss-tracker_solution/src/components/Map/Map.css
  sessions/react-effects-and-fetch/iss-tracker_solution/src/components/Map/index.js
  sessions/react-effects-and-fetch/iss-tracker_solution/src/index.js
  sessions/react-effects-and-fetch/iss-tracker_solution/src/styles.css
Due: npx eslint --fix, npx prettier --write
